<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="search">  

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>

        <!-- /.search form -->
    </ui:define>
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="BidOpeningCheckList.xhtml"><i class="fa fa-circle-o "></i> <span>Bid Opening CheckList</span></a></li> 
        <li><a href="BidSubmissionForm.xhtml"><i class="fa fa-circle-o "></i> <span>Bid Submission Form</span></a></li>
        <li><a href="SupplierPerformanceInformation.xhtml"><i class="fa fa-circle-o "></i> <span>Supplier Performance Information</span></a></li>
        <li><a href="SupplierProfile.xhtml"><i class="fa fa-circle-o "></i> <span>Suppliers Profile</span></a></li>
        <li><a href="SupplierSpecfication.xhtml"><i class="fa fa-circle-o"></i> <span>Supplier Specification</span></a></li> 




    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">

                    <h:panelGroup id="pngBackToSearch" rendered="#{bidderRigstrationController.renderpnlToSearchPage}">
                        <p:commandButton id="cmdBackToSearch" icon="ui-icon-search" style="background-color: white;border-color: white"
                                         action="#{bidderRigstrationController.goBackSearchPageBtnAction()}" 
                                         title="Back to Search"
                                         process="@this"  update="@this,:frmMainUI, :BidSubmissionMain, :frmSample"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <p:commandButton id="btnNew" action="#{bidderRigstrationController.createNewParty()}" icon="#{bidderRigstrationController.icone}" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this"  update="@this,:frmMainUI, :BidSubmissionMain, :frmSample" 
                                     title="#{bidderRigstrationController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>

                    <a href="BidderRegistration.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="RendorPanel" rendered="#{bidderRigstrationController.renderPnlManPage}">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchParty"> 

                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <h:outputLabel class="control-label col-sm-2" value="Bidder No:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPartyName" class="form-control" value="#{bidderRigstrationController.prmsBidderRegistration.bidderNo}"/>
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px"> 

                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton id="btnFind" action="#{bidderRigstrationController.searchBidderReg()}" icon="ui-icon-search" 
                                                                     process="frmSearchParty, @this" update=":frmMainUI:frmParty:tblPartyInfo"
                                                                     value="Find" class="btn btn-primary col-lg-4" />            
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmParty">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblPartyInfo" value="#{bidderRigstrationController.prmsPrmsBidderRegistrationDataModel}" 
                                                                 var="partyInfo" rows="10"  rowIndexVar="no"
                                                                 selection="#{bidderRigstrationController.bidderSelection}"
                                                                 rowKey="#{partyInfo.bidderRegId}"  selectionMode="single" 
                                                                 paginator="true" paginatorPosition="bottom" editable="true">

                                                        <p:ajax event="rowSelect" listener="#{bidderRigstrationController.rowSelect}" 
                                                                update=":BidSubmissionMain,:BidSubmissionMain:checkListInfoPanel,:frmSample,:frmMainUI,:BidSubmissionMain:checklistTbl,:BidSubmissionMain:pnllot" />    
                                                        <p:column headerText="S.No">
                                                            #{no+1}
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Bidder No" />
                                                            </f:facet>
                                                            <h:outputText value="#{partyInfo.bidderNo}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Registared Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{partyInfo.dateRegistered}">
                                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Prepared By" />
                                                            </f:facet>
                                                            <h:outputText value="#{bidderRigstrationController.logerName}"/>
                                                        </p:column>


                                                    </p:dataTable>
                                                </div>                 
                                            </div>    
                                        </div>  
                                    </div>                           
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="BidSubmissionMain">
            <p:growl id="growl1"  autoUpdate="true"   showDetail="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{bidderRigstrationController.renderPnlCreateServiceRegistration}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bidder Registration</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup style="border: 0px; background-color: transparent" id="checkListInfoPanel" >
                                    <div class="form-horizontal  col-sm-12">
                                        <h:panelGroup style="border: 0px; background-color: transparent" rendered="#{bidderRigstrationController.renderMarketTable}" id="pnlbid"  >

                                            <div class="form-group textBoxMarginTop6px"> 
                                                <h:outputLabel id="lblmarketAssid" class="control-label col-sm-2"   value="Bidder No:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText   id="txtmarketAssid"  readonly="true" class="form-control"
                                                                   value="#{bidderRigstrationController.generateBidderRegistNo()}"/>

                                                </div>

                                                <h:outputLabel id="lblRigisteredDateee" class="control-label col-sm-2" value="Registared Date:"/>
                                                <div class="col-sm-3">                                   
                                                    <p:calendar id="txtRigstration" required="true" mindate="today" maxdate="today" readonlyInput="true"   requiredMessage="Registered Date is required"           
                                                                value="#{bidderRigstrationController.prmsBidderRegistration.dateRegistered}"                   
                                                                pattern="dd/MM/yyyy" tabindex="4">

                                                    </p:calendar>
                                                    <p:message display="icon" for="txtRigstration" />
                                                </div>
                                            </div>
                                        </h:panelGroup>
                                        <h:panelGroup style="border: 0px; background-color: transparent" rendered="#{bidderRigstrationController.renderMarketTable}" id="prtypes"  >
                                            <div class="form-group textBoxMarginTop6px required">
                                                <h:outputLabel class="control-label col-sm-2" value="Bidder Types:"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneRadio style="width: 100%"  required="true" requiredMessage="Bidder Types is required"
                                                                      value="#{bidderRigstrationController.prmsBidderRegistration.bidderType}"
                                                                      valueChangeListener="#{bidderRigstrationController.handleSectionType}"  id="txtprtype" >
                                                        <f:selectItem itemLabel="Direct Offer" itemValue="Direct Offer" />
                                                        <f:selectItem itemLabel="Bid Document Sale" itemValue="Bid Document Sale" />
                                                        <p:ajax process="@this"  event="change" update=":BidSubmissionMain"/>

                                                    </p:selectOneRadio>
                                                </div>
                                                <h:outputLabel id="lblOpeningDate" class="control-label col-sm-2" value="Bid Opening Date:"/>
                                                <div class="col-sm-3">                                   
                                                    <p:calendar id="txtBidOpeningDate"  disabled="true"                   
                                                                value="#{bidderRigstrationController.prmsBid.bidOpenDateTime}"  readonly="true"                  
                                                                pattern="MM/dd/yyyy" tabindex="4">
                                                        <f:convertDateTime pattern="MM/dd/yyyy" />

                                                    </p:calendar>
                                                </div>
                                            </div>
                                        </h:panelGroup>

                                        <h:panelGroup style="border: 0px; background-color: transparent"  id="pnlForBidDocSale"  rendered="#{bidderRigstrationController.bidDocumentBid}">
                                            <div class="form-group textBoxMarginTop6px required">
                                                <h:outputLabel id="lblBidDocumentSale"   class="control-label col-sm-2" value="Bid No:"  />
                                                <div class="col-sm-3"> 
                                                    <p:selectOneMenu id="txtBidDocumentSale" style="width: 100%" required="true"   requiredMessage="Bid Number is required"
                                                                     value="#{bidderRigstrationController.prmsBid}"
                                                                     converter="entConverter"
                                                                     valueChangeListener ="#{bidderRigstrationController.changeEventSuppCode}">

                                                        <f:selectItems value="#{bidderRigstrationController.bidReferenceNoFromBidSale()}"  var="openingBid" itemLabel="#{openingBid}"  />              
                                                        <p:ajax event="change" process="@this" update="txtfeeForDoc,txtBidClosingDate,txtProcurmentDocum,txtBidderName,txtProjectForDoc,txtProcurmnetType"  />

                                                    </p:selectOneMenu>  
                                                    <p:message display="icon" for="txtBidDocumentSale" />

                                                </div>
                                                <h:outputLabel id="lblBidClosingDate" class="control-label col-sm-2" value="Bid closing Date:"/>
                                                <div class="col-sm-3">                                   
                                                    <p:calendar id="txtBidClosingDate" disabled="true"                         
                                                                value="#{bidderRigstrationController.prmsBid.bidCloseDateTime}"   readonly="true"  
                                                                pattern="dd/MM/yyyy" tabindex="4">
                                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                                    </p:calendar>

                                                </div>

                                            </div>

                                            <div class="form-group textBoxMarginTop6px"> 
                                                <h:outputLabel id="lblProjectNameForDoc"  class="control-label col-sm-2" value="Project Name/Work Unit:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText  id="txtProjectForDoc" value="#{bidderRigstrationController.prmsBid.bidBondPrice}" />
                                                </div>
                                                <h:outputLabel id="lblProcurmentMetd"  class="control-label col-sm-2" value="Procurment Method:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtProcurmentDocum" disabled="true"  

                                                                 value="#{bidderRigstrationController.prmsBid.purchaseMethd}" />

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px"> 

                                                <h:outputLabel class="control-label col-sm-2" value="Amount Of Bid Fee :" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtfeeForDoc" value="#{bidderRigstrationController.prmsBid.bidDocPrice}" readonly="true" class="form-control"  />

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="Procurment Type :" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtProcurmnetType" value="#{bidderRigstrationController.prmsBid.bidType}" readonly="true" class="form-control"  />

                                                </div>

                                            </div>



                                        </h:panelGroup>


                                        <h:panelGroup style="border: 0px; background-color: transparent" id="pnlForDirectOffer" rendered="#{bidderRigstrationController.directOfferBid}">
                                            <div class="form-group textBoxMarginTop6px required"> 
                                                <h:outputLabel id="lblgoodsBidNo"   class="control-label col-sm-2" value="Bid No:"  />
                                                <div class="col-sm-3"> 
                                                    <p:selectOneMenu id="txtendUser" style="width: 100%" required="true"   requiredMessage="Bid Number is required"
                                                                     value="#{bidderRigstrationController.prmsBid}"  converter="entConverter"
                                                                     valueChangeListener="#{bidderRigstrationController.BidDateGetter}">

                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                        <f:selectItems value="#{bidderRigstrationController.prmsBids}" var="restrictedBid"  />
                                                        <p:ajax event="change" process="@this" update="txtcalclosingDate,txtProjectName,txtProcurmentMethod,Lotnumber,txtProcurmnetTypeforDire,BidSubmissionMain:pnldirectOffer"/>
                                                    </p:selectOneMenu>  
                                                    <p:message display="icon" for="txtendUser" />
                                                </div>
                                                <div class="form-group textBoxMarginTop6px"> 
                                                    <h:outputLabel id="lblclosingDate" class="control-label col-sm-2" value="Bid closing Date:"/>
                                                    <div class="col-sm-3">                                   
                                                        <p:calendar id="txtcalclosingDate" disabled="true"                         
                                                                    value="#{bidderRigstrationController.prmsBid.bidCloseDateTime}"   readonly="true"  
                                                                    pattern="dd/MM/yyyy" tabindex="4">
                                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                                        </p:calendar>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group textBoxMarginTop6px"> 
                                                <h:outputLabel id="lblProjectName"  class="control-label col-sm-2" 
                                                               value="Project Name/Work Unit:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtProjectName" value="#{bidderRigstrationController.prmsBid.bidBondPrice}" />
                                                    <p:message display="icon" for="txtProjectName"/>
                                                </div>
                                                <h:outputLabel id="lblProcurmentMethod"  class="control-label col-sm-2" value="Procurment Method:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtProcurmentMethod"   disabled="true"

                                                                 value="#{bidderRigstrationController.prmsBid.purchaseMethd}" class="form-control"  />
                                                    <p:message display="icon" for="txtProcurmentMethod"/>
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Procurment Type :" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtProcurmnetTypeforDire" value="#{bidderRigstrationController.prmsBid.bidType}" class="form-control"  readonly="true" />

                                                </div></div>




                                        </h:panelGroup>


                                    </div>
                                </h:panelGroup>


                            </div>
                        </div>
                    </div>
                </div>


                <h:panelGroup style="border: 0px; background-color: transparent" id="pnldirectOffer"  rendered="#{bidderRigstrationController.chooselocalreader}"   >
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bidder Detail</h3>
                        </div>
                        <div class="box-body">
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <div class="panel-body">

                                        <div class="form-horizontal col-sm-12">   

                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Bidder Name:" />
                                                <div class="col-sm-3"> 
                                                    <p:selectOneMenu id="txtbiddingCompany" style="width: 100%" required="true" converter="entConverter"  requiredMessage="Bidder name is required" 
                                                                     value="#{bidderRigstrationController.prmsSupplyProfile}"  

                                                                     valueChangeListener="#{bidderRigstrationController.getSupplierName}">
                                                        <f:selectItem itemLabel="--- Select One ---" />
                                                        <f:selectItems value="#{bidderRigstrationController.prmsSupplyProfilLst}" var="vendor" itemLabel="#{vendor.vendorName}" />
                                                        <p:ajax event="change" process="@this" update="txtTelPnoneno,txtMobile,txtPoBox,txtEmaill,txtFax,txtCountry,txtAgentName"/>
                                                    </p:selectOneMenu> 

                                                    <p:message display="icon" for="txtbiddingCompany" />
                                                </div>



                                                <h:outputLabel class="control-label col-sm-2" id="lblaggent"  value="Agent Name:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtAgentName" required="true" value="#{bidderRigstrationController.prmsSupplyProfile.agentName}" readonly="true" class="form-control"/>

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Tel No:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtTelPnoneno" value="#{bidderRigstrationController.prmsSupplyProfile.telOffice}" readonly="true" class="form-control"/>

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="Mobile No:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtMobile" value="#{bidderRigstrationController.prmsSupplyProfile.telMobile}" readonly="true" class="form-control"/>

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Po.Box:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPoBox" value="#{bidderRigstrationController.prmsSupplyProfile.pobox}" readonly="true" class="form-control"/>

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="Email:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtEmaill" value="#{bidderRigstrationController.prmsSupplyProfile.email}" readonly="true" class="form-control"/>

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Fax:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtFax" value="#{bidderRigstrationController.prmsSupplyProfile.fax}" readonly="true" class="form-control"/>

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="Country:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtCountry" value="#{bidderRigstrationController.prmsSupplyProfile.countryId}" readonly="true" class="form-control"/>

                                                </div>
                                            </div>

                                            <div class="form-group textBoxMarginTop6px required">
                                                <h:outputLabel class="control-label col-sm-2" value="Date:"/>
                                                <div class="col-sm-3">                                   
                                                    <p:calendar id="calProcDatee"   required="true"   requiredMessage="Date is required"                  
                                                                value="#{bidderRigstrationController.prmsBidderRegDetail.dateSub}"                    
                                                                pattern="yyyy/MM/dd" tabindex="4" mindate="today">

                                                    </p:calendar>
                                                    <p:message display="icon" for="calProcDatee"/>
                                                </div>


                                                <h:outputLabel id="lblTime" class="control-label col-sm-2" value="Time:"/>
                                                <div class="col-sm-3">                                   
                                                    <p:calendar id="txttime"   required="true"  requiredMessage="Time is required"                  
                                                                value="#{bidderRigstrationController.prmsBidderRegDetail.timeSub }"                    
                                                                pattern="HH:mm" tabindex="4"  timeOnly="true" 
                                                                > 
                                                    </p:calendar>
                                                    <p:message display="icon" for="txttime"/>
                                                </div>
                                            </div>
                                            <h:panelGroup style="border: 0px; background-color: transparent" id="pnllot" rendered="#{bidderRigstrationController.renderBidlot}">
                                                <div class="form-group textBoxMarginTop6px">
                                                    <h:outputLabel class="control-label col-sm-2" value="Lot No:" />
                                                    <div class="col-sm-3">
                                                        <p:panel  id="Lotnumber" 
                                                                  style="border-color: #163758;background-color: white;overflow: auto;border-style: outset;height: 100px" >
                                                            <p:selectManyCheckbox  id="txtLotNumber" value="#{bidderRigstrationController.selectedLotName}"  style="overflow: auto" layout="grid" columns="1" >

                                                                <f:selectItems value="#{bidderRigstrationController.prmsBidDetailsList}" var="eee" itemLabel="#{eee.lotName}" itemValue="#{eee.lotName}"
                                                                               >
                                                                </f:selectItems>
                                                            </p:selectManyCheckbox>
                                                        </p:panel>
                                                    </div>
                                                </div>
                                            </h:panelGroup>


                                            <div class="form-group textBoxMarginTop6px"> 

                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton id="btnAdd" action="#{bidderRigstrationController.addBidderDetForDirect()}" icon="ui-icon-add" validateClient="true" 
                                                                     process="@this,pnldirectOffer" update="checklistTbl,pnldirectOffer" class="btn btn-primary col-lg-4"
                                                                     value="#{bidderRigstrationController.addOrModifyBundle}" />   
                                                </div>
                                            </div>
                                        </div>


                                        <h:panelGroup style="border: 0px; background-color: transparent" id="checklistTbl"  rendered="#{bidderRigstrationController.chooselocalreader}"   >
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group">                                        
                                                    <div class="col-sm-12">
                                                        <p:dataTable id="submissionDt" value="#{bidderRigstrationController.prmsprmsBidderRegDetailmodel}" rowIndexVar="rowContact" var="direct"
                                                                     paginator="true" paginatorPosition="bottom" editable="true">
                                                            <p:ajax event="rowEdit" listener="#{bidderRigstrationController.onContactRowEdit}" update="submissionDt" />
                                                            <p:ajax event="rowEditCancel" listener="#{bidderRigstrationController.onContactRowCancel}" update="submissionDt" />
                                                            <p:column headerText="No">
                                                                #{rowContact+1}
                                                            </p:column>
                                                            <p:column headerText="Bidding Company">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.suppId}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="BiddingCompany" value="#{direct.suppId}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>

                                                            <p:column headerText="Tel No">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.suppId.telOffice}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="telNumber" value="#{direct.suppId.telOffice}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>

                                                            </p:column>
                                                            <p:column headerText="Mobile No">

                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.suppId.telMobile}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="mobileNumber" value="#{direct.suppId.telMobile}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Po.Box">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.suppId.pobox}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="poBoxNumber" value="#{direct.suppId.pobox}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Email">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.suppId.email}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="email" value="#{direct.suppId.email}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Fax">

                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.suppId.fax}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="faxno" value="#{direct.suppId.fax}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Agent Name">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.suppId.agentName}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="agentName" value="#{direct.suppId.agentName}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Country">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.suppId.countryId}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="Country" value="#{direct.suppId.countryId}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Date">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.dateSub}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="DAte" value="#{direct.dateSub}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Time">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.timeSub}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="time" value="#{direct.timeSub}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Lot No"  rendered="#{bidderRigstrationController.renderBidlot}">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{direct.lotName}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="lotName" value="#{direct.lotName}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Option"> 
                                                                <p:commandLink action="#{bidderRigstrationController.editBidOfferDataTbl()}" value="Edit" 
                                                                               process="@this,submissionDt" update="@this,:BidSubmissionMain:pnldirectOffer"/>
                                                            </p:column>
                                                        </p:dataTable>
                                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" style="position: top;">
                                                            <p:commandButton id="btnYes" value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                            <p:commandButton  id="btnNo" value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                        </p:confirmDialog>
                                                    </div>
                                                </div>

                                                <div class="form-group">   
                                                    <p:outputLabel id="lblPreparee"  class="control-label col-sm-2" value="Prepared By:"/>
                                                    <div class="col-sm-3">
                                                        <p:inputText id="txtPreparee" class="form-control"  

                                                                     value="#{bidderRigstrationController.workFlow.userName}" disabled="true"/>

                                                    </div>
                                                </div>

                                                <h:panelGroup style="border: 0px; background-color: transparent" id="pnlforDirectOffer" rendered="#{bidderRigstrationController.chooselocalreader}"   >
                                                    <div class="form-group textBoxMarginTop6px "> 
                                                        <div class="col-lg-2" />
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnSave1"  value="#{bidderRigstrationController.saveorUpdateBundle}" icon="ui-icon-new" validateClient="true"    
                                                                             class="btn btn-primary col-lg-4" 
                                                                             process="@this,BidSubmissionMain:checklistTbl,BidSubmissionMain:checkListInfoPanel"  
                                                                             update="checklistTbl, checkListInfoPanel,BidSubmissionMain:checklistTbl,BidSubmissionMain:checkListInfoPanel"  action="#{bidderRigstrationController.saveForDirectOfferBidderRegist()}" />
                                                        </div>
                                                    </div>
                                                </h:panelGroup>
                                            </div>
                                        </h:panelGroup>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>








                <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDocSaledetail" rendered="#{bidderRigstrationController.chooseselecttOption}"   >                   
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bidder Detail</h3>
                        </div>
                        <div class="box-body">
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <div class="panel-body">

                                        <div class="form-horizontal col-sm-12">   
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Bidder Name:" />
                                                <div class="col-sm-3"> 
                                                    <p:selectOneMenu id="txtBidderName" style="width: 100%" required="true" converter="entConverter"  requiredMessage="value is required"
                                                                     value="#{bidderRigstrationController.prmsSupplyProfile}"  
                                                                     valueChangeListener="#{bidderRigstrationController.getService}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems value="#{bidderRigstrationController.prmsSupplyProfilLst}" var="bidderSale"/>
                                                        <p:ajax event="change"  update="txtDocTelPnoneno,txtDocEmaill,txtDocMobile,txtreceipt,txtDocAgentNamee,txtDocPoBox,txtDocFax,txtDocCountry"/>
                                                    </p:selectOneMenu> 

                                                    <p:message display="icon" for="txtBidderName" />
                                                </div>

                                                <h:outputLabel class="control-label col-sm-2" value="Agent Name:*" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtDocAgentNamee" value="#{bidderRigstrationController.prmsSupplyProfile.agentName}" readonly="true" />

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Tel No:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtDocTelPnoneno" value="#{bidderRigstrationController.prmsSupplyProfile.telOffice}" readonly="true" />

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="Mobile No:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtDocMobile" value="#{bidderRigstrationController.prmsSupplyProfile.telMobile}" readonly="true" />

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Po.Box:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtDocPoBox" value="#{bidderRigstrationController.prmsSupplyProfile.pobox}" readonly="true" />

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="Email:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtDocEmaill" value="#{bidderRigstrationController.prmsSupplyProfile.email}" readonly="true" />

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Fax:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtDocFax" value="#{bidderRigstrationController.prmsSupplyProfile.fax}" readonly="true" />

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="Country:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtDocCountry" value="#{bidderRigstrationController.prmsSupplyProfile.countryId}" readonly="true" />

                                                </div>
                                            </div>

                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Date:*"/>
                                                <div class="col-sm-3">                                   
                                                    <p:calendar id="DocProcDatee"   required="true"  readonlyInput="true"   requiredMessage="value is required"                   
                                                                value="#{bidderRigstrationController.prmsBidderRegDetail.dateSub}"                    
                                                                pattern="dd/MM/yyyy" tabindex="4">

                                                    </p:calendar>
                                                    <p:message display="icon" for="DocProcDatee"/>
                                                </div>


                                                <h:outputLabel id="lblDocTime" class="control-label col-sm-2" value="Time:*"/>
                                                <div class="col-sm-3">                                   
                                                    <p:calendar id="txtDocProcDateetime"   required="true"   readonlyInput="true"   requiredMessage="value is required"                 
                                                                value="#{bidderRigstrationController.prmsBidderRegDetail.timeSub }"                    
                                                                pattern="HH:mm" tabindex="4"  timeOnly="true" > 
                                                    </p:calendar>
                                                    <p:message display="icon" for="txtDocProcDateetime"/>
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Receipt:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtreceipt" value="#{bidderRigstrationController.fmsCashReceiptVoucher1.fmsVOUCHERID}" readonly="true" />

                                                </div>

                                            </div>



                                            <div class="form-group textBoxMarginTop6px"> 

                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton id="btnAdd1" action="#{bidderRigstrationController.addBidderDetail()}" icon="ui-icon-add" validateClient="true" 
                                                                     process="@this,pnlDocSaledetail" update=":BidSubmissionMain:pnldocSale, pnlDocSaledetail" class="btn btn-primary col-lg-4"
                                                                     value="Add" />   
                                                </div>
                                            </div>
                                        </div>


                                        <h:panelGroup style="border: 0px; background-color: transparent" id="pnldocSale" rendered="#{bidderRigstrationController.chooseselecttOption}"   >                   


                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group">                                        
                                                    <div class="col-sm-12">
                                                        <p:dataTable id="DocsubmissionDt" value="#{bidderRigstrationController.prmsprmsBidderRegDetailmodel}" rowIndexVar="rowContact" var="bidSale"
                                                                     paginator="true" paginatorPosition="bottom" editable="true">
                                                            <p:ajax event="rowEdit" listener="#{bidderRigstrationController.onContactRowEdit}" update="DocsubmissionDt" />
                                                            <p:ajax event="rowEditCancel" listener="#{bidderRigstrationController.onContactRowCancel}" update="DocsubmissionDt" />
                                                            <p:column headerText="No">
                                                                #{rowContact+1}
                                                            </p:column>
                                                            <p:column headerText="Bidding Company">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.suppId.vendorName}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="DocCompany" value="#{bidSale.suppId.vendorName}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>

                                                            <p:column headerText="Tel No">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.suppId.telOffice}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="DoctelNo" value="#{bidSale.suppId.telOffice}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Mobile No">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.suppId.telMobile}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="DocMobile" value="#{bidSale.suppId.telMobile}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Po.Box">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.suppId.pobox}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="DocPoBox" value="#{bidSale.suppId.pobox}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Email">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.suppId.email}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="DocEmail" value="#{bidSale.suppId.email}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Fax">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.suppId.fax}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="DocFax" value="#{bidSale.suppId.fax}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Country">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.suppId.countryId}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="DocCountry" value="#{bidSale.suppId.countryId}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Date">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.dateSub}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="DocDAte" value="#{bidSale.dateSub}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Time">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.timeSub}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="Doctime" value="#{bidSale.timeSub}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>
                                                            <p:column headerText="Receipt">
                                                                <p:cellEditor>
                                                                    <f:facet name="output"><h:outputText value="#{bidSale.bidSaleId.fmsVOUCHERID}" /></f:facet>
                                                                    <f:facet name="input"><p:inputText id="Receipt" value="#{bidSale.bidSaleId.fmsVOUCHERID}" style="width:100%"/></f:facet>
                                                                </p:cellEditor>
                                                            </p:column>

                                                            <p:column headerText="Option"> 
                                                                <p:commandLink action="#{bidderRigstrationController.editBidsaleDataTbl()}" value="Edit" 
                                                                               process="@this,DocsubmissionDt" update="@this,:BidSubmissionMain:pnlDocSaledetail"/>
                                                            </p:column>
                                                        </p:dataTable>
                                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" style="position: top;">
                                                            <p:commandButton id="btnYes1" value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                            <p:commandButton id="btnNo1"  value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                        </p:confirmDialog>
                                                    </div>
                                                </div>

                                                <div class="form-group">   
                                                    <p:outputLabel id="lblPrepare"  class="control-label col-sm-2" value="Prepared By:"/>
                                                    <div class="col-sm-3">
                                                        <p:inputText id="txtPrepare" class="form-control"  

                                                                     value="#{bidderRigstrationController.workFlow.userName}" disabled="true"/>

                                                    </div>
                                                </div>





                                                <h:panelGroup style="border: 0px; background-color: transparent" id="pnlforDocumentSale" rendered="#{bidderRigstrationController.chooseselecttOption}"   >
                                                    <div class="form-group textBoxMarginTop6px "> 
                                                        <div class="col-lg-2" />
                                                        <div class="col-sm-3">

                                                            <p:commandButton id="btnSave"    value="#{bidderRigstrationController.saveorUpdateBundle}" icon="ui-icon-new" validateClient="true"    
                                                                             class="btn btn-primary col-lg-4" 
                                                                             process="@this,BidSubmissionMain:pnldocSale,BidSubmissionMain:checkListInfoPanel"  
                                                                             update="checkListInfoPanel, pnldocSale"  action="#{bidderRigstrationController.saveForDirectOfferBidderRegist()}" />


                                                        </div>
                                                    </div>
                                                </h:panelGroup>
                                            </div>
                                        </h:panelGroup>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>

            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>          

