<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard "></i> <span> Dashboard</span></a></li>
        <li><a href="BidOpeningCheckList.xhtml"><i class="fa fa-circle-o "></i> <span>Bid Opening CheckList</span></a></li> 
        <li><a href="BidSubmissionForm.xhtml"><i class="fa fa-circle-o "></i> <span>Bid Submission Form</span></a></li> 
        <li><a href="BidderRegistration.xhtml"><i class="fa fa-circle-o"></i> <span>Bidder Registration</span></a></li> 
        <li><a href="SupplierPerformanceInformation.xhtml"><i class="fa fa-circle-o "></i> <span>Supplier Performance Information</span></a></li>
        <li><a href="SupplierProfile.xhtml"><i class="fa fa-circle-o "></i> <span>Suppliers Profile</span></a></li>
        <li><a href="SupplierSpecfication.xhtml"><i class="fa fa-circle-o"></i> <span>Supplier Specification</span></a></li> 
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSupplierNewCreat"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    
                    <h:panelGroup id="pngBackToSearch" rendered="#{vendorRegController.renderpnlToSearchPage}">
                        <p:commandButton id="cmdBackToSearch" icon="ui-icon-search" style="background-color: white;border-color: white"
                                         action="#{vendorRegController.goBackSearchPageBtnAction()}" 
                                         title="Back to Search"
                                          process="@this" update="@this, :frmMainUI, :mainForm, :frmSupplierNewCreat"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>

                    <p:commandButton id="btnNew" action="#{vendorRegController.createNewParty()}" icon="#{vendorRegController.icone}" validateClient="true" 
                                     process="@this" update="@this, :frmMainUI, :mainForm, :frmSupplierNewCreat" style="background-color: white"
                                     title="#{vendorRegController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/SupplierInformation/SupplierProfile.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>

            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{vendorRegController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchmarket"> 

                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="col-sm-6" >
                                                <div class="form-group"> 
                                                    <h:outputLabel class="control-label col-sm-4" value="Profile No:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="marketAssmntNo" value="#{vendorRegController.eepVendorReg.vendorCode}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group"> 
                                                    <div class="col-lg-4"></div>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnFind" icon="ui-icon-search" action="#{vendorRegController.searchBySupplProfCode()}"
                                                                         process="@this,frmSearchmarket" update=":frmMainUI:frmmarket" class="btn btn-primary"
                                                                         value="Find" style="font-family: monospace; font-style: normal; font-weight: normal; left: 0px;"/>            

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmmarket">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblmrktNo"  var="suppTbale" rows="5" value="#{vendorRegController.prmsSupplyProfileMdel}"
                                                                 paginator="true" paginatorPosition="bottom" editable="true"
                                                                 selection="#{vendorRegController.selectSupplyProfile}"
                                                                 selectionMode="single"  rowKey="#{suppTbale.id}">
                                                        <p:ajax event="rowSelect" listener="#{vendorRegController.rowSelect}"
                                                                update=":mainForm, :frmMainUI, :frmSupplierNewCreat" />                 
                                                        <p:column filterBy="#{suppTbale.vendorCode}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Profile No"/>
                                                            </f:facet>
                                                            <h:outputText value="#{suppTbale.vendorCode}"/>
                                                        </p:column>
                                                        <p:column filterBy="#{suppTbale.profileFor}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Profile">

                                                                </h:outputText>
                                                            </f:facet>
                                                            <h:outputText value="#{suppTbale.profileFor}"/>
                                                        </p:column>
                                                        <p:column filterBy="#{suppTbale.vendorName}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Name" />
                                                            </f:facet>
                                                            <h:outputText value="#{suppTbale.vendorName}"/>
                                                        </p:column>
                                                        <p:column filterBy="#{suppTbale.countryId}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Country" />
                                                            </f:facet>
                                                            <h:outputText value="#{suppTbale.countryId}" />
                                                        </p:column>

                                                        <p:column filterBy="#{suppTbale.telMobile}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Mobile" />
                                                            </f:facet>
                                                            <h:outputText value="#{suppTbale.telMobile}"/>
                                                        </p:column>

                                                    </p:dataTable>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>

                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form  id="mainForm" class="form-horizontal"> 
            <p:growl id="growl2" showDetail="true" severity="information" autoUpdate="true"/>              
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI1" rendered="#{vendorRegController.renderPnlCreateParty}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-info ">
                            <div class="box-header">
                                <h3 class="box-title">Supplier, Contractor and Consultant Registration</h3>                       
                            </div>
                            <!-- /.box-header -->


                            <div class="box-body ">
                                <div class="box-body ">
                                    <div class="form-group col-sm-12" id="vendorDv">
                                        <div class=" col-sm-6">

                                            <h:panelGroup style="border: 0px; background-color: transparent" id="purchaseType">
                                                <div class="form-group col-sm-12 textBoxMargin6px">
                                                    <p:outputLabel class="control-label col-sm-4" value="Profile For :"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneRadio id="txtplanType" style="width: 100%"  required="true" value="#{vendorRegController.eepVendorReg.profileFor}"
                                                                          valueChangeListener="#{vendorRegController.profile_vlc}" disabled="#{vendorRegController.disablerbtn}">                                                      <f:selectItem itemLabel="Supplier" itemValue="Supplier" />
                                                            <f:selectItem itemLabel="Contractor" itemValue="Contractor" />
                                                            <f:selectItem itemLabel="Consultant" itemValue="Consultant" />
                                                            <p:ajax process="@this" event="change" update="mainForm"/>
                                                        </p:selectOneRadio>
                                                        <p:message display="icon" for="txtplanType"/>
                                                    </div>
                                                </div>
                                            </h:panelGroup>



                                            <h:panelGroup id="pnl1" class="col-sm-14" rendered="#{vendorRegController.renderSupplier}">

                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblSupCode" class="control-label col-sm-4"  value="Supplier No:"
                                                                   />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtSupCode"  readonly="true" 
                                                                     value="#{vendorRegController.generateSuppProNo()}"/>
                                                    </div>
                                                </div> 
                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblSupName" class="control-label col-sm-4" for="txtSupName" value="Supplier Name:"
                                                                   />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtSupName"  value="#{vendorRegController.eepVendorReg.vendorName}" 
                                                                     class="form-control"/>
                                                        <p:message for="txtSupName" class="control-label col-sm-1" display="icon" />
                                                    </div>
                                                </div> 


                                                <div class="form-group col-sm-12  textBoxMargin6px required">
                                                    <p:outputLabel id="lblSupCount" class="control-label col-sm-4"  value="Supplier Place:" 
                                                                   />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="SupCount" style="width: 100%" value="#{vendorRegController.eepVendorReg.vendorType}" 
                                                                         valueChangeListener="#{vendorRegController.Local}" required="true" requiredMessage="Vendor type is required">
                                                            <f:selectItem itemLabel="--Select One--" />
                                                            <f:selectItem itemLabel="Foreign" itemValue="Foreign" />
                                                            <f:selectItem itemLabel="Local" itemValue="Local" />
                                                            <p:ajax event="change" process="@this" update="agent,vats"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="SupCount" display="icon"/>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblSupType" class="control-label col-sm-4"  value="Supplier Type:"
                                                                   />
                                                    <div class=" col-sm-8">
                                                        <p:selectOneMenu id="SupType" style="width: 100%" value="#{vendorRegController.eepVendorReg.vendInfo}"  
                                                                         valueChangeListener="#{vendorRegController.Others}">
                                                            <f:selectItem itemLabel="--Select One--" />
                                                            <f:selectItem itemLabel="Distributors" itemValue="Distributers" />
                                                            <f:selectItem itemLabel="Whole Sellers" itemValue="whole Sellers" />
                                                            <f:selectItem itemLabel="Manufactures" itemValue="Manufactures" />
                                                            <f:selectItem itemLabel="Agent" itemValue="Agent" />
                                                            <f:selectItem itemLabel="Retailer" itemValue="Retailer" />
                                                            <f:selectItem itemLabel="Others" itemValue="Others" />
                                                            <p:ajax event="change" process="@this" update="OhtersRemarks"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="SupType" class="control-label col-sm-1" />
                                                    </div>
                                                </div>


                                            </h:panelGroup>



                                            <h:panelGroup id="pnl2" class="col-sm-14" rendered="#{vendorRegController.renderContractor}">





                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblContrCode" class="control-label col-sm-4"  value="Contractor No:"
                                                                   />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtContrCode" class="form-control" readonly="true" 
                                                                     value="#{vendorRegController.generateSuppProNo()}"
                                                                     />
                                                    </div>
                                                </div> 

                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblContrName" class="control-label col-sm-4" for="txtContrName" value="Contractor Name:"
                                                                   />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtContrName"  value="#{vendorRegController.eepVendorReg.vendorName}" 
                                                                     validator="#{validatorManagedBean.Text}" class="form-control"
                                                                     />
                                                        <p:message for="txtContrName" class="control-label col-sm-1" display="icon" />
                                                    </div>
                                                </div> 
                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblContrCount" class="control-label col-sm-4"  value="Contractor Place:" 
                                                                   />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="ContrCount" style="width: 100%" value="#{vendorRegController.eepVendorReg.vendorType}" 
                                                                         valueChangeListener="#{vendorRegController.Local}">
                                                            <f:selectItem itemLabel="--Select One--" />
                                                            <f:selectItem itemLabel="Foreign" itemValue="foreign" />
                                                            <f:selectItem itemLabel="Local" itemValue="local" />
                                                            <p:ajax event="change" process="@this" update="agent,vats"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="ContrCount" class="control-label col-sm-1" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblContrType" class="control-label col-sm-4"  value="Contractor Type:"/>
                                                    <div class=" col-sm-8">
                                                        <p:selectOneMenu id="ContrType" style="width: 100%" value="#{vendorRegController.eepVendorReg.vendInfo}"
                                                                         valueChangeListener="#{vendorRegController.Others}">
                                                            <f:selectItem itemLabel="--Select One--" />
                                                            <f:selectItem itemLabel="Contractor" itemValue="Contractor" />
                                                            <f:selectItem itemLabel="Others" itemValue="Others" /> 
                                                            <p:ajax event="change" process="@this" update="OhtersRemarks"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                </div>


                                            </h:panelGroup>


                                            <h:panelGroup id="pnl3" class="col-sm-14" rendered="#{vendorRegController.renderConsultant}">

                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblConsCode" class="control-label col-sm-4"  value="Consultant No:"
                                                                   />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtConsCode" class="form-control" readonly="true" 
                                                                     value="#{vendorRegController.generateSuppProNo()}"
                                                                     />
                                                    </div>
                                                </div> 

                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblConsName" class="control-label col-sm-4" for="txtConsName" value="Consultant Name:"
                                                                   />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtConsName"  value="#{vendorRegController.eepVendorReg.vendorName}" 
                                                                     validator="#{validatorManagedBean.Text}" class="form-control"
                                                                     />
                                                        <p:message for="txtConsName" class="control-label col-sm-1" display="icon" />
                                                    </div>
                                                </div> 
                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblConstrCount" class="control-label col-sm-4"  value="Consultant Place:" 
                                                                   />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="ConsCount" style="width: 100%" value="#{vendorRegController.eepVendorReg.vendorType}" 
                                                                         valueChangeListener="#{vendorRegController.Local}">
                                                            <f:selectItem itemLabel="--Select One--" />
                                                            <f:selectItem itemLabel="Foreign" itemValue="foreign" />
                                                            <f:selectItem itemLabel="Local" itemValue="local" />
                                                            <p:ajax event="change" process="@this" update="agent,vats"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="ConsCount" class="control-label col-sm-1" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblConsType" class="control-label col-sm-4"  value="Consultant Type:"
                                                                   />
                                                    <div class=" col-sm-8">
                                                        <p:selectOneMenu id="ConsType" style="width: 100%" value="#{vendorRegController.eepVendorReg.vendInfo}"  
                                                                         valueChangeListener="#{vendorRegController.Others}">
                                                            <f:selectItem itemLabel="--Select One--" />
                                                            <f:selectItem itemLabel="QCBS" itemValue="QCBS" />
                                                            <f:selectItem itemLabel="QBS" itemValue="QBS" />
                                                            <f:selectItem itemLabel="LCS" itemValue="LCS" />
                                                            <f:selectItem itemLabel="SSS" itemValue="SSS" />
                                                            <f:selectItem itemLabel="Others" itemValue="Others" />
                                                            <p:ajax event="change" process="@this" update="OhtersRemarks"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="ConsType" class="control-label col-sm-1" />
                                                    </div>
                                                </div>


                                            </h:panelGroup>

                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblBusiSect" class="control-label col-sm-4" for="txtBusiSect" value="Business Sector:"
                                                               />
                                                <div class="col-sm-8">
                                                    <p:inputTextarea id="txtBusiSect"  value="#{vendorRegController.eepVendorReg.busiSector}" autoResize="false"
                                                                     class="form-control"/>
                                                </div>
                                            </div> 
                                            <h:panelGroup id="vats">
                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblvatType" class="control-label col-sm-4"  value="Tax Type:" rendered="#{vendorRegController.renderVat}"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="VatType" style="width: 100%" value="#{vendorRegController.prmsLuVatTypeLookup}" 
                                                                         converter="entConverter" rendered="#{vendorRegController.renderVat}">
                                                            <f:selectItem itemLabel="---Select One---" itemValue=""/> 
                                                            <f:selectItems value="#{vendorRegController.prmsLuVatTypeLookupList}" 
                                                                           var="vatType" itemLabel="#{vatType.vatType}" itemValue="#{vatType}"/>
                                                        </p:selectOneMenu>

                                                    </div>
                                                </div>


                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblvatNo" class="control-label col-sm-4"  value="VAT Number:"  rendered="#{vendorRegController.renderVat}" />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtvatNo"  requiredMessage="Pls Enter Vat Number" required="true"
                                                                     value="#{vendorRegController.eepVendorReg.vatNo}" rendered="#{vendorRegController.renderVat}"/>

                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12  textBoxMargin6px required">
                                                    <p:outputLabel id="lbltibNo" class="control-label col-sm-4" value="Tin Number:" rendered="#{vendorRegController.renderVat}"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txttibNo" class="form-control" value="#{vendorRegController.eepVendorReg.tinNo}" required="true" requiredMessage="Tin Number is required"
                                                                     validator="#{validatorManagedBean.Number}" rendered="#{vendorRegController.renderVat}" >
                                                        </p:inputText>
                                                        <p:message for="txttibNo" display="icon"/>
                                                    </div>
                                                </div>
                                            </h:panelGroup>




                                        </div>
                                        <div class=" col-sm-6">
                                            <h:panelGroup style="border: 0px; background-color: transparent" id="agent">
                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblagentName" class="control-label col-sm-4" value="Agent Name:"
                                                                   rendered="#{vendorRegController.renderWhenLocal}"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtagentName" value="#{vendorRegController.eepVendorReg.agentName}"
                                                                     class="form-control" rendered="#{vendorRegController.renderWhenLocal}"/>

                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12  textBoxMargin6px">

                                                    <p:outputLabel id="lblagentaddress" class="control-label col-sm-4"  value="Agent Address:"
                                                                   rendered="#{vendorRegController.renderWhenLocal}"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtagentaddress" value="#{vendorRegController.eepVendorReg.agentAddress}" class="form-control" 
                                                                     rendered="#{vendorRegController.renderWhenLocal}"/>

                                                    </div>

                                                </div>
                                            </h:panelGroup>



                                            <div class="form-group col-sm-12  textBoxMargin6px">

                                                <p:outputLabel id="lblfinancialCap" class="control-label col-sm-4"  value="Capital:"/>
                                                <div class=" col-sm-8">
                                                    <p:inputText id="financialCap" style="width: 100%" class="form-control"  value="#{vendorRegController.eepVendorReg.faniancialLevel}" /> 


                                                </div>
                                            </div> 
                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblStatus" class="control-label col-sm-4" for="Status" value="Status:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="Status" style="width: 100%" value="#{vendorRegController.eepVendorReg.status}"  
                                                                     valueChangeListener="#{vendorRegController.statusList}">
                                                        <f:selectItem itemLabel="--Select One--"  itemValue=""/>
                                                        <f:selectItem itemLabel="Black List" itemValue="BlackList" />
                                                        <f:selectItem itemLabel="Active" itemValue="Active" />
                                                        <f:selectItem itemLabel="Suspended" itemValue="Suspended" />
                                                        <p:ajax event="valueChange" update="lblstatDate,txtstatDate"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="Status" class="control-label col-sm-1" />
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblstatDate" class="control-label col-sm-4"  value="#{vendorRegController.rendername} period Date:"  />
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtstatDate"  value="#{vendorRegController.eepVendorReg.periodsDate}" required="true" 
                                                                 placeholder="dd/mm/yyyy"   
                                                                 onclick="displayCalendar('mainForm:txtstatDate', 'mainForm:txtstatDate');" disabled="#{vendorRegController.hideWhenActive}"/>
                                                </div>
                                            </div> 


                                            <div class="form-group col-sm-12  textBoxMargin6px required">
                                                <p:outputLabel id="lblDateReg" class="control-label col-sm-4"   value="Registration Date:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtDateReg" value="#{vendorRegController.eepVendorReg.dateReg}" required="true" 
                                                                 placeholder="dd/mm/yyyy"   requiredMessage="Registration Date is required" 
                                                                 onclick="displayCalendar('mainForm:txtDateReg', 'mainForm:txtDateReg');"/>
                                                    <p:message for="txtDateReg" display="icon"/>
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblSubConsDisc" class="control-label col-sm-4" value="Business Description:"/>
                                                <div class="col-sm-8">
                                                    <p:inputTextarea id="SubConsDisc"  class="form-control" style="width: 100%" autoResize="false"
                                                                     value="#{vendorRegController.eepVendorReg.busDiscription}"/>

                                                </div>
                                            </div>
                                            <h:panelGroup style="border: 0px; background-color: transparent" id="OhtersRemarks">
                                                <div class="form-group col-sm-12  textBoxMargin6px">
                                                    <p:outputLabel id="lblOthersRemark" class="control-label col-sm-4" value="Others Remark:" 
                                                                   rendered="#{vendorRegController.renderOthers}"/>
                                                    <div class="col-sm-8">
                                                        <p:inputTextarea id="OthersRemark"  class="form-control" style="width: 100%" value="#{vendorRegController.eepVendorReg.othersRemark}"
                                                                         rendered="#{vendorRegController.renderOthers}"/>

                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-info ">
                            <div class="box-header">
                                <h3 class="box-title"> Address </h3>                       
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body ">
                                <div class="box-body ">



                                    <div class="form-group col-sm-12">

                                        <div class=" col-sm-6">
                                            <div class="form-group col-sm-12  textBoxMargin6px required">
                                                <p:outputLabel id="lblCountry" class="control-label col-sm-4"  value="Country of Origin:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="drdCountry" style="width: 100%"
                                                                     converter="entConverter" required="true" requiredMessage="Country of Origin is required"
                                                                     value="#{vendorRegController.comLuCountry}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems value="#{vendorRegController.countryList}" 
                                                                       var="countries" itemLabel="#{countries}" itemValue="#{countries}"/>
                                                        <p:ajax event="change" process="@this" update="txtCallingCode" />
                                                    </p:selectOneMenu>
                                                    <p:message display="icon" for="drdCountry"/>
                                                </div> 
                                            </div> 
                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblCallingCode" class="control-label col-sm-4" value="Tel-No:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtCallingCode" class="form-control"  value="#{vendorRegController.comLuCountry.callingCode}" readonly="true"/> 
                                                </div>
                                                <div class="col-sm-5">
                                                    <p:inputText id="txtteleOf" class="form-control"  value="#{vendorRegController.eepVendorReg.telOffice}"/>
                                                    <p:message for="txtteleOf" display="icon" />
                                                </div>
                                            </div> 
                                            <div class="form-group col-sm-12  textBoxMargin6px required">
                                                <p:outputLabel id="lblmobile" class="control-label col-sm-4" for="txtFax" value="Mobile-No:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtmobile"   class="form-control" required="true" requiredMessage="Mobile-No is required"
                                                                 value="#{vendorRegController.eepVendorReg.telMobile}"/>
                                                    <p:message for="txtmobile" display="icon" />
                                                </div>
                                            </div>


                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblRemark" class="control-label col-sm-4" value="Remark:"/>
                                                <div class="col-sm-8">
                                                    <p:inputTextarea id="txtremark"  class="form-control" style="width: 100%" autoResize="false"
                                                                     value="#{vendorRegController.eepVendorReg.remark}"/>

                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px">
                                                <div class="col-lg-4" />
                                                <div class="col-sm-8">
                                                    <p:commandButton id="btnSave" class="btn btn-primary col-lg-4 " value="#{vendorRegController.saveorUpdateBundle}" 
                                                                     process="@this:mainForm"  action="#{vendorRegController.SaveSupplierProfile()}"
                                                                     update="mainUI1" validateClient="true"/>

                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-sm-6">

                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblFax" class="control-label col-sm-4" for="txtFax" value="Fax:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtFax" value="#{vendorRegController.eepVendorReg.fax}" class="form-control"/>
                                                </div>

                                            </div>
                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="tblwebsite"  class="control-label col-sm-4" value="Website:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtwebsite" validator="#{validatorManagedBean.Website}" class="form-control"
                                                                 value="#{vendorRegController.eepVendorReg.website}" />
                                                    <p:message for="txtwebsite" display="icon" />
                                                </div>
                                            </div> 


                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblpobox" class="control-label col-sm-4" value="P.O.BOX:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtpobox" validator="#{validatorManagedBean.POBOX}" class="form-control"
                                                                 value="#{vendorRegController.eepVendorReg.pobox}"/>
                                                    <p:message for="txtpobox" display="icon"/>
                                                </div>
                                            </div> 
                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblemail" class="control-label col-sm-4"  value="Email:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtemail"  class="form-control"
                                                                 value="#{vendorRegController.eepVendorReg.email}" />
                                                    <p:message for="txtemail" display="icon" />
                                                </div>
                                            </div>


                                            <div class="form-group col-sm-12  textBoxMargin6px">
                                                <p:outputLabel id="lblhouse" class="control-label col-sm-4"  value="License No:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txthouse"  class="form-control"  value="#{vendorRegController.eepVendorReg.houseNo}"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <p:outputLabel  class="control-label col-sm-4"  value="Prepared By:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtprepared" class="form-control" readonly="true" value="#{vendorRegController.workFlow.userName}"/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
