<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="BidOpeningCheckList.xhtml"><i class="fa fa-circle-o "></i> <span>Bid Opening CheckList</span></a></li> 
        <li><a href="BidSubmissionForm.xhtml"><i class="fa fa-circle-o "></i> <span>Bid Submission Form</span></a></li> 
        <li><a href="BidderRegistration.xhtml"><i class="fa fa-circle-o"></i> <span>Bidder Registration</span></a></li> 
        <li><a href="SupplierPerformanceInformation.xhtml"><i class="fa fa-circle-o "></i> <span>Supplier Performance Information</span></a></li>
        <li><a href="SupplierProfile.xhtml"><i class="fa fa-circle-o "></i> <span>Suppliers Profile</span></a></li>
        <li><a href="SupplierSpecfication.xhtml"><i class="fa fa-circle-o"></i> <span>Supplier Specification</span></a></li> 
    </ui:define>

    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">

                    <h:panelGroup id="pngBackToSearch" rendered="#{supplierSpecficationController.renderpnlToSearchPage}">
                        <p:commandButton id="cmdBackToSearch" icon="ui-icon-search" style="background-color: white;border-color: white"
                                         action="#{supplierSpecficationController.goBackSearchPageBtnAction()}" 
                                         title="Back to Search"
                                           process="@this" update="@this,:frmMainUI, :BidSubmissionMain, :frmSample"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <p:commandButton validateClient="true" action="#{supplierSpecficationController.createNewParty()}" icon="#{supplierSpecficationController.icone}"
                                     style="background-color: white; border-color: white"
                                     title="New" process="@this" update="@this,:frmMainUI, :BidSubmissionMain, :frmSample"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress" title="Work Flow" style="background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>
                        <!--put work flow list here-->
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblWorkflow" value="#{supplierSpecficationController.wfPrmsProcessedDModel}"
                                                             var="currentRow" selectionMode="single" rowIndexVar="num" rows="10" paginator="true" rowKey="#{currentRow.processedId}" 
                                                             paginatorPosition="bottom">
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{currentRow.processedBy}" /> 
                                                    </p:column>
                                                    <p:column headerText="Decision">
                                                        <h:outputText value="#{currentRow.decision}" /> 
                                                    </p:column>
                                                    <p:column headerText="Processed On">
                                                        <h:outputText value="#{currentRow.processedOn}" /> 
                                                    </p:column>
                                                    <p:column headerText="Comment Given">
                                                        <h:outputText value="#{currentRow.commentGiven}" /> 
                                                    </p:column> 
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="SupplierSpecfication.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"/></a>
                    <span class="ui-separator"> <span class="ui-icon ui-icon-grip-dotted-vertical" /></span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"/></a>                    
                    <span class="ui-separator"> <span class="ui-icon ui-icon-grip-dotted-vertical"/> </span>
                </f:facet>                
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{supplierSpecficationController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >
                                <h:form id="frmSearchParty"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <h:outputLabel id="lblsearchoum" class="control-label col-sm-2" value="Specification No:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtsearchBidNum" class="form-control" value="#{supplierSpecficationController.prmsSuppSpecification.suppSpecNo}"/>
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton id="btnFind" action="#{supplierSpecficationController.searchSupplierSpecification()}" icon="ui-icon-search" 
                                                                     process="@this,frmSearchParty" update=":frmMainUI:frmParty" value="Find" class="btn btn-primary col-lg-4"/>             
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmParty">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblPartyInfo" value="#{supplierSpecficationController.prmsSuppSpecificationsModel}" var="SuppSpecficationList" rows="10" 
                                                                 selection="#{supplierSpecficationController.selectSupplierSpecfication}"
                                                                 rowKey="#{SuppSpecficationList.suppSpecId}"  selectionMode="single" paginator="true" paginatorPosition="bottom" editable="true">
                                                        <p:ajax event="rowSelect" listener="#{supplierSpecficationController.rowSelect}" 
                                                                update=":BidSubmissionMain,:BidSubmissionMain:checkListInfoPanel,:frmSample,:frmMainUI,:BidSubmissionMain:checklistTbl" />                             
                                                        <p:column sortBy="#{SuppSpecficationList.suppSpecNo}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Specification No" />
                                                            </f:facet>
                                                            <h:outputText value="#{SuppSpecficationList.suppSpecNo}"/>
                                                        </p:column>
                                                        <p:column sortBy="#{SuppSpecficationList.dateRigistered}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Date Registered" />
                                                            </f:facet>
                                                            <h:outputText value="#{SuppSpecficationList.dateRigistered}">
                                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Prepared By" />
                                                            </f:facet>
                                                            <h:outputText value="#{supplierSpecficationController.logerName}"/>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>                 
                                            </div>    
                                        </div>  
                                    </div>                           
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="BidSubmissionMain">
            <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{supplierSpecficationController.renderPnlCreateParty}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Supplier Specification</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup style="border: 0px; background-color: transparent" id="checkListInfoPanel" >
                                    <div class="form-horizontal  col-sm-12">                                        
                                        <div class="form-group textBoxMarginTop6px required"> 
                                            <h:outputLabel id="lblSpecificationNo" class="control-label col-sm-2"   value="Specification No:"/>
                                            <div class="col-sm-3">
                                                <p:inputText   id="txtSpecificationNo"    readonly="true"  value="#{supplierSpecficationController.generateSpecficationNo()}"/>
                                            </div>                                            
                                            <h:outputLabel id="lblRigisteredDate" class="control-label col-sm-2" value="Registered Date:"/>
                                            <div class="col-sm-3">                                   
                                                <p:calendar id="txtRigisteredDate" required="true"  readonlyInput="true"  mindate="today" maxdate="today"                    
                                                            value="#{supplierSpecficationController.prmsSuppSpecification.dateRigistered}" requiredMessage="Registered Date is required"                  
                                                            pattern="dd/MM/yyyy" tabindex="4" readonly="#{workFlow.readonly}">
                                                </p:calendar>
                                                <p:message display="icon" for="txtRigisteredDate:" />
                                            </div>                                         
                                        </div>                                        
                                        <div class="form-group textBoxMarginTop6px required"> 
                                            <h:outputLabel id="lblBidNo"   class="control-label col-sm-2" value="Bid No:"/>
                                            <div class="col-sm-3">                                                
                                                <p:selectOneMenu id="txtendUser" style="width: 100%" required="true" value="#{supplierSpecficationController.prmsBid}" 
                                                                 converter="entConverter" valueChangeListener="#{supplierSpecficationController.changeEventSuppNamee}" 
                                                                 disabled="#{workFlow.readonly}" requiredMessage="Bid No is required">
                                                    <f:selectItems value="#{supplierSpecficationController.bidReferenceNo() }"/>
                                                    <p:ajax event="change" update="@this,txtbiddingCompany" process="@this" />
                                                </p:selectOneMenu>  
                                                <p:message display="icon" for="txtendUser"/>                                                
                                            </div>
                                            <h:outputLabel id="lblawardno"  class="col-sm-2" style="text-align: right" value="Contract No:"/>                                            
                                            <div class="col-sm-3">
                                                <p:inputText id="txtaward" class="form-control" value="#{supplierSpecficationController.prmsContract.contractNo}"
                                                             readonly="true" />
                                                <p:message display="icon" for="txtaward"/>
                                            </div> 
                                        </div>

                                        <div class="form-group textBoxMarginTop6px required">                                             
                                            <h:outputLabel id="lblSupplierId" class="control-label col-sm-2" value="Supplier Name:"/>
                                            <div class="col-sm-3"> 

                                                <p:selectOneMenu id="txtbiddingCompany" style="width: 100%"  value="#{supplierSpecficationController.prmsSupplyProfile}" 
                                                                 valueChangeListener="#{supplierSpecficationController.changeSppName}" converter="entConverter" 
                                                                 requiredMessage="Supplier Name is required" required="true">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItems value="#{supplierSpecficationController.prmsSupplyProfilLst}" var="supplierName"
                                                                   itemLabel="#{supplierName.vendorName}" itemValue="#{supplierName}"/>
                                                    <p:ajax event="change" update="txtaward,txtItem" process="@this"/>
                                                </p:selectOneMenu>
                                                <p:message display="icon" for="txtbiddingCompany"/>
                                            </div>                                     
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Attach Specification/s: </h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="panel-body">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="uploadButtonPanel" >
                                        <p:panelGrid columns="1" style="float: left;"> 

                                            <p:fileUpload  id="fileUplod" cancelLabel="#{contenu.annuler}"
                                                           fileUploadListener="#{supplierSpecficationController.uploadListener}"
                                                           value="#{supplierSpecficationController.prmsLuDmArchive.documentId}" allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpg|mkv|JPG)$/"
                                                           invalidFileMessage="This type of file is not valid" invalidSizeMessage="The size is not Allowed"
                                                           multiple="false" mode="advanced" sizeLimit="52428800" auto="true" 
                                                           process="@this" update="tblSavedDoc"/>
                                            <p:dataTable id="tblSavedDoc"  var="currentRow" sortBy="#{currentRow.documentId}"  rowIndexVar="current" 
                                                         value="#{supplierSpecficationController.prmsLuDmArchivesDModel}"
                                                         paginator="true" paginatorPosition="bottom" selectionMode="single" rowKey="#{currentRow.documentId}"
                                                         selection="#{supplierSpecficationController.prmsLuDmArchiveSelection}" rows="3">

                                                <p:ajax event="rowSelect" listener="#{supplierSpecficationController.onRowSelect}" process="pnlGridtblDoccolOptions" update="pnlGridtblDoccolOptions" />
                                                <p:column id="docNames"   style="border: none; font-size: 10px; text-align: left;"> 
                                                    <h:outputText id="txtcoScale" value="#{currentRow.fileName}"/>
                                                </p:column>
                                                <p:column  style="border: none; font-size: 10px; text-align: left;">
                                                    <h:panelGroup id="pnlPreparerInfo"> 
                                                        <h:panelGrid style="border: none " columns="2" id="pnlGridtblDoccolOptions" >
                                                            <p:commandButton icon="ui-icon-arrowthickstop-1-s"  ajax="false"  process="@this,tblSavedDoc" update="tblSavedDoc" >
                                                                <p:fileDownload value="#{supplierSpecficationController.file}" />
                                                            </p:commandButton>

                                                         <!--   <p:outputPanel id="buttonDetail">
                                                                <p:commandButton  process="tblSavedDoc" title="{dmsBundle.delete}" id="docRemove" 
                                                                                  update="tblSavedDoc" immediate="true" ajax="true" 
                                                                                  icon="ui-icon-trash" style="border: none; color: #0B70F9">
                                                                    <p:confirm header="Confirmation" message="Are you sure?"  icon="ui-icon-alert" />
                                                                </p:commandButton>
                                                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                                    <p:commandButton value="Yes" action="{supplierSpecficationController.remove(rowselect)}" immediate="true" 
                                                                                     process="@this,tblSavedDoc" update="tblSavedDoc" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                                </p:confirmDialog>
                                                            </p:outputPanel>-->
                                                        </h:panelGrid>
                                                    </h:panelGroup>

                                                </p:column>  
                                            </p:dataTable>
                                        </p:panelGrid>
                                    </h:panelGroup>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">   Supplier Specification Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="panel-body">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="checkListDetailPanel" >
                                        <div class="form-horizontal col-sm-12">

                                            <div class="form-group textBoxMarginTop6px required">                                                
                                                <h:outputLabel id="lblItem" class="control-label col-sm-2" value="Item Name:" />
                                                <div class="col-sm-3"> 
                                                    <p:selectOneMenu id="txtItem" style="width: 100%" required="true" disabled="#{workFlow.readonly}" 
                                                                     value="#{supplierSpecficationController.prmsContractDetail.itemId}"
                                                                     requiredMessage="Item Name is required" converter="entConverter"
                                                                     valueChangeListener="#{supplierSpecficationController.display}" >
                                                        <f:selectItem itemLabel="---Select One---" itemValue=""/>
                                                        <f:selectItems value="#{supplierSpecficationController.prmsContractDetailList}"
                                                                       var="itemName"  itemLabel="#{itemName.itemId.matName}" itemValue="#{itemName.itemId}" />    
                                                        <p:ajax event="change" update="txtSpecification" process="@this" />
                                                    </p:selectOneMenu>  
                                                    <p:message display="icon" for="txtItem" />
                                                </div>

                                                <h:outputLabel id="lblSpecification" class="control-label col-sm-2" value="Unit Measure:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtSpecification" required="true" requiredMessage="Unit of Measure is required"
                                                                 readonly="true" class="form-control" value="#{supplierSpecficationController.prmsSupplierSpecificationDt.unitMeasure}"/>
                                                    <p:message display="icon" for="txtSpecification" />
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px required">
                                                <h:outputLabel id="lblphoneno" class="control-label col-sm-2" value="Supplier Specification:" />
                                                <div class="col-sm-3">
                                                    <p:inputTextarea id="txtPhoneNo" required="true" class="form-control" validator="#{validatorManagedBean.Remark}" 
                                                                     readonly="#{workFlow.readonly}" requiredMessage="Supplier Specification is required" autoResize="false"
                                                                     value="#{supplierSpecficationController.prmsSupplierSpecificationDt.supplierSpcification}"/>
                                                    <p:message display="icon" for="txtPhoneNo" />
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px"> 

                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton id="btnAdd" action="#{supplierSpecficationController.addBidderDetail()}" class="btn btn-primary col-lg-4"
                                                                     process="checkListDetailPanel"  update=":BidSubmissionMain:checklistTbl, checkListDetailPanel"  
                                                                     value="#{supplierSpecficationController.addOrModifyBundle}" disabled="#{workFlow.readonly}" icon="ui-icon-add" validateClient="true" />   
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="checklistTbl" >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="submissDt" value="#{supplierSpecficationController.prmsSupplierSpecificationDtsModel}" rowIndexVar="rowContact" var="contact"
                                                                 paginator="true" paginatorPosition="bottom" editable="true">
                                                        <p:ajax event="rowEdit" listener="#{supplierSpecficationController.onContactRowEdit}" update="submissDt" />
                                                        <p:ajax event="rowEditCancel" listener="#{supplierSpecficationController.onContactRowCancel}" update="submissDt" />
                                                        <p:column headerText="No">
                                                            #{rowContact+1}
                                                        </p:column>
                                                        <p:column headerText="Item Name ko">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText  value="#{contact.materialId.matName}"  /> </f:facet>
                                                                <f:facet name="input"><p:inputText id="BiddingCompany"  value="#{contact.materialId.matName}"  style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Unit Measure">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.unitMeasure}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="TelNo" value="#{contact.unitMeasure}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Supplier Specfication">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.supplierSpcification}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="Submitted" value="#{contact.supplierSpcification}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Option"> 
                                                            <p:commandLink action="#{supplierSpecficationController.editBidOfferDataTbl()}" value="Edit" process="@this,submissDt" 
                                                                           update="@this,:BidSubmissionMain:checkListDetailPanel"/>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                            <section class="panel panel-info">
                                                <section class="panel-body">  
                                                    <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-md-12">                      
                                                                <div class="box-body"> 
                                                                    <div class="col-md-6">
                                                                        <div class="form-group col-sm-12 textBoxMargin6px"></div>

                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal form-group">
                                                                                <p:outputLabel  for="txtComment" class="control-label col-sm-4" rendered="#{supplierSpecficationController.renderDecision}" value="Comment Given:"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputTextarea id="txtComment" class="form-control" rendered="#{supplierSpecficationController.renderDecision}" value="#{supplierSpecficationController.prmsSpecification.remark}" title="Remark"  
                                                                                                     required="false"  requiredMessage="Enter Plan" validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only"/>
                                                                                </div> 
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal form-group">
                                                                                <p:outputLabel  for="txtProcessedBy" class="control-label col-sm-4" value="Processed By:"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText  id="txtProcessedBy" readonly="true" class="form-control" value="#{supplierSpecficationController.userName}" title="descripition"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal required">

                                                                                <p:outputLabel  id="lblApproved" value="Processed Date:"  class="control-label col-sm-4" />
                                                                                <div class="col-sm-8">
                                                                                    <p:calendar id="calprocessed" placeholder="dd/mm/yyyy" pattern="dd/mm/yyyy" autocomplete="off" 
                                                                                                value="#{supplierSpecficationController.wfPrmsProcessed.processedOn}"
                                                                                                required="true" requiredMessage="Processed Date is Required">
                                                                                        <f:convertDateTime pattern="dd/mm/yyyy"/>
                                                                                    </p:calendar>
                                                                                    <p:message for="calprocessed" display="icon"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h:panelGroup>
                                                </section>
                                            </section>
                                            <div class="form-group textBoxMarginTop6px "> 
                                                <div class="col-lg-2" />
                                                <div class="col-sm-3">
                                                    <p:commandButton id="btnSave" value="#{supplierSpecficationController.saveorUpdateBundle}" icon="ui-icon-new" 
                                                                     validateClient="true" class="btn btn-primary col-lg-4" 
                                                                     process="@this,checkListInfoPanel,checklistTbl" update="checklistTbl, checkListInfoPanel,uploadButtonPanel" 
                                                                     action="#{supplierSpecficationController.saveSupplierSpecification()}" />  
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
