<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="../../resources/templates/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="navigaion_content">  
        <!-- search form -->
        <li class="header">MAIN NAVIGATION</li>    
        <li class="treeview">       
            <a href="../../HomePage.xhtml"><i class="fa fa-home"></i> Home 
                <i class="fa fa-angle-double-left pull-right"></i>
            </a>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-sitemap"></i>
                <span>Organization Information</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="organization/OrganizationStruacture.xhtml"><i class="fa fa-fw"></i>Organization Structure</a></li> 
                <li><a href="../hrms/organization/jobRegistration.xhtml"><i class="fa fa-fw"></i>Job Registration</a></li>
                <li><a href="organization/payGrade.xhtml"><i class="fa fa-fw"></i>Pay Grade</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-calendar"></i>
                <span>HR Planning</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="planning/needRequest.xhtml"><i class="fa fa-fw"></i>HR Need Request</a> 
                    <a href="planning/demandAndSupplyAnalysis.xhtml"><i class="fa fa-fw"></i>Demand Supply analysis</a> 
                    <a href="planning/annualRecruitmentAndPromotion.xhtml"><i class="fa fa-fw"></i>Annual Recruitment And Promotion</a> 
                </li>                    
            </ul>
        </li>

        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-calendar"></i>
                <span>IFRS</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a ></a>
                    <a ></a>
                    <a href="../ifrs/hrms/SeveranceLiability.xhtml"><i class="fa fa-fw"></i>Severance Liability </a> 
                    <a href="../ifrs/hrms/accrued_leave_balance.xhtml"><i class="fa fa-fw"></i>Accrued Leave Balance</a> 
                </li>                    
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-search"></i>
                <span>Recruitment</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="recruitment/recruitmentRequests.xhtml"><i class="fa fa-fw"></i>Recruitment Request</a>
                    <a href="recruitment/recruitmentApprove.xhtml"><i class="fa fa-fw"></i>Recruitment Approve</a>
                    <a href="recruitment/maintainAdvertisement.xhtml"><i class="fa fa-fw"></i>Maintain Advertisement</a>
                    <a href="recruitment/candidateRegistration.xhtml"><i class="fa fa-fw"></i>Candidate Registration</a>
                    <a href="recruitment/assessmentWeight.xhtml"><i class="fa fa-fw"></i>Assessment Weight</a>
                    <a href="recruitment/shortlistCandidates.xhtml"><i class="fa fa-fw"></i>Shortlist Candidates</a>
                    <a href="recruitment/filterCandidate.xhtml"><i class="fa fa-fw"></i>Filter Candidate</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-user"></i>
                <span>Employee Profile</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="employee/employee.xhtml"><i class="fa fa-fw"></i> Employee</a></li>
                <li><a href="employee/contractRenewal.xhtml"><i class="fa fa-fw"></i> Contract Renewal</a></li>
                <li><a href="InternalExperience/InternalExperience.xhtml"><i class="fa fa-fw"></i> Employee's Personal Record</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-calendar"></i>
                <span>Leave</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>                   
                    <a href="leave/leaveSetting.xhtml"><i class="fa fa-fw"></i>Leave Setting</a>
                    <a href="leave/leaveRequest.xhtml"><i class="fa fa-fw"></i>Leave Request</a>
                    <a href="leave/leaveApproveDep.xhtml"><i class="fa fa-fw"></i>Leave Approve Dept</a>
                    <a href="leave/leaveApproveHr.xhtml"><i class="fa fa-fw"></i>Leave Approve HR</a>
                    <a href="leave/leaveReturn.xhtml"><i class="fa fa-fw"></i>Employees On Leave</a>
                    <a href="leave/leaveBalance.xhtml"><i class="fa fa-fw"></i>Generate Leave Balance</a>
                    <a href="leave/leaveSchedule.xhtml"><i class="fa fa-fw"></i>Leave Schedule Request</a> 
                    <a href="leave/holiday.xhtml"><i class="fa fa-fw"></i>Manage Holiday</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-history"></i>
                <span>Employee History</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span>&nbsp;&nbsp;&nbsp; Promotion</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li>
                                <a href="promotion/promotionCriteria.xhtml"><i class="fa fa-fw"></i>Promotion Criteria</a>
                                <a href="promotion/promotionAdvment.xhtml"><i class="fa fa-fw"></i>Apply For Promotion</a>
                                <a href="promotion/candidateEvaluation.xhtml"><i class="fa fa-fw"></i>Candidate Evaluation</a>
                                <a href="promotion/promoteCandidate.xhtml"><i class="fa fa-fw"></i>Promote Candidate</a>
                            </li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span>&nbsp;&nbsp;&nbsp; Transfer</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li>
                                <a href="transfer/transferRequest.xhtml"><i class="fa fa-fw"></i>Transfer Request</a>                
                                <a href="transfer/transferApprove.xhtml"><i class="fa fa-fw"></i>Transfer Approve</a>
                                <a href="transfer/internalMovement.xhtml" title="Internal Movement"><i class="fa fa-fw"></i><span>Direct Assignment</span></a>
                            </li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span>&nbsp;&nbsp;&nbsp; Acting Assignment</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="actingAssignment/actingAssignmentRequest.xhtml"><i class="fa fa-fw"></i>Acting Request</a></li>
                            <li><a href="actingAssignment/actingAssignmentApprove.xhtml"><i class="fa fa-fw"></i>Acting Approve</a></li> 
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span>&nbsp;&nbsp;&nbsp; Mass Salary</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="massSalaryIncrement/massSalaryIncrement.xhtml"><i class="fa fa-fw"></i> <span>Mass Salary Increment</span></a></li> 
                        </ul>
                    </a> 
                </li>                
            </ul>
        </li>         
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-certificate"></i>
                <span title="Employee Training">Training &amp; Development</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Manage Annual Training">&nbsp;&nbsp;&nbsp; Annual Training</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="training/trainingCourse.xhtml"><i class="fa fa-fw"></i>Training Course</a></li>
                            <li><a href="training/trainingInstitutionProfile.xhtml"><i class="fa fa-fw"></i>Training Institution Profile</a></li>  
                            <li><a href="training/annualTrainingRequest.xhtml" title="Annual Training Need Requests"><i class="fa fa-fw"></i>Annual Training Request</a></li>
                            <li><a href="training/annualTrainingApprove.xhtml" title="Annual Training Need Approve"><i class="fa fa-fw"></i>Annual Training Approve</a></li>
                            <li><a href="training/annualTrainingPlan.xhtml" title="Annual Plan"><i class="fa fa-fw"></i>Annual Training Plan</a></li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Manage Unplanned Training">&nbsp;&nbsp;&nbsp; Unplanned Training</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li> <a  href="training/unplannedTrainingRequest.xhtml"> <i class="fa fa-fw"></i>Unplanned Training Request</a></li> 
                            <li> <a  href="training/unplannedTrainingApproval.xhtml"> <i class="fa fa-fw"></i>Unplanned Training Approval</a></li> 
                            <li> <a  href="training/trainingHistory.xhtml"> <i class="fa fa-fw"></i>Employee Training History</a></li>  
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Manage Inland/Foreign Training and Education">&nbsp;&nbsp;&nbsp; Inland &amp; Foreign Training &amp; Education Programs</span>
                        <i class="fa fa-angle-left pull-right-xs"></i>
                        <ul class="treeview-menu">
                            <li><a href="training/EducationPrograms.xhtml"><i class="fa fa-fw"></i>Inland &amp; Foreign Education Programs</a></li>
                        </ul>
                        <ul class="treeview-menu">
                            <li><a href="training/TrainingPrograms.xhtml"><i class="fa fa-fw"></i>Inland &amp; Foreign Training Programs</a></li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Electro Mechanics">&nbsp;&nbsp;&nbsp; Electro Mechanics</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="training/preserviceCourses.xhtml"><i class="fa fa-fw"></i><span>Pre Service Course</span></a></li>
                            <li><a href="training/preserviceTrainees.xhtml"><i class="fa fa-fw"></i><span>Pre Service Trainees</span></a></li>
                            <li><a href="training/preserviceTraineesResult.xhtml"><i class="fa fa-fw"></i><span>Pre Service Trainees Result</span></a></li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Manage Internship">&nbsp;&nbsp;&nbsp; Internship Program</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="training/maintainUniversity.xhtml"><i class="fa fa-fw"></i><span>Maintain University</span></a></li>
                            <li><a href="training/internshipStudentDetails.xhtml"><i class="fa fa-fw"></i><span>Internship Student Details</span></a></li>
                            <li><a href="training/internshipPlacement.xhtml"><i class="fa fa-fw"></i><span>Internship Placement</span></a></li> 
                            <li><a href="training/internshipPayment.xhtml"><i class="fa fa-fw"></i><span>Internship payment</span></a> </li>
                            <li><a href="training/internshipStatus.xhtml"><i class="fa fa-fw"></i><span>Internship status</span></a> </li>
                        </ul>
                    </a> 
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-fw fa-sort-amount-desc"></i>
                <span>Succession</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="succession/keymanagerialposition.xhtml"><i class="fa fa-fw"></i>Key Managerial Position</a>    
                    <a href="succession/successor.xhtml"><i class="fa fa-fw"></i>Maintain Successor</a>
                    <a href="succession/maintiancompetency.xhtml"><i class="fa fa-fw"></i>Maintain Competency</a>
                    <a href="succession/maintiancompetencytype.xhtml"><i class="fa fa-fw"></i>Maintain Competency Type</a>
                    <a href="succession/maintiancompetencysubtype.xhtml"><i class="fa fa-fw"></i>Maintain Competency Subtype</a>
                    <a href="succession/competencykmpprofile.xhtml"><i class="fa fa-fw"></i>Maintain Competency profile</a>
                    <a href="succession/successorEvaluation.xhtml"><i class="fa fa-fw"></i>Successor Evaluation</a>
                    <a href="succession/successorEvaluationApprovall.xhtml"><i class="fa fa-fw"></i>Successor Evaluation Approval</a>
                    <a href="succession/successionPlanning.xhtml"><i class="fa fa-fw"></i>Succession Planning</a>
                    <a href="succession/successionPlanningApproval.xhtml"><i class="fa fa-fw"></i>Succession Planning Approval</a>
                    <a href="succession/developmentplan.xhtml"><i class="fa fa-fw"></i>Development plan</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-briefcase" ></i>
                <span>HR Routines</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span>&nbsp;&nbsp;&nbsp; Performance Evaluation</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#treeview-menu">
                                <span>&nbsp;&nbsp;&nbsp; Evaluation</span>
                                <i class="fa fa-angle-left pull-right"></i>
                                <ul class="treeview-menu">
                                    <li><a href="evaluation/evaluationCriteria.xhtml"><i class="fa fa-fw"></i>Evaluation Criteria</a></li>
                                    <li><a href="evaluation/evaluationLevel.xhtml"><i class="fa fa-fw"></i>Evaluation Level</a></li>
                                    <li><a href="evaluation/evaluationSession.xhtml"><i class="fa fa-fw"></i>Evaluation Session</a></li>
                                    <li><a href="evaluation/evaluationResult.xhtml"><i class="fa fa-fw"></i>Evaluation Result</a></li>
                                </ul>
                            </a> 
                        </li>
                        <li class="treeview">
                            <a href="#treeview-menu">
                                <span>&nbsp;&nbsp;&nbsp; Probation</span>
                                <i class="fa fa-angle-left pull-right"></i>
                                <ul class="treeview-menu">
                                    <li><a href="evaluation/probationCriteria.xhtml"><i class="fa fa-fw"></i>Probation Criteria</a></li>
                                    <li><a href="evaluation/probationResult.xhtml"><i class="fa fa-fw"></i>Probation Result</a></li>
                                    <li><a href="evaluation/probationApprove.xhtml"><i class="fa fa-fw"></i>Probation Approve</a></li>
                                </ul>
                            </a> 
                        </li>
                        <li class="treeview">
                            <a href="#treeview-menu">
                                <span>&nbsp;&nbsp;&nbsp; BSC</span>
                                <i class="fa fa-angle-left pull-right"></i>
                                <ul class="treeview-menu">
                                    <li><a href="evaluation/bscSession.xhtml"><i class="fa fa-fw"></i>BSC Session</a></li>
                                    <li><a href="evaluation/bscResult.xhtml"><i class="fa fa-fw"></i>BSC Result</a></li>
                                </ul>
                            </a> 
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span>&nbsp;&nbsp;&nbsp; Discipline</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li> <a href="discipline/displineOffenseType.xhtml"><i class="fa fa-fw"></i>Offense Registration</a></li>
                            <li> <a href="discipline/penalitys.xhtml"><i class="fa fa-fw"></i>Penalty Registration</a></li> 
                            <li> <a href="discipline/penalityForOffenseType.xhtml"><i class="fa fa-fw"></i>Penalty of Offense</a></li>  
                            <li><a href="discipline/disciplineRequest.xhtml"><i class="fa fa-fw"></i>Discipline Request </a></li>
                            <li><a href="discipline/disciplineApprove.xhtml"><i class="fa fa-fw"></i>Discipline Approve</a></li> 
                            <li><a href="discipline/adjudicateDisciplineAppeal.xhtml"><i class="fa fa-fw"></i>Adjudicate Discipline Appeal </a> </li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span>&nbsp;&nbsp;&nbsp; Appeal</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="compliantHandling/appealRequest.xhtml"><i class="fa fa-fw"></i>Appeal Request</a></li>
                        <li><a href="compliantHandling/appealApprove.xhtml"><i class="fa fa-fw"></i>Appeal Approve</a></li>
                    </ul>
                </li>                
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span>&nbsp;&nbsp;&nbsp; Attendance</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="attendance/attendance.xhtml"><i class="fa fa-fw"></i>Attendance </a></li>
                            <li><a href="attendance/attendanceApprove.xhtml"><i class="fa fa-fw"></i> Attendance Approve</a></li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span>&nbsp;&nbsp;&nbsp; Document</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="documentProvidingService/documentRequest.xhtml"><i class="fa fa-fw"></i>Document Request</a></li>
                        <li><a href="documentProvidingService/documentApprove.xhtml"><i class="fa fa-fw"></i>Document Approve</a></li> 
                        <li><a href="documentProvidingService/generateDocument.xhtml"><i class="fa fa-fw"></i>Generate Document </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-money"></i>
                <span title="Employee Benefits">Benefits</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Employee Allowance">&nbsp;&nbsp;&nbsp; Allowance</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="allowance/allownceAmountReg.xhtml"><i class="fa fa-fw"></i>Allowance Registration</a></li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Employee Bonus">&nbsp;&nbsp;&nbsp; Bonus</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="bonusPayment/bonusRequest.xhtml"><i class="fa fa-fw"></i>Bonus Prepare</a></li>
                            <li><a href="bonusPayment/bonusApprove.xhtml"><i class="fa fa-fw"></i>Bonus Approve</a></li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Employee Insurance">&nbsp;&nbsp;&nbsp; Insurance</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li>
                                <a href="insurance/insuranceCompany.xhtml"><i class="fa fa-fw"></i>Insurance Company</a>
                                <a href="insurance/maintianInjuredEmployee.xhtml"><i class="fa fa-fw"></i>Maintain Injured Employee</a>  
                                <a href="insurance/DiagnosisResult.xhtml"><i class="fa fa-fw"></i>Diagnosis Result</a>
                                <a href="insurance/insurancePayment.xhtml"><i class="fa fa-fw"></i>Insurance Payment </a>
                                <a href="insurance/insurancePaymentApprove.xhtml"><i class="fa fa-fw"></i>Insurance Payment Approval</a>
                            </li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Employee Medical">&nbsp;&nbsp;&nbsp; Medical</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li>
                                <a href="medical/medicalInstitution.xhtml"><i class="fa fa-fw"></i>Medical Institution</a> 
                                <a href="medical/medicalCreditBill.xhtml"><i class="fa fa-fw"></i>Medical Credit Bill Request</a> 
                                <a href="medical/medicaCreditBillApprove.xhtml"><i class="fa fa-fw"></i>Medical Credit Bill Approve</a>
                                <a href="medical/medicalCashRefund.xhtml"><i class="fa fa-fw"></i>Medical Cash Refund Request</a> 
                                <a href="medical/medicalCashRefundApprove.xhtml"><i class="fa fa-fw"></i>Medical Cash Refund Approve</a> 
                            </li> 
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Employee Overtime">&nbsp;&nbsp;&nbsp; Overtime</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="overtime/OtRateSetup.xhtml"><i class="fa fa-fw"></i>Overtime Rate Setup </a></li>
                            <li><a href="overtime/OvertimePaymentRequest.xhtml"><i class="fa fa-fw"></i> Overtime Payment Request</a></li>
                            <li><a href="overtime/Overtimepaymentapprove.xhtml"><i class="fa fa-fw"></i> Overtime Payment Approve</a></li>
                        </ul>
                    </a> 
                </li>
                <li class="treeview">
                    <a href="#treeview-menu">
                        <span title="Uniform">&nbsp;&nbsp;&nbsp; Uniform</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="uniform/uniform.xhtml"><i class="fa fa-fw"></i>Uniform Types </a></li>
                        </ul>
                    </a> 
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-money"></i>
                <span>Payroll</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="payroll/payLocationPayGroupSetup.xhtml"><i class="fa fa-fw"></i>Pay Location &amp; Pay Group Setup</a></li>
                <li><a href="payroll/payLocationPayGroup.xhtml"><i class="fa fa-fw"></i>Pay Location &amp; Pay Group </a></li>
                <li><a href="payroll/payrollTaxRateRegistration.xhtml"><i class="fa fa-fw"></i>Tax Rate Entry</a></li>
                <li><a href="payroll/pensionRateEntry.xhtml"><i class="fa fa-fw"></i>Pension Rate Entry</a></li>
                <li><a href="payroll/earningDeductionSetupTabTest.xhtml"><i class="fa fa-fw"></i>Earnings/Deductions</a></li>
                <li><a href="payroll/EmpEarningDeductionTabTest.xhtml"><i class="fa fa-fw"></i>Employees Earning Deduction</a></li>
                <li><a href="payroll/payrollPeriod.xhtml"><i class="fa fa-fw"></i>Payroll Period</a></li>
                <li><a href="payroll/EmpEarningDeductionUsingGroup.xhtml"><i class="fa fa-fw"></i>All Employees Earning Deduction</a></li>
                <li><a href="payroll/leaveAdvancePayment.xhtml"><i class="fa fa-fw"></i>Leave Advance</a></li>
                <li><a href="payroll/ThirdPartiesInfo.xhtml"><i class="fa fa-fw"></i>Maintain Third Party Info</a></li>
                <li><a href="payroll/generateMonthlyPayroll.xhtml"><i class="fa fa-fw"></i>Generate Monthly Payroll</a></li>
                <li><a href="payroll/ThirdPartiesInfo.xhtml"><i class="fa fa-fw"></i>Third Party Registration</a></li>
                <li><a href="payroll/backPaymentGroup.xhtml"><i class="fa fa-fw"></i>Create Payroll Group</a></li>
                <li><a href="payroll/backPaymentForGroupOfEmployees.xhtml"><i class="fa fa-fw"></i>Back Payment</a></li>
                <li><a href="payroll/generatePayrollReports.xhtml"><i class="fa fa-fw"></i>Payroll Reports</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-archive"></i>
                <span title="Termination Management">Termination</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="termination/terminationRequest.xhtml"><i class="fa fa-fw"></i>Termination Request</a> 
                    <a href="termination/terminationApprove.xhtml"><i class="fa fa-fw"></i>Termination Approve</a> 
                    <a href="termination/retirementRequest.xhtml"><i class="fa fa-fw"></i>Retirement Request</a> 
                    <a href="termination/retirementApprove.xhtml"><i class="fa fa-fw"></i>Retirement Approve</a> 
                    <a href="termination/clearanceSetting.xhtml"><i class="fa fa-fw"></i>Clearance Setting</a> 
                    <a href="termination/clearance.xhtml"><i class="fa fa-fw"></i>Clearance</a> 
                    <a href="termination/exitInterview.xhtml"><i class="fa fa-fw"></i>Exit Interview </a>
                </li>                    
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-fire"></i>
                <span>Compensation</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a  href="compensation/compensation.xhtml"><i class="fa fa-fw"></i>Compensation</a> 
                </li>                    

            </ul>
        </li>      
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-group"></i>
                <span>Committee</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="committee/committee.xhtml"> <i class="fa fa-fw"></i>Committee Registration</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-lock"></i>
                <span>Admin</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="address/addresses.xhtml"><i class="fa fa-fw"></i>Address</a></li>
                <li><a href="../commonApplication/lookUpManager.xhtml"><i class="fa fa-fw"></i>Lookup</a></li>
                <li><a href="documentation.xhtml"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
            </ul>
        </li> 
    </ui:define>
    <ui:define name="contents">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bar-chart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="icon-bar">26</div>
                                    <div>Total Employee</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>Employee On Leave</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Terminated Employee</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border"><!-- box-header -->
                        <!--Enter Your Box Header Here-->
                        
                    </div><!-- /.box-header -->
                    
                    <div class="box-body">
                        <div class="col-md-4  " >
                            <div class="panel panel-collapse bg-info"  >
                                <div class="panel-heading">
                                    <div class="row">

                                        <div class="col-md-12img-circle">
                                            <p:chart type="bar" widgetVar="chart1" model="#{hrEmployeeController.empStatusBarModel}" style="height:380px;font-style: italic;font: bold" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
            <!-- /.row -->
        </div>
    </ui:define>
</ui:composition>
