<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li> <a  href="keymanagerialposition.xhtml"> <i class="fa fa-circle-o"></i>Key Managerial Position</a></li>
        <li><a href="successor.xhtml"><i class="fa fa-circle-o"></i>Maintain Successor</a></li>
        <li><a href="maintiancompetency.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency </span></a></li>
        <li><a href="maintiancompetencytype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Type </span></a></li>
        <li><a href="maintiancompetencysubtype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency SubType </span></a></li>
        <li> <a href="successorEvaluation.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation</a></li> 
        <li> <a href="successorEvaluationApprovall.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation Approval</a></li>
        <li><a href="successionPlanning.xhtml"><i class="fa fa-circle-o"></i><span>Succession Planning</span></a></li>
        <li><a href="successionPlanningApproval.xhtml"><i class="fa fa-circle-o"></i> <span>Succession Planning Approve</span></a></li> 
        <li><a href="developmentplan.xhtml"><i class="fa fa-circle-o"></i> <span>Development plan  </span></a></li>    
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnNew" validateClient="true" action="#{CompetencyKmpcontroller.createNewAdditionalAmount()}"
                                     icon="#{CompetencyKmpcontroller.icone}" style="background-color: white; border-color: white" 
                                     process="@this" update="@this,:frmSample,:formkmp" title="#{CompetencyKmpcontroller.createOrSearchBundle}"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <h:panelGroup id="pnlPlus"  rendered="#{CompetencyKmpcontroller.btnNewRender}"> 
                        <p:commandButton validateClient="true" action="#{CompetencyKmpcontroller.newButtonAction()}"
                                         icon="ui-icon-plus" style="background-color: white;border-color: white"  title="New record"
                                         process="@this" update=":frmSample,:formkmp" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <a href="competencykmpprofile.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="formkmp">
            <p:growl id="growl2" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnl23Search" rendered="#{CompetencyKmpcontroller.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" >Search...</h3>
                            </div>
                            <div class="box-body">

                                <div class="col-sm-12">
                                    <div class="col-md-6"> 
                                        <div class="col-md-12 ">
                                            <div class="form-group form-horizontal"> 
                                                <h:outputLabel value="Position: " class="col-md-4 control-label"  />
                                                <div class="col-md-8 textBoxMargin6px">
                                                    <p:inputText id="txtCompnamekmp" value="#{CompetencyKmpcontroller.hrJobTypes.jobTitle}" />
                                                    <p:message for="txtCompnamekmp" display="icon"/>
                                                </div>
                                            </div>
                                            <div class="form-group form-horizontal"> 
                                                <h:outputLabel value="" class="col-md-4 control-label" />
                                                <div class="col-md-8 textBoxMargin6px">
                                                    <p:commandButton id="btnSearch" class="btn btn-primary" 
                                                                     icon="ui-icon-search"  value="Find" action="#{CompetencyKmpcontroller.searchCompetencyKmpProfile()}" 
                                                                     process="@this,txtCompnamekmp"   update="tblCompetency,tblCompetency2" />  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{CompetencyKmpcontroller.renderPnlManPage}">               
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">                      
                            <div class="box-body ">                                
                                <div class="col-md-12" >  
                                    <div class="col-md-12" style="margn-top: 30px;">
                                        <div class="form-group">

                                            <p:dataTable id="tblCompetency"   value="#{CompetencyKmpcontroller.competencyDataModelknowledge}"
                                                         var="know" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                         selection="#{CompetencyKmpcontroller.selectedrow1}" rowKey="#{know.id}" 
                                                         rows="10" rowsPerPageTemplate="5,10,15"  paginator="true" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" process="@this" listener="#{CompetencyKmpcontroller.populateKnowledgeCompitency}"
                                                        update=":formkmp,:frmSample" />                                                    
                                                <p:column headerText="Department">
                                                    <h:outputText value="#{know.kmpId.deptId.depName}" />
                                                </p:column>
                                                <p:column headerText="KMP">
                                                    <h:outputText value="#{know.kmpId.jobId.jobTitle}" />
                                                </p:column>
                                                <p:column headerText="Competency Name">
                                                    <h:outputText value="#{know.competencyTypeId.competencyId.competencyName}" />
                                                </p:column>
                                                <p:column headerText="Competency Type">
                                                    <h:outputText value="#{know.competencyTypeId.competencyType}" />
                                                </p:column>
                                                <p:column headerText="Applicaple/Not Applicable" >
                                                    <h:outputText value="#{know.notApplicable}" />
                                                </p:column>
                                                <p:column headerText="Natural level attened">
                                                    <h:outputText value="#{know.natureLevelAttend}" />
                                                </p:column>
                                                <p:column headerText="In Month">
                                                    <h:outputText value="#{know.inmonth}" />
                                                </p:column>
                                            </p:dataTable>
                                            <p:dataTable style="margin-top: 40px" id="tblCompetency2"   value="#{CompetencyKmpcontroller.competencyDataModelskill}"
                                                         var="emp" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                         selection="#{CompetencyKmpcontroller.selectedrow}" rowKey="#{emp.id}" 
                                                         rows="10" rowsPerPageTemplate="5,10,15"  paginator="true" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" process="@this" listener="#{CompetencyKmpcontroller.populateSkillCompitency}"
                                                        update=":formkmp,:frmSample" />                                                    
                                                <p:column headerText="Department">
                                                    <h:outputText value="#{emp.kmpId.deptId.depName}" />
                                                </p:column>
                                                <p:column headerText="KMP">
                                                    <h:outputText value="#{emp.kmpId.jobId.jobTitle}" />
                                                </p:column>
                                                <p:column headerText="Competency Name">
                                                    <h:outputText value="#{emp.competencySubtypeId.competencyTypeId.competencyId.competencyName}" />
                                                </p:column>
                                                <p:column headerText="Competency Type">
                                                    <h:outputText value="#{emp.competencySubtypeId.competencyTypeId.competencyType}" />
                                                </p:column>
                                                <p:column headerText="Competency SubType">
                                                    <h:outputText value="#{emp.competencySubtypeId.competencySubtype}" />
                                                </p:column>
                                                <p:column headerText="Applicaple/Not Applicable" >
                                                    <h:outputText value="#{emp.notApplicable}" />
                                                </p:column>
                                                <p:column headerText="Nice TO Have">
                                                    <h:outputText value="#{emp.niceToHave}" />
                                                </p:column>
                                                <p:column headerText="Important TO Have">
                                                    <h:outputText value="#{emp.importantToHave}" />
                                                </p:column>
                                                <p:column headerText="Must Have">
                                                    <h:outputText value="#{emp.mustHave}" />
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch2345" rendered="#{CompetencyKmpcontroller.renderPnlCreateAdditional}">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-md-12"> 
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Knowledge Competency</h3>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-6">
                                        <div class="form-group form-group required  form-horizontal"> 
                                            <h:outputLabel for="txtCompname" class="control-label col-sm-4" value="KMP"/>
                                            <div class="col-sm-8"> 
                                                <p:selectOneMenu id="txtCompname" value="#{CompetencyKmpcontroller.hrSmKmp}"  style="width:100%" converter="entConverter"
                                                                 effect="fade"  filter="true" filterMatchMode="startsWith"  
                                                                 required="true" requiredMessage="Select KMP "
                                                                 valueChangeListener="#{CompetencyKmpcontroller.handleKMP}">
                                                    <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                    <f:selectItems id="sel1menu" value="#{CompetencyKmpcontroller.hrsmkmp12}" var="evaCriteria" itemValue="#{evaCriteria}" itemLabel="#{evaCriteria.jobId.jobTitle}" 
                                                                   itemDescription="#{evaCriteria.deptId.depName}"/>
                                                    <p:tooltip id="toolTipTrack" for="sel1menu" value="#{evaCriteria.deptId.depName}" trackMouse="true" />
                                                    <p:ajax update="@this" process="@this" event="change"/>
                                                </p:selectOneMenu>   
                                                <p:message for="txtCompname" display="icon"/>
                                            </div>                                                                 
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <p:dataTable style="margin-top: 50px" id="tblCriteria" value="#{CompetencyKmpcontroller.compList}" selectionMode="single"
                                                     rows="10" rowsPerPageTemplate="5,10,15"  paginator="true" paginatorPosition="bottom" styleClass="dataTable"
                                                     rowKey="#{currentRow}"  selection="#{CompetencyKmpcontroller.arraylisttype}"
                                                     var="currentRow" rowIndexVar="rowIndex" sortBy="#{currentRow.competencyType}">
                                            <p:ajax event="rowSelect" listener="#{CompetencyKmpcontroller.rowSelect}" process="@this,tblCriteria" update="@this,tblCriteria"/>
                                            <p:column headerText="Competency Name">
                                                <h:outputText value="#{currentRow.competencyId.competencyName}" />
                                            </p:column>
                                            <p:column headerText="Competency Type" >
                                                <h:outputText value="#{currentRow.competencyType}" />
                                            </p:column>
                                            <p:column headerText="Applicaple/Not Applicable" >
                                                <p:selectBooleanCheckbox id="sbcApplicapl" value="#{currentRow.applicapble}" >
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column headerText="Natural level attened">
                                                <p:inputText id="txtNatural" value="#{currentRow.naturalLevel}" placeholder="optional">
                                                </p:inputText>
                                            </p:column>
                                            <p:column headerText="In Month">
                                                <p:inputText id="txtInmonth" value="#{currentRow.inMonth}" placeholder="optional"  />

                                            </p:column>
                                        </p:dataTable>
                                        <h:panelGroup id="pnl56" class="col-sm-12">
                                            <div class="panel-body col-sm-12">
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-6">
                                                        <div class="col-sm-12 form-horizontal">
                                                            <div class="col-sm-4">                                                              
                                                            </div>                                                                    
                                                            <div class="col-sm-3">
                                                                <p:commandButton id="btnSave1" class="btn  btn-block btn-primary col-lg-4" 
                                                                                 value="#{CompetencyKmpcontroller.saveorupdatebutton}"
                                                                                 action="#{CompetencyKmpcontroller.saveKnowledgeCompetency()}" 
                                                                                 process="@this,:formkmp:pnlSearch2345,tblCriteria" 
                                                                                 update="@this,:formkmp:pnlSearch2345,tblCriteria"/>  
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-lg-4"  
                                                                                 action="#{CompetencyKmpcontroller.resetKnowledgeCompetency()}" 
                                                                                 process="@this,:formkmp:pnlSearch2345,tblCriteria"
                                                                                 update="@this,:formkmp:pnlSearch2345,tblCriteria"/>     
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </h:panelGroup>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup style="margin-left: 100px; margin-top: 10px;   border: 0px; background-color: transparent" id="pn123Search" rendered="#{CompetencyKmpcontroller.renderPnlCreateAdditional}">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-md-12"> 
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Skill Competency</h3>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-12 ">
                                        <p:dataTable style="margin-top: 10px" id="tblCriteria2" value="#{CompetencyKmpcontroller.compList1}"
                                                     styleClass="dataTable" selection="#{CompetencyKmpcontroller.arraylistsubtype}" 
                                                     editable="true"  rowKey="#{currentRow}" selectionMode="single"
                                                     rows="10" rowsPerPageTemplate="5,10,15"  paginator="true" paginatorPosition="bottom"
                                                     var="currentRow" rowIndexVar="rowIndex"  sortBy="#{currentRow.competencyTypeId.competencyType}">
                                            <p:ajax event="rowSelect" listener="#{CompetencyKmpcontroller.rowselect1}" process="@this,tblCriteria2" update="@this,tblCriteria2"/>
                                            <p:column headerText="Competency Name" >
                                                <h:outputText value="#{currentRow.competencyTypeId.competencyId.competencyName}" />
                                            </p:column>
                                            <p:column headerText="Competency Type"  >
                                                <h:outputText value="#{currentRow.competencyTypeId.competencyType}" />
                                            </p:column>  <p:column headerText="Competency SubType">
                                                <h:outputText value="#{currentRow.competencySubtype}" />
                                            </p:column>
                                            <p:column headerText="Applicaple/Not Applicable">
                                                <p:selectBooleanCheckbox value="#{currentRow.apllicable}" >
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column headerText="Nice To have">
                                                <p:selectBooleanCheckbox value="#{currentRow.nicetohave}"   >
                                                    <p:ajax listener="#{CompetencyKmpcontroller.hrSmSkillCompetency.addMessage3}"/>
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column headerText="Important to have">
                                                <p:selectBooleanCheckbox value="#{currentRow.importanttohave}"   >
                                                    <p:ajax listener="#{CompetencyKmpcontroller.hrSmSkillCompetency.addMessage5}"/>
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column headerText="Must have">
                                                <p:selectBooleanCheckbox value="#{currentRow.musthave}"  >
                                                    <p:ajax listener="#{CompetencyKmpcontroller.hrSmSkillCompetency.addMessage4}"/>
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                        </p:dataTable>
                                        <h:panelGroup id="pnl5" class="col-sm-12">
                                            <div class="panel-body col-sm-12">
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-6">
                                                        <div class="col-sm-12 form-horizontal">
                                                            <div class="col-sm-4">                                                              
                                                            </div>                                                                    
                                                            <div class="col-sm-3">
                                                                <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-lg-4" 
                                                                                 action="#{CompetencyKmpcontroller.saveSkillCompetency()}"
                                                                                 value="#{CompetencyKmpcontroller.saveorupdatebutton2}"
                                                                                 process="@this,:formkmp:pnlSearch2345,:formkmp:pn123Search,tblCriteria2" 
                                                                                 update="@this,:formkmp:pnlSearch2345,:formkmp:pn123Search,tblCriteria2"/>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p:commandButton id="btnReset1" value="Reset" class="btn  btn-block btn-primary col-lg-4"  
                                                                                 action="#{CompetencyKmpcontroller.resetSkillCompetency()}"  process="@this,:formkmp:pnlSearch2345,:formkmp:pn123Search,tblCriteria2" 
                                                                                 update="@this,:formkmp:pnlSearch2345,:formkmp:pn123Search,tblCriteria2"/>    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </h:panelGroup>
                                    </div>
                                </div> 
                            </div> 
                        </div> 
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>

