<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="navigaion_content">
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li> <a  href="keymanagerialposition.xhtml"> <i class="fa fa-circle-o"></i>Key Managerial Position</a></li>
        <li><a href="successor.xhtml"><i class="fa fa-circle-o"></i>Maintain Successor</a></li>
        <li><a href="maintiancompetency.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency </span></a></li>
        <li><a href="maintiancompetencytype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Type </span></a></li>
        <li><a href="maintiancompetencysubtype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency SubType </span></a></li>
        <li><a href="competencykmpprofile.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Profile </span></a></li>
        <li> <a href="successorEvaluation.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation</a></li> 
        <li> <a href="successorEvaluationApprovall.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation Approval</a></li>
        <li><a href="successionPlanning.xhtml"><i class="fa fa-circle-o"></i><span>Succession Planning</span></a></li>
        <li><a href="successionPlanningApproval.xhtml"><i class="fa fa-circle-o"></i> <span>Succession Planning Approve</span></a></li>    
    </ui:define>
    <ui:define name="contents">   
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnNew" validateClient="true" action="#{hrsmdevelopmentplancontroller.createNewAdditionalAmount()}" 
                                     icon="#{hrsmdevelopmentplancontroller.icone}" style="background-color: white; border-color: white" 
                                     process="@this" update=":frmRequest,:frmSample"
                                     title="#{hrsmdevelopmentplancontroller.createOrSearchBundle}"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <h:panelGroup id="pnlPlus"  rendered="#{hrsmdevelopmentplancontroller.btnNewRender}"> 
                        <p:commandButton validateClient="true" action="#{hrsmdevelopmentplancontroller.newButtonAction()}"
                                         icon="ui-icon-plus" style="background-color: white;border-color: white"  title="New record"
                                         process="@this" update=":frmRequest,:frmSample" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup> 
                    <a href="developmentplan.xhtml"><i class="fa fa-fw fa-refresh"></i> </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>           
        </h:form>
        <h:form id="frmRequest">
            <p:growl id="growl2" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{hrsmdevelopmentplancontroller.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" >Search ...</h3>
                            </div>
                            <div class="box-body">

                                <div class="col-sm-12">
                                    <div class="col-md-6"> 
                                        <div class="col-md-12">
                                            <div class="form-group form-horizontal"> 
                                                <div class="form-group">
                                                    <h:outputLabel class="control-label col-sm-4" value="Filter Criteria:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="somFiliterByStatus" style="width:100%" 
                                                                         value="#{hrsmdevelopmentplancontroller.hrSmSuccessionPlanDetails.status}"
                                                                         valueChangeListener="#{hrsmdevelopmentplancontroller.findByStatus}">
                                                            <f:selectItems value="#{hrsmdevelopmentplancontroller.populateFilterByStatus}"/>   
                                                            <p:ajax event="change" process="@this" update="tblCompetency"/>
                                                        </p:selectOneMenu>                                                                   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>                                    
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{hrsmdevelopmentplancontroller.renderPnlManPage}">               
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">                      
                            <div class="box-body ">                                
                                <div class="col-md-12" >  
                                    <div class="col-md-12" style="margn-top: 30px;">
                                        <div class="form-group">

                                            <p:dataTable id="tblCompetency"   value="#{hrsmdevelopmentplancontroller.hrsmplandetailmodel}"
                                                         var="emp" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                         selection="#{hrsmdevelopmentplancontroller.selectedRow}" rowKey="#{emp.id}" 
                                                         rows="10" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" process="@this" listener="#{hrsmdevelopmentplancontroller.populate}"
                                                        update=":frmRequest,:frmSample" />                                                    
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="employee name"/>                                                        
                                                    </f:facet>
                                                    <h:outputText  value="#{emp.successionPlanId.successorEvaluationId.empId.firstName}" />
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="course name"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.trainingId.courseName}"/>
                                                </p:column> 
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="status"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.status}" />
                                                </p:column> 
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup id="pnlMainpage" style="border: 0px; background-color: transparent" rendered="#{hrsmdevelopmentplancontroller.renderPnlCreateAdditional}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Development Plan</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <h:panelGroup id="pnl1" class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-12"> 
                                                    <div class="col-md-12 ">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-horizontal"> 
                                                                <h:outputLabel for="srcSuccessorName" value="Approved successor:" class="control-label col-sm-4"/> 
                                                                <div class="col-md-8">
                                                                    <p:selectOneMenu id="srcSuccessorName" value="#{hrsmdevelopmentplancontroller.hrSmSuccessionPlanDetails}"  style="width:100%" converter="entConverter"
                                                                                     effect="fade" valueChangeListener="#{hrsmdevelopmentplancontroller.display}"
                                                                                     required="true" requiredMessage="Select SuccessorName" filter="true" filterMatchMode="startsWith">
                                                                        <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                        <f:selectItems id="sel1menu" value="#{hrsmdevelopmentplancontroller.hrsmsuccessusdetailslist}" var="evaCriteria" itemValue="#{evaCriteria}"
                                                                                       itemLabel="#{evaCriteria.successionPlanId.successorEvaluationId.empId.firstName} #{evaCriteria.successionPlanId.successorEvaluationId.empId.middleName} #{evaCriteria.successionPlanId.successorEvaluationId.empId.lastName}"/>
                                                                        <p:ajax   process="@this" update="@this,developmentt,trainingg"  event="change" />
                                                                        <p:message for="srcSuccessorName" display="icon"/>
                                                                    </p:selectOneMenu> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>   
                                                    <h:panelGroup id="devtPlan" class="col-sm-12"> 
                                                        <div class="box-body">
                                                            <div class="box-body">
                                                                <div class="nav-tabs-custom">
                                                                    <ul class="nav nav-tabs" id="myTab">
                                                                        <li class="active" ><a data-toggle="tab" href="#devit">Development plan follow up</a></li>
                                                                        <li ><a data-toggle="tab" href="#training">Training</a></li>
                                                                    </ul>
                                                                    <div class="tab-content" id="maintab">
                                                                        <div class="tab-pane active" id="devit">
                                                                            <h:panelGroup id="developmentt">
                                                                                <section class="panel panel-default"  >
                                                                                    <section class="panel-body" > 
                                                                                        <div class="panel-body col-sm-12">
                                                                                            <div class="col-sm-12 textBoxMargin6px">
                                                                                                <div class="col-md-12">
                                                                                                    <div class="col-sm-6">
                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="txtSuccessorNameapp" value="Successor Strength:" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="txtSuccessorNameapp"  value="#{hrsmdevelopmentplancontroller.hrSmSuccessionPlans.successorStrength}" readonly="true"
                                                                                                                             required="true"  requiredMessage="fill successor strength"/>
                                                                                                            </div> 
                                                                                                        </div>
                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="development" value="Development plan:" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="development"  value="#{hrsmdevelopmentplancontroller.hrSmSuccessionPlans.developmentPlan}" readonly="true" 
                                                                                                                             required="true" requiredMessage="fill dev't" />
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="iblAdd" value="" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-3 textBoxMargin6px">
                                                                                                                <p:commandButton id="btnAdd" class="btn  btn-block btn-primary col-sm-3 " 
                                                                                                                                 value="Add" process="@this,developmentt"
                                                                                                                                 action="#{hrsmdevelopmentplancontroller.addAction()}" 
                                                                                                                                 update="@this,tblCompetency1233,developmentt" />   
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6">
                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="need" value="Development need:" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="need"  value="#{hrsmdevelopmentplancontroller.hrSmSuccessionPlans.developmentNeed}" readonly="true" required="true" 
                                                                                                                             requiredMessage="fill development need"/>
                                                                                                            </div> 
                                                                                                        </div>
                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="frame" value="Readiness time frame:" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="frame"  value="#{hrsmdevelopmentplancontroller.hrSmSuccessionPlans.readinessTimeFrame}" readonly="true" required="true" 
                                                                                                                             requiredMessage="fill readyness time"      />
                                                                                                            </div> 
                                                                                                        </div>                          
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </section>
                                                                                </section> 
                                                                            </h:panelGroup>     
                                                                        </div>
                                                                        <div class="tab-pane" id="training">
                                                                            <h:panelGroup id="trainingg">
                                                                                <section class="panel panel-default"  >
                                                                                    <section class="panel-body" > 
                                                                                        <div class="panel-body col-sm-12">
                                                                                            <div class="col-sm-12 textBoxMargin6px">
                                                                                                <div class="col-md-12">
                                                                                                    <div class="col-sm-6">
                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="trainingn" value="Training/cource name:" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="trainingn"  value="#{hrsmdevelopmentplancontroller.hrTdCourses.courseName}"
                                                                                                                             required="true"  readonly="true"
                                                                                                                             requiredMessage="fill training course name"/>

                                                                                                            </div> 
                                                                                                            <p:message for="trainingn" display="icon"/>
                                                                                                        </div>
                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="starting" value="Starting date:" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="starting" value="#{hrsmdevelopmentplancontroller.hrSmSuccessionPlanDetails.startDate}"
                                                                                                                             validator="#{validatorManagedBean.Date}"
                                                                                                                             onclick="displayCalendar('frmRequest:starting', 'frmRequest:starting');"
                                                                                                                             required="true" requiredMessage="enter starting date" title="start Date" class="form-control"/> 
                                                                                                                <p:message for="starting" display="icon"/>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="iblAddTrain" value="" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-3 textBoxMargin6px">
                                                                                                                <p:commandButton id="btnAddTrain" class="btn  btn-block btn-primary col-sm-3 " 
                                                                                                                                 value="Add" process="@this,developmentt"
                                                                                                                                 action="#{hrsmdevelopmentplancontroller.addAction()}" 
                                                                                                                                 update="@this,tblCompetency1233,developmentt" />   
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6">
                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="status" value="Status:" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:selectOneMenu id="status" value="#{hrsmdevelopmentplancontroller.hrSmSuccessionPlanDetails.status}" 
                                                                                                                                 required="true" class="col-sm-6" requiredMessage="Select Status" style="width: 100%" >
                                                                                                                    <f:selectItem itemLabel="Select One" itemValue=""/>
                                                                                                                    <f:selectItem itemLabel="Inactive" itemValue="Inactive"/>
                                                                                                                    <f:selectItem itemLabel="Active" itemValue="Active" />
                                                                                                                    <f:selectItem itemLabel="Cancelled" itemValue="Cancelled"/>
                                                                                                                    <f:selectItem itemLabel="Complete" itemValue="Complete"/>
                                                                                                                    <f:selectItem itemLabel="Failed" itemValue="Failed"/>
                                                                                                                </p:selectOneMenu>
                                                                                                                <p:message for="status" display="icon"/>
                                                                                                            </div> 
                                                                                                        </div>
                                                                                                        <div class="col-md-12">
                                                                                                            <h:outputLabel for="end" value="End date:" class="control-label col-sm-4"/> 
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="end" value="#{hrsmdevelopmentplancontroller.hrSmSuccessionPlanDetails.endDate}"
                                                                                                                             onclick="displayCalendar('frmRequest:end', 'frmRequest:end');" validator="#{validatorManagedBean.Date}"
                                                                                                                             required="true" requiredMessage="enter end Date" title="end Date" class="form-control"/> 
                                                                                                                <p:message for="end" display="icon"/>
                                                                                                            </div> 
                                                                                                        </div>                          
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </section>
                                                                                </section> 
                                                                            </h:panelGroup>     
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h:panelGroup>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup class="col-sm-12" style="border: 0px; background-color: transparent" id="pnladd">               
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class=" box-primary ">                      
                                                    <div class="box-body ">                                
                                                        <div class="col-md-12" >  
                                                            <div class="col-md-12" style="margn-top: 20px;">
                                                                <div class="form-group">
                                                                    <p:dataTable id="tblCompetency1233" value="#{hrsmdevelopmentplancontroller.plandetaillist}"
                                                                                 var="emp" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                                                 selection="#{hrsmdevelopmentplancontroller.selectedRow}" rowKey="#{emp.id}" 
                                                                                 rows="5" paginator="true" paginatorPosition="bottom">
                                                                        <p:ajax event="rowSelect" process="@this" listener="#{hrsmdevelopmentplancontroller.populate}"
                                                                                update=":frmRequest,:frmSample" />                                                    
                                                                        <p:column >
                                                                            <f:facet name="header">
                                                                                <h:outputText value="employee name"/>                                                        
                                                                            </f:facet>
                                                                            <h:outputText  value="#{emp.successionPlanId.successorEvaluationId.empId.firstName}" />
                                                                        </p:column>
                                                                        <p:column >
                                                                            <f:facet name="header">
                                                                                <h:outputText value="Training course name"/>
                                                                            </f:facet>
                                                                            <h:outputText value="#{emp.trainingId.courseName}"/>
                                                                        </p:column>
                                                                        <p:column >
                                                                            <f:facet name="header">
                                                                                <h:outputText value="Starting Date"/>
                                                                            </f:facet>
                                                                            <h:outputText value="#{emp.startDate}" />
                                                                        </p:column>
                                                                        <p:column >
                                                                            <f:facet name="header">
                                                                                <h:outputText value="End Date"/>
                                                                            </f:facet>
                                                                            <h:outputText value="#{emp.endDate}" />
                                                                        </p:column>
                                                                        <p:column >
                                                                            <f:facet name="header">
                                                                                <h:outputText value="status"/>
                                                                            </f:facet>
                                                                            <h:outputText value="#{emp.status}" />
                                                                        </p:column> 
                                                                    </p:dataTable>
                                                                </div>
                                                            </div>
                                                        </div>               
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup id="pnl5" class="col-sm-12">
                                        <div class="panel-body col-sm-12">
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="col-sm-12 form-horizontal">
                                                        <div class="col-sm-4">                                                              
                                                        </div>                                                                    
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-lg-4" 
                                                                             value="#{hrsmdevelopmentplancontroller.saveOrUpdateButton}"
                                                                             action="#{hrsmdevelopmentplancontroller.saveDevelopmentPlan()}"
                                                                             process="@this,:frmRequest:pnl1" update=":frmRequest,:frmSample" /> 
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-lg-4"  
                                                                             action="#{hrsmdevelopmentplancontroller.resetDevelopmentPlan()}"
                                                                             process="@this,:frmRequest:pnl1" update=":frmRequest" />  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
