<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="successor.xhtml"><i class="fa fa-circle-o"></i>Maintain Successor</a></li>
        <li><a href="maintiancompetency.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency </span></a></li>
        <li><a href="maintiancompetencytype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Type </span></a></li>
        <li><a href="maintiancompetencysubtype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency SubType </span></a></li>
        <li><a href="competencykmpprofile.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Profile </span></a></li>
        <li> <a href="successorEvaluation.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation</a></li> 
        <li> <a href="successorEvaluationApprovall.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation Approval</a></li>
        <li><a href="successionPlanning.xhtml"><i class="fa fa-circle-o"></i><span>Succession Planning</span></a></li>
        <li><a href="successionPlanningApproval.xhtml"><i class="fa fa-circle-o"></i> <span>Succession Planning Approve</span></a></li> 
        <li><a href="developmentplan.xhtml"><i class="fa fa-circle-o"></i> <span>Development plan  </span></a></li>    
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton validateClient="true" action="#{KMPControllers.createNewView()}"
                                     icon="#{KMPControllers.icone}"  style="background-color: white; border-color: white"
                                     title="#{KMPControllers.createOrSearchBundle}" process="@this" update="@this,:frmMainUI"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <h:panelGroup id="pnlPlus"  rendered="#{KMPControllers.btnNewRender}"> 
                        <p:commandButton validateClient="true" action="#{KMPControllers.newButtonAction()}"
                                         icon="ui-icon-plus" style="background-color: white;border-color: white"  title="New record"
                                         process="@this" update=":frmSample,:frmMainUI" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <a href="../../hrms/succession/keymanagerialposition.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <p:growl id="growl"  autoUpdate="true" severity="information,fatal" showDetail="true"/>
            <h:panelGroup id="pnlSearch" rendered="#{KMPControllers.renderPnlManPage}" style="border: 0px; background-color: transparent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-header with-border" >
                                <h3 class="box-title">Search <small>...</small></h3>
                            </div>
                            <div class="box-body">
                                <div class="row"> 
                                    <div class="col-md-12" > 
                                        <h:panelGroup id="pnlsearchkmp" style="border: 0px; background-color: transparent"  rendered="#{KMPControllers.renderPnlManPage}"> 
                                            <div class="col-md-12">
                                                <div class="form-horizontal col-sm-12">
                                                    <div class="box-body ">
                                                        <div class="box-body ">
                                                            <div class="col-sm-6">                
                                                                <h:outputLabel  for="deptsearchtxt" class="control-label col-sm-4" value="Department"/>
                                                                <div class="col-sm-8"> 
                                                                    <p:selectOneMenu id="deptsearchtxt" style="width: 100%"  value="#{KMPControllers.hrSmKmp.deptId}" 
                                                                                     valueChangeListener="#{KMPControllers.findListByDepartmentName}" converter="entConverter" required="true" requiredMessage="Select Criteria Name">  
                                                                        <f:selectItem itemLabel="-- Select --" itemValue=""  />
                                                                        <f:selectItems  value="#{KMPControllers.allDepartmentsList}" var="dept"  itemValue="#{dept}" itemLabel="#{dept}"/>                                                                                                         
                                                                        <p:ajax event="change" process="@this,deptsearchtxt" update="frmMainUI:pnlsearchkmp,kmptbl" />
                                                                        <p:message for="deptsearchtxt" display="icon"/>  
                                                                    </p:selectOneMenu>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <h:outputLabel for="positionsearch" class="control-label col-sm-4"   value="KeY mamagerial Position "/>  
                                                                <div class="col-sm-8" > 
                                                                    <p:selectOneMenu id="positionsearch" style="width: 100%"  value="#{KMPControllers.hrSmKmp.id}" 
                                                                                     valueChangeListener="#{KMPControllers.SearchByPositionName}" converter="entConverter" required="true" requiredMessage="Select Criteria Name">  
                                                                        <f:selectItem itemLabel="-- Select --" itemValue=""  />
                                                                        <f:selectItems  value="#{KMPControllers.allkmps}" var="kmp"  itemValue="#{kmp.id}" itemLabel="#{kmp.jobId.jobTitle}"/>                                                                                                         
                                                                        <p:ajax event="change" process="@this,positionsearch" update="kmptbl" />
                                                                        <p:message for="positionsearch" display="icon"/>  
                                                                    </p:selectOneMenu>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </h:panelGroup>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{KMPControllers.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">                      
                            <div class="box-body ">                                
                                <div class="col-md-12" >  
                                    <div class="col-md-12" style="margn-top: 30px;">
                                        <div class="form-group">
                                            <p:dataTable id="kmptbl" rowIndexVar="num" selectionMode="single"  class="dataTable" 
                                                         value="#{KMPControllers.kmpListDataModel}" var="kmp" rowKey="#{kmp.id}"   
                                                         rows="10" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom" 
                                                         editable="true" selection="#{KMPControllers.hrSmKmp}" >
                                                <p:ajax event="rowSelect" process="@this,kmptbl" listener="#{KMPControllers.KMP_vcl}" update=":frmMainUI,:frmSample" /> 
                                                <p:column  >
                                                    <f:facet name="header">
                                                        <h:outputText value="Key managerial position"/>                                                        
                                                    </f:facet>
                                                    <h:outputText value="#{kmp.jobId.jobTitle}" />
                                                </p:column>
                                                <p:column  >
                                                    <f:facet name="header">
                                                        <h:outputText value="Department"/>                                                        
                                                    </f:facet>
                                                    <h:outputText value="#{kmp.deptId.depName}"  />
                                                </p:column>

                                                <p:column  >
                                                    <f:facet name="header">
                                                        <h:outputText value="Number of employee"/>                                                        
                                                    </f:facet>
                                                    <h:outputText value="#{kmp.jobId.noEmpNeeded}" />
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Job grade"/>                                                        
                                                    </f:facet>
                                                    <h:outputText value="#{kmp.jobId.jobGradeId.description}" />
                                                </p:column>
                                            </p:dataTable> 
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>


            <h:panelGroup  id="pnlMain" style="border: 0px; background-color: transparent"  rendered="#{KMPControllers.renderPnlCreateGatePass}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Key Managerial position</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <div class="box-body">
                                        <div class="box-body">
                                            <h:panelGroup id="pnl1" class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6"> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal ">
                                                                    <h:outputLabel for="txtDepartment" class="control-label col-sm-4" value="Department :"/> 
                                                                    <div class="col-sm-7">
                                                                        <p:inputText id="txtDepartment" value="#{KMPControllers.hrDepartments.depName}"
                                                                                     required="true" requiredMessage="select department" onmousedown="return false;" placeholder="Please Use + Button Only"/>
                                                                        <p:message for="txtDepartment" display="icon"/>
                                                                    </div>
                                                                    <div class="col-sm-1">
                                                                        <p:commandButton  onclick="PF('dlgDpt').show();" id="btnTree" partialSubmit="true" style="background: transparent;" value="+"/>
                                                                    </div>                                                                  
                                                                </div>
                                                            </div> 
                                                            <p:dialog id="dlgDpt" header="Departments" position="center" widgetVar="dlgDpt" height="300" width="500" showEffect="explode">
                                                                <h:panelGroup id="selectdept" >
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="box-body"> 
                                                                                    <h:panelGrid columns="3" style="border-color: #ffffff ">
                                                                                        <p:tree id="deptTree" value="#{KMPControllers.root}" var="nodes" style="border: transparent; width: 100%"
                                                                                                selectionMode="single" selection="#{KMPControllers.selectedNode}" >
                                                                                            <p:ajax event="select" listener="#{KMPControllers.onNodeSelect}" process="@this" 
                                                                                                    update=":frmMainUI,:frmMainUI:txtJob"/>
                                                                                            <p:treeNode>                                                                                                    
                                                                                                <h:outputText value="#{nodes}" />
                                                                                            </p:treeNode>
                                                                                        </p:tree>                                       
                                                                                    </h:panelGrid>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </h:panelGroup>
                                                            </p:dialog> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtJob" class="control-label col-sm-4" value="Job Title:"/>  
                                                                    <div class="col-sm-8"> 
                                                                        <p:selectOneMenu   id="txtJob"  style="width:100%"   value="#{KMPControllers.hrJobTypes}" converter="entConverter" required="true" requiredMessage="Select job">  
                                                                            <f:selectItem  itemLabel="--- Select ---" itemValue=""/>
                                                                            <f:selectItems   value="#{KMPControllers.hrJobTypesList}" var="jobId"  itemValue="#{jobId}"  itemLabel="#{jobId.jobTitle}" />                                                              
                                                                        </p:selectOneMenu>
                                                                        <p:message for="txtJob" display="icon"/>
                                                                    </div>                                                                                                                              
                                                                </div>                                                                                          
                                                            </div>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup id="pnl56" >
                                                <div class="panel-body col-sm-12">
                                                    <div class="form-group col-sm-12">
                                                        <div class="col-sm-6">
                                                            <div class="col-sm-12 form-horizontal">
                                                                <div class="col-sm-4"></div>                                           
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-sm-2"
                                                                                     value="#{KMPControllers.saveorUpdateBundle}"
                                                                                     action="#{KMPControllers.saveKeyManagerialPosition}"
                                                                                     process="@this,pnl1" update=":frmMainUI"/>
                                                                </div>  
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnRest" value="Reset" class="btn  btn-block btn-primary col-sm-2"                                             
                                                                                     action="#{KMPControllers.clean}"
                                                                                     process="@this"  update=":frmMainUI" /> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>

                                        </div>
                                    </div>
                                </div>   
                            </div>
                            <div class="box-footer ">
                            </div>
                        </div>                   
                    </div>
                </div>
            </h:panelGroup>
        </h:form>  
    </ui:define>
</ui:composition>

