<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content"> 
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li> <a  href="keymanagerialposition.xhtml"> <i class="fa fa-circle-o"></i>Key Managerial Position</a></li>
        <li><a href="successor.xhtml"><i class="fa fa-circle-o"></i>Maintain Successor</a></li>
        <li><a href="maintiancompetencytype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Type </span></a></li>
        <li><a href="maintiancompetencysubtype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency SubType </span></a></li>
        <li><a href="competencykmpprofile.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Profile </span></a></li>
        <li> <a href="successorEvaluation.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation</a></li> 
        <li> <a href="successorEvaluationApprovall.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation Approval</a></li>
        <li><a href="successionPlanning.xhtml"><i class="fa fa-circle-o"></i><span>Succession Planning</span></a></li>
        <li><a href="successionPlanningApproval.xhtml"><i class="fa fa-circle-o"></i> <span>Succession Planning Approve</span></a></li> 
        <li><a href="developmentplan.xhtml"><i class="fa fa-circle-o"></i> <span>Development plan  </span></a></li>    
    </ui:define>
    <ui:define name="contents">   
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnNew" validateClient="true" action="#{hrCompetencyController.createNewAdditionalAmount()}" 
                                     icon="#{hrCompetencyController.icone}" style="background-color: white; border-color: white"
                                     process="@this" update=":frmRequest,:frmSample"
                                     title="#{hrCompetencyController.createOrSearchBundle}"/>
                    <span class="ui-separator">
                    </span>
                    <h:panelGroup id="pnlPlus"  rendered="#{hrCompetencyController.btnNewRender}"> 
                        <p:commandButton validateClient="true" action="#{hrCompetencyController.newButtonAction()}"
                                         icon="ui-icon-plus" style="background-color: white;border-color: white"  title="New record"
                                         process="@this" update=":frmRequest,:frmSample" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <a href="maintiancompetency.xhtml"><i class="fa fa-fw fa-refresh"></i> </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>           
        </h:form>
        <h:form id="frmRequest">
            <p:growl id="growl2" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{hrCompetencyController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" >Search ...</h3>
                            </div>
                            <div class="box-body">

                                <div class="col-sm-12">
                                    <div class="col-md-6"> 
                                        <div class="col-md-12 ">
                                            <div class="form-group form-horizontal"> 
                                                <h:outputLabel value="#{ambundle.competencyName}" class="col-md-4 control-label" />
                                                <div class="col-md-8 textBoxMargin6px">
                                                    <p:inputText id="txtSrchCompetencyName" value="#{hrCompetencyController.hrSmCompetency.competencyName}" />
                                                    <p:message for="txtSrchCompetencyName" display="icon"/>
                                                </div>                                                                    
                                            </div>
                                            <div class="form-group form-horizontal"> 
                                                <h:outputLabel value="" class="col-md-4 control-label" />
                                                <div class="col-md-8 textBoxMargin6px">
                                                    <p:commandButton id="btnSearch" class="btn btn-primary"  icon="ui-icon-search"  value="#{ambundle.Find}" 
                                                                     action="#{hrCompetencyController.findByCompetencyName()}" 
                                                                     process="@this,txtSrchCompetencyName"   update="tblCompetency" />  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>                                    
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{hrCompetencyController.renderPnlManPage}">               
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">                      
                            <div class="box-body ">                                
                                <div class="col-md-12" >  
                                    <div class="col-md-12" style="margn-top: 30px;">
                                        <div class="form-group">

                                            <p:dataTable id="tblCompetency"   value="#{hrCompetencyController.competencyDataModel}"
                                                         var="emp" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                         selection="#{hrCompetencyController.selectedRow}" rowKey="#{emp.id}" 
                                                         rows="10" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" process="@this" listener="#{hrCompetencyController.populate}"
                                                        update=":frmRequest,:frmSample" />                                                    
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="#{ambundle.competencyName}"/>                                                        
                                                    </f:facet>
                                                    <h:outputText  value="#{emp.competencyName}" />
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="#{ambundle.Description}"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.description}" />
                                                </p:column>    
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup id="pnlMainpage" style="border: 0px; background-color: transparent" rendered="#{hrCompetencyController.renderPnlCreateAdditional}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Competency</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <div class="box-body">
                                        <div class="box-body">
                                            <h:panelGroup id="pnl1" class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6"> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal ">
                                                                    <h:outputLabel value="#{ambundle.competencyName}" class="col-md-4 control-label" />
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtCompetencyName" validator="#{validatorManagedBean.Text}" validatorMessage="please enter text only" value="#{hrCompetencyController.hrSmCompetency.competencyName}"
                                                                                     required="true" requiredMessage="enter competency name" class="form-control" 
                                                                                     onchange="this.value = this.value.trim()"  >
                                                                        </p:inputText>
                                                                        <p:message for="txtCompetencyName" display="icon"/>
                                                                    </div>                                                                    
                                                                </div>
                                                            </div>   
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel value="#{ambundle.Description}" class="col-md-4 control-label" />
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtDescription"  validator="#{validatorManagedBean.Remark}" value="#{hrCompetencyController.hrSmCompetency.description}" class="form-control"   >
                                                                        </p:inputText>
                                                                        <p:message for="txtDescription" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup id="pnl56" >
                                                <div class="panel-body col-sm-12">
                                                    <div class="form-group col-sm-12">
                                                        <div class="col-sm-6">
                                                            <div class="col-sm-12 form-horizontal">
                                                                <div class="col-sm-4"></div>                                           
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-lg-4" 
                                                                                     value="#{hrCompetencyController.saveOrUpdateButton}"
                                                                                     action="#{hrCompetencyController.saveCompetency()}"
                                                                                     process="@this,:frmRequest:pnl1"
                                                                                     update=":frmRequest" /> 
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-lg-4"  
                                                                                     action="#{hrCompetencyController.resetCompetency()}"
                                                                                     process="@this" 
                                                                                     update=":frmRequest"  />  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>

                                        </div>
                                    </div>
                                </div>   
                            </div>
                            <div class="box-footer ">
                            </div>
                        </div>                   
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
