<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li> <a  href="keymanagerialposition.xhtml"> <i class="fa fa-circle-o"></i>Key Managerial Position</a></li>
        <li><a href="successor.xhtml"><i class="fa fa-circle-o"></i>Maintain Successor</a></li>
        <li><a href="maintiancompetency.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency </span></a></li>
        <li><a href="maintiancompetencytype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Type </span></a></li>
        <li><a href="maintiancompetencysubtype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency SubType </span></a></li>
        <li><a href="competencykmpprofile.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Profile </span></a></li>
        <li> <a href="successorEvaluation.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation</a></li> 
        <li> <a href="successorEvaluationApprovall.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation Approval</a></li>
        <li><a href="successionPlanning.xhtml"><i class="fa fa-circle-o"></i><span>Succession Planning</span></a></li> 
        <li><a href="developmentplan.xhtml"><i class="fa fa-circle-o"></i> <span>Development plan  </span></a></li>    
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmTop"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton  id="btnNew" action="#{SuccessionplanApproveController.createNewAdditionalAmount()}" 
                                      icon="#{SuccessionplanApproveController.icone}" validateClient="true"
                                      style="background-color: white; border-color: white"
                                      process="@this" update="@this,:frmSuccessionplan,:frmTop"
                                      title="#{SuccessionplanApproveController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <h:panelGroup id="pnlGNotifica">
                        <span  class="NotificationText"> #{SuccessionplanApproveController.sucessionRequestList.size()} </span>
                        <p:commandLink id="cmdLinkNotf" class="fa fa-fw fa-bell" title="Notification" />
                        <p:overlayPanel widgetVar="widNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 550px">
                            <p:outputLabel id="lblReqNotf" value="Evaluated List"/>
                            <div class="col-md-12 textBoxMargin6px">  
                                <div class="form-group">
                                    <p:dataTable id="tblnotification" value="#{SuccessionplanApproveController.sucessionRequestList}"
                                                 var="res" selectionMode="single" rowIndexVar="num" rows="10" paginator="true" paginatorPosition="bottom"
                                                 selection="#{SuccessionplanApproveController.hrSmSuccessionPlans}" rowKey="#{res.id}" class="dataTable">
                                        <p:ajax event="rowSelect" listener="#{SuccessionplanApproveController.poplateNotification}"
                                                process="@this,tblnotification" update=":frmSuccessionplan,:frmTop"/>
                                        <p:column headerText="No.">
                                            <h:outputText value="#{num + 1}"/>
                                        </p:column>
                                        <p:column headerText="Employee Name" filterMatchMode="startsWith" filterBy="#{res.successorEvaluationId.empId.firstName}">
                                            <h:outputText value="#{res.successorEvaluationId.empId.firstName} 
                                                          #{res.successorEvaluationId.empId.middleName} #{res.successorEvaluationId.empId.lastName}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Current Position" />
                                            </f:facet>
                                            <h:outputText value="#{res.successorEvaluationId.empId.jobId}"/> 
                                        </p:column>
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="Proposed Position" />
                                            </f:facet>
                                            <h:outputText value="#{res.successorEvaluationId.kmpId.jobId.jobTitle}"/> 
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div> 
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="pnlworkflowIcon">
                        <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-gear" 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWf" value="#{SuccessionplanApproveController.workflowDataModel}" rowIndexVar="num" var="wfVar" 
                                                                 rows="10" paginator="true" paginatorPosition="bottom" >
                                                        <p:column headerText="S/N" width="60">
                                                            <h:outputText value="#{num+1}"/>
                                                        </p:column> 
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{wfVar.processedBy}" /> 
                                                        </p:column>
                                                        <p:column headerText="Decision">
                                                            <h:outputText value="#{wfVar.changedStstus}"/> 
                                                        </p:column>
                                                        <p:column headerText="Processed On">
                                                            <h:outputText value="#{wfVar.processedOn}" /> 
                                                        </p:column>
                                                        <p:column headerText="Comment Given">
                                                            <h:outputText value="#{wfVar.commentGiven}" /> 
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <a href="../../hrms/succession/successionPlanningApproval.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>
        </h:form>  
        <h:form id="frmSuccessionplan"> 
            <p:growl id="growl2" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{SuccessionplanApproveController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">  
                            <div class="box-header with-border">                                
                                <h2 class="box-title"><h:outputLabel id="frmsuccosion" value="#{SuccessionplanApproveController.headerTitle}" /></h2>
                            </div>
                            <div class="box-body">    
                                <div class="col-md-12" >                                        
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">                                           
                                            <div class="form-horizontal col-md-12">
                                                <div class="form-group">
                                                    <h:outputLabel for="drdsJob" class="control-label col-sm-4" value="Filter Criteria:"/>  
                                                    <div class="col-sm-6">                                                       
                                                        <p:selectOneMenu id="drdsJob" style="width:100%"
                                                                         valueChangeListener="#{SuccessionplanApproveController.filiterByAproveStatus}">
                                                            <f:selectItems value="#{SuccessionplanApproveController.filterByAproveStatus}"/>   
                                                            <p:ajax event="change" process="@this" update=":frmSuccessionplan:tblKmpList"/>
                                                        </p:selectOneMenu>
                                                    </div>   
                                                </div>
                                            </div>                                                
                                        </div>
                                    </div>   
                                </div> 
                                <div class="col-md-12">  
                                    <div class="col-md-12" style="margin-top:30px;">
                                        <div class="form-group">
                                            <p:dataTable id="tblKmpList" value="#{SuccessionplanApproveController.hrTdAproveDataModel}"
                                                         var="currentRow" selectionMode="single" rowIndexVar="num" class="dataTable" rows="10" rowsPerPageTemplate="5,10,15" paginator="true"
                                                         selection="#{SuccessionplanApproveController.hrSmSuccessionPlans}" rowKey="#{currentRow}" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" listener="#{SuccessionplanApproveController.onRowEdit}"
                                                        process="@this,tblKmpList" update=":frmSuccessionplan,:frmTop,:frmSuccessionplan:drdstatus"/>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Employee Name"/>
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.successorEvaluationId.empId}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Department"/>
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.successorEvaluationId.empId.deptId.depName}"/> 
                                                </p:column> 
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Current Position" />
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.successorEvaluationId.empId.jobId}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Job Grade" />
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.successorEvaluationId.empId.gradeId.description}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Proposed Position" />
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.successorEvaluationId.kmpId.jobId.jobTitle}"/> 
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSucceassorAll" rendered="#{SuccessionplanApproveController.renderPnlCreateGatePass}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary "> 
                            <!-- /.box-header --> 
                            <h3 class="box-title" style="margin-left: 5px;">Succession Planning Approval</h3>
                            <div class="box-body ">
                                <div class="box-body ">         
                                    <div class="nav-tabs-custom">
                                        <div class="tab-content" id="maintab">
                                            <div class="tab-pane active" id="tabPersonal">
                                                <section class="panel panel-info"  >
                                                    <section class="panel-body" >  
                                                        <h:panelGroup id="pnl1" class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-md-12">                      
                                                                    <div class="box-body"> 
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="txtSuccessor" class="col-md-4 control-label" value="Successor Name:" />
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputText id="txtSuccessor" value="#{SuccessionplanApproveController.hrEmployees.firstName}" readonly="true"/>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="txtKmp" class="col-md-4 control-label" value="KMP:" />
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputText id="txtKmp" value="#{SuccessionplanApproveController.hrJobTypes.jobTitle}" readonly="true"/>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="txtGrade" class="col-md-4 control-label" value="Grade:" />
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputText id="txtGrade"  value="#{SuccessionplanApproveController.hrLuGrades.grade}" readonly="true"/>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="txtDepartment" class="col-md-4 control-label" value="Department:" />
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputText id="txtDepartment"  value="#{SuccessionplanApproveController.hrDepartments.depName}" readonly="true"/>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                    </section>
                                                </section>
                                                <section class="panel panel-info"  >
                                                    <section class="panel-body" >  
                                                        <h:panelGroup id="pnlTextarea" class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-md-12">                      
                                                                    <div class="box-body"> 
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="txtaStrength" class="col-md-4 control-label" value="Successor Strength:" />
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputTextarea id="txtaStrength"  value="#{SuccessionplanApproveController.hrSmSuccessionPlans.successorStrength}" readonly="true"/>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel value="Development Plan:" class="col-md-4 control-label"/>
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputTextarea id="txtDevelop"  value="#{SuccessionplanApproveController.hrSmSuccessionPlans.developmentPlan}" 
                                                                                                         readonly="true"/>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="txtReadiness" class="control-label col-sm-4" value="Readiness Time Frame:"/>
                                                                                    <div class="col-sm-8">                                                       
                                                                                        <p:inputText id="txtReadiness" value="#{SuccessionplanApproveController.hrSmSuccessionPlans.readinessTimeFrame}" 
                                                                                                     readonly="true" />
                                                                                    </div>     
                                                                                </div>
                                                                            </div> 
                                                                        </div>
                                                                        <div class="col-sm-6">  
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="txtaneed" class="col-md-4 control-label" value="Development Needs:" />
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputTextarea id="txtaneed" requiredMessage="please fill the field" value="#{SuccessionplanApproveController.hrSmSuccessionPlans.developmentNeed}" 
                                                                                                         title="Development Need" readonly="true"/>
                                                                                    </div> 
                                                                                    <p:message for="txtaneed" display="icon"/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="txtaremark" class="col-md-4 control-label" value="Remark:" />
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputTextarea id="txtaremark" value="#{SuccessionplanApproveController.hrSmSuccessionPlans.remark}" readonly="true"/>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                        </div>       
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                    </section>
                                                </section>
                                                <section class="panel panel-info">
                                                    <section class="panel-body">  
                                                        <h:panelGroup id="pnlTable1" style="border: 0px; background-color: transparent" >
                                                            <div class="row">
                                                                <div class="col-md-12">                      
                                                                    <div class="box-body">    
                                                                        <div class="col-md-12">  
                                                                            <div class="col-md-12" style="margin-top:10px;">
                                                                                <div class="form-group">
                                                                                    <p:dataTable id="tbltime" rowIndexVar="index" selectionMode="single"  class="control-label" 
                                                                                                 value="#{SuccessionplanApproveController.planDetailDataModel}" var="date1" rowKey="#{date1.id}"   
                                                                                                 rows="5" paginator="true" paginatorPosition="bottom" 
                                                                                                 editable="false" selection="#{SuccessionplanApproveController.arraylisttype}">
                                                                                        <p:column>
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Training/Course Name"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{date1.trainingId.courseName}"/> 
                                                                                        </p:column>
                                                                                        <p:column >
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Start Time"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{date1.startDate}"/> 
                                                                                        </p:column>
                                                                                        <p:column >
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="End Time" />
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{date1.endDate}"/> 
                                                                                        </p:column>
                                                                                    </p:dataTable>
                                                                                </div>
                                                                            </div>
                                                                        </div>               
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                    </section>
                                                </section>
                                                <section class="panel panel-info">
                                                    <section class="panel-body">  
                                                        <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-md-12">                      
                                                                    <div class="box-body"> 
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal form-group required">
                                                                                    <h:outputLabel  value="Decision: " class="col-md-4 control-label" title="Decision"/> 
                                                                                    <div class="col-md-8">
                                                                                        <p:selectOneMenu id="drdstatus" value="#{SuccessionplanApproveController.hrSmSuccessionPlans.status}"
                                                                                                         valueChangeListener="#{SuccessionplanApproveController.handleselectOptions}" converter="entConverter"
                                                                                                         required="true"  requiredMessage="Select Status" style="width: 100%">
                                                                                            <f:selectItem itemLabel="--- Select ---" />
                                                                                            <f:selectItem itemLabel="Approve" itemValue="1" />
                                                                                            <f:selectItem itemLabel="Reject" itemValue="2"/>                                                    
                                                                                        </p:selectOneMenu>
                                                                                        <p:message for="drdstatus" display="icon"/>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal form-group">
                                                                                    <p:outputLabel  for="txtComment" class="control-label col-sm-4"
                                                                                                    value="Comment Given:"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputTextarea id="txtComment" class="form-control"  value="#{SuccessionplanApproveController.wfHrProcessed.commentGiven}" 
                                                                                                         title="Remark"  required="false"  requiredMessage="Enter Plan" 
                                                                                                         validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only"
                                                                                                         onchange="this.value = this.value.trim()"/>
                                                                                    </div>  
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal form-group required">
                                                                                    <p:outputLabel  for="txtApproved" class="control-label col-sm-4"
                                                                                                    id="lblApproved" value="Processed Date:" />
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtApproved"  readonly="true"  placeholder="dd/mm/yyyy"
                                                                                                     value="#{SuccessionplanApproveController.wfHrProcessed.processedOn}"  
                                                                                                     title="date"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal form-group">
                                                                                    <p:outputLabel  for="txtprey1" class="control-label col-sm-4"
                                                                                                    id="lblPrepatedy1" value="Processed By:"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText  id="txtprey1"   
                                                                                                      value="#{workFlow.userName}"  
                                                                                                      title="descripition"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                    </section>
                                                </section>
                                                <h:panelGroup id="pnlSave">
                                                    <div class="panel-body col-sm-12">
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-sm-6">
                                                                <div class="col-sm-12 form-horizontal">
                                                                    <div class="col-sm-4">                                                              
                                                                    </div>                                                                    
                                                                    <div class="col-sm-3">
                                                                        <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-lg-4" 
                                                                                         value="Save"
                                                                                         action="#{SuccessionplanApproveController.saveSuccessionPlanningApprove()}"
                                                                                         process="@this,pnlworkflow,pnlTextarea,pnlTable1"                                       
                                                                                         update=":frmSuccessionplan"/>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-lg-4"                                             
                                                                                         action="#{SuccessionplanApproveController.resetSuccessionPlaning()}"
                                                                                         process="@this" 
                                                                                         update=":frmSuccessionplan"/> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h:panelGroup>                                                      
                                            </div>  
                                        </div>
                                    </div>                           
                                </div>  
                            </div>
                        </div>                   
                    </div>
                </div>
            </h:panelGroup>                           
        </h:form>
    </ui:define>
</ui:composition>

