<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li> <a  href="keymanagerialposition.xhtml"> <i class="fa fa-circle-o"></i>Key Managerial Position</a></li>
        <li><a href="successor.xhtml"><i class="fa fa-circle-o"></i>Maintain Successor</a></li>
        <li><a href="maintiancompetency.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency </span></a></li>
        <li><a href="maintiancompetencytype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Type </span></a></li>
        <li><a href="maintiancompetencysubtype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency SubType </span></a></li>
        <li><a href="competencykmpprofile.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Profile </span></a></li>
        <li> <a href="successorEvaluation.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation</a></li> 
        <li><a href="successionPlanning.xhtml"><i class="fa fa-circle-o"></i><span>Succession Planning</span></a></li>
        <li><a href="successionPlanningApproval.xhtml"><i class="fa fa-circle-o"></i> <span>Succession Planning Approve</span></a></li> 
        <li><a href="developmentplan.xhtml"><i class="fa fa-circle-o"></i> <span>Development plan  </span></a></li>    
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlWfIcon"  rendered="#{SuccessorEvaluationControllers.pnlrWfIcon}">
                        <p:outputLabel id="lblNotwf" value="" class="fa fa-fw fa-gear"   style="color: #245269" />
                    </h:panelGroup>
                    <p:overlayPanel widgetVar="lblNotwf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="lblNotwf"
                                    class="col-md-4" style="height: 300px; width: 450px">
                        <div class="box-body">
                            <div class="col-md-12">                                       
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p:dataTable id="tblHistory" value="#{SuccessorEvaluationControllers.workFlowDataModel}"
                                                     var="WF" class="dataTable" rowKey="#{WF.workflowId}" widgetVar="tblNeedRequestDetail"
                                                     rowIndexVar="num" editable="true">      
                                            <p:column headerText="No." style="width:40px">
                                                <h:outputText value="#{num + 1}"/>
                                            </p:column>                                                                
                                            <p:column headerText="Processed By">
                                                <h:outputText value="#{WF.processedBy}"/>
                                            </p:column>
                                            <p:column headerText="Prepared On">
                                                <h:outputText value="#{WF.processedOn}"/>
                                            </p:column>
                                            <p:column headerText="Comment Given">
                                                <h:outputText value="#{WF.commentGiven}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </p:overlayPanel>
                    <span  class="NotificationText"> #{SuccessorEvaluationControllers.requestNotificationCounter1} </span>
                    <p:commandLink id="cmdLinkNotf" class="fa fa-fw fa-bell" title="Notification" />
                    <p:overlayPanel widgetVar="widNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                    class="col-md-4" style="height: 550px">
                        <div class="box-body">
                            <div class="col-md-12">                                       
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <p:dataTable id="succtbl"     rowIndexVar="num" selectionMode="single"  class="dataTable" 
                                                     value="#{SuccessorEvaluationControllers.successorListDataModel}" var="succ" rowKey="#{succ.id}"   
                                                     rows="10" editable="true" selection="#{SuccessorEvaluationControllers.hrSmSuccessorEvaluation}" >
                                            <p:ajax event="rowSelect" process="@this,succtbl" listener="#{SuccessorEvaluationControllers.Successor_evaluation_approval}" update=":frmMainUI:pnlSearch,:frmSample" /> 

                                            <p:column headerText=" Successor Name"  filterMatchMode="in" filterBy="#{succ.empId.firstName}">
                                                <h:outputText value="#{succ.empId.firstName} #{succ.empId.middleName} #{succ.empId.lastName}"/>
                                            </p:column> 
                                            <p:column  >
                                                <f:facet name="header">
                                                    <h:outputText value="Key managerial position"/>                                                        
                                                </f:facet>
                                                <h:outputText value="#{succ.kmpId.jobId.jobTitle}" />
                                            </p:column>
                                            <p:column  >
                                                <f:facet name="header">
                                                    <h:outputText value="Department"/>                                                        
                                                </f:facet>
                                                <h:outputText value="#{succ.kmpId.deptId.depName}"  />
                                            </p:column>


                                        </p:dataTable> 
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/succession/successorEvaluationApprovall.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <p:growl id="growl"  autoUpdate="true" severity="information,fatal" showDetail="true"/>
            <h:panelGroup id="pnlSearch" rendered="#{SuccessorEvaluationControllers.renderPnlManPage}" style="border: 0px; background-color: transparent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-header with-border" >
                                <h3 class="box-title">Successor Evaluation Approval</h3>
                            </div>
                            <div class="box-body">
                                <div class="row"> 
                                    <div class="col-md-12" > 
                                        <section class="panel panel-info">
                                            <section class="panel-body">
                                                <h:panelGroup id="jobtitle" style="border: 0px; background-color: transparent"  rendered="#{SuccessorEvaluationControllers.renderPnlManPage}"> 
                                                    <div class="col-md-12">
                                                        <div class="form-horizontal col-sm-12">

                                                            <div class="box-body ">
                                                                <div class="box-body ">
                                                                    <div class="form-group"> 
                                                                        <div class="col-sm-6 form-group required">
                                                                            <h:outputLabel for="positionsearch" class="control-label col-sm-4 "   value="KeY mamagerial Position "/>  
                                                                            <div class="col-sm-8" > 
                                                                                <p:selectOneMenu id="positionsearch" style="width: 100%"  value="#{SuccessorEvaluationControllers.hrSmSuccessorEvaluation.kmpId}" 
                                                                                                 valueChangeListener="#{SuccessorEvaluationControllers.SearchByPositionNameToAprove}" converter="entConverter" 
                                                                                                 required="true" requiredMessage="please select key Managerial position" >
                                                                                    <f:selectItem itemLabel="-- Select --" itemValue=""  />
                                                                                    <f:selectItems  value="#{SuccessorEvaluationControllers.allKMPsList}" var="kmp"  itemValue="#{kmp}" itemLabel="#{kmp.jobId.jobTitle}" />    
                                                                                    <p:ajax event="change" process="@this,positionsearch" update=":frmMainUI:jobtitle,:frmMainUI:succinfotbl" />
                                                                                    <p:message for="positionsearch" display="icon"/>  
                                                                                </p:selectOneMenu>
                                                                            </div>
                                                                        </div>
                                                                        <div  class="form-horizontal col-sm-6">
                                                                            <div class="col-md-4"></div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlviewsuccussorinfo"  rendered="#{SuccessorEvaluationControllers.evaluate}">
                                                                <div class="col-md-12">                      
                                                                    <div class="box-body ">                                
                                                                        <div class="col-md-12" >  
                                                                            <div class="col-md-12" >
                                                                                <div class="form-group">
                                                                                    <p:dataTable id="succinfotbl"     rowIndexVar="index" selectionMode="single"  class="control-label" 
                                                                                                 value="#{SuccessorEvaluationControllers.allEvaluatedsuccessors}" var="succinf" rowKey="#{succinf.id}"   
                                                                                                 rows="10" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom" 
                                                                                                 editable="true" selection="#{SuccessorEvaluationControllers.rowselect}" >
                                                                                        <p:ajax event="rowSelect" process="@this,succinfotbl" listener="#{SuccessorEvaluationControllers.Successor_evaluation_approval}" update=":frmMainUI:pnlSearch,:frmSample" /> 
                                                                                        <p:column headerText=" Successor Name"  filterMatchMode="contains" filterBy="#{succinf.empId.firstName}">
                                                                                            <h:outputText value="#{succinf.empId.firstName} #{succinf.empId.middleName} #{succinf.empId.lastName}"/>
                                                                                        </p:column> 
                                                                                        <p:column headerText=" Successor Id" filterMatchMode="contains" filterBy="#{succinf.empId.empId}">
                                                                                            <h:outputText value="#{succinf.empId.empId}"/>
                                                                                        </p:column>
                                                                                        <p:column  >
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Key managerial position"/>                                                        
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{succinf.kmpId.jobId.jobTitle}" />
                                                                                        </p:column>
                                                                                        <p:column  >
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Department"/>                                                        
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{succinf.kmpId.deptId.depName}"  />
                                                                                        </p:column>

                                                                                        <p:column >
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Job grade"/>                                                        
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{succinf.kmpId.jobId.jobGradeId.description}" />
                                                                                        </p:column>
                                                                                        <p:column >
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Evaluation Date"/>                                                        
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{succinf.evaluationDate}" />
                                                                                        </p:column>
                                                                                    </p:dataTable> 
                                                                                </div>
                                                                            </div>
                                                                        </div>               
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </div>
                                                    </div>
                                                </h:panelGroup>
                                            </section>
                                        </section>
                                        <section class="panel panel-info">
                                            <section class="panel-body">
                                                <h:panelGroup  id="pnl1" style="border: 0px; background-color: transparent"  rendered="#{SuccessorEvaluationControllers.renderPnlManPage}">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="box-body "> 
                                                                    <div class=" col-md-12">
                                                                        <div class="col-md-6"> 
                                                                            <div class="col-md-12">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="srcSuccessorName" class="control-label col-sm-4" value="Successor Name:"/> 
                                                                                    <div class="col-sm-8">                                                       
                                                                                        <p:inputText  id="srcSuccessorName"  readonly="true"
                                                                                                      value="#{SuccessorEvaluationControllers.hrSmSuccessorEvaluation.empId.firstName}  #{SuccessorEvaluationControllers.hrSmSuccessorEvaluation.empId.middleName} #{SuccessorEvaluationControllers.hrSmSuccessorEvaluation.empId.lastName}"  
                                                                                                      style="width:100%"  required="true" requiredMessage="Add successor name"> </p:inputText>
                                                                                        <p:message for="srcSuccessorName" display="icon"/>      
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <br></br>
                                                                            <br></br>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="evaldate"   class="control-label col-sm-4"  value="Evaluation Date :"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="evaldate" value="#{SuccessorEvaluationControllers.hrSmSuccessorEvaluation.evaluationDate}"

                                                                                                     readonly="true" onclick="displayCalendar('frmMainUI:evaldate', 'frmMainUI:evaldate');"
                                                                                                     title="Start Date" />
                                                                                        <p:message for="evaldate" display="icon"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <br></br>
                                                                            <br></br>
                                                                            <div class="col-md-12 textBoxMargin6px ">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel  for="remark" class="control-label col-sm-4" value="Evaluator Remark:"/>  
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputTextarea id ="remark"  readonly="true" value="#{SuccessorEvaluationControllers.hrSmSuccessorEvaluation.remark}"  
                                                                                                         class="form-control"   validator="#{validatorManagedBean.Remark}"  style="width:100%"
                                                                                                         > </p:inputTextarea>
                                                                                        <p:message for="remark" display="icon"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div> 
                                                                            <br></br>
                                                                            <br></br>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel  for="evaluatortxt" class="control-label col-sm-4" value="Approved By :"/>  
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputText id ="evaluatortxt"  value="#{SuccessorEvaluationControllers.username}" readonly="true" title="evaluator"
                                                                                                     style="width:100%"  > </p:inputText>

                                                                                    </div>
                                                                                </div>
                                                                            </div> 
                                                                            <br></br>
                                                                            <br></br>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel for="approvalDate" class="control-label col-sm-4" value="Processed On :"/> 
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="approvalDate" value="#{SuccessorEvaluationControllers.hrSmSuccessorEvaluation.approvedDate}"

                                                                                                     onclick="displayCalendar('frmMainUI:approvalDate', 'frmMainUI:approvalDate');"
                                                                                                     title="Strt Date" class="form-control" required="true" requiredMessage="Select date to approve"/>
                                                                                        <p:message for="approvalDate" display="icon"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <br></br>
                                                                            <br></br>
                                                                            <br></br>
                                                                            <br></br>
                                                                            <h:panelGroup id="Wfpnl" class="col-sm-12">   
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <h:outputLabel class="control-label col-sm-4" value=""/> 
                                                                                        <div class="col-sm-3">
                                                                                            <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-sm-4"
                                                                                                             value="Approve"
                                                                                                             action="#{SuccessorEvaluationControllers.saveSuccessorEvaluationApprove}"
                                                                                                             process="@this,pnl1"                                       
                                                                                                             update=":frmMainUI:pnl1,succinfotbl"/>
                                                                                        </div>
                                                                                        <div class="col-sm-3">
                                                                                            <p:commandButton id="btnNew" value="Reset" class="btn  btn-block btn-primary col-sm-4"                                             
                                                                                                             action="#{SuccessorEvaluationControllers.clean()}"
                                                                                                             process="@this" 
                                                                                                             update=":frmMainUI" /> 
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </h:panelGroup>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h:panelGroup>
                                            </section>
                                        </section>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                    </div>
                </div>
            </h:panelGroup>    
        </h:form>  
    </ui:define>
</ui:composition>

