<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li> <a  href="keymanagerialposition.xhtml"> <i class="fa fa-circle-o"></i>Key Managerial Position</a></li>
        <li><a href="maintiancompetency.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency </span></a></li>
        <li><a href="maintiancompetencytype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Type </span></a></li>
        <li><a href="maintiancompetencysubtype.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency SubType </span></a></li>
        <li><a href="competencykmpprofile.xhtml"><i class="fa fa-circle-o"></i> <span>Maintain Competency Profile </span></a></li>
        <li> <a href="successorEvaluation.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation</a></li> 
        <li> <a href="successorEvaluationApprovall.xhtml"> <i class="fa fa-circle-o"></i>Successor Evaluation Approval</a></li>
        <li><a href="successionPlanning.xhtml"><i class="fa fa-circle-o"></i><span>Succession Planning</span></a></li>
        <li><a href="successionPlanningApproval.xhtml"><i class="fa fa-circle-o"></i> <span>Succession Planning Approve</span></a></li> 
        <li><a href="developmentplan.xhtml"><i class="fa fa-circle-o"></i> <span>Development plan  </span></a></li>    
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmTop"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnNew" validateClient="true" action="#{SuccessorController.newOrSearchPage()}"
                                     icon="#{SuccessorController.icone}" style="background-color: white; border-color: white"
                                     title="#{SuccessorController.createOrSearchBundle}" 
                                     process="@this" update="@this,:frmSuccessor,:frmTop"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <h:panelGroup id="pnlPlus"  rendered="#{SuccessorController.btnNewRender}"> 
                        <p:commandButton validateClient="true" action="#{SuccessorController.newButtonAction()}"
                                         icon="ui-icon-plus" style="background-color: white;border-color: white"  title="New record"
                                         process="@this" update=":frmSuccessor,:frmTop" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <a href="../../hrms/succession/successor.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>
        </h:form>  
        <h:form id="frmSuccessor" > 
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>             
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{SuccessorController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-header with-border">                                
                                <h2 class="box-title"><h:outputLabel id="frmsuccosion" value="#{SuccessorController.headerTitle}" /></h2>
                            </div>
                            <div class="box-body ">
                                <div class="box-body ">
                                    <div class="col-md-12" >                                        
                                        <div class="col-sm-12">
                                            <div class="col-sm-6" >                                           
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group">
                                                        <h:outputLabel for="drdsJob" class="control-label col-sm-4" value="Key Managerial Position:"/>  
                                                        <div class="col-sm-8">                                                       
                                                            <p:selectOneMenu id="drdsJob" style="width:100%"
                                                                             value="#{SuccessorController.hrJobTypes.jobTitle}"
                                                                             valueChangeListener="#{SuccessorController.searchBykmpId}">
                                                                <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                <f:selectItems value="#{SuccessorController.jobTitelList}" var="searchq" itemDescription="#{searchq.deptId.depName}"
                                                                               itemLabel="#{searchq.jobId.jobTitle}" itemValue="#{searchq.jobId.jobTitle}"/>   
                                                                <p:ajax event="change" process="@this,drdsJob" update=":frmSuccessor:tblKmpList"/>
                                                            </p:selectOneMenu> 
                                                            <p:message for="drdsJob" display="icon"/>
                                                        </div>   
                                                    </div>
                                                </div>                                         
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>                
            </h:panelGroup>
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{SuccessorController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">                      
                            <div class="box-body">    
                                <div class="col-md-12">  
                                    <div class="col-md-12" style="margin-top:30px;">

                                        <div class="form-group">
                                            <p:dataTable id="tblKmpList" value="#{SuccessorController.successorEvaluationDataModel}"
                                                         var="currentRow" selectionMode="single" rowIndexVar="num" class="dataTable" rows="10" rowsPerPageTemplate="5,101,15" paginator="true"
                                                         selection="#{SuccessorController.hrSmSuccessorEvaluation}" rowKey="#{currentRow.id}" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" listener="#{SuccessorController.populate}"
                                                        process="@this,tblKmpList" update=":frmSuccessor,:frmTop"/>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Employee Name"/>
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.empId}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Department"/>
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.empId.deptId.depName}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Current Position" />
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.empId.jobId}"/> 
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Job Grade" />
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.empId.gradeId.description}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Proposed Position" />
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.kmpId.jobId.jobTitle}"/> 
                                                </p:column> 
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlpersonalInfo" rendered="#{SuccessorController.renderPnlCreateGatePass}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary "> 
                            <!-- /.box-header --> 
                            <h3 class="box-title" style="margin-left: 5px;">Maintain Successor </h3>
                            <div class="box-body ">
                                <div class="box-body ">
                                    <div class="box-body">     
                                        <section class="panel panel-info">
                                            <section class="panel-body"> 
                                                <div class="box-body">
                                                    <div class="col-md-6">                                                                      
                                                        <div class="col-md-12 textBoxMargin6px">
                                                            <div class="form-group form-horizontal form-group required">
                                                                <h:outputLabel for="drdKmp" class="control-label col-md-4" value="Proposed KMP: " title="Key Managerial Position"/>
                                                                <div class="col-sm-8">                                                       
                                                                    <p:selectOneMenu id="drdKmp" value="#{SuccessorController.hrSmSuccessorEvaluation.kmpId}" converter="entConverter" 
                                                                                     filterMatchMode="contains" filter="true"  style="width:100%" required="true" requiredMessage="Select KMP">
                                                                        <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                        <f:selectItems value="#{SuccessorController.jobTitelList}" var="dept" itemValue="#{dept}" itemLabel="#{dept.jobId.jobTitle}"
                                                                                       itemDescription="#{dept.deptId.depName}"/> 
                                                                        <p:ajax event="change" process="@this" update="@this"/>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="drdKmp" display="icon"/>
                                                                </div>                                                                                                                                                   
                                                            </div> 
                                                        </div>  
                                                    </div>
                                                </div> 
                                            </section>
                                        </section> 
                                        <section class="panel panel-info">
                                            <section class="panel-body"> 
                                                <div class="row">
                                                    <div class="col-md-12">                     
                                                        <div class="box-body ">  
                                                            <div class="form-group">
                                                                <div class="col-md-6">
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="drdSearchBy" class="control-label col-sm-4" value="Search By:" title="Filter Criteria"/> 
                                                                            <div class="col-sm-8">
                                                                                <p:selectOneRadio id="drdSearchBy" value="#{SuccessorController.selected}"
                                                                                                  valueChangeListener="#{SuccessorController.searchCriteria}" 
                                                                                                  class="col-sm-10" >
                                                                                    <f:selectItem itemLabel="Employee Id" itemValue="Employee ID"/>
                                                                                    <f:selectItem itemLabel="Employee Name" itemValue="Employee Name"/>
                                                                                    <p:ajax event="change" process="@this" update="frmSuccessor"/>
                                                                                </p:selectOneRadio>
                                                                            </div>
                                                                        </div>                                               
                                                                    </div>
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="srcPatientID" value="Employee Id: "  class="control-label col-sm-4"/>  
                                                                            <div class="col-sm-8">
                                                                                <p:autoComplete id="srcPatientID" value="#{SuccessorController.hrEmployees.empId}" title="Employee Id" scrollHeight="300"
                                                                                                completeMethod="#{SuccessorController.searchEMPByID}" forceSelection="true" required="true"
                                                                                                var="emp" requiredMessage="Enter Employee Id" style="width:100%" placeholder="Search By Id"
                                                                                                itemValue="#{emp.empId}" itemLabel="#{emp}" size="20" emptyMessage="no data" 
                                                                                                disabled="#{SuccessorController.disableEmpID}"> 
                                                                                    <p:column headerText="Employee Id">
                                                                                        <h:outputText value="#{emp.empId}"/>
                                                                                    </p:column>
                                                                                    <p:column headerText="Employee Name">
                                                                                        <h:outputText value="#{emp.firstName} #{emp.middleName} #{emp.lastName}"/>
                                                                                    </p:column>
                                                                                    <p:ajax event="itemSelect" listener="#{SuccessorController.getEMPByID}"
                                                                                            process="@this" update="@this,pnlpersonalInfo"/>     
                                                                                </p:autoComplete>
                                                                                <p:message for="srcPatientID" display="icon"/>
                                                                            </div> 
                                                                        </div>                                                                                          
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="txtsSuccessorName" value="Employee Name: " class="control-label col-sm-4"/>  
                                                                            <div class="col-sm-8">
                                                                                <p:autoComplete id="txtsSuccessorName"  style="width: 100%" value="#{SuccessorController.hrEmployees.firstName}"
                                                                                                completeMethod="#{SuccessorController.searchEmployeeByName}" var="sucList" required="true" 
                                                                                                title="Successor Name" requiredMessage="Successor Name" placeholder="Search By Name"
                                                                                                itemValue="#{sucList.firstName}" itemLabel="#{sucList}" forceSelection="true" size="20" 
                                                                                                emptyMessage="no data" disabled="#{SuccessorController.disableEmpName}">
                                                                                    <p:column headerText="Full Name">
                                                                                        <h:outputText value="#{sucList.firstName} #{sucList.middleName} #{sucList.lastName}"/>
                                                                                    </p:column>
                                                                                    <p:column headerText="Employee ID">
                                                                                        <h:outputText value="#{sucList.empId}"/>
                                                                                    </p:column>
                                                                                    <p:ajax event="itemSelect" listener="#{SuccessorController.getByFirstName}"
                                                                                            process="@this" update="@this,pnlpersonalInfo"/>     
                                                                                </p:autoComplete> 
                                                                                <p:message for="txtsSuccessorName" display="icon"/>
                                                                            </div> 
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12 " style="margin-top: 5px;">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="txtJobTitle" class="control-label col-sm-4" value="Job Title:"/>
                                                                            <div class="col-sm-8">
                                                                                <p:inputText id="txtJobTitle" value="#{SuccessorController.hrJobTypes.jobTitle}" 
                                                                                             title="Position" readonly="true"/>
                                                                                <p:message for="txtJobTitle" display="icon"/>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="col-md-12" style="margin-top: 5px;">
                                                                        <div class="form-group form-horizontal" ></div>                                            
                                                                    </div>
                                                                    <div class="col-md-12" style="margin-top: 5px;">
                                                                        <div class="form-group form-horizontal" >
                                                                            <h:outputLabel for="txtAge" class="control-label col-sm-4" value="age:"/>
                                                                            <div class="col-sm-8">
                                                                                <p:inputText id="txtAge" value="#{SuccessorController.age}" 
                                                                                             title="Gender" readonly="true" style=""/>
                                                                                <p:message for="txtAge" display="icon"/>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div>
                                                                    <div class="col-md-12" style="margin-top: 5px;">
                                                                        <div class="form-group form-horizontal" >
                                                                            <h:outputLabel for="txtSex" class="control-label col-sm-4" value="Sex:"/>
                                                                            <div class="col-sm-8">
                                                                                <p:inputText id="txtSex" value="#{SuccessorController.hrEmployees.sex}" 
                                                                                             title="Gender" readonly="true" style=""/>
                                                                                <p:message for="txtSex" display="icon"/>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div>
                                                                    <div class="col-md-12" style="margin-top:5px;">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="txtGrade" class="control-label col-sm-4" value="Grade:"/>
                                                                            <div class="col-sm-8">
                                                                                <p:inputText id="txtGrade" value="#{SuccessorController.hrJobTypes.jobGradeId.description}" title="Grade"
                                                                                             readonly="true"/>
                                                                                <p:message for="txtGrade" display="icon"/>
                                                                            </div>
                                                                        </div>                                            
                                                                    </div> 
                                                                </div>   
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </section>
                                        <h:panelGroup id="pnlSave">
                                            <div class="panel-body col-sm-12">
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-6">
                                                        <div class="col-sm-12 form-horizontal">
                                                            <div class="col-sm-4" >                                                              
                                                            </div>                                                                    
                                                            <div class="col-sm-3">
                                                                <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-lg-4" 
                                                                                 value="#{SuccessorController.saveorUpdateBundle}"
                                                                                 action="#{SuccessorController.saveSuccessor}"
                                                                                 process="@this,pnlpersonalInfo"                                       
                                                                                 update="@this,pnlpersonalInfo"/>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-lg-4"                                             
                                                                                 action="#{SuccessorController.resetSuccessor()}"
                                                                                 process="@this" 
                                                                                 update=":frmSuccessor:pnlpersonalInfo" /> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </h:panelGroup>
                                    </div>
                                </div>                   
                            </div>
                        </div>
                    </div>
                </div> 
            </h:panelGroup>                           
        </h:form>
    </ui:define>
</ui:composition>
