<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="../../../resources/templates/template.xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li>
            <a href="../../fcms/Voucher/JournalVoucherReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashReceiptVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/ChequePayment.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cheque Payment Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/fmswithHoldingVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Withholding Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCpo.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingChpv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cheque Payment Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCrv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingJv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/LedgerReport.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Ledger Report </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/TrialBalance.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Trial Balance Report</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/VatVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Vat Voucher</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlworkflowIcon">
                        <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-gear" 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWf" value="#{cashPaymentOrderController.workflowDataModel}" rowIndexVar="num" var="wfVar" 
                                                                 rows="10" paginator="true" paginatorPosition="bottom" >
                                                        <p:column headerText="S/N" width="60">
                                                            <h:outputText value="#{num+1}"/>
                                                        </p:column> 
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{wfVar.processedBy}"/> 
                                                        </p:column>
                                                        <p:column headerText="Decision">
                                                            <h:outputText value="#{wfVar.changedDecision}"/> 
                                                        </p:column>
                                                        <p:column headerText="Processed On">
                                                            <h:outputText value="#{wfVar.processedOn}"/> 
                                                        </p:column>
                                                        <p:column headerText="Comment Given">
                                                            <h:outputText value="#{wfVar.commentGiven}"/> 
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>

                    <p:commandButton id="btnIcone" action="#{cashPaymentOrderController.createNewCashPaymentOrder()}" 
                                     icon="#{cashPaymentOrderController.icone}" validateClient="true" style="background-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{cashPaymentOrderController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                           <h:panelGroup id="pnlnew" rendered="#{cashPaymentOrderController.createNEWrend}">
                        <p:commandButton id="btnIcone1"  action="#{cashPaymentOrderController.createNewJv1()}" 
                                         icon="#{cashPaymentOrderController.icone1}" validateClient="true" style="background-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                         title="#{cashPaymentOrderController.createOrSearchBundle1}"
                                         rendered="#{cashPaymentOrderController.new1}"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <a  href="cashPaymentOrder.xhtml"><i id="lnkRefresh" class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a  href="../../fcms/fcmsDashBoardnew.xhtml"><i id="lnkDashboard" class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                        <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>

                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{cashPaymentOrderController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <h:outputLabel id="lblHeader1" value="Search Cash Payment Order..." />
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlSearchJv"> 
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group"> 
                                            <h:outputLabel id="lblSearchBy" class="control-label col-sm-2" value="Voucher Code"/>

                                            <div class="col-sm-3">
                                                <p:inputText id="txtJvId" class="form-control" value="#{cashPaymentOrderController.voucherId}"/>
                                            </div>
                                        </div>

                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <div class="col-sm-2">

                                                </div>
                                                <div class="col-sm-2">                                                    
                                                    <p:commandButton  id="btnSearch" value="Find"  class="btn  btn-block btn-primary col-lg-4"
                                                                      action="#{cashPaymentOrderController.searchCashPaymentByVoucherId}"
                                                                      process="@(form)" update=":frmMainUI:frmJvDetail:tblJvDatail">
                                                    </p:commandButton> 
                                                </div>                                                                
                                            </div>                                                                
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmJvDetail"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblJvDatail" value="#{cashPaymentOrderController.voucherDataModel}" rowIndexVar="num" selectionMode="single"
                                                             selection="#{cashPaymentOrderController.selectedJv}" rowKey="#{jvInfo.voucherId}"
                                                             var="jvInfo" rows="7" paginator="true" paginatorPosition="bottom" editable="true">
                                                    <p:ajax event="rowSelect" listener="#{cashPaymentOrderController.populate}" update=":frmRegisterUI,:frmMainUI,:frmToolbar"/>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="No."/>
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Voucher Id">
                                                        <p:cellEditor >
                                                            <f:facet name="output"><h:outputText value="#{jvInfo.voucherId}" /> </f:facet>
                                                            <f:facet name="input"><p:inputText id="vId" value="#{jvInfo.voucherId}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column headerText="Voucher Type">
                                                        <p:cellEditor >
                                                            <f:facet name="output"><h:outputText value="#{jvInfo.type}" /> </f:facet>
                                                            <f:facet name="input"><p:inputText id="vType" value="#{jvInfo.type}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>


        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" 
                          rendered="#{cashPaymentOrderController.renderPnlCreateJv}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <h:outputLabel id="lblHeader1" value="Cash Payment Order" />
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlGrpJvRegister">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <div class="form-horizontal  col-sm-12">
                                                <div class="form-group">   
                                                    <h:outputLabel id="lblSystem" class="control-label col-sm-3" value="System :"/>
                                                    <div class="col-sm-3">
                                                        <p:selectOneMenu id="sysSearch" value="#{cashPaymentOrderController.fmsLuSystem}" 
                                                                         filterMatchMode="contains" filter="true" converter="entConverter" 
                                                                         style="width: 100%" required="true" 
                                                                         valueChangeListener="#{cashPaymentOrderController.onChangeSystem}"
                                                                         disabled="#{cashPaymentOrderController.selectOptionStatus}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{cashPaymentOrderController.systemList}" var="sys" itemLabel="#{sys.systemCode}" itemValue="#{sys}" />
                                                            <p:ajax event="change" process="@this" update="drpCostCenter,txtVoucherNo,glSearch"/>
                                                            <!--<p:ajax   event="change"  update="drpCostCenter,txtVoucherNo"  process="@this" />-->
                                                        </p:selectOneMenu>
                                                        <p:message display="icon" for="sysSearch"/>
                                                    </div>
                                                    <h:outputLabel id="lblVoucherNo" class="control-label col-sm-3" value="Voucher-No:"/>
                                                    <div class="col-sm-3">
                                                        <p:inputText id="txtVoucherNo" class="form-control" readonly="true" rendered="#{cashPaymentOrderController.saveVochNo}"
                                                                     value="#{cashPaymentOrderController.fmsVouchersNoRange.currentNo}" />
                                                        <p:inputText id="txtpopVoucherNo" class="form-control" readonly="true" rendered="#{cashPaymentOrderController.popvocjNo}"
                                                                     value="#{cashPaymentOrderController.fmsVoucher.voucherNo}" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <h:outputLabel id="lblVouchertype" class="control-label col-sm-3" value="Type" />
                                                    <div class="col-sm-3"> 
                                                        <p:selectOneMenu id="txtPaymenttype"  value="#{cashPaymentOrderController.luPaymentType.paymentType}" style= "width: 100%" required="true" 
                                                                         valueChangeListener="#{cashPaymentOrderController.ref}" 
                                                                         disabled="#{cashPaymentOrderController.selectOptionStatus}"
                                                                         filterMatchMode="contains" filter="true"   >
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{cashPaymentOrderController.fmsLuPaymentType}"></f:selectItems>
                                                           <p:ajax event="change" process="@this" update="@form" />
                                                        </p:selectOneMenu>
                                                        <p:message for="txtPaymenttype" display="icon"  />
                                                    </div>

                                                    <h:outputLabel id="lblreferance" class="control-label col-sm-3" value="Reference-NO:"/>
                                                    <div class="col-sm-3"> 
                                                        <p:selectOneMenu id="txtActiontype"  value="#{cashPaymentOrderController.fmsCashPaymentOrder.referenceNo}" 
                                                                         style= "width: 100%" filterMatchMode="contains" filter="true"  required="true"
                                                                         valueChangeListener="#{cashPaymentOrderController.referenceNumEvent}"
                                                                         rendered="#{cashPaymentOrderController.refRender}"
                                                                         >
                                                            
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{cashPaymentOrderController.refNoList()}"></f:selectItems>
                                                            <p:ajax id="refeAjax" event="change" process="txtActiontype" update="txtAmountInFigure,txtPaidTo" />
                                                        </p:selectOneMenu>
                                                        <p:message for="txtActiontype" display="icon"  />
                                                    </div>
                                                </div>
                                                <div class="form-group"> 
                                                    <h:outputLabel id="lblPrepareDate" class="control-label col-sm-3" value="Prepare Date" for="calappDate4"/>
                                                    <div class="col-sm-3">
                                                        <p:calendar id="calappDate4" pattern="yyyy/MM/dd"   required="true" value="#{cashPaymentOrderController.fmsCashPaymentOrder.preparedDate}"  />
                                                        <p:message  for="calappDate4" display="icon" />
                                                    </div>
                                                    <h:outputLabel id="lblAmountInFigure" for="txtAmountInFigure" class="control-label col-sm-3" value="Amount In Figure"/>  
                                                    <div class="col-sm-3">  
                                                        <p:inputText id="txtAmountInFigure" required="true" readonly="#{cashPaymentOrderController.others}"
                                                                     value="#{cashPaymentOrderController.fmsCashPaymentOrder.amountInFigure}">
                                                        </p:inputText>
                                                        <p:message display="icon"  for="txtAmountInFigure"/>
                                                    </div> 
                                                </div>

                                                <div class="form-group"> 
                                                    <h:outputLabel id="lblPaidTo" for="txtPaidTo" class="control-label col-sm-3" value="Paid To"/>
                                                    <div class="col-sm-3">                                    
                                                        <p:inputText id="txtPaidTo" required="true"  readonly="#{cashPaymentOrderController.others}"
                                                                     value="#{cashPaymentOrderController.fmsCashPaymentOrder.paidTo}"
                                                                     disabled="#{cashPaymentOrderController.selectOptionStatus}">
                                                        </p:inputText>
                                                        <p:message display="icon" for="txtPaidTo"/>                                                                      
                                                    </div> 


                                                    <h:outputLabel id="lblPurpose" for="txtPurpose" class="control-label col-sm-3" value="Purpose"/>  
                                                    <div class="col-sm-3">  
                                                        <p:inputTextarea  required="true" id="txtPurpose" value="#{cashPaymentOrderController.fmsVoucher.purpose}" 
                                                                          counter="Remark" maxlength="500" counterTemplate="{0} characters remaining." 
                                                                          autoResize="false">
                                                            <f:validateRegex pattern="^[a-zA-Z ]+$" />    </p:inputTextarea>
                                                        <p:message display="icon"  for="txtPurpose"/>
                                                        <h:outputText id="Remark" />
                                                    </div> 
                                                </div>   

                                            </div>         
                                        </div>
                                    </div>

                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account Distribution Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup style="border: 0px; background-color: transparent" id="pnlAccDetail"  >
                                    <div class="col-md-12">

                                        <div class="col-md-6">

                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <label class="control-label col-sm-4" >Cost Center</label>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="drpCostCenter"  value="#{cashPaymentOrderController.fmsCostcSystemJunction}" 
                                                                         converter="entConverter"  filterMatchMode="contains" filter="true" required="true"
                                                                         valueChangeListener="#{cashPaymentOrderController.onChangeCostCenter}" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{cashPaymentOrderController.ssCcJunctionList}" var="costC"
                                                                           itemLabel="#{costC.fmsCostCenter.systemName} " itemValue="#{costC}"/>
                                                            <p:ajax event="change" process="@this" />
                                                        </p:selectOneMenu>
                                                        <p:message for="drpCostCenter" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4" value="Action"/>
                                                    <div class="col-sm-8"> 
                                                        <p:selectOneRadio id="txtAction" required="true" value="#{cashPaymentOrderController.actionDebitCredit}">
                                                            <f:selectItem itemLabel="Debit" itemValue="Debit" />
                                                            <f:selectItem itemLabel="Credit" itemValue="Credit" />                            
                                                        </p:selectOneRadio>  
                                                        <p:message for="txtAction" display="icon"  class="col-sm-3 control-label"/>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">   
                                                    <h:outputLabel id="buttonaddDtl" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnAdd" class="btn btn-primary"  value="Add" process="pnlAccDetail" 
                                                                         action="#{cashPaymentOrderController.addSubsidiaryLedgerDetail()}"
                                                                         update="tblAcctDetl,pnlAccDetail" />
                                                    </div> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel  for="glSearch" class="control-label col-sm-4" value="General Ledger:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="glSearch" value="#{cashPaymentOrderController.fmsGeneralLedger}"
                                                                         converter="entConverter" filterMatchMode="contains" filter="true" 
                                                                         valueChangeListener="#{cashPaymentOrderController.onChangeGeneralLedger}"  
                                                                         required="true" requiredMessage="Value is required: Select General Ledger" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{cashPaymentOrderController.glList}" var="glVarr"
                                                                           itemLabel="#{glVarr.generalLedgerCode}" itemValue="#{glVarr}"/>
                                                            <p:ajax event="change" process="@this" update="selectSubL" />
                                                        </p:selectOneMenu> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <label class="control-label col-sm-4" >Subsidiary Ledger</label>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selectSubL" value="#{cashPaymentOrderController.fmsSubsidiaryLedger}"
                                                                         converter="entConverter" filterMatchMode="startsWith" filter="true" 
                                                                         valueChangeListener="#{cashPaymentOrderController.onChangeSubsidiaryLedger}"  
                                                                         required="true" requiredMessage="Value is required: Select Subsidiary Ledger" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{cashPaymentOrderController.slList}" var="slVar"
                                                                           itemLabel="#{slVar.subsidiaryCode}" itemValue="#{slVar}"/>
                                                            <p:ajax event="change" process="@this" update="@this" />
                                                        </p:selectOneMenu> 
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel  for="txtValue" class="control-label col-sm-4" value="Value"/>
                                                    <div class="col-sm-8"> 
                                                        <p:inputText id="txtValue" required="true"
                                                                     value="#{cashPaymentOrderController.valueDebitCredit}" > <f:validateDoubleRange/>    </p:inputText>
                                                        <p:message for="txtValue" display="text"  class="col-sm-3 control-label"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </h:panelGroup>
                                <h:panelGroup id="pnlAccountDetialInfo">
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group">  
                                            <p:dataTable id="tblAcctDetl" value="#{cashPaymentOrderController.accountUseDetailDataModel}" class="datatable" rowIndexVar="num" var="acctDtl" rows="7"  
                                                         selection="#{cashPaymentOrderController.selectedAccountUses}" rowKey="#{acctDtl.fmsAccountUseId}"
                                                         paginator="true" paginatorPosition="bottom" >

                                                <p:ajax event="rowSelect" listener="#{cashPaymentOrderController.populateAccDetail}" process="@this,:frmRegisterUI:pnlAccountDetialInfo" update=":frmRegisterUI:pnlAccDetail"/>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="S.No"/>
                                                    </f:facet>
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column> 
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Account Code"/>
                                                    </f:facet>
                                                    <h:outputText id="outputText20" 
                                                                  value="#{acctDtl.subsidaryId}"/> 
                                                    <f:facet name="footer">
                                                        <h:outputText value="total"/>
                                                    </f:facet>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Debit"/>
                                                    </f:facet>
                                                    <h:outputText value="#{acctDtl.debit}" converter="#{cashPaymentOrderController.numberConverter}"/>
                                                    <f:facet name="footer">
                                                        <h:outputText value="#{cashPaymentOrderController.debit}"/>
                                                    </f:facet>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Credit"/>
                                                    </f:facet>
                                                    <h:outputText value="#{acctDtl.credit}" converter="#{cashPaymentOrderController.numberConverter}"/>
                                                    <f:facet name="footer">
                                                        <h:outputText value="#{cashPaymentOrderController.credit}"/>
                                                    </f:facet>
                                                </p:column>
                                                <p:column headerText="Option" >

                                                    <p:commandLink action="#{cashPaymentOrderController.remove()}"                                       
                                                                   value="remove" 
                                                                   update="tblAcctDetl"
                                                                   process="tblAcctDetl">
                                                    </p:commandLink>|                     
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>

                                </h:panelGroup>
                                <h:panelGroup id="pnlGrpJvPreparer" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Prepared by:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtPrepareBy" readonly="true" value="#{workFlow.userName}" class="form-control" required="true"/>
                                                        <p:message for="txtPrepareBy" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Prepare Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="calPreparedDate" pattern="yyyy/MM/dd" required="true" value="#{cashPaymentOrderController.fmsVoucher.preparedDate}" placeholder="Prepare date"/>
                                                        <p:message  for="calPreparedDate" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Remark:"/>
                                                    <div class="col-sm-8">
                                                        <p:column headerText="Remark">
                                                            <h:inputTextarea  rows="2" cols="22" id="txtRemark" class="form-control" value="#{cashPaymentOrderController.fmsVoucher.preparedRemark}" required="true"> </h:inputTextarea> 
                                                        </p:column>
                                                        <p:message for="txtRemark" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblbuttonaSave" class="control-label col-sm-4"/>
                                                    <div class="col-sm-3">
                                                        <p:commandButton id="btnSaveJv" class="btn btn-primary"  validateClient="true"                                                   
                                                                         value="#{cashPaymentOrderController.saveorUpdateBundle}" 
                                                                         action="#{cashPaymentOrderController.saveCashPaymentOrder()}"
                                                                         process="@this,pnlGrpJvRegister,pnlGrpJvPreparer" 
                                                                         update="@this,pnlGrpJvRegister,pnlGrpJvPreparer,frmRegisterUI" />
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>


                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <p:panel id="pnlPrint" class="visible-print" style="border: 0">
                <div id="wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-11">


                                <div class="col-xs-12 text-center">
                                    <h3><b></b></h3>
                                    <h4><b>ERP</b> </h4>
                                </div>
                                <div class="col-xs-12 text-center"> <b>CASH PAYMENT ORDER AND RECEIPT</b></div>
                            </div>

                            <div class="col-xs-8">
                                <div class="col-xs-12 text-center" align="center">
                                    <h5 align="center"><b></b></h5>
                                </div>
                            </div> 
                            <div class="col-xs-4 text-right">            
                                <h4><b style="font-family: Blackadder ITC ; font-size: 17">?:</b>&#32;&#32;<u><h:outputText value="#{cashPaymentOrderController.voucherNO}"/></u></h4>
                                <h6><b>TRANSACTION NO <br>Date</br></b>&#32;&#32;<u><h:outputText value="#{cashPaymentOrderController.fmsCashPaymentOrder.preparedDate}"><f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText></u> </h6>         
                            </div>
                            <div class="col-xs-6 ">
                                <h5><b>Pay To:</b>&#32;&#32;&#32;&#32;<u><h:outputText value="#{cashPaymentOrderController.fmsCashPaymentOrder.paidTo}"/></u></h5>
                            </div>         

                        </div>



                        <!-- / end client details section -->
                        <p:panelGrid >


                            <f:facet name="header">
                                <p:row>
                                    <p:column >Orginal Doc't Att'd</p:column>

                                    <p:column width="400">Particulars</p:column>
                                    <p:column >Amount</p:column>
                                </p:row>

                            </f:facet>

                            <p:row>
                                <p:column style="text-align: center"></p:column>
                                <p:column style="text-align: center">#{cashPaymentOrderController.fmsVoucher.purpose}</p:column>
                                <p:column style="text-align: right">#{cashPaymentOrderController.fmsVoucher.fmsCashPaymentOrder.amountInFigure}</p:column>
                            </p:row>
                            <p:row>
                                <p:column ></p:column>

                                <p:column style="text-align: right"></p:column>
                                <p:column  style="text-align: right">#{cashPaymentOrderController.fmsVoucher.fmsCashPaymentOrder.amountInFigure}</p:column>
                            </p:row>



                        </p:panelGrid>
                        <div class="row" >
                            <div class="col-xs-12 text-left">
                                <h3><b></b></h3>
                                <h4><b>In Words _______________________________________________________________</b> </h4>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-xs-4">
                                <div class="panel panel-info" style="border: 0">
                                    <div class="panel-body">
                                        <p>Prepared by: ___________________</p>
                                        <p>Checked By__________________</p>
                                        <p>Internal audit__________________</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" >
                                <div class="span7">
                                    <div class="panel panel-info" style="border: 0" >
                                        <div class="panel-body" >

                                            <p>Authorized : ________________</p>
                                            <p>Signature__________________</p>
                                            <p>Casher Signature__________________</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4" >
                                <div class="span7">
                                    <div class="panel panel-info" style="border: 0" >
                                        <div class="panel-body" >
                                            <p:panelGrid > <p:row>
                                                    <p:column  style="border: 1">
                                                        <p>Birr : ________________</p>
                                                        <p>RECEIVED</p>
                                                        <p> Signature__________________</p>
                                                    </p:column></p:row>
                                            </p:panelGrid>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <p:panelGrid style="margin-top:20px">
                            <f:facet name="header">
                                <p:row>
                                    <p:column>ACCOUNT DISTRIBUTION</p:column>
                                </p:row>


                            </f:facet>
                            <p:row><p:column>
                                    <div class="row">
                                        <div class="form-horizontal  col-sm-12">                            
                                            <p:dataTable  id="tblAccountUsefoDetail1" class="table table-no-select-all " value="#{cashPaymentOrderController.accountUseResults}" 
                                                          var="accountUseDetail" >
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="#{msg.SNo}"/>
                                                    </f:facet>
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column>
                                                <p:column  >                                    
                                                    <f:facet name="header">
                                                        <h:outputLabel  id="outputText2" value="Account Code"/>
                                                    </f:facet>
                                                    <h:outputText id="outputText20" value="#{accountUseDetail.AC_NO_DEBIT}      "/>
                                                </p:column>
                                                <p:column >                                    
                                                    <f:facet name="header">
                                                        <h:outputLabel id="outputText4" value="Debit"/>
                                                    </f:facet>
                                                    <h:outputText id="outputTexrert40"  converter="#{cashPaymentOrderController.numberConverter}" value="#{accountUseDetail.DEBIT}"/>
                                                </p:column>
                                                <p:column  >                                    
                                                    <f:facet name="header">
                                                        <h:outputLabel  id="outputText5" value="Account Code"/>
                                                    </f:facet>
                                                    <h:outputText id="outputText50" value="#{accountUseDetail.AC_NO_CREDIT}      "/>
                                                </p:column>
                                                <p:column >                                    
                                                    <f:facet name="header">
                                                        <h:outputLabel id="outputText7" value="Credit"/>
                                                    </f:facet>
                                                    <h:outputText id="outputTexrert70"  converter="#{cashPaymentOrderController.numberConverter}" value="#{accountUseDetail.CREDIT}"/>
                                                </p:column>


                                            </p:dataTable> 

                                        </div>                                          
                                    </div> </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p>Distribution:- Original to Customer &#32;&#32;&#32;&#32; 1<sup>st</sup> Copy to Accounts&#32;&#32;&#32;&#32;2<sup>nd</sup> Copy Pad :-</p>
                    </div>
                </div>
            </p:panel>

        </h:form>
    </ui:define>
</ui:composition>          
