<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="../../../resources/templates/template.xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li>
            <a href="../../fcms/Voucher/JournalVoucherReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashReceiptVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/fmswithHoldingVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Withholding Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashPaymentOrder.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCpo.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingChpv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cheque Payment Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCrv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingJv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/LedgerReport.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Ledger Report </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/TrialBalance.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Trial Balance Report</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/VatVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Vat Voucher</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnIcone" action="#{chequePaymentVoucherController.createNewJv()}" 
                                     icon="#{chequePaymentVoucherController.icone}" validateClient="true" style="background-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="Back to Search" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <h:panelGroup id="pnlnew" rendered="#{chequePaymentVoucherController.createNEWrend}">
                        <p:commandButton id="btnIcone1"  action="#{chequePaymentVoucherController.createNewJv1()}" 
                                         icon="#{chequePaymentVoucherController.icone1}" validateClient="true" style="background-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                         title="#{chequePaymentVoucherController.createOrSearchBundle1}"
                                         rendered="#{chequePaymentVoucherController.new1}"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>

                    <h:panelGroup id="pnlworkflowIcon" >
                        <p:commandLink id="cmdLinkWf" class="fa fa-wordpress" 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWf" value="#{chequePaymentVoucherController.workflowDataModel}" rowIndexVar="num" var="wfVar" 
                                                                 rows="10" paginator="true" paginatorPosition="bottom" >
                                                        <p:column headerText="S/N" width="60">
                                                            <h:outputText value="#{num+1}"/>
                                                        </p:column> 
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{wfVar.processedBy}"/> 
                                                        </p:column>
                                                        <p:column headerText="Decision">
                                                            <h:outputText value="#{wfVar.changedDecision}"/> 
                                                        </p:column>
                                                        <p:column headerText="Processed On">
                                                            <h:outputText value="#{wfVar.processedOn}"/> 
                                                        </p:column>
                                                        <p:column headerText="Comment Given">
                                                            <h:outputText value="#{wfVar.commentGiven}"/> 
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>

                    <a href="ChequePayment.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{chequePaymentVoucherController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <h:outputLabel id="lblHeader1" value="Search Cheque Payment ..." />
                        </h3>
                    </div>
                    <div class="form-group col-sm-12 textBoxMargin6px">
                        <div class="form-horizontal col-sm-12">
                            <h:outputLabel class="control-label col-sm-4" value="searching By:"/>
                            <div class="col-sm-8">
                                <p:selectOneMenu id="drdSearchBy" style="width: 50%" value="#{chequePaymentVoucherController.fmsVoucher.columnName}"
                                                 valueChangeListener="#{chequePaymentVoucherController.selectedParamChangeEvent}" converter="entConverter">
                                    <f:selectItem itemLabel="--- select one ---" itemValue=""/>
                                    <f:selectItems value="#{chequePaymentVoucherController.fmsVoucherSearchingParameterList}"
                                                   itemLabel="#{paramList}"/>
                                    <p:ajax event="change" process="@this" update="lblvoucherNo"/>
                                </p:selectOneMenu>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 textBoxMargin6px">
                        <div class="form-horizontal col-sm-12">
                            <h:outputLabel id="lblvoucherNo" class="control-label col-sm-4" value="Search By #{chequePaymentVoucherController.fmsVoucher.columnName}:"/>
                            <div class="col-sm-4">
                                <p:inputText id="voucherNo" class="form-control" value="#{chequePaymentVoucherController.fmsVoucher.columnValue}"/>
                            </div>
                        </div> 
                    </div>  
                    <div class="form-group col-sm-12 textBoxMargin6px">
                        <div class="form-horizontal col-sm-12 "> 
                            <h:outputLabel class="control-label col-sm-4" />
                            <div class="col-sm-8">
                                <p:commandButton id="btnFind" icon="ui-icon-search" action="#{chequePaymentVoucherController.search_vouchers()}"
                                                 process="@this, frmMainUI" update=":frmMainUI" class="btn btn-primary"
                                                 value="Find" /> 
                                    
                            </div>
                        </div> 
                    </div>
                    <div class="box-body">

                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmJvDetail"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblJvDatail" value="#{chequePaymentVoucherController.voucherDataModel}" rowIndexVar="num" selectionMode="single"
                                                             selection="#{chequePaymentVoucherController.selectedJv}" rowKey="#{jvInfo.voucherId}"
                                                             var="jvInfo" rows="7" paginator="true" paginatorPosition="bottom" editable="true">
                                                    <p:ajax event="rowSelect" listener="#{chequePaymentVoucherController.populate}" update=":frmRegisterUI,:frmMainUI,:frmToolbar"/>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="No."/>
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Voucher Id">
                                                        <p:cellEditor >
                                                            <f:facet name="output"><h:outputText value="#{jvInfo.voucherId}" /> </f:facet>
                                                            <f:facet name="input"><p:inputText id="vId" value="#{jvInfo.voucherId}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column headerText="Voucher Type">
                                                        <p:cellEditor >
                                                            <f:facet name="output"><h:outputText value="#{jvInfo.type}" /> </f:facet>
                                                            <f:facet name="input"><p:inputText id="vType" value="#{jvInfo.type}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" 
                          rendered="#{chequePaymentVoucherController.renderPnlCreateJv}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <h:outputLabel id="lblHeader1" value="Cheque Payment Voucher" />
                        </h3>
                        <!--<h3 class="box-title">Journal Voucher <small>Entry form</small></h3>-->
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlGrpJvRegister">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <div class="form-horizontal  col-sm-12">
                                                <div class="form-group">
                                                    <h:outputLabel id="lblSystem" class="control-label col-sm-3" value="System:"/>
                                                    <div class="col-sm-3">
                                                        <p:selectOneMenu id="sysSearch" value="#{chequePaymentVoucherController.fmsLuSystem}" 
                                                                         filterMatchMode="contains" filter="true" converter="entConverter" 
                                                                         style="width: 100%" required="true" 
                                                                         valueChangeListener="#{chequePaymentVoucherController.onChangeSystem}"
                                                                         disabled="#{chequePaymentVoucherController.selectOptionStatus}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{chequePaymentVoucherController.systemList}" var="sys" itemLabel="#{sys.systemCode}" itemValue="#{sys}" />
                                                            <p:ajax event="change" process="@this" update="drpCostCenter,txtVoucherNo,glSearch"/>

                                                        </p:selectOneMenu>
                                                        <p:message display="icon" for="sysSearch"/>
                                                    </div>
                                                    <h:outputLabel id="lblVoucherNo" class="control-label col-sm-3" value="Voucher-No:"/>
                                                    <div class="col-sm-3">
                                                        <p:inputText id="txtVoucherNo" class="form-control" readonly="true" rendered="#{chequePaymentVoucherController.saveVochNo}"
                                                                     value="#{chequePaymentVoucherController.fmsVouchersNoRange.currentNo}" />
                                                        <p:inputText id="txtpopVoucherNo" class="form-control" readonly="true" rendered="#{chequePaymentVoucherController.popvocjNo}"
                                                                     value="#{chequePaymentVoucherController.fmsVoucher.voucherNo}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">   
                                                    <h:outputLabel id="lblVouchertype" class="control-label col-sm-3" value="Type : " />
                                                    <div class="col-sm-3"> 
                                                        <p:selectOneMenu id="txtPaymenttype"  value="#{chequePaymentVoucherController.luPaymentType.paymentType}" style= "width: 100%" required="true" 
                                                                         valueChangeListener="#{chequePaymentVoucherController.ref}"
                                                                         disabled="#{chequePaymentVoucherController.selectOptionStatus}"
                                                                         filterMatchMode="contains" filter="true" requiredMessage="pleas select type"   >
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                            <f:selectItems value="#{chequePaymentVoucherController.fmsLuPaymentType}"></f:selectItems>
                                                            <p:ajax event="change" process="@this" update="@form" />
                                                        </p:selectOneMenu>
                                                        <p:message for="txtPaymenttype" display="icon"  />
                                                    </div>
                                                    <h:outputLabel id="lblPrepareDate" class="control-label col-sm-3" value="Reference-NO:" for="calappDate4"/>
                                                    <div class="col-sm-3"> 
                                                        <p:selectOneMenu id="txtActiontype"  value="#{chequePaymentVoucherController.chequePaymentVoucher.referenceNumber}" 
                                                                         style= "width: 100%" filterMatchMode="contains" filter="true"  required="true"
                                                                         valueChangeListener="#{chequePaymentVoucherController.referenceNumEvent}"
                                                                         rendered="#{chequePaymentVoucherController.refbondforeign}">
                                                            <f:selectItems value="#{chequePaymentVoucherController.refNoList()}"></f:selectItems>
                                                            <p:ajax id="refeAjax" event="change" process="txtActiontype" update="txtAmountInFigure,txtPaidTo" />
                                                        </p:selectOneMenu>
                                                        <p:message for="txtActiontype" display="icon"  />
                                                    </div>
                                                </div>
                                                <div class="form-group"> 
                                                    <h:outputLabel id="lblChequeNo" class="control-label col-sm-3" value="Cheque- No:*"/>
                                                    <div class="col-sm-3">
                                                        <p:inputText id="txtChequeNo" value="#{chequePaymentVoucherController.chequePaymentVoucher.chequeNumber}"/>
                                                        <p:message  for="txtChequeNo" display="icon" />
                                                    </div>
                                                    <h:outputLabel id="lblreferance" class="control-label col-sm-3" value="Prepare Date:"/>
                                                    <div class="col-sm-3">
                                                        <p:calendar id="calappDate4" pattern="yyyy/MM/dd"   required="true" value="#{chequePaymentVoucherController.chequePaymentVoucher.preparedDate}"  />
                                                        <p:message  for="calappDate4" display="icon"  />
                                                    </div>
                                                </div>
                                                <div class="form-group">   <h:outputLabel id="lblPaidTo" for="txtPaidTo" class="control-label col-sm-3" value="Paid To"/>
                                                    <div class="col-sm-3">                                    
                                                        <p:inputText id="txtPaidTo" required="true" requiredMessage="pleas inpute this field" readonly="#{chequePaymentVoucherController.others}"
                                                                     value="#{chequePaymentVoucherController.chequePaymentVoucher.paidTo}" class="form-control"
                                                                     disabled="#{chequePaymentVoucherController.selectOptionStatus}">
                                                            <f:validateRegex pattern="^[a-zA-Z ]+$" />
                                                        </p:inputText>
                                                        <p:message display="icon" for="txtPaidTo" />                                                                      
                                                    </div> 
                                                    <h:outputLabel id="lblAmountInFigure" for="txtAmountInFigure" class="control-label col-sm-3" value="Amount In Figure"/>  
                                                    <div class="col-sm-3">  
                                                        <p:inputText id="txtAmountInFigure" required="true" requiredMessage="pleas input the amount"  readonly="#{chequePaymentVoucherController.others}"                                                                     
                                                                     value="#{chequePaymentVoucherController.chequePaymentVoucher.amountInFigure}" class="form-control">
                                                            <f:validateDoubleRange/>   
                                                        </p:inputText>
                                                        <p:message display="icon" for="txtAmountInFigure"/>
                                                    </div> 
                                                </div>
                                                <div class="form-group"> 
                                                    <p:outputLabel id="lblTaxTypes" for="selectTaxTypes" class="control-label col-sm-3" value="Tax Type:"/> 
                                                    <div class="col-sm-3">   
                                                        <p:selectOneMenu id="selectTaxTypes" required="false" label="Type" 
                                                                         valueChangeListener="#{chequePaymentVoucherController.changeSignature}"
                                                                         disabled="#{chequePaymentVoucherController.selectOptionStatus}">
                                                            <f:selectItem itemLabel="--Select Types--" itemValue="" />
                                                            <f:selectItem itemLabel="Purchase" itemValue="1" />
                                                            <f:selectItem itemLabel="Service" itemValue="2" />                                                           
                                                            <p:ajax event="change" update="pnlDialog,txtAmountInFigure,Ittaxvat,ITtaxwithHold" process="@this" oncomplete="PF('taxPoup').show()" /> 
                                                        </p:selectOneMenu>
                                                        <p:message display="text"  class="col-sm-3 control-label" for="selectTaxTypes"/>
                                                    </div>
                                                    <p:outputLabel id="lblTaxvat" for="selectTaxTypes" class="control-label col-sm-3" value=" Vat :"/> 
                                                    <div class="col-sm-3"> 
                                                        <strong><p:inputText id="Ittaxvat" value="#{chequePaymentVoucherController.vatTax}" /><br/> </strong>
                                                    </div>
                                                    <p:dialog header="Values" modal="true"   position="500,200"   widgetVar="taxPoup" height="170" width="450" resizable="false" >
                                                        <p:panel id="pnlDialog">
                                                            <div class="panel-body">
                                                                <div class="form-group"> 
                                                                    <p:outputLabel id="lblReferenceNo1" class="control-label col-sm-6" value="Amount in Figures"/>  
                                                                    <div class="col-sm-6">  
                                                                        <p:inputText id="txtReferenceNo11" value="#{chequePaymentVoucherController.chequePaymentVoucher.amountInFigure}" readonly="#{chequePaymentVoucherController.taxrend}">
                                                                            <p:ajax event="change" update="txtReferenceNo11" process="@this"/>
                                                                        </p:inputText>
                                                                        <p:message display="text"  class="col-sm-3 control-label" for="txtReferenceNo11"/>
                                                                    </div> 
                                                                </div> 

                                                                <p:outputLabel id="lblWithholdingRate"   class="control-label col-sm-6" value="Type of Tax %"/> 
                                                                <div class="col-sm-3">  
                                                                    <p:selectOneMenu id="selectTypes" value="#{chequePaymentVoucherController.luVatTypeLookup}" label="Type"
                                                                                     converter="entConverter"  filterMatchMode="contains" filter="true" required="false"
                                                                                     valueChangeListener="#{chequePaymentVoucherController.handleChangeTaxType}"
                                                                                     disabled="#{chequePaymentVoucherController.selectOptionStatus}"
                                                                                     style="width: 100%">
                                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                                        <f:selectItems value="#{chequePaymentVoucherController.taxList}" var="taxVar"
                                                                                       itemLabel="#{taxVar.vatType} " itemValue="#{taxVar}"/>
                                                                        <p:ajax event="change" update="pnlDialog,txtAmountInFigure,Ittaxvat,ITtaxwithHold" process="@this" oncomplete="PF('taxPoup').hide()" /> 
                                                                    </p:selectOneMenu>
                                                                    <p:message display="text"  class="col-sm-3 control-label" for="selectTypes"/>
                                                                </div>


                                                            </div>

                                                        </p:panel>

                                                    </p:dialog>
                                                </div>
                                                <div class="form-group"> 

                                                    <h:outputLabel id="lblPurpose" for="txtPurpose" class="control-label col-sm-3" value="Purpose"/>  
                                                    <div class="col-sm-3">  
                                                        <p:inputTextarea  id="txtPurpose" value="#{chequePaymentVoucherController.fmsVoucher.purpose}" 
                                                                          rows="5" cols="30" counter="Remark" maxlength="500" counterTemplate="{0} characters remaining." autoResize="false">

                                                        </p:inputTextarea>
                                                        <h:outputText id="Remark" />
                                                    </div> 
                                                    <p:outputLabel id="lblTaxwithhold" for="selectTaxTypes" class="control-label col-sm-3" value="  With Hold : "/> 


                                                    <div class="col-sm-3"> 
                                                        <strong><p:inputText id="ITtaxwithHold"   value="#{chequePaymentVoucherController.WITHHOLD}" /> <br/> </strong>
                                                    </div>

                                                </div>   

                                            </div>         
                                        </div>
                                    </div>

                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account Distribution Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup style="border: 0px; background-color: transparent" id="pnlAccDetail"  >
                                    <div class="col-md-12">

                                        <div class="col-md-6">

                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <label class="control-label col-sm-4" >Cost Center</label>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="drpCostCenter"  value="#{chequePaymentVoucherController.fmsCostcSystemJunction}" 
                                                                         converter="entConverter"  filterMatchMode="contains" filter="true" required="true"
                                                                         valueChangeListener="#{chequePaymentVoucherController.onChangeCostCenter}" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{chequePaymentVoucherController.ssCcJunctionList}" var="costC"
                                                                           itemLabel="#{costC.fmsCostCenter.systemName} " itemValue="#{costC}"/>
                                                            <p:ajax event="change" process="@this" update="@this"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="drpCostCenter" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4" value="Action"/>
                                                    <div class="col-sm-8"> 
                                                        <p:selectOneRadio id="txtAction" required="true" value="#{chequePaymentVoucherController.actionDebitCredit}">
                                                            <f:selectItem itemLabel="Debit" itemValue="Debit" />
                                                            <f:selectItem itemLabel="Credit" itemValue="Credit" />                            
                                                        </p:selectOneRadio>  
                                                        <p:message for="txtAction" display="icon"  class="col-sm-3 control-label"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">   
                                                    <h:outputLabel id="buttonaddDtl" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnAdd" class="btn btn-primary"  value="Add" process="pnlAccDetail" 
                                                                         action="#{chequePaymentVoucherController.addSubsidiaryLedgerDetail()}"
                                                                         update="tblAcctDetl,pnlAccDetail" />
                                                    </div> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel  for="glSearch" class="control-label col-sm-4" value="General Ledger:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="glSearch" value="#{chequePaymentVoucherController.fmsGeneralLedger}"
                                                                         converter="entConverter" filterMatchMode="contains" filter="true" 
                                                                         valueChangeListener="#{chequePaymentVoucherController.onChangeGeneralLedger}"  
                                                                         required="true" requiredMessage="Value is required: Select General Ledger" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{chequePaymentVoucherController.glList}" var="glVarr"
                                                                           itemLabel="#{glVarr.generalLedgerCode}" itemValue="#{glVarr}"/>
                                                            <p:ajax event="change" process="@this" update="selectSubL" />
                                                        </p:selectOneMenu> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <label class="control-label col-sm-4" >Subsidiary Ledger</label>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selectSubL" value="#{chequePaymentVoucherController.fmsSubsidiaryLedger}"
                                                                         converter="entConverter" filterMatchMode="startsWith" filter="true" 
                                                                         valueChangeListener="#{chequePaymentVoucherController.onChangeSubsidiaryLedger}"  
                                                                         required="true" requiredMessage="Value is required: Select Subsidiary Ledger" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{chequePaymentVoucherController.slList}" var="slVar"
                                                                           itemLabel="#{slVar.subsidiaryCode}" itemValue="#{slVar}"/>
                                                            <p:ajax event="change" process="@this" update="@this" />
                                                        </p:selectOneMenu> 
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel  for="txtValue" class="control-label col-sm-4" value="Value"/>
                                                    <div class="col-sm-8"> 
                                                        <p:inputText id="txtValue" required="true"
                                                                     value="#{chequePaymentVoucherController.valueDebitCredit}" > <f:validateDoubleRange/>    </p:inputText>
                                                        <p:message for="txtValue" display="text"  class="col-sm-3 control-label"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup id="pnlAccountDetialInfo">
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group">  
                                            <p:dataTable id="tblAcctDetl" value="#{chequePaymentVoucherController.accountUseDetailDataModel}" class="datatable" rowIndexVar="num" var="acctDtl" rows="7"  
                                                         selection="#{chequePaymentVoucherController.selectedAccountUses}" rowKey="#{acctDtl.fmsAccountUseId}"
                                                         paginator="true"  paginatorPosition="bottom" >
                                                <p:ajax event="rowSelect" listener="#{chequePaymentVoucherController.populateAccDetail}" process="@this,:frmRegisterUI:pnlAccountDetialInfo" update=":frmRegisterUI:pnlAccDetail"/>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="S.No"/>
                                                    </f:facet>
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column> 
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Account Code"/>
                                                    </f:facet>
                                                    <h:outputText id="outputText20" 
                                                                  value="  #{acctDtl.subsidaryId}    "/> 
                                                    <f:facet name="footer">
                                                        <h:outputText value="total"/>
                                                    </f:facet>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Debit"/>
                                                    </f:facet>
                                                    <h:outputText value="#{acctDtl.debit}" converter="#{chequePaymentVoucherController.numberConverter}"/>
                                                    <f:facet name="footer">
                                                        <h:outputText value="#{chequePaymentVoucherController.debit}"/>
                                                    </f:facet>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Credit"/>
                                                    </f:facet>
                                                    <h:outputText value="#{acctDtl.credit}" converter="#{chequePaymentVoucherController.numberConverter}"/>
                                                    <f:facet name="footer">
                                                        <h:outputText value="#{chequePaymentVoucherController.credit}"/>
                                                    </f:facet>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Amount"/>
                                                    </f:facet>
                                                    <h:outputText value="#{acctDtl.amt}" converter="#{chequePaymentVoucherController.numberConverter}"/>
                                                    <f:facet name="footer">
                                                        <h:outputText value="#{chequePaymentVoucherController.totalamt}"/>
                                                    </f:facet>
                                                </p:column>
                                                <p:column headerText="Option" >
                                                    <p:commandLink action="#{chequePaymentVoucherController.remove()}"                                       
                                                                   value="remove" 
                                                                   update="tblAcctDetl"
                                                                   process="tblAcctDetl">
                                                    </p:commandLink>|                     
                                                </p:column>

                                            </p:dataTable>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup id="pnlGrpJvPreparer" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="#{chequePaymentVoucherController.processedBy}" />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtPrepareBy" readonly="true" value="#{workFlow.userName}" class="form-control"/>
                                                        <p:message for="txtPrepareBy" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Prepare Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="calPreparedDate" pattern="yyyy/MM/dd" required="true" requiredMessage="pleas insert date" value="#{chequePaymentVoucherController.fmsVoucher.preparedDate}" placeholder="Prepare date" />
                                                        <p:message  for="calPreparedDate" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Remark:"/>
                                                    <div class="col-sm-8">
                                                        <p:column headerText="Remark">
                                                            <h:inputTextarea  rows="2" cols="22" id="txtRemark" class="form-control" value="#{chequePaymentVoucherController.fmsVoucher.preparedRemark}" required="true" requiredMessage="pleas input the remark"> </h:inputTextarea> 
                                                        </p:column>
                                                        <p:message for="txtRemark" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblbuttonaSave" class="control-label col-sm-4"/>
                                                    <div class="col-sm-3">
                                                        <p:commandButton id="btnSaveJv" class="btn btn-primary"  validateClient="true"                                                   
                                                                         value="#{chequePaymentVoucherController.saveorUpdateBundle}" 
                                                                         action="#{chequePaymentVoucherController.saveChequePaymentVoucher()}"
                                                                         process="@this,pnlGrpJvRegister,pnlGrpJvPreparer" 
                                                                         update="@this,pnlGrpJvRegister,pnlGrpJvPreparer,frmRegisterUI" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <p:panel id="pnlPrint" class="visible-print" style="border: 0">
                <div id="wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="col-xs-12 text-center">
                                    <h3><b></b></h3>
                                    <h4><b>ERP</b> </h4>
                                </div>
                                <div class="col-xs-12 text-center"> <b>PAYMENT VOUCHER</b></div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12 text-center" align="center">
                                    <h5 align="center"><b></b></h5>
                                </div>
                            </div> 
                            <div class="col-xs-4 text-right">            
                                <h4><b style="font-family: Blackadder ITC ; font-size: 17">PV No:</b>&#32;&#32;<u><h:outputText value="#{chequePaymentVoucherController.voucherNO}"/></u></h4>
                                <h6><b>TRANSACTION NO <br>Date</br></b>&#32;&#32;<u><h:outputText value="#{chequePaymentVoucherController.chequePaymentVoucher.preparedDate}"><f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText></u> </h6>         
                            </div>
                            <div class="col-xs-6 ">
                                <h5><b>Pay To:</b>&#32;&#32;&#32;&#32;<u><h:outputText value="#{chequePaymentVoucherController.chequePaymentVoucher.paidTo}"/></u></h5>
                            </div>         
                        </div>
                        <!-- / end client details section -->
                        <div class="row">
                            <div class="form-horizontal  col-sm-12">                            
                                <p:panelGrid style="margin-top:20px">
                                    <f:facet name="header">
                                        <p:row>
                                            <p:column >Order</p:column>
                                            <p:column style="text-align: center">GRN No.</p:column>
                                            <p:column >Suppliers Invoice</p:column>
                                            <p:column width="400">Articles Of Services</p:column>
                                            <p:column width="400"></p:column>
                                        </p:row>
                                    </f:facet>
                                    <p:row>
                                        <p:column ></p:column>
                                        <p:column style="text-align: center"></p:column>
                                        <p:column > </p:column>
                                        <p:column style="text-align: center">#{chequePaymentVoucherController.fmsVoucher.purpose}</p:column>
                                        <p:column style="text-align: right"></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column ></p:column>
                                        <p:column style="text-align: center"></p:column>
                                        <p:column >  </p:column>
                                        <p:column style="text-align: right"></p:column>
                                        <p:column  style="text-align: right">#{chequePaymentVoucherController.fmsVoucher.fmsChequePaymentVoucher.amountInFigure}</p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column ></p:column>
                                        <p:column style="text-align: center"></p:column>
                                        <p:column > </p:column>
                                        <p:column style="text-align: right"></p:column>
                                        <p:column style="text-align: right"></p:column>
                                    </p:row>
                                    <p:row >
                                        <p:column ></p:column>
                                        <p:column style="text-align: center"></p:column>
                                        <p:column ></p:column>
                                        <p:column style="text-align: right"></p:column>
                                        <p:column style="text-align: right"></p:column>
                                    </p:row>
                                    <p:row >
                                        <p:column  colspan="4" rowspan="3" style="font-weight: bold;text-align: right;border:0;"> 
                                            <p:panelGrid columns="3" style="border: 0">            
                                                <h:outputText value="Prepared by__________________" />  <h:outputText value="Cheque No:#{chequePaymentVoucherController.chequePaymentVoucher.chequeNumber}" /><h:outputText value="Total" /> 
                                                <h:outputText value="Checked by___________________" /> <h:outputText value="Date:" /> <h:outputText value="Discount" /> 
                                                <h:outputText value="Internal Auditor_____________" /> <h:outputText value=" Cheque rec'd by:______________" /> <h:outputText value="Amount Payable" /> 
                                            </p:panelGrid>

                                        </p:column>
                                        <p:column  colspan="4" style="font-weight: bold;text-align: right;">15,990</p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column  colspan="4" style="font-weight: bold;text-align: right;border:1;"></p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column  colspan="4" style="font-weight: bold;text-align: right;">#{chequePaymentVoucherController.fmsVoucher.fmsChequePaymentVoucher.amountInFigure}</p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column  colspan="5" style="font-weight: bold;text-align: left;"> 
                                            (In words)#{chequePaymentVoucherController.fmsVoucher.fmsChequePaymentVoucher.amountInWord}
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column  colspan="5" style="font-weight: bold;text-align: left;"> 
                                            Approved____________________&#32;&#32;&#32;&#32;Date________________&#32;&#32;&#32;&#32;Authorized________________
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </div>                                          
                        </div> 
                        <div class="row">
                            <div class="form-horizontal  col-sm-12">                            
                                <p:panel id="basic" header="Account Distibution" style="margin-bottom:20px">
                                    <p:dataTable  id="tblAccountUsefoDetail1" class="table table-no-select-all " value="#{chequePaymentVoucherController.accountUseResults}" 
                                                  var="accountUseDetail" >
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="#{msg.SNo}"/>
                                            </f:facet>
                                            <h:outputText value="#{num+1}"/>
                                        </p:column>
                                        <p:column  >                                    
                                            <f:facet name="header">
                                                <h:outputLabel  id="outputText2" value="Account Code"/>
                                            </f:facet>
                                            <h:outputText id="outputText20" value="#{accountUseDetail.AC_NO_DEBIT}      "/>
                                        </p:column>
                                        <p:column >                                    
                                            <f:facet name="header">
                                                <h:outputLabel id="outputText4" value="Debit"/>
                                            </f:facet>
                                            <h:outputText id="outputTexrert40"  converter="#{chequePaymentVoucherController.numberConverter}" value="#{accountUseDetail.DEBIT}"/>
                                        </p:column>
                                        <p:column  >                                    
                                            <f:facet name="header">
                                                <h:outputLabel  id="outputText5" value="Account Code"/>
                                            </f:facet>
                                            <h:outputText id="outputText50" value="#{accountUseDetail.AC_NO_CREDIT}      "/>
                                        </p:column>
                                        <p:column >                                    
                                            <f:facet name="header">
                                                <h:outputLabel id="outputText7" value="Credit"/>
                                            </f:facet>
                                            <h:outputText id="outputTexrert70"  converter="#{chequePaymentVoucherController.numberConverter}" value="#{accountUseDetail.CREDIT}"/>
                                        </p:column>
                                    </p:dataTable> 
                                </p:panel>
                            </div>                                          
                        </div> 
                        <p>Distribution:- Original to Customer &#32;&#32;&#32;&#32; 1<sup>st</sup> Copy to Accounts&#32;&#32;&#32;&#32;2<sup>nd</sup> Copy Pad :-</p>
                    </div>
                </div>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>          
