<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="../../../resources/templates/template.xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li>
            <a href="../../fcms/Voucher/cashReceiptVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/ChequePayment.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cheque Payment Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashPaymentOrder.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCpo.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingChpv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cheque Payment Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCrv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingJv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/LedgerReport.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Ledger Report </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/TrialBalance.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Trial Balance Report</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/fmswithHoldingVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Withholding Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/VatVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Vat Voucher</a>
        </li>
    </ui:define>

    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlworkflowIcon">
                        <p:commandLink id="cmdLinkWf" value="W" class="fa fa-fw" 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWf" value="#{journalVoucherController.workflowDataModel}" rowIndexVar="num" var="wfVar" 
                                                                 rows="10" paginator="true" paginatorPosition="bottom" >
                                                        <p:column headerText="S/N" width="60">
                                                            <h:outputText value="#{num+1}"/>
                                                        </p:column> 
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{wfVar.processedBy}"/> 
                                                        </p:column>
                                                        <p:column headerText="Decision">
                                                            <h:outputText value="#{wfVar.changedDecision}"/> 
                                                        </p:column>
                                                        <p:column headerText="Processed On">
                                                            <h:outputText value="#{wfVar.processedOn}"/> 
                                                        </p:column>
                                                        <p:column headerText="Comment Given">
                                                            <h:outputText value="#{wfVar.commentGiven}"/> 
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <p:commandButton id="btnIcone" action="#{journalVoucherController.createJournalVocherReg()}" 
                                     icon="#{journalVoucherController.icone}" validateClient="true" style="background-color: white; border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar" title="#{journalVoucherController.createOrSearchBundle}"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <h:panelGroup id="pnlnew" rendered="#{journalVoucherController.createNEWrend}">
                        <p:commandButton id="btnIcone1"  action="#{journalVoucherController.createNewJv1()}" 
                                         icon="#{journalVoucherController.icone1}" validateClient="true" style="background-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                         title="#{journalVoucherController.createOrSearchBundle1}"
                                         rendered="#{journalVoucherController.new1}"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <a href="JournalVoucherReg.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                        <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>

                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{journalVoucherController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search JV ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlSearchJv" class="col-sm-12"> 
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblSearchBy" class="control-label col-sm-4" value="Voucher Code:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtJvId" class="form-control" value="#{journalVoucherController.voucherId}" title="Enter Voucher No. to search" placeholder="example: 2017/05/18-29-JV"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal"> 
                                                    <h:outputLabel id="FindInfo" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnSearch" value="Find" class="btn btn-primary" action="#{journalVoucherController.searchJournalVoucherByVoucherId}" 
                                                                         icon="ui-icon-search" process="@this,pnlSearchJv" update=":frmMainUI:frmJvDetail:tblJvDatail"/>            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmJvDetail"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblJvDatail" value="#{journalVoucherController.voucherDataModel}" rowIndexVar="num" selectionMode="single"
                                                             rowKey="#{jvInfo.voucherId}"
                                                             var="jvInfo" rows="10" paginator="true" paginatorPosition="bottom" editable="true">
                                                    <p:ajax event="rowSelect" listener="#{journalVoucherController.populate}" update=":frmRegisterUI,:frmMainUI,:frmToolbar"/>
                                                    <p:column headerText="S.No" width="150">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Voucher Id">
                                                        <h:outputText value="#{jvInfo.voucherId}" />
                                                    </p:column>
                                                    <p:column headerText="Voucher Type">
                                                        <h:outputText value="#{jvInfo.type}" /> 
                                                    </p:column>
                                                    <p:column headerText="Purpose">
                                                        <h:outputText value="#{jvInfo.purpose}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>

        <!--Create JV Page-->
        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" 
                          rendered="#{journalVoucherController.renderPnlCreateJv}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Journal Voucher </h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlGrpJvRegister">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblSystem1" class="control-label col-sm-4" value="System:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="sysSearch1" value="#{journalVoucherController.fmsLuSystem}" disabled="#{journalVoucherController.selectOptionStatus}" 
                                                                         filterMatchMode="contains" filter="true" converter="entConverter" 
                                                                         style="width: 100%" required="true" 
                                                                         valueChangeListener="#{journalVoucherController.onChangeSystem}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{journalVoucherController.systemList}" var="sys" itemLabel="#{sys.systemCode}" itemValue="#{sys}" />
                                                            <p:ajax event="change" process="@this" update="drpCostCenter,txtVoucherNo,glSearch"/>
                                                            <!-- <p:ajax   event="change"  update="drpCostCenter,txtVoucherNo"  process="@this" />-->
                                                        </p:selectOneMenu>
                                                        <p:message display="icon" for="sysSearch1"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Select Option:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selOption" required="true" 
                                                                         converter="entConverter" style="width: 100%" disabled="#{journalVoucherController.selectOptionStatus}" 
                                                                         valueChangeListener="#{journalVoucherController.optionHandiler}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                            <f:selectItem itemLabel="Coded transaction" itemValue="codedTransaction" />  
                                                            <f:selectItem itemLabel="Payroll Summary" itemValue="payrollSummary" />  
                                                            <f:selectItem itemLabel="Billing Transaction" itemValue="billingTransaction" />  
                                                            <f:selectItem itemLabel="Other" itemValue="other" />  
                                                            <p:ajax event="change" process="@this" update="@this,:frmRegisterUI,:frmRegisterUI:pnlAccDetail" 
                                                                    />
                                                        </p:selectOneMenu>
                                                        <p:message for="selOption" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Reference-No.:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtReferenceNo" class="form-control" readonly="#{journalVoucherController.isReadOnlyTxtRefNo}" value="#{journalVoucherController.journalVoucherEnty.referenceNumber}" required="true"/>
                                                        <p:message for="txtReferenceNo" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblVoucherNO" class="control-label col-sm-4"  value="Voucher-No.:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtVoucherNo" class="form-control" readonly="true" rendered="#{journalVoucherController.saveVochNo}"
                                                                     value="#{journalVoucherController.fmsVouchersNoRange.currentNo}" />
                                                        <p:inputText id="txtpopVoucherNo" class="form-control" readonly="true" rendered="#{journalVoucherController.popvocjNo}"
                                                                     value="#{journalVoucherController.fmsVoucher.voucherNo}" />
                                                    </div>                                               
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Purpose:"/>
                                                    <div class="col-sm-8">
                                                        <p:column headerText="Purpose">
                                                            <h:inputTextarea id="txtPurpose" value="#{journalVoucherController.fmsVoucher.purpose}" 
                                                                             required="true" class="form-control" style="width: 100%" > </h:inputTextarea>                                               
                                                            <p:message for="txtPurpose" display="icon"/>
                                                        </p:column> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account Distribution</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup style="border: 0px; background-color: transparent" id="pnlAccDetail" rendered="#{journalVoucherController.addButtonStatus}" >
                                    <div class="col-md-12">

                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                

                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <label class="control-label col-sm-4" >Cost Center</label>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="drpCostCenter"  value="#{journalVoucherController.fmsCostcSystemJunction}" 
                                                                         converter="entConverter"  filterMatchMode="contains" filter="true" required="true"
                                                                         valueChangeListener="#{journalVoucherController.onChangeCostCenter}" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{journalVoucherController.ssCcJunctionList}" var="costC"
                                                                           itemLabel="#{costC.fmsCostCenter.systemName} " itemValue="#{costC}"/>
                                                            <p:ajax event="change" process="@this" />
                                                        </p:selectOneMenu>
                                                        <p:message for="drpCostCenter" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Action:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneRadio id="txtAction" required="true" value="#{journalVoucherController.actionDebitCredit}">
                                                            <f:selectItem itemLabel="Debit" itemValue="Debit" />
                                                            <f:selectItem itemLabel="Credit" itemValue="Credit" />                            
                                                        </p:selectOneRadio> 
                                                        <p:message for="txtAction" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="buttonaddDtl" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnAdd" class="btn btn-primary" action="#{journalVoucherController.journalVoucherAddSubsidiaryLedgerDetail()}" validateClient="true" 
                                                                         process="@this,pnlAccDetail" update=":frmRegisterUI:pnlAccDetail,pnlAccountDetialInfo"
                                                                         value="Add"/>            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel  for="glSearch" class="control-label col-sm-4" value="General Ledger:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="glSearch" value="#{journalVoucherController.fmsGeneralLedger}"
                                                                         converter="entConverter" filterMatchMode="contains" filter="true" 
                                                                         valueChangeListener="#{journalVoucherController.onChangeGeneralLedger}"  
                                                                         required="true" requiredMessage="Value is required: Select General Ledger" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{journalVoucherController.glList}" var="glVarr"
                                                                           itemLabel="#{glVarr.generalLedgerCode}" itemValue="#{glVarr}"/>
                                                            <p:ajax event="change" process="@this" update="selectSubL" />
                                                        </p:selectOneMenu> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <label class="control-label col-sm-4" >Subsidiary Ledger</label>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selectSubL" value="#{journalVoucherController.fmsSubsidiaryLedger}"
                                                                         converter="entConverter" filterMatchMode="startsWith" filter="true" 
                                                                         valueChangeListener="#{journalVoucherController.onChangeSubsidiaryLedger}"  
                                                                         required="true" requiredMessage="Value is required: Select Subsidiary Ledger" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{journalVoucherController.slList}" var="slVar"
                                                                           itemLabel="#{slVar.subsidiaryCode}" itemValue="#{slVar}"/>
                                                            <p:ajax event="change" process="@this" update="@this" />
                                                        </p:selectOneMenu> 
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Value:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtValue" class="form-control" required="true" value="#{journalVoucherController.valueDebitCredit}" converter="#{journalVoucherController.numberConverter}" />
                                                        <p:message for="txtValue" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup id="pnlAccountDetialInfo" class="col-sm-12">
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group">  
                                            <p:dataTable id="tblAcctDetl" resizableColumns="true" value="#{journalVoucherController.accountUseDetailDataModel}" rowIndexVar="num" var="acctDtl" rows="6"  
                                                         selection="#{journalVoucherController.selectedAccountUses}" rowKey="#{acctDtl.subsidaryId}"
                                                         paginator="true" paginatorPosition="bottom" >
                                                <p:ajax event="rowSelect" listener="#{journalVoucherController.populateAccDetail}" 
                                                        process="@this,:frmRegisterUI:pnlAccountDetialInfo" 
                                                        update=":frmRegisterUI:pnlAccDetail"/>
                                                <p:column headerText="S.No" width="60">
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column> 
                                                <p:column headerText="Account Code">
                                                    <h:outputText id="outputText20" 
                                                                  value="#{acctDtl.subsidaryId}"/>                     
                                                </p:column>
                                                <p:column headerText="Debit">
                                                    <h:outputText value="#{acctDtl.debit}" converter="#{journalVoucherController.numberConverter}"/>
                                                    <f:facet name="footer">
                                                        <h:outputText value="#{journalVoucherController.debit}"/>
                                                    </f:facet>
                                                </p:column>
                                                <p:column headerText="Credit">
                                                    <h:outputText value="#{acctDtl.credit}" converter="#{journalVoucherController.numberConverter}"/>
                                                    <f:facet name="footer">
                                                        <h:outputText value="#{journalVoucherController.credit}"/>
                                                    </f:facet>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Amount"/>
                                                    </f:facet>
                                                    <h:outputText value="#{acctDtl.amt}" converter="#{journalVoucherController.numberConverter}"/>
                                                    <f:facet name="footer">
                                                        <h:outputText value="#{journalVoucherController.totalamt}"/>
                                                    </f:facet>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup id="pnlGrpJvPreparer" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Prepared by:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtPrepareBy" readonly="true" value="#{workFlow.userName}" class="form-control" required="true"/>
                                                        <p:message for="txtPrepareBy" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Prepare Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="calPreparedDate" pattern="yyyy/MM/dd" required="true" value="#{journalVoucherController.fmsVoucher.preparedDate}" placeholder="Prepare date"/>
                                                        <p:message  for="calPreparedDate" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Remark:"/>
                                                    <div class="col-sm-8">
                                                        <p:column headerText="Remark">
                                                            <h:inputTextarea  rows="2" cols="22" id="txtRemark" class="form-control" value="#{journalVoucherController.fmsVoucher.preparedRemark}" required="true"> </h:inputTextarea> 
                                                        </p:column>
                                                        <p:message for="txtRemark" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblbuttonaSave" class="control-label col-sm-4"/>
                                                    <div class="col-sm-3">
                                                        <p:commandButton id="btnSaveJv" class="btn btn-primary"  validateClient="true"                                                   
                                                                         value="#{journalVoucherController.saveorUpdateBundle}" 
                                                                         action="#{journalVoucherController.saveJournalVoucher()}"
                                                                         process="@this,pnlGrpJvRegister,pnlGrpJvPreparer" 
                                                                         update="@this,pnlGrpJvRegister,pnlGrpJvPreparer,frmRegisterUI" />
                                                    </div>
                                                    <div class="col-sm-3 ">
                                                        <p:commandButton id="btnPrint" value="Print" class="btn btn-primary " 
                                                                         rendered="#{journalVoucherController.renderBtnPrint}" >
                                                            <p:printer target="pnlPrint" />
                                                        </p:commandButton>                                          
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
            <p:panel id="pnlPrint" class="visible-print" style="border: 0">
                <div id="wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="col-xs-12 text-center">
                                    <h3><b> የኢትዮጵያ ኤሌክትሪክ ኃይል</b></h3>
                                    <h4><b>ERP</b> </h4>
                                    <small><b>Tel:-</b>011-551 32 88&#32;&#32; <b>FAX:-</b>011-551 29 38&#32;&#32; <b>P.O.Box:-</b> 3375</small>
                                </div>
                                <div class="col-xs-12 text-center"></div>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-12 text-center">
                                    <h4><b> ጆርናል ቮዉቸር</b></h4>
                                    <h5><u><b> Journal Voucher</b></u></h5></div>
                            </div> 
                            <div class="col-xs-4 text-right">            
                                <h4><b style="font-family: Blackadder ITC ; font-size: 17">№:</b>&#32;&#32;<u><h:outputText value="#{journalVoucherController.voucherNO}"/></u></h4>
                                <h6><b>Date:</b>&#32;&#32;<u><h:outputText value="#{journalVoucherController.journalVoucherEnty.preparedDate}"><f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText></u> </h6>         
                            </div>

                            <div class="col-xs-6 ">
                                <h5><b> From</b>&#32;&#32;<u><h:outputText value="Ethipian Electric Power"/></u></h5>
                                <h5><b>Address</b>&#32;&#32;<u><b>Region</b> A.A <b>S/C.</b> lideta <b>K.</b>10 <b>H.No</b> New</u> </h5>         
                                <h5><b>VAT No.</b>&#32;&#32;<u><h:outputText value="5455720003" /></u></h5>
                                <h5><b>TIN No.</b>&#32;&#32; <u><h:outputText  value="0036642280"/></u> </h5>
                            </div>         

                        </div>
                        <div class="row">
                            <div class="col-xs-12">                 
                                <h5><b>Amount In Birr:</b>&#32;&#32; <u><h:outputText converter="#{journalVoucherController.numberConverter}" value="#{journalVoucherController.journalVoucherEnty.amountInFigure}" /></u> </h5>
                                <h5><b>Being:</b>&#32;&#32;<u><h:outputText value="#{journalVoucherController.fmsVoucher.purpose}" /></u></h5>
                            </div>
                        </div> 

                        <!-- / end client details section -->

                        <div class="row">
                            <div class="form-horizontal  col-sm-12">                            

                                <p:dataTable id="tblAccountUsefoDetail1" class="table table-no-select-all " value="#{journalVoucherController.accountUseDetailDataModel}" 
                                             var="accountUseDetail" >
                                    <p:column width="60">
                                        <f:facet name="header">
                                            <h:outputText value="#{msg.SNo}"/>
                                        </f:facet>
                                        <h:outputText value="#{num+1}"/>
                                    </p:column>
                                    <p:column  >                                    
                                        <f:facet name="header">
                                            <h:outputLabel  id="outputText2" value="Account Code"/>
                                        </f:facet>
                                        <h:outputText id="outputText20" value="#{accountUseDetail.display_conn}      "/>
                                    </p:column>
                                    <p:column >                                    
                                        <f:facet name="header">
                                            <h:outputLabel id="outputText4" value="Debit"/>
                                        </f:facet>
                                        <h:outputText id="outputTexrert40"  converter="#{journalVoucherController.numberConverter}" value="#{accountUseDetail.debit}"/>
                                    </p:column>

                                    <p:column  >                                    
                                        <f:facet name="header">
                                            <h:outputLabel id="outputText5" value="Credit"/>
                                        </f:facet>
                                        <h:outputText id="outputTexrert50" converter="#{journalVoucherController.numberConverter}" value="#{accountUseDetail.credit}"/>
                                    </p:column>  

                                </p:dataTable> 
                            </div>                                          
                        </div> 
                        <div class="row" >
                            <div class="col-xs-6">
                                <div class="panel panel-info" style="border: 0">
                                    <div class="panel-body">
                                        <p>CASHIER/COLLECTED: Wasihun Daniel Alemu</p>
                                        <p>Signature__________________</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6" >
                                <div class="span7">
                                    <div class="panel panel-info" style="border: 0" >
                                        <div class="panel-body" >
                                            <p>Checked By: Wasihun Daniel Alemu</p>
                                            <p>Signature__________________</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Distribution:- Original to Customer &#32;&#32;&#32;&#32; 1<sup>st</sup> Copy to Accounts&#32;&#32;&#32;&#32;2<sup>nd</sup> Copy Pad :-</p>
                    </div>
                </div>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>          
