<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="../../../resources/templates/template.xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li>
            <a href="../../fcms/Voucher/JournalVoucherReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashReceiptVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/ChequePayment.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cheque Payment Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashPaymentOrder.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCpo.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingChpv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cheque Payment Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCrv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingJv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/fmswithHoldingVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Withholding Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/TrialBalance.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Trial Balance Report</a>
        </li>
          <li>
            <a href="../../fcms/Voucher/VatVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Vat Voucher</a>
        </li>
    </ui:define>

    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="LedgerReport.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >

                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <p:commandButton id="btnIcone" type="button" style="background-color: white"  title="Print" icon="ui-icon-print" action="pnlPrint" >
                        <p:printer target=":frmRegisterUI:pnlPrint" />
                    </p:commandButton>
                    <span class="ui-separator" >
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                        <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>

                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI"   >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">ledger Card Report</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="col-md-6">
                                    <div class=" col-sm-12 textBoxMargin6px">
                                        <div class="form-group form-horizontal">
                                            <h:outputLabel for="sysSearch" class="control-label col-sm-4"  value="System:"/>
                                            <div class="col-sm-8">
                                                <p:selectOneMenu id="sysSearch" value="#{ledgerCardViewController.fmsLuSystem.systemCode}" style="width: 100%"
                                                                 valueChangeListener="#{ledgerCardViewController.SystemChange}">
                                                    <f:selectItems value="#{ledgerCardViewController.listSys}" />
                                                </p:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 textBoxMargin6px">
                                        <div class="form-group form-horizontal">
                                            <h:outputLabel for="glSearch" class="control-label col-sm-4"  value="General Ledger:"/>
                                            <div class="col-sm-8">
                                                <p:selectOneMenu id="glSearch"  value="#{ledgerCardViewController.fmsGeneralLedger.generalLedgerCode}" filterMatchMode="contains" filter="true" style="width: 100%"
                                                                 valueChangeListener="#{ledgerCardViewController.getGeneralLedgerChange}" >
                                                    <f:selectItems value="#{ledgerCardViewController.GLdata}"></f:selectItems>
                                                    <p:ajax event="change" process="@this" update="selectSubL" />
                                                </p:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 textBoxMargin6px">
                                        <div class="form-group form-horizontal">
                                            <h:outputLabel for="calappDate4" class="control-label col-sm-4"  value="Account Period Start Date :"/>
                                            <div class="col-sm-8">
                                                <p:calendar id="calappDate4" pattern="yyyy/MM/dd"   required="true" value="#{ledgerCardViewController.start_date}"  />
                                                <p:message  for="calappDate4" display="text"  class="col-sm-3 control-label"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 textBoxMargin6px">
                                        <div class="form-group form-horizontal">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-8">
                                                <p:commandButton id="btnGeneret" class="btn btn-primary" value="Generet"  update="tblJvDatail,tbltralbanceDatail" 
                                                                 process="@(form)"   action="#{ledgerCardViewController.gettrialBalance()}"     >
                                                    <p:ajax />
                                                </p:commandButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class=" col-sm-12 textBoxMargin6px">
                                        <div class="form-group form-horizontal">
                                            <h:outputLabel for="selectSubL" class="control-label col-sm-4"  value="Subsidiary Ledger :"/>
                                            <div class="col-sm-8">
                                                <p:selectOneMenu id="selectSubL"  value="#{ledgerCardViewController.fmsSubsid1aryLedger1.subsidiaryId}" style="width: 100%"
                                                                 valueChangeListener="#{ledgerCardViewController.getSubsidiaryLChange}" disabled="#{ledgerCardViewController.sl}">
                                                    <f:selectItems value="#{ledgerCardViewController.findListSubL()}"></f:selectItems>
                                                    <p:ajax event="change" update="@this" />
                                                </p:selectOneMenu>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 textBoxMargin6px">
                                        <div class="form-group form-horizontal">
                                            <h:outputLabel for="calappDate5" class="control-label col-sm-4"  value="Account Period End Date :"/>
                                            <div class="col-sm-8">
                                                <p:calendar id="calappDate5" pattern="yyyy/MM/dd"   required="true" value="#{ledgerCardViewController.end_date}"  />
                                                <p:message  for="calappDate5" display="text"  class="col-sm-3 control-label"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="form-horizontal col-sm-12">
                                    <div class="form-group">                                        
                                        <div class="col-sm-12">
                                            <p:dataTable id="tblJvDatail" value="#{ledgerCardViewController.ledgerCardDataModel}" rowIndexVar="num" var="jvInfo" rows="7" 
                                                         paginator="true" paginatorPosition="bottom"  
                                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >
                                                <f:facet name="{Exporters}">
                                                    <h:commandLink>
                                                        <p:graphicImage name="../../../resources/image/excel_icon.jpg"  width="24"/>
                                                        <p:dataExporter  type="xls" target="tblJvDatail" fileName="cars" pageOnly="true"/>
                                                    </h:commandLink>
                                                </f:facet>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="No."/>
                                                    </f:facet>
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column> 
                                                <p:column headerText="Transaction No">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{jvInfo.reference}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="vId" value="#{jvInfo.reference}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Crediit">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{jvInfo.CREDIT}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="vType" value="#{jvInfo.CREDIT}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="DEBIT">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{jvInfo.DEBIT}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="debit" value="#{jvInfo.DEBIT}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Balance">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{jvInfo.balance}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="Balance" value="#{jvInfo.balance}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <p:panel id="pnlPrint" class="visible-print" style="border: 0">
                            <div id="wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-11">
                                            <div class="col-xs-12 text-center">
                                                <h3><b> የኢትዮጵያ ኤሌክትሪክ ኃይል</b></h3>
                                                <h4><b>ETHIOPIAN ELECTRIC POWER</b> </h4>
                                                <small><b>Tel:-</b>011-551 32 88&#32;&#32; <b>FAX:-</b>011-551 29 38&#32;&#32; <b>P.O.Box:-</b> 3375</small>
                                            </div>
                                            <div class="col-xs-12 text-center"></div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="col-xs-12 text-center">
                                                <h4><b> የወጪ  ማዘዣና ደረሰኝ</b></h4>
                                                <h5><u><b> Ledger Report</b></u></h5></div>
                                        </div> 
                                        <div class="col-xs-4 text-right">            
                                            <h4><b style="font-family: Blackadder ITC ; font-size: 17">№:</b>&#32;&#32;<u><h:outputText value="#{ledgerCardViewController.fmsLuSystem.systemCode}"/></u></h4>
                                        </div>
                                        <div class="col-xs-6 ">
                                            <h5><b> From</b>&#32;&#32;<u><h:outputText value="Ethipian Electric Power"/></u></h5>
                                            <h5><b>Address</b>&#32;&#32;<u><b>Region</b> A.A <b>S/C.</b> lideta <b>K.</b>10 <b>H.No</b> New</u> </h5>         
                                            <h5><b>VAT No.</b>&#32;&#32;<u><h:outputText value="5455720003" /></u></h5>
                                            <h5><b>TIN No.</b>&#32;&#32; <u><h:outputText  value="0036642280"/></u> </h5>
                                        </div>         
                                    </div>
                                    <!-- / end client details section -->
                                    <div class="row">
                                        <div class="form-horizontal  col-sm-12">                            
                                            <p:dataTable id="tbltralbanceDatail" value="#{ledgerCardViewController.ledgerCardDataModel}" rowIndexVar="num" var="jvInfo" 
                                                         paginator="true" paginatorPosition="bottom"  >
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="No."/>
                                                    </f:facet>
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column> 
                                                <p:column headerText="Transaction No">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{jvInfo.reference}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="vId" value="#{jvInfo.reference}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Crediit">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{jvInfo.CREDIT}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="vType" value="#{jvInfo.CREDIT}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="DEBIT">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{jvInfo.DEBIT}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="debit" value="#{jvInfo.DEBIT}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Balance">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{jvInfo.balance}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="Balance" value="#{jvInfo.balance}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>

                                            </p:dataTable>
                                        </div>                                          
                                    </div> 
                                    <div class="row" >
                                        <div class="col-xs-6">
                                            <div class="panel panel-info" style="border: 0">
                                                <div class="panel-body">
                                                    <p>CASHIER/COLLECTED: Wasihun Daniel Alemu</p>
                                                    <p>Signature__________________</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6" >
                                            <div class="span7">
                                                <div class="panel panel-info" style="border: 0" >
                                                    <div class="panel-body" >
                                                        <p>Checked By: Wasihun Daniel Alemu</p>
                                                        <p>Signature__________________</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Distribution:- Original to Customer &#32;&#32;&#32;&#32; 1<sup>st</sup> Copy to Accounts&#32;&#32;&#32;&#32;2<sup>nd</sup> Copy Pad :-</p>
                                </div>
                            </div>
                        </p:panel>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>          
