<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li>
            <a href="../../fcms/Voucher/JournalVoucherReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashReceiptVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/ChequePayment.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cheque Payment Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashPaymentOrder.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/fmswithHoldingVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Withholding Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingChpv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cheque Payment Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCrv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingJv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/LedgerReport.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Ledger Report </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/TrialBalance.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Trial Balance Report</a>
        </li>
          <li>
            <a href="../../fcms/Voucher/VatVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Vat Voucher</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlworkflowIcon">
                        <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-gear" 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWf" value="#{chequePaymentVoucherController.workflowDataModel}" rowIndexVar="num" var="wfVar" 
                                                                 rows="10" paginator="true" paginatorPosition="bottom" >
                                                        <p:column headerText="S/N" width="60">
                                                            <h:outputText value="#{num+1}"/>
                                                        </p:column> 
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{wfVar.processedBy}"/> 
                                                        </p:column>
                                                        <p:column headerText="Decision">
                                                            <h:outputText value="#{wfVar.decision}"/> 
                                                        </p:column>
                                                        <p:column headerText="Processed On">
                                                            <h:outputText value="#{wfVar.processedOn}"/> 
                                                        </p:column>
                                                        <p:column headerText="Comment Given">
                                                            <h:outputText value="#{wfVar.commentGiven}"/> 
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                      
                    </h:panelGroup>
                    
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="ChequePayment.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form  id="cpvForm" class="form-horizontal"> 
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,error"/>  
            <!--account use datatable--> 
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cash Payment Voucher Posting </h3>
                </div>
                <div class="box-body">
                    <div class="form-group col-sm-10">
                        <div class="form-horizontal col-sm-8" style="padding-bottom: 10px;" >
                            <div class="col-md-12 ">
                                <div class="col-sm-3">
                                    <p:commandButton id="btnjenerit" class="btn  btn-block btn-primary col-lg-4"                                                   
                                                     value=" View " action="#{postingCashPaymentOrderController.GeneratePostingCpo()}"
                                                     update=":cpvForm"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal  col-sm-12">                            
                        <div class="form-group">
                            <p:dataTable  id="tblAccountUsefoDetail" style="font-family: Cambria; " value="#{postingCashPaymentOrderController.vouchersDetailDataModel}" editable="true" editMode="cell" 
                                          var="voucherDetail"  paginator="true" paginatorPosition="bottom"  rowIndexVar="num" lazy="true" scrollHeight="700"  
                                          rowKey ="#{voucherDetail.voucherId}" selection="#{postingCashPaymentOrderController.selectedVouches}">
                                <p:ajax event="rowSelect" listener="#{postingCashPaymentOrderController.check}" update=":cpvForm:tblAccountUsefoDetail"/>  
                                <p:ajax event="rowUnselect" listener="#{postingCashPaymentOrderController.uncheck}"/>
                                <p:column id="column1" rendered="#{postingCashPaymentOrderController.rederedCheckBox}"   
                                          selectionMode="multiple" style="width:30px;text-align:center"/>     
                                <p:column style="width:16px">
                                    <p:rowToggler   id="rowTogglerid"  >
                                    </p:rowToggler>
                                </p:column>
                                <p:column style="width:20px;text-align:center">
                                    <f:facet name="header">
                                        <h:outputText value="#{msg.SNo}"/>
                                    </f:facet>
                                    <h:outputText value="#{num+1}"/>
                                </p:column>
                                <p:column id="column26"  style="width:50px;text-align:left">                                    
                                    <f:facet name="header">
                                        <h:outputLabel  id="outputText26" value="Voucher Id"/>
                                    </f:facet>
                                    <h:outputText id="outputText206" value="#{voucherDetail.voucherId}"/>
                                </p:column>
                                <p:column id="column3" style="width:150px;text-align:left" >                                    
                                    <f:facet name="header">
                                        <h:outputLabel id="outputText3" value="Purpose"/>
                                    </f:facet>
                                    <h:outputText id="outputTexrert30" value="#{voucherDetail.purpose}"/>
                                </p:column>
                                <p:rowExpansion id="rowexpaId">
                                    <p:dataTable id="tblAccountUsefoDetail1" class="table table-no-select-all " value="#{postingCashPaymentOrderController.accountUseDetailDataModelposting}" 
                                                 var="accountUseDetail" editable="true" editMode="cell"  paginator="true" paginatorPosition="bottom" rowIndexVar="num" lazy="true" rows="5">
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="#{msg.SNo}"/>
                                            </f:facet>
                                            <h:outputText value="#{num+1}"/>
                                        </p:column>
                                        <p:column  headerText="Account Code">                                    
                                            <f:facet name="header"><h:outputText value="Account Code"/></f:facet>
                                            <h:outputLabel  id="outputText2" value="#{accountUseDetail.display_conn}"/>
                                        </p:column>
                                        <p:column  headerText="Debit">                                    
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputLabel  id="outputText22" converter="#{postingCashPaymentOrderController.numberConverter}"  value="#{accountUseDetail.debit}"/></f:facet>
                                                <f:facet name="input"><p:inputText id="inputText22" value="#{accountUseDetail.debit}"/> </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column  headerText="Credt">                                    
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputLabel  id="outputText23" converter="#{postingCashPaymentOrderController.numberConverter}"  value="#{accountUseDetail.credit}"/></f:facet>
                                                <f:facet name="input"><p:inputText id="inputText23" value="#{accountUseDetail.credit}"/> </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                    </p:dataTable> 
                                    <p:contextMenu for="tblAccountUsefoDetail1" widgetVar="cMenu">   
                                        <p:menuitem value="Edit Cell" icon="ui-icon-search" onclick="PF('cellCars').showCellEditor();
                                                return false;"/>  
                                        <p:menuitem value="Hide Menu" icon="ui-icon-close" onclick="PF('cMenu').hide()"/>  
                                    </p:contextMenu> 
                                </p:rowExpansion>
                            </p:dataTable> 
                        </div>
                    </div> 
                    <div class="form-group textBoxMargin6px">
                        <div class="col-sm-8">
                            <p:outputLabel value="Processed By:" class="control-label col-sm-2"/>
                            <div class="col-sm-4">
                                <p:inputText  readonly="true" class="form-control col-sm-2" value="#{workFlow.userName}"/>
                            </div>
                            <p:outputLabel value="Processed Date:" class="control-label col-sm-2"/>
                            <div class="col-sm-4">
                                <p:calendar  id="calProcessedDate" placeholder="MM/DD/YYYY" pattern="mm/dd/yyyy" value="#{postingCashPaymentOrderController.fmsVoucher.processedDate}">
                                    <f:convertDateTime pattern="mm/dd/yyyy"/>
                                </p:calendar>
                            </div>
                        </div>
                    </div>        
                    <div class="form-group col-sm-10">
                        <div class="form-horizontal col-sm-8" style="padding-bottom: 10px;" >
                            <div class="col-md-12 ">
                                <div class="col-sm-3">
                                    <p:commandButton id="btnPost" class="btn  btn-block btn-primary col-lg-4"                                                   
                                                     value="POST" update=":cpvForm"
                                                     action="#{postingCashPaymentOrderController.post_cashPaymentOrderVoucher_d()}"/>
                                </div>
                                <div class="col-sm-3">
                                    <p:commandButton id="btnVoid" class="btn  btn-block btn-primary col-lg-4"                                                  
                                                     value="VOID" 
                                                     onclick="PF('confirmation').show()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <p:growl id="message" showDetail="true" />
                    <p:confirmDialog id="confirmDialog" message="Are you sure about void the voucher?"  
                                     header="Initiating void process" severity="alert" widgetVar="confirmation">  
                        <h:outputLabel class="control-label col-sm-4"  value="Reason:"/>
                        <p:column headerText="Reason">
                            <h:inputTextarea id="txtAreaReason1" value="#{postingCashPaymentOrderController.fmsVoucher.reason}" 
                                             class="form-control"
                                             style="width: 100%" > 
                            </h:inputTextarea>
                        </p:column> 
                        <p:commandButton id="btnConfirm" value="Yes Sure" oncomplete="PF('confirmation').hide()"
                                         actionListener="#{postingCashPaymentOrderController.void_cashPayOrderVoucher_data()}" update=":cpvForm"/>  
                        <p:commandButton id="btnDecline" value="Not Yet" onclick="PF('confirmation').hide()" type="button" />   

                    </p:confirmDialog>
                </div>
            </div>
        </h:form>          
    </ui:define>
</ui:composition>          
