<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="../../../resources/templates/template.xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li>
            <a href="../../fcms/Voucher/JournalVoucherReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashReceiptVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/ChequePayment.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cheque Payment Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashPaymentOrder.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCpo.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingChpv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cheque Payment Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCrv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingJv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/LedgerReport.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Ledger Report </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/fmswithHoldingVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Withholding Voucher </a>
        </li>
          <li>
            <a href="../../fcms/Voucher/VatVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Vat Voucher</a>
        </li>
    </ui:define>

    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="TrialBalance.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <p:commandButton id="btnIcone" type="button" style="background-color: white"  title="Print" icon="ui-icon-print" action="pnlPrint" >
                        <p:printer target=":frmRegisterUI:pnlPrint" />
                    </p:commandButton>
                        
                    <span class="ui-separator" >
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                        
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>


        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI"   >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Trial Balance </h3>
                    </div>

                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup style="border: 0px; background-color: transparent" id="pnlAccDetail" >
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <p:outputLabel class="control-label col-sm-3" value="System Code"/>                                                        
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="sysSearch" value="#{ledgerCardViewController.fmsLuSystem.systemCode}" style="width: 100%"
                                                                     valueChangeListener="#{ledgerCardViewController.SystemChange}">
                                                        <f:selectItems value="#{ledgerCardViewController.listSys}" />
                                                    </p:selectOneMenu>
                                                </div>
                                            </div>                                                                
                                        </div>
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <p:outputLabel class="control-label col-sm-3" value="Account Period End Date"/>                                                        
                                                <div class="col-sm-3">
                                                    <p:calendar id="calappDate5" pattern="yyyy/MM/dd"   required="true" value="#{ledgerCardViewController.end_date}"
                                                                requiredMessage="Value is Required."/>
                                                    <p:message  for="calappDate5" display="icon"  class="col-sm-3 control-label"/>
                                                </div>
                                            </div>                                                                
                                        </div>
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <div class="col-sm-3">

                                                </div>
                                                <div class="col-sm-1">
                                                    <p:commandButton id="btnGeneret" class="btn btn-primary" value="Generate"  update=":frmRegisterUI,tblJvDatail" 
                                                                     action="#{ledgerCardViewController.gettrialBalance_GL()}"     >
                                                        <p:ajax />
                                                    </p:commandButton>
                                                </div>  
                                                <div class="col-sm-1"> 
                                                    <p:commandButton id="obPrint" class="btn btn-primary" value="Print" type="button"
                                                                     rendered="#{ledgerCardViewController.printerRenderTrialBalance}">
                                                        <p:printer target="tbltralbanceDatail"/>
                                                    </p:commandButton>
                                                </div>
                                            </div>                                                                
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 

                                <div class="form-horizontal col-sm-12">
                                    <div class="form-group">                                        
                                        <div class="col-sm-12">
                                            <p:dataTable id="tblJvDatail" value="#{ledgerCardViewController.ledgerCardDataModel}" rowIndexVar="num" var="TrInfo" rows="7" 
                                                         paginator="true" paginatorPosition="bottom"  >
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="No."/>
                                                    </f:facet>
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column> 
                                                <p:column headerText="Account No">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{TrInfo.display_conn}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="vId" value="#{TrInfo.display_conn}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Credit">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{TrInfo.CREDIT}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="vType" value="#{TrInfo.CREDIT}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="DEBIT">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{TrInfo.DEBIT}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="debit" value="#{TrInfo.DEBIT}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>

                                            </p:dataTable>
                                        </div>
                                    </div>
                                   <div class="form-group"> 
                                        <p:outputLabel class="control-label col-sm-3" value="Generate Financial Statement"/>                                                        
                                        <div class="col-sm-4">
                                            <p:commandButton id="btnFile" value="Download" ajax="false" onclick="#(PrimeFaces.monitorDownload(start, stop));" icon="ui-icon-arrowthick-1-s">
                                                <p:fileDownload value="#{ledgerCardViewController.file}" />
                                            </p:commandButton>
                                        </div> 
                                    </div>
                                </div>    

                            </div>
                        </div>
                        <p:panel id="pnlPrint" class="visible-print" style="border: 0">
                            <div id="wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-11">


                                            <div class="col-xs-12 text-center">
                                                <h3><b> የኢትዮጵያ ኤሌክትሪክ ኃይል</b></h3>
                                                <h4><b>ETHIOPIAN ELECTRIC POWER</b> </h4>
                                                <small><b>Tel:-</b>011-551 32 88&#32;&#32; <b>FAX:-</b>011-551 29 38&#32;&#32; <b>P.O.Box:-</b> 3375</small>
                                            </div>
                                            <div class="col-xs-12 text-center"></div>
                                        </div>

                                        <div class="col-xs-8">
                                            <div class="col-xs-12 text-center">
                                                <h4><b> የወጪ  ማዘዣና ደረሰኝ</b></h4>
                                                <h5><u><b> Ledger Report</b></u></h5></div>
                                        </div> 
                                        <div class="col-xs-4 text-right">            
                                            <h4><b style="font-family: Blackadder ITC ; font-size: 17">№:</b>&#32;&#32;<u><h:outputText value="#{ledgerCardViewController.fmsLuSystem.systemCode}"/></u></h4>
                                        </div>

                                        <div class="col-xs-6 ">
                                            <h5><b> From</b>&#32;&#32;<u><h:outputText value="Ethipian Electric Power"/></u></h5>
                                            <h5><b>Address</b>&#32;&#32;<u><b>Region</b> A.A <b>S/C.</b> lideta <b>K.</b>10 <b>H.No</b> New</u> </h5>         
                                            <h5><b>VAT No.</b>&#32;&#32;<u><h:outputText value="5455720003" /></u></h5>
                                            <h5><b>TIN No.</b>&#32;&#32; <u><h:outputText  value="0036642280"/></u> </h5>
                                        </div>         

                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">                 
                                            <h5><b>Amount In Birr:</b>&#32;&#32; <u><h:outputText converter="#{chequePaymentVoucherController.numberConverter}" value="#{ledgerCardViewController.balanceDetail.trBalanceCode}" /></u> </h5>
                                        </div>
                                    </div> 

                                    <!-- / end client details section -->

                                    <div class="row">
                                        <div class="form-horizontal  col-sm-12">                            

                                            <p:dataTable id="tbltralbanceDatail" value="#{ledgerCardViewController.ledgerCardDataModel}" rowIndexVar="num" var="TrInfo" 
                                                         paginator="true" paginatorPosition="bottom"  >
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="No."/>
                                                    </f:facet>
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column> 
                                                <p:column headerText="Account No ">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{TrInfo.display_conn}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="vId" value="#{TrInfo.display_conn}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="Crediit">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{TrInfo.CREDIT}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="vType" value="#{TrInfo.CREDIT}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>
                                                <p:column headerText="DEBIT">
                                                    <p:cellEditor >
                                                        <f:facet name="output"><h:outputText value="#{TrInfo.DEBIT}" /> </f:facet>
                                                        <f:facet name="input"><p:inputText id="debit" value="#{TrInfo.DEBIT}" style="width:100%"/></f:facet>
                                                    </p:cellEditor>
                                                </p:column>

                                            </p:dataTable>
                                        </div>                                          
                                    </div> 
                                    <div class="row" >
                                        <div class="col-xs-6">
                                            <div class="panel panel-info" style="border: 0">
                                                <div class="panel-body">
                                                    <p>CASHIER/COLLECTED: Wasihun Daniel Alemu</p>
                                                    <p>Signature__________________</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6" >
                                            <div class="span7">
                                                <div class="panel panel-info" style="border: 0" >
                                                    <div class="panel-body" >
                                                        <p>Checked By: Wasihun Daniel Alemu</p>
                                                        <p>Signature__________________</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Distribution:- Original to Customer &#32;&#32;&#32;&#32; 1<sup>st</sup> Copy to Accounts&#32;&#32;&#32;&#32;2<sup>nd</sup> Copy Pad :-</p>
                                </div>
                            </div>
                        </p:panel>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>          
