<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="../../../resources/templates/template.xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li>
            <a href="../../fcms/Voucher/JournalVoucherReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashReceiptVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/fmswithHoldingVoucher.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Withholding Voucher </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/cashPaymentOrder.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCpo.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cash Order</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingChpv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Cheque Payment Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingCrv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting cash Receipt</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/postingJv.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Posting Journal Voucher</a>
        </li>
        <li>
            <a href="../../fcms/Voucher/LedgerReport.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Ledger Report </a>
        </li>
        <li>
            <a href="../../fcms/Voucher/TrialBalance.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Trial Balance Report</a>
        </li>
           <li>
            <a href="../../fcms/Voucher/ChequePayment.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>Cheque Payment Voucher </a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">

                    <p:commandButton id="btnIcone" action="#{vatVoucherController.createNewJv()}" 
                                     icon="#{vatVoucherController.icone}" validateClient="true" style="background-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{vatVoucherController.createOrSearchBundle}" />

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="ChequePayment.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar> 

        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{vatVoucherController.renderPnlManPage}">

                <div class="box box-primary"> 
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <h:outputLabel id="lblHeader1" value="Search Vat Payment ..." />
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="pnlSearchJv"> 
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group"> 
                                            <h:outputLabel id="lblSearchBy" class="control-label col-sm-2" value="Voucher Code"/>
                                            <div class="col-sm-3">
                                                <p:inputText id="txtJvId" class="form-control" value="#{vatVoucherController.voucherId}"/>
                                            </div>
                                        </div>
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <div class="col-sm-2">

                                                </div>
                                                <div class="col-sm-2">                                                    
                                                    <p:commandButton  id="btnSearch" value="Find" class="btn  btn-block btn-primary col-lg-4"
                                                                      action="#{vatVoucherController.searchVat()}"
                                                                      process="@(form)" update=":frmMainUI:frmJvDetail:tblJvDatail">
                                                    </p:commandButton>
                                                </div>                                                                
                                            </div>                                                                
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmJvDetail"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblJvDatail" value="#{vatVoucherController.voucherDataModel}" rowIndexVar="num" selectionMode="single"
                                                             selection="#{vatVoucherController.selectedJv}" rowKey="#{jvInfo.voucherId}"
                                                             var="jvInfo" rows="7" paginator="true" paginatorPosition="bottom" editable="true">
                                                    <p:ajax event="rowSelect" listener="#{vatVoucherController.populate}" update=":frmRegisterUI,:frmMainUI,:frmToolbar"/>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="No."/>
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Voucher Id">
                                                        <p:cellEditor >
                                                            <f:facet name="output"><h:outputText value="#{jvInfo.voucherId}" /> </f:facet>
                                                            <f:facet name="input"><p:inputText id="vId" value="#{jvInfo.voucherId}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column headerText="Voucher Type">
                                                        <p:cellEditor >
                                                            <f:facet name="output"><h:outputText value="#{jvInfo.type}" /> </f:facet>
                                                            <f:facet name="input"><p:inputText id="vType" value="#{jvInfo.type}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" 
                          rendered="#{vatVoucherController.renderPnlCreateJv}" >    
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <h:outputLabel id="lblWitholdingVoucher"  value="Vat Voucher Registration" />
                        </h3>
                    </div>
                    <div class="box-body">   
                        <div class="row">
                            <div class="col-md-12" >
                                <h:panelGroup id="pnlGrpJvRegister">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <div class="form-horizontal col-md-12">
                                                <div class="form-group">
                                                    <h:outputLabel id="lblCheqPayId" class="control-label col-sm-3" value="Cheque Number:"/>
                                                    <div class="col-sm-3">
                                                        <p:selectOneMenu id="selectCheqNo" value="#{vatVoucherController.fmsVoucher}"
                                                                         filterMatchMode="contains" filter="true" converter="entConverter" 
                                                                         style="width: 100%" required="true" 
                                                                         valueChangeListener="#{vatVoucherController.onChangeCheqID}"
                                                                         disabled="#{vatVoucherController.onCelectCheqNo}">
                                                            <f:selectItem itemLabel="--- Select one ---" itemValue=""/>
                                                            <f:selectItems value="#{vatVoucherController.fmsVouchersList}" var="cheqno" itemLabel="#{cheqno.voucherId}" itemValue="#{cheqno}"/> 
                                                            <p:ajax id="cheqAjax" event="change" process="selectCheqNo" update="iptReferenceNo,iptAmount,iptTaxpayer" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <h:outputLabel id="lblVoucher-Id" class="control-label col-sm-3" value="Cheque Voucher ID:"/>

                                                </div>
                                                <div class="form-group">
                                                    <h:outputLabel id="lblreferenceNo" class="control-label col-sm-3" value="Reference NO:"/>
                                                    <div class="col-sm-3">
                                                        <p:inputText id="iptReferenceNo" class="form-control col-sm-3" value="#{vatVoucherController.vatVoucher.referenceNumber}"/>
                                                    </div>
                                                    <h:outputLabel id="lblamount" class="control-label col-sm-3" value="Amount"/>
                                                    <div class="col-sm-3">
                                                        <p:inputText id="iptAmount"  class="form-control"  value="#{vatVoucherController.vatVoucher.amountInFigure}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <h:outputLabel id="lbltaxpayer" class="control-label col-sm-3" value="Tax payer"/>
                                                    <div class="col-sm-3">
                                                        <p:inputText id="iptTaxpayer"  class="form-control"  value="#{vatVoucherController.vatVoucher.taxPayer}"/>
                                                    </div>
                                                    <h:outputLabel id="btnprepared" class="control-label col-sm-3" value="Prepared Date:" />
                                                    <div class="col-sm-3">
                                                        <p:calendar id="calappDate4" pattern="yyyy/MM/dd"   required="true" value="#{vatVoucherController.vatVoucher.preparedDate}"  />
                                                        <p:message  for="calappDate4" display="icon"  />  </div>
                                                </div>

                                                <div class="form-group">
                                                    <h:outputLabel id="lblSystem" class="control-label col-sm-3" value="System:"/>
                                                    <div class="col-sm-3">
                                                        <p:selectOneMenu id="sysSearch" value="#{vatVoucherController.fmsLuSystem}" 
                                                                         filterMatchMode="contains" filter="true" converter="entConverter" 
                                                                         style="width: 100%" required="true" 
                                                                         valueChangeListener="#{vatVoucherController.onChangeSystem}"
                                                                         disabled="#{vatVoucherController.onCelectSysNo}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{vatVoucherController.systemList}" var="sys" itemLabel="#{sys.systemCode}" itemValue="#{sys}" />
                                                            <p:ajax event="change" process="@this" update="txtVoucherNo"/>
                                                            <!--<p:ajax   event="change"  update="drpCostCenter,txtVoucherNo"  process="@this" />-->
                                                        </p:selectOneMenu>
                                                        <p:message display="icon" for="sysSearch"/>
                                                    </div>
                                                    <h:outputLabel id="lblVoucherNo" class="control-label col-sm-3" value="Voucher-No:"/>
                                                    <div class="col-sm-3">
                                                        <p:inputText id="txtVoucherNo" class="form-control" readonly="true" rendered="#{vatVoucherController.saveVochNo}"
                                                                     value="#{vatVoucherController.fmsVouchersNoRange.currentNo}" />
                                                        <p:inputText id="txtpopVoucherNo" class="form-control" readonly="true" rendered="#{vatVoucherController.popvocjNo}"
                                                                     value="#{vatVoucherController.fmsVoucher.voucherNo}" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h:panelGroup id="pnlGrpJvPreparer" class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="#{vatVoucherController.processedBy}" />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtPrepareBy" readonly="true" value="#{workFlow.userName}" class="form-control"/>
                                                        <p:message for="txtPrepareBy" display="icon"/>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Prepare Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="calPreparedDate" pattern="yyyy/MM/dd" required="true" requiredMessage="pleas insert date" value="#{vatVoucherController.fmsVoucher.preparedDate}" placeholder="Prepare date" />
                                                        <p:message  for="calPreparedDate" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Remark:"/>
                                                    <div class="col-sm-8">
                                                        <p:column headerText="Remark">
                                                            <h:inputTextarea  rows="2" cols="22" id="txtRemark" class="form-control" value="#{vatVoucherController.fmsVoucher.preparedRemark}" required="true" requiredMessage="pleas input the remark"> </h:inputTextarea> 
                                                        </p:column>
                                                        <p:message for="txtRemark" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblbuttonaSave" class="control-label col-sm-4"/>
                                                    <div class="col-sm-3">
                                                        <p:commandButton id="btnSaveJv" class="btn btn-primary"  validateClient="true"                                                   
                                                                         value="#{vatVoucherController.saveorUpdateBundle}"
                                                                         action="#{vatVoucherController.saveVV()}"
                                                                         process="@this,pnlGrpJvRegister,pnlGrpJvPreparer" 
                                                                         update="@this,pnlGrpJvRegister,pnlGrpJvPreparer,frmRegisterUI" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>          
