<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="ServiceAndWorkRegistration.xhtml"><i class="fa fa-circle-o text"></i> <span> Service And Work Registration</span></a></li>
        <li><a href="MarketAssessment.xhtml"><i class="fa fa-circle-o text"></i> <span> Market Assessment</span></a></li>
        <li><a href="PurchaseRequistionInfo.xhtml"><i class="fa fa-circle-o text"></i> <span> Purchase Request</span></a></li>
        <li><a href="ProjectProcurementPlan.xhtml"><i class="fa fa-circle-o text"></i> <span> Project Procurement Plan</span></a></li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="purchasepl"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlGoBackSearchButton" rendered="#{purchasePlanController.renderPnlToSearchPage}">
                        <p:commandButton id="searchButton" icon="ui-icon-search" style="background-color: white;border-color: white" 
                                         action="#{purchasePlanController.goBackSearchButtonAction()}"
                                         title="Back to Search"
                                         process="@this" update=":frmpurchasePlnUi,:frmMainUI,:purchasepl" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="pGNew" rendered="#{purchasePlanController.isRenderCreate}">
                        <p:commandButton  action="#{purchasePlanController.createNewAnnualPlan()}" validateClient="true" icon="#{purchasePlanController.icone}"
                                          rendered="#{purchasePlanController.isRenderCreate}" process="@this" update="@this,:frmMainUI,:frmpurchasePlnUi,:purchasepl"
                                          title="#{purchasePlanController.createOrSearchBundle}" style="background-color: white;border-color: white" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="PGNotification" rendered="#{purchasePlanController.renderDecision}">
                        <p:commandLink id="cmdLinkNotf" class="fa fa-bell-o" title="Notifications" value="#{purchasePlanController.purchasePlanLis1.size()}" 
                                       style="color: red;background-color: white; border-color: white"/>
                        <p:overlayPanel widgetVar="ovrNotification" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 200px">
                            <p:outputLabel id="lblReqNotf" value="Procurement Annual Plan"/>
                            <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains" converterMessage="entConverter"                                            
                                                converter="entConverter"  valueChangeListener="#{purchasePlanController.RequestListChange}">
                                <f:selectItems id="selectOneMenuAppListkl" var="purchaseReqlst" 
                                               value="#{purchasePlanController.purchasePlanLis1}"
                                               itemValue="#{purchaseReqlst}" itemLabel="#{purchaseReqlst.planNo}"/> 
                                <p:ajax event="valueChange"  update=":frmpurchasePlnUi, :frmMainUI, :purchasepl, :frmpurchasePlnUi:purchasePlnDtlPnl" process="@this," />               
                            </p:selectOneListbox>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                   title="Work Flow" style="background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                    class="col-md-4" style="height: 200px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>
                        <!--put work flow list here-->

                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">

                                                <p:dataTable id="tblWorkflow" value="#{purchasePlanController.wfPrmsProcessedDModel}"
                                                             var="currentRow" selectionMode="single" rowIndexVar="num" rows="5" paginator="true" 
                                                             rowKey="#{currentRow.processedId}" paginatorPosition="bottom">
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{currentRow.processedBy}" /> 
                                                    </p:column>
                                                    <p:column headerText="Decision">
                                                        <h:outputText value="#{currentRow.decision}" /> 
                                                    </p:column>
                                                    <p:column headerText="Processed On">
                                                        <h:outputText value="#{currentRow.processedOn}" /> 
                                                    </p:column>
                                                    <p:column headerText="Comment Given">
                                                        <h:outputText value="#{currentRow.commentGiven}" /> 
                                                    </p:column> 
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../prms/ProcurementPlan/ProcurementAnnualPlan.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <!--Search Form-->
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{purchasePlanController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">   Search ...  </h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchPurchasePln"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="col-sm-6" >
                                                <div class="form-group col-sm-12 textBoxMargin6px">  
                                                    <h:outputLabel class="control-label col-sm-4" value="Plan No:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtPalnNo" value="#{purchasePlanController.eepPurchasePlan.planNo}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 textBoxMargin6px">  
                                                    <div class="col-lg-4" ></div>
                                                    <div class="col-sm-8">
                                                        <p:commandButton  icon="ui-icon-search" action="#{purchasePlanController.search_AnnualPlan()}"
                                                                          process="@this,frmSearchPurchasePln" update=":frmMainUI:frmactionplanMasterTbl"
                                                                          value="Find" class="btn btn-primary col-lg-4"/>            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmactionplanMasterTbl">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="actioPlnsearchTbl"   rows="10" value="#{purchasePlanController.prmsPurchasePlanMdl}"
                                                                 var="purchasePlnTbl" paginator="true" paginatorPosition="bottom"
                                                                 selectionMode="single" rowKey="#{purchasePlnTbl.id}" rowIndexVar="num"
                                                                 selection="#{purchasePlanController.prmsPurchasePlanSelected}"
                                                                 rowsPerPageTemplate="5,10,15" 
                                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                                                        <p:ajax event="rowSelect" listener="#{purchasePlanController.rowSelect}" 
                                                                update=":frmpurchasePlnUi, :frmMainUI, :purchasepl, :frmpurchasePlnUi:purchasePlnDtlPnl" />  
                                                        <p:column headerText="S.No">
                                                            #{num+1}
                                                        </p:column>
                                                        <p:column sortBy="#{purchasePlnTbl.planNo}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Plan No" />
                                                            </f:facet>
                                                            <h:outputText value="#{purchasePlnTbl.planNo}"/>
                                                        </p:column>
                                                        <p:column sortBy="#{purchasePlnTbl.purchaseType}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Purchase Type"/>
                                                            </f:facet>
                                                            <h:outputText value="#{purchasePlnTbl.purchaseType}"/>
                                                        </p:column>
                                                        <p:column sortBy="#{purchasePlnTbl.dateReg}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Date Registration"/>
                                                            </f:facet>
                                                            <h:outputText value="#{purchasePlnTbl.dateReg}">
                                                                <f:convertDateTime  pattern="dd/MM/yyyy" />
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column sortBy="#{purchasePlnTbl.budgetYearId.budgetYear}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Budget Years" />
                                                            </f:facet>
                                                            <h:outputText value="#{purchasePlnTbl.budgetYearId}"/>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="frmpurchasePlnUi">
            <!--Registration Form-->
            <h:panelGroup style="border: 0px; background-color: transparent" id="prPln" rendered="#{purchasePlanController.renderPnlCreateParty}" >
                <p:growl id="growl" showDetail="true" severity="information,fatal" autoUpdate="true" />
                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h3 class="box-title"> Annual Procurement Plan </h3>
                    </div>

                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-sm-12" > 
                                <h:panelGroup style="border: 0px; background-color: transparent" id="purchasePlanInfoPnl">
                                    <div class="form-horizontal col-sm-12">  
                                        <div class="col-sm-6">
                                            <div class="form-group col-sm-12 textBoxMargin6px">  
                                                <h:outputLabel id="lblannualplno" class="control-label col-sm-4" value="Annual Plan No:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtannualplno" readonly="true"  value="#{purchasePlanController.generatePlnNo()}"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px">  
                                                <h:outputLabel id="lblannualplandesc" class="control-label col-sm-4"  value="Description:"/>
                                                <div class="col-sm-8">
                                                    <p:inputTextarea id="txtannualplandesc" scrollHeight="10" autoResize="false"  class="form-control"   readonly="#{workFlow.readonly}" value="#{purchasePlanController.eepPurchasePlan.annualPlanDesc}">
                                                        <p:ajax/>
                                                    </p:inputTextarea>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">
                                                <p:outputLabel id="lblBudgetYear" class="control-label col-sm-4" value="Budget Year:"/>
                                                <div class="col-sm-8"> 
                                                    <p:selectOneMenu id="txtBudgetYear"  value="#{purchasePlanController.fmsLubudgetYear.budgetYear}" disabled="#{workFlow.readonly}"
                                                                     valueChangeListener="#{purchasePlanController.valueChange}" style="width: 100%" required="true" requiredMessage="Please Select Budget Year">
                                                        <f:selectItem itemLabel="--- Select One ---" noSelectionOption="true" itemValue=""/>
                                                        <f:selectItems value="#{purchasePlanController.getBudgetYear()}"/>
                                                        <p:ajax event="change" process="@this" update="drdPurchaseType,frmpurchasePlnUi:annualPlanTable, frmpurchasePlnUi:drdPurchaseType,frmpurchasePlnUi:pGGoodsCategory"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="txtBudgetYear" display="icon"/>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-sm-6 textBoxMargin6px" >
                                            <div class="form-group col-sm-12 textBoxMargin6px required">
                                                <p:outputLabel id="lbldateReg" class="control-label col-sm-4" value="Registration Date:"/>
                                                <div class="col-sm-8">
                                                    <p:calendar id="txtdateReg" required="true" readonlyInput="true" mindate="today" maxdate="today" 
                                                                requiredMessage="Please Enter Registration Date"  disabled="#{workFlow.readonly}" pattern="dd/MM/yyyy"
                                                                placeholder="dd/mm/yyyy" readonly="#{workFlow.readonly}"  value="#{purchasePlanController.eepPurchasePlan.dateReg}"
                                                                valueChangeListener="#{purchasePlanController.RegistrationDateChange}">
                                                    </p:calendar>
                                                    <p:message display="icon" for="txtdateReg"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">
                                                <p:outputLabel class="control-label col-sm-4" id="lblPurchaseType" value="Purchase Type:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu style="width: 100%" value="#{purchasePlanController.eepPurchasePlan.purchaseType}"  required="true" 
                                                                     requiredMessage="Please Enter Purchase Type" valueChangeListener="#{purchasePlanController.changePrRqType}"  
                                                                     id="drdPurchaseType" disabled="#{purchasePlanController.procurmentType}" converter="entConverter">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItem itemLabel="Goods" itemValue="Goods"  />
                                                        <f:selectItem itemLabel="Service" itemValue="Service" /> 
                                                        <f:selectItem itemLabel="Work" itemValue="Work" /> 
                                                        <p:ajax  event="change" update="frmpurchasePlnUi:annualPlanTable,frmpurchasePlnUi:pGGoodsCategory" 
                                                                 process="@this"/>
                                                    </p:selectOneMenu>
                                                    <p:message display="icon" for="drdPurchaseType"/>
                                                </div>
                                            </div>
                                            <h:panelGroup id="pGGoodsCategory">
                                                <div class="form-group col-sm-12 textBoxMargin6px required">
                                                    <p:outputLabel class="control-label col-sm-4"  id="lblCategory" rendered="#{purchasePlanController.matCategoryType}" value="Category:" />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="dropdownCategory"  converter="entConverter"  style="width:100%"  valueChangeListener="#{purchasePlanController.changeListener}"
                                                                         rendered="#{purchasePlanController.matCategoryType}" required="true" requiredMessage="Please Select Item Category" value="#{purchasePlanController.category.catId}" > 
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{purchasePlanController.listsOfCategory}" var="cats" itemLabel="#{cats.catName}" itemValue="#{cats.catId}" />
                                                            <p:ajax   event="change" update="@this,dropdownCategory,frmpurchasePlnUi:annualPlanTable" process="@this"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="dropdownCategory" display="icon"/>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">Annual Procurement Plan Detail</h4>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-sm-12" > 
                                <h:panelGroup style="border: 0px; background-color: transparent" rendered="#{purchasePlanController.item}" id="purchasePlnDtlPnl">
                                    <div class="form-horizontal col-sm-12">  
                                        <div class="col-sm-6">
                                            <div class="form-group col-sm-12 textBoxMargin6px">
                                                <h:outputLabel  class="control-label col-sm-4" value="Item Name:"/>
                                                <div class="col-sm-8">
                                                    <h:inputText id="txtItemSCode" readonly="true" class="form-control" value="#{purchasePlanController.eepPurchasePlnDetail.itemCodeId.matName}"/> 
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px">
                                                <h:outputLabel class="control-label col-sm-4" value="Quantity:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText class="form-control" readonly="true" value="#{purchasePlanController.eepPurchasePlnDetail.quantity}" id="txtquantity"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px"> 
                                                <h:outputLabel class="control-label col-sm-4" id="lblunitmeasure"  value="Unit Measure:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText  value="#{purchasePlanController.eepPurchasePlnDetail.itemCodeId.unitOfMeasure}" id="txtunitmeasure" class="form-control" readonly="true"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel  class="control-label col-sm-4" value="Procurement Category:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu required="true" id="procumentCat"  requiredMessage="Value is Required"
                                                                     value="#{purchasePlanController.eepPurchasePlnDetail.procuremntCat}" style="width: 100%"  >
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItem itemLabel="International" itemValue="international" />
                                                        <f:selectItem itemLabel="Local" itemValue="Local" />
                                                    </p:selectOneMenu>
                                                    <p:message for="procumentCat" display="icon"/>
                                                </div>

                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel class="control-label col-sm-4" value="Budget Type:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="budgetType" required="true" requiredMessage="Value is Required" style="width: 100%" 
                                                                     value="#{purchasePlanController.eepPurchasePlnDetail.budgetType}">
                                                        <f:selectItem itemLabel="---Select One---" itemValue=""/>
                                                        <f:selectItem itemLabel="Capital Budget" itemValue="Capital" />
                                                        <f:selectItem itemLabel="Actual Budget" itemValue="Actual"/>
                                                    </p:selectOneMenu> 
                                                    <p:message for="budgetType" display="icon" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel  class="control-label col-sm-4" value="Procurement Method:"/>
                                                <div class="col-sm-8" >
                                                    <p:selectOneMenu required="true"  id="procumentmethed" requiredMessage="Value is Required"
                                                                     value="#{purchasePlanController.eepPurchasePlnDetail.procuremntMethod}" style="width: 100px" >
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItem itemLabel="Open Bid" itemValue="Open Bid"/>
                                                        <f:selectItem itemLabel="Two Step Bid" itemValue="Two Step Bid"/>
                                                        <f:selectItem itemLabel="Restricted Bid" itemValue="Restricted Bid"/>
                                                        <f:selectItem itemLabel="Request For Proposal" itemValue="Request For Proposal"/>
                                                        <f:selectItem itemLabel="Direct Purchase" itemValue="direct Purchase"/>
                                                        <f:selectItem itemLabel="Performa" itemValue="Performa"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="procumentmethed" display="icon" />

                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">                                                   
                                                <h:outputLabel id="lblMoneySource" class="control-label col-sm-4" value="Money Source:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="txtMoneySource" required="true" style="width: 100%" requiredMessage="Value is Required"
                                                                     value="#{purchasePlanController.eepPurchasePlnDetail.moneySource}" >
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItem itemLabel="Loan" itemValue="loan"/>
                                                        <f:selectItem itemLabel="Donate" itemValue="donate"/>
                                                        <f:selectItem itemLabel="Internal Reveune" itemValue="reveune"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="txtMoneySource" display="icon"/>

                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel class="control-label col-sm-4" value="Start Date:"/>
                                                <div class="col-sm-8">
                                                    <p:calendar required="true" mindate="today" maxdate="today"  placeholder="MM/dd/yyyy"  requiredMessage="Value is Required"
                                                                id="bidOpenDate" value="#{purchasePlanController.eepPurchasePlnDetail.bidOpeningDate}" >
                                                        <p:ajax event="dateSelect" update="deliveryDate" />
                                                    </p:calendar>
                                                    <p:message for="bidOpenDate" display="icon"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel class="control-label col-sm-4" value="End Date:"/>
                                                <div class="col-sm-8">
                                                    <p:calendar required="true"  placeholder="dd/mm/yyyy" id="deliveryDate" mindate="#{purchasePlanController.openDate()}"
                                                                value="#{purchasePlanController.eepPurchasePlnDetail.deliveryDate}" requiredMessage="Value is Required"/>
                                                    <p:message display="icon" for="deliveryDate" />
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12 textBoxMargin6px">  
                                                <h:outputLabel id="lblRemark" class="control-label col-sm-4"  value="Description:"/>
                                                <div class="col-sm-8">
                                                    <p:inputTextarea id="txtRemark" class="form-control"  value="#{purchasePlanController.eepPurchasePlnDetail.remark}"/>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-horizontal col-sm-12"> 
                                        <div class="col-sm-6">
                                            <div class="form-group col-sm-12 textBoxMargin6px">  
                                                <div class="col-lg-4"></div>
                                                <div class="col-sm-8">
                                                    <p:commandButton  icon="ui-icon-add" validateClient="true" action="#{purchasePlanController.addTable()}"
                                                                      process="@this,purchasePlnDtlPnl" update=":frmpurchasePlnUi:annualPlanTable,purchasePlnDtlPnl"
                                                                      class="btn btn-primary col-lg-4" value="Add"/> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup style="border: 0px; background-color: transparent" rendered="#{purchasePlanController.serviceAndWork}" id="annualPlanServicePnl">

                                    <div class="form-horizontal col-sm-12">  
                                        <div class="col-sm-6">
                                            <h:panelGroup style="border: 0px; background-color: transparent" rendered="#{purchasePlanController.service}" id="ServicenamePnl">
                                                <div class="form-group col-sm-12 textBoxMargin6px">
                                                    <h:outputLabel  class="control-label col-sm-4" value="Service Name:"/>
                                                    <div class="col-sm-8">
                                                        <h:inputText id="txtServiceName" class="form-control" required="true" readonly="true" 
                                                                     value="#{purchasePlanController.prmsAnnualPlanService.serviceId.serviceName}"/> 
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 textBoxMargin6px">
                                                    <h:outputLabel id="lblServiceType" class="control-label col-sm-4" value="Service Type:"/>
                                                    <div class="col-sm-8">
                                                        <h:inputText id="txtServiceType" readonly="true" class="form-control" value="#{purchasePlanController.prmsAnnualPlanService.serviceId.serviceType}"/> 
                                                    </div>
                                                </div>
                                            </h:panelGroup>

                                            <h:panelGroup style="border: 0px; background-color: transparent" rendered="#{purchasePlanController.work}" id="WorknamePnl">
                                                <div class="form-group col-sm-12 textBoxMargin6px">
                                                    <h:outputLabel id="lblWorkName" class="control-label col-sm-4" value="Work Name:"/>
                                                    <div class="col-sm-8">

                                                        <h:inputText id="txtWorkName" class="form-control" required="true" readonly="true" value="#{purchasePlanController.prmsAnnualPlanService.serviceId}"/>
                                                    </div>
                                                </div>

                                            </h:panelGroup>
                                            <div class="form-group col-sm-12 textBoxMargin6px">
                                                <h:outputLabel class="control-label col-sm-4" id="lblserviceQuantity" value="Quantity:"/>

                                                <div class="col-sm-8">
                                                    <p:inputText class="form-control" value="#{purchasePlanController.prmsAnnualPlanService.quantity}" id="txtserviceQuantity"/>
                                                </div>
                                                <p:message display="icon" for="txtserviceQuantity" />
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px"> 
                                                <h:outputLabel class="control-label col-sm-4" id="lblServiceUnitmeasure"  value="Unit Measure:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText value="#{purchasePlanController.prmsAnnualPlanService.serviceId.unitMeasures}"
                                                                 id="txtServiceUnitmeasure" class="form-control" readonly="true"/>

                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel  class="control-label col-sm-4" id="lblServiceProcurementCateGory" value="Procurement Category:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu required="true" id="drdServiceProcurementCateGory" 
                                                                     value="#{purchasePlanController.prmsAnnualPlanService.procuremntCat}" style="width: 100%"  >
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItem itemLabel="International" itemValue="international" />
                                                        <f:selectItem itemLabel="Local" itemValue="Local" />
                                                    </p:selectOneMenu>
                                                    <p:message for="drdServiceProcurementCateGory" display="icon"/>
                                                </div>

                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel class="control-label col-sm-4" value="Budget Type:" id="lblServiceBudgetType"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="drdServiceBudgetType" required="true" requiredMessage="Value is required" style="width: 100%" 
                                                                     value="#{purchasePlanController.prmsAnnualPlanService.budgetType}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItem itemLabel="Capital Budget" itemValue="Capital" />
                                                        <f:selectItem itemLabel="Actual Budget" itemValue="Actual"/>
                                                    </p:selectOneMenu> 
                                                    <p:message for="drdServiceBudgetType" display="icon" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel id="lblServiceProcurementMethod" class="control-label col-sm-4" value="Procurement Method:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu required="true"  id="drdServiceProcurementMethod" requiredMessage="Value is required"
                                                                     value="#{purchasePlanController.prmsAnnualPlanService.procuremntMethod}" style="width: 100%" >
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItem itemLabel="Open Bid" itemValue="Open Bid"/>
                                                        <f:selectItem itemLabel="Two Step Bid" itemValue="Two Step Bid"/>
                                                        <f:selectItem itemLabel="Restricted Bid" itemValue="Restricted Bid"/>
                                                        <f:selectItem itemLabel="Request For Proposal" itemValue="diect Purchase"/>
                                                        <f:selectItem itemLabel="diect Purchase" itemValue="diect Purchase"/>
                                                        <f:selectItem itemLabel="Performa" itemValue="Performa"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="drdServiceProcurementMethod" display="icon" />

                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">                                                   
                                                <h:outputLabel id="lblServiceMoneySource" class="control-label col-sm-4" value="Money Source:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="txtServiceMoneySource" required="true" style="width: 100%"  requiredMessage="Value is required"
                                                                     value="#{purchasePlanController.prmsAnnualPlanService.moneySource}" disabled="#{workFlow.readonly}">
                                                        <f:selectItem itemLabel="--- Select One ---" />
                                                        <f:selectItem itemLabel="Loan" itemValue="loan"/>
                                                        <f:selectItem itemLabel="Donate" itemValue="donate"/>
                                                        <f:selectItem itemLabel="Internal Reveune" itemValue="reveune"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="txtServiceMoneySource" display="icon"/>

                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel class="control-label col-sm-4" id="lblServiceStarDate" value="Start Date:"/>
                                                <div class="col-sm-8">
                                                    <p:calendar required="true" mindate="today" maxdate="today"  placeholder="dd/mm/yyyy" requiredMessage="Value is Required" 
                                                                id="dteServiceStarDate" value="#{purchasePlanController.prmsAnnualPlanService.bidOpeningDate}" disabled="#{workFlow.readonly}">
                                                        <p:ajax event="dateSelect" update="deliveryDate" />
                                                    </p:calendar>
                                                    <p:message for="dteServiceStarDate" display="icon"/>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12 textBoxMargin6px required">  
                                                <h:outputLabel class="control-label col-sm-4" id="lblServiceEndDate" value="End Date:"/>

                                                <div class="col-sm-8">
                                                    <p:calendar required="true" requiredMessage="Value is Required"  placeholder="dd/mm/yyyy" id="dteServiceEndDate" mindate="#{purchasePlanController.openServiceDate()}"
                                                                value="#{purchasePlanController.prmsAnnualPlanService.deliveryDate}" disabled="#{workFlow.readonly}"/>
                                                    <p:message display="icon" for="dteServiceEndDate" />
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-12 textBoxMargin6px">  

                                                <h:outputLabel id="lblServiceRemark" class="control-label col-sm-4"  value="Description:"/>
                                                <div class="col-sm-8">
                                                    <p:inputTextarea id="txtServiceRemark" class="form-control"  disabled="#{workFlow.readonly}"
                                                                     value="#{purchasePlanController.prmsAnnualPlanService.remark}"/>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-horizontal col-sm-12"> 
                                        <div class="col-sm-6">
                                            <div class="form-group col-sm-12 textBoxMargin6px">  
                                                <div class="col-lg-4"></div>
                                                <div class="col-sm-8">
                                                    <p:commandButton  icon="ui-icon-add" validateClient="true" action="#{purchasePlanController.addToServiceTable()}"
                                                                      process="@this,annualPlanServicePnl" update=":frmpurchasePlnUi:servicePnl,annualPlanServicePnl,serviceTbl,workTbl" 
                                                                      class="btn btn-primary col-lg-4" value="Add" />            
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </h:panelGroup>
                                <h:panelGroup style="border: 0px; background-color: transparent" id="annualPlanTable">
                                    <h:panelGroup style="border: 0px; background-color: transparent"  id="worksPnl" rendered="#{purchasePlanController.workTable}">
                                        <p:dataTable id="workTbl" value="#{purchasePlanController.prmsAnnualPlanServiceMdl}" paginator="true"
                                                     paginatorPosition="bottom"  rows="10"  editable="true"
                                                     rowIndexVar="num" var="annualWorkTbl" rowKey="#{annualWorkTbl.serviceId}"
                                                     lazy="true"  scrollHeight="true">
                                            <p:ajax event="rowEdit" listener="#{purchasePlanController.edit}" process="@this"  update=":frmpurchasePlnUi:purchasePlnDtlPnl" />                                                          

                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel  value="S.No"/>
                                                </f:facet>
                                                <h:outputText  value="#{num+1}"/> 
                                            </p:column> 
                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel value="Work Name"/>
                                                </f:facet>
                                                <h:outputText  value="#{annualWorkTbl.serviceId.workName}"/> 
                                            </p:column> 
                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel value="Unit Measure"/>
                                                </f:facet>
                                                <h:outputText value="#{annualWorkTbl.serviceId.unitMeasures}"/> 
                                            </p:column> 
                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel value="Quantity"/>
                                                </f:facet>
                                                <h:outputText value="#{annualWorkTbl.quantity}"/> 
                                            </p:column> 
                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel value="Estimated Unit Price"/>
                                                </f:facet>
                                                <h:outputText id="txtunitpric" value="#{annualWorkTbl.priceUnit}"/> 
                                            </p:column> 

                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel value="Money Source" />
                                                </f:facet>
                                                <p:selectOneMenu id="txtMoneySource"  style="width: 100%" 
                                                                 value="#{annualWorkTbl.moneySource}" disabled="#{workFlow.readonly}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="Loan" itemValue="loan"/>
                                                    <f:selectItem itemLabel="Donate" itemValue="donate"/>
                                                    <f:selectItem itemLabel="Internal Reveune" itemValue="reveune"/>
                                                </p:selectOneMenu>
                                                <p:message for="txtMoneySource" display="icon"/>

                                            </p:column> 

                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel value="Procurement Category" />
                                                </f:facet>
                                                <p:selectOneMenu id="procumentCateg" value="#{annualWorkTbl.procuremntCat}" style="width: 100%" disabled="#{workFlow.readonly}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="International" itemValue="international" />
                                                    <f:selectItem itemLabel="Local" itemValue="Local" />
                                                </p:selectOneMenu>
                                                <p:message for="procumentCateg" display="icon"/>
                                            </p:column> 
                                            <p:column headerText="Budget Type">
                                                <f:facet name="header">
                                                    <h:outputLabel value="Budget Type" />
                                                </f:facet>
                                                <p:selectOneMenu id="budgetTypeg" requiredMessage="Value is required" style="width: 100%" 
                                                                 value="#{annualWorkTbl.budgetType}" disabled="#{workFlow.readonly}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="Capital Budget" itemValue="Capital" />
                                                    <f:selectItem itemLabel="Actual Budget" itemValue="Actual"/>
                                                </p:selectOneMenu> 
                                                <p:message for="budgetTypeg" display="icon" />
                                            </p:column> 
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel value="Procurement Method" />
                                                </f:facet>
                                                <p:selectOneMenu  id="procumentmethedg" disabled="#{workFlow.readonly}" requiredMessage="value is Required"
                                                                  value="#{annualWorkTbl.procuremntMethod}" style="width: 100%" >
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="Open Bid" itemValue="Open Bid"/>
                                                    <f:selectItem itemLabel="Two Step Bid" itemValue="Two Step Bid"/>
                                                    <f:selectItem itemLabel="Restricted Bid" itemValue="Restricted Bid"/>
                                                    <f:selectItem itemLabel="Request For Proposal" itemValue="diect Purchase"/>
                                                    <f:selectItem itemLabel="diect Purchase" itemValue="diect Purchase"/>
                                                    <f:selectItem itemLabel="Performa" itemValue="Performa"/>
                                                </p:selectOneMenu>
                                                <p:message for="procumentmethedg" display="icon" />
                                            </p:column>                             
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel value="From" />
                                                </f:facet>
                                                <p:calendar value="#{annualWorkTbl.bidOpeningDate}" disabled="#{workFlow.readonly}" pattern="dd/MM/yyyy">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy" />
                                                    <p:ajax event="dateSelect" process="@this" update="txtWdeliveryDate"/>
                                                </p:calendar>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel value="To" />
                                                </f:facet>
                                                <p:calendar id="txtWdeliveryDate" value="#{annualWorkTbl.deliveryDate}" mindate="#{annualWorkTbl.bidOpeningDate}" 
                                                            disabled="#{workFlow.readonly}" pattern="dd/MM/yyyy">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy" />
                                                </p:calendar>
                                            </p:column>
                                            <p:column>                                                                                                                                                        
                                                <f:facet name="header">
                                                    <h:outputLabel value="Description" />
                                                </f:facet>
                                                <p:inputTextarea value="#{annualWorkTbl.remark}" autoResize="false" scrollHeight="20" disabled="#{workFlow.readonly}"/>
                                            </p:column>

                                            <p:column headerText="Option" rendered="false">
                                                <p:commandLink value="Edit" action="#{purchasePlanController.editService(event)}" disabled="#{workFlow.readonly}" 
                                                               process="@this" update="workTbl,:frmpurchasePlnUi"></p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>

                                    <h:panelGroup style="border: 0px; background-color: transparent"  id="servicePnl" rendered="#{purchasePlanController.serviceTable}">
                                        <p:dataTable id="serviceTbl" value="#{purchasePlanController.prmsAnnualPlanServiceMdl}" paginator="true"
                                                     paginatorPosition="bottom"  rows="10"  editable="true"
                                                     rowIndexVar="num" var="annualServiceTbl" rowKey="#{annualServiceTbl.serviceId}"
                                                     lazy="true"  scrollHeight="true">
                                            <p:ajax event="rowEdit" listener="#{purchasePlanController.edit}" process="@this"  update=":frmpurchasePlnUi:purchasePlnDtlPnl" />                                                          

                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel  value="S.No"/>
                                                </f:facet>
                                                <h:outputText  value="#{num+1}"/> 
                                            </p:column> 
                                            <p:column id="column2">                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel value="Service Name"/>
                                                </f:facet>
                                                <h:outputText  value="#{annualServiceTbl.serviceId.serviceName}"/> 
                                            </p:column> 
                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel value="Service Type"/>
                                                </f:facet>
                                                <h:outputText value="#{annualServiceTbl.serviceId.serviceType}"/> 
                                            </p:column> 
                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel value="Unit Measure"/>
                                                </f:facet>
                                                <h:outputText value="#{annualServiceTbl.serviceId.unitMeasures}"/> 
                                            </p:column> 
                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel value="Quantity"/>
                                                </f:facet>
                                                <h:outputText value="#{annualServiceTbl.quantity}"/> 
                                            </p:column> 
                                            <p:column>                                                                                                 
                                                <f:facet name="header">
                                                    <h:outputLabel value="Estimated Unit Price"/>
                                                </f:facet>
                                                <h:outputText value="#{annualServiceTbl.priceUnit}" /> 
                                            </p:column> 

                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel value="Money Source" />
                                                </f:facet>
                                                <p:selectOneMenu id="txtMoneySource"  style="width: 100%" 
                                                                 value="#{annualServiceTbl.moneySource}" disabled="#{workFlow.readonly}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="Loan" itemValue="loan"/>
                                                    <f:selectItem itemLabel="Donate" itemValue="donate"/>
                                                    <f:selectItem itemLabel="Internal Reveune" itemValue="reveune"/>
                                                </p:selectOneMenu>
                                                <p:message for="txtMoneySource" display="icon"/>
                                            </p:column> 

                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel value="Procurement Category" />
                                                </f:facet>
                                                <p:selectOneMenu id="procumentCateg" disabled="#{workFlow.readonly}"
                                                                 value="#{annualServiceTbl.procuremntCat}" style="width: 100%"  >
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="International" itemValue="international" />
                                                    <f:selectItem itemLabel="Local" itemValue="Local" />
                                                </p:selectOneMenu>
                                                <p:message for="procumentCateg" display="icon"/>
                                            </p:column> 
                                            <p:column headerText="Budget Type">
                                                <f:facet name="header">
                                                    <h:outputLabel value="Budget Type" />
                                                </f:facet>
                                                <p:selectOneMenu id="budgetTypes" required="true" requiredMessage="Value is required" style="width: 100%" 
                                                                 value="#{annualServiceTbl.budgetType}" disabled="#{workFlow.readonly}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="Capital Budget" itemValue="Capital" />
                                                    <f:selectItem itemLabel="Actual Budget" itemValue="Actual"/>
                                                </p:selectOneMenu>
                                                <p:message for="budgetTypes" display="icon"/>
                                            </p:column> 
                                            <p:column headerText="Procurement Method" >
                                                <f:facet name="header">
                                                    <h:outputLabel value="Procurement Method" />
                                                </f:facet>
                                                <p:selectOneMenu required="true" requiredMessage="Value is Required" id="procumentmetheds" value="#{annualServiceTbl.procuremntMethod}" style="width: 100px" >
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="Open Bid" itemValue="Open Bid"/>
                                                    <f:selectItem itemLabel="Two Step Bid" itemValue="Two Step Bid"/>
                                                    <f:selectItem itemLabel="Restricted Bid" itemValue="Restricted Bid"/>
                                                    <f:selectItem itemLabel="Request For Proposal" itemValue="diect Purchase"/>
                                                    <f:selectItem itemLabel="diect Purchase" itemValue="diect Purchase"/>
                                                    <f:selectItem itemLabel="Performa" itemValue="Performa"/>
                                                </p:selectOneMenu>
                                                <p:message for="procumentmetheds" display="icon" />
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel value="From" />
                                                </f:facet>
                                                <p:calendar value="#{annualServiceTbl.bidOpeningDate}" disabled="#{workFlow.readonly}" pattern="dd/MM/yyy">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy"/>
                                                    <p:ajax event="dateSelect" process="@this" update="txtSdeliveryDate"/>
                                                </p:calendar>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel value="To"/>
                                                </f:facet>
                                                <p:calendar id="txtSdeliveryDate" value="#{annualServiceTbl.deliveryDate}" mindate="#{annualServiceTbl.getBidOpeningDate()}" 
                                                            disabled="#{workFlow.readonly}" pattern="dd/MM/yyyy">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy"/>
                                                </p:calendar>
                                            </p:column>
                                            <p:column>                                                                                                                                                        
                                                <f:facet name="header">
                                                    <h:outputLabel value="Description"/>
                                                </f:facet>
                                                <p:inputTextarea value="#{annualServiceTbl.remark}" autoResize="false" scrollHeight="20" disabled="#{workFlow.readonly}"/>
                                            </p:column>
                                            <p:column headerText="Option" rendered="false">  
                                                <p:commandLink value="Edit" action="#{purchasePlanController.editService(event)}" disabled="#{workFlow.readonly}"
                                                               rendered="false" process="@this" update="serviceTbl,:frmpurchasePlnUi">
                                                </p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                    <h:panelGroup style="border: 0px; background-color: transparent"  id ="mainItemPnl">
                                        <h:panelGroup style="border: 0px; background-color: transparent" rendered="#{purchasePlanController.itemTable}" id="purchasePlnTblPnl">
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group">                                        
                                                    <div class="col-sm-12">
                                                        <p:dataTable id="tblpurchasePlan" value="#{purchasePlanController.purchasePlnDetailModel}" paginator="true"
                                                                     paginatorPosition="bottom"  rows="10"  class="dataTable"  rowKey="#{purchaseplanltbl}"
                                                                     rowIndexVar="num"   var="purchaseplanltbl"
                                                                     selectionMode="#{purchasePlanController.eepPurchasePlnDetail}" rowSelectMode="single">
                                                            <p:ajax event="rowSelect" listener="#{purchasePlanController.edit()}"  process="@this" update=":frmpurchasePlnUi:purchasePlnDtlPnl"/>                                                          
                                                            <p:column id="columnNo">                                                                                                 
                                                                <f:facet name="header">
                                                                    <h:outputLabel id="outQuotCode" value="S.No"/>
                                                                </f:facet>
                                                                <h:outputText id="txtQuotCode" value="#{num+1}"/> 
                                                            </p:column> 
                                                            <p:column id="column2">                                                                                                 
                                                                <f:facet name="header">
                                                                    <!--aaaa-->
                                                                    <h:outputLabel id="lblItemSCode" value="Item Name"/>
                                                                </f:facet>
                                                                <h:outputText id="txtItemSCode" value="#{purchaseplanltbl.itemCodeId.matName}"/> 
                                                            </p:column> 
                                                            <p:column>                                                                                                 
                                                                <f:facet name="header">
                                                                    <h:outputLabel id="lblUnitMeasurement" value="Unit Measure"/>
                                                                </f:facet>
                                                                <h:outputText id="txtUnitMeasurement" value="#{purchaseplanltbl.itemCodeId.unitOfMeasure}"/> 
                                                            </p:column> 
                                                            <p:column>                                                                                                 
                                                                <f:facet name="header">
                                                                    <h:outputLabel id="lblqunatity" value="Quantity"/>
                                                                </f:facet>
                                                                <h:outputText id="txtqunatity" value="#{purchaseplanltbl.quantity}"/> 
                                                            </p:column> 
                                                            <p:column>                                                                                                 
                                                                <f:facet name="header">
                                                                    <h:outputLabel id="lblunitpric" value="Estimated Unit Price"/>
                                                                </f:facet>
                                                                <h:outputText id="txtunitpric" value="#{purchaseplanltbl.priceUnit}"/> 
                                                            </p:column>
                                                            <p:column>                                                                                                 
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Budget Code"/>
                                                                </f:facet>
                                                            </p:column> 
                                                            <p:column width="150">
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Money Source" />
                                                                </f:facet>
                                                                <p:selectOneMenu id="txtMoneySource"  style="width: 100%" 
                                                                                 value="#{purchaseplanltbl.moneySource}" disabled="#{workFlow.readonly}">
                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                                    <f:selectItem itemLabel="Loan" itemValue="loan"/>
                                                                    <f:selectItem itemLabel="Donate" itemValue="donate"/>
                                                                    <f:selectItem itemLabel="Internal Reveune" itemValue="reveune"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="txtMoneySource" display="icon"/>

                                                            </p:column> 
                                                            <p:column width="150">
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Procurement Category" />
                                                                </f:facet>
                                                                <p:selectOneMenu id="procumentCateg" disabled="#{workFlow.readonly}"
                                                                                 value="#{purchaseplanltbl.procuremntCat}" style="width: 100%"  >
                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                                    <f:selectItem itemLabel="International" itemValue="international" />
                                                                    <f:selectItem itemLabel="Local" itemValue="Local" />
                                                                </p:selectOneMenu>
                                                                <p:message for="procumentCateg" display="icon"/>

                                                            </p:column> 
                                                            <p:column headerText="Budget Type" width="150">
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Budget Type" />
                                                                </f:facet>
                                                                <p:selectOneMenu id="budgetTypeg" required="true" requiredMessage="Value is required" style="width: 100%" 
                                                                                 value="#{purchaseplanltbl.budgetType}" disabled="#{workFlow.readonly}">
                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                                    <f:selectItem itemLabel="Capital Budget" itemValue="Capital" />
                                                                    <f:selectItem itemLabel="Actual Budget" itemValue="Actual"/>
                                                                </p:selectOneMenu> 
                                                                <p:message for="budgetTypeg" display="icon" />
                                                            </p:column> 
                                                            <p:column width="150">
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Procurement Method" />
                                                                </f:facet>

                                                                <p:selectOneMenu  id="procumentmethedg" disabled="#{workFlow.readonly}" 
                                                                                  value="#{purchaseplanltbl.procuremntMethod}" style="width: 100%" >
                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                                    <f:selectItem itemLabel="Open Bid" itemValue="Open Bid"/>
                                                                    <f:selectItem itemLabel="Two Step Bid" itemValue="Two Step Bid"/>
                                                                    <f:selectItem itemLabel="Restricted Bid" itemValue="Restricted Bid"/>
                                                                    <f:selectItem itemLabel="Request For Proposal" itemValue="diect Purchase"/>
                                                                    <f:selectItem itemLabel="diect Purchase" itemValue="diect Purchase"/>
                                                                    <f:selectItem itemLabel="Performa" itemValue="Performa"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="procumentmethedg" display="icon" />

                                                            </p:column>                             
                                                            <p:column>
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="From" />
                                                                </f:facet>
                                                                <p:calendar value="#{purchaseplanltbl.bidOpeningDate}"  disabled="#{workFlow.readonly}"  placeholder="dd/mm/yyyy" pattern="dd/MM/yyyy">
                                                                    <f:convertDateTime  pattern="dd/MM/yyyy" />
                                                                    <p:ajax event="dateSelect" process="@this" update="txtGdeliveryDate"/>
                                                                </p:calendar>
                                                            </p:column>
                                                            <p:column>
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="To" />
                                                                </f:facet>
                                                                <p:calendar id ="txtGdeliveryDate" value="#{purchaseplanltbl.deliveryDate}" mindate="#{purchaseplanltbl.bidOpeningDate}" 
                                                                            disabled="#{workFlow.readonly}" placeholder="dd/mm/yyyy" pattern="dd/MM/yyyy">
                                                                    <f:convertDateTime  pattern="dd/MM/yyyy" />                                                                    
                                                                </p:calendar>
                                                            </p:column>
                                                            <p:column id="column7">                                                                                                                                                        
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Remark" />
                                                                </f:facet>
                                                                <p:inputTextarea value="#{purchaseplanltbl.remark}" disabled="#{workFlow.readonly}" autoResize="false" scrollHeight="20" />
                                                            </p:column>
                                                            <p:column headerText="Option"  rendered="false">  
                                                                <p:commandLink value="Edit" disabled="#{workFlow.readonly}"   action="#{purchasePlanController.edit(event)}" process="@this" update="tblpurchasePlan,:frmpurchasePlnUi">
                                                                </p:commandLink>

                                                            </p:column>

                                                        </p:dataTable>
                                                    </div>

                                                </div>
                                            </div>
                                        </h:panelGroup></h:panelGroup>

                                    <br/>
                                    <b/>
                                    <div class="form-horizontal col-sm-12">  

                                        <section class="panel panel-info">
                                            <section class="panel-body">  
                                                <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-12">                      
                                                            <div class="box-body"> 
                                                                <div class="col-md-6">
                                                                    <div class="form-group col-sm-12 textBoxMargin6px">
                                                                        <div class="form-group required form-horizontal">
                                                                            <h:outputLabel  class="control-label col-sm-4" value="Decision:" rendered="#{purchasePlanController.renderDecision}"/>                                                                                 <div class="col-sm-8">

                                                                                <p:selectOneMenu id="drddecision" value="#{PurchasePlanController.wfPrmsProcessed.decision}" rendered="#{purchasePlanController.renderDecision}"
                                                                                                 required="true" requiredMessage="Select Decision" style="width: 100%" valueChangeListener="#{PurchasePlanController.handleDecision}" >
                                                                                    <f:selectItem itemLabel="---Select---" itemValue=""/>
                                                                                    <f:selectItem itemLabel="Approved" itemValue="Approve"/>
                                                                                    <f:selectItem itemLabel="Rejected" itemValue="Reject"/>                                                                                       
                                                                                </p:selectOneMenu>
                                                                                <p:message for="drddecision" display="icon"/>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-11 textBoxMargin8px">


                                                                        <p:outputLabel  for="txtComment" class="control-label col-sm-4" rendered="#{purchasePlanController.renderDecision}" value="Comment Given:"/>
                                                                        <div class="col-sm-8">
                                                                            <p:inputTextarea id="txtComment" style="width: 117%" class="form-control"  value="#{purchasePlanController.wfPrmsProcessed.commentGiven}"  title="Remark"  required="false"  requiredMessage="Enter Plan" rendered="#{purchasePlanController.renderDecision}" validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only"/>
                                                                        </div> 

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class=" form-group col-md-12 textBoxMargin6px required">
                                                                        <div class="form-group form-horizontal form-group">
                                                                            <p:outputLabel  class="col-sm-4" style="text-align: right" value="Processed By:"/>
                                                                            <div class="col-sm-8">
                                                                                <p:inputText  id="txtProcessedBy" readonly="true" value="#{purchasePlanController.userName}" title="Processed By"/>
                                                                            </div>
                                                                        </div>


                                                                        <p:outputLabel  id="lblApproved" value="Processed Date:"  class="control-label col-sm-4" />
                                                                        <div class="col-sm-8">
                                                                            <p:calendar id="calprocessed" placeholder="dd/mm/yyyy" pattern="dd/MM/yyyy" autocomplete="off" value="#{purchasePlanController.wfPrmsProcessed.processedOn}"
                                                                                        required="true" requiredMessage="Processed Date Value is Required"  mindate="today" maxdate="today">
                                                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                            </p:calendar>
                                                                            <p:message for="calprocessed" display="icon"/>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h:panelGroup>

                                            </section>
                                        </section>

                                        <div class="form-group col-sm-12 textBoxMargin6px"> 
                                            <div class="col-lg-4"></div>
                                            <div class="col-sm-4">
                                                <p:commandButton action="#{purchasePlanController.save_AnnualPlan()}" icon="ui-icon-new" validateClient="true"  
                                                                 process="@this,:frmpurchasePlnUi:purchasePlanInfoPnl,:frmpurchasePlnUi:pnlworkflow,tblpurchasePlan,serviceTbl,workTbl"  
                                                                 update="purchasePlnTblPnl,:frmpurchasePlnUi:purchasePlanInfoPnl,annualPlanTable,servicePnl,tblpurchasePlan,:purchasepl,:frmpurchasePlnUi:purchasePlnDtlPnl" class="btn btn-primary col-lg-4 " value="#{purchasePlanController.saveorUpdateBundle}"/> 
                                            </div>                                                                                     
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
