<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>

        <!-- /.search form -->
    </ui:define>

    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li>
            <a href="MarketAssessment.xhtml"><i class="fa  fa-circle-o"></i>Market Assessment</a>
        </li>
        <li>
            <a href="ProcurementAnnualPlan.xhtml"><i class="fa  fa-circle-o"></i>Annual Procurement Plan</a>
        </li>
        <li>
            <a href="PurchaseRequistionInfo.xhtml"><i class="fa  fa-circle-o"></i>Purchase Request</a>
        </li>
        <li>
            <a href="ProjectProcurementPlan.xhtml"><i class="fa  fa-circle-o"></i>Project Procurement Plan</a>
        </li>
    </ui:define>

    <ui:define name="contents">   

        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlGoBackSearchButton" rendered="#{servAndWorkRegistrationController.renderPnlToSearchPage}">
                        <p:commandButton id="searchButton" icon="ui-icon-search" style="background-color: white;border-color: white" 
                                         action="#{servAndWorkRegistrationController.goBackSearchButtonAction()}"
                                         title="Back to Search"
                                         process="@this" update=":frmRegisterUI,:frmMainUI,:frmToolbar" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <p:commandButton id="btnNewAndSearching" action="#{servAndWorkRegistrationController.createNewServiceRegInfo()}" icon="#{servAndWorkRegistrationController.icone}" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{servAndWorkRegistrationController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="ServiceAndWorkRegistration.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <!--Search Form-->

            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{servAndWorkRegistrationController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchGatePass"> 
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Service Name:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtPartyName" class="form-control" 
                                                             value="#{servAndWorkRegistrationController.serviceAndWorkReg.serviceName}"/>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <p:outputLabel class="control-label col-sm-2" id="lblSearcWorkName" value="Work Name:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearcWorkName" class="form-control"
                                                             value="#{servAndWorkRegistrationController.serviceAndWorkReg.workName}"/>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group"> 
                                            <h:outputLabel id="findbtn" class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnFind" class="btn btn-primary" action="#{servAndWorkRegistrationController.searchServAndWorkInformation()}" icon="ui-icon-search" 
                                                                 process="@this,frmSearchGatePass" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                                 value="Find"/>            
                                            </div>
                                        </div>
                                    </div>

                                </h:form>
                            </div>
                        </div>

                        <br></br>    
                        <br></br>
                        <br></br>

                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmGatepass">   
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblgatePassInfo" value="#{servAndWorkRegistrationController.prmsServiceAndWorkRegSearchInfoDataModel}" var="serviceInfo" rows="10" selectionMode="single"
                                                             selection="#{servAndWorkRegistrationController.selectedRow}" rowKey="#{serviceInfo.servAndWorkId}" 
                                                             paginator="true" paginatorPosition="bottom" editable="true"
                                                             rowsPerPageTemplate="5,10,15" rowIndexVar="counter"
                                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                                                    <p:ajax event="rowSelect" listener="#{servAndWorkRegistrationController.onRowSelectServAndWork}" update=":frmRegisterUI, :frmMainUI, :frmToolbar" />      
                                                    <p:column headerText="S.No">
                                                        <p:outputLabel value="#{counter+1}"/>
                                                    </p:column>
                                                    <p:column sortBy="#{serviceInfo.serviceNo}#{serviceInfo.workNo}" filterBy="#{serviceInfo.workNo}#{serviceInfo.serviceNo}">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{servAndWorkRegistrationController.renderTitle} No"/>
                                                        </f:facet>
                                                        <h:outputText value="#{serviceInfo.serviceNo}#{serviceInfo.workNo}"/>
                                                    </p:column>

                                                    <p:column sortBy="#{serviceInfo.serviceName}#{serviceInfo.workName}" filterBy="#{serviceInfo.serviceName}#{serviceInfo.workName}">
                                                        <f:facet name="header">
                                                            <h:outputText value="#{servAndWorkRegistrationController.renderTitle} Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{serviceInfo.serviceName}#{serviceInfo.workName}"/>
                                                    </p:column>

                                                    <p:column sortBy="#{serviceInfo.registrationDate}">
                                                        <f:facet name="header">
                                                            <h:outputText value="Registration Date" />
                                                        </f:facet>
                                                        <h:outputText value="#{serviceInfo.registrationDate}">
                                                            <f:convertDateTime pattern="dd/MMM/yyyy"/>
                                                        </h:outputText>
                                                    </p:column>
                                                    <p:column sortBy="#{serviceInfo.specificationRemark}">
                                                        <f:facet name="header">
                                                            <h:outputText value="Specfication Remark" />
                                                        </f:facet>
                                                        <h:outputText value="#{serviceInfo.specificationRemark}"/>
                                                    </p:column>
                                                    <p:column filterBy="#{serviceInfo.generalLedgerId.generalLedgerCode}" sortBy="#{serviceInfo.generalLedgerId.generalLedgerCode}"> 
                                                        <f:facet name="header">
                                                            <h:outputText value="General Ledger Code" />
                                                        </f:facet>
                                                        <h:outputText value="#{serviceInfo.generalLedgerId.generalLedgerCode}"/>
                                                    </p:column>

                                                </p:dataTable>

                                            </div>                 
                                        </div>    



                                    </div>  



                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </h:form>
        <!-- Registration Form-->

        <h:form id="frmRegisterUI">
            <p:growl id="growlmain" showDetail="true" severity="information,fatal" autoUpdate="true"  />

            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{servAndWorkRegistrationController.renderPnlCreateServiceRegistration}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Service And Work Registration</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmGatePassDtlInfo">

                                    <div class="form-horizontal  col-sm-12"> 

                                        <div class="form-group col-sm-12 textBoxMargin6px required ">  
                                            <p:outputLabel id="lbl_selectType"  class="control-label col-sm-2"  value="Select Regist Type:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneRadio id="radioselectType" required="true" requiredMessage="Service type is required" columns="2"  
                                                                  value="#{servAndWorkRegistrationController.checkAsRegTypeIsServ}"
                                                                  valueChangeListener="#{servAndWorkRegistrationController.changeListenerRegisType}"
                                                                  disabled="#{servAndWorkRegistrationController.disableServiceAndWorkRdbtnWhenSearch}">
                                                    <f:selectItem itemLabel="Service" itemValue="service"/>
                                                    <f:selectItem itemLabel="Work" itemValue="work" />    
                                                    <p:ajax event="change" update=":frmRegisterUI"
                                                            process="@this"  />
                                                </p:selectOneRadio>
                                                <p:message for="radioselectType" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                            <p:outputLabel id="lblServiceType" for="rdServiceType" class="control-label col-sm-2" value="Service Type:"
                                                           rendered="#{servAndWorkRegistrationController.hideWhenWork}"/>
                                            <div class="col-sm-4">
                                                <p:selectOneRadio id="rdServiceType"
                                                                  value="#{servAndWorkRegistrationController.checkAsdefaultConsultancy}" 
                                                                  valueChangeListener="#{servAndWorkRegistrationController.changedefaultConsultancy}"
                                                                  rendered="#{servAndWorkRegistrationController.hideWhenWork}">
                                                    <f:selectItem  itemLabel="Consultancy" itemValue="consultancy"/>
                                                    <f:selectItem  itemLabel="Non-Consultancy" itemValue="non-consultancy"/>
                                                    <f:ajax/>
                                                </p:selectOneRadio> 
                                            </div>

                                        </div>


                                        <div class="form-group col-sm-12 textBoxMargin6px required">  
                                            <p:outputLabel id="lblServiceId" class="control-label col-sm-2" value="Service No:" 
                                                           rendered="#{servAndWorkRegistrationController.hideWhenWork}"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtServiceId" required="true" readonly="true"
                                                             rendered="#{servAndWorkRegistrationController.hideWhenWork}"
                                                             value="#{servAndWorkRegistrationController.generateServOrWorkNo()}"/>
                                                <p:message for="txtServiceId" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px required">
                                            <p:outputLabel id="lblGeneralLedger" value="General Ledger Code:" class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="drdGeneralLedger" converter="entConverter" style="width: 100%"
                                                                 value="#{servAndWorkRegistrationController.fmsGeneralLedger}" 
                                                                 required="true" requiredMessage="General Ledger Code is Required">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItems  var="ledgerCode" itemLabel="#{ledgerCode.generalLedgerCode}" itemValue="#{ledgerCode}" 
                                                                    value="#{servAndWorkRegistrationController.genLedgerCodeList}"/>
                                                </p:selectOneMenu>
                                                <p:message for="drdGeneralLedger" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px required">  
                                            <p:outputLabel id="lblWorkId" class="control-label col-sm-2" value="Work No:"
                                                           rendered="#{servAndWorkRegistrationController.hideWhenService}"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtWorkId" required="true"  readonly="true"
                                                             rendered="#{servAndWorkRegistrationController.hideWhenService}"
                                                             value="#{servAndWorkRegistrationController.generateServOrWorkNo()}"/>
                                                <p:message for="txtWorkId" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px required"> 
                                            <p:outputLabel id="lbl_cate"  class="control-label col-sm-2" value="Registration Date:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtregdate" placeholder="dd/mm/yyyy" required="true"  requiredMessage="Registration date Value is required"
                                                             value="#{servAndWorkRegistrationController.serviceAndWorkReg.registrationDate}" immediate="false" 
                                                             onclick="displayCalendar('frmRegisterUI:txtregdate', 'frmRegisterUI:txtregdate')"
                                                             valueChangeListener="#{servAndWorkRegistrationController.handleRegistrationDate}">
                                                    <p:ajax event="mousemove" process="@this"/>
                                                </p:inputText>
                                                <p:message for="txtregdate" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px required">  
                                            <p:outputLabel id="lblServiceName"  class="control-label col-sm-2" value=" Service Name:" 
                                                           rendered="#{servAndWorkRegistrationController.hideWhenWork}"/>
                                            <div class="col-sm-4">
                                                <p:inputTextarea id="txtServiceName"  class="form-control"
                                                                 rendered="#{servAndWorkRegistrationController.hideWhenWork}"
                                                                 value="#{servAndWorkRegistrationController.serviceAndWorkReg.serviceName}" 
                                                                 autoResize="false" 
                                                                 required="true"  requiredMessage="Service Name is Required">
                                                </p:inputTextarea>
                                                <p:message for="txtServiceName" display="icon"/>
                                            </div>

                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px required">  
                                            <p:outputLabel id="lblWorkName"  class="control-label col-sm-2" value=" Work Name:" 
                                                           rendered="#{servAndWorkRegistrationController.hideWhenService}"/>
                                            <div class="col-sm-4">
                                                <p:inputTextarea id="txtWorkName"  class="form-control" autoResize="false"
                                                                 rendered="#{servAndWorkRegistrationController.hideWhenService}"
                                                                 value="#{servAndWorkRegistrationController.serviceAndWorkReg.workName}" 
                                                                 required="true" requiredMessage="Work Name is Required" >
                                                </p:inputTextarea>
                                                <p:message for="txtWorkName" display="icon"/>
                                            </div>

                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px">  
                                            <h:outputLabel id="lblUnitMeasures"  class="control-label col-sm-2" value="Unit Measure:" />
                                            <div class="col-sm-4">
                                                <p:inputText id="txt_serviceDesc"  class="form-control" 
                                                             value="#{servAndWorkRegistrationController.serviceAndWorkReg.unitMeasures}">
                                                </p:inputText>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 textBoxMargin6px">  
                                            <h:outputLabel id="lbl_servicespecficRemark"  class="control-label col-sm-2" value="Description:" />
                                            <div class="col-sm-4">
                                                <p:inputTextarea id="txt_specificationremark"   class="form-control" placeholder="Type a description here"
                                                                 value="#{servAndWorkRegistrationController.serviceAndWorkReg.specificationRemark}"
                                                                 autoResize="false">
                                                </p:inputTextarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px">  
                                            <h:outputLabel id="lbl_servicepreparedBy"  class="control-label col-sm-2" value="Prepared By:" />
                                            <div class="col-sm-4">
                                                <p:inputText id="txt_preparedby" readonly="true"
                                                             value="#{servAndWorkRegistrationController.loggerName}"/>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 textBoxMargin6px">  
                                            <h:outputLabel id="lbl_serviiice"  class="control-label col-sm-2" />
                                            <div class="col-sm-4">
                                                <p:commandButton  id="btnSave" class="btn btn-primary " 
                                                                  value="#{servAndWorkRegistrationController.saveorUpdateBundle}" 
                                                                  validateClient="true"
                                                                  process="@this,frmGatePassDtlInfo"
                                                                  action="#{servAndWorkRegistrationController.saveServAndWorkInfo()}" 
                                                                  update="frmGatePassDtlInfo,:frmToolbar"/>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
