<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="../../resources/templates/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" >
    <ui:define name="navigaion_content">  
        <!-- search form -->

        <li class="header">MAIN NAVIGATION</li> 
        <li class="treeview">       
            <a href="../../HomePage.xhtml"><i class="fa fa-home"></i> Home 
                <i class="fa fa-angle-double-left pull-right"></i>
            </a>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-key"></i>
                <span>Administrative</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu"> 

                <li><a href="Administrative/SystemRegistration.xhtml"><i class="fa fa-circle-o"></i>System</a></li>
                <li><a href="Administrative/CostCenter.xhtml"><i class="fa fa-circle-o"></i>Cost Center</a></li>
                <li> <a href="Administrative/GeneralLedger.xhtml"><i class="fa fa-circle-o"></i>General Ledger</a></li>
                <li><a href="Administrative/ChartOfAccounts.xhtml"><i class="fa fa-circle-o"></i>Chart of Accounts</a></li>
                <li><a href="Administrative/AccountTypeRegister.xhtml"><i class="fa fa-circle-o"></i>Account Type Registration</a></li>
                <li><a href="Administrative/AccountClosingPeriodReg.xhtml"><i class="fa fa-circle-o"></i>Account Period</a></li>
                <li><a href="Administrative/VoucherNumberRangeReg.xhtml"><i class="fa fa-circle-o"></i>Voucher Number Range</a></li>
                <li><a href="Administrative/SysCCMapper.xhtml"><i class="fa fa-circle-o"></i>System Cost Center Mapper</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-bank"></i>
                <span>Bank</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="bank/BankRegister.xhtml"><i class="fa fa-circle-o"></i>Bank Register</a>
                </li>                                          
                <li>
                    <a href="bank/BankAccountRegister2.xhtml"><i class="fa fa-circle-o"></i>Bank Account Register</a>
                </li>
                <li>
                    <a href="bank/BankCashDeposit.xhtml"><i class="fa fa-circle-o"></i>Bank Cash Deposit </a>
                </li>
                <li>
                    <a href="bank/BankChequeDeposit.xhtml"><i class="fa fa-circle-o"></i>Bank Cheque Deposit</a>
                </li>
                <li>
                    <a href="bank/BankCreditAdvice.xhtml"><i class="fa fa-circle-o"></i>Bank Credit Advice</a>
                </li>
                <li>
                    <a href="bank/BankDebitAdvice.xhtml"><i class="fa fa-circle-o"></i>Bank Debit Advice</a>
                </li>
                <li>
                    <a href="bank/BankReconciliation.xhtml"><i class="fa fa-circle-o"></i>Bank Reconciliation</a>
                </li>

            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-circle-o"></i>
                <span>Bond</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="Bond/BondLibor.xhtml"><i class="fa fa-circle-o"></i>Bond Libor </a>
                </li>
                <li>
                    <a href="Bond/BondForeign.xhtml"><i class="fa fa-circle-o"></i>Bond Foreign </a>
                </li>               
                <li>
                    <a href="Bond/BondLocal.xhtml"><i class="fa fa-circle-o"></i>Bond Local </a>
                </li>
                <li>
                    <a href="Bond/LocalRepayment.xhtml"><i class="fa fa-circle-o"></i>Bond Local Repayment </a>
                </li>
                <li>
                    <a href="Bond/BondCoupon.xhtml"><i class="fa fa-circle-o"></i>Bond Coupon </a>
                </li>
                <li>
                    <a href="Bond/BondCouponSchedule.xhtml"><i class="fa fa-circle-o"></i>Bond Coupon Schedule </a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-certificate"></i>
                <span>Ifrs</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="Ifrs/FinancialInstrumentRegister.xhtml"><i class="fa fa-circle-o"></i>Financial Instrument Register </a>
                </li>
                <li>
                    <a href="Ifrs/RevenueContract.xhtml"><i class="fa fa-circle-o"></i>Revenue Contract </a>
                </li>
            </ul>
        </li>    
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-bold"></i>
                <span>Budget</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">  
                <li>
                    <a href="Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Budget Code</a>
                </li>        
                <li>
                    <a href="Budget/OBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Request</a>
                </li>        
                <li>
                    <a href="Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
                </li>        
                <li>
                    <a href="Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
                </li>        
                <li>
                    <a href="Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Disbursement</a>
                </li>
                <li>
                    <a href="Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Transfer</a>
                </li>        
                <li>
                    <a href="Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
                </li>        
                <li>
                    <a href="Budget/CBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Approval</a>
                </li>        
                <li>
                    <a href="Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
                </li>
                <li>
                    <a href="Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Disbursement</a>
                </li>        
                <li>
                    <a href="Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Transfer</a>
                </li>       
                <li>
                    <a href="Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
                </li>
                <li>
                    <a href="Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
                </li>
            </ul>
        </li> 
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-exchange"></i>
                <span>Loan</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="Loan/LoanAgreementReg.xhtml"><i class="fa fa-circle-o"></i>Loan Agreement</a>
                </li>   
                <li>
                    <a href="Loan/DisbursementReg.xhtml"><i class="fa fa-circle-o"></i>Loan Disbursement</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-gift"></i>
                <span>Per-Diem</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="Per-diem/CountryRegistration.xhtml"><i class="fa fa-circle-o"></i> Country Registration </a>
                </li>
                <li>
                    <a href="Per-diem/PerDiemRateRegistration.xhtml"><i class="fa fa-circle-o"></i> Per-Diem Rate Registration </a>
                </li>
                <li>
                    <a href="Per-diem/AdditionalAmountRegistration.xhtml"><i class="fa fa-circle-o"></i> Additional Amount Registration </a>
                </li>
                <li>
                    <a href="Per-diem/GoodWillingPayment.xhtml"><i class="fa fa-circle-o"></i> Good Willing Payment Registration </a>
                </li> 
                <li>
                    <a href="Per-diem/PerDiemRequestLocal.xhtml"><i class="fa fa-circle-o"></i> Per-diem Request Local </a>
                </li>
                <li>
                    <a href="Per-diem/PerDiemSettlementLocal.xhtml"><i class="fa fa-circle-o"></i> Per-diem Settlement Local </a>
                </li>
                <li>
                    <a href="Per-diem/PerDiemRequestForeign.xhtml"><i class="fa fa-circle-o"></i> Per-diem Request Foreign </a>
                </li> 
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-money"></i>
                <span>Petty Cash</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="PettyCash/PettyCashRegister.xhtml"><i class="fa fa-circle-o"></i>Petty Cash Register</a>
                </li> 
                <li>
                    <a href="PettyCash/PettyCashEstablishmentCodeReg.xhtml"><i class="fa fa-circle-o"></i> Petty Cash Establishment </a>
                </li>
                <li>
                    <a href="PettyCash/PettyCashReplenishment.xhtml"><i class="fa fa-circle-o"></i> Petty Cash Replenishment </a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-hdd-o"></i>
                <span>Stock Inventory </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">                            
                <li>
                    <a href="Stock/StockItemInitialBalance.xhtml"><i class="fa fa-circle-o"></i> Stock Item Initial Balance</a>
                </li>
                <li>
                    <a href="Stock/FmsInventoryCountSheet.xhtml"><i class="fa fa-circle-o"></i> Inventory Count Sheet</a>
                </li>
                <li>
                    <a href="Stock/StockLedgerCard.xhtml"><i class="fa fa-circle-o"></i> Stock Ledger Card</a>
                </li>
                <li>
                    <a href="Stock/StockRevaluation.xhtml"><i class="fa fa-circle-o"></i> Stock Revaluation</a>
                </li>
                <li>
                    <a href="Stock/FmsStockReport.xhtml"><i class="fa fa-circle-o"></i>  Stock Report</a>
                </li> 
            </ul>                                   
        </li>


        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-dollar"></i>
                <span>Tax</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="tax/TaxRegistration.xhtml"><i class="fa fa-circle-o"></i>Tax Register</a>
                </li>
                <li>
                    <a href="tax/TaxSummery.xhtml"><i class="fa fa-circle-o"></i>Tax Summery</a>
                </li>
                <li>
                    <a href="tax/taxRateReg.xhtml"><i class="fa fa-circle-o"></i>Tax Rate Registration</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-ticket"></i>
                <span>Voucher</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="Voucher/JournalVoucherReg.xhtml"><i class="fa fa-circle-o"></i>Journal Voucher</a>
                </li>
                <li>
                    <a href="Voucher/cashReceiptVoucher.xhtml"><i class="fa fa-circle-o"></i>Cash Receipt</a>
                </li>
                <li>
                    <a href="Voucher/ChequePayment.xhtml"><i class="fa fa-circle-o"></i>Cheque Payment Voucher </a>
                </li>
                <li>
                    <a href="Voucher/cashPaymentOrder.xhtml"><i class="fa fa-circle-o"></i>Cash Order</a>
                </li>
                <li>
                    <a href="Voucher/postingCpo.xhtml"><i class="fa fa-circle-o"></i>Posting Cash Order</a>
                </li>
                <li>
                    <a href="Voucher/postingChpv.xhtml"><i class="fa fa-circle-o"></i>Posting Cheque Payment Voucher</a>
                </li>
                <li>
                    <a href="Voucher/postingCrv.xhtml"><i class="fa fa-circle-o"></i>Posting cash Receipt</a>
                </li>
                <li>
                    <a href="Voucher/postingJv.xhtml"><i class="fa fa-circle-o"></i>Posting Journal Voucher</a>
                </li>
                <li>
                    <a href="Voucher/LedgerReport.xhtml"><i class="fa fa-circle-o"></i>Ledger Report </a>
                </li>
                <li>
                    <a href="Voucher/TrialBalance.xhtml"><i class="fa fa-circle-o"></i>Trial Balance Report</a>
                </li>
                <li>
                    <a href="Voucher/fmswithHoldingVoucher.xhtml"><i class="fa fa-circle-o"></i>Witholding Voucher</a>
                </li>
                <li>
                    <a href="Voucher/VatVoucher.xhtml"><i class="fa fa-circle-o"></i>Vat Voucher</a>
                </li>
            </ul>
        </li>
    </ui:define>

    <ui:define name="contents">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>Total Employee</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>Employee On Leave</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Terminated Employee</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border"><!-- box-header -->
                        <!--Enter Your Box Header Here-->

                    </div><!-- /.box-header -->

                    <div class="box-body"><!-- box-body -->
                        <!--Enter Your Chart Here-->

                    </div><!-- /.box-body --> 


                </div><!-- /.box -->
            </div><!-- /.col -->

            <!-- /.row -->
        </div>

    </ui:define>

</ui:composition>


