<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">        
        <li>
            <a href="../../fcms/Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Budget Code</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Disbursement</a>
        </li>
        <li>
            <a href="../../fcms/Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Transfer</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
        </li>
        <li>
            <a href="../../fcms/Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Disbursement</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Transfer</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                 
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="Budget Control" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="true">
                                    <div class="col-md-12" > 
                                        <h:form id="frmSysReg"> 
                                            <div class="col-sm-3">
                                                <h:form id="vouchForm">
                                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
                                                    <p:tabView id="maintab" class="form-group" style="border: white">
                                                        <p:ajax event="tabChange" update="@(form)" listener="#{budgetControlController.onVoucherTabChange}"/>
                                                        <section class="panel panel-info">
                                                            <section class="panel-body">                                                            
                                                                <p:tab title="PCPV" id="tabpcpv">
                                                                    <p:selectOneListbox  id="pcpv" value="#{budgetControlController.cpoVoucher}"
                                                                                         valueChangeListener="#{budgetControlController.pcpvListener}" 
                                                                                         scrollHeight="400" class="ui-selectlistbox-list"
                                                                                         filterMatchMode="contains" filter="true">
                                                                        <p:ajax event="change" process="@this" update="@(form)"/>
                                                                        <f:selectItems id="lstpcpv" value="#{budgetControlController.fetchCashPaymentOrderList()}"/>
                                                                    </p:selectOneListbox>
                                                                </p:tab>
                                                                <p:tab title="CPV"  id="tabcpv">
                                                                    <p:selectOneListbox  id="cpv" value="#{budgetControlController.fmsChequePaymentVoucher.fmsVOUCHERID}"
                                                                                         valueChangeListener="#{budgetControlController.chpvListener}"                                                                             
                                                                                         scrollHeight="400" converter="entConverter" class="ui-selectlistbox-list"
                                                                                         filterMatchMode="contains" filter="true">
                                                                        <p:ajax event="change" process="@this" update="@(form)"  />
                                                                        <f:selectItems id="lstcpv" value="#{budgetControlController.fetchChequePaymentVoucherList()}"/>
                                                                    </p:selectOneListbox>
                                                                </p:tab>
                                                            </section>
                                                        </section>
                                                    </p:tabView>
                                                </h:form> 
                                            </div>
                                            <div class="col-sm-9">
                                                <p:tabView id="maintab" class="form-group" style="border: white">
                                                    <p:ajax event="tabChange" process="@this" update="@(form)"
                                                            listener="#{budgetControlController.onBudgetTabChange}"/>
                                                    <section class="panel panel-info">
                                                        <section class="panel-body">
                                                            <p:tab title="Operating Budget" id="tab1">
                                                                <h:form id="operatingForm" class="col-sm-12" >
                                                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                                                    <div class="col-sm-8">                                                                              
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="drpAccUseOB" class="col-sm-6 control-label">Account Use :</label>  
                                                                                <div class="col-sm-6">
                                                                                    <p:selectOneMenu id="drpAccUseOB"  value="#{budgetControlController.fmsAccountUse}"
                                                                                                     requiredMessage ="Value is Required"
                                                                                                     converter="entConverter" required="true" style="width: 100%"
                                                                                                     valueChangeListener="#{budgetControlController.accountUseListener}"
                                                                                                     filter="true" filterMatchMode="startsWith">                                                                                 
                                                                                        <f:selectItems value="#{budgetControlController.getAccUseList()}"/>
                                                                                        <p:ajax  event="change" process="@this" update="drpSrcSysCodeTO,txtGLSrcTO,drpCostCenterSrcTO,txtSGLSrcTO"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="drpAccUseOB" display="icon"/>
                                                                                </div>
                                                                            </div>  
                                                                        </div>  
                                                                       
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="drpSrcSysCodeTO" class="col-sm-6  control-label" >System Code :</label>
                                                                                <div class="col-sm-6">
                                                                                    <p:inputText id="drpSrcSysCodeTO" class="form-control" value="#{budgetControlController.fmsLuSystem.systemCode}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                    <p:message for="drpSrcSysCodeTO" display="icon"/>
                                                                                </div>
                                                                            </div>  
                                                                        </div>  
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="drpCostCenterSrcTO" class="col-sm-6 control-label">Cost Center:</label>  
                                                                                <div class="col-sm-6">  
                                                                                    <p:inputText id="drpCostCenterSrcTO" class="form-control" 
                                                                                                 value="#{budgetControlController.fmsCostCenter.systemName}" 
                                                                                                 requiredMessage="Value is Required"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                     <p:message for="drpCostCenterSrcTO" display="icon"/>                                                                                    
                                                                                </div>
                                                                            </div>  
                                                                        </div> 
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="txtGLSrcTO" class="col-sm-6 control-label">General Ledger :</label>  
                                                                                <div class="col-sm-6">
                                                                                    <p:inputText id="txtGLSrcTO" class="form-control" value="#{budgetControlController.fmsGeneralLedger.generalLedgerCode}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                </div>
                                                                            </div>  
                                                                        </div>  
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="txtSGLSrcTO" class="col-sm-6 control-label">Subsidiary Ledger :</label>  
                                                                                <div class="col-sm-6">
                                                                                    <p:inputText id="txtSGLSrcTO" class="form-control" 
                                                                                                 value="#{budgetControlController.fmsSubsidiaryLedger.subsidiaryCode}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                         <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="txtBudgetYrTO" class="col-sm-6 control-label">Budget Year :</label>  
                                                                                <div class="col-sm-6">
                                                                                    <p:selectOneMenu id="drpBudgetYrSrc"  value="#{budgetControlController.fmsLuBudgetYear.budgetYear}"
                                                                                                     requiredMessage ="Value is Required"
                                                                                                     required="true" style="width: 100%" valueChangeListener="#{budgetControlController.searchYearValueChange}">                                                                                 
                                                                                        <f:selectItems value="#{budgetControlController.getLuBudgetYearSearchList()}"/>
                                                                                        <p:ajax  event="change" process="@this" update="@this,drpReqCodeSrcTO"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="drpBudgetYrSrc" display="icon"/>
                                                                                </div>                                                                                
                                                                            </div>  
                                                                        </div>  
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="drpReqCodeSrcTO" class="col-sm-6 control-label">Request Code:</label>  
                                                                                <div class="col-sm-6">                                             
                                                                                    <p:selectOneMenu id="drpReqCodeSrcTO" value="#{budgetControlController.fmsOperatingBudget1}"
                                                                                                     requiredMessage="Value is Required"
                                                                                                     valueChangeListener="#{budgetControlController.RequestCodeChangeTO}"
                                                                                                     style="width: 100%" converter="entConverter" required="true" 
                                                                                                     filter="true" filterMatchMode="startsWith">
                                                                                        <f:selectItems id="txtselectOneReqCode" value="#{budgetControlController.OBReqcodesTO()}" />
                                                                                        <p:ajax  event="change" process="@this" update="txtGLSrcTO"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="drpReqCodeSrcTO" display="icon"/>
                                                                                </div>
                                                                            </div>  
                                                                        </div>                                                                          
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="lblMonth" class="col-sm-6 control-label">Month :</label>  
                                                                                <div class="col-sm-6">
                                                                                    <p:selectOneMenu id="lblMonth" value="#{budgetControlController.monthVal}"
                                                                                                     requiredMessage="Value is Required"
                                                                                                     required="true" style="width: 100%">
                                                                                        <f:selectItems value="#{budgetControlController.month}"></f:selectItems>
                                                                                        <p:ajax event="change" process="@this" update="txtRemainTO,txtReqAmountTO" listener="#{budgetControlController.monthValSetter}"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="lblMonth" display="icon"/>
                                                                                </div>
                                                                            </div>  
                                                                        </div>  
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="txtRemainTO" class="col-sm-6 control-label">Current Balance :</label>  
                                                                                <div class="col-sm-6">   
                                                                                    <p:inputText id="txtRemainTO" class="form-control" value="#{budgetControlController.currentBalance}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                    <p:message for="txtRemainTO" display="icon"/>                                                                  
                                                                                </div>  
                                                                            </div>  
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="txtReqAmountTO" class="col-sm-6 control-label">New Balance :</label>  
                                                                                <div class="col-sm-6">   
                                                                                    <p:inputText id="txtReqAmountTO" class="form-control" value="#{budgetControlController.newBalance}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                    <p:message for="txtReqAmountTO" display="icon"/>                                                                  
                                                                                </div>  
                                                                            </div>  
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="txtPayedAmountTO" class="col-sm-6 control-label">Paid Amount :</label>  
                                                                                <div class="col-sm-6">   
                                                                                    <p:inputText id="txtPayedAmountTO" class="form-control" value="#{budgetControlController.payedAmount}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                    <p:message for="txtPayedAmountTO" display="icon"/>                                                                  
                                                                                </div>   
                                                                            </div>  
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <div class="col-sm-6"></div>
                                                                                <div class="col-sm-6">
                                                                                    <p:commandButton id="btnSave" class="btn btn-primary"                                                    
                                                                                                     action="#{budgetControlController.saveBCVoucher()}"
                                                                                                     process="operatingForm" 
                                                                                                     update="@(form)"                                                  
                                                                                                     value="Save"/>
                                                                                </div>  
                                                                            </div>  
                                                                        </div>
                                                                    </div>

                                                                </h:form>
                                                            </p:tab>
                                                            <p:tab title="Capital Budget"  id="tab2">
                                                                <h:form id="capitalform" class="col-sm-12"  >    
                                                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
                                                                    <div class="col-sm-8">   
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="drpAccUseCB" class="col-sm-6 control-label">Account Use :</label>  
                                                                                <div class="col-sm-6">
                                                                                    <p:selectOneMenu id="drpAccUseCB"  value="#{budgetControlController.fmsAccountUse}"                                                                                                    
                                                                                                     converter="entConverter" requiredMessage="Value is Required" required="true"                                                                                                  filter="true" filterMatchMode="startsWith"
                                                                                                     style="width: 100%" valueChangeListener="#{budgetControlController.accountUsPCPVeListener}">                                                                                 
                                                                                        <f:selectItems value="#{budgetControlController.getAccUseList()}"/>
                                                                                        <p:ajax  event="change" process="@this" update="@(form)"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="drpAccUseCB" display="icon"/>                                                                                    
                                                                                </div>
                                                                            </div>  
                                                                        </div> 
                                                                       
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="drpSrcSysCodeTO" class="col-sm-6 control-label" >System Code :</label>
                                                                                <div class="col-sm-6">
                                                                                    <p:inputText id="txtSrcSysCodeTO" class="form-control" value="#{budgetControlController.fmsLuSystem.systemCode}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                </div>
                                                                            </div>  
                                                                        </div>  
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="drpCostCenterSrcTO" class="col-sm-6 control-label">Cost Center :</label>  
                                                                                <div class="col-sm-6">  
                                                                                    <p:inputText id="drpCostCenterSrcTO" class="form-control" value="#{budgetControlController.fmsCostCenter.systemName}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="drpGL" class="col-sm-6 control-label">General Ledger :</label>  
                                                                                <div class="col-sm-6">           
                                                                                    <p:inputText id="dtxtGL" class="form-control" value="#{budgetControlController.fmsGeneralLedger.generalLedgerCode}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="SLSrcFrom" class="col-sm-6 control-label">Subsidiary Ledger :</label>  
                                                                                <div class="col-sm-6">
                                                                                    <p:inputText id="SLSrcFrom" class="form-control" value="#{budgetControlController.fmsSubsidiaryLedger.subsidiaryCode}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                         <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="txtBudgetYrTO" class="col-sm-6 control-label">Budget Year :</label>  
                                                                                <div class="col-sm-6">
                                                                                    <p:selectOneMenu id="drpBudgetYrSrc"  value="#{budgetControlController.fmsLuBudgetYear.budgetYear}"
                                                                                                     requiredMessage ="Value is Required"
                                                                                                     style="width: 100%" required="true" valueChangeListener="#{budgetControlController.searchYearValueChange}">                                                                                 
                                                                                        <f:selectItems value="#{budgetControlController.getLuBudgetYearSearchList()}"/>
                                                                                        <p:ajax  event="change" process="@this" update="@this"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="drpAccUseCB" display="icon"/>
                                                                                </div>
                                                                            </div>  
                                                                        </div> 
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="drpJN" class="col-sm-6 control-label">Job No :</label>  
                                                                                <div class="col-sm-6">                                             
                                                                                    <p:selectOneMenu id="drpJN" value="#{budgetControlController.fmsSystemJobJunction}"     
                                                                                                     valueChangeListener="#{budgetControlController.onChangeJobNo}"                                                                                                     
                                                                                                     requiredMessage="Value is Required" required="true"
                                                                                                     style="width: 100%" converter="entConverter"> 
                                                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                                        <f:selectItems id="lstJobNo" value="#{budgetControlController.sysJobNOList}"
                                                                                                       var="jbVar" itemValue="#{jbVar}" itemLabel="#{jbVar.jobNo}"/>
                                                                                        <p:ajax event="change" process="@this" update="drpReqCodeSrc"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="drpJN" display="icon"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                         
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="drpReqCodeSrc" class="col-sm-6 control-label">Request Code :</label>  
                                                                                <div class="col-sm-6">                                             
                                                                                    <p:selectOneMenu id="drpReqCodeSrc" value="#{budgetControlController.fmsCapitalBudget1.requestCode}"
                                                                                                     valueChangeListener="#{budgetControlController.RequestCodeChangeFrom}"
                                                                                                     style="width: 100%" required="true" requiredMessage="Value is required.">
                                                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                                        <f:selectItems id="txtitemSelReqCode" value="#{budgetControlController.fmsCapitalBudgetList}"/>
                                                                                        <p:ajax  event="change" process="@this" update="drpGL"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="drpReqCodeSrc" display="icon"/>
                                                                                </div>  
                                                                            </div>
                                                                        </div>                                                                       
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="drpGL" class="col-sm-6 control-label">Budget Code :</label>  
                                                                                <div class="col-sm-6">                                             
                                                                                    <p:selectOneMenu id="drpGL" value="#{budgetControlController.fmsCapitalBudgetDetail}" 
                                                                                                     valueChangeListener="#{budgetControlController.BudgetCodeChange}" requiredMessage="Value is Required"
                                                                                                     converter="entConverter" style="width: 100%" required="true" filter="true" filterMatchMode="startsWith">   
                                                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                                        <f:selectItems id="lstAccountCode" value="#{budgetControlController.fmsCapitalBudgetDetailList}"/>
                                                                                        <p:ajax event="change" process="@this" update="@this,SLSrcFrom,txtRemainTO,txtReqAmountTO"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="drpGL" display="icon"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <label for="lblMonth" class="col-sm-6 control-label">Month :</label>  
                                                                                <div class="col-sm-6">
                                                                                    <p:selectOneMenu id="lblMonth" value="#{budgetControlController.monthVal}"
                                                                                                     required="true" style="width: 100%" requiredMessage="Value is Required">
                                                                                        <f:selectItems value="#{budgetControlController.month}"></f:selectItems>
                                                                                        <p:ajax event="change" process="@this" update="txtRemainTO,txtReqAmountTO" listener="#{budgetControlController.monthValSetterCB}"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="lblMonth" display="icon"/>
                                                                                </div>
                                                                            </div>  
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="txtRemainTO" class="col-sm-6 control-label">Current Balance :</label>  
                                                                                <div class="col-sm-6">    
                                                                                    <p:inputText id="txtRemainTO" class="form-control" value="#{budgetControlController.currentBalance}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                    <p:message for="txtRemainTO" display="icon"/>                                                                  
                                                                                </div>  
                                                                            </div>  
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="txtReqAmountTO" class="col-sm-6 control-label">New Balance :</label>  
                                                                                <div class="col-sm-6">   
                                                                                    <p:inputText id="txtReqAmountTO" class="form-control" value="#{budgetControlController.newBalance}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                    <p:message for="txtReqAmountTO" display="icon"/>                                                                  
                                                                                </div>  
                                                                            </div>  
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <label for="txtPayAmount" class="col-sm-6 control-label">Paid Amount :</label>  
                                                                                <div class="col-sm-6">   
                                                                                    <p:inputText id="txtPayAmount" class="form-control" value="#{budgetControlController.payedAmount}"
                                                                                                 style="width: 100%" readonly="true" required="true">
                                                                                    </p:inputText>
                                                                                    <p:message for="txtPayAmount" display="icon"/>                                                                  
                                                                                </div>  
                                                                            </div>  
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group required form-horizontal">
                                                                                <div class="col-sm-6"></div>
                                                                                <div class="col-sm-6">
                                                                                    <p:commandButton id="btnSave1" class="btn-primary"                                                    
                                                                                                     action="#{budgetControlController.saveBCVoucher()}"
                                                                                                     process="capitalform" 
                                                                                                     update="@(form)"                                                  
                                                                                                     value="Save"/>
                                                                                </div>  
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                </h:form>
                                                            </p:tab>
                                                        </section>
                                                    </section>
                                                </p:tabView>
                                            </div>
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

