<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">        
        <li>
            <a href="../../fcms/Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Budget Code</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Disbursement</a>
        </li>
        <li>
            <a href="../../fcms/Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Transfer</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
        </li>
        <li>
            <a href="../../fcms/Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Disbursement</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Transfer</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-refresh"></i> </a>                    
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                 
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="Budget Comparison Report" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="true">
                                    <div class="col-md-12" > 
                                        <h:form id="frmSysReg">
                                            <p:tabView id="maintab" class="form-group" style="border: white">
                                                <p:ajax event="tabChange" process="@this" update="@(form)" listener="#{budgetComparisonController.onBudgetTabChange}"/>
                                                <section class="panel panel-info">
                                                    <section class="panel-body">
                                                        <p:tab title="Operating Budget" id="tab1">
                                                            <h:form id="operatingForm" class="col-sm-12" >
                                                                <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                                                <div class="col-sm-6">
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group required form-horizontal">
                                                                            <label for="txtBudgetYrTO" class="col-sm-6 control-label">Budget Year :</label>  
                                                                            <div class="col-sm-6">
                                                                                <p:selectOneMenu id="drpBudgetYrSrc"  value="#{budgetComparisonController.fmsLuBudgetYear.budgetYear}"
                                                                                                 style="width: 100%" valueChangeListener="#{budgetComparisonController.searchYearValueChange}">                                                                                 
                                                                                    <f:selectItems value="#{budgetComparisonController.getLuBudgetYearSearchList()}"/>
                                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                                </p:selectOneMenu>
                                                                            </div>
                                                                        </div>  
                                                                    </div>  
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group required form-horizontal">
                                                                            <label for="drpSrcSysCodeTO" class="col-sm-6 control-label" >System Code :</label>
                                                                            <div class="col-sm-6">
                                                                                <p:selectOneMenu id="drpSrcSysCode" value="#{budgetComparisonController.fmsLuSystem.systemCode}"
                                                                                                 style="width: 100%" valueChangeListener="#{budgetComparisonController.SystemSearchChange}"
                                                                                                 filter="true" filterMatchMode="startsWith">                                                                                     
                                                                                    <f:selectItems value="#{budgetComparisonController.getSystemSearchList()}"> </f:selectItems>
                                                                                    <p:ajax  event="change" process="@this" update="drpCostCenterSrcTO"/>
                                                                                </p:selectOneMenu>
                                                                            </div>
                                                                        </div>  
                                                                    </div>  
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group required form-horizontal">
                                                                            <label for="drpCostCenterSrcTO" class="col-sm-6 control-label">Cost Center :</label>  
                                                                            <div class="col-sm-6">                                             
                                                                                <p:selectOneMenu id="drpCostCenterSrcTO" value="#{budgetComparisonController.fmsCostCenter.systemName}" 
                                                                                                 valueChangeListener="#{budgetComparisonController.CostCenterChangeTO}"
                                                                                                 style="width: 100%" filter="true" filterMatchMode="startsWith">
                                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                                    <f:selectItems id="txtselectOneCostCenterCode" value="#{budgetComparisonController.costCenterList}" />
                                                                                    <p:ajax  event="change" process="@this" update="@(form),obCompTable"/>
                                                                                </p:selectOneMenu>
                                                                            </div>
                                                                        </div>  
                                                                    </div>
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="col-sm-6"></div>
                                                                        <div class="col-sm-6"></div>                                                                       
                                                                        <p:commandButton id="obPrint" class="btn btn-primary" value="Print" type="button" icon="ui-icon-print"
                                                                                         rendered="#{budgetComparisonController.printerRender}">
                                                                            <p:printer target="pnlOBPrint"/>
                                                                        </p:commandButton>
                                                                    </div>
                                                                </div>
                                                                <p:panel id="pnlOBPrint"  style="border: 0">
                                                                    <div id="wrapper">
                                                                        <div class="container">
                                                                            <div class="row">
                                                                                <div class="col-md-12 visible-print">
                                                                                    <div class="col-md-12 text-center">
                                                                                        <img src="/EEP_ERP-war/resources/image/trrtrret.png" alt="EEP logo"/>
                                                                                        <h4><b> Ethiopian Electric Power</b></h4>
                                                                                        <h4><b>Operating Budget Comparison Report</b> </h4>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 " style="padding-top: 20px">
                                                                                    <p:dataTable id="obCompTable" var="obds" value="#{budgetComparisonController.fmsFmsBudgetControlDatamodel}"                                                                                 
                                                                                                 rows="10" rowsPerPageTemplate="5,10,15" rowIndexVar="num" paginator="true" paginatorPosition="bottom">                                                                        
                                                                                        <p:column headerText="No.">
                                                                                            <h:outputText value="#{num+1}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="Budget Year">
                                                                                            <h:outputText value="#{obds.obTaskId.OBDetailFk.operatingBudgetId.budgetYear}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="Cost Center">
                                                                                            <h:outputText value="#{obds.costCenterId.systemName}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="General Ledger">
                                                                                            <h:outputText value="#{obds.generalLedgerId}" />
                                                                                        </p:column>                                                                    
                                                                                        <p:column headerText="Request Code">
                                                                                            <h:outputText value="#{obds.obTaskId.OBDetailFk.operatingBudgetId.requestCode}" />
                                                                                        </p:column>                                                                    
                                                                                        <p:column headerText="OB Approved Amount">
                                                                                            <h:outputText value="#{obds.obTaskId.OBDetailFk.approvedAmount}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="Total Paid Amount">
                                                                                            <h:outputText value="#{obds.totalPaidAmount}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="OB Remaining Amount">
                                                                                            <h:outputText value="#{obds.obTaskId.OBDetailFk.approvedAmount - obds.totalPaidAmount}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="OB Utilization">
                                                                                            <h:outputText value="#{obds.utilization}%" />
                                                                                        </p:column>
                                                                                    </p:dataTable>
                                                                                </div>    
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </p:panel>
                                                            </h:form>
                                                        </p:tab>
                                                        <p:tab title="Capital Budget"  id="tab2">
                                                            <h:form id="capitalform" class="col-sm-12"  >    
                                                                <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
                                                                <div class="col-sm-6">                                                                    
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group required form-horizontal">
                                                                            <label for="txtBudgetYrTO" class="col-sm-6 control-label">Budget Year :</label>  
                                                                            <div class="col-sm-6">
                                                                                <p:selectOneMenu id="drpBudgetYrSrc"  value="#{budgetComparisonController.fmsLuBudgetYear.budgetYear}"
                                                                                                 style="width: 100%" valueChangeListener="#{budgetComparisonController.searchYearValueChange}">                                                                                 
                                                                                    <f:selectItems value="#{budgetComparisonController.getLuBudgetYearSearchList()}"/>
                                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                                </p:selectOneMenu>
                                                                            </div>
                                                                        </div>  
                                                                    </div>  
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group required form-horizontal">
                                                                            <label for="drpSrcSysCodeTO" class="col-sm-6 control-label" >System Code :</label>
                                                                            <div class="col-sm-6">
                                                                                <p:selectOneMenu id="drpSrcSysCode" value="#{budgetComparisonController.fmsLuSystem.systemCode}"
                                                                                                 style="width: 100%" valueChangeListener="#{budgetComparisonController.SystemSearchChange}"
                                                                                                 filter="true" filterMatchMode="startsWith">                                                                                     
                                                                                    <f:selectItems value="#{budgetComparisonController.getSystemSearchList()}"> </f:selectItems>
                                                                                    <p:ajax  event="change" process="@this" update="drpCostCenterSrcTO"/>
                                                                                </p:selectOneMenu>                                                                                
                                                                            </div>
                                                                        </div>  
                                                                    </div>  
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group required form-horizontal">
                                                                            <label for="drpCostCenterSrcTO" class="col-sm-6 control-label">Cost Center :</label>  
                                                                            <div class="col-sm-6">                                             
                                                                                <p:selectOneMenu id="drpCostCenterSrcTO" value="#{budgetComparisonController.fmsCostCenter.systemName}" 
                                                                                                 valueChangeListener="#{budgetComparisonController.CostCenterChangeTO}"
                                                                                                 style="width: 100%" filter="true" filterMatchMode="startsWith">
                                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                                    <f:selectItems id="txtselectOneCostCenterCode" value="#{budgetComparisonController.costCenterList}" />
                                                                                    <p:ajax  event="change" process="@this" update="@(form)"/>
                                                                                </p:selectOneMenu>
                                                                            </div>
                                                                        </div>  
                                                                    </div>
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="col-sm-6"></div>
                                                                        <div class="col-sm-6"></div>
                                                                        <p:commandButton id="cbPrint" class="btn btn-primary" value="Print" type="button" icon="ui-icon-print"
                                                                                         rendered="#{budgetComparisonController.printerRender}">
                                                                            <p:printer target="pnlCBPrint"/>
                                                                        </p:commandButton>
                                                                    </div>
                                                                </div>
                                                                <p:panel id="pnlCBPrint"  style="border: 0">
                                                                    <div id="wrapper">
                                                                        <div class="container">
                                                                            <div class="row">
                                                                                <div class="col-md-12 visible-print">
                                                                                    <div class="col-md-12 text-center">
                                                                                        <img src="/EEP_ERP-war/resources/image/trrtrret.png" alt="EEP logo"/>
                                                                                        <h4><b> Ethiopian Electric Power</b></h4>
                                                                                        <h4><b>Capital Budget Comparison Report</b> </h4>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 " style="padding-top: 20px">
                                                                                    <p:dataTable id="cbCompTable" var="cbds" value="#{budgetComparisonController.fmsFmsBudgetControlDatamodel}"                                                                                 
                                                                                                 rows="10" rowsPerPageTemplate="5,10,15" rowIndexVar="num" paginator="true" paginatorPosition="bottom">
                                                                                        <p:column headerText="No.">
                                                                                            <h:outputText value="#{num+1}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="Budget Year">
                                                                                            <h:outputText value="#{cbds.cbTaskId.CBDetailFk.capitalBudgetId.budgetYear}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="Cost Center">
                                                                                            <h:outputText value="#{cbds.costCenterId.systemName}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="Budget Code">
                                                                                            <h:outputText value="#{cbds.cbTaskId.CBDetailFk.budgetCode}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="General Ledger">
                                                                                            <h:outputText value="#{cbds.generalLedgerId}" />
                                                                                        </p:column>                                                        
                                                                                        <p:column headerText="CB Approved Amount">
                                                                                            <h:outputText value="#{cbds.cbTaskId.CBDetailFk.approvedAmount}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="Total Paid Amount">
                                                                                            <h:outputText value="#{cbds.totalPaidAmount}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="CB Remaining Amount">
                                                                                            <h:outputText value="#{cbds.cbTaskId.CBDetailFk.approvedAmount - obds.totalPaidAmount}" />
                                                                                        </p:column>
                                                                                        <p:column headerText="CB Utilization">
                                                                                            <h:outputText value="#{cbds.utilization}%" />
                                                                                        </p:column>
                                                                                    </p:dataTable>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </p:panel>
                                                            </h:form>
                                                        </p:tab>
                                                    </section>
                                                </section>
                                            </p:tabView>                                         
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

