<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"   
    xmlns:h="http://java.sun.com/jsf/html"
    template="../../../resources/templates/template.xhtml"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">        
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Disbursement</a>
        </li>
        <li>
            <a href="../../fcms/Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Transfer</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
        </li>
        <li>
            <a href="../../fcms/Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Disbursement</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Transfer</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
        </li>
    </ui:define>
    <ui:define name="contents">          
        <h:form id="frmSample"> 
            <p:toolbar style="backface-visibility: hidden;border-color:transparent;background: #ffffff " >
                <f:facet name="right">
                    <h:panelGroup id="pnlgBackSearch" rendered="#{budgetCodeController.renderpnlSearchPage}">
                        <p:commandButton id="cmdBackSearch" action="#{budgetCodeController.goBackToSearchPageBtnAction()}"
                                         title="Back to Search" icon="ui-icon-search" 
                                         style="background-color: white; border-color: white"
                                         process="@this"  update="@this,:frmSystem:, :lblheadeTitle,:mainPageForm,:frmSample">                                         

                        </p:commandButton>
                        <span class="ui-separator">
                            <span class="ui-icon  ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    
                    <p:commandButton id="btnIcone" class="toolBarButton"  style="background-color: white;border-color: white"
                                     action="#{budgetCodeController.createNewBudgetCodeView()}" 
                                     icon="#{budgetCodeController.icone}" validateClient="true" 
                                     process="@this" update="@(form)"
                                     title="#{budgetCodeController.createOrSearchBundle}"
                                     />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="box box-primary">
            <div class="box-header" >
                <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{budgetCodeController.headerTitle}" /></h3> 
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">     
                        <div class="box-body ">                    
                            <h:form class="form-horizontal" id="frmSystem">
                                <h:panelGroup style="border: 0px; background-color: transparent;" id="search" rendered="#{budgetCodeController.renderPnlCreateAdditional}">                           
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group">  
                                            <p:outputLabel class="control-label col-sm-2" value="Budget Code :"/>                                                        
                                            <div class="col-sm-3"> 
                                                <p:inputText   id="txtSearchBgtCode" style="width: 100%"
                                                               class="form-control" value="#{budgetCodeController.budgetKode.budgetCode}">
                                                </p:inputText>
                                            </div> 
                                        </div> 
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group required"> 
                                                <div class="col-sm-2">

                                                </div>
                                                <div class="col-sm-2">
                                                    <p:commandButton id="btnSearchAll" class="btn  btn-block btn-primary col-lg-4"  action="#{budgetCodeController.searchBudgetCode()}" value="Search" 
                                                                     process="@(form)" update="@this,:frmSystem:tblLocInfoDetail,:mainPageForm,:mainPageForm:btnSave">
                                                    </p:commandButton>
                                                </div>                                                                
                                            </div>                                                                 
                                        </div>
                                    </div>


                                    <p:dataTable id="tblLocInfoDetail" value="#{budgetCodeController.budgetCodeDataModel}"
                                                 style="font-family: Cambria; " rows="10" paginator="true" paginatorPosition="bottom" 
                                                 rowsPerPageTemplate="5,10,15"
                                                 class="dataTable" rowIndexVar="numbers" var="addInfo" selectionMode="single" 
                                                 selection="#{budgetCodeController.budgetCodeSelect}" rowKey="#{addInfo.budgetId}">  
                                        <p:ajax event="rowSelect"  process="@this" update="@(form)" listener="#{budgetCodeController.requestIdChanged}"
                                                />
                                        <p:column  style="width:60px">
                                            <f:facet name="header"  >
                                                <h:outputText value="No" />
                                            </f:facet>      
                                            <h:outputText value="#{numbers+1}"/>          
                                        </p:column>
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="Budget Code"/>
                                            </f:facet>
                                            <h:outputText value="#{addInfo.budgetCode}" />
                                        </p:column>
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="General Ledger Code"/>
                                            </f:facet>
                                            <h:outputText value="#{addInfo.generalLedger.generalLedgerCode}" />
                                        </p:column> 
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="Budget Title"/>
                                            </f:facet>
                                            <h:outputText value="#{addInfo.budgetTitle}" />
                                        </p:column>                                      
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="Budget Type"/>
                                            </f:facet>
                                            <h:outputText value="#{addInfo.type}" />
                                        </p:column>                                      
                                    </p:dataTable>    
                                </h:panelGroup>
                            </h:form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">     
                        <div class="box-body ">  
                            <h:form id="mainPageForm">
                                <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information"/> 

                                <h:panelGroup style="border: 0px; background-color: transparent" class="panel-info" id="mainPage" 
                                              rendered="#{budgetCodeController.renderPnlManPage}">
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnl1" class="col-sm-12"> 
                                                <div class="form-group required  col-sm-12">                                
                                                    <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                        <label for="txtBudgetCode" class="control-label col-sm-4"  >Budget Code :</label>
                                                        <div class="col-sm-6">
                                                            <p:inputText id="txtBudgetCode" value="#{budgetCodeController.budgetKode.budgetCode}" 
                                                                         title="budget code" class="form-control" validator="#{validatorManagedBean.Number}"
                                                                         style="background-color: white; width: 100%;" required="true" requiredMessage="Value is Required" validatorMessage="Insert correct value type" />     
                                                            <p:message  for="txtBudgetCode" display="icon"/>
                                                        </div> 
                                                    </div>
                                                    <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                        <label for="txtBudgetCode" class="control-label col-sm-4"  >Budget Title :</label>
                                                        <div class="col-sm-6">
                                                            <p:inputText id="txtTitle" value="#{budgetCodeController.budgetKode.budgetTitle}" 
                                                                         title="Title" class="form-control" validator="#{validatorManagedBean.Remark}"
                                                                         style="background-color: white; width: 100%;" required="true" requiredMessage="Value is Required" validatorMessage="Insert correct value type" />     
                                                            <p:message  for="txtTitle" display="icon"/>
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="form-group required  col-sm-12"> 
                                                    <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                        <label for="txtGL" class="control-label col-sm-4"  >General Ledger :</label>
                                                        <div class="col-sm-6">
                                                            <p:selectOneMenu id="subLGLAccName" style="width: 100%" value="#{budgetCodeController.budgetKode.generalLedger}" 
                                                                             requiredMessage="Value is Required" validatorMessage="Insert correct value type" 
                                                                             required="true" converter="entConverter"
                                                                             filter="true" filterMatchMode="startsWith">
                                                                <f:selectItems value="#{budgetCodeController.getGLdata()}"></f:selectItems>
                                                                <p:ajax event="change"  process="@this" />
                                                            </p:selectOneMenu>
                                                            <p:message for="subLGLAccName" display="icon"/>
                                                        </div> 
                                                    </div>

                                                    <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                        <label for="SelectType" class="control-label col-sm-4"  >Budget Type :</label>
                                                        <div class="col-sm-4" >                                                                          
                                                            <p:selectOneRadio id="SelectType" layout="grid" columns="4" value="#{budgetCodeController.budgetKode.type}"
                                                                              valueChangeListener="#{chartofAccountsController.LedgerType}"  
                                                                              required="true" requiredMessage="Value is Required.">
                                                                <f:selectItem itemLabel="Operating" itemValue="Operating" />
                                                                <f:selectItem itemLabel="Capital" itemValue="Capital" />
                                                                <p:ajax  event="valueChange"  process="@this" 
                                                                         update="@this"/> 
                                                            </p:selectOneRadio>  
                                                            <p:message for="SelectType" display="icon"/>
                                                        </div>                                                                   
                                                    </div>
                                                </div>
                                                <div class="form-group required col-sm-12">
                                                    <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-2">
                                                            <p:commandButton id="btnSave"  value="#{budgetCodeController.update}" class="btn  btn-block btn-primary col-lg-4" 
                                                                             process="@this,:mainPageForm" 
                                                                             update="@this,:mainPageForm,:frmSystem,:mainPageForm" 
                                                                             action="#{budgetCodeController.saveBudgetCode()}">
                                                            </p:commandButton></div>                                                        
                                                        <div class="col-sm-2">

                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>                                            
                                        </section>
                                    </section>
                                </h:panelGroup>
                            </h:form> 
                        </div>
                    </div>
                </div>
            </div></div>
    </ui:define>
</ui:composition>



