<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">   
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Budget Code</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Disbursement</a>
        </li>
        <li>
            <a href="../../fcms/Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Transfer</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
        </li>  
        <li>
            <a href="../../fcms/Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
        </li>
        <li>
            <a href="../../fcms/Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Disbursement</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Transfer</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:outputLabel id="lblNotf" class="fa fa-fw fa-bell-o" value="#{cBApprovalController.requestNotificationCounter}" style="color: red" title="Notification"/>
                    <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="lblNotf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblReqNotf" value="Capital Budget Requests"/>
                        <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains"                                            
                                            valueChangeListener="#{cBApprovalController.CBRequestListChange}">
                            <f:selectItems id="selectOneMenuAppList" var="cbReqlst"
                                           value="#{cBApprovalController.CBRequestList}"
                                           itemValue="#{cbReqlst.requestCode}" itemLabel="#{cbReqlst.requestCode}"/>               
                            <p:ajax event="change" process="@this" update="@(form)"/>                            
                        </p:selectOneListbox>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <p:outputLabel id="lblWorkflow" class="fa fa-wordpress" title="Work Flow"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="lblWorkflow"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblWorkflow" value="#{cBApprovalController.wfFcmsProcessedDataModel}"
                                                             var="currentRow" rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                             rowKey="#{currentRow}" paginatorPosition="bottom">
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{currentRow.processedBy}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Decision"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.changedDecision}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Request Remark"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.commentGiven}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Processed Date"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.processedOn}"/> 
                                                    </p:column> 
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <p:commandButton validateClient="true" action="#{cBApprovalController.createNewCBApprovalView()}"
                                     icon="#{cBApprovalController.icone}"  class="toolBarButton" style="background-color: white; border-color: white"
                                     process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmCCReg,:frmMainUI:frmOBSearch:obDetSrchTable" 
                                     title="#{cBApprovalController.createOrSearchBundle}" 
                                     />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/Budget/CBApproval.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh" ></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                 
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{cBApprovalController.reqheaderTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{cBApprovalController.renderPnlCreateAdditional}">
                                    <div class="col-md-12" >
                                        <h:form id="frmOBSearch"> 
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                            <section class="panel panel-info"  >
                                                <section class="panel-body" >

                                                    <div class="col-md-12 " style="padding-top: 20px">
                                                        <p:dataTable id="obDetSrchTable" var="obds" value="#{cBApprovalController.fmscapitalBudgetTasksModel}"  
                                                                     selection="#{cBApprovalController.budgetTasksselection}" selectionMode="single"
                                                                     rows="10" rowsPerPageTemplate="5,10,15" rowIndexVar="num" paginator="true" paginatorPosition="bottom" rowKey="#{obds.CBTasksId}">
                                                            <p:ajax event="rowSelect" process="@this" listener="#{cBApprovalController.searchPopulate}"
                                                                    update=":frmMainUI,:frmCCReg,:lblheadeTitle"     />
                                                            <p:column headerText="No." style="width: 60px;">
                                                                <h:outputText value="#{num+1}" />
                                                            </p:column>
                                                            <p:column headerText="Budget Year" style="width: 90px;">
                                                                <h:outputText value="#{obds.CBDetailFk.capitalBudgetId.budgetYear.budgetYear}" converter="#{numberConverter.numberConverter}"/>
                                                            </p:column>
                                                            <p:column headerText="System" style="width: 60px;">
                                                                <h:outputText value="#{obds.CBDetailFk.capitalBudgetId.ccSsJunction.fmsLuSystem}" />
                                                            </p:column>
                                                            <p:column headerText="Cost Center" style="width: 60px;">
                                                                <h:outputText value="#{obds.CBDetailFk.capitalBudgetId.ccSsJunction.fmsCostCenter}" />
                                                            </p:column>
                                                            <p:column headerText="Job No." style="width: 90px;">
                                                                <h:outputText value="#{obds.CBDetailFk.capitalBudgetId.jobNo.jobNo}" />
                                                            </p:column>                                                            
                                                            <p:column headerText="Request Code" style="width: 120px;">
                                                                <h:outputText value="#{obds.CBDetailFk.capitalBudgetId.requestCode}" />
                                                            </p:column>
                                                            <p:column headerText="Budget Code" style="width: 60px;">
                                                                <h:outputText value="#{obds.CBDetailFk.budgetCode}" />
                                                            </p:column>
                                                            <p:column headerText="Subsidiary Ledger" footerText="Total Requested Amount">
                                                                <h:outputText value="#{obds.slId}" />
                                                            </p:column>
                                                            <p:column headerText="Total Requested Amount" footerText="#{cBApprovalController.gettotalReqAmount()}">
                                                                <h:outputText value="#{obds.allotedAmount}" converter="#{numberConverter.numberConverter}"/>
                                                            </p:column>
                                                            <p:column headerText="Request Date" style="width: 90px;">
                                                                <h:outputText value="#{obds.CBDetailFk.capitalBudgetId.requestDate}" />
                                                            </p:column>
                                                            <p:column headerText="Changed Status" style="width: 90px;">
                                                                <h:outputText value="#{obds.CBDetailFk.capitalBudgetId.changedStatus}" />
                                                            </p:column>
                                                            <p:column headerText="Remark">
                                                                <h:outputText value="#{obds.CBDetailFk.capitalBudgetId.requestRemark}" />
                                                            </p:column>                                                            
                                                        </p:dataTable>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="decisionRadio" class="col-sm-4 control-label" >Decision :</label>
                                                            <div class="col-sm-8">
                                                                <p:selectOneRadio id="decisionRadio" required="true" requiredMessage="Value is required." class="col-sm-6" value="#{cBApprovalController.decisionType}">
                                                                    <f:selectItem itemLabel="Reject" itemValue="Reject" />
                                                                    <f:selectItem itemLabel="Approve" itemValue="Approve" />                            
                                                                </p:selectOneRadio>
                                                                <p:message for="decisionRadio" display="icon"/>
                                                            </div>
                                                        </div>                                                            
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                    <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                        <label for="decisionRadio" class="col-sm-4 control-label" >Comment :</label>  
                                                        <div class="col-sm-6">                                             
                                                            <p:inputTextarea id="txtremark" class="form-control" value="#{cBApprovalController.userRemark}"
                                                                             style="width: 100%" required="true" requiredMessage="Value is required.">
                                                            </p:inputTextarea>
                                                            <p:message for="txtremark" display="icon"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                        <label for="decisionRadio" class="col-sm-4 control-label" >Processed Date :</label>
                                                        <div class="col-sm-6">                                             
                                                            <p:inputText id="txtremarkDate" class="form-control" value="#{cBApprovalController.userRemarkDate}"                                                                         
                                                                         placeholder="dd/mm/yyyy"
                                                                         required="true"  requiredMessage="Value is required" validator="#{validatorManagedBean.Date}"
                                                                         onclick="displayCalendar('frmMainUI:frmOBSearch:txtremarkDate', 'frmMainUI:frmOBSearch:txtremarkDate');" >
                                                            </p:inputText>
                                                            <p:message for="txtremarkDate" display="icon"/>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;" >
                                                            <div class="col-sm-2">

                                                            </div>
                                                            <div class="col-sm-2">
                                                                <p:commandButton id="btnSaveDlg" value="Save" 
                                                                                 class="btn  btn-block btn-primary col-lg-4"
                                                                                 action="#{cBApprovalController.saveCBApproval()}"
                                                                                 process="@(form)" update="@(form)"/>
                                                            </div>                                                                
                                                            <div class="col-sm-2">

                                                            </div>                                                                
                                                        </div>
                                                    </div>                                                      
                                                </section> 
                                            </section> 
                                        </h:form>
                                        <h:form id="dlgForm">
                                            <p:dialog id="dlgApprFrm" header="Capital Budget Approval Remark" widgetVar="dlgAddRemark" modal="true" 
                                                      resizable="false" width="50%">
                                                <div class="form-group required col-sm-12 textBoxMargin6px">
                                                    <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                        <label for="txtremark" class="col-sm-6 control-label"> Remark :</label>  
                                                        <div class="col-sm-6">                                             
                                                            <p:inputTextarea id="txtremark" class="form-control" value="#{cBApprovalController.userRemark}"
                                                                             style="width: 100%" >
                                                            </p:inputTextarea>
                                                            <p:message for="txtremark" display="icon"/>
                                                        </div>
                                                    </div>
                                                </div>                                            
                                                <div class="form-group required col-sm-12 textBoxMargin6px">
                                                    <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                        <label for="txtremarkDate" class="col-sm-6 control-label">Approval Date :</label>  
                                                        <div class="col-sm-6">                                             
                                                            <p:inputText id="txtremarkDate" class="form-control" value="#{cBApprovalController.userRemarkDate}"
                                                                         required="true"  requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                                         onclick="displayCalendar('frmMainUI:dlgForm:txtremarkDate', 'frmMainUI:dlgForm:txtremarkDate');" >
                                                            </p:inputText>
                                                            <p:message for="txtremarkDate" display="icon"/>
                                                        </div>
                                                    </div>
                                                </div>                                            
                                                <div class="form-group required col-sm-12 textBoxMargin6px">
                                                    <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                        <div class="col-sm-4"></div>
                                                        <div class="col-sm-4">
                                                            <p:commandButton id="btnSaveDlg" value="Save" 
                                                                             class="btn  btn-block btn-primary col-lg-4"
                                                                             action="#{cBApprovalController.saveCBApproval()}"
                                                                             process="@this,dlgForm" update="@(form)"/>
                                                        </div>
                                                    </div>                                            
                                                </div>                                        
                                            </p:dialog>
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmCCReg"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{cBApprovalController.renderPnlManPage}">
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                    <div class="active tab-pane" id="tabTransmission">
                                        <section class="panel panel-info"  >
                                            <section class="panel-body" >  
                                                <h:panelGroup id="pnltransm" class="col-sm-12">
                                                    <h:form id="frmOBReg">
                                                        <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="drpBudgetYr" class="col-sm-4 control-label" >Budget Year :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="drpBudgetYr"  value="#{cBApprovalController.capitalBudgetTasks.CBDetailFk.capitalBudgetId.budgetYear}" 
                                                                                 style="width: 100%" class="form-control" readonly="true">                                                                        
                                                                    </p:inputText>
                                                                    <p:message for="drpBudgetYr" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="drpSysCode" class="col-sm-4 control-label" >System Code :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="drpSysCode" value="#{cBApprovalController.capitalBudgetTasks.CBDetailFk.capitalBudgetId.ccSsJunction.fmsLuSystem}"
                                                                                 style="width: 100%" class="form-control" readonly="true"> 
                                                                    </p:inputText>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="drpCostCenter" class="col-sm-4 control-label">Cost Center :</label>  
                                                                <div class="col-sm-6">                                             
                                                                    <p:inputText id="drpCostCenter" value="#{cBApprovalController.capitalBudgetTasks.CBDetailFk.capitalBudgetId.ccSsJunction.fmsCostCenter}" style="width: 100%"
                                                                                 class="form-control" readonly="true">                                                                        
                                                                    </p:inputText>                                                                    
                                                                </div>                                                                
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="txtStatus" class="col-sm-4 control-label">Job No.:</label>  
                                                                <div class="col-sm-6">   
                                                                    <p:inputText id="txtJBn" class="form-control" value="#{cBApprovalController.capitalBudgetTasks.CBDetailFk.capitalBudgetId.jobNo.jobNo}"
                                                                                 style="width: 100%" readonly="true">
                                                                    </p:inputText> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="drpCostCenter" class="col-sm-4 control-label">Request Code :</label>  
                                                                <div class="col-sm-6">                                             
                                                                    <p:inputText id="drpReqCode" value="#{cBApprovalController.capitalBudgetTasks.CBDetailFk.capitalBudgetId.requestCode}" style="width: 100%"
                                                                                 class="form-control" readonly="true">                                                                        
                                                                    </p:inputText>                                                                    
                                                                </div>                                                                
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="txtStatus" class="col-sm-4 control-label">Budget Code:</label>  
                                                                <div class="col-sm-6">   
                                                                    <p:inputText id="txtBudCode" class="form-control" value="#{cBApprovalController.capitalBudgetTasks.CBDetailFk.budgetCode}"
                                                                                 style="width: 100%" readonly="true">
                                                                    </p:inputText> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="drpCostCenter" class="col-sm-4 control-label">General Ledger :</label>  
                                                                <div class="col-sm-6">                                             
                                                                    <p:inputText id="drpGLvw" value="#{cBApprovalController.capitalBudgetTasks.CBDetailFk.budgetCode.generalLedger}" style="width: 100%"
                                                                                 class="form-control" readonly="true">                                                                        
                                                                    </p:inputText>                                                                    
                                                                </div>                                                                
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="txtStatus" class="col-sm-4 control-label">Subsidiary Ledger :</label>  
                                                                <div class="col-sm-6">   
                                                                    <p:inputText id="txtSlvw" class="form-control" value="#{cBApprovalController.capitalBudgetTasks.slId}"
                                                                                 style="width: 100%" readonly="true">
                                                                    </p:inputText> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="drpCostCenter" class="col-sm-4 control-label">Requested Amount :</label>  
                                                                <div class="col-sm-6">                                             
                                                                    <p:inputText id="drpReqAmt" value="#{cBApprovalController.capitalBudgetTasks.allotedAmount}" style="width: 100%"
                                                                                 class="form-control" readonly="true">                                                                        
                                                                    </p:inputText>                                                                    
                                                                </div>                                                                
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="reqDate" class="col-sm-4 control-label">Request Date :</label>  
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="reqDate" class="form-control" value="#{cBApprovalController.capitalBudgetTasks.CBDetailFk.capitalBudgetId.requestDate}"
                                                                                 style="width: 100%" readonly="true">
                                                                    </p:inputText>
                                                                </div>                                                                
                                                            </div>
                                                        </div>                                                                                                        
                                                    </h:form>
                                                </h:panelGroup>
                                            </section>
                                        </section>                                        
                                    </div>
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>