<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">  
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Budget Code</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Disbursement</a>
        </li>
        <li>
            <a href="../../fcms/Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Transfer</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Transfer</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton validateClient="true" rendered="#{cBDisbursementController.renderNewSrcBtn}"
                                     action="#{cBDisbursementController.createNewCBDisbView()}"
                                     icon="#{cBDisbursementController.icone}"  class="toolBarButton" style="background-color: white; border-color: white"
                                     process="@this" update="@(form)" title="#{cBDisbursementController.createOrSearchBundle}"/>                    
                    <a href="../../fcms/Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                 
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{cBDisbursementController.reqheaderTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{cBDisbursementController.renderPnlCreateAdditional}">
                                    <div class="col-md-12" > 

                                        <h:form id="frmOBSearch"> 
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                            <section class="panel panel-info"  >
                                                <section class="panel-body" >
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpBudgetYrSrc" class="col-sm-4 control-label" >Budget Year :</label>
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="drpBudgetYrSrc"  value="#{cBDisbursementController.fmsLuBudgetYear.budgetYear}"
                                                                                 required="true" style="width: 100%" valueChangeListener="#{cBDisbursementController.searchYearValueChange}">                                                                                 
                                                                    <f:selectItems value="#{cBDisbursementController.getLuBudgetYearSearchList()}"/>
                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpSrcSysCode" class="col-sm-4 control-label" >System Code :</label>
                                                            <div class="col-sm-6"> 
                                                                <p:selectOneMenu id="drpSrcSysCode" value="#{cBDisbursementController.fmsLuSystem.systemCode}"
                                                                                 required="true" style="width: 100%" valueChangeListener="#{cBDisbursementController.SystemSearchChange}"
                                                                                 filter="true" filterMatchMode="startsWith">
                                                                    <f:selectItems value="#{cBDisbursementController.getSystemSearchList()}"/>
                                                                    <p:ajax  event="change" process="@this" update="drpCostCenterSrc,drpJN"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpCostCenterSrc" class="col-sm-4 control-label">Cost Center :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpCostCenterSrc" value="#{cBDisbursementController.fmsCostCenter.systemName}"
                                                                                 valueChangeListener="#{cBDisbursementController.CostCenterChange}"
                                                                                 required="true" style="width: 100%"
                                                                                 filter="true" filterMatchMode="startsWith">
                                                                    <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                    <f:selectItems id="txtslceCostCenterCode" value="#{cBDisbursementController.costCenterList}" />
                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                </p:selectOneMenu>
                                                            </div>                                                                
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpJN" class="col-sm-4 control-label">Job No :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpJN" value="#{cBDisbursementController.pmsWorkAuthorization.jobNo}"           
                                                                                 valueChangeListener="#{cBDisbursementController.onChangeJobNo}"
                                                                                 style="width: 100%" converter="entConverter"> 
                                                                    <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                    <f:selectItems id="lstJobNo" value="#{cBDisbursementController.sysJobNOList}"
                                                                                   var="jbVar" itemValue="#{jbVar.workAuthoFk}" itemLabel="#{jbVar.jobNo}"/>
                                                                    <p:ajax event="change" process="@this" update="drpReqCodeSrc"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpJN" display="icon"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpCostCenterSrc" class="col-sm-4 control-label">Request Code :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpReqCodeSrc" value="#{cBDisbursementController.fmsCapitalBudget1.requestCode}"
                                                                                 valueChangeListener="#{cBDisbursementController.RequestCodeChange}"
                                                                                 required="true" style="width: 100%"
                                                                                 filter="true" filterMatchMode="startsWith">
                                                                    <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                    <f:selectItems id="txtslcReqCode" value="#{cBDisbursementController.fmsCapitalBudget1List}" 
                                                                                   var="capBC" itemLabel="#{capBC.requestCode}" itemValue="#{capBC.requestCode}"/>
                                                                    <p:ajax  event="change" process="@this" update="drpGlSrc"/>
                                                                </p:selectOneMenu>
                                                            </div>                                                                
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpCostCenterSrc" class="col-sm-4 control-label">Budget Code :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpGlSrc" value="#{cBDisbursementController.fmsCapitalBudgetDetail}"
                                                                                 valueChangeListener="#{cBDisbursementController.CbGlCodeChange}"
                                                                                 required="true" style="width: 100%" converter="entConverter"
                                                                                 filter="true" filterMatchMode="startsWith">
                                                                    <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                    <f:selectItems id="txtselectOneCostCenterCode" value="#{cBDisbursementController.fmsCapitalBudgetDetailsList}" />
                                                                    <p:ajax  event="change" process="@this" update="obDetSrchTable"/>
                                                                </p:selectOneMenu>
                                                            </div>                                                                
                                                        </div>
                                                    </div>
<!--                                                    <div class="form-group required col-sm-12">
                                                        <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;" >
                                                            <div class="col-sm-2"></div>
                                                            <div class="col-sm-2">
                                                                <p:commandButton id="btnSearch" value="Search" class="btn  btn-block btn-primary col-lg-4"
                                                                                 action="{cBDisbursementController.searchCBDisbByCriteria()}"  
                                                                                 process="@this,drpBudgetYrSrc,drpSrcSysCode,drpCostCenterSrc" 
                                                                                 update="@(form)"/>
                                                            </div>                                                                
                                                        </div>
                                                    </div>-->
                                                </section> 
                                            </section> 
                                            <div class="col-md-12 " style="padding-top: 20px">                                                
                                                <p:dataTable id="obDetSrchTable" var="obds" value="#{cBDisbursementController.fmsCbDisbursementmodel}"                                                             
                                                             selection="#{cBDisbursementController.cbDisbursementSelection}" selectionMode="single"
                                                             rows="10" rowsPerPageTemplate="5,10,15" rowIndexVar="num" paginator="true" paginatorPosition="bottom" rowKey="#{obds.disbursementId}">                                                    
                                                    <p:ajax event="rowSelect" process="@this" update="@(form)" listener="#{cBDisbursementController.searchPopulate}"/>
                                                    <p:column headerText="No." style="width:40px">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>
                                                    <p:column headerText="Budget Code">
                                                        <h:outputText value="#{obds.cbTaskId.CBDetailFk.budgetCode}"/>
                                                    </p:column>                                                                    
                                                    <p:column headerText="Subsidiary Ledger">
                                                        <h:outputText value="#{obds.cbTaskId.slId}"/>
                                                    </p:column>                                                                    
                                                    <p:column headerText="Approved Amount">
                                                        <h:outputText value="#{obds.cbTaskId.approvedAmount}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column> 
                                                    <p:column  headerText="Hamle">
                                                        <h:outputText  value="#{obds.hamle}" converter="#{cBDisbursementController.numberConverter}"/>          
                                                    </p:column>
                                                    <p:column headerText="Nehasie">                                                        
                                                        <h:outputText  value="#{obds.nehasie}" converter="#{cBDisbursementController.numberConverter}"/>                                                        
                                                    </p:column>
                                                    <p:column headerText="Meskerem">
                                                        <h:outputText  value="#{obds.meskerem}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Tikemt">
                                                        <h:outputText  value="#{obds.tikemt}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Hidar">
                                                        <h:outputText  value="#{obds.hidar}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Tahsas">
                                                        <h:outputText  value="#{obds.tahsas}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Tir">
                                                        <h:outputText  value="#{obds.tir}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Yekatit">
                                                        <h:outputText  value="#{obds.yekatit}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Megabit">
                                                        <h:outputText  value="#{obds.megabit}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Miyaziya">
                                                        <h:outputText  value="#{obds.miyaziya}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Ginbot">
                                                        <h:outputText  value="#{obds.ginbot}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Sene">                                                        
                                                        <h:outputText  value="#{obds.sene}" converter="#{cBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Description">
                                                        <h:outputText value="#{obds.description}"/>
                                                    </p:column>
                                                </p:dataTable>                                                
                                            </div>                                            
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmCCReg"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{cBDisbursementController.renderPnlManPage}">
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                    <div class="active tab-pane" id="tabTransmission">
                                        <section class="panel panel-info"  >
                                            <section class="panel-body" >  
                                                <h:panelGroup id="pnltransm" class="col-sm-12">
                                                    <h:form id="frmOBReg">
                                                        <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>

                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtTotalAmt" class="col-sm-4 control-label" >Approved Amount :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtTotalAmt"  value="#{cBDisbursementController.fmsCbDisbursement.cbTaskId.allotedAmount}" 
                                                                                 converter="#{cBDisbursementController.numberConverter}" style="width: 100%" class="form-control" readonly="true">                                                                        
                                                                    </p:inputText>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtDisbAmt" class="col-sm-4 control-label" >Disbursed Amount :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtDisbAmt" value="#{cBDisbursementController.disbursedAmt}" readonly="true"
                                                                                 converter="#{cBDisbursementController.numberConverter}" style="width: 100%" class="form-control" > 
                                                                    </p:inputText>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="txtUnallctedAmt" class="col-sm-4 control-label" >UnAllocated Amount :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtUnallctedAmt" value="#{cBDisbursementController.unAllocatedAmt}" readonly="true"
                                                                                 converter="#{cBDisbursementController.numberConverter}" style="width: 100%" class="form-control" > 
                                                                    </p:inputText>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtHamle" class="col-sm-4 control-label" >Hamle :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtHamle"  value="#{cBDisbursementController.fmsCbDisbursement.hamle}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtHamleAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtHamle" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtTir" class="col-sm-4 control-label" >Tir :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtTir" value="#{cBDisbursementController.fmsCbDisbursement.tir}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtTirAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtTir" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtNehasie" class="col-sm-4 control-label" >Nehasie :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtNehasie" value="#{cBDisbursementController.fmsCbDisbursement.nehasie}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtNehasieAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtNehasie" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtYekatit" class="col-sm-4 control-label" >Yekatit :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtYekatit"  value="#{cBDisbursementController.fmsCbDisbursement.yekatit}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtYekatitAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtYekatit" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtMeskerem" class="col-sm-4 control-label" >Meskerem :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtMeskerem"  value="#{cBDisbursementController.fmsCbDisbursement.meskerem}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtMeskeremAjax" event="blur" process="@this" update="@this"/>                                                                        
                                                                    </p:inputText>
                                                                    <p:message for="txtMeskerem" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtMegabit" class="col-sm-4 control-label" >Megabit :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtMegabit" value="#{cBDisbursementController.fmsCbDisbursement.megabit}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtMegabitAjax" event="blur" process="@this" update="@this"/> 
                                                                    </p:inputText>
                                                                    <p:message for="txtMegabit" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtTikemet" class="col-sm-4 control-label" >Tikemet :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtTikemet"  value="#{cBDisbursementController.fmsCbDisbursement.tikemt}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtTikemetAjax" event="blur" process="@this" update="@this"/>                                                                       
                                                                    </p:inputText>
                                                                    <p:message for="txtTikemet" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtMiyazia" class="col-sm-4 control-label" >Miyaziya :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtMiyazia" value="#{cBDisbursementController.fmsCbDisbursement.miyaziya}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtMiyaziaAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtMiyazia" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtHidar" class="col-sm-4 control-label" >Hidar :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtHidar"  value="#{cBDisbursementController.fmsCbDisbursement.hidar}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtHidarAjax" event="blur" process="@this" update="@this"/>                                                                       
                                                                    </p:inputText>
                                                                    <p:message for="txtHidar" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtGinbot" class="col-sm-4 control-label" >Ginbot :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtGinbot" value="#{cBDisbursementController.fmsCbDisbursement.ginbot}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtGinbotAjax" event="blur" process="@this" update="@this"/> 
                                                                    </p:inputText>
                                                                    <p:message for="txtGinbot" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtTahsas" class="col-sm-4 control-label" >Tahsas :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtTahsas"  value="#{cBDisbursementController.fmsCbDisbursement.tahsas}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">                                                                        
                                                                    </p:inputText>
                                                                    <p:message for="txtTahsas" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtSene" class="col-sm-4 control-label" >Sene :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtSene" value="#{cBDisbursementController.fmsCbDisbursement.sene}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}"> 
                                                                    </p:inputText>
                                                                    <p:message for="txtSene" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group required col-sm-12">
                                                            <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;" >
                                                                <div class="col-sm-2">
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <p:commandButton id="btnSave" value="Update" class="btn  btn-block btn-primary col-lg-4"
                                                                                     rendered="#{cBDisbursementController.buttonRenderd}"
                                                                                     action="#{cBDisbursementController.saveCBDisbursement()}"  
                                                                                     process="@(form)" update="@(form)"/>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </h:form>
                                                </h:panelGroup>
                                            </section>
                                        </section>                                        
                                    </div>
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

