<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">  
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Budget Code</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Disbursement</a>
        </li>
        <li>
            <a href="../../fcms/Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Transfer</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
        </li>
        <li>
            <a href="../../fcms/Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Disbursement</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:outputLabel id="lblNotf" class="fa fa-fw fa-bell-o" value="#{cBTransferController.requestNotificationCounter}" style="color: red" title="Notification" />
                    <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="lblNotf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblReqNotf" value="Capital Budget Transfer Requests"/>
                        <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains"                                            
                                            valueChangeListener="#{cBTransferController.CbTransListener}">
                            <f:selectItems id="selectOneMenuAppList" var="cbTrnsReqlst"
                                           value="#{cBTransferController.CBTransRequestList}"
                                           itemValue="#{cbTrnsReqlst.transferDtlId}" itemLabel="#{cbTrnsReqlst.fromCbId.CBDetailFk.capitalBudgetId.requestCode}"/>               
                            <p:ajax event="change" process="@this" update="@(form)"/>                            
                        </p:selectOneListbox>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <p:outputLabel id="lblWorkflow" class="fa fa-wordpress" title="Work Flow"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="lblWorkflow"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">

                                                <p:dataTable id="tblWorkflow" value="#{cBTransferController.wfFcmsProcessedDataModel}"
                                                             var="currentRow" rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                             rowKey="#{currentRow}" paginatorPosition="bottom">
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{currentRow.processedBy}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Decision"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.changedDecision}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Request Remark"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.commentGiven}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Processed Date"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.processedOn}"/> 
                                                    </p:column> 
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <p:commandButton validateClient="true"
                                     action="#{cBTransferController.createNewCBTransferView()}"
                                     icon="#{cBTransferController.icone}"  class="toolBarButton" style="background-color: white; border-color: white"
                                     process="@this" update="@(form)" 
                                     title="#{cBTransferController.createOrSearchBundle}" 
                                     />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                 
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{cBTransferController.reqheaderTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{cBTransferController.renderPnlCreateAdditional}">
                                    <div class="col-md-12" > 

                                        <h:form id="frmOBSearch"> 
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                            <section class="panel panel-info"  >
                                                <section class="panel-body" >
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpBudgetYrSrc" class="col-sm-4 control-label" >Budget Year :</label>
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="drpBudgetYrSrc"  value="#{cBTransferController.fmsLuBudgetYear.budgetYear}"
                                                                                 style="width: 100%" valueChangeListener="#{cBTransferController.searchYearValueChange}">                                                                                 
                                                                    <f:selectItems value="#{cBTransferController.getLuBudgetYearSearchList()}"/>
                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpSrcSysCode" class="col-sm-4 control-label" >System Code :</label>
                                                            <div class="col-sm-6"> 
                                                                <p:selectOneMenu id="drpSrcSysCode" value="#{cBTransferController.fmsLuSystem.systemCode}"
                                                                                 style="width: 100%" valueChangeListener="#{cBTransferController.SystemSearchChange}"
                                                                                 filter="true" filterMatchMode="startsWith">                                                                                     
                                                                    <f:selectItems value="#{cBTransferController.getSystemSearchList()}"> </f:selectItems>
                                                                    <p:ajax  event="change" process="@this" update="drpCostCenterSrc,drpJN"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpCostCenterSrc" class="col-sm-4 control-label">Cost Center :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpCostCenterSrc" value="#{cBTransferController.fmsCostCenter.systemName}" 
                                                                                 valueChangeListener="#{cBTransferController.CostCenterChange}"
                                                                                 style="width: 100%" filter="true" filterMatchMode="startsWith">
                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                    <f:selectItems id="txtselectOneCCC" value="#{cBTransferController.costCenterList}"
                                                                                   var="costCenterFrom" itemLabel="#{costCenterFrom.systemName}"/>
                                                                    <p:ajax  event="change" process="@this" update="drpReqCodeSrc"/>
                                                                </p:selectOneMenu>
                                                            </div>                                                                
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpJN" class="col-sm-4 control-label">Job No :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpJN" value="#{cBTransferController.pmsWorkAuthorization.jobNo}"           
                                                                                 valueChangeListener="#{cBTransferController.onChangeJobNo}"
                                                                                 style="width: 100%" converter="entConverter"> 
                                                                    <f:selectItem itemLabel="---Select One ---" itemValue="" />
                                                                    <f:selectItems id="lstJobNo" value="#{cBTransferController.sysJobNOList}"
                                                                                   var="jbVar" itemValue="#{jbVar.workAuthoFk}" itemLabel="#{jbVar.jobNo}"/>
                                                                    <p:ajax event="change" process="@this" update="drpReqCodeSrc"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpJN" display="icon"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpReqCodeSrc" class="col-sm-4 control-label">Request Code :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpReqCodeSrc" value="#{cBTransferController.fmsCapitalBudget1.requestCode}"
                                                                                 valueChangeListener="#{cBTransferController.RequestCodeChangeFrom}"
                                                                                 style="width: 100%" required="true" requiredMessage="Value is required.">

                                                                    <f:selectItem itemLabel="---Select One ---" itemValue="" />
                                                                    <f:selectItems id="txtitemSelReqCode" value="#{cBTransferController.fmsCapitalBudget1List}"
                                                                                   var="capBC" itemLabel="#{capBC.requestCode}" itemValue="#{capBC.requestCode}"/>
                                                                    <p:ajax  event="change" process="@this" update="drpBgtC"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpReqCodeSrc" display="icon"/>
                                                            </div>                                                                
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpBgtC" class="col-sm-4 control-label">Budget Code :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpBgtC" value="#{cBTransferController.fmsCapitalBudgetDetail}"
                                                                                 valueChangeListener="#{cBTransferController.BudgetCodeChangeFrom}"
                                                                                 required="true" style="width: 100%" converter="entConverter">
                                                                    <f:selectItem itemLabel="---Select One---" itemValue="" />
                                                                    <f:selectItems id="txtselectOneCostCenterCode" value="#{cBTransferController.fmsCapitalBudgetDetailList}" />
                                                                    <p:ajax  event="change" process="@this" update="SLSrcFrom"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">                                                        
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="SLSrcFrom" class="col-sm-4 control-label">Subsidiary Ledger :</label>  
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="SLSrcFrom" value="#{cBTransferController.capitalBudgetTasksSrc}" 
                                                                                 valueChangeListener="#{cBTransferController.SubsidiaryLedgerChangeSrc}" 
                                                                                 converter="entConverter" style="width: 100%" required="true" requiredMessage="Value is required.">
                                                                    <f:selectItem itemLabel="---Select One ---" itemValue="" />
                                                                    <f:selectItems id="itmSLSrcFrom" value="#{cBTransferController.capitalBudgetTasksList}"
                                                                                   var="CBTsk" itemLabel="#{CBTsk.slId}" itemValue="#{CBTsk}"/>
                                                                    <p:ajax  event="change" process="@(form)" update="obDetSrchTable"/>
                                                                </p:selectOneMenu>                                                                     
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section> 
                                            </section> 
                                            <div class="col-md-12 " style="padding-top: 20px">                                                
                                                <p:dataTable id="obDetSrchTable" var="cbds" value="#{cBTransferController.fmsCapitalBudgetTransfermodel}"                                                             
                                                             selection="#{cBTransferController.fmsCbTransferDetailSelection}" selectionMode="single"
                                                             rows="10" rowsPerPageTemplate="5,10,15" rowIndexVar="num" paginator="true" paginatorPosition="bottom" rowKey="#{cbds.transferDtlId}">                                                    
                                                    <p:ajax event="rowSelect" process="@this" update="@(form)" listener="#{cBTransferController.searchPopulate}"/>
                                                    <p:column headerText="No." style="width: 60px; background-color: #bce8f1">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>
                                                    <p:column headerText="Budget Year" style="width: 110px; background-color: #bce8f1">
                                                        <h:outputText value="#{cbds.fromCbId.CBDetailFk.capitalBudgetId.budgetYear}"/>
                                                    </p:column>                                                                    
                                                    <p:column headerText="Request Code" style="background-color: #bce8f1">
                                                        <h:outputText value="#{cbds.fromCbId.CBDetailFk.capitalBudgetId.requestCode}"/>
                                                    </p:column> 
                                                    <p:column headerText="Subsidiary Ledger" style="width: 100px; background-color: #bce8f1">
                                                        <h:outputText value="#{cbds.fromCbId.slId}"/>
                                                    </p:column> 
                                                    <p:column headerText="Remaining Balance" style="background-color: #bce8f1">
                                                        <h:outputText value="#{cbds.fromCbId.remainingAmount}"  converter="#{cBTransferController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Budget Year" style="width: 110px; background-color: #faebcc">
                                                        <h:outputText value="#{cbds.toCbId.CBDetailFk.capitalBudgetId.budgetYear}"/>
                                                    </p:column>                                                                    
                                                    <p:column headerText="Request Code" style="background-color: #faebcc">
                                                        <h:outputText value="#{cbds.toCbId.CBDetailFk.capitalBudgetId.requestCode}" />
                                                    </p:column> 
                                                    <p:column headerText="Subsidiary Ledger" style="width: 100px; background-color: #faebcc">
                                                        <h:outputText value="#{cbds.toCbId.slId}"/>
                                                    </p:column> 
                                                    <p:column headerText="Remaining Balance" style="background-color: #faebcc">
                                                        <h:outputText value="#{cbds.toCbId.remainingAmount}"  converter="#{cBTransferController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Transfer Amount" style="background-color: #faebcc">
                                                        <h:outputText value="#{cbds.amount}"  converter="#{cBTransferController.numberConverter}"/>
                                                    </p:column>
                                                </p:dataTable>                                                
                                            </div>                                            
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmCCReg"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{cBTransferController.renderPnlManPage}">
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                    <div class="active tab-pane" id="tabTransmission">
                                        <section class="panel panel-info"  >
                                            <section class="panel-body" >  
                                                <h:panelGroup id="pnltransm" class="col-sm-12">
                                                    <h:form id="frmOBReg">
                                                        <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                                        <div class="col-sm-6">
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label  class="col-sm-4 control-label">FROM </label>
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpBudgetYr" class="col-sm-4 control-label">Budget Year :</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpBudgetYr"  value="#{cBTransferController.fmsLuBudgetYear.budgetYear}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         valueChangeListener="#{cBTransferController.searchYearValueChange}"
                                                                                         disabled="#{cBTransferController.drpDisable}">                                                                                 
                                                                            <f:selectItems value="#{cBTransferController.getLuBudgetYearSearchList()}"/>
                                                                            <p:ajax  event="change" process="@this" update="@this"/>
                                                                        </p:selectOneMenu>   
                                                                        <p:message for="drpReqCodeFrm" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpSysCode" class="col-sm-4 control-label">System Code :</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpSysCode" value="#{cBTransferController.fmsLuSystem.systemCode}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required." 
                                                                                         valueChangeListener="#{cBTransferController.SystemSearchChange}"
                                                                                         filter="true" filterMatchMode="startsWith" disabled="#{cBTransferController.drpDisable}">                                                                                     
                                                                            <f:selectItems value="#{cBTransferController.getSystemSearchList()}"> </f:selectItems>
                                                                            <p:ajax  event="change" process="@this" update="drpCostCenter,drpJNfrm"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpReqCodeFrm" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpCostCenter" class="col-sm-4 control-label">Cost Center :</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpCostCenter" value="#{cBTransferController.fmsCostCenter.systemName}" 
                                                                                         required="true" requiredMessage="Value is required." 
                                                                                         valueChangeListener="#{cBTransferController.CostCenterChange}"
                                                                                         filter="true" filterMatchMode="startsWith"
                                                                                         style="width: 100%" disabled="#{cBTransferController.drpDisable}">
                                                                            <f:selectItem itemLabel="---Select One---" itemValue="" />
                                                                            <f:selectItems id="txtitemSelCCCodeFrm" value="#{cBTransferController.costCenterList}" />
                                                                            <p:ajax  event="change" process="@this" update="drpReqCodeFrm"/>
                                                                        </p:selectOneMenu>
                                                                         <p:message for="drpReqCodeFrm" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label for="drpJNfrm" class="col-sm-4 control-label">Job No :</label>  
                                                                    <div class="col-sm-6">                                             
                                                                        <p:selectOneMenu id="drpJNfrm" value="#{cBTransferController.pmsWorkAuthorization.jobNo}"           
                                                                                         valueChangeListener="#{cBTransferController.onChangeJobNo}"
                                                                                         style="width: 100%" converter="entConverter" disabled="#{cBTransferController.drpDisable}"> 
                                                                            <f:selectItem itemLabel="---Select One ---" itemValue="" />
                                                                            <f:selectItems id="lstJobNofrm" value="#{cBTransferController.sysJobNOList}"
                                                                                           var="jbVar" itemValue="#{jbVar.workAuthoFk}" itemLabel="#{jbVar.jobNo}"/>
                                                                            <p:ajax event="change" process="@this" update="drpReqCodeFrm"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpJNfrm" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpReqCodeFrm" class="col-sm-4 control-label">Request Code :</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:selectOneMenu id="drpReqCodeFrm" value="#{cBTransferController.fmsCapitalBudget1.requestCode}"
                                                                                         valueChangeListener="#{cBTransferController.RequestCodeChangeFrom}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{cBTransferController.drpDisable}">
                                                                            <f:selectItems id="txtitemSelReqCodeFrm" value="#{cBTransferController.CBReqcodes()}"/>
                                                                            <p:ajax  event="change" process="@this" update="drpBCSrcFrm"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpReqCodeFrm" display="icon"/>
                                                                    </div>                                                                
                                                                </div> 
                                                            </div> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">                                                                    
                                                                    <label for="drpBCSrcFrm" class="col-sm-4 control-label">Budget Code :</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpBCSrcFrm" value="#{cBTransferController.fmsBudgetCode.budgetCode}"
                                                                                         valueChangeListener="#{cBTransferController.BCChangeFrm}"                                                                                         
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{cBTransferController.drpDisable}">
                                                                            <f:selectItems id="txtselectOneGL" value="#{cBTransferController.BudgetCodeFrom()}"/>
                                                                            <p:ajax  event="change" process="@this" update="drpSLSrcFrm"/>
                                                                        </p:selectOneMenu>
                                                                         <p:message for="drpReqCodeFrm" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpSLSrcFrm" class="col-sm-4 control-label">Subsidiary Ledger :</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpSLSrcFrm" value="#{cBTransferController.capitalBudgetTasks}" 
                                                                                         valueChangeListener="#{cBTransferController.SubsidiaryLedgerChangeFrm}"                                                                                                                                                                                  converter="entConverter" style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{cBTransferController.drpDisable}">
                                                                            <f:selectItem itemLabel="---Select One ---" itemValue="" />
                                                                            <f:selectItems id="drpselectOneSLFrm" value="#{cBTransferController.capitalBudgetTasksList}"
                                                                                           var="CBTsk" itemLabel="#{CBTsk.slId}" itemValue="#{CBTsk}"/>
                                                                            <p:ajax  event="change" process="@(form)" update="txtRemainFrm,txtTransferAmt"/>
                                                                        </p:selectOneMenu>
                                                                         <p:message for="drpReqCodeFrm" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label for="txtRemainFrm" class="col-sm-4 control-label">Remaining Balance :</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtRemainFrm" class="form-control" value="#{cBTransferController.capitalBudgetTasks.remainingAmount}"
                                                                                     style="width: 100%" readonly="true">
                                                                        </p:inputText>
                                                                        <p:message for="txtRemainFrm" display="icon"/>                                                                  
                                                                    </div>  
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="txtTransferAmt" class="col-sm-4 control-label">Transfer Amount :</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtTransferAmt" class="form-control" value="#{cBTransferController.transferAmount}"
                                                                                     readonly="#{cBTransferController.newAmtReadonly}" style="width: 100%" required="true" requiredMessage="Value is required.">
                                                                            <p:ajax id="ajxTransfer" event="blur" process="@this,txtRemainFrm" update="@this,txtReqAmountFrm,txtReqAmountTO" 
                                                                                    listener="#{cBTransferController.transferCalc}"/>
                                                                        </p:inputText>
                                                                        <p:message for="txtTransferAmt" display="icon"/>                                                                  
                                                                    </div> 
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group  form-horizontal">
                                                                    <label for="txtReqAmountFrm" class="col-sm-4 control-label">New Amount From :</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtReqAmountFrm" class="form-control" value="#{cBTransferController.newAmount}"
                                                                                     readonly="true"                                                                                     
                                                                                     style="width: 100%">
                                                                        </p:inputText>
                                                                        <p:message for="txtReqAmountFrm" display="icon"/>                                                                  
                                                                    </div>  
                                                                </div>  
                                                            </div>
                                                               
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="decisionRadio" class="col-sm-4 control-label" >Decision :</label>
                                                                    <div class="col-sm-8">
                                                                        <p:selectOneRadio id="decisionRadio" required="true" class="col-sm-6" value="#{cBTransferController.decisionType}"
                                                                                           disabled="#{!cBTransferController.drpDisable}">
                                                                            <f:selectItem itemLabel="Reject" itemValue="Reject" />
                                                                            <f:selectItem itemLabel="Approve" itemValue="Approve" />                            
                                                                        </p:selectOneRadio>
                                                                        <p:message for="decisionRadio" display="icon"/>
                                                                    </div>
                                                                </div>                                                            
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label for="decisionRadio" class="col-sm-4 control-label" >Comment :</label>  
                                                                    <div class="col-sm-6">                                             
                                                                        <p:inputTextarea id="txtremark" class="form-control" value="#{cBTransferController.userRemark}"
                                                                                         style="width: 100%">
                                                                        </p:inputTextarea>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-md-8 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">  
                                                                    <div class="col-sm-6"> 

                                                                    </div> 
                                                                    <div class="col-sm-6">  
                                                                        <p:commandButton id="btnAdd" value="Save" class="btn btn-block btn-primary"
                                                                                         action="#{cBTransferController.saveCBTransfer()}"  
                                                                                         process="frmOBReg" update="@(form)"/>

                                                                    </div> 
                                                                </div>  
                                                            </div>                                                            
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label  class="col-sm-4 control-label">TO </label>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="txtBudgetYrTO" class="col-sm-4 control-label">Budget Year :</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpBudgetYrTo"  value="#{cBTransferController.fmsLuBudgetYearTO.budgetYear}"
                                                                                         validatorMessage="Insert correct value type" disabled="#{cBTransferController.drpDisable}"
                                                                                         style="width: 100%" valueChangeListener="#{cBTransferController.yearValueChangeTo}" 
                                                                                         required="true" requiredMessage="Value is required.">                                                                                 
                                                                            <f:selectItems value="#{cBTransferController.getLuBudgetYearList()}"/>
                                                                            <p:ajax  event="change" process="@this" update="@this"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpBudgetYrTo" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpSrcSysCodeTO" class="col-sm-4 control-label" >System Code :</label>
                                                                    <div class="col-sm-6"> 
                                                                        <p:selectOneMenu id="drpSrcSysCodeTO" value="#{cBTransferController.fmsLuSystemTO.systemCode}"
                                                                                         style="width: 100%" valueChangeListener="#{cBTransferController.SystemSearchChangeTO}"
                                                                                         required="true" requiredMessage="Value is required."
                                                                                         filter="true" filterMatchMode="startsWith" disabled="#{cBTransferController.drpDisable}">
                                                                            <f:selectItems value="#{cBTransferController.getSystemSearchList()}"> </f:selectItems>
                                                                            <p:ajax  event="change" process="@this" update="drpCostCenterSrcTO,drpJNTo"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpSrcSysCodeTO" display="icon"/>  
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpCostCenterSrcTO" class="col-sm-4 control-label">Cost Center :</label>  
                                                                    <div class="col-sm-6">                                             
                                                                        <p:selectOneMenu id="drpCostCenterSrcTO" value="#{cBTransferController.fmsCostCenterTO.systemName}" 
                                                                                         valueChangeListener="#{cBTransferController.CostCenterChangeTO}" filter="true" filterMatchMode="startsWith"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required." disabled="#{cBTransferController.drpDisable}">
                                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                            <f:selectItems id="txtselectOneCCCode" var="costCenterTo" value="#{cBTransferController.costCenterListTo}" 
                                                                                           itemLabel="#{costCenterTo.systemName}"/>
                                                                            <p:ajax  event="change" process="@this" update="drpReqCodeTo"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpCostCenterSrcTO" display="icon"/>  
                                                                    </div>
                                                                </div>  
                                                            </div> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label for="drpJNTo" class="col-sm-4 control-label">Job No :</label>  
                                                                    <div class="col-sm-6">                                                                        
                                                                        <p:selectOneMenu id="drpJNTo" value="#{cBTransferController.pmsWorkAuthorizationTo.jobNo}"           
                                                                                         valueChangeListener="#{cBTransferController.onChangeJobNoTo}"
                                                                                         style="width: 100%" converter="entConverter" disabled="#{cBTransferController.drpDisable}"> 
                                                                            <f:selectItem itemLabel="---Select One ---" itemValue="" />
                                                                            <f:selectItems id="lstJobNoto" value="#{cBTransferController.sysJobNOListTo}"
                                                                                           var="jbVar" itemValue="#{jbVar.workAuthoFk}" itemLabel="#{jbVar.jobNo}"/>
                                                                            <p:ajax event="change" process="@this" update="drpReqCodeFrm"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpJNTo" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpReqCodeFrm" class="col-sm-4 control-label">Request Code :</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:selectOneMenu id="drpReqCodeTo" value="#{cBTransferController.fmsCapitalBudget1TO.requestCode}"
                                                                                         valueChangeListener="#{cBTransferController.RequestCodeChangeTo}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{cBTransferController.drpDisable}">
                                                                            <f:selectItems id="txtitemSelReqCodeTo" value="#{cBTransferController.CBReqcodesTo()}"/>
                                                                            <p:ajax  event="change" process="@this" update="drpBCto"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpReqCodeFrm" display="icon"/>
                                                                    </div>                                                                
                                                                </div> 
                                                            </div> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpBCto" class="col-sm-4 control-label">Budget Code :</label>  
                                                                    <div class="col-sm-6">                                             
                                                                        <p:selectOneMenu id="drpBCto" value="#{cBTransferController.fmsBudgetCodeTo.budgetCode}" 
                                                                                         valueChangeListener="#{cBTransferController.BudgetCodeChangeTo}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{cBTransferController.drpDisable}">   
                                                                            <f:selectItems id="lstBCode" value="#{cBTransferController.BudgetCodeTo()}"/>
                                                                            <p:ajax event="change" process="@this" update="@this,drpSLSrcTo,txtRemainTO,txtTransferAmt"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpBCto" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpSLSrcTo" class="col-sm-4 control-label">Subsidiary Ledger :</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpSLSrcTo" value="#{cBTransferController.capitalBudgetTasksTo}" 
                                                                                         valueChangeListener="#{cBTransferController.SubsidiaryLedgerChangeTo}" 
                                                                                         converter="entConverter" style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{cBTransferController.drpDisable}">
                                                                            <f:selectItem itemLabel="---Select One ---" itemValue="" />
                                                                            <f:selectItems id="drpselectOneSLTo" value="#{cBTransferController.capitalBudgetTasksListTo}"
                                                                                           var="CBTsk" itemLabel="#{CBTsk.slId}" itemValue="#{CBTsk}"/>
                                                                            <p:ajax  event="change" process="@(form)" update="txtRemainTO,txtTransferAmt"/>
                                                                        </p:selectOneMenu>
                                                                         <p:message for="drpBCto" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>                                                             
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label for="txtRemainTO" class="col-sm-4 control-label">Remaining Balance :</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtRemainTO" class="form-control" value="#{cBTransferController.capitalBudgetTasksTo.remainingAmount}"
                                                                                     style="width: 100%" readonly="true">
                                                                        </p:inputText>
                                                                        <p:message for="txtRemainTO" display="icon"/>                                                                  
                                                                    </div>  
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label for="txtReqAmountTO" class="col-sm-4 control-label">New Amount To :</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtReqAmountTO" class="form-control" value="#{cBTransferController.newAmountTO}"
                                                                                     style="width: 100%" readonly="true">
                                                                        </p:inputText>
                                                                        <p:message for="txtReqAmountTO" display="icon"/>                                                                  
                                                                    </div>  
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="decisionRadio" class="col-sm-4 control-label" >Processed Date :</label>
                                                                    <div class="col-sm-6">                                             
                                                                        <p:inputText id="txtremarkDate" class="form-control" value="#{cBTransferController.userRemarkDate}"
                                                                                     placeholder="dd/mm/yyyy"
                                                                                     required="true"  requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                                                     onclick="displayCalendar('frmCCReg:frmOBReg:txtremarkDate', 'frmCCReg:frmOBReg:txtremarkDate');" >
                                                                        </p:inputText>
                                                                        <p:message for="txtremarkDate" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h:form>
                                                </h:panelGroup>
                                            </section>
                                        </section>                                        
                                    </div>
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

