<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

     <ui:define name="navigaion_content"> 
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Budget Code</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
        </li>
        <li>
            <a href="../../fcms/Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Transfer</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
        </li>
        <li>
            <a href="../../fcms/Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Disbursement</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Transfer</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton validateClient="true" rendered="#{oBDisbursementController.renderNewSrcBtn}"
                                     action="#{oBDisbursementController.createNewOBDisbView()}"
                                     icon="#{oBDisbursementController.icone}"  class="toolBarButton" style="background-color: white; border-color: white"
                                     process="@this" update="@(form),:lblheadeTitle" 
                                     title="#{oBDisbursementController.createOrSearchBundle}" 
                                     />                  
                    <a href="../../fcms/Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                 
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{oBDisbursementController.reqheaderTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{oBDisbursementController.renderPnlCreateAdditional}">
                                    <div class="col-md-12" > 

                                        <h:form id="frmOBSearch"> 
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                            <section class="panel panel-info"  >
                                                <section class="panel-body" >
                                                    <div class="form-group required required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpBudgetYrSrc" class="col-sm-4 control-label" >Budget Year :</label>
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="drpBudgetYrSrc"  value="#{oBDisbursementController.fmsLuBudgetYear.budgetYear}"
                                                                                 style="width: 100%" valueChangeListener="#{oBDisbursementController.searchYearValueChange}">                                                                                 
                                                                    <f:selectItems value="#{oBDisbursementController.getLuBudgetYearSearchList()}"/>
                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpSrcSysCode" class="col-sm-4 control-label" >System Code :</label>
                                                            <div class="col-sm-6"> 
                                                                <p:selectOneMenu id="drpSrcSysCode" value="#{oBDisbursementController.fmsLuSystem.systemCode}"
                                                                                 style="width: 100%" valueChangeListener="#{oBDisbursementController.SystemSearchChange}"
                                                                                 filter="true" filterMatchMode="startsWith">                                                                                     
                                                                    <f:selectItems value="#{oBDisbursementController.getSystemSearchList()}"> </f:selectItems>
                                                                    <p:ajax  event="change" process="@this" update="drpCostCenterSrc"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpCostCenterSrc" class="col-sm-4 control-label">Cost Center :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpCostCenterSrc" value="#{oBDisbursementController.fmsCostCenter.systemName}" 
                                                                                 valueChangeListener="#{oBDisbursementController.CostCenterChange}"
                                                                                 style="width: 100%" filter="true" filterMatchMode="startsWith">
                                                                    <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                    <f:selectItems id="txtselectOneCostCenterCode" value="#{oBDisbursementController.costCenterList}" />
                                                                    <p:ajax  event="change" process="@this" update="drpReqCodeSrc"/>
                                                                </p:selectOneMenu>
                                                            </div>                                                                
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpReqCodeSrc" class="col-sm-4 control-label">Request Code :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpReqCodeSrc" value="#{oBDisbursementController.fmsOperatingBudget1.requestCode}"
                                                                                 valueChangeListener="#{oBDisbursementController.RequestCodeChange}"
                                                                                 style="width: 100%" required="true">                                                                    
                                                                    <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                    <f:selectItems id="txtselectOneReqCode" value="#{oBDisbursementController.fmsOperatingBudget1List}" />
                                                                    <p:ajax  event="change" process="@this" update="drpGL"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpReqCodeSrc" display="icon"/>
                                                            </div>                                                                
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpGL" class="col-sm-4 control-label">General Ledger :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpGL" value="#{oBDisbursementController.fmsOperatingBudgetDetail}" 
                                                                                 valueChangeListener="#{oBDisbursementController.ObGlCodeChange}"
                                                                                 style="width: 100%" filter="true" filterMatchMode="startsWith"
                                                                                 converter="entConverter">
                                                                    <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                    <f:selectItems id="txtselectGL" value="#{oBDisbursementController.fmsOperatingBudgetDtlList}" 
                                                                                   />
                                                                    <p:ajax  event="change" process="@this" update="obDetSrchTable"/>
                                                                </p:selectOneMenu>
                                                            </div>                                                                
                                                        </div>
                                                    </div>
                                                </section> 
                                            </section> 
                                            <div class="col-md-12 " style="padding-top: 20px">                                                
                                                <p:dataTable id="obDetSrchTable" var="obds" value="#{oBDisbursementController.fmsObDisbursementmodel}"                                                             
                                                             selection="#{oBDisbursementController.obDisbursementSelection}" selectionMode="single"
                                                             rows="10" rowsPerPageTemplate="5,10,15" rowIndexVar="num" paginator="true" paginatorPosition="bottom" rowKey="#{obds.disbursementId}">                                                    
                                                    <p:ajax event="rowSelect" process="@this" update="@(form)" listener="#{oBDisbursementController.searchPopulate}"/>
                                                    <p:column headerText="No." style="width:40px">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>
                                                    <p:column headerText="Subsidiary Ledger">
                                                        <h:outputText value="#{obds.obTaskId.slId}"/>
                                                    </p:column>                                                                    
                                                    <p:column headerText="Approved Amount">
                                                        <h:outputText value="#{obds.obTaskId.allotedAmount}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column> 
                                                    <p:column  headerText="Hamle">
                                                        <h:outputText  value="#{obds.hamle}" converter="#{oBDisbursementController.numberConverter}"/>          
                                                    </p:column>
                                                    <p:column headerText="Nehasie">                                                        
                                                        <h:outputText  value="#{obds.nehasie}" converter="#{oBDisbursementController.numberConverter}"/>                                                        
                                                    </p:column>
                                                    <p:column headerText="Meskerem">
                                                        <h:outputText  value="#{obds.meskerem}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Tikemt">
                                                        <h:outputText  value="#{obds.tikemt}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Hidar">
                                                        <h:outputText  value="#{obds.hidar}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Tahsas">
                                                        <h:outputText  value="#{obds.tahsas}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Tir">
                                                        <h:outputText  value="#{obds.tir}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Yekatit">
                                                        <h:outputText  value="#{obds.yekatit}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Megabit">
                                                        <h:outputText  value="#{obds.megabit}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Miyaziya">
                                                        <h:outputText  value="#{obds.miyaziya}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Ginbot">
                                                        <h:outputText  value="#{obds.ginbot}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Sene">                                                        
                                                        <h:outputText  value="#{obds.sene}" converter="#{oBDisbursementController.numberConverter}"/>
                                                    </p:column>
                                                </p:dataTable>                                                
                                            </div>                                            
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmCCReg"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{oBDisbursementController.renderPnlManPage}">
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                    <div class="active tab-pane" id="tabTransmission">
                                        <section class="panel panel-info"  >
                                            <section class="panel-body" >  
                                                <h:panelGroup id="pnltransm" class="col-sm-12">
                                                    <h:form id="frmOBReg">
                                                        <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>

                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtTotalAmt" class="col-sm-4 control-label" >Approved Amount :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtTotalAmt"  value="#{oBDisbursementController.fmsObDisbursement.obTaskId.allotedAmount}" 
                                                                                 converter="#{oBDisbursementController.numberConverter}" style="width: 100%" class="form-control" readonly="true">                                                                        
                                                                    </p:inputText>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtDisbAmt" class="col-sm-4 control-label" >Disbursed Amount :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtDisbAmt" value="#{oBDisbursementController.disbursedAmt}" readonly="true"
                                                                                 converter="#{oBDisbursementController.numberConverter}" style="width: 100%" class="form-control" > 
                                                                    </p:inputText>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                <label for="txtUnallctedAmt" class="col-sm-4 control-label" >UnAllocated Amount :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtUnallctedAmt" value="#{oBDisbursementController.unAllocatedAmt}" readonly="true"
                                                                                 converter="#{oBDisbursementController.numberConverter}" style="width: 100%" class="form-control" > 
                                                                    </p:inputText>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtHamle" class="col-sm-4 control-label" >Hamle :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtHamle"  value="#{oBDisbursementController.fmsObDisbursement.hamle}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtHamleAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtHamle" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtTir" class="col-sm-4 control-label" >Tir :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtTir" value="#{oBDisbursementController.fmsObDisbursement.tir}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtTirAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtTir" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtNehasie" class="col-sm-4 control-label" >Nehasie :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtNehasie" value="#{oBDisbursementController.fmsObDisbursement.nehasie}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtNehasieAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtNehasie" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtYekatit" class="col-sm-4 control-label" >Yekatit :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtYekatit"  value="#{oBDisbursementController.fmsObDisbursement.yekatit}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtYekatitAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtYekatit" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtMeskerem" class="col-sm-4 control-label" >Meskerem :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtMeskerem"  value="#{oBDisbursementController.fmsObDisbursement.meskerem}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtMeskeremAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtMeskerem" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtMegabit" class="col-sm-4 control-label" >Megabit :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtMegabit" value="#{oBDisbursementController.fmsObDisbursement.megabit}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtMegabitAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtMegabit" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtTikemet" class="col-sm-4 control-label" >Tikemet :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtTikemet"  value="#{oBDisbursementController.fmsObDisbursement.tikemt}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtTikemetAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtTikemet" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtMiyazia" class="col-sm-4 control-label" >Miyaziya :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtMiyazia" value="#{oBDisbursementController.fmsObDisbursement.miyaziya}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtMiyaziaAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtMiyazia" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtHidar" class="col-sm-4 control-label" >Hidar :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtHidar"  value="#{oBDisbursementController.fmsObDisbursement.hidar}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtHidarAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtHidar" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtGinbot" class="col-sm-4 control-label" >Ginbot :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtGinbot" value="#{oBDisbursementController.fmsObDisbursement.ginbot}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtGinbotAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtGinbot" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtTahsas" class="col-sm-4 control-label" >Tahsas :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="txtTahsas"  value="#{oBDisbursementController.fmsObDisbursement.tahsas}" 
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtTahsasAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtTahsas" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtSene" class="col-sm-4 control-label" >Sene :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:inputText id="txtSene" value="#{oBDisbursementController.fmsObDisbursement.sene}"
                                                                                 style="width: 100%" class="form-control" validator="#{validatorManagedBean.Money}"
                                                                                 converter="#{numberConverter.numberConverter}">   
                                                                        <p:ajax id="txtSeneAjax" event="blur" process="@this" update="@this"/>
                                                                    </p:inputText>
                                                                    <p:message for="txtSene" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group required col-sm-12">
                                                            <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;" >
                                                                <div class="col-sm-2">
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <p:commandButton id="btnSave" value="Update" class="btn  btn-block btn-primary col-lg-4"
                                                                                     rendered="#{oBDisbursementController.buttonRenderd}"
                                                                                     action="#{oBDisbursementController.saveDisbursement()}"  
                                                                                     process="@(form)" update="@(form)"/> 
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </h:form>
                                                </h:panelGroup>
                                            </section>
                                        </section>                                        
                                    </div>
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

