<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content"> 
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Budget Code</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Disbursement</a>
        </li>
        <li>
            <a href="../../fcms/Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Transfer</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
        </li>
        <li>
            <a href="../../fcms/Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Disbursement</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Transfer</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:outputLabel id="lblWorkflow" value="W" class="fa fa-fw" rendered="#{obRequestController.renderPnlManPage}"/>
                    <p:overlayPanel id="ovrLWorkflow" widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="lblWorkflow"
                                    class="col-md-4" style="height: 400px" rendered="#{obRequestController.renderPnlManPage}">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblWorkflow" value="#{obRequestController.wfFcmsProcessedDataModel}"
                                                             var="currentRow" rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                             rowKey="#{currentRow}" paginatorPosition="bottom">
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{currentRow.processedBy}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Decision"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.changedDecision}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Comment Given"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.commentGiven}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Processed Date"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.processedOn}"/> 
                                                    </p:column> 
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>                 
                    <p:commandButton validateClient="true" action="#{obRequestController.createNewOBReqView()}"
                                     icon="#{obRequestController.icone}"  class="toolBarButton" style="background-color: white; border-color: white"
                                     process="@this" update="@(form)" 
                                     title="#{obRequestController.createOrSearchBundle}" 
                                     />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/Budget/OBRequest.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard" ></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                 
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{obRequestController.reqheaderTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{obRequestController.renderPnlCreateAdditional}">
                                    <div class="col-md-12" > 

                                        <h:form id="frmOBSearch"> 
                                            <p:growl id="growlSrc" showDetail="true" sticky="true" autoUpdate="true" severity="information,fatal"/>
                                            <section class="panel panel-info"  >
                                                <section class="panel-body" >
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpBudgetYrSrc" class="col-sm-4 control-label" >Budget Year :</label>
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="drpBudgetYrSrc"  value="#{obRequestController.fmsLuBudgetYear.budgetYear}" required="false"
                                                                                 requiredMessage="Value is Required"  style="width: 100%" valueChangeListener="#{obRequestController.searchYearValueChange}">                                                                                 
                                                                    <f:selectItems value="#{obRequestController.getLuBudgetYearSearchList()}"/>
                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpBudgetYrSrc" display="icon"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpSrcSysCode" class="col-sm-4 control-label" >System Code :</label>
                                                            <div class="col-sm-6"> 
                                                                <p:selectOneMenu id="drpSrcSysCode" value="#{obRequestController.fmsLuSystem.systemCode}"
                                                                                 required ="false" requiredMessage="Value is Required"
                                                                                 filter="true" filterMatchMode="startsWith"
                                                                                 style="width: 100%" valueChangeListener="#{obRequestController.SystemSearchChange}">                                                                                     
                                                                    <f:selectItems value="#{obRequestController.getSystemSearchList()}"> </f:selectItems>
                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpSrcSysCode" display="icon"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpCostCenterSrc" class="col-sm-4 control-label">Cost Center :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpCostCenterSrc" value="#{obRequestController.fmsCostCenter.costCenterId}" 
                                                                                 filter="true" filterMatchMode="startsWith" required ="false"
                                                                                 requiredMessage ="Value is Required"
                                                                                 style="width: 100%" converter="entConverter">
                                                                    <f:selectItems id="txtselectOneCostCenterCode" value="#{obRequestController.costCenterSearch}" />
                                                                </p:selectOneMenu>
                                                                <p:message for="drpCostCenterSrc" display="icon"/>
                                                            </div>                                                                
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="txtReqCodeSrc" class="col-sm-4 control-label">Request Code :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:inputText id="txtReqCodeSrc" class="form-control" value="#{obRequestController.fmsOperatingBudget1.requestCode}"
                                                                             style="width: 100%" requiredMessage="Value is Required" required ="false">
                                                                </p:inputText>
                                                                <p:message for="txtReqCodeSrc" display="icon"/>                                                             
                                                            </div>                                                                
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;" >
                                                            <div class="col-sm-2"></div>
                                                            <div class="col-sm-2">
                                                                <p:commandButton id="btnSearch" value="Search" class="btn  btn-block btn-primary col-lg-4"
                                                                                 action="#{obRequestController.searchOBReqByCriteria()}"  
                                                                                 process="@this,:frmMainUI:frmOBSearch" 
                                                                                 update="@(form)"/>
                                                            </div>                                                                
                                                        </div>
                                                    </div>
                                                </section> </section> 
                                            <div class="col-md-12 " style="padding-top: 20px">
                                                <p:dataTable id="obDetSrchTable" var="obds" value="#{obRequestController.fmsOperatingBudgetDetailSrcmodel}"  
                                                             selection="#{obRequestController.operatingBudgetSelection}" selectionMode="single"
                                                             rows="10"  rowsPerPageTemplate="5,10,15" rowIndexVar="num" paginator="true" paginatorPosition="bottom" rowKey="#{obds.operatingBudgetId}">
                                                    <p:ajax event="rowSelect" process="@this" listener="#{obRequestController.searchPopulate}" update="@(form)"/>
                                                    <p:column headerText="No.">
                                                        <h:outputText value="#{num+1}" />
                                                    </p:column>
                                                    <p:column headerText="Budget Year" footerText="Total Requested Amount">
                                                        <h:outputText value="#{obds.budgetYear.budgetYear}" />
                                                    </p:column>
                                                    <p:column headerText="System">
                                                        <h:outputText value="#{obds.ccSsJunction.fmsLuSystem.systemCode}" />
                                                    </p:column>
                                                    <p:column headerText="Cost Center">
                                                        <h:outputText value="#{obds.ccSsJunction.fmsCostCenter}" />
                                                    </p:column>
                                                    <p:column headerText="Request Code">
                                                        <h:outputText value="#{obds.requestCode}" />
                                                    </p:column>                                                                    
                                                    <p:column headerText="Total Requested Amount" footerText="#{obRequestController.gettotalReqAmount()}">
                                                        <h:outputText value="#{obds.totalReqAmount}" converter="#{numberConverter.numberConverter}" />
                                                    </p:column>                                                                    
                                                    <p:column headerText="Request Date">
                                                        <h:outputText value="#{obds.requestDate}" />
                                                    </p:column>                                                                    
                                                    <p:column headerText="Status">
                                                        <h:outputText value="#{obds.status}" />
                                                    </p:column>
                                                    <p:column headerText="Remark">
                                                        <h:outputText value="#{obds.remark}" />
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmCCReg"  > 
                                <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                <h:panelGroup id="pnlReg" style="border: 0px; background-color: transparent"  rendered="#{obRequestController.renderPnlManPage}">
                                    <section class="panel panel-info"  >
                                        <section class="panel-body" >  
                                            <h:panelGroup id="pnltransm" class="col-sm-12">
                                                <h:form id="frmOBReg">
                                                    <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpBudgetYr" class="col-sm-4 control-label" >Budget Year :</label>
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="drpBudgetYr"  value="#{obRequestController.fmsLuBudgetYear.budgetYear}"
                                                                                 requiredMessage="Value is Required" validatorMessage="Insert correct value type"
                                                                                 style="width: 100%" valueChangeListener="#{obRequestController.yearValueChange}" required="true">                                                                                 
                                                                    <f:selectItems value="#{obRequestController.getLuBudgetYearList()}"/>
                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpBudgetYr" display="icon"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpSysCode" class="col-sm-4 control-label" >System Code :</label>
                                                            <div class="col-sm-6"> 
                                                                <p:selectOneMenu id="drpSysCode" value="#{obRequestController.fmsLuSystem.systemCode}"
                                                                                 filter="true" filterMatchMode="startsWith"
                                                                                 requiredMessage="Value is Required" validatorMessage="Insert correct value type"
                                                                                 style="width: 100%" valueChangeListener="#{obRequestController.SystemChange}" required="true">                                                                                     
                                                                    <f:selectItems value="#{obRequestController.getSystemList()}"> </f:selectItems>
                                                                    <p:ajax  event="change" process="@this" update="drpCostCenter"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpSysCode" display="icon"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpCostCenter" class="col-sm-4 control-label">Cost center :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpCostCenter" value="#{obRequestController.fmsCostCenter.systemName}" style="width: 100%"
                                                                                 filter="true" filterMatchMode="startsWith"
                                                                                 requiredMessage="Value is Required" validatorMessage="Insert correct value type"
                                                                                 valueChangeListener="#{obRequestController.CostCenterChange}"  required="true">
                                                                    <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                    <f:selectItems id="txtselectOneCostCenterCode" value="#{obRequestController.costCenterList}" />  
                                                                    <p:ajax event="change" process="@this" update="@(form)"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpCostCenter" display="icon"/>
                                                            </div>                                                                
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="txtReqCode" class="col-sm-4 control-label">Request Code :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:inputText id="txtReqCode" class="form-control" value="#{obRequestController.fmsOperatingBudget1.requestCode}"
                                                                             requiredMessage="Value is Required" validatorMessage="Insert correct value type" 
                                                                             style="width: 100%" readonly="true" required="true">
                                                                </p:inputText>
                                                                <p:message for="txtReqCode" display="icon"/>
                                                            </div>                                                                
                                                        </div>
                                                    </div>
                                                    <div class="form-group required  col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="reqDate" class="col-sm-4 control-label">Request Date :</label>  
                                                            <div class="col-sm-6">
                                                                <p:inputText id="txtRequestDate" value="#{obRequestController.fmsOperatingBudget1.requestDate}" placeholder="dd/mm/yyyy"
                                                                             required="true" requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                                             onclick="displayCalendar('frmCCReg:frmOBReg:txtRequestDate', 'frmCCReg:frmOBReg:txtRequestDate');" />                                                                                                                                                    
                                                                <p:message for="txtRequestDate" display="icon"/>
                                                            </div>                                                                
                                                        </div>  
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="txtRequester" class="col-sm-4 control-label">Requested By :</label>  
                                                            <div class="col-sm-6">   
                                                                <p:inputText id="txtRequester" class="form-control" value="#{obRequestController.userName}"
                                                                             readonly="true" style="width: 100%">
                                                                </p:inputText>   
                                                               
                                                            </div>                                                            
                                                        </div>                                                                                                              
                                                    </div>
                                                    <div class="form-group col-sm-12 textBoxMargin6px">                                                                                                                        
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="txtDep" class="col-sm-4 control-label">Department :</label>  
                                                            <div class="col-sm-6">
                                                                <p:outputLabel id="txtDep" value="#{obRequestController.fmsCostcSystemJunction.depId}"/>
                                                            </div>                                                                
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="txtRemark" class="col-sm-4 control-label">Request Remark :</label>  
                                                            <div class="col-sm-6">   
                                                                <p:inputTextarea id="txtRemark" class="form-control" value="#{obRequestController.fmsOperatingBudget1.remark}"
                                                                                 requiredMessage="Value is Required" validatorMessage="Insert correct value type"
                                                                                 validator="#{validatorManagedBean.Remark}" style="width: 100%" required="true"><p:ajax/>
                                                                </p:inputTextarea>
                                                                <p:message for="txtRemark" display="icon"/>                                                                  
                                                            </div>                                                                
                                                        </div>                                                        
                                                    </div>                                                        
                                                </h:form>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                    <h:form id="frmOBDetailReg">
                                        <h:panelGroup id="pnlbudgetDetail" class="col-sm-12">
                                            <section class="panel panel-info"  >
                                                <section class="panel-body" >  
                                                    <p:growl id="growl2" showDetail="true" autoUpdate="true" severity="information,fatal"/>

                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpGL" class="col-sm-4 control-label">General Ledger :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpGL" value="#{obRequestController.fmsOperatingBudgetDetail.generalLedger}"        
                                                                                 requiredMessage="Value is Required" validatorMessage="Insert correct value type"
                                                                                 converter="entConverter" style="width: 100%" required="true"
                                                                                 filterMatchMode="startsWith" filter="true" 
                                                                                 valueChangeListener="#{obRequestController.GLListener}">
                                                                    <f:selectItems id="lstAccountCode" value="#{obRequestController.GLList}"/>  
                                                                    <p:ajax id="glselectone" process="@this" update="drpGL,txtRemark,txtGLTitle"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpGL" display="icon"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="txtGLTitle" class="col-sm-4 control-label">General Ledger Title :</label>  
                                                            <div class="col-sm-6">   
                                                                <p:inputTextarea id="txtGLTitle" class="form-control" value="#{obRequestController.fmsOperatingBudgetDetail.generalLedger.accountTitle}"                                                                             
                                                                                 style="width: 100%" readonly="true">
                                                                </p:inputTextarea>
                                                                <p:message for="txtGLTitle" display="icon"/>                                                                  
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpBgtSrc" class="col-sm-4 control-label" >Budget Source :</label>
                                                            <div class="col-sm-6"> 
                                                                <p:selectOneMenu id="drpBgtSrc" value="#{obRequestController.fmsOperatingBudgetDetail.budgetSource}"
                                                                                 requiredMessage="Value is Required" validatorMessage="Insert correct value type" 
                                                                                 style="width: 100%" valueChangeListener="#{obRequestController.BudgetSourceChange}" required="true">                                                                                     
                                                                    <f:selectItems value="#{obRequestController.budgetSourceList}"> </f:selectItems>
                                                                    <p:ajax  event="change" process="@this"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpBgtSrc" display="icon"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="txtRemark" class="col-sm-4 control-label">Budget Detail :</label>  
                                                            <div class="col-sm-6">   
                                                                <p:inputTextarea id="txtRemark" class="form-control" value="#{obRequestController.fmsOperatingBudgetDetail.budgetDetail}"

                                                                                 style="width: 100%" required="true" requiredMessage="Value is Required">
                                                                </p:inputTextarea>
                                                                <p:message for="txtRemark" display="icon"/>                                                                  
                                                            </div> 
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;" >
                                                            <div class="col-sm-2"></div>
                                                            <div class="col-sm-2">
                                                                <p:commandButton id="btnAdd" value="Add" class="btn  btn-block btn-primary col-lg-4"
                                                                                 action="#{obRequestController.addOBReqDetail1()}"  
                                                                                 process="frmOBDetailReg" update="frmOBDetailReg"/>
                                                            </div>                                                                
                                                        </div>
                                                    </div>

                                                    <div class="form-group required col-sm-12">
                                                        <div class="col-md-12 " style="padding-top: 20px">
                                                            <p:dataTable id="obDetTable" var="obd" value="#{obRequestController.fmsOperatingBudgetDetailmodel}"  
                                                                         rows="10" rowIndexVar="num" paginator="true" paginatorPosition="bottom" rowKey="#{obd.generalLedger}"
                                                                         selectionMode="single" selection="#{obRequestController.operatingBudgetDetailSelection}" >
                                                                <p:ajax event="rowSelect" process="@this" listener="#{obRequestController.detailPopulater}" update="@(form)"     />
                                                                <p:column>
                                                                    <p:rowToggler />
                                                                </p:column>
                                                                <p:column headerText="No.">
                                                                    <h:outputText value="#{num+1}" />
                                                                </p:column>
                                                                <p:column headerText="General Ledger" footerText="Total Requested Amount">
                                                                    <h:outputText value="#{obd.generalLedger.generalLedgerCode}" />
                                                                </p:column>
                                                                <p:column headerText="Requested Amount" footerText="#{obRequestController.getTotalGLReqAmount()}">
                                                                    <h:outputText value="#{obd.requestedAmount}" converter="#{numberConverter.numberConverter}"/>
                                                                </p:column>
                                                                <p:column headerText="Approved Amount">
                                                                    <h:outputText value="#{obd.approvedAmount}" />
                                                                </p:column>
                                                                <p:column headerText="Remaining Amount">
                                                                    <h:outputText value="#{obd.remainingBalance}" />
                                                                </p:column>
                                                                <p:column headerText="Remark">
                                                                    <h:outputText value="#{obd.remark}" />
                                                                </p:column>                                                                    
                                                                <p:column headerText="Budget Detail">
                                                                    <h:outputText value="#{obd.budgetDetail}" />
                                                                </p:column>
                                                                <p:column headerText="Budget Source">
                                                                    <h:outputText value="#{obd.budgetSource}" />
                                                                </p:column>
                                                                <p:rowExpansion>
                                                                    <p:dataTable id="tblOBTasks"
                                                                                 value="#{obRequestController.fmsOperatingBudgetTasksDataModel}" 
                                                                                 var="obtask" editable="true" editMode="cell"  paginator="true" 
                                                                                 paginatorPosition="bottom" rowIndexVar="num" lazy="true" rows="5">
                                                                        <p:column headerText="No.">
                                                                            <h:outputText value="#{num+1}" />
                                                                        </p:column>
                                                                        <p:column headerText="Subsidiary Ledger" footerText="Total Amount">
                                                                            <h:outputText value="#{obtask.slId}" />
                                                                        </p:column>
                                                                        <p:column headerText="Task Description">
                                                                            <h:outputText value="#{obtask.taskName}" />
                                                                        </p:column>
                                                                        <p:column headerText="Alloted Amount" footerText="#{obRequestController.getTotalSLReqAmount()}">
                                                                            <h:outputText value="#{obtask.allotedAmount}" />
                                                                        </p:column>
                                                                        <p:column headerText="Option">
                                                                            <p:commandLink id="btnTskDel" value="Delete" process="tblOBTasks" update="@(form)" 
                                                                                           actionListener="#{obRequestController.removeTask()}" />                                                                            
                                                                        </p:column>
                                                                        <f:facet name="header">
                                                                            <p:commandButton id="btnAddTasks" value="Add Task" style="font-size: 15px; right: 400px; "
                                                                                             onclick="PF('dlgAddTask').show();"/>
                                                                        </f:facet>
                                                                    </p:dataTable>
                                                                </p:rowExpansion>
                                                            </p:dataTable>
                                                        </div>
                                                    </div>
                                                </section>
                                            </section>
                                        </h:panelGroup>
                                    </h:form>
                                    <p:dialog id="dlgTaskFrm" header="Budget Tasks" widgetVar="dlgAddTask" modal="true" 
                                              position="top" resizable="false" width="70%">
                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                <label for="drpSL" class="col-sm-5 control-label">Subsidiary Ledger :</label>  
                                                <div class="col-sm-6">                                             
                                                    <p:selectOneMenu id="drpSubL"  value="#{obRequestController.fmsSubsid1aryLedger.subsidiaryId}"
                                                                     filterMatchMode="contains" filter="true" converter="entConverter"
                                                                     style="width: 100%" valueChangeListener="#{obRequestController.getSubsidiaryLChange}">
                                                        <f:selectItems value="#{obRequestController.findListSubL()}"/>
                                                        <p:ajax event="change" process="@this" update="txtAccTitle,txtSalary" />
                                                    </p:selectOneMenu>
                                                    <p:message for="drpSubL" display="icon"/>
                                                </div>
                                            </div>   
                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" > 
                                                <div class="col-sm-10">                               
                                                    <p:outputLabel id="txtAccTitle" value="Account Title : #{obRequestController.fmsSubsid1aryLedger.accountTitle}"/>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                <label for="txtTaskName" class="col-sm-5 control-label">Task Name :</label>  
                                                <div class="col-sm-6">                                             
                                                    <p:inputText id="txtTaskName" class="form-control" value="#{obRequestController.fmsOperatingBudgetTasks.taskName}"
                                                                 style="width: 100%" >
                                                    </p:inputText>
                                                    <p:message for="txtTaskName" display="icon"/>
                                                </div>
                                            </div>  
                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                <div class="col-sm-6">  
                                                    <p:outputLabel id="txtSalary" value="Employee Salary : #{obRequestController.fmsSubsid1aryLedger.empId.basicSalary}"/>   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                <label for="txtAllotedAmount" class="col-sm-5 control-label">Alloted Amount  :</label>  
                                                <div class="col-sm-6">   
                                                    <p:inputText id="txtAllotedAmount" class="form-control" value="#{obRequestController.fmsOperatingBudgetTasks.allotedAmount}"
                                                                 style="width: 100%" converter="#{numberConverter.numberConverter}">   
                                                        <p:ajax id="txtAllotedAmountAjax" event="blur" process="@this" update="@this"/>
                                                    </p:inputText>
                                                    <p:message for="txtAllotedAmount" display="icon"/>                                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group required col-sm-12 textBoxMargin6px">
                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                <div class="col-sm-5"></div>
                                                <div class="col-sm-4">
                                                    <p:commandButton id="btnSaveTask" value="Save" 
                                                                     class="btn  btn-block btn-primary col-lg-4"
                                                                     action="#{obRequestController.addOBTask()}"  
                                                                     process="dlgTaskFrm" 
                                                                     update="@(form)"/>
                                                </div>
                                            </div>                                            
                                        </div>                                        
                                    </p:dialog>
                                    <div class="form-group required col-sm-12">
                                        <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;" >
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-2">
                                                <p:commandButton id="btnSave" value="#{obRequestController.buttonName}" class="btn  btn-block btn-primary col-lg-4"
                                                                 action="#{obRequestController.saveOBReq()}"  
                                                                 process=":frmCCReg:pnlReg" 
                                                                 update="@(form)"/>                                                                    
                                            </div>                                                                
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

