<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">   
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetCode.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Budget Code</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Operating Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Consolidated Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/OBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  O.B Disbursement</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/CBRequest.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Request</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Approval</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBConsApproval.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Consolidated Approval</a>
        </li>
        <li>
            <a href="../../fcms/Budget/CBDisbursement.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  C.B Disbursement</a>
        </li>        
        <li>
            <a href="../../fcms/Budget/CBTransfer.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Capital Budget Transfer</a>
        </li>       
        <li>
            <a href="../../fcms/Budget/BudgetControl.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Control</a>
        </li>
        <li>
            <a href="../../fcms/Budget/BudgetComparison.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>   Budget Comparison</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:outputLabel id="lblNotf" class="fa fa-fw fa-bell-o" value="#{oBTransferController.requestNotificationCounter}" style="color: red" title="Notification"/>
                    <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="lblNotf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblReqNotf" value="Operating Budget Transfer Requests"/>
                        <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains"                                            
                                            valueChangeListener="#{oBTransferController.ObTransListener}">
                            <f:selectItems id="selectOneMenuAppList" var="obTrnsReqlst"
                                           value="#{oBTransferController.OBTransRequestList}"
                                           itemValue="#{obTrnsReqlst.transferDtlId}" itemLabel="#{obTrnsReqlst.fromObId.OBDetailFk.operatingBudgetId}"/>               
                            <p:ajax event="change" process="@this" update="@(form)"/>                            
                        </p:selectOneListbox>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <p:outputLabel id="lblWorkflow" class="fa fa-wordpress" title="Work Flow"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="lblWorkflow"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">

                                                <p:dataTable id="tblWorkflow" value="#{oBTransferController.wfFcmsProcessedDataModel}"
                                                             var="currentRow" rowIndexVar="num" class="dataTable" rows="5" paginator="true"
                                                              rowKey="#{currentRow}" paginatorPosition="bottom">
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{currentRow.processedBy}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Decision"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.changedDecision}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Request Remark"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.commentGiven}"/> 
                                                    </p:column>
                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Processed Date"/>
                                                        </f:facet>
                                                        <h:outputText value="#{currentRow.processedOn}"/> 
                                                    </p:column> 
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <p:commandButton validateClient="true" action="#{oBTransferController.createNewOBTransferView()}"
                                     icon="#{oBTransferController.icone}"  class="toolBarButton" style="background-color: white; border-color: white"
                                     process="@this" update="@(form)" 
                                     title="#{oBTransferController.createOrSearchBundle}" 
                                     />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/Budget/OBTransfer.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                 
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{oBTransferController.reqheaderTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{oBTransferController.renderPnlCreateAdditional}">
                                    <div class="col-md-12" > 

                                        <h:form id="frmOBSearch"> 
                                            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                            <section class="panel panel-info"  >
                                                <section class="panel-body" >
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpBudgetYrSrc" class="col-sm-4 control-label" >Budget Year :</label>
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="drpBudgetYrSrc"  value="#{oBTransferController.fmsLuBudgetYear.budgetYear}"
                                                                                 style="width: 100%" valueChangeListener="#{oBTransferController.searchYearValueChange}">                                                                                 
                                                                    <f:selectItems value="#{oBTransferController.getLuBudgetYearSearchList()}"/>
                                                                    <p:ajax  event="change" process="@this" update="@this"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="drpSrcSysCode" class="col-sm-4 control-label" >System Code :</label>
                                                            <div class="col-sm-6"> 
                                                                <p:selectOneMenu id="drpSrcSysCode" value="#{oBTransferController.fmsLuSystem.systemCode}"
                                                                                 style="width: 100%" valueChangeListener="#{oBTransferController.SystemSearchChange}"
                                                                                 filter="true" filterMatchMode="startsWith">                                                                                     
                                                                    <f:selectItems value="#{oBTransferController.getSystemSearchList()}"> </f:selectItems>
                                                                    <p:ajax  event="change" process="@this" update="drpCostCenterSrc"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpCostCenterSrc" class="col-sm-4 control-label">Cost Center :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpCostCenterSrc" value="#{oBTransferController.fmsCostCenter.systemName}" 
                                                                                 valueChangeListener="#{oBTransferController.CostCenterChange}"
                                                                                 filter="true" filterMatchMode="startsWith"
                                                                                 style="width: 100%">
                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                    <f:selectItems id="txtitemSelCCCode" value="#{oBTransferController.costCenterList}" />
                                                                    <p:ajax  id="ajxCc" event="change" process="@this" update="drpReqCodeSrc"/>
                                                                </p:selectOneMenu>
                                                            </div>                                                                
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpReqCodeSrc" class="col-sm-4 control-label">Request Code :</label>  
                                                            <div class="col-sm-6">                                             
                                                                <p:selectOneMenu id="drpReqCodeSrc" value="#{oBTransferController.fmsOperatingBudget1.requestCode}"
                                                                                 valueChangeListener="#{oBTransferController.RequestCodeChangeFrom}"
                                                                                 style="width: 100%" required="true" requiredMessage="Value is required.">
                                                                    <f:selectItems id="txtitemSelReqCode" value="#{oBTransferController.OBReqcodes()}"/>
                                                                    <p:ajax  event="change" process="@this" update="drpGLSrcFrom"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpReqCodeSrc" display="icon"/>
                                                            </div>                                                                
                                                        </div>
                                                    </div>
                                                    <div class="form-group required col-sm-12 textBoxMargin6px">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="drpGLSrcFrom" class="col-sm-4 control-label">General Ledger :</label>  
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="drpGLSrcFrom" value="#{oBTransferController.fmsGeneralLedgerSrc.generalLedgerCode}"
                                                                                 valueChangeListener="#{oBTransferController.GeneralLedgerChangeFrom}"
                                                                                 style="width: 100%" required="true" requiredMessage="Value is required.">
                                                                    <f:selectItems id="txtselectOneGL" value="#{oBTransferController.GeneralLedgerFrom()}"/>
                                                                    <p:ajax  event="change" process="@this" update="SLSrcFrom"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="drpGLSrcFrom" display="icon"/>                                                                        
                                                            </div>
                                                        </div>
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                            <label for="SLSrcFrom" class="col-sm-4 control-label">Subsidiary Ledger :</label>  
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="SLSrcFrom" value="#{oBTransferController.fmsOperatingBudgetTasksSrc}" 
                                                                                 valueChangeListener="#{oBTransferController.SubsidiaryLedgerChangeSrc}" 
                                                                                 converter="entConverter" style="width: 100%" required="true" requiredMessage="Value is required.">
                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                    <f:selectItems id="itmSLSrcFrom" value="#{oBTransferController.fmsOperatingBudgetTaskListSrc}"
                                                                                   var="OBTsk" itemLabel="#{OBTsk.slId}" itemValue="#{OBTsk}"/>
                                                                    <p:ajax  event="change" process="@(form)" update="obDetSrchTable"/>
                                                                </p:selectOneMenu>                                                                     
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section> 
                                            </section> 
                                            <div class="col-md-12 " style="padding-top: 20px">                                                
                                                <p:dataTable id="obDetSrchTable" var="obds" value="#{oBTransferController.fmsOperatingBudgetTransfermodel}"                                                             
                                                             selection="#{oBTransferController.obTransferDetailSelection}" selectionMode="single"
                                                             rows="10" rowsPerPageTemplate="5,10,15" rowIndexVar="num" paginator="true" paginatorPosition="bottom" rowKey="#{obds.transferDtlId}">                                                    
                                                    <p:ajax event="rowSelect" process="@this" update="@(form)" listener="#{oBTransferController.searchPopulate}"/>
                                                    <p:column headerText="No." style="width: 60px; background-color: #bce8f1">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>                                                                 
                                                    <p:column headerText="Budget Year" style="width: 110px; background-color: #bce8f1">
                                                        <h:outputText value="#{obds.fromObId.OBDetailFk.operatingBudgetId.budgetYear}" />
                                                    </p:column>                                                    
                                                    <p:column headerText="Request Code" style="background-color: #bce8f1">
                                                        <h:outputText value="#{obds.fromObId.OBDetailFk.operatingBudgetId.requestCode}" />
                                                    </p:column>                                                                   
                                                    <p:column  headerText="Subsidiary Ledger" style="width: 100px; background-color: #bce8f1">
                                                        <h:outputText value="#{obds.fromObId.slId}" />
                                                    </p:column>    
                                                    <p:column headerText="Remaining Balance" style="background-color: #bce8f1">
                                                        <h:outputText value="#{obds.fromObId.remainingAmount}" converter="#{oBTransferController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Budget Year" style="width: 110px; background-color: #faebcc;">
                                                        <h:outputText value="#{obds.toObId.OBDetailFk.operatingBudgetId.budgetYear}" />
                                                    </p:column>                                                    
                                                    <p:column headerText="Request Code" style="background-color: #faebcc">
                                                        <h:outputText value="#{obds.toObId.OBDetailFk.operatingBudgetId.requestCode}" />
                                                    </p:column>                                                                   
                                                    <p:column headerText="Subsidiary Ledger" style="width: 100px; background-color: #faebcc">
                                                        <h:outputText value="#{obds.toObId.slId}" />
                                                    </p:column>    
                                                    <p:column headerText="Remaining Balance" style="background-color: #faebcc">
                                                        <h:outputText value="#{obds.toObId.remainingAmount}" converter="#{oBTransferController.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Transfer Amount" style="background-color: #faebcc">
                                                        <h:outputText value="#{obds.amount}" converter="#{oBTransferController.numberConverter}"/>
                                                    </p:column>
                                                </p:dataTable>                                                
                                            </div>                                            
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmCCReg"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{oBTransferController.renderPnlManPage}">
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                    <div class="active tab-pane" id="tabTransmission">
                                        <section class="panel panel-info"  >
                                            <section class="panel-body" >  
                                                <h:panelGroup id="pnltransm" class="col-sm-12">
                                                    <h:form id="frmOBReg">
                                                        <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                                        <div class="col-sm-6">
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label  class="col-sm-4 control-label">FROM </label>
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpBudgetYr" class="col-sm-4 control-label">Budget Year:</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpBudgetYr"  value="#{oBTransferController.fmsLuBudgetYear.budgetYear}"
                                                                                         style="width: 100%" valueChangeListener="#{oBTransferController.searchYearValueChange}"
                                                                                         disabled="#{oBTransferController.drpDisable}">                                                                                 
                                                                            <f:selectItems value="#{oBTransferController.getLuBudgetYearSearchList()}"/>
                                                                            <p:ajax  event="change" process="@this" update="@this"/>
                                                                        </p:selectOneMenu>
                                                                         <p:message for="drpSysCode" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpSysCode" class="col-sm-4 control-label">System Code:</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpSysCode" value="#{oBTransferController.fmsLuSystem.systemCode}"
                                                                                         style="width: 100%" valueChangeListener="#{oBTransferController.SystemSearchChange}"
                                                                                         filter="true" filterMatchMode="startsWith" disabled="#{oBTransferController.drpDisable}"
                                                                                         required="true" requiredMessage="Value is required">                                                                                     
                                                                            <f:selectItems value="#{oBTransferController.getSystemSearchList()}"> </f:selectItems>
                                                                            <p:ajax  event="change" process="@this" update="drpCostCenter"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpSysCode" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpCostCenter" class="col-sm-4 control-label">Cost Center:</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpCostCenter" value="#{oBTransferController.fmsCostCenter.systemName}" 
                                                                                         valueChangeListener="#{oBTransferController.CostCenterChange}"
                                                                                         filter="true" filterMatchMode="startsWith" required="true" requiredMessage="Value is required"
                                                                                         style="width: 100%" disabled="#{oBTransferController.drpDisable}">
                                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                            <f:selectItems id="txtitemSelCCCodeFrm" value="#{oBTransferController.costCenterList}" />
                                                                            <p:ajax  event="change" process="@this" update="drpReqCodeFrm"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpCostCenter" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpReqCodeFrm" class="col-sm-4 control-label">Request Code:</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:selectOneMenu id="drpReqCodeFrm" value="#{oBTransferController.fmsOperatingBudget1.requestCode}"
                                                                                         valueChangeListener="#{oBTransferController.RequestCodeChangeFrom}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{oBTransferController.drpDisable}">
                                                                            <f:selectItems id="txtitemSelReqCodeFrm" value="#{oBTransferController.OBReqcodes()}"/>
                                                                            <p:ajax  event="change" process="@this" update="drpGLSrcFrm"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpReqCodeFrm" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpGLSrcFrm" class="col-sm-4 control-label">General Ledger:</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpGLSrcFrm" value="#{oBTransferController.fmsGeneralLedgerSrc.generalLedgerCode}"
                                                                                         valueChangeListener="#{oBTransferController.GLChangeFrm}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{oBTransferController.drpDisable}">
                                                                            <f:selectItems id="txtselectOneGL" value="#{oBTransferController.GeneralLedgerFrom()}"/>
                                                                            <p:ajax  event="change" process="@this" update="drpSLSrcFrm"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpGLSrcFrm" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpSLSrcFrm" class="col-sm-4 control-label">Subsidiary Ledger:</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpSLSrcFrm" value="#{oBTransferController.fmsOperatingBudgetTasks}" 
                                                                                         valueChangeListener="#{oBTransferController.SubsidiaryLedgerChangeFrm}" 
                                                                                         converter="entConverter" style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{oBTransferController.drpDisable}">
                                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                            <f:selectItems id="drpselectOneSLFrm" value="#{oBTransferController.fmsOperatingBudgetTaskList}"
                                                                                           var="OBTsk" itemLabel="#{OBTsk.slId}" itemValue="#{OBTsk}"/>
                                                                            <p:ajax  event="change" process="@(form)" update="txtRemainFrm,txtTransferAmt"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpSLSrcFrm" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label for="txtRemainFrm" class="col-sm-4 control-label">Remaining Balance:</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtRemainFrm" class="form-control" value="#{oBTransferController.fmsOperatingBudgetTasks.remainingAmount}"
                                                                                     style="width: 100%" readonly="true" validator="#{validatorManagedBean.Money}"
                                                                                     converter="#{numberConverter.numberConverter}">   
                                                                            <p:ajax id="txtRemainFrmAjax" event="blur" process="@this" update="@this"/>
                                                                        </p:inputText>                                                                
                                                                    </div>  
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="txtTransferAmt" class="col-sm-4 control-label">Transfer Amount:</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtTransferAmt" class="form-control" value="#{oBTransferController.transferAmount}"
                                                                                     readonly="#{oBTransferController.newAmtReadonly}" style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                     converter="#{numberConverter.numberConverter}" validator="#{validatorManagedBean.Money}">
                                                                            <p:ajax id="ajxTransfer" event="blur" process="@this,txtRemainFrm" update="@this,txtReqAmountFrm,txtReqAmountTO" 
                                                                                    listener="#{oBTransferController.transferCalc}"/>
                                                                        </p:inputText>
                                                                        <p:message for="txtTransferAmt" display="icon"/>                                                                  
                                                                    </div> 
                                                                </div>  
                                                            </div>    
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="txtReqAmountFrm" class="col-sm-4 control-label">New Amount From:</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtReqAmountFrm" class="form-control" value="#{oBTransferController.newAmountFrom}"                                               
                                                                                     readonly="true" style="width: 100%"
                                                                                     validator="#{validatorManagedBean.Money}" converter="#{numberConverter.numberConverter}">   
                                                                            <p:ajax id="txtReqAmountFrmAjax" event="blur" process="@this" update="@this"/>
                                                                        </p:inputText>                                                           
                                                                    </div>  
                                                                </div>  
                                                            </div>   
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="decisionRadio" class="col-sm-4 control-label" >Decision:</label>
                                                                    <div class="col-sm-8">
                                                                        <p:selectOneRadio id="decisionRadio" required="true" class="col-sm-6" 
                                                                                          value="#{oBTransferController.decisionType}"
                                                                                           disabled="#{!oBTransferController.drpDisable}">
                                                                            <f:selectItem itemLabel="Reject" itemValue="Reject" />
                                                                            <f:selectItem itemLabel="Approve" itemValue="Approve" />                            
                                                                        </p:selectOneRadio>
                                                                        <p:message for="decisionRadio" display="icon"/>
                                                                    </div>
                                                                </div>                                                            
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label class="col-sm-4 control-label" >Comment:</label>  
                                                                    <div class="col-sm-6">                                             
                                                                        <p:inputTextarea id="txtremark" class="form-control" value="#{oBTransferController.userRemark}"
                                                                                         style="width: 100%"/>
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                            <div class="col-md-8 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">  
                                                                    <div class="col-sm-6"> 

                                                                    </div> 
                                                                    <div class="col-sm-6">  
                                                                        <p:commandButton id="btnAdd" value="Save" class="btn btn-block btn-primary"
                                                                                         action="#{oBTransferController.saveOBTransfer()}"  
                                                                                         process="@(form)" update="@(form),txtremarkDate"/>
                                                                    </div> 
                                                                </div>  
                                                            </div>                                                            
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label  class="col-sm-4 control-label">TO </label>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label class="col-sm-4 control-label">Budget Year:</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpBudgetYrTo"  value="#{oBTransferController.fmsLuBudgetYearTO.budgetYear}"
                                                                                         validatorMessage="Insert correct value type" disabled="#{oBTransferController.drpDisable}"
                                                                                         style="width: 100%" valueChangeListener="#{oBTransferController.yearValueChangeTo}" 
                                                                                         required="true" requiredMessage="Value is required.">                                                                                 
                                                                            <f:selectItems value="#{oBTransferController.getLuBudgetYearList()}"/>
                                                                            <p:ajax  event="change" process="@this" update="@this"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpBudgetYrTo" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpSrcSysCodeTO" class="col-sm-4 control-label" >System Code:</label>
                                                                    <div class="col-sm-6"> 
                                                                        <p:selectOneMenu id="drpSrcSysCodeTO" value="#{oBTransferController.fmsLuSystemTO.systemCode}"
                                                                                         style="width: 100%" valueChangeListener="#{oBTransferController.SystemSearchChangeTO}"
                                                                                         required="true" requiredMessage="Value is required"
                                                                                         filter="true" filterMatchMode="startsWith" disabled="#{oBTransferController.drpDisable}">                                                                                     
                                                                            <f:selectItems value="#{oBTransferController.getSystemSearchList()}"> </f:selectItems>
                                                                            <p:ajax  event="change" process="@this" update="drpCostCenterSrcTO"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpSrcSysCodeTO" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div>  
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="drpCostCenterSrcTO" class="col-sm-4 control-label">Cost Center:</label>  
                                                                    <div class="col-sm-6">                                             
                                                                        <p:selectOneMenu id="drpCostCenterSrcTO" value="#{oBTransferController.fmsCostCenterTO.systemName}" 
                                                                                         valueChangeListener="#{oBTransferController.CostCenterChangeTO}"
                                                                                         filter="true" filterMatchMode="startsWith" disabled="#{oBTransferController.drpDisable}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required.">
                                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                            <f:selectItems id="txtselectOneCostCenterCode" value="#{oBTransferController.costCenterListTo}" />
                                                                            <p:ajax  event="change" process="@this" update="drpReqCodeSrcTO"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpCostCenterSrcTO" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required  form-horizontal">
                                                                    <label for="drpReqCodeSrcTO" class="col-sm-4 control-label">Request Code:</label>  
                                                                    <div class="col-sm-6">                                             
                                                                        <p:selectOneMenu id="drpReqCodeSrcTO" value="#{oBTransferController.fmsOperatingBudget1TO.requestCode}"
                                                                                         valueChangeListener="#{oBTransferController.RequestCodeChangeTO}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{oBTransferController.drpDisable}">
                                                                            <f:selectItems id="txtselectOneReqCode" value="#{oBTransferController.OBReqcodesTO()}" />
                                                                            <p:ajax  event="change" process="@this" update="drpGLSrcTO"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpReqCodeSrcTO" display="icon"/>
                                                                    </div>
                                                                </div>  
                                                            </div> 
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required  form-horizontal">
                                                                    <label for="drpGLSrcTO" class="col-sm-4 control-label">General Ledger:</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpGLSrcTO" value="#{oBTransferController.fmsGeneralLedgerTO.generalLedgerCode}"
                                                                                         valueChangeListener="#{oBTransferController.GeneralLedgerChangeTO}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required."
                                                                                         disabled="#{oBTransferController.drpDisable}">
                                                                            <f:selectItems id="drpselectOneGL" value="#{oBTransferController.GeneralLedgerTO()}"/>
                                                                            <p:ajax  event="change" process="@this" update="drpSLSrcTO"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpGLSrcTO" display="icon"/>                                                                        
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required  form-horizontal">
                                                                    <label for="drpSLSrcTO" class="col-sm-4 control-label">Subsidiary Ledger:</label>  
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="drpSLSrcTO" value="#{oBTransferController.fmsOperatingBudgetTasksTo}" 
                                                                                         valueChangeListener="#{oBTransferController.SubsidiaryLedgerChangeTO}" 
                                                                                         converter="entConverter" disabled="#{oBTransferController.drpDisable}"
                                                                                         style="width: 100%" required="true" requiredMessage="Value is required.">
                                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                            <f:selectItems id="drpselectOneSL" value="#{oBTransferController.fmsOperatingBudgetTaskListTO}"
                                                                                           var="OBTsk" itemLabel="#{OBTsk.slId}" itemValue="#{OBTsk}"/>
                                                                            <p:ajax  event="change" process="@(form)" update="txtRemainTO,txtTransferAmt"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drpSLSrcTO" display="icon"/>                                                                        
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <label for="txtRemainTO" class="col-sm-4 control-label">Remaining Balance:</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtRemainTO" class="form-control" value="#{oBTransferController.fmsOperatingBudgetTasksTo.remainingAmount}"
                                                                                     style="width: 100%" readonly="true" required="true" requiredMessage="Value is required."
                                                                                     validator="#{validatorManagedBean.Money}" converter="#{numberConverter.numberConverter}">   
                                                                            <p:ajax id="txtRemainTOAjax" event="blur" process="@this" update="@this"/>
                                                                        </p:inputText>
                                                                        <p:message for="txtRemainTO" display="icon"/>                                                                  
                                                                    </div>  
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="txtReqAmountTO" class="col-sm-4 control-label">New Amount To:</label>  
                                                                    <div class="col-sm-6">   
                                                                        <p:inputText id="txtReqAmountTO" class="form-control" value="#{oBTransferController.newAmountTO}"
                                                                                     style="width: 100%" readonly="true" required="true" requiredMessage="Value is required."
                                                                                     validator="#{validatorManagedBean.Money}" converter="#{numberConverter.numberConverter}">   
                                                                            <p:ajax id="txtReqAmountTOAjax" event="blur" process="@this" update="@this"/>
                                                                        </p:inputText>
                                                                        <p:message for="txtReqAmountTO" display="icon"/>                                                                  
                                                                    </div>  
                                                                </div>  
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal">
                                                                    <label for="decisionRadio" class="col-sm-4 control-label" >Processed Date:</label>
                                                                    <div class="col-sm-6">                                             
                                                                        <p:inputText id="txtremarkDate" class="form-control" value="#{oBTransferController.userRemarkDate}" 
                                                                                     placeholder="dd/mm/yyyy"
                                                                                     required="true"  requiredMessage="Value is required." validator="#{validatorManagedBean.Date}"
                                                                                     onclick="displayCalendar('frmCCReg:frmOBReg:txtremarkDate', 'frmCCReg:frmOBReg:txtremarkDate');" >
                                                                        </p:inputText>
                                                                        <p:message for="txtremarkDate" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h:form>
                                                </h:panelGroup>
                                            </section>
                                        </section>                                        
                                    </div>
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

