<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:define name="navigaion_content">
        <li><a href="OtRateSetup.xhtml"><i class="fa fa-fw"></i> <span> Overtime Rate</span></a></li>
        <li><a href="OvertimePaymentRequest.xhtml"><i class="fa fa-fw"></i> <span> Overtime Payment Request</span></a></li>
        <li><a href="Overtimepaymentapprove.xhtml"><i class="fa fa-fw"></i> <span>Overtime Payment Approve </span></a></li>

    </ui:define>
    <ui:define name="contents">  
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnNew" validateClient="true" action="#{OtRateController.createNewAdditionalAmount()}" 
                                     icon="#{OtRateController.icone}" style="background-color: white" 
                                     process="@this" update=":frmRequest,:frmSample"
                                     title="#{OtRateController.createOrSearchBundle}"/>
                    <span class="ui-separator">
                    </span>
                    <a href="OtRateSetup.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <p:commandButton id="btnTrash" type="button" style="background-color: white"  title="Delete" icon="ui-icon-trash"/>
                    <p:commandButton id="btnPrint" type="button" style="background-color: white"  title="Print" icon="ui-icon-print"/>
                </f:facet>
            </p:toolbar>           
        </h:form>
        <h:form id="frmRequest">
            <p:growl id="growl2" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{OtRateController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-header with-border">                                
                                <h3 class="box-title">Search <small> Overtime Rate Setup ...</small></h3>
                            </div>
                            <div class="box-body ">
                                <div class="box-body ">   
                                    <div class="col-md-12" >                                        
                                        <div class="col-sm-6" > 
                                            <div class="form-horizontal col-md-12">
                                                <div class="form-group">
                                                    <h:outputLabel for="txtotrate" class="control-label col-sm-4" value="OT Rate Type:"/>  
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtotrate" style="width:100%" value="#{OtRateController.hrOvertimeRate.otTypes}"
                                                                         valueChangeListener="#{OtRateController.findByRateType}">
                                                            <f:selectItem itemLabel="-- Select One --" itemValue=""/>
                                                            <f:selectItem itemLabel="Find All" itemValue="Find All"/>
                                                            <f:selectItems value="#{OtRateController.listofratetype}"/>   
                                                            <p:ajax event="change" process="@this" update="tblrate"/>
                                                        </p:selectOneMenu> 
                                                    </div>   
                                                </div>
                                            </div> 
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>                                    
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{OtRateController.renderPnlManPage}">               
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">                      
                            <div class="box-body ">                                
                                <div class="col-md-12" >  
                                    <div class="col-md-12" style="margn-top: 30px;">
                                        <div class="form-group">
                                            <p:dataTable id="tblrate"   value="#{OtRateController.overtimeDataModel}"
                                                         var="emp" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                         selection="#{OtRateController.selectedRow}" rowKey="#{emp.id}" 
                                                         rows="10" paginator="true" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" process="@this" listener="#{OtRateController.populate}"
                                                        update=":frmRequest,:frmSample" />  
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Rate Type"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.otTypes} "/>
                                                </p:column>   
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Rate Value"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.otRate}" />
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Description"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.description}" />
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup id="pnlMainpage" style="border: 0px; background-color: transparent" rendered="#{OtRateController.renderPnlCreateAdditional}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Overtime Rate <small> Setup page</small></h3>
                            </div> 
                            <div class="box-body">
                                <div class="box-body">
                                    <div class="box-body">
                                        <div class="box-body">
                                            <section class="panel panel-info">
                                                <section class="panel-body">
                                                    <h:panelGroup id="pnlrate">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="box-body">
                                                                    <div class="box-body">
                                                                        <div class="box-body">
                                                                            <div class="box-body">
                                                                                <div class="col-md-6">
                                                                                    <div class="col-md-12">
                                                                                        <div class="form-group required form-horizontal">
                                                                                            <h:outputLabel value="Rate Type:" class="col-md-4 control-label" />
                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                <p:selectOneMenu id="rate12" value="#{OtRateController.hrOvertimeRate.otTypes}" 
                                                                                                                 required="true" class="col-sm-6" requiredMessage="Select Rate Type" style="width: 100%" >
                                                                                                    <f:selectItem itemLabel="--select one--" itemValue=""/>
                                                                                                    <f:selectItem itemLabel="OT Factor A" itemValue="OT Factor A"/>
                                                                                                    <f:selectItem itemLabel="OT Factor B" itemValue="OT Factor B" />
                                                                                                    <f:selectItem itemLabel="OT Factor C" itemValue="OT Factor C"/>
                                                                                                    <f:selectItem itemLabel="OT Factor D" itemValue="OT Factor D"/>
                                                                                                </p:selectOneMenu> 
                                                                                                <p:message for="rate12" display="icon"/>
                                                                                            </div>                                                                                                                               
                                                                                        </div>                                                                                          
                                                                                    </div>
                                                                                    <div class="col-md-12">
                                                                                        <div class="form-group form-group required form-horizontal">
                                                                                            <h:outputLabel value="Rate Value:" class="col-md-4 control-label" />
                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                <p:inputText id="ratevalu" required="true" requiredMessage="please enter rate value" 
                                                                                                             converterMessage="please enter number only"
                                                                                                             onchange="this.value = this.value.trim()" value="#{OtRateController.hrOvertimeRate.otRate}" class="form-control"  >
                                                                                                </p:inputText>
                                                                                                <p:message for="ratevalu" display="icon"/>
                                                                                            </div>                                                                                                                               
                                                                                        </div>                                                                                          
                                                                                    </div>
                                                                                    <div class="col-md-12">
                                                                                        <div class="form-group  form-horizontal">
                                                                                            <h:outputLabel value="Maximum Hour:" class="col-md-4 control-label" />
                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                <p:inputText id="txtworkingHour"  
                                                                                                             converterMessage="please enter number only"
                                                                                                             value="#{OtRateController.hrOvertimeRate.maximumWorkingHour}" class="form-control"  >
                                                                                                </p:inputText>
                                                                                                <p:message for="txtworkingHour" display="icon"/>
                                                                                            </div>                                                                                                                               
                                                                                        </div>                                                                                          
                                                                                    </div>
                                                                                    <div class="col-md-12">
                                                                                        <div class="form-group form-horizontal">
                                                                                            <h:outputLabel value="Description:" class="col-md-4 control-label" />
                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                <p:inputText id="desc" validator="#{validatorManagedBean.Remark}" 
                                                                                                             value="#{OtRateController.hrOvertimeRate.description}" class="form-control"   >
                                                                                                </p:inputText> 
                                                                                            </div>                                                                                                                               
                                                                                        </div>                                                                                          
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </h:panelGroup>
                                                </section> 
                                            </section>
                                            <h:panelGroup id="pnl56" class="col-sm-12">
                                                <div class="panel-body col-sm-12">
                                                    <div class="form-group col-sm-12">
                                                        <div class="col-sm-6">
                                                            <div class="col-sm-12 form-horizontal">
                                                                <div class="col-sm-4">                                                              
                                                                </div>                                                                    
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnSave1" class="btn  btn-block btn-primary col-lg-4" 
                                                                                     value="#{OtRateController.saveOrUpdateButton}"
                                                                                     action="#{OtRateController.saveOvertimeRate()}"
                                                                                     process="@this,:frmRequest"
                                                                                     update=":frmRequest" /> 
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-lg-4"  
                                                                                     action="#{OtRateController.resetOvertimeRate()}"
                                                                                     process="@this" 
                                                                                     update="@this,:frmRequest"  />     
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup> 
                                        </div>
                                    </div>
                                </div>   
                            </div>
                            <div class="box-footer ">
                            </div>
                        </div>                   
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
