<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">  
    <header class="main-header"> 
        <!-- Logo -->
        <a  class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->

            <span class="logo-mini"><img src="/EEP_ERP-war/resources/image/erplogo.png"  width="100" height="50" alt="erpMiniLogo" /></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg pull-left"><img src="/EEP_ERP-war/resources/image/erplogo.png"  width="150" height="50" alt="erpLogo" /></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top " role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class=" pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ERP Modules <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li> <a href="#{request.contextPath}/erp/hrms/hrmsDashboard.xhtml">HRMS </a></li>
                            <li> <a href="#{request.contextPath}/erp/fcms/fcmsDashBoardnew.xhtml">FCMS</a></li>
                            <li> <a href="#{request.contextPath}/erp/mms/MmsNewDashBoard.xhtml">MMS</a></li>
                            <li> <a href="#{request.contextPath}/erp/prms/prmsDashboardNew.xhtml">PRMS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-language"></i>
                            </a>-->
                        <!--<span class="label label-success">4</span>-->

                        <ul class="dropdown-menu">              
                            <!-- Menu Footer-->
                            <!-- <li  class="user-footer">
                                 <h:form >    
                                     <li>
                                         <div class="form-group" >
                                             <p:spacer width="20" height="0"/>
                                             <div class="col-sm-4"> 
                                                 <h:commandLink id="cmdLnkEn" value="English"  actionListener="{localbean.changeLanguage('en')}" immediate="true"/>
                                             </div>
                                         </div>
                                     </li>
 
                                     <li>  
                                         <div class="form-group" >
                                             <p:spacer width="20" height="0"/>
                                             <div class="col-sm-4"> 
                                                 <h:commandLink id="cmdLnkAm" value="????"  actionListener="{localbean.changeLanguage('ET')}" immediate="true"/>
                                             </div>
                                         </div>
                                     </li>
 
                                 </h:form>
                             </li> --> 
                        </ul>
                    </li>
                    <li class="dropdown messages-menu">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <!--<span class="label label-success">4</span>-->
                        </a>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <!--<span class="label label-warning">10</span>-->
                        </a>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span class="hidden-xs"><i class="icon-bar"></i></span>
                        </a>
                        <ul class="dropdown-menu">                       
                            <!-- Menu Footer-->
                            <li  class="user-footer">
                                <h:form >    
                                    <li>
                                        <div class="form-group" >
                                            <p:spacer width="20" height="5"/>
                                            <div class="col-sm-4"> 
                                                <h:commandLink action="#{headerBack.cmdLkLogOut_action}" id="cmdLkLogOut"  disabled="#{headerBack.logoutStatus}"   value="#{ambundle.Logout}"
                                                               class="fa fa-sign-out" />
                                            </div>
                                        </div>
                                    </li>

                                    <li>  
                                        <div class="form-group" >
                                            <p:spacer width="20" height="5"/>
                                            <div class="col-sm-4"> 
                                                <h:commandLink id="cmdLnkChangePassword" action="#{headerBack.toChangePassword()}" value="#{ambundle.changepass}"
                                                               class="fa fa-lock">
                                                </h:commandLink> 
                                            </div>
                                        </div>
                                    </li>

                                    <li> 
                                        <div class="form-group">
                                            <p:spacer width="20" height="0"/>
                                            <div class="col-sm-6"> 
                                                <a href="#"> <i class="fa fa-question-circle"></i>Help</a>
                                            </div>
                                        </div>
                                    </li>
                                </h:form>
                            </li>    
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
