<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets">

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- Sidebar user panel -->
        <!--sidebar: style can be found in sidebar.less--> 
        <section class="sidebar">
            <!--Sidebar user panel--> 
            <div class="user-panel">
                <div class="pull-left image">                 
                    <img src="/EEP_ERP-war/resources/image/profilePic.jpg" class="img-circle" alt="User Image" />                         
                </div>
                <div class="pull-left info">
                    <p>#{sessionBean.userName}</p>
                    <a href="#">
                        <i class="fa fa-circle text-success"></i>#{sessionBean.loggerLine}
                    </a>
                </div>
            </div>
            <!-- search form -->
          
           

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <ui:insert name="navigaion_content">  </ui:insert> 
                
             
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>



</div>

