<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/bank/BankRegister.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i> Bank Register</a>
        </li>                                          
        <li>
            <a href="../../fcms/bank/BankAccountRegister2.xhtml"><i class="fa fa-fw fa-cc-amex"></i>  Bank Account Register</a>
        </li>                                      
        <li>
            <a href="../../fcms/bank/BankCashDeposit.xhtml"><i class="fa fa-fw fa-money"></i>  Bank Cash Deposit</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankChequeDeposit.xhtml"><i class="fa fa-fw fa-cc-mastercard"></i>  Bank Cheque Deposit</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankCreditAdvice.xhtml"><i class="fa fa-fw fa-credit-card"></i>  Bank Credit Advice</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankDebitAdvice.xhtml"><i class="fa fa-fw fa-cc-discover"></i>  Bank Debit Advice</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <a href="../../fcms/bank/BankReconciliation.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>

        <!-- Search Bank Reconciliation-->


        <!-- Bank Reconciliation set up-->
        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI">
                <div class="box box-primary collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Adjust Error</h3>
                        <!--collapse-->
                        <div class="pull-right box-tools">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Adjust"><i class="fa fa-adjust"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup  id="pnlAccDetail" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="caldate" pattern="yyyy/MM/dd"  placeholder="dd/mm/yyyy" value="#{bankRecon.bankBookError.dateval}" required="true" 
                                                                    requiredMessage="Date is requried please select one" tabindex="4" converterMessage="Value must be a Date"> 
                                                        </p:calendar>
                                                        <p:message for="caldate" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Amount:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtAmount" value="#{bankRecon.bankBookError.amount}" class="form-control" required="true" requiredMessage="Value is required"
                                                                     label="Amount" validator="#{validatorManagedBean.Money}" converterMessage="Vaue must be a number"
                                                                     />
                                                        <p:message for="txtAmount" display="icon" /> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="buttonaddDtl1" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton  id="btnAddBookData1" value="Save" class="btn btn-primary" validateClient="true" 
                                                                          action="#{bankRecon.saveBookandBankError()}" process="@this,pnlAccDetail"
                                                                          update=":frmRegisterUI:pnlAccDetail,:frmRegisterUI:txtBankError,:frmRegisterUI:txtBookError,:frmRegisterUI:txtStatmentEndingBalance"
                                                                          />            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Error Type:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="consoleBankbook" value="#{bankRecon.bankBookError.type}" required="true" 
                                                                         requiredMessage="Error Type is required please select one" label="Choose Error Type" style="width: 100%" >
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                            <f:selectItem itemLabel="Bank Error" itemValue="0" />
                                                            <f:selectItem itemLabel="Book Error" itemValue="1" />
                                                            <f:selectItem itemLabel="Bank Statement" itemValue="2" />
                                                        </p:selectOneMenu>
                                                        <p:message for="consoleBankbook" display="icon"  /> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Description:"/>
                                                    <div class="col-sm-8">
                                                        <p:column headerText="Description">
                                                            <h:inputTextarea id="txtDescription" value="#{bankRecon.bankBookError.discription}" required="true" requiredMessage="Value is required please enter the Description"
                                                                             class="form-control" validator="#{validatorManagedBean.Text}" converterMessage="Value must be in Text form" style="width: 100%" > 
                                                            </h:inputTextarea>                                               
                                                            <p:message for="txtDescription" display="icon"  /> 
                                                        </p:column> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup id="pnlAccountDetialInfo" class="col-sm-12">
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group">  
                                            <p:dataTable id="bookError" var="bankbookerror" value="#{bankRecon.bankBookErrorModel}" 
                                                         rows="10"
                                                         paginator="true"
                                                         paginatorPosition="bottom"
                                                         rowsPerPageTemplate="5,10,15"
                                                         resizableColumns="true"
                                                         rowKey="#{bankbookerror.id}"
                                                         selection="#{bankRecon.bankBookErroredit}" selectionMode="single" >
                                                <p:ajax event="rowSelect" listener="#{bankRecon.onRowBookErrorTable}" update="@this"/>
                                                <p:column headerText="Date">
                                                    <h:outputText value="#{bankbookerror.dates}" ><f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText> 
                                                </p:column>
                                                <p:column headerText="Amount">
                                                    <h:outputText value="#{bankbookerror.amount}" />
                                                </p:column>
                                                <p:column headerText="Error Type">
                                                    <h:outputText value="#{bankbookerror.type}" />
                                                </p:column>
                                                <p:column headerText="Description">
                                                    <h:outputText value="#{bankbookerror.discription}" />
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bank Reconciliation</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlGrpBankRegister" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Account Number:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu  id="selectbankRecontype" valueChangeListener="#{bankRecon.changeInReconcilationList}" required="true" 
                                                                          requiredMessage=" Account No. is required please select one" style="width: 100%">  
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                            <f:selectItems  id="selectbankReconList" value="#{bankRecon.bankReconcilationList}" var="varbank" itemLabel="#{bankRecon.returnGlWithSubCode(varbank)}" itemValue="#{varbank}"/>                       
                                                            <p:ajax  event="change"/> 
                                                        </p:selectOneMenu>  
                                                        <p:message for="selectbankRecontype" display="icon"/>  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Statement Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="calYear" pattern="yyyy/MM/dd" placeholder="dd/mm/yyyy" mask="true" required="true" requiredMessage="Statment Date is required please select one" 
                                                                    converterMessage="Value must be in Date format" label="Statement Date">                               
                                                            <p:ajax  event="dateSelect" listener="#{bankRecon.changeInReconcilation}" 
                                                                     update="tblFmsAccountUse,tblCashReceipt,outst,txtBookGLBalance"/> 
                                                        </p:calendar>  
                                                        <p:message for="calYear" display="icon" /> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Withdrawals</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlMain1" class="col-sm-12">
                                    <p:dataTable id="tblFmsAccountUse" rowIndexVar="num" value="#{bankRecon.withdrawalsModel}" styleClass="table-no-select-all"
                                                 var="withdrawals" selection="#{bankRecon.selectedWithdrawals}" 
                                                 rows="10"
                                                 paginator="true"
                                                 paginatorPosition="bottom"
                                                 rowsPerPageTemplate="5,10,15"
                                                 resizableColumns="true"
                                                 rowKey="#{withdrawals.codedTransactonId}" rowSelectMode="multiple"> 
                                        <p:ajax event="rowSelectCheckbox" listener="#{bankRecon.onRowSelectChecqPayment}" update=":frmRegisterUI:outst" process="@this" />                      
                                        <p:ajax event="rowUnselectCheckbox" listener="#{bankRecon.onRowUnselectChecqPayment}" update=":frmRegisterUI:outst" process="@this"/>
                                        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                        <p:column headerText="Date" width="90">
                                            <h:outputText value="#{withdrawals.type}"> <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                        </p:column>                    
                                        <p:column headerText="Reference" width="160">
                                            <h:outputText value="#{withdrawals.tranRef}"/>
                                        </p:column>
                                        <p:column headerText="Amount" width="150">
                                            <h:outputText value="#{withdrawals.debit}" converter="#{bankRecon.numberConverter}"/>
                                        </p:column>
                                    </p:dataTable> 
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="col-md-12 textBoxMargin6px">
                                            <div class="form-group form-horizontal">
                                                <p:outputLabel class="control-label col-sm-4"  value="Service Charge:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtServiceCharge" value="#{bankRecon.serviceCharge}" converter="#{bankRecon.numberConverter}" class="form-control" required="true" label="Service Charge"/>
                                                    <p:message for="txtServiceCharge" display="icon" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Deposits</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlCashReceipt" class="col-sm-12">
                                    <p:dataTable id="tblCashReceipt" value="#{bankRecon.depositsModel}" styleClass="table-no-select-all" 
                                                 rowIndexVar="num" var="deposits" selection="#{bankRecon.selectedDeposits}" 
                                                 rows="10"
                                                 paginator="true"
                                                 paginatorPosition="bottom"
                                                 rowsPerPageTemplate="5,10,15"
                                                 resizableColumns="true"
                                                 rowKey="#{deposits.codedTransactonId}" rowSelectMode="multiple"> 
                                        <p:ajax event="rowSelectCheckbox"  listener="#{bankRecon.onRowSelectCashReceiptVoucher}" update=":frmRegisterUI:outst"  process="@this" />                      
                                        <p:ajax event="rowUnselectCheckbox"   listener="#{bankRecon.onRowUnselectCashReceiptVoucher}"  update=":frmRegisterUI:outst"    process="@this"   />
                                        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                        <p:column headerText="Date" width="100">
                                            <h:outputText value="#{deposits.type}"> <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                        </p:column>                    
                                        <p:column headerText="Reference" width="160">
                                            <h:outputText value="#{deposits.tranRef}"/>
                                        </p:column>
                                        <p:column headerText="Amount" width="150">
                                            <h:outputText value="#{deposits.credit}" converter="#{bankRecon.numberConverter}"/>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Balance Adjustments</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >
                                <h:panelGroup id="outst" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="Interest Income:"/>
                                                    <div class="col-sm-4">
                                                        <p:inputText id="txtInterest" value="#{bankRecon.interestIncome}" converter="#{bankRecon.numberConverter}" class="form-control" required="true"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="-Outstanding Cheques:"/>
                                                    <div class="col-sm-4">
                                                        <h:outputText id="txtOutstandingCheques" value="#{bankRecon.chequeOutAmount}" converter="#{bankRecon.numberConverter}" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="Bank Error:"/>
                                                    <div class="col-sm-4">
                                                        <h:outputText id="txtBankError" value="#{bankRecon.bankErrorAmounts}" converter="#{bankRecon.numberConverter}" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="Book Error:"/>
                                                    <div class="col-sm-4">
                                                        <h:outputText id="txtBookError" value="#{bankRecon.bookErrorAmounts}" converter="#{bankRecon.numberConverter}" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="Book(GL) Balance:"/>
                                                    <div class="col-sm-4">
                                                        <h:outputText id="txtBookGLBalance" value="#{bankRecon.genLedAmount}" converter="#{bankRecon.numberConverter}" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblBtnAdjust" class="control-label col-sm-8"/>
                                                    <div class="col-sm-4">
                                                        <p:commandButton id="btnSaveRecon" class="btn btn-primary" value="Adjust"   
                                                                         update=":frmRegisterUI" process="@this,:frmRegisterUI:outst"
                                                                         action="#{bankRecon.adjust()}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--2nd column-->
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="Statment Ending Balance:"/>
                                                    <div class="col-sm-4">
                                                        <p:inputText id="txtStatmentEndingBalance" value="#{bankRecon.statementEnding}" converter="#{bankRecon.numberConverter}" class="form-control" autocomplete="off" readonly="true"/> 
                                                        <p:message for="txtStatmentEndingBalance" display="icon" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="+ Deposit in Transit:"/>
                                                    <div class="col-sm-4">
                                                        <h:outputText id="txtDepositinTransit" value="#{bankRecon.depositOutAmount}" converter="#{bankRecon.numberConverter}" class="form-control"/> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="Adjusted Book Balance:"/>
                                                    <div class="col-sm-4">
                                                        <h:outputText id="txtAdjustedBookBalance" value="#{bankRecon.adjustedBookBalance}" converter="#{bankRecon.numberConverter}" class="form-control"/> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="Adjusted Bank Balance:"/>
                                                    <div class="col-sm-4">
                                                        <h:outputText id="txtAdjustedBankBalance" value="#{bankRecon.adjustedbankbalance}" converter="#{bankRecon.numberConverter}" class="form-control"/> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-8"  value="Unreconciled Balance:"/>
                                                    <div class="col-sm-4">
                                                        <h:outputText id="txtUnreconciledBalance" value="#{bankRecon.unreconciledBalance}" converter="#{bankRecon.numberConverter}" class="form-control"/> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblBtnSave" class="control-label col-sm-8"/>
                                                    <div class="col-sm-4">
                                                        <p:commandButton id="btnSave1" class="btn btn-primary" value="Reconcile" process="@this,:frmRegisterUI:outst"
                                                                         update=":frmRegisterUI" rendered="#{bankRecon.btnSaveRender}"     
                                                                         action="#{bankRecon.saveBankReconciliationStatus}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
