<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/bank/BankRegister.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Bank Register</a>
        </li>                                          
        <li>
            <a href="../../fcms/bank/BankAccountRegister2.xhtml"><i class="fa fa-fw fa-cc-amex"></i>  Bank Account Register</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankCashDeposit.xhtml"><i class="fa fa-fw fa-money"></i>  Bank Cash Deposit</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankChequeDeposit.xhtml"><i class="fa fa-fw fa-cc-mastercard"></i>  Bank Cheque Deposit</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankCreditAdvice.xhtml"><i class="fa fa-fw fa-credit-card"></i>  Bank Credit Advice</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankReconciliation.xhtml"><i class="fa fa-fw fa-adjust"></i>  Bank Reconciliation</a>
        </li>
    </ui:define>
    <ui:define name="search"> 
        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><p:outputLabel value="Search "/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" /> </li>  
                </ul>
            </div>
        </h:form>
        <!-- /.search form -->
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnIcone" action="#{bankDebitAdviceController.createNewDebit()}" 
                                     icon="#{bankDebitAdviceController.icone}" validateClient="true" style="background-color: white; border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{bankDebitAdviceController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="../../fcms/bank/BankDebitAdvice.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>

        <!-- Search -->
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{bankDebitAdviceController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Debit Advice ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlSearchDebit" class="col-sm-12"> 
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Account Number:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selAcctNo2" value="#{bankDebitAdviceController.fmsBankDebitAdvice.accountNumber}" 
                                                                         converter="entConverter" filterMatchMode="contains" filter="true" style="width: 100%"> 
                                                            <f:selectItem itemLabel="--- Select Account Number ---" itemValue="" />
                                                            <f:selectItems value="#{bankDebitAdviceController.bankAccountNo}" 
                                                                           var="acctList2" itemLabel="#{acctList2.accountNumber}" 
                                                                           itemValue="#{acctList2.accountNumber}"/>
                                                            <p:ajax event="change" 
                                                                    process="@this" 
                                                                    update="@this,selDebitDate2,selTransaction2" 
                                                                    listener="#{bankDebitAdviceController.getDateFromCreditAdvice(event)}"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel value="Date:" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu  id="selDebitDate2" value="#{bankDebitAdviceController.fmsBankDebitAdvice.debitedDate}"
                                                                          converter="entConverter" filterMatchMode="contains" filter="true" style="width: 100%">

                                                            <f:selectItem itemLabel="--- Select Date ---" itemValue="" />
                                                            <f:selectItems value="#{bankDebitAdviceController.dates}" 
                                                                           var="debitDateList" itemLabel="#{debitDateList.debitedDate}" 
                                                                           itemValue="#{debitDateList.debitedDate}"/>
                                                            <p:ajax event="change"  process="@this" update="@this,selTransaction2" 
                                                                    listener="#{bankDebitAdviceController.getTransactionFromCreditAdvice(event)}"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel value="Transaction Reference Number:" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selTransaction2" value="#{bankDebitAdviceController.fmsBankDebitAdvice.tranRef}" 
                                                                         converter="entConverter" filterMatchMode="contains" filter="true" style="width: 100%"> 
                                                            <f:selectItem itemLabel="--- Select Transaction ---" itemValue="" />
                                                            <f:selectItems value="#{bankDebitAdviceController.transactionList}" 
                                                                           var="tranList2" itemLabel="#{tranList2.tranRef}" 
                                                                           itemValue="#{tranList2.tranRef}"/>
                                                            <p:ajax event="change" process="@this" update="@this" 
                                                                    listener="#{bankDebitAdviceController.getAllDataFromCashDeposti(event)}"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="FindInfo" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnSearch" class="btn btn-primary" action="#{bankDebitAdviceController.searchDebit}" icon="ui-icon-search" 
                                                                         process="@this,pnlSearchDebit" update=":frmMainUI:pnlSearchDebit"
                                                                         value="Find" />          
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--serch debit data table-->
                                    <p:dataTable id="tblDebitDetail" value="#{bankDebitAdviceController.debitDataModel}"
                                                 rows="10"
                                                 paginator="true"
                                                 paginatorPosition="bottom"
                                                 rowsPerPageTemplate="5,10,15"
                                                 rowIndexVar="num" selectionMode="single"
                                                 var="debitInfo" selection="#{bankDebitAdviceController.selectedFmsDebitAdvice}" rowKey="#{debitInfo.debitAdviceId}">
                                        <p:ajax event="rowSelect" listener="#{bankDebitAdviceController.populate}" update=":frmRegisterUI,:frmMainUI,:frmToolbar"/>
                                        <p:column headerText="No." width="60">
                                            <h:outputText value="#{num+1}"/>
                                        </p:column> 
                                        <p:column headerText="Bank Name" width="220">
                                            <h:outputText value="#{debitInfo.bankId.bankName}" /> 
                                        </p:column>
                                        <p:column headerText="Branch Name">
                                            <h:outputText value="#{debitInfo.branchName}" /> 
                                        </p:column>
                                        <p:column headerText="Account Number">
                                            <h:outputText value="#{debitInfo.accountNumber}" /> 
                                        </p:column>
                                        <p:column headerText="Amount">
                                            <h:outputText value="#{debitInfo.amount}" converter="#{bankChequeDepositController.numberConverter}"/> 
                                        </p:column>
                                        <p:column headerText="Debit Account Code">
                                            <h:outputText value="#{debitInfo.subsidiaryId}" /> 
                                        </p:column>
                                        <p:column headerText="Transaction Reference">
                                            <h:outputText value="#{debitInfo.tranRef}" /> 
                                        </p:column>
                                        <p:column headerText="Date">
                                            <h:outputText value="#{debitInfo.debitedDate}"> <f:convertDateTime  pattern="dd/MM/yyyy" /> </h:outputText> 
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>

        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" 
                          rendered="#{bankDebitAdviceController.renderPnlCreateDebit}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bank Debit Advice</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >
                                <h:panelGroup id="pnlDebit" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Bank Name:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtBankName2" value="#{bankDebitAdviceController.fmsBankAccount.bankId}" required="true"
                                                                         requiredMessage="value is required please select one" converter="entConverter" filterMatchMode="contains" filter="true" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select Bank ---" itemValue="" />
                                                            <f:selectItems value="#{bankDebitAdviceController.bankNameList}" 
                                                                           var="bankNamelist2" 
                                                                           itemLabel="#{bankNamelist2.bankName}" 
                                                                           itemValue="#{bankNamelist2}"/>
                                                            <p:ajax event="change" 
                                                                    process="@this" 
                                                                    update="@this,txtBranchName2,txtAccountNumber2" 
                                                                    listener="#{bankDebitAdviceController.getBankBranchFromBankAccount(event)}"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="txtBankName2" display="icon"/>
                                                    </div>  
                                                </div>  
                                            </div>  
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Branch Name:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtBranchName2" value="#{bankDebitAdviceController.fmsBankAccount.bankAccountId}" required="true"
                                                                         requiredMessage="value is required please select one" filterMatchMode="contains" filter="true" style="width: 100%">                                                    
                                                            <f:selectItem itemLabel="--- Select Branch ---" itemValue="" />
                                                            <f:selectItems value="#{bankDebitAdviceController.branchNames}" 
                                                                           var="branchList2" 
                                                                           itemLabel="#{branchList2.branchName}" 
                                                                           itemValue="#{branchList2.bankAccountId}"/>                                                   
                                                            <p:ajax event="change" 
                                                                    process="@this" 
                                                                    update="@this,txtAccountNumber2" 
                                                                    listener="#{bankDebitAdviceController.getAccountNumberFromBranchAccounts(event)}"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="txtBranchName2" display="icon"/> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Account Number:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtAccountNumber2" value="#{bankDebitAdviceController.fmsBankBranchAccounts.accountNumber}"
                                                                         required="true" requiredMessage="value is required please select one" filterMatchMode="contains" filter="true" style="width: 100%"> 
                                                            <f:selectItem itemLabel="--- Select account Number ---" itemValue="" />
                                                            <f:selectItems  value="#{bankDebitAdviceController.accountNumbers}"
                                                                            var="AcctNoList" itemLabel="#{AcctNoList.accountNumber}" 
                                                                            itemValue="#{AcctNoList.accountNumber}"/>
                                                            <p:ajax event="change"  process="@this" update="@this, txtDebitCode2" 
                                                                    listener="#{bankDebitAdviceController.getBalance(event)}"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="txtAccountNumber2" display="icon"/>
                                                    </div>  
                                                </div>  
                                            </div>  
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Credit account code:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText   id="txtDebitCode2" value="#{bankDebitAdviceController.fmsBankBranchAccounts.subsidiaryId.subsidiaryCode}" class="form-control" readonly="true" />
                                                    </div>  
                                                </div>  
                                            </div>  
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Transaction Reference:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtTranRef2" value="#{bankDebitAdviceController.fmsBankDebitAdvice.tranRef}" 
                                                                     title="Enter Transaction Reference Number" required="true" requiredMessage="value is required please enter Transaction Ref" 
                                                                     class="form-control" placeholder="example: FT1612483JGR" />
                                                        <p:message for="txtTranRef2" display="icon"/>
                                                    </div>  
                                                </div>  
                                            </div> 
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="FindInfo" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnSaveDebit" class="btn btn-primary"  validateClient="true" 
                                                                         process="@this,:frmRegisterUI:pnlDebit" update="@this,:frmRegisterUI:pnlDebit" action="#{bankDebitAdviceController.saveDebitAdvice()}"
                                                                         value="#{bankDebitAdviceController.saveorUpdateBundle}"/>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Amount:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtAmount1" value="#{bankDebitAdviceController.fmsBankDebitAdvice.amount}"
                                                                     class="form-control" converter="#{bankDebitAdviceController.numberConverter}" title="Enter Debit Amount in Birr" 
                                                                     required="true" requiredMessage="value is required please select one" converterMessage="Value must be a number"/>
                                                        <p:message for="txtAmount1" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Debit account code:"/>
                                                    <div class="col-sm-6">
                                                        <p:inputText   id="txtCreditCode2" class="form-control" required="true" 
                                                                       placeholder="Use Only From + Button" onmousedown="return false;" requiredMessage="Debit account code is Requires" 
                                                                       value="#{bankDebitAdviceController.fmsBankDebitAdvice.display_conn}" />
                                                        <p:message for="txtCreditCode2" display="icon"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <p:commandButton id="btnAddCreditCode" partialSubmit="true" class="btn btn-primary" value="+" onclick="PF('dig1').show();" title="Add Credit Account Code"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="txtDate2" value="#{bankDebitAdviceController.fmsBankDebitAdvice.debitedDate}" pattern="dd/MM/yyyy" placeholder="dd/mm/yyyy"
                                                                    required="true" requiredMessage="Date is required please select one" tabindex="4" converterMessage="Value must be a Date">
                                                        </p:calendar>
                                                        <p:message for="txtDate2" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Reason:"/>
                                                    <div class="col-sm-8">
                                                        <h:inputTextarea id="txtAreaReason2" value="#{bankDebitAdviceController.fmsBankDebitAdvice.reason}" 
                                                                         class="form-control" style="width: 100%" validator="#{validatorManagedBean.Text}" converterMessage="Value must be in text form" > 
                                                        </h:inputTextarea>  
                                                        <p:message for="txtAreaReason2" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                <p:dialog id="dig1" header="Debit Account Code"  widgetVar="dig1" height="210" width="650" showEffect="explode" resizable="false">
                                    <h:panelGroup id="pnlCreditcode" class="col-sm-12">
                                        <div class="col-md-12 textBoxMargin6px">                                                                
                                            <div class="form-group required form-horizontal">
                                                <h:outputLabel  for="sysSearch" class="control-label col-sm-4" value="System:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="sysSearch" value="#{bankDebitAdviceController.fmsLuSystem}"
                                                                     filterMatchMode="contains" filter="true" converter="entConverter"
                                                                     valueChangeListener="#{bankDebitAdviceController.onChangeSystem}" required="true" 
                                                                     requiredMessage="System is required please select one" style="width: 100%">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                        <f:selectItems value="#{bankDebitAdviceController.systemList}" var="sys" itemLabel="#{sys.systemCode}" itemValue="#{sys}" />
                                                        <p:ajax event="change" process="@this" update="drdCostCenter,pnljob,glSearch"/>
                                                    </p:selectOneMenu> 
                                                    <p:message for="sysSearch" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 textBoxMargin6px">                                                                
                                            <div class="form-group required form-horizontal">
                                                <h:outputLabel  for="drdCostCenter"  class="control-label col-sm-4" value="Cost Center"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="drdCostCenter" value="#{bankDebitAdviceController.fmsCostcSystemJunction}" 
                                                                     converter="entConverter"  filterMatchMode="contains" filter="true" required="true" requiredMessage="Cost Center is required please select one"
                                                                     valueChangeListener="#{bankDebitAdviceController.onChangeCostCenter}" style="width: 100%">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                        <f:selectItems value="#{bankDebitAdviceController.ssCcJunctionList}" var="costC"
                                                                       itemLabel="#{costC.fmsCostCenter.systemName} " itemValue="#{costC}"/>
                                                        <p:ajax event="change" process="@this" />
                                                    </p:selectOneMenu>
                                                    <p:message for="drdCostCenter" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 textBoxMargin6px">                                                                
                                            <div class="form-group required form-horizontal">
                                                <h:outputLabel  for="glSearch" class="control-label col-sm-4" value="General Ledger:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="glSearch" value="#{bankDebitAdviceController.fmsGeneralLedger}"
                                                                     converter="entConverter" filterMatchMode="contains" filter="true" 
                                                                     valueChangeListener="#{bankDebitAdviceController.onChangeGeneralLedger}"  
                                                                     required="true" requiredMessage="Value is required: Select General Ledger" style="width: 100%">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                        <f:selectItems value="#{bankDebitAdviceController.glList}" var="glVarr"
                                                                       itemLabel="#{glVarr.generalLedgerCode}" itemValue="#{glVarr}"/>
                                                        <p:ajax event="change" process="@this" update="selectSubL" />
                                                    </p:selectOneMenu>   
                                                    <p:message for="glSearch" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <h:panelGroup id="pnljob">
                                            <h:panelGroup id="pnlJOBNO" rendered="#{bankDebitAdviceController.renderJobNo}">
                                                <div class="col-md-12 textBoxMargin6px">                                                                
                                                    <div class="form-group required form-horizontal">
                                                        <h:outputLabel  for="jbSearch" class="control-label col-sm-4" value="Job Number:"/>
                                                        <div class="col-sm-8">
                                                            <p:selectOneMenu id="jbSearch"  value="#{bankDebitAdviceController.fmsSystemJobJunction}" 
                                                                             converter="entConverter" filterMatchMode="contains" filter="true" 
                                                                             valueChangeListener="#{bankDebitAdviceController.onChangeJobNo}" 
                                                                             required="true" requiredMessage="Value is required: Select General Ledger" style="width: 100%" >
                                                                <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                                <f:selectItems value="#{bankDebitAdviceController.sysJobNOList}" var="sysJobVar"
                                                                               itemLabel="#{sysJobVar.jobNo}" itemValue="#{sysJobVar}"/>
                                                                <p:ajax event="change" process="@this"/>
                                                            </p:selectOneMenu>
                                                            <p:message for="jbSearch" display="icon"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                        <div class="col-md-12 textBoxMargin6px">                                                                
                                            <div class="form-group required form-horizontal">
                                                <h:outputLabel class="control-label col-sm-4" value="Subsidiary Ledger:" />
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="selectSubL" value="#{bankDebitAdviceController.fmsSubsidiaryLedger}"
                                                                     converter="entConverter" filterMatchMode="contains" filter="true" 
                                                                     valueChangeListener="#{bankDebitAdviceController.onChangeSubsidiaryLedger}"  
                                                                     required="true" requiredMessage="Value is required: Select Subsidiary Ledger" style="width: 100%">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                        <f:selectItems value="#{bankDebitAdviceController.slList}" var="slVar"
                                                                       itemLabel="#{slVar.subsidiaryCode}" itemValue="#{slVar}"/>
                                                        <p:ajax event="change" process="@this" update="@this" />
                                                    </p:selectOneMenu>  
                                                    <p:message for="selectSubL" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 textBoxMargin6px">                                                                
                                            <div class="form-group form-horizontal">
                                                <h:outputLabel id="buttonaddDtl" class="control-label col-sm-4"/>
                                                <div class="col-sm-8">
                                                    <p:commandButton id="btnAdd" class="btn btn-primary" value="Add" validateClient="true" 
                                                                     process="dig1" update="@this,dig1,:frmRegisterUI:txtCreditCode2" 
                                                                     action="#{bankDebitAdviceController.addAccountInfoDetail()}"/> 
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </p:dialog>
                            </div>                   
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>



