<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/bank/BankRegister.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Bank Register</a>
        </li>  
        <li>
            <a href="../../fcms/bank/BankCashDeposit.xhtml"><i class="fa fa-fw fa-money"></i>  Bank Cash Deposit</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankChequeDeposit.xhtml"><i class="fa fa-fw fa-cc-mastercard"></i>  Bank Cheque Deposit</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankCreditAdvice.xhtml"><i class="fa fa-fw fa-credit-card"></i>  Bank Credit Advice</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankDebitAdvice.xhtml"><i class="fa fa-fw fa-cc-discover"></i>  Bank Debit Advice</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankReconciliation.xhtml"><i class="fa fa-fw fa-adjust"></i>  Bank Reconciliation</a>
        </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnIcone" action="#{bankAccountManagedBean.createNewAccount()}" 
                                     icon="#{bankAccountManagedBean.icone}" validateClient="true" style="background-color: white; border-color: white" 
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{bankAccountManagedBean.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="../../fcms/bank/BankAccountRegister2.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>
        <!-- Search Bank Account-->
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{bankAccountManagedBean.renderPnlManPage}">
                <div class="box box-primary">                     
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Bank Account <small>...</small></h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlSearchBankAcc" class="col-sm-12"> 
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4" value="Account Number:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu  id="selectAcctNo" value="#{bankAccountManagedBean.fmsBankBranchAccounts}"
                                                                          converter="entConverter" filter="true" filterMatchMode="contains" style="width: 100%">  
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                            <f:selectItems value="#{bankAccountManagedBean.listsofaccount}" var="accNoVar" 
                                                                           /> 
                                                            <p:ajax event="change" process="@this" update="@this"/> 
                                                        </p:selectOneMenu>  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="FindInfo" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnSearch" class="btn btn-primary" action="#{bankAccountManagedBean.searchBankAcc}" icon="ui-icon-search" 
                                                                         process="@this,pnlSearchBankAcc" update=":frmMainUI:frmBankAccDetail:tblBankAccDatail"
                                                                         value="Find" />            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Bank Name:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selectBankName" value="#{bankAccountManagedBean.fmsBankAccount.bankId}" 
                                                                         converter="entConverter" filterMatchMode="contains" filter="true" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select Bank ---" itemValue="" />
                                                            <f:selectItems value="#{bankAccountManagedBean.bankNameList}" 
                                                                           var="bankNamelist" itemLabel="#{bankNamelist.bankName}" 
                                                                           itemValue="#{bankNamelist}"/>
                                                            <p:ajax update="@this,selectBranchName"  process="@this" event="change"
                                                                    listener="#{bankAccountManagedBean.getBankBranchFromBankAccount(event)}"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="selectBankName" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel value="Branch Name:" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu  id="selectBranchName" 
                                                                          value="#{bankAccountManagedBean.fmsBankAccount.branchName}"
                                                                          converter="entConverter" filterMatchMode="contains" filter="true" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select Branch ---" itemValue="" />
                                                            <f:selectItems value="#{bankAccountManagedBean.branchNames}" var="branchNamelists" itemLabel="#{branchNamelists.branchName}"
                                                                           itemValue="#{branchNamelists.branchName}"/>
                                                            <p:ajax update="@this" process="@this" 
                                                                    event="change" listener="#{bankAccountManagedBean.getBankAccDetailInfo(event)}"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmBankAccDetail"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblBankAccDatail" value="#{bankAccountManagedBean.bankAccountDataModel}"  
                                                             selectionMode="single" selection="#{bankAccountManagedBean.selectedBankAcc}" 
                                                             rowKey="#{accInfoDetail.bankAccountId}"
                                                             rows="10"
                                                             paginator="true"
                                                             paginatorPosition="bottom"
                                                             rowsPerPageTemplate="5,10,15"
                                                             resizableColumns="true"
                                                             rowIndexVar="num" var="accInfoDetail">
                                                    <p:ajax event="rowSelect" listener="#{bankAccountManagedBean.populate}" process="@this" update=":frmRegisterUI,:frmMainUI,:frmToolbar"/>
                                                    <p:column headerText="No." width="60">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Bank Name" filterBy="#{accInfoDetail.bankId.bankName}" filterMatchMode="contains" sortBy="#{accInfoDetail.bankId.bankName}">
                                                        <h:outputText value="#{accInfoDetail.bankId.bankName}" /> 
                                                    </p:column>
                                                    <p:column headerText="Branch Name" filterBy="#{accInfoDetail.branchName}" filterMatchMode="contains" sortBy="#{accInfoDetail.branchName}">
                                                        <h:outputText value="#{accInfoDetail.branchName}" /> 
                                                    </p:column>
                                                    <p:column headerText="Location">
                                                        <h:outputText value="#{accInfoDetail.location}"/> 
                                                    </p:column>
                                                    <p:column headerText="Acc Created Date">
                                                        <h:outputText value="#{accInfoDetail.accCreatedDate}" ><f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText> 
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>

        <!--Account Register-->
        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{bankAccountManagedBean.renderPnlCreateAcc}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bank Account Registration</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlGrpBankAccRegister" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Bank Name:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selectBankName2" value="#{bankAccountManagedBean.fmsBank.bankId}" required="true" 
                                                                         requiredMessage="Bank Name is required please select one" converter="entConverter" filterMatchMode="contains" filter="true" style="width: 100%"> 
                                                            <f:selectItem itemLabel="--- Select Bank ---" itemValue="" />
                                                            <f:selectItems value="#{bankAccountManagedBean.bankNameList}" 
                                                                           var="bankNamelist" itemLabel="#{bankNamelist.bankName}" 
                                                                           itemValue="#{bankNamelist.bankId}"/>
                                                            <p:ajax  process="@this" event="change"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="selectBankName2" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Branch Name:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText   id="txtBranchName" class="form-control" placeholder="New Branch Name" 
                                                                       value="#{bankAccountManagedBean.fmsBankAccount.branchName}"
                                                                       validator="#{validatorManagedBean.Text}" required="true" requiredMessage="Branch Name is required please select one"/>
                                                        <p:message for="txtBranchName" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Location:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText   id="txtLocation" class="form-control"  
                                                                       value="#{bankAccountManagedBean.fmsBankAccount.location}"
                                                                       validator="#{validatorManagedBean.Location}" converterMessage="Value must be a location"
                                                                       required="true" requiredMessage="Value is required please eneter Location" />
                                                        <p:message for="txtLocation" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4"  value="Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="calAcctCreatedDate" pattern="dd/MM/yyyy" required="true" requiredMessage="Date is required please select one"
                                                                    value="#{bankAccountManagedBean.fmsBankAccount.accCreatedDate}" placeholder="dd/mm/yyyy"
                                                                    converterMessage="Value must be a Date">
                                                        </p:calendar>
                                                        <p:message for="calAcctCreatedDate" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bank Account Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlAccDetail">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel  for="sysSearch" class="control-label col-sm-4" value="System:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="sysSearch" value="#{bankAccountManagedBean.fmsLuSystem}"
                                                                         filterMatchMode="contains" filter="true" converter="entConverter"
                                                                         valueChangeListener="#{bankAccountManagedBean.onChangeSystem}" required="true" 
                                                                         requiredMessage="System is required please select one" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{bankAccountManagedBean.systemList}" var="sys" itemLabel="#{sys.systemCode}" itemValue="#{sys}" />
                                                            <p:ajax event="change" process="@this" update="drdCostCenter,pnljob,glSearch"/>
                                                        </p:selectOneMenu> 
                                                        <p:message for="sysSearch" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel  for="drdCostCenter"  class="control-label col-sm-4" value="Cost Center"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="drdCostCenter"  value="#{bankAccountManagedBean.fmsCostcSystemJunction}" 
                                                                         converter="entConverter"  filterMatchMode="contains" filter="true" required="true" requiredMessage="Cost center is required please select one"
                                                                         valueChangeListener="#{bankAccountManagedBean.onChangeCostCenter}" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{bankAccountManagedBean.ssCcJunctionList}" var="costC"
                                                                           itemLabel="#{costC.fmsCostCenter.systemName} " itemValue="#{costC}"/>
                                                            <p:ajax event="change" process="@this" />
                                                        </p:selectOneMenu>
                                                        <p:message for="drdCostCenter" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel  for="glSearch" class="control-label col-sm-4" value="General Ledger:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="glSearch" value="#{bankAccountManagedBean.fmsGeneralLedger}"
                                                                         converter="entConverter" filterMatchMode="contains" filter="true" 
                                                                         valueChangeListener="#{bankAccountManagedBean.onChangeGeneralLedger}"  
                                                                         required="true" requiredMessage="Value is required: Select General Ledger" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{bankAccountManagedBean.glList}" var="glVarr"
                                                                           itemLabel="#{glVarr.generalLedgerCode}" itemValue="#{glVarr}"/>
                                                            <p:ajax event="change" process="@this" update="selectSubL" />
                                                        </p:selectOneMenu>   
                                                        <p:message for="glSearch" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <h:panelGroup id="pnljob">
                                                <h:panelGroup id="pnlJOBNO" rendered="#{bankAccountManagedBean.renderJobNo}">
                                                    <div class="col-md-12 textBoxMargin6px">                                                                
                                                        <div class="form-group required form-horizontal">
                                                            <h:outputLabel  for="jbSearch" class="control-label col-sm-4" value="Job Number.:"/>
                                                            <div class="col-sm-8">
                                                                <p:selectOneMenu id="jbSearch"  value="#{bankAccountManagedBean.fmsSystemJobJunction}" 
                                                                                 converter="entConverter" filterMatchMode="contains" filter="true" 
                                                                                 valueChangeListener="#{bankAccountManagedBean.onChangeJobNo}" 
                                                                                 required="true" requiredMessage="Value is required: Select General Ledger" style="width: 100%" >
                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                                    <f:selectItems value="#{bankAccountManagedBean.sysJobNOList}" var="sysJobVar"
                                                                                   itemLabel="#{sysJobVar.jobNo}" itemValue="#{sysJobVar}"/>
                                                                    <p:ajax event="change" process="@this"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="jbSearch" display="icon"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h:panelGroup>
                                            </h:panelGroup>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Subsidiary Ledger:" />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selectSubL" value="#{bankAccountManagedBean.fmsSubsidiaryLedger}"
                                                                         converter="entConverter" filterMatchMode="startsWith" filter="true" 
                                                                         valueChangeListener="#{bankAccountManagedBean.onChangeSubsidiaryLedger}"  
                                                                         required="true" requiredMessage="Value is required: Select Subsidiary Ledger" style="width: 100%">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                            <f:selectItems value="#{bankAccountManagedBean.slList}" var="slVar"
                                                                           itemLabel="#{slVar.subsidiaryCode}" itemValue="#{slVar}"/>
                                                            <p:ajax event="change" process="@this" update="@this" />
                                                        </p:selectOneMenu>  
                                                        <p:message for="selectSubL" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="buttonaddDtl" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnAdd" class="btn btn-primary" value="#{bankAccountManagedBean.forAddOrModify}" 
                                                                         action="#{bankAccountManagedBean.addAccountInfoDetail()}" validateClient="true" 
                                                                         process="@this,pnlAccDetail" update=":frmRegisterUI:pnlAccDetail,pnlAccountDetialInfo"
                                                                         />            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Account Number.:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText   id="txtAccNo2" class="form-control" value="#{bankAccountManagedBean.fmsBankBranchAccounts.accountNumber}" 
                                                                       required="true" requiredMessage="Vaue is required please enter Account Number"
                                                                       />
                                                        <p:message for="txtAccNo2" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Balance:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText   id="txtBalance" class="form-control" value="#{bankAccountManagedBean.fmsBankBranchAccounts.beginningBalance}" 
                                                                       converter="#{bankAccountManagedBean.numberConverter}" validator="#{validatorManagedBean.Money}"
                                                                       validatorMessage="this field only take money"  converterMessage="Value must be a number" required="true" 
                                                                       requiredMessage="Value is required please enter Balance" />
                                                        <p:message for="txtBalance" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Status:"/>
                                                    <div class="col-sm-4">
                                                        <p:selectOneMenu id="selectStatus" value="#{bankAccountManagedBean.fmsBankBranchAccounts.status}"
                                                                         required="true" requiredMessage="Status is required please select one" style="width: 100%">
                                                            <f:selectItem itemLabel="- Select One -" itemValue="" />
                                                            <f:selectItem itemLabel="Active" itemValue="Active"/>
                                                            <f:selectItem itemLabel="Closed" itemValue="Closed"/>
                                                        </p:selectOneMenu>  
                                                        <p:message for="selectStatus" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup id="pnlAccountDetialInfo">
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group">  
                                            <p:dataTable id="tblAcctDetl" value="#{bankAccountManagedBean.fmsBankBranchAccountsModel}"  
                                                         rowIndexVar="num" class="datatable" var="acctDtl" 
                                                         rows="5"
                                                         paginator="true"
                                                         paginatorPosition="bottom" 
                                                         selectionMode="single"
                                                         resizableColumns="true"
                                                         selection="#{bankAccountManagedBean.selectedAccDetail}" rowKey="#{acctDtl.accountNumber}"
                                                         >
                                                <p:ajax event="rowSelect" listener="#{bankAccountManagedBean.populateAccDetail}"
                                                        process="@this" update=":frmRegisterUI:pnlAccDetail"/>
                                                <p:column headerText="S.No" width="60">
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column> 
                                                <p:column headerText="Account Code">
                                                    <h:outputText id="outputText20" 
                                                                  value="#{acctDtl.subsidiaryId.subsidiaryCode}"/>                     
                                                </p:column>
                                                <p:column headerText="Account Number">
                                                    <h:outputText value="#{acctDtl.accountNumber}"/>
                                                </p:column>
                                                <p:column headerText="Balance">
                                                    <h:outputText value="#{acctDtl.beginningBalance}" converter="#{bankAccountManagedBean.numberConverter}"/>
                                                </p:column>
                                                <p:column headerText="Status">
                                                    <h:outputText value="#{acctDtl.status}"/>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="col-md-12 textBoxMargin6px">                                                                
                                                    <div class="form-group form-horizontal">
                                                        <h:outputLabel id="lblbuttonaSave" class="control-label col-sm-4"/>
                                                        <div class="col-sm-8">
                                                            <p:commandButton id="btnSaveAcct" class="btn btn-primary"  validateClient="true"                                                  
                                                                             value="#{bankAccountManagedBean.saveorUpdateBundle}" 
                                                                             action="#{bankAccountManagedBean.saveBankAccount()}" 
                                                                             process="@this,pnlGrpBankAccRegister" 
                                                                             update="@this,pnlGrpBankAccRegister,frmRegisterUI,:frmMainUI:frmBankAccDetail:tblBankAccDatail" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
