<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/bank/BankAccountRegister2.xhtml"><i class="fa fa-fw fa-cc-amex"></i>  Bank Account Register</a>
        </li>                                         
        <li>
            <a href="../../fcms/bank/BankCashDeposit.xhtml"><i class="fa fa-fw fa-money"></i>  Bank Cash Deposit</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankChequeDeposit.xhtml"><i class="fa fa-fw fa-cc-mastercard"></i>  Bank Cheque Deposit</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankCreditAdvice.xhtml"><i class="fa fa-fw fa-credit-card"></i>  Bank Credit Advice</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankDebitAdvice.xhtml"><i class="fa fa-fw fa-cc-discover"></i>  Bank Debit Advice</a>
        </li>
        <li>
            <a href="../../fcms/bank/BankReconciliation.xhtml"><i class="fa fa-fw fa-adjust"></i>  Bank Reconciliation</a>
        </li>
    </ui:define>

    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnIcone" action="#{bankManagedBean.createNewBank()}" 
                                     icon="#{bankManagedBean.icone}" validateClient="true" style="background-color: white; border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{bankManagedBean.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/bank/BankRegister.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>

        <!-- Search Bank-->
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{bankManagedBean.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Bank <small>...</small></h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlSearchBank" class="col-sm-12"> 
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Bank Name:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtBankName" class="form-control" value="#{bankManagedBean.fmsBank.bankName}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="FindInfo" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnFind" class="btn btn-primary"  action="#{bankManagedBean.searchBankByName()}" icon="ui-icon-search" 
                                                                         process="@this,pnlSearchBank" update=":frmMainUI:frmBankDetail:tblBankDatail"
                                                                         value="Find"/>            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmBankDetail"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblBankDatail" value="#{bankManagedBean.bankDataModel}" rowIndexVar="num" var="bankInfo" selectionMode="single"
                                                             selection="#{bankManagedBean.selectedBank}" 
                                                             rows="10"
                                                             paginator="true"
                                                             paginatorPosition="bottom"
                                                             rowsPerPageTemplate="5,10,15"
                                                             resizableColumns="true"
                                                             rowKey="#{bankInfo.bankId}">
                                                    <p:ajax event="rowSelect" listener="#{bankManagedBean.populate}" update=":frmRegisterUI,:frmMainUI,:frmToolbar"/>
                                                    <p:column headerText="No." width="60">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Bank Name">
                                                        <h:outputText value="#{bankInfo.bankName}" /> 
                                                    </p:column>
                                                    <p:column headerText="Bank Code">
                                                        <h:outputText value="#{bankInfo.bankCode}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>

        <!-- Bank Register-->
        <h:form id="frmRegisterUI">
            <p:growl id="growl1" sticky="#{bankManagedBean.isSticky}" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{bankManagedBean.renderPnlCreateBank}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bank Registration</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlGrpBankRegister" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Bank Name:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText   id="txtBankName" class="form-control" value="#{bankManagedBean.fmsBank.bankName}" 
                                                                       validator="#{validatorManagedBean.Text}" required="true" requiredMessage="value is required please enter Bank Name"/>
                                                        <p:message for="txtBankName" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Bank Code:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtBankCode" value="#{bankManagedBean.fmsBank.bankCode}" required="true" requiredMessage="Value is required please enter Bank Code"
                                                                     class="form-control" validator="#{validatorManagedBean.Codes}">
                                                        </p:inputText>
                                                        <p:message for="txtBankCode" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblBtnSave" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnSaveBank" class="btn btn-primary"  validateClient="true"   
                                                                         action="#{bankManagedBean.saveFcmsBank}"
                                                                         process="@this,pnlGrpBankRegister,frmRegisterUI" 
                                                                         update="pnlGrpBankRegister,frmRegisterUI"                                                  
                                                                         value="#{bankManagedBean.saveorUpdateBundle}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>



