<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>

        <!-- /.search form -->
    </ui:define>
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml" title="Go to Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li>
            <a href="contractInformation.xhtml"><i class="fa  fa-circle-o"></i>Contract Information</a>
        </li>
        <li>
            <a href="contractAmendment.xhtml"><i class="fa fa-circle-o"></i>Contract Amendment</a>
        </li>
        <li>
            <a href="purchaseOrder.xhtml"><i class="fa  fa-circle-o"></i>Purchase Order</a>
        </li>
        <li>
            <a href="requestForPayment.xhtml"><i class="fa  fa-circle-o"></i>Request For Payment</a>

        </li>
        <li>
            <a href="Quotation.xhtml"><i class="fa  fa-circle-o"></i>Quotation</a>
        </li>
    </ui:define>
    <ui:define name="contents">

        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pngBackToSearch" rendered="#{awardController.renderpnlToSearchPage}">
                        <p:commandButton id="cmdBackToSearch" icon="ui-icon-search" style="background-color: white;border-color: white"
                                         action="#{awardController.goBackSearchPageBtnAction()}" 
                                         title="Back to Search"
                                          process="@this" update="@this,:frmMainUI, :BidSubmissionMain, :frmSample"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <p:commandButton id="btnNew" action="#{awardController.createNewParty()}" icon="#{awardController.icone}" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmMainUI, :BidSubmissionMain, :frmSample"
                                     title="#{awardController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>

                    <a href="finalAward.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>


        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{awardController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchParty"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <h:outputLabel class="control-label col-sm-2" value=" Award No: "/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPartyName" value="#{awardController.papmsAward.awardNo}"/>
                                                </div>
                                            </div>


                                            <div class="form-group textBoxMarginTop6px"> 

                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton  action="#{awardController.searchAwardByAwardNo()}" icon="ui-icon-search" 
                                                                      process="@this,frmSearchParty" update=":frmMainUI:frmParty:tblPartyInfo" 
                                                                      value="Find" class="btn btn-primary col-lg-4" />            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmParty">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblPartyInfo" value="#{awardController.prmsAwardsModel}" var="awardList" rows="10" rowIndexVar="no"
                                                                 selection="#{awardController.selectAward}"
                                                                 rowKey="#{awardList.awardId}"  selectionMode="single" 
                                                                 paginator="true" paginatorPosition="bottom" editable="true">

                                                        <p:ajax event="rowSelect" listener="#{awardController.rowSelect}"   update=":BidSubmissionMain,:BidSubmissionMain:checkListInfoPanel,:frmSample,:frmMainUI,:BidSubmissionMain:failedSupplierDt" />  
                                                        <p:column headerText="No">
                                                            #{no+1}
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Award No" />
                                                            </f:facet>
                                                            <h:outputText value="#{awardList.awardNo}"/>
                                                        </p:column>
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{awardList.regDate}">
                                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                            </h:outputText>  
                                                        </p:column>

                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="prepared By" />
                                                            </f:facet>
                                                            <h:outputText value="#{awardController.logerName}"/>
                                                        </p:column>

                                                    </p:dataTable>
                                                </div>                 
                                            </div>    
                                        </div>  
                                    </div>                           
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>

        <h:form id="BidSubmissionMain">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{awardController.renderPnlCreateServiceRegistration}">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> Award Registration <small></small></h3>                       
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >  
                                <h:panelGroup style="border: 0px; background-color: transparent" id="checkListInfoPanel" >
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMarginTop6px ">  
                                            <h:outputLabel id="lblInspResNo" class="control-label col-sm-2" value=" Award No: "/>
                                            <div class="col-sm-3">
                                                <p:inputText id="txtInspResNo"    readonly="true"
                                                             value="#{awardController.generateSpecficationNo()}"/>

                                            </div> 
                                            <h:outputLabel class="control-label col-sm-2" value="Purchase Type:"/>
                                            <div class="col-sm-3">
                                                <p:inputText id="txtpurchaseType" readonly="true" value="#{awardController.eepBidReg.bidCategory}"  class="form-control"/>
                                            </div>

                                        </div>                   

                                        <div class="form-group textBoxMarginTop6px required">

                                            <h:outputLabel id="lblvenderNamee" class="control-label col-sm-2" value="Bid No:"/>
                                            <div class="col-sm-3"> 
                                                <p:selectOneMenu id="txtbidNoo" style="width: 100%" value="#{awardController.eepBidReg}" required="true"  requiredMessage="Bid No is required"  
                                                                 valueChangeListener="#{awardController.changeEventSuppCode}"   converter="entConverter"  >
                                                    <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                    <f:selectItems value="#{awardController.bidListForAward}" />
                                                    <p:ajax event="change"  process="@this" update="txtbiddingCompany, failedSupplierDt,txtpurchaseType,txtBidTyee,txtAWardType"  />
                                                </p:selectOneMenu>   
                                                <p:message for="txtbidNoo" display="icon"/>
                                            </div>

                                            <h:outputLabel for="calregisteredDate"  id="lblreisteredDate" class="control-label col-sm-2" value="Registared Date:"/>
                                            <div class="col-sm-3">
                                                <p:calendar id="calregisteredDate"  required="true"   requiredMessage=" Registered Date is required"    mindate="today"  readonlyInput="true"                   
                                                            value="#{awardController.papmsAward.regDate}"                    
                                                            pattern="dd/MM/yyyy" tabindex="4">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy" />
                                                </p:calendar>
                                                <p:message for="calregisteredDate" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMarginTop6px required">
                                            <h:outputLabel   id="lblawardDatee" class="control-label col-sm-2" value="Award Date:"/>
                                            <div class="col-sm-3">
                                                <p:calendar id="txtAwardDatee"  required="true"  requiredMessage=" Award Date is required"    mindate="today"  readonlyInput="true"                   
                                                            value="#{awardController.papmsAward.awardDate}"                    
                                                            pattern="dd/MM/yyyy" tabindex="4">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy" />
                                                </p:calendar>
                                                <p:message for="txtAwardDatee" display="icon"/>
                                            </div>

                                            <h:outputLabel  class="control-label col-sm-2" value="Letter Reference No:"/>
                                            <div class="col-sm-3">
                                                <p:inputText   id="txtLetterreferencee"  class="form-control" required="true"   requiredMessage=" Letter Reference No is required"  
                                                               value="#{awardController.papmsAward.letterOfRefNo}"/>
                                                <p:message for="txtLetterreferencee" display="icon"/>
                                            </div>
                                        </div>

                                        <h:panelGroup style="border: 0px; background-color: transparent" id="pnlbidtpelocal" rendered="#{awardController.renderLocal}" >
                                            <div class="form-group textBoxMarginTop6px ">
                                                <h:outputLabel class="control-label col-sm-2"  value="Bid Type:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtBidTyee"  readonly="true" value="#{awardController.eepBidReg.bidType}"  class="form-control"/>
                                                </div>

                                            </div>
                                        </h:panelGroup>




                                        <h:panelGroup style="border: 0px; background-color: transparent" id="pnlBidderrtypesFinace"  rendered="#{awardController.renderFinacialResult}"  >
                                            <div class="form-group textBoxMarginTop6px required">
                                                <h:outputLabel class="control-label col-sm-2" value="Bidder Name:"  />
                                                <div class="col-sm-3"> 
                                                    <p:selectOneMenu id="txtbiddingCompany" style="width: 100%"  value="#{awardController.papmsAward.suppId}"  requiredMessage=" Bidder Name is required"     required="true"  converter="entConverter" 
                                                                     valueChangeListener="#{awardController.getBidderFullAddress}">
                                                        <f:selectItem itemLabel="--- Select One ---" />
                                                        <f:selectItems value="#{awardController.prmsSupplyProfiListForFin}" var="vendor" itemLabel="#{vendor.vendorName}" />
                                                        <p:ajax event="change" process="@this" update="txtTelPnonenoo,txtMobilee,txtEmailll,txtPoBoxx,txtFaxx,txtCountryy,txttinNOO,BidSubmissionMain:biddDt,totalCalcul"/>
                                                    </p:selectOneMenu> 
                                                    <p:message for="txtbiddingCompany" display="icon"/>
                                                </div>

                                                <h:outputLabel class="col-sm-2" style="text-align: right" value="Post Qualification:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtAWardType"  readonly="true" value="#{awardController.eepBidReg.postQualification}"  class="form-control"/>
                                                </div>
                                            </div>


                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Tel No:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtTelPnonenoo" value="#{awardController.eepVendorReg.telOffice}" readonly="true" />

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="Mobile No:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtMobilee" value="#{awardController.eepVendorReg.telMobile}" readonly="true" />

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Po.Box:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPoBoxx" value="#{awardController.eepVendorReg.pobox}" readonly="true" />

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="Email:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtEmailll" value="#{awardController.eepVendorReg.email}" readonly="true" />

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <h:outputLabel class="control-label col-sm-2" value="Fax:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtFaxx" value="#{awardController.eepVendorReg.fax}" readonly="true" />

                                                </div>
                                                <h:outputLabel class="control-label col-sm-2" value="TIN No:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txttinNOO" value="#{awardController.eepVendorReg.tinNo}" readonly="true" />

                                                </div>

                                            </div>
                                            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlForInernational"  rendered="#{awardController.renderInternational}"  >
                                                <div class="form-group textBoxMarginTop6px">
                                                    <h:outputLabel class="control-label col-sm-2" value="Country:" />
                                                    <div class="col-sm-3">
                                                        <p:inputText id="txtCountryy" value="#{awardController.eepVendorReg.countryId}" readonly="true" />

                                                    </div>
                                                </div>
                                            </h:panelGroup>

                                        </h:panelGroup>


                                    </div>



                                </h:panelGroup>




                            </div>

                        </div>

                    </div>  
                </div> 

                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h3 class="box-title">Award File:</h3>
                    </div>

                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="panel-body">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="uploadButtonPanel" >
                                        <p:panelGrid columns="1" style="float: left;"> 
                                            <p:fileUpload  id="fileUplod" cancelLabel="#{contenu.annuler}"
                                                           fileUploadListener="#{awardController.uploadListener}"
                                                           value="#{awardController.prmsLuDmArchive.documentId}" allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpg|mkv|JPG)$/"
                                                           invalidFileMessage="This type of file is not valid" invalidSizeMessage="The size is not Allowed" 
                                                           multiple="false" mode="advanced" sizeLimit="52428800" auto="true" process="@this" update="tblSavedDoc"/>
                                            <p:dataTable id="tblSavedDoc"  var="currentRow" rowIndexVar="current" value="#{awardController.prmsLuDmArchivesDModel}"
                                                         paginator="true" paginatorPosition="bottom" selectionMode="single" rowKey="#{currentRow.documentId}"
                                                         selection="#{awardController.prmsLuDmArchiveSelection}">
                                                <p:ajax event="rowSelect" listener="#{awardController.onRowSelect}" process="@this" update="tblSavedDoc" />
                                                <p:column id="docNames"   style="border: none; font-size: 10px; text-align: left;"> 
                                                    <h:outputText id="txtcoScale" value="#{currentRow.fileName}"/>
                                                </p:column>
                                                <p:column  style="border: none; font-size: 10px; text-align: left;">
                                                    <h:panelGrid style="border: none " columns="2"
                                                                 id="pnlGridtblDoccolOptions">
                                                        <p:commandButton process="@this,tblSavedDoc"  update="tblSavedDoc"                                             
                                                                         icon="ui-icon-arrowthickstop-1-s"  ajax="false"  >
                                                            <p:fileDownload value="#{awardController.file}" />
                                                        </p:commandButton>
                                                        <!--<p:outputPanel id="buttonDetail">
                                                            <p:commandButton  process="tblSavedDoc" title="{dmsBundle.delete}" id="docRemove" 
                                                                              update="tblSavedDoc" immediate="true" ajax="true" 
                                                                              icon="ui-icon-trash" style="border: none; color: #0B70F9">
                                                                <p:confirm header="Confirmation" message="Are you sure?"  icon="ui-icon-alert" />
                                                            </p:commandButton>
                                                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                                <p:commandButton value="Yes" action="{awardController.remove(rowselect)}" immediate="true" process="@this" update="tblSavedDoc" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                            </p:confirmDialog>
                                                        </p:outputPanel>-->
                                                    </h:panelGrid>
                                                </p:column>  
                                            </p:dataTable>
                                        </p:panelGrid>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Failed Supplier</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="panel-body">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="pnlFailedSupp"  >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="failedSupplierDt" value="#{awardController.prmsFailsupplerAwardsDataModel}" rowIndexVar="rowContact" var="failedSupp"
                                                                 paginator="true" paginatorPosition="bottom">
                                                        <p:column headerText="No">
                                                            #{rowContact+1}
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Supplier Name" />
                                                            </f:facet>
                                                            <h:outputText value="#{failedSupp.suppId.vendorName}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Tel No" />
                                                            </f:facet>
                                                            <h:outputText value="#{failedSupp.suppId.telOffice}"/>
                                                        </p:column>

                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="MObile No" />
                                                            </f:facet>
                                                            <h:outputText value="#{failedSupp.suppId.telMobile}"/>
                                                        </p:column>

                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Email" />
                                                            </f:facet>
                                                            <h:outputText value="#{failedSupp.suppId.email}"/>
                                                        </p:column>
                                                        <p:column headerText="Reason For Fail" >
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{failedSupp.reasonForFail}"/></f:facet>
                                                                <f:facet name="input"><p:inputTextarea  id="reasonForFail" value="#{failedSupp.reasonForFail}" style="width:100%">
                                                                        <p:ajax></p:ajax></p:inputTextarea>
                                                                </f:facet>

                                                            </p:cellEditor>
                                                        </p:column>
                                                    </p:dataTable>

                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Award Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="panel-body">

                                    <h:panelGroup style="border: 0px; background-color: transparent" id="checklistTbl"  >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="biddDt" value="#{awardController.prmsAwardDetailModel}" rowIndexVar="rowContact" var="contact"
                                                                 paginator="true" paginatorPosition="bottom" editable="true">
                                                        <p:column headerText="No">
                                                            #{rowContact+1}
                                                        </p:column>

                                                        <p:column headerText="Item Name" rendered="#{awardController.renderBidGoods}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.materialId.matName}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="itemName" value="#{contact.materialId.matName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Unit Measure" rendered="#{awardController.renderBidGoods}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.materialId.unitOfMeasure}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="GoodsUintMeasure" value="#{contact.materialId.unitOfMeasure}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Quantity" rendered="#{awardController.renderBidGoods}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.quantity}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="GoodsQuantity" value="#{contact.quantity}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Unit Price" rendered="#{awardController.renderBidGoods}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.unitPrice}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="goodsUnitPirce" value="#{contact.unitPrice}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Award Price" rendered="#{awardController.renderBidGoods}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.totals}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="totalPirce" value="#{contact.totals}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Service Name" rendered="#{awardController.renderBidService}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.serviceWorkId.serviceName}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="ServiceNam" value="#{contact.serviceWorkId.serviceName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Unit Measure" rendered="#{awardController.renderBidService}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.serviceWorkId.unitMeasures}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="serviceUnitMe" value="#{contact.serviceWorkId.unitMeasures}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>

                                                        <p:column headerText="Quantity" rendered="#{awardController.renderBidService}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.quantity}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="serviceQuantity" value="#{contact.quantity}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Unit Price" rendered="#{awardController.renderBidService}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.unitPrice}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="serviceUnitPirce" value="#{contact.unitPrice}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Award Price" rendered="#{awardController.renderBidService}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.totals}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="serviceTotal" value="#{contact.totals}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Works Name" rendered="#{awardController.renderBidWork}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.serviceWorkId.workName}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="worksName" value="#{contact.serviceWorkId.workName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>

                                                    </p:dataTable>

                                                </div>
                                            </div>
                                        </div>

                                        <h:panelGroup id="totalCalcul">
                                            <div class="form-group">        
                                                <div class="col-sm-8 col-sm-push-7">
                                                    <div class="form-horizontal  col-sm-12">      
                                                        <div class="form-group"> 
                                                            <h:outputLabel id="lblPurcasdfahaseType" class="control-label col-sm-4" value="Total Sum :"/>
                                                            <div class="col-sm-6">
                                                                <h:outputLabel id="lblvaluessss" class="control-label" value="#{awardController.totalSum}"/>
                                                            </div> 
                                                        </div>           
                                                        <div class="form-group"> 
                                                            <h:outputLabel id="lblPaseType" class="control-label col-sm-4" value="Total Vat :"/>
                                                            <div class="col-sm-6">
                                                                <h:outputLabel id="lblvaluessssssss" class="control-label" value="#{awardController.totalvat}"/>
                                                            </div> 
                                                        </div>
                                                        <div class="form-group"> 
                                                            <h:outputLabel id="lblPudfrcasdfahaseType" class="control-label col-sm-4" value="Grand Total:"/>
                                                            <div class="col-sm-6">
                                                                <h:outputLabel id="lblvaluedfssss" class="control-label" value="#{awardController.groundTotal}" />
                                                            </div> 
                                                        </div>
                                                        <div class="form-group"> 
                                                            <h:outputLabel id="lblcontractGarate" class="control-label col-sm-4" value="Contract Garate:"/>
                                                            <div class="col-sm-6">
                                                                <h:outputLabel id="lblcontractGar" class="control-label" value="#{awardController.contractGarate}" />
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </h:panelGroup>

                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group textBoxMarginTop6px">  
                                                <h:outputLabel  id="lblPreparedBy" for="txtPreparedBy" class="control-label col-sm-2" value="Prepared By:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPreparedBy" class="form-control" readonly="true" validator="#{validatorManagedBean.Text}"

                                                                 value="#{awardController.logerName}"/>
                                                    <p:message for="txtPreparedBy" display="icon"/>

                                                </div>

                                                <h:outputLabel id="lblPreparerRepark" for="txtPreparerRemark" class="control-label col-sm-2" value="Remark:"/>
                                                <div class="col-sm-3">
                                                    <p:inputTextarea id="txtPreparerRemark"  class="form-control"  autoResize="false"

                                                                     value="#{awardController.papmsAward.remark}"/>

                                                </div>
                                            </div> 

                                        </div>

                                    </h:panelGroup>

                                    <div class="form-group textBoxMarginTop6px "> 
                                        <div class="col-lg-2" />
                                        <div class="col-sm-3">

                                            <p:commandButton id="save" value="#{awardController.saveorUpdateBundle}" icon="ui-icon-new" validateClient="true" 
                                                             class="btn btn-primary col-lg-4" 
                                                             process="@this,BidSubmissionMain:checklistTbl,BidSubmissionMain:checkListInfoPanel,BidSubmissionMain:failedSupplierDt"  
                                                             update="@this,checklistTbl,uploadButtonPanel, checkListInfoPanel,pnlFailedSupp,uploadButtonPanel"  
                                                             action="#{awardController.saveForAwardRigstration()}" />  

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>








