<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="finalAward.xhtml"><i class="fa fa-circle-o text"></i> <span> Award</span></a></li>
        <li><a href="contractInformation.xhtml"><i class="fa fa-circle-o text"></i> <span> Contract Information</span></a></li>
        <li><a href="contractAmendment.xhtml"><i class="fa fa-circle-o text"></i> <span> Contract Amendment</span></a></li>
        <li><a href="requestForPayment.xhtml"><i class="fa fa-circle-o text"></i> <span> Request For Payment</span></a></li>
        <li> <a href="Quotation.xhtml"><i class="fa fa-circle-o text"></i> <span> Quotation</span></a></li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlBackToSearch" rendered="#{purchaseOrderController.renderpnlToSearchPage}" >
                        <p:commandButton  id="btnBacktoSarch" action="#{purchaseOrderController.goBackToSearchPageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                          title="Back to Search" process="@this" update="@this,:frmMainUI, :BidSubmissionMain, :frmSample" style="background-color: white; border-color: white;" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <p:commandButton validateClient="true" action="#{purchaseOrderController.newBtnAction()}" 
                                     icon="#{purchaseOrderController.icone}" style="background-color: white; border-color: white"
                                     title="#{purchaseOrderController.createOrSearchBundle}" process="@this" update="@this,:frmMainUI, :BidSubmissionMain, :frmSample"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <h:panelGroup id="PGNotification" rendered="#{purchaseOrderController.renderDecision}">
                        <p:commandLink id="cmdLinkNotf" class="fa fa-bell-o" title="Notifications" value="#{purchaseOrderController.purchaseOrderLis1.size()}" style="color: red;background-color: white; border-color: white"/>
                        <p:overlayPanel widgetVar="ovrNotification" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblReqNotf" value="Purchase Order"/>
                            <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains" converterMessage="entConverter"                                            
                                                converter="entConverter"  valueChangeListener="#{purchaseOrderController.RequestListChange}">
                                <f:selectItems id="selectOneMenuAppListkl" var="purchaseReqlst" value="#{purchaseOrderController.purchaseOrderLis1}" itemValue="#{purchaseReqlst}" itemLabel="#{purchaseReqlst.pacNo}"/> 
                                <p:ajax event="valueChange"  update=":frmMainUI, :BidSubmissionMain, :frmSample" process="@this," />               
                            </p:selectOneListbox>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress" title="Work Flow" style="background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>
                        <!--put work flow list here-->
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblWorkflow" value="#{purchaseOrderController.wfPrmsProcessedDModel}" var="currentRow" selectionMode="single" 
                                                             rowIndexVar="num" rows="10" paginator="true" rowKey="#{currentRow.processedId}" paginatorPosition="bottom">

                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{currentRow.processedBy}" /> 
                                                    </p:column>
                                                    <p:column headerText="Decision">
                                                        <h:outputText value="#{currentRow.decision}" />
                                                    </p:column>
                                                    <p:column headerText="Processed On">
                                                        <h:outputText value="#{currentRow.processedOn}" />
                                                    </p:column>
                                                    <p:column headerText="Comment Given">
                                                        <h:outputText value="#{currentRow.commentGiven}" />
                                                    </p:column> 
                                                </p:dataTable>                                                
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>                        
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../prms/Purchase Infomation/purchaseOrder.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{purchaseOrderController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchParty"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <h:outputLabel class="control-label col-sm-2" value=" Purchase Order No: "/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPartyName" value="#{purchaseOrderController.papmsPurchaseOrder.pacNo}"/>
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">
                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton id="btnFindPO" action="#{purchaseOrderController.searchPurchaseOrder()}" icon="ui-icon-search" 
                                                                     process="@this,frmSearchParty" update=":frmMainUI:frmParty:tblPartyInfo" value="Find" class="btn btn-primary col-lg-4" />                                                     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmParty">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblPartyInfo" value="#{purchaseOrderController.prmsPurchaseOrdersModel}" var="PurchaseOrderList" rows="10" rowIndexVar="no" 
                                                                 selection="#{purchaseOrderController.selectPurchaseOrder}"
                                                                 rowKey="#{PurchaseOrderList.poId}"  selectionMode="single" 
                                                                 paginator="true" paginatorPosition="bottom" editable="true">

                                                        <p:ajax event="rowSelect" listener="#{purchaseOrderController.rowSelect}"  
                                                                update=":BidSubmissionMain,:BidSubmissionMain:checkListInfoPanel,:BidSubmissionMain:checkListInfoPanel1,:frmSample,:frmMainUI,:BidSubmissionMain:totalCalcul" /> 
                                                        <p:column headerText="No">
                                                            #{no+1}
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value=" Purchase Order No" />
                                                            </f:facet>
                                                            <h:outputText value="#{PurchaseOrderList.pacNo}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Date Registered" />
                                                            </f:facet>
                                                            <h:outputText value="#{PurchaseOrderList.rigistrationDate}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Requested By" />
                                                            </f:facet>
                                                            <h:outputText value="#{purchaseOrderController.logerName}"/>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>                 
                                            </div>    
                                        </div>  
                                    </div>                           
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>

        <h:form id="BidSubmissionMain">
            <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{purchaseOrderController.renderPnlCreateParty}">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Purchase Order Registration <small></small></h3>                       
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-sm-12" >  
                                <h:panelGroup style="border: 0px; background-color: transparent" id="checkListInfoPanel"  >
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="col-sm-6" >
                                            <div class="form-group textBoxMarginTop6px "> 
                                                <h:outputLabel id="lblQuotationId"  class="col-sm-4 control-label" value="Po No:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txQuatationId" value="#{purchaseOrderController.generateSpecficationNo()}" readonly="true"  />        
                                                </div>
                                            </div>  
                                            <div class="form-group textBoxMarginTop6px">  
                                                <h:outputLabel class="col-sm-4 control-label" value="Purchase Types:*"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneRadio id="rdpr" style="width: 100%" value="#{purchaseOrderController.papmsPurchaseOrder.type}"
                                                                      required="true"  requiredMessage="Select PR type" disabled="#{workFlow.readonly}"
                                                                      valueChangeListener="#{purchaseOrderController.changeItemService}">
                                                        <f:selectItem itemLabel="From Bid" itemValue="Bid" />
                                                        <f:selectItem itemLabel="From Quotation" itemValue="Quotation" />
                                                        <p:ajax process="@this" event="change" update="BidSubmissionMain"/>
                                                    </p:selectOneRadio>
                                                    <p:message for="rdpr" display="icon"/>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="pnlBid" rendered="#{purchaseOrderController.renderBid}">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="col-sm-6">

                                                <div class="form-group textBoxMarginTop6px">                                                    
                                                    <h:outputLabel id="lblrequest" for="txtrequest" class="col-sm-4 control-label"  value="Bid No:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtrequest" style="width: 100%" value="#{purchaseOrderController.papmsPurchaseOrder.bidId}" disabled="#{workFlow.readonly}" 
                                                                         converter="entConverter" required="true" requiredMessage="Please Select Bid No" valueChangeListener="#{purchaseOrderController.display}">
                                                            <f:selectItems value="#{purchaseOrderController.getListOfBidNo()}" />
                                                            <p:ajax process="@this" update="BidSubmissionMain"  event="change" />
                                                        </p:selectOneMenu>   
                                                        <p:message for="txtrequest" display="icon"/>
                                                    </div>
                                                </div>

                                                <div class="form-group textBoxMarginTop6px">  
                                                    <h:outputLabel id="lblcatagory" for="txtcatagorytype" class="col-sm-4 control-label"  value="Procurment Catagory:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtcatagorytype" style="width: 100%" value="#{purchaseOrderController.eepBidReg.bidCategory}" readonly="true"/>  
                                                        <p:message for="txtcatagorytype" display="icon"/>
                                                    </div>
                                                </div>

                                                <!--                                                <div class="form-group textBoxMarginTop6px">                                                    
                                                                                                    <h:outputLabel id="lblEndUser" for="txtuser" class="col-sm-4 control-label"  value="End User:"/>                                                    
                                                                                                    <div class="col-sm-8"> 
                                                                                                        <p:selectOneListbox  id="txtuser" style="overflow: auto;height: 100px;width: 445px"  >
                                                                                                            <f:selectItems value="{purchaseOrderController.prmsContractList}" var="ss" itemLabel="{ss.depId.depName}" 
                                                                                                                           itemValue="{purchaseOrderController.papmsPurchaseOrder.purchaseRequestId.reqstrDepId.depName}"/>
                                                                                                        </p:selectOneListbox> 
                                                                                                        <p:message for="txtuser" display="icon"/>
                                                                                                    </div>                                                    
                                                                                                </div>-->
                                            </div>

                                            <div class="col-sm-6" >
                                                <div class="form-group textBoxMarginTop6px"> 
                                                    <h:outputLabel id="lblRegDate" for="calRegDate" class="col-sm-4 control-label"  value=" Date Registered: "/>
                                                    <div class="col-sm-8">                                  
                                                        <p:calendar id="calRegDate"   required="true"  mindate="today"  maxdate="today" readonlyInput="true" disabled="#{workFlow.readonly}"                  
                                                                    value="#{purchaseOrderController.papmsPurchaseOrder.rigistrationDate}" requiredMessage="Please enter Registered Date"                   
                                                                    pattern="yyyy/MM/dd" tabindex="4"   >
                                                            <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                        </p:calendar>
                                                        <p:message for="calRegDate" display="icon"/>
                                                    </div>
                                                </div>
                                                <div class="form-group textBoxMarginTop6px"> 
                                                    <h:outputLabel  id="lblContractNo" class="col-sm-4 control-label"  value="Contract No:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtContractNo" style="width: 100%" value="#{purchaseOrderController.papmsPurchaseOrder.contractId}"
                                                                         disabled="#{workFlow.readonly}" converter="entConverter" 
                                                                         valueChangeListener="#{purchaseOrderController.valueChangeFrContNo}">
                                                            <f:selectItem itemLabel="--select one--" noSelectionOption="true"  />
                                                            <f:selectItems value="#{purchaseOrderController.prmsContractList}" var="cont" itemLabel="#{cont.contractNo}" itemValue="#{cont}"/>
                                                            <p:ajax process="@this,currencyPanel, currency_Dt" update="submissionDt,totalCalcul,txtsupplier,currencyPanel, currency_Dt,pnlbidtpesLocal"  event="change" />
                                                        </p:selectOneMenu>   
                                                        <p:message for="txtContractNo" display="icon"/>
                                                    </div>
                                                </div>

                                                <h:panelGroup style="border: 0px; background-color: transparent" id="pnlbidtpesLocal" rendered="#{purchaseOrderController.renderLocal}" >
                                                    <div class="form-group textBoxMarginTop6px">  
                                                        <h:outputLabel id="lblPurchaseType" for="txtsupplier" class="col-sm-4 control-label"  value="Supplier:"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText id="txtsupplier" class="form-control"  value="#{purchaseOrderController.prmsContract.suppId.vendorName}" readonly="true"/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group textBoxMarginTop6px ">
                                                        <h:outputLabel class="control-label col-sm-4"  value="Currency:"/>
                                                        <div class="col-sm-8"> 
                                                            <!--<p:inputText id="txtCurrenc1" class="form-control" readonly="true" value="{purchaseOrderController.prmsContract.currency}"  />-->
                                                            <h:panelGroup id="currencyPanel">
                                                                <p:dataTable id="currency_Dt" value="#{purchaseOrderController.prmsPoCurrencysModel}" 
                                                                             style="margin-bottom:20px;" lazy="true" var="rowContacttwo" rowKey="#{rowContacttwo.id}" editable="true">                                                                  
                                                                    <p:column headerText="Currency" rendered="true">                                                                        
                                                                        <p:inputText id="txtcurrency_l" value="#{rowContacttwo.currencyId}" class="form-control" readonly="true"/>                                                                      
                                                                    </p:column>
                                                                    <p:column headerText="Amount">
                                                                        <p:inputText id="txtSequence" value="#{rowContacttwo.amount}" required="true" class="form-control" readonly="true"/>
                                                                    </p:column>
                                                                </p:dataTable>  
                                                            </h:panelGroup> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group textBoxMarginTop6px ">
                                                        <h:outputLabel class="control-label col-sm-4"  value="Bid Type:"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText id="txtBidT" class="form-control" readonly="true" value="#{purchaseOrderController.eepBidReg.bidType}"  />
                                                        </div>
                                                    </div>

                                                    <div class="form-group textBoxMarginTop6px"> 
                                                        <h:outputLabel id="lblPaNo" class="col-md-4 control-label" value="Minutes No:"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText id="txQuatationIde" class="form-control" value="#{purchaseOrderController.papmsPurchaseOrder.minuitNo}" disabled="#{workFlow.readonly}"/>
                                                            <p:message for="txQuatationIde" display="icon"/>
                                                        </div>
                                                    </div>

                                                </h:panelGroup>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="checkListInfoPanel1" rendered="#{purchaseOrderController.renderPerfoma}" >
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group textBoxMarginTop6px"> 
                                                    <h:outputLabel id="lblrequest1" for="txtrequest" class="col-sm-4 control-label"  value="Quotation No:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtrequest1" style="width: 100%" 
                                                                         value="#{purchaseOrderController.papmsPurchaseOrder.quotationId}" converter="entConverter" required="true"
                                                                         valueChangeListener="#{purchaseOrderController.changeEventSupp}">
                                                            <f:selectItems value="#{purchaseOrderController.getListOfQuotation()}" var="quotation" />
                                                            <p:ajax process="@this" update="txtsupplier1,txtbidNumber1,txtEndUser"  event="change" />
                                                        </p:selectOneMenu>   
                                                        <p:message for="txtrequest1" display="icon"/>
                                                    </div>
                                                </div>
                                                <div class="form-group textBoxMarginTop6px"> 
                                                    <h:outputLabel id="lblbidNumber1" for="txtbidNumber1" class="col-sm-4 control-label" value="PR No:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneListbox id="txtbidNumber1" style="overflow: auto;height: 100px;width: 400px;text-decoration-color: #111"  value="#{purchaseOrderController.prmsPurchaseRequest}"   
                                                                            disabled="true" converter="entConverter">
                                                            <f:selectItems value="#{purchaseOrderController.prmsPurchaseRequestList}" var="pr" itemValue="#{pr.prNumber}" />
                                                        </p:selectOneListbox>
                                                        <p:message for="txtbidNumber1" display="icon"/>
                                                    </div>
                                                </div>

                                                <div class="form-group textBoxMarginTop6px"> 
                                                    <h:outputLabel id="lblPurchaseType1" for="txtsupplier1" class="col-sm-4 control-label"  value="Supplier:"/>
                                                    <div class="col-sm-8">

                                                        <p:selectOneMenu id="txtsupplier1" style="width: 100%" 
                                                                         value="#{purchaseOrderController.papmsPurchaseOrder.suppId}" required="true" converter="entConverter"
                                                                         valueChangeListener="#{purchaseOrderController.VCLsupplier}"  >
                                                            <f:selectItem itemLabel="--select one--" noSelectionOption="true"  />
                                                            <f:selectItems value="#{purchaseOrderController.prmsSupplyProfiList}"
                                                                           var="aa" itemLabel="#{aa.vendorName}" itemValue="#{aa}" />
                                                            <p:ajax process="@this" update="submissionDt1,totalCalcul"  event="change" />
                                                        </p:selectOneMenu>  
                                                        <p:message for="txtsupplier1" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group textBoxMarginTop6px"> 
                                                    <h:outputLabel id="lblRegDate1" for="calRegDate" class="col-sm-4 control-label" value=" Date Rigistered: "/>
                                                    <div class="col-sm-8">                                
                                                        <p:calendar id="calRegDate1"   required="true"  mindate="today"  maxdate="today" readonlyInput="true"                   
                                                                    value="#{purchaseOrderController.papmsPurchaseOrder.rigistrationDate}"                    
                                                                    pattern="yyyy/MM/dd" tabindex="4">
                                                            <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                        </p:calendar>
                                                        <p:message for="calRegDate1" display="icon"/>
                                                    </div>
                                                </div>

                                                <div class="form-group textBoxMarginTop6px"> 
                                                    <h:outputLabel id="lblEndusers" class="col-sm-4 control-label" value="End User:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneListbox id="txtEndUser" style="overflow: auto;height: 100px;width: 400px" disabled="true" value="#{purchaseOrderController.hrDepartments}">
                                                            <f:selectItems value="#{purchaseOrderController.hrDepartmentsesList}" var="deptName" itemLabel="#{deptName.depName}" />
                                                        </p:selectOneListbox>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </h:panelGroup>                                
                            </div>
                        </div>
                    </div>    
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Purchase Order Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="panel-body">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="checklistTbl" rendered="#{purchaseOrderController.purchaseTypeFrmBid}" >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="submissionDt" value="#{purchaseOrderController.prmsPurOrderDetailsModel}" rowIndexVar="rowContact" var="contact" paginator="true" paginatorPosition="bottom" editable="true">
                                                        <p:column headerText="No.">
                                                            <h:outputText value="#{rowContact + 1}"/>
                                                        </p:column>
                                                        <p:column headerText="Material Name" rendered="#{purchaseOrderController.goodsFrmBid}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.itemId.matName}" /></f:facet>
                                                                <f:facet name="input"><p:inputText  value="#{contact.itemId.matName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Service Name" rendered="#{purchaseOrderController.servicefrmBid}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.serviceId.serviceName}" /></f:facet>
                                                                <f:facet name="input"><p:inputText  value="#{contact.serviceId.serviceName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Work Name" rendered="#{purchaseOrderController.workNameFrmBid}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.serviceId.workName}" /></f:facet>
                                                                <f:facet name="input"><p:inputText  value="#{contact.serviceId.workName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Quantity">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.quantity}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="submission" value="#{contact.quantity}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Unit Price">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.unitPrice}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="alternate" value="#{contact.unitPrice}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Total Price">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{purchaseOrderController.totalPrice}"/></f:facet>
                                                                <f:facet name="input"><h:outputText id="total" value="#{purchaseOrderController.totalPrice}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="checklistTbl1" rendered="#{purchaseOrderController.purchaseTypefrmPerforma}" >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="submissionDt1" value="#{purchaseOrderController.prmsPurOrderDetailsModel}" rowIndexVar="rowContact" var="contact"
                                                                 paginator="true" paginatorPosition="bottom" editable="true">
                                                        <p:column headerText="No.">
                                                            <h:outputText value="#{rowContact + 1}"/>
                                                        </p:column>
                                                        <p:column rendered="#{purchaseOrderController.goodsFrmProfoma}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Item Name"/>
                                                            </f:facet>
                                                            <h:outputText value="#{contact.itemId.matName}"/>
                                                        </p:column>
                                                        <p:column headerText="Service Name" rendered="#{purchaseOrderController.serviceFrmProfoma}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.serviceId.serviceName}" /></f:facet>
                                                                <f:facet name="input"><p:inputText  value="#{contact.serviceId.serviceName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Work Name" rendered="#{purchaseOrderController.workNameFrmBid}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.serviceId.workName}"/></f:facet>
                                                                <f:facet name="input"><p:inputText  value="#{contact.serviceId.workName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Unit Measure">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.itemId.unitMeasure1}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="Document1" value="#{contact.itemId.unitMeasure1}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Quantity">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.quantity}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="submission1" value="#{contact.quantity}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Unit Price">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.unitPrice}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="alternate1" value="#{contact.unitPrice}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Total Price">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.total}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="total1" value="#{contact.total}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>

                                    <h:panelGroup id="totalCalcul">
                                        <div class="form-group">        
                                            <div class="col-sm-8 col-sm-push-7">
                                                <div class="form-horizontal  col-sm-12">      

                                                    <div class="form-group"> 
                                                        <h:outputLabel id="lblPurcasdfahaseType" class="control-label col-sm-4" value="Total Sum :"/>
                                                        <div class="col-sm-6">
                                                            <h:outputLabel id="lblvaluessss" class="control-label" value="#{purchaseOrderController.totalSum}"/>
                                                        </div> 
                                                    </div>
                                                    <div class="form-group"> 
                                                        <h:outputLabel id="lblPaseType" class="control-label col-sm-4" value="Total Vat :"/>
                                                        <div class="col-sm-6">
                                                            <h:outputLabel id="lblvaluessssssss" class="control-label" value="#{purchaseOrderController.totalvat}"/>
                                                        </div> 
                                                    </div>
                                                    <div class="form-group"> 
                                                        <h:outputLabel id="lblPudfrcasdfahaseType" class="control-label col-sm-4" value="Grand Total:"/>
                                                        <div class="col-sm-6">
                                                            <h:outputLabel id="lblvaluedfssss" class="control-label" value="#{purchaseOrderController.groundTotal}"/>
                                                        </div> 
                                                    </div>
                                                    <div class="form-group"> 
                                                        <h:outputLabel id="lblWithHold" class="control-label col-sm-4" value="With Hold:"/>
                                                        <div class="col-sm-6">
                                                            <h:outputLabel id="lblvaluedWtihHold" class="control-label" value="#{purchaseOrderController.papmsPurchaseOrder.withhold}"/>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup id="pnlsaves">
                                        <section class="panel panel-info">
                                            <section class="panel-body">  
                                                <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-12">                      
                                                            <div class="box-body"> 
                                                                <div class="col-md-6">
                                                                    <div class="form-group col-sm-12 textBoxMargin6px">
                                                                        <div class="form-group required form-horizontal">
                                                                            <h:outputLabel  class="control-label col-sm-4" value="Decision: " rendered="#{purchaseOrderController.renderDecision}" /> 
                                                                            <div class="col-sm-8">
                                                                                <p:selectOneMenu id="drddecision" value="#{purchaseOrderController.wfPrmsProcessed.decision}" required="true" requiredMessage="Select Decision" 
                                                                                                 style="width: 100%" valueChangeListener="#{contractAmendmentCotroller.handleDecision}" rendered="#{contractAmendmentCotroller.renderDecision}" >
                                                                                    <f:selectItem itemLabel="---Select---" itemValue=""/>
                                                                                    <f:selectItem itemLabel="Approved" itemValue="Approve"/>
                                                                                    <f:selectItem itemLabel="Rejected" itemValue="Reject"/>                                                                                       
                                                                                </p:selectOneMenu>
                                                                                <p:message for="drddecision" display="icon"/>
                                                                            </div>  
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group form-horizontal form-group">
                                                                            <p:outputLabel  for="txtComment" class="control-label col-sm-4" value="Comment Given:" rendered="#{purchaseOrderController.renderDecision}"/>
                                                                            <div class="col-sm-8">
                                                                                <p:inputTextarea id="txtComment" class="form-control"  value="#{purchaseOrderController.wfPrmsProcessed.commentGiven}" title="Remark"  rendered="#{purchaseOrderController.renderDecision}"
                                                                                                 required="false"  requiredMessage="Enter Plan" validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only"/>
                                                                            </div> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">

                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group form-horizontal form-group">
                                                                            <p:outputLabel  id="txtProcessedByw" class="control-label col-sm-4" value="Processed By:"/>
                                                                            <div class="col-sm-8">
                                                                                <p:inputText  id="txtProcessedBy" readonly="true"  class="form-control"
                                                                                              value="#{purchaseOrderController.userName}" title="descripition"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12 textBoxMargin6px">
                                                                        <div class="form-group form-horizontal ">
                                                                            <p:outputLabel  for="calprocessed" id="lblApproved" value="Processed Date:"  class="control-label col-sm-4" />
                                                                            <div class="col-sm-8">
                                                                                <p:calendar id="calprocessed" placeholder="yyyy/mm/dd" pattern="yyyy/mm/dd" autocomplete="off" value="#{purchaseOrderController.wfPrmsProcessed.processedOn}">
                                                                                    <f:convertDateTime pattern="yyyy/mm/dd"/>
                                                                                </p:calendar>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h:panelGroup>
                                            </section>
                                        </section>
                                        <div class="form-horizontal col-sm-12">
                                            <div class="col-sm-6">
                                                <div class="form-group textBoxMarginTop6px "> 
                                                    <div class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="save" value="#{purchaseOrderController.saveorUpdateBundle}" icon="ui-icon-new" validateClient="true" 
                                                                         class="btn btn-primary col-lg-4" process="@this,BidSubmissionMain:checklistTbl,BidSubmissionMain:checklistTbl1,:BidSubmissionMain,totalCalcul,:BidSubmissionMain:currencyPanel,currency_Dt"   
                                                                         update="checklistTbl,checklistTbl1,:BidSubmissionMain,:BidSubmissionMain:currencyPanel,currency_Dt" action="#{purchaseOrderController.save_PurchaseOrder()}" /> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
