<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li><a href="StockItemInitialBalance.xhtml"><i class="fa fa-circle-o"></i> Stock Item Initial Balance</a></li>
        <li><a href="StockLedgerCard.xhtml"><i class="fa fa-circle-o"></i> Stock Ledger Card</a></li>
        <li><a href="FmsInventoryCountSheet.xhtml"><i class="fa fa-circle-o"></i> Inventory Count Sheet</a></li>
        <li><a href="StockRevaluation.xhtml"><i class="fa fa-circle-o"></i> Stock Revaluation</a></li>  
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <a href="FmsStockReport.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>
        <!-- Search Tax-->

        <!--Tax Register-->
        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Stock Report </h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="pnlGrpTaxRegister" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblFromDate" class="control-label col-sm-4" value="From Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="txtFromDate" pattern="dd/MM/yyyy" placeholder="dd/mm/yyyy" required="true" requiredMessage="Date Value is Required"
                                                                    converterMessage="Value must be Date" >
                                                            <p:ajax event="dateSelect" update="toDate" 
                                                                    listener="#{fmsStockReportController.handleDateFrom}"/>
                                                        </p:calendar>
                                                        <p:message for="txtFromDate" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblToDate" class="control-label col-sm-4" value="To Date:"/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="toDate" pattern="dd/MM/yyyy" placeholder="dd/mm/yyyy" required="true" requiredMessage="Date Value is Required" 
                                                                    mindate="#{fmsStockReportController.getMinDate()}" converterMessage="Value must be Date" >
                                                            <p:ajax event="dateSelect"  
                                                                    listener="#{fmsStockReportController.handleDateTo}"/>
                                                        </p:calendar>
                                                        <p:message for="toDate" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4"  value="Bach Id:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtBachId" value="#{fmsStockReportController.bachId}" class="form-control" required="true" requiredMessage="Value is Required"/>
                                                        <p:message for="txtBachId" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblTaxReportFormat" class="control-label col-sm-4" value="Report Format:"/>                                                    
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="selectrportformat"  style="width: 100%" valueChangeListener="#{fmsStockReportController.onSelectReportType}"
                                                                         value="#{fmsStockReportController.reportFormat}" required="true" requiredMessage="Value is Required">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                            <f:selectItem itemLabel="CSV" itemValue="csv" />
                                                            <f:selectItem itemLabel="Xlsx" itemValue="xlsx" />
                                                            <f:selectItem itemLabel="Html" itemValue="html" />
                                                            <f:selectItem itemLabel="Pdf" itemValue="pdf" />
                                                            <f:selectItem itemLabel="Docx" itemValue="docx" />
                                                            <p:ajax  event="valueChange" update=":frmRegisterUI"/>                                                           
                                                        </p:selectOneMenu>
                                                        <p:message for="selectrportformat" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">                                                                
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="lblbuttonaSave" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="rptGenerate" class="btn btn-primary" validateClient="true"                                                  
                                                                         value="Generate"
                                                                         action="#{fmsStockReportController.generateStockReport()}" 
                                                                         process="@this,pnlGrpTaxRegister" 
                                                                         update="@this,pnlGrpTaxRegister" ajax="#{fmsStockReportController.ajax}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
