<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li><a href="StockItemInitialBalance.xhtml"><i class="fa fa-circle-o"></i> Stock Item Initial Balance</a></li>
        <li><a href="FmsInventoryCountSheet.xhtml"><i class="fa fa-circle-o"></i> Inventory Count Sheet</a></li>
        <li><a href="StockRevaluation.xhtml"><i class="fa fa-circle-o"></i> Stock Revaluation</a></li>
        <li><a href="FmsStockReport.xhtml"><i class="fa fa-circle-o"></i>  Stock Report</a></li> 
    </ui:define>
    <ui:define name="search">  
        <p:growl id="growl" showDetail="true" severity="information" autoUpdate="true" />
        <!-- search form -->
        <!-- /.search form -->
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="backface-visibility: hidden;border-color:transparent;background: #ffffff " >
                <f:facet name="right">
                    <p:commandButton id="btnIcone" style="background-color: white; border-color: white" 
                                     action="#{fmsStockLedgerCardControler.createNewStockLedgerInfo()}"
                                     icon="#{fmsStockLedgerCardControler.icone}" validateClient="true"
                                     process="@this" update="@this, :frmRegisterUI, :frmMainUI, :frmSample"
                                     title="#{fmsStockLedgerCardControler.createOrSearchBundle}"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="StockLedgerCard.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{fmsStockLedgerCardControler.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Stock Ledger Card Transactions ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmSearchStock" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel value="Material Code:" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="SearchStockLedgerByMatCode" value="#{fmsStockLedgerCardControler.fmsStockLedgerCard.materialCode}" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel value="Store Number:" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="SearchStockLedgerByStoreNo" value="#{fmsStockLedgerCardControler.fmsStockLedgerCard.storeNo}" class="form-control"/> 
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="FindInfo" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnSearch" class="btn btn-primary" 
                                                                         action="#{fmsStockLedgerCardControler.searchMatCodeANDStoreNoByParameter}"
                                                                         icon="ui-icon-search" 
                                                                         process="@this,:frmMainUI:frmStockLedgerCardSearch, 
                                                                         :frmMainUI:SearchStockLedgerByStoreNo, :frmMainUI:SearchStockLedgerByMatCode" 
                                                                         update="@this,:frmMainUI:frmStockLedgerCardSearch:tblStockLedgerCardSearch"
                                                                         value="Find" />             
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmStockLedgerCardSearch">   
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblStockLedgerCardSearch" value="#{fmsStockLedgerCardControler.stockLedgerListModel}"
                                                             rows="10" class="dataTable footer" var="dtStock" paginator="true" paginatorPosition="bottom" 
                                                             rowsPerPageTemplate="5,10,15" rowIndexVar="num"  resizableColumns="true"  scrollable="true">
                                                    <p:column headerText="Account Code" filterBy="#{dtStock.accountCode}" filterMatchMode="contains" sortBy="#{dtStock.accountCode}" width="140">
                                                        <h:outputText value="#{dtStock.accountCode}"/>
                                                    </p:column>
                                                    <p:column headerText="Material Code" filterBy="#{dtStock.materialCode}" filterMatchMode="contains" sortBy="#{dtStock.materialCode}" width="140">
                                                        <h:outputText value="#{dtStock.materialCode}"/>
                                                    </p:column>
                                                    <p:column headerText="Material Name" filterBy="#{dtStock.materialName}" filterMatchMode="contains" sortBy="#{dtStock.materialName}" width="200" style="text-align: left">
                                                        <h:outputText value="#{dtStock.materialName}"/>
                                                    </p:column>  
                                                    <p:column headerText="Store" filterBy="#{dtStock.storeNo}" filterMatchMode="contains" sortBy="#{dtStock.storeNo}" width="80" style="text-align: left">
                                                        <h:outputText value="#{dtStock.storeNo}"/>
                                                    </p:column>                        
                                                    <p:column headerText="Current Price" style="text-align: right" width="80">
                                                        <h:outputText value="#{dtStock.currentPrice}" converter="#{fmsStockLedgerCardControler.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Current Quantity" style="text-align: right">
                                                        <h:outputText value="#{dtStock.currentQuantity}"/>
                                                    </p:column>
                                                    <p:column headerText="Amount in Birr" style="text-align: right" width="120">
                                                        <h:outputText value="#{dtStock.currentPrice * dtStock.currentQuantity}" converter="#{fmsStockLedgerCardControler.numberConverter}"/>
                                                    </p:column>
                                                    <p:column headerText="Previous Quantity" style="text-align: right"  width="80">
                                                        <h:outputText value="#{dtStock.prvQuantity}"/>
                                                    </p:column>
                                                    <p:column headerText="current Total Quantity" style="text-align: right" width="80">
                                                        <h:outputText value="#{dtStock.currentTotalQuantity}"/>
                                                    </p:column>                     
                                                    <p:column headerText="Weight Avarage Price" style="text-align: right" width="80">
                                                        <h:outputText value="#{dtStock.weightAvgPrice}" converter="#{fmsStockLedgerCardControler.numberConverter}"/>
                                                    </p:column>                         
                                                </p:dataTable> 
                                            </div>                 
                                        </div>    
                                    </div>  
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>

        <!-- Registration Form-->
        <h:form  id="frmRegisterUI" class="form-horizontal"> 
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" 
                          rendered="#{fmsStockLedgerCardControler.renderPnlCreateStockLedger}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Stock Ledger Card</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="form-horizontal  col-sm-12"> 
                                    <div class="col-md-12">                                        
                                        <div class="col-md-6">                                                                      
                                            <div class="col-md-12">
                                                <div class="col-md-12 textBoxMargin6px form-group required">
                                                    <h:outputLabel class="control-label col-sm-4" value= "Store:"/>
                                                    <div class="col-sm-8"> 
                                                        <p:selectOneMenu id="selectMatByStore" value="#{fmsStockLedgerCardControler.mmsStoreInformation}"  filterMatchMode="contains" filter="true"
                                                                         valueChangeListener="#{fmsStockLedgerCardControler.onChengeStore}" converter="entConverter" required="true" requiredMessage="Store Value is Required">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                            <f:selectItems value="#{fmsStockLedgerCardControler.storeList}" var="storeVar"
                                                                           itemLabel="#{storeVar.storeName}" itemValue="#{storeVar}"/>
                                                            <p:ajax  event="valueChange" process="@this" update="SelectType,tbleMaterialInformation" />

                                                        </p:selectOneMenu>
                                                        <p:message for="selectMatByStore" display="icon" />  
                                                    </div>
                                                </div> 
                                                <div class="col-md-12 textBoxMargin6px form-group required">
                                                    <h:outputLabel  for="SelectType" class="control-label col-sm-4" value="Select Type:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneRadio id="SelectType" layout="grid" columns="6" 
                                                                          valueChangeListener="#{fmsStockLedgerCardControler.findTranType}"  
                                                                          required="true" requiredMessage="Please Select a Type">
                                                            <f:selectItem itemLabel="GRN" itemValue="GRN" />
                                                            <f:selectItem itemLabel="SRN" itemValue="SRN" />
                                                            <f:selectItem itemLabel="ISIV-I" itemValue="ISIV-I" />
                                                            <f:selectItem itemLabel="ISIV-R" itemValue="ISIV-R" />
                                                            <f:selectItem itemLabel="SIV" itemValue="SIV" />
                                                            <p:ajax  event="valueChange"  process="@this" 
                                                                     update="tbleMaterialInformation, selectTransactionsType"/> 
                                                        </p:selectOneRadio>
                                                        <p:message for="SelectType" display="icon"/>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 textBoxMargin6px">
                                                    <div class="form-group form-horizontal required">
                                                        <h:outputLabel class="control-label col-sm-4" value= "Reference-Number:"/>
                                                        <div class="col-sm-8"> 
                                                            <p:selectOneMenu  id="selectTransactionsType" required="true" requiredMessage="Reference Number. is Required" 
                                                                              valueChangeListener="#{fmsStockLedgerCardControler.findMaterialCodeOnChange}"
                                                                              filter="true" filterMatchMode="contains" style="width:100%">
                                                                <f:selectItems value="#{fmsStockLedgerCardControler.list}"  /> 
                                                                <p:ajax  event="change" process="selectTransactionsType" update="@this,:frmRegisterUI:tbleMaterialInformation" /> 
                                                            </p:selectOneMenu>
                                                            <p:message for="selectTransactionsType" display="icon" />  
                                                        </div> 
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p:dataTable id="tbleMaterialInformation" value="#{fmsStockLedgerCardControler.slcDataModel}" 
                                                     rows="10" class="dataTable footer" var="dtStock" paginator="true" paginatorPosition="bottom"
                                                     rowsPerPageTemplate="5,10,15" >
                                            <p:column headerText="Material Code" filterBy="#{dtStock.materialCode}" filterMatchMode="contains" sortBy="#{dtStock.materialCode}" width="140">
                                                <h:outputText value="#{dtStock.materialCode}"/>
                                            </p:column>
                                            <p:column headerText="Material Name" filterBy="#{dtStock.materialName}" filterMatchMode="contains" sortBy="#{dtStock.materialName}" width="310" style="text-align: left">
                                                <h:outputText value="#{dtStock.materialName}"/>
                                            </p:column>  
                                            <p:column headerText="Store" filterBy="#{dtStock.storeNo}" filterMatchMode="contains" sortBy="#{dtStock.storeNo}" width="80" style="text-align: right">
                                                <h:outputText value="#{dtStock.storeNo}"/>
                                            </p:column>                        
                                            <p:column headerText="Quantity" style="text-align: right">
                                                <h:outputText value="#{dtStock.currentQuantity}"/>
                                            </p:column>
                                            <p:column headerText="Unit Price" style="text-align: right">
                                                <h:outputText value="#{dtStock.currentPrice}" converter="#{fmsStockLedgerCardControler.numberConverter}"/>
                                            </p:column>
                                            <p:column headerText="Total Price" style="text-align: right">
                                                <h:outputText value="#{dtStock.currentQuantity * dtStock.currentPrice }" converter="#{fmsStockLedgerCardControler.numberConverter}"/>
                                            </p:column>                    -->
                                            <p:column headerText="Total Quantity" style="text-align: right">
                                                <h:outputText value="#{dtStock.currentTotalQuantity}"/>
                                            </p:column> 
                                            <p:column headerText="Weight Avarage Price" style="text-align: right">
                                                <h:outputText value="#{dtStock.weightAvgPrice}"/>
                                            </p:column> 
                                        </p:dataTable> 
                                    </div>
                                    <div class="col-md-12">                                        
                                        <div class="col-md-6">                                                                      
                                            <div class="col-md-12">
                                                <div class="col-md-12 textBoxMargin6px">
                                                    <div class="form-group form-horizontal">
                                                        <h:outputLabel id="lblBtnSave" class="control-label col-sm-6"/>
                                                        <div class="col-sm-6">
                                                            <p:commandButton id="btnSave" class=" btn btn-primary"
                                                                             action="#{fmsStockLedgerCardControler.saveStockLedgerCard()}"
                                                                             validateClient="true" 
                                                                             value="#{fmsStockLedgerCardControler.saveorUpdateBundle}" 
                                                                             process="@this,:frmRegisterUI:registerUI" update=":frmRegisterUI:tbleMaterialInformation,selectTransactionsType,:frmRegisterUI:registerUI"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>          
