<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="../../resources/templates/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="navigaion_content">  
        <!-- search form -->

        <li class="header">MAIN NAVIGATION</li>           

        <li class="treeview">       
            <a href="../../HomePage.xhtml"><i class="fa fa-home"></i><i class="fa fa-angle-double-left pull-right"></i> Home </a>
        </li>

        <li class="treeview">

            <a href="#treeview-menu">
                <i class="fa fa-tasks"></i>
                <span>Procurement Plan</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="ProcurementPlan/ServiceAndWorkRegistration.xhtml"><i class="fa fa-circle-o"></i>  Service And Work Registration  </a>
                </li>
                <li>
                    <a href="ProcurementPlan/MarketAssessment.xhtml"><i class="fa  fa-circle-o"></i>  Market Assessment  </a>
                </li>
                <li>
                    <a href="ProcurementPlan/ProcurementAnnualPlan.xhtml"><i class="fa  fa-circle-o"></i>  Annual Procurement Plan  </a>
                </li>
                <li>
                    <a href="ProcurementPlan/PurchaseRequistionInfo.xhtml"><i class="fa  fa-circle-o"></i>  Purchase Request  </a>
                </li>
                <li>
                    <a href="ProcurementPlan/ProjectProcurementPlan.xhtml"><i class="fa  fa-circle-o"></i>  Project Plan  </a>
                </li>
            </ul>
        </li>

        <li class="treeview">

            <a href="#treeview-menu">
                <i class="fa fa-info-circle"></i>
                <span>Supplier Information</span>
                <i class="fa fa-angle-left pull-right"></i>

            </a>

            <ul class="treeview-menu">
                <li><a href="SupplierInformation/SupplierProfile.xhtml"><i class="fa  fa-circle-o"></i>Supplier Profile</a></li> 
                <li>
                    <a href="SupplierInformation/SupplierPerformanceInformation.xhtml"><i class="fa fa-circle-o"></i>Supplier Performance</a>
                </li>
                <li>
                    <a href="SupplierInformation/BidderRegistration.xhtml"><i class="fa  fa-circle-o"></i>Bidder Registration</a>
                </li>
                <li>
                    <a href="SupplierInformation/BidSubmissionForm.xhtml"><i class="fa  fa-circle-o"></i>Bid Submission Form</a>
                </li>
                <li>
                    <a href="SupplierInformation/BidOpeningCheckList.xhtml"><i class="fa  fa-circle-o"></i>Bid Opening CheckList</a>
                </li>
                <li><a href="SupplierInformation/SupplierSpecfication.xhtml"><i class="fa  fa-circle-o"></i>Supplier Specification</a></li>
            </ul>
        </li>

        <li class="treeview">

            <a href="#treeview-menu">
                <i class="fa fa-suitcase" ></i>
                <span>Bid And Evaluation</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu">
                <li>
                    <a href="Bids And Evaluation/BidCriteria.xhtml"><i class="fa  fa-circle-o "></i> Bid Criteria</a>
                </li>
                <li><a href="Bids And Evaluation/BidRegistration.xhtml"><i class="fa fa-circle-o"></i> <span>Bid Registration</span></a></li> 

                <li><a href="Bids And Evaluation/BidRegistrationAmend.xhtml"><i class="fa fa-circle-o "></i> <span>Bid Registration Amend</span></a></li> 
                <li>
                    <a href="Bids And Evaluation/PreminilaryEvaluation.xhtml"><i class="fa  fa-circle-o"></i> Preliminary  Evaluation</a>
                </li>
                <li>
                    <a href="Bids And Evaluation/TechnicalEvaluation.xhtml"><i class="fa  fa-circle-o "></i>Technical Evaluation</a>
                </li>
                <li>
                    <a href="Bids And Evaluation/FinancialEvaluation.xhtml"><i class="fa  fa-circle-o "></i>Financial Evaluation</a>
                </li>
                <li>
                    <a href="Bids And Evaluation/PRMSEvaluationResult.xhtml"><i class="fa  fa-circle-o "></i>Evaluation Result</a>
                </li>
                <li>
                    <a href="Bids And Evaluation/PostQualification.xhtml"><i class="fa  fa-circle-o "></i>Post Qualification</a>
                </li>
            </ul>
        </li>

        <li class="treeview">            
            <a href="#treeview-menu">
                <i class="fa fa-area-chart"></i>
                <span> Purchase Information</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>

            <ul class="treeview-menu">
                <li>
                    <a href="Purchase Infomation/Quotation.xhtml"><i class="fa  fa-circle-o"></i>Quotation</a>
                </li>
                <li>
                    <a href="Purchase Infomation/finalAward.xhtml"><i class="fa  fa-circle-o"></i> Award</a>
                </li>
                <li>
                    <a href="Purchase Infomation/purchaseOrder.xhtml"><i class="fa  fa-circle-o"></i>Purchase Order</a>
                </li>
                <li>
                    <a href="Purchase Infomation/contractInformation.xhtml"><i class="fa  fa-circle-o"></i>Contract Information</a>
                </li>
                <li>
                    <a href="Purchase Infomation/contractAmendment.xhtml"><i class="fa fa-circle-o"></i>Contract Amendment</a>
                </li>               
                <li>
                    <a href="Purchase Infomation/requestForPayment.xhtml"><i class="fa  fa-circle-o"></i>Request For Payment</a>
                </li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-car"></i>
                <span>Transit Information</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="TransitManagement/PortEntry.xhtml"><i class="fa  fa-circle-o"></i>Port Entry</a>
                </li>
                <li>
                    <a href="TransitManagement/serviceProvider.xhtml"><i class="fa  fa-circle-o"></i>Service Provider</a>
                </li>
                <li>
                    <a href="TransitManagement/ForeignExchange.xhtml"><i class="fa  fa-circle-o"></i>Foreign Currency Exchange</a>
                </li>
                <li>
                    <a href="TransitManagement/InsuranceRegistrationForm.xhtml"><i class="fa  fa-circle-o"></i>Insurance Registration Form</a>
                </li>
                <li>
                    <a href="TransitManagement/LCInformation.xhtml"><i class="fa  fa-circle-o"></i>Letter Of Credit Information</a>
                </li>
                <li>
                    <a href="TransitManagement/LCRegAmendment.xhtml"><i class="fa  fa-circle-o"></i>Letter Of Credit Amendment</a>
                </li>
                <li>
                    <a href="TransitManagement/BankClearanceRegistration.xhtml"><i class="fa  fa-circle-o"></i>Bank Clearance Registration</a>
                </li>
            </ul>
        </li>

    </ui:define>

    <ui:define name="contents">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class=" col-md-12">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">26</div>
                                        <div>Total Supplier Registration</div>
                                    </div>
                                </div>
                            </div>

                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-gavel fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">12</div>
                                        <div>Total Bid Registration</div>
                                    </div>
                                </div>
                            </div>

                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-certificate fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">10</div>
                                        <div>Total Service and Work Registration</div>
                                    </div>
                                </div>
                            </div>

                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">8</div>
                                        <div>Total Ports</div>
                                    </div>
                                </div>
                            </div>

                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border"><!-- box-header -->
                        <!--Enter Your Box Header Here-->
                    </div><!-- /.box-header -->

                    <div class="box-body"><!-- box-body -->

                        <!--Enter Your Chart Here-->

                    </div><!-- /.box-body -->

                </div><!-- /.box -->
            </div>
            <!-- /.col -->
            <!-- /.row -->
        </div>
    </ui:define>

</ui:composition>
