<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="../../resources/templates/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" >
    <ui:define name="navigaion_content">  
        <!-- search form -->

        <li class="header">MAIN NAVIGATION</li>           
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-files-o"></i>
                <span>Layout Examples</span>
            </a>
            <ul class="treeview-menu">
                <li> <a href="prmsDashboard.xhtml"><i class="fa fa-circle-o"></i>Dashboard</a></li>
                <li><a href="/bootFace/erpPages/ibfms/payRoll/sample_2.xhtml"><i class="fa fa-circle-o"></i> Sample 2</a></li>
            </ul>
        </li> 

        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-files-o"></i>
                <span>Bid Management</span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="BidManagement/MarketAssesmentInfo.xhtml"><i class="fa fa-fw"></i>Market Assessment</a>
                </li>
                <li>
                    <a href="BidManagement/MarketAssesmentInfo.xhtml"><i class="fa fa-fw"></i>Market Assessment</a>
                </li>
                <li>
                    <a href="BidManagement/PurchasePlan.xhtml"><i class="fa fa-fw"></i>Purchase Plan</a>
                </li>
                <li>
                    <a href="BidManagement/PurchaseRequistionInfo.xhtml"><i class="fa fa-fw"></i>Purchase Request</a>
                </li>
                <li>
                    <a href="BidManagement/SupplierProfile.xhtml"><i class="fa fa-fw"></i>Supplier Profile</a>
                </li>
                <li>
                    <a href="BidManagement/BidRegistration.xhtml"><i class="fa fa-fw"></i>Bid Registration</a>
                </li>
                <li>
                    <a href="http://localhost:8080/EEP_ERP-war/erp/prms/BidManagement/BidDocumentSaleInfo.xhtml"><i class="fa fa-fw"></i>Bid Document Sale</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-files-o"></i>
                <span> Procurement Management</span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="PurchaseManagment/finalAward.xhtml"><i class="fa fa-fw"></i>final Award</a>
                </li>
                <li>
                    <a href="PurchaseManagment/contractInformation.xhtml"><i class="fa fa-fw"></i>contract Information</a>
                </li>
                <li>
                    <a href="PurchaseManagment/LCInformation.xhtml"><i class="fa fa-fw"></i>LC Information</a>
                </li>
                <li>
                    <a href="PurchaseManagment/LCRegAmendment.xhtml"><i class="fa fa-fw"></i>LC Amendment</a>
                </li>
                <li>
                    <a href="PurchaseManagment/purchaseOrder.xhtml"><i class="fa fa-fw"></i>purchase Order</a>
                </li>
                <li>
                    <a href="PurchaseManagment/requestForPayment.xhtml"><i class="fa fa-fw"></i>request For Payment</a>
                </li>
                <li>
                    <a href="PurchaseManagment/SupplierPerformanceInformation.xhtml><i class="fa fa-fw></i>Supplier Performance Information</a>
                </li>
                
                
            </ul>
        </li>
        request For Payment
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-files-o"></i>
                <span>Transit Management</span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="TransitManagement/PortEntry.xhtml"><i class="fa fa-fw"></i>Port Entry</a>
                </li>
                <li>
                    <a href="TransitManagement/serviceProvider.xhtml"><i class="fa fa-fw"></i>service Provider</a>
                </li>
                  <li>
                      <a href="TransitManagement/GoodsEntrance.xhtml"><i class="fa fa-fw"></i>Goods Entrance</a>
                </li>
                <li>
                    <a href="TransitManagement/ClaimRecordingForm.xhtml"><i class="fa fa-fw"></i>Claim Recording Form</a>
                </li>
                 <li>
                     <a href="TransitManagement/PostQualification.xhtml"><i class="fa fa-fw"></i>Post Qualification</a>
                </li>
                <li>
                    <a href="TransitManagement/ImportShippingInstruct.xhtml"><i class="fa fa-fw"></i>Import Shipping Instruct</a>
                </li>

            </ul>
        </li>
        <li><a href="ibfms/payRoll/PensionRateEntry.xhtml"><i class="fa fa-circle-o text-red"></i> <span>Pension Rate Entry</span></a></li>               

        <li class="header">Template Documentation  </li>

        <li><a href="documentation.xhtml"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <!-- /.search form -->
    </ui:define>

    <ui:define name="contents">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>Supplier Registration</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>Employee On Leave</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Terminated Employee</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Carousel</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://placehold.it/900x500/39CCCC/fffffftext=I+Love+Bootstrap" alt="First slide"/>
                                    <div class="carousel-caption">
                                        First Slide
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://placehold.it/900x500/3c8dbc/fffffftext=I+Love+Bootstrap" alt="Second slide"/>
                                    <div class="carousel-caption">
                                        Second Slide
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://placehold.it/900x500/f39c12/fffffftext=I+Love+Bootstrap" alt="Third slide"/>
                                    <div class="carousel-caption">
                                        Third Slide
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="fa fa-angle-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                    </div><!-- /.box-body -->


                </div><!-- /.box -->
            </div><!-- /.col -->

            <!-- /.row -->
        </div>

    </ui:define>

</ui:composition>
