<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li><a href="attendance.xhtml"><i class="fa fa-fw"></i> <span> Attendance </span></a></li>
        <li><a href="attendanceApprove.xhtml"><i class="fa fa-fw"></i> <span>Attendance Approve </span></a></li>
        <li><a href="attendanceReport.xhtml"><i class="fa fa-fw"></i> <span>Absent Employee View  </span></a></li>
    </ui:define>
    <ui:define name="contents">  
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandLink id="cmlView" class="fa fa-gear" onclick="PF('dlgWorkflow').show();"/>
                    <span class="ui-separator">
                    </span>
                    <p:commandButton id="btnNew" validateClient="true" action="#{attendanceController.createNewAdditionalAmount()}" 
                                     icon="#{attendanceController.icone}" style="background-color: white" 
                                     process="@this" update=":frmRequest,:frmSample"
                                     title="#{attendanceController.createOrSearchBundle}"/>
                    <span class="ui-separator">
                    </span>
                    <a href="attendance.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <p:commandButton id="btnTrash" type="button" style="background-color: white"  title="Delete" icon="ui-icon-trash"/>
                    <p:commandButton id="btnPrint" type="button" style="background-color: white"  title="Print" icon="ui-icon-print"/>
                </f:facet>
            </p:toolbar>           
        </h:form>
        <h:form id="frmRequest">
            <p:growl id="growl2" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{attendanceController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-header with-border">                                
                                <h3 class="box-title">Search <small> Attendance ...</small></h3>
                            </div>
                            <div class="box-body ">
                                <div class="box-body ">   
                                    <div class="col-md-12" >                                        
                                        <div class="col-sm-12">
                                            <div class="col-sm-6" > 
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group">
                                                        <h:outputLabel for="txtabsentdate" class="control-label col-sm-4" value="Prepared Date"/>  
                                                        <div class="col-sm-8">
                                                            <p:selectOneMenu id="txtabsentdate" style="width:100%" value="#{attendanceController.hrAttendances.preparedOn}"
                                                                             valueChangeListener="#{attendanceController.findByAbsentName}">
                                                                <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                <f:selectItems value="#{attendanceController.attendanceList}" var="list" 
                                                                               itemValue="#{list.preparedOn}" itemLabel="#{list.preparedOn}"/>   
                                                                <p:ajax event="change" process="@this" update="tblattendanceregistration"/>
                                                            </p:selectOneMenu> 
                                                        </div>   
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>  
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{attendanceController.renderPnlManPage}">               
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">                      
                            <div class="box-body ">                                
                                <div class="col-md-12" >  
                                    <div class="col-md-12" style="margn-top: 30px;">
                                        <div class="form-group">
                                            <p:dataTable id="tblattendanceregistration"   value="#{attendanceController.hrAttendancesDataModel}"
                                                         var="emp" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                         selection="#{attendanceController.selectedattendance}" rowKey="#{emp.id}" 
                                                         rows="10" paginator="true" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" process="@this" listener="#{attendanceController.populateRegistration}"
                                                        update=":frmRequest,:frmSample" />  
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Reported Date"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.reportedDate} "/>
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Prepared Month"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.month}" />
                                                </p:column>  
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Prepared Year"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.year}" />
                                                </p:column> 
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup id="pnlMainpage" style="border: 0px; background-color: transparent" rendered="#{attendanceController.renderPnlCreateAdditional}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Attendance Registration <small></small></h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <div class="box-body">
                                        <div class="box-body">
                                            <section class="panel panel-info">
                                                <section class="panel-body">
                                                    <h:panelGroup id="pnlrate">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="box-body">
                                                                    <div class="box-body">
                                                                        <div class="box-body">
                                                                            <div class="box-body">
                                                                                <div class="col-md-12">
                                                                                    <h:panelGroup id="pnl12" class="col-sm-12" >
                                                                                        <section class="panel panel-info">
                                                                                            <section class="panel-body">
                                                                                                <div class="col-md-6">
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="form-group form-group required  form-horizontal">
                                                                                                            <h:outputLabel value="Year:" class="col-md-4 control-label" />
                                                                                                            <div class="col-sm-8 textBoxMargin6px">
                                                                                                                <p:selectOneMenu id="yearselect" style="width:100%" value="#{attendanceController.hrAttendances.year}"
                                                                                                                                 required="true" requiredMessage="please select year">
                                                                                                                    <f:selectItems value="#{attendanceController.listOfYear}"/>
                                                                                                                </p:selectOneMenu> 
                                                                                                            </div>                                                                                                                              
                                                                                                        </div>                                                                                          
                                                                                                    </div>
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="form-group form-group required  form-horizontal">
                                                                                                            <h:outputLabel value="Reported Month:" class="col-md-4 control-label" />
                                                                                                            <div class="col-sm-8 textBoxMargin6px">
                                                                                                                <p:selectOneMenu id="monthselect" style="width:100%" value="#{attendanceController.hrAttendances.month}"
                                                                                                                                 required="true" requiredMessage="please select month">
                                                                                                                    <f:selectItems value="#{attendanceController.listOfmonth}"/>
                                                                                                                </p:selectOneMenu> 
                                                                                                            </div>                                                                                                                               
                                                                                                        </div>                                                                                          
                                                                                                    </div>
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="form-group form-group required  form-horizontal">
                                                                                                            <h:outputLabel value="Reported Date:" class="col-md-4 control-label" />
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="reporteddate" validator="#{validatorManagedBean.Remark}" value="#{attendanceController.hrAttendances.reportedDate}" readonly="true"   >
                                                                                                                </p:inputText> 
                                                                                                            </div>                                                                                                                               
                                                                                                        </div>                                                                                          
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-md-6">
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="form-group form-group required  form-horizontal">
                                                                                                            <h:outputLabel value="Prepared On:" class="col-md-4 control-label" />
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="preparedOndata" value="#{attendanceController.hrAttendances.preparedOn}" 
                                                                                                                             converter="dateConverter" 
                                                                                                                             onclick="displayCalendar('frmRequest:preparedOndata', 'frmRequest:preparedOndata');"
                                                                                                                             required="true" requiredMessage="Enter prepared Date" title="prepared Date"  validator="#{validatorManagedBean.Date}">
                                                                                                                </p:inputText>
                                                                                                                <p:message for="preparedOndata" display="icon"/>
                                                                                                            </div>                                                                                                                               
                                                                                                        </div>                                                                                          
                                                                                                    </div>
                                                                                                    <div class="col-md-12">
                                                                                                        <div class="form-group form-horizontal">
                                                                                                            <h:outputLabel value="Prepared By:" class="col-md-4 control-label" />
                                                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                                                <p:inputText id="preparedby" value="Logged in User Id" readonly="true"/>
                                                                                                            </div>                                                                                                                               
                                                                                                        </div>                                                                                          
                                                                                                    </div> 
                                                                                                </div>

                                                                                            </section>
                                                                                        </section>  
                                                                                    </h:panelGroup>
                                                                                    <h:panelGroup id="pnl1" class="col-sm-12" >
                                                                                        <section class="panel panel-info">
                                                                                            <section class="panel-body">
                                                                                               
                                                                                                <div class="col-sm-12">  
                                                                                                    <div class="col-md-6"></div>
                                                                                                    <div class="col-md-6">
                                                                                                        <div class="col-sm-8">
                                                                                                            <p:fileUpload update="tblAbsent"
                                                                                                                          sizeLimit="1000000"  
                                                                                                                          fileUploadListener="#{attendanceController.handleFileUpload}" mode="advanced"
                                                                                                                          allowTypes="/(\.|\/)(xls)$/"/>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div> 
                                                                                            </section>
                                                                                        </section>
                                                                                    </h:panelGroup>
                                                                                    <p:dataTable id="tblAbsent"   value="#{attendanceController.hrAttendanceDetailsDatamodel}"
                                                                                                 var="emp" rowIndexVar="num"  class="dataTable"  
                                                                                                 rows="10" paginator="true" paginatorPosition="bottom">                    
                                                                                        <p:column headerText="No">
                                                                                            <h:outputText value="#{num + 1}"/>
                                                                                        </p:column>
                                                                                        <p:column>
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="EMP Name"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{emp.empId.firstName} #{emp.empId.middleName} #{emp.empId.lastName}"/>
                                                                                        </p:column>
                                                                                        <p:column>
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="EMP Id"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{emp.empId.empId}"/>
                                                                                        </p:column>
                                                                                        <p:column>
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Number Of Days"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{emp.noOfDaysAbsent}"/>
                                                                                        </p:column>
                                                                                        <p:column>
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Late Minute"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{emp.lateMinute}"/>
                                                                                        </p:column>
                                                                                        <p:column>
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Early out"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{emp.earlyOut}"/>
                                                                                        </p:column>
                                                                                        <p:column>
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Absence Date"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{emp.dateOfAbsence}"/>
                                                                                        </p:column>
                                                                                        <p:column headerText="Reason" resizable="true">
                                                                                            <p:inputTextarea id="txtreason" autoResize="true" value="#{emp.reasonForAbsence}" placeholder="reason">
                                                                                            </p:inputTextarea>
                                                                                        </p:column>
                                                                                    </p:dataTable>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </h:panelGroup>
                                                </section> 
                                            </section>
                                            <section class="panel panel-info">
                                                <section class="panel-body">  
                                                    <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-md-12">                      
                                                                <div class="box-body"> 
                                                                    <div class="col-md-6">
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal form-group required">
                                                                                <p:outputLabel  for="txtComment" class="control-label col-sm-4"
                                                                                                value="Comment Given:" />
                                                                                <div class="col-sm-8">
                                                                                    <p:inputTextarea id="txtComment" class="form-control"  value="#{attendanceController.hrAttendances.remark}" 
                                                                                                     title="Remark"  required="false"  requiredMessage="Enter Plan" 
                                                                                                     validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only"
                                                                                                     onchange="this.value = this.value.trim()"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal form-group required">
                                                                                <p:outputLabel  for="txtApproved" class="control-label col-sm-4"
                                                                                                id="lblApproved" value="Processed Date:" />
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtApproved"  readonly="true"  placeholder="dd/mm/yyyy"
                                                                                                 value="#{attendanceController.wfHrProcessed.processedOn}"  
                                                                                                 title="date"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal form-group">
                                                                                <p:outputLabel  for="txtprey1" class="control-label col-sm-4"
                                                                                                id="lblPrepatedy1" value="Processed By:"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText  id="txtprey1"   
                                                                                                  value="logedin user"  
                                                                                                  title="descripition"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h:panelGroup id="pnlworkflow1" class="col-sm-12">
                                                            <p:dialog id="dlgWorkflow" header="Workflow" widgetVar="dlgWorkflow" height="500"
                                                                      width="1200" modal="true" resizable="false" showEffect="explode">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="box-body ">
                                                                            <h:form class="form-horizontal" id="frmWorkflow" style="margin-top: 20px;">
                                                                                <section class="panel panel-info" id="pnl22">
                                                                                    <section class="panel-body">                                       
                                                                                        <div class="col-md-12" >                                       
                                                                                            <div class="col-sm-12">
                                                                                                <p:dataTable id="tblWorkflow" value="#{attendanceController.workFlowDataModel}" 
                                                                                                             var="currentRow"  rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                                                                             rowKey="#{currentRow}" paginatorPosition="bottom">
                                                                                                    <p:column headerText="Processed By">
                                                                                                        <h:outputText value="#{currentRow.processedBy}"/> 
                                                                                                    </p:column>
                                                                                                    <p:column >
                                                                                                        <f:facet name="header">
                                                                                                            <h:outputText value="Decision"/>
                                                                                                        </f:facet>
                                                                                                        <h:outputText value="#{currentRow.decision}"/> 
                                                                                                    </p:column>
                                                                                                    <p:column >
                                                                                                        <f:facet name="header">
                                                                                                            <h:outputText value="Comment Given"/>
                                                                                                        </f:facet>
                                                                                                        <h:outputText value="#{currentRow.commentGiven}"/> 
                                                                                                    </p:column>
                                                                                                    <p:column >
                                                                                                        <f:facet name="header">
                                                                                                            <h:outputText value="Processed Date"/>
                                                                                                        </f:facet>
                                                                                                        <h:outputText value="#{currentRow.processedOn}"/> 
                                                                                                    </p:column> 
                                                                                                </p:dataTable>
                                                                                            </div> 
                                                                                        </div>  
                                                                                    </section>
                                                                                </section>
                                                                            </h:form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </p:dialog>
                                                        </h:panelGroup>
                                                    </h:panelGroup>
                                                </section>
                                            </section>
                                            <h:panelGroup id="pnl56" class="col-sm-12">
                                                <div class="panel-body col-sm-12">
                                                    <div class="form-group col-sm-12">
                                                        <div class="col-sm-6">
                                                            <div class="col-sm-12 form-horizontal">
                                                                <div class="col-sm-4">                                                              
                                                                </div>                                                                    
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnSave1" class="btn  btn-block btn-primary col-lg-4" 
                                                                                     value="#{attendanceController.saveOrUpdateButton}"
                                                                                     action="#{attendanceController.saveAttendace()}"
                                                                                     process="@this,:frmRequest:pnl12,:frmRequest:tblAbsent,:frmRequest:pnlworkflow"
                                                                                     update=":frmRequest" /> 
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-lg-4"  
                                                                                     action="#{attendanceController.clearAttendance()}"
                                                                                     process="@this" 
                                                                                     update="@this,:frmRequest"  />     
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup> 
                                        </div>
                                    </div>
                                </div>   
                            </div>
                            <div class="box-footer ">
                            </div>
                        </div>                   
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
