<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li><a href="CountryRegistration.xhtml"><i class="fa fa-fw fa-circle-o-notch "></i> Country Registration</a></li>
        <li><a href="PerDiemRateRegistration.xhtml"><i class="fa fa-fw fa-circle-o-notch "></i> Per-Diem Rate Registration</a></li>
        <li><a href="GoodWillingPayment.xhtml"><i class="fa fa-fw fa-circle-o-notch "></i> Good Willing Payment Registration</a></li>
        <li><a href="PerDiemRequestLocal.xhtml"><i class="fa fa-fw fa-circle-o-notch "></i> Per-diem Request Local</a></li>  
        <li><a href="PerDiemSettlementLocal.xhtml"><i class="fa fa-fw fa-circle-o-notch "></i> Per-diem Settlement Local</a></li>
        <li><a href="PerDiemRequestForeign.xhtml"><i class="fa fa-fw fa-circle-o-notch "></i> Per-diem Request Foreign</a></li>
    </ui:define>
    <ui:define name="contents">   
        <h:form id="frmSample"> 
            <p:toolbar style="backface-visibility: hidden;border-color:transparent;background: #ffffff " >
                <f:facet name="right">
                    <p:commandButton id="btnIcone" style="background-color: white; border-color: white"  
                                     action="#{fmsLuAdditionalAmountManagedBean.createNewAdditionalAmount()}" 
                                     icon="#{fmsLuAdditionalAmountManagedBean.icone}" validateClient="true" 
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmSample"
                                     title="#{fmsLuAdditionalAmountManagedBean.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="AdditionalAmountRegistration.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" 
                          rendered="#{fmsLuAdditionalAmountManagedBean.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Additional Amount ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="searchCountry">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Level:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="searchByCountryName" class="form-control"
                                                                     value="#{fmsLuAdditionalAmountManagedBean.additionalAmount.levelId}"> 
                                                        </p:inputText> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="FindInfo" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnSearch" class="btn btn-primary" 
                                                                         action="#{fmsLuAdditionalAmountManagedBean.searchLevelByParameter()}"
                                                                         icon="ui-icon-search" 
                                                                         process="@this, frmMainUI" 
                                                                         update="@this,frmMainUI" 
                                                                         value="Find"/>            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="panel-body">
                                    <div class="form-horizontal col-sm-12">
                                        <p:dataTable id="tblAdditionalMount" value="#{fmsLuAdditionalAmountManagedBean.additionalAmountDModel}"
                                                     rows="10"  var="additional" selectionMode="single" rowIndexVar="num" paginator="true" paginatorPosition="bottom"
                                                     rowsPerPageTemplate="5,10,15"
                                                     resizableColumns="true" selection="#{fmsLuAdditionalAmountManagedBean.selectadditional}" rowKey="#{additional.id}">
                                            <p:ajax event="rowSelect" listener="#{fmsLuAdditionalAmountManagedBean.selectAdditionalRow}"
                                                    process="@this" update=":frmRegisterUI,:frmRegisterUI:registerUI, 
                                                    :frmRegisterUI:drdSearchOptLevel, :frmMainUI, :frmSample" />
                                            <p:column width="60">
                                                <f:facet name="header">
                                                    <h:outputText value="No"/>
                                                </f:facet>
                                                <h:outputText value="#{num+1}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputLabel id="lunch1" value="Job Level"/>
                                                </f:facet>
                                                <h:outputText id="lunch2" value="#{additional.levelId}"/>
                                            </p:column>
                                            <p:column >
                                                <f:facet name="header">
                                                    <h:outputLabel id="lunch3" value="Lodging"/>
                                                </f:facet>
                                                <h:outputText id="lunch4" value="#{additional.lodgingAdditional}"/>
                                            </p:column>
                                            <p:column >
                                                <f:facet name="header">
                                                    <h:outputLabel id="lunch5" value="Meal"/>
                                                </f:facet>
                                                <h:outputText id="lunch6" value="#{additional.lunchAdditional}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <!-- Registration Form-->
        <h:form id="frmRegisterUI">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" 
                          rendered="#{fmsLuAdditionalAmountManagedBean.renderPnlCreateAdditional}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Additional Amount Registration </h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px"> 
                                <h:panelGroup id="frmGatePassDtlInfo">
                                    <div class="col-md-12">                                        
                                        <div class="col-md-6">                                                                      
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel for="drdSearchOptLevel" class="control-label col-sm-4" value="Level:"/> 
                                                    <div class="col-sm-8">                                                       
                                                        <p:selectOneMenu id="drdSearchOptLevel" 
                                                                         value="#{fmsLuAdditionalAmountManagedBean.additionalAmount.levelId}" 
                                                                         style="width: 100%" converter="entConverter"
                                                                         required="true" requiredMessage="value is required"
                                                                         disabled="#{fmsLuAdditionalAmountManagedBean.disable}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                            <f:selectItems value="#{perDiemRateManagedBean.employeelList}" var="pr" 
                                                                           itemLabel="#{pr.description}" itemValue="#{pr.description}" />
                                                            <p:ajax  event="change"  listener="#{fmsLuAdditionalAmountManagedBean.SystemChange(event)}" 
                                                                     process="@this,drdSearchOptLevel" />
                                                        </p:selectOneMenu>
                                                        <p:message for="drdSearchOptLevel" display="icon" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel for="txtLodge1" class="control-label col-sm-4" value="Lodging: "/> 
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtLodge1" class="form-control" 
                                                                     value="#{fmsLuAdditionalAmountManagedBean.additionalAmount.lodgingAdditional}"
                                                                     validator="#{validatorManagedBean.Double}" required="true" requiredMessage="value is required"
                                                                     converterMessage="value must be a number"/>
                                                        <p:message for="txtLodge1" display="icon" />
                                                    </div>
                                                </div>                                                                                          
                                            </div> 
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <h:outputLabel for="txtLunch1" class="control-label col-sm-4" value="Meal:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtLunch1" class="form-control" 
                                                                     value="#{fmsLuAdditionalAmountManagedBean.additionalAmount.lunchAdditional}"
                                                                     validator="#{validatorManagedBean.Double}" converterMessage="Value must be number"
                                                                     required="true" requiredMessage="value is required" />
                                                        <p:message for="txtLunch1" display="icon" />
                                                    </div>
                                                </div>                                            
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel for="txtLunch1" class="control-label col-sm-4" value=""/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnSave" class="btn btn-primary"
                                                                         action="#{fmsLuAdditionalAmountManagedBean.saveLuAdditionalAmount()}" 
                                                                         validateClient="true"
                                                                         process="@this,frmGatePassDtlInfo,frmRegisterUI"
                                                                         update="frmGatePassDtlInfo,frmRegisterUI"
                                                                         value="#{fmsLuAdditionalAmountManagedBean.saveorUpdateBundle}"/> 
                                                    </div>
                                                </div>                                            
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>                                          
        </h:form>
    </ui:define>
</ui:composition>
