<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>
        <!-- /.search form -->
    </ui:define>
    <ui:define name="navigaion_content">   
        <li><a href="FixedAssetRegistration.xhtml"><i class="fa fa-circle-o"></i> <span>Minor Asset Registration</span></a></li>       
        <li><a href="FixedAssetIFRS.xhtml"><i class="fa fa-circle-o"></i> <span>FixedAssetRegistration</span></a></li>
        <li><a href="Insurance.xhtml"><i class="fa fa-circle-o"></i> <span>Insurance Registration</span></a></li> 
        <li><a href="LeaseRegistration.xhtml"><i class="fa fa-circle-o"></i> <span> Lease Registration </span></a></li>
        
    </ui:define>

    <ui:define name="contents">   

        <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information"/>
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">                
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                        
                    <a href="FixedAssetAttributeReg.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <div class="box box-primary">
                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" >

                    <div class="box-header with-border">
                        <h3 class="box-title">Fixed Asset Category</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>                        
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 

                                <div class="form-horizontal  col-sm-12">
                                    <div class="form-group">                                                                                                
                                        <h:outputLabel class="control-label col-sm-2" for="drdFACategory" value="GL Code:"/>
                                        <div class="col-sm-4">
                                            <p:selectOneMenu id="drdFACategory" required="true"   requiredMessage="GL Code Is required"
                                                             valueChangeListener="#{fixedAssetAttributeController.handleSelectGlCode}"
                                                             style="width: 100%"  styleClass="noupdate">
                                                <f:selectItem itemValue="" itemLabel="--- Select One ---" />
                                                <f:selectItems id="drdFACategory2" var="glCode" itemLabel="#{glCode.generalLedgerCode}" 
                                                               itemValue="#{glCode.generalLedgerId}" 
                                                               value="#{fixedAssetAttributeController.getGlList()}" />
                                                <p:ajax update="slCode" process="@this" event="change" />
                                            </p:selectOneMenu>    
                                            <p:message display="icon"  for="drdFACategory"/>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-horizontal  col-sm-12">
                                    <div class="form-group"> 
                                        <h:outputLabel class="control-label col-sm-2" for="slCode" value="SL Code: "/> 
                                        <div class="col-sm-4">
                                            <p:selectOneMenu id="slCode"  value="#{fixedAssetAttributeController.fmsSubsidiaryLedger.subsidiaryId}" 
                                                             style="width: 100%" filter="true"
                                                             valueChangeListener="#{fixedAssetAttributeController.getListOfAttributesByCategory}">
                                                <f:selectItem  itemLabel="--- Select One ---"/> 
                                                <f:selectItems value="#{fixedAssetAttributeController.subsideryCodeList}"
                                                               var="sdlCode" itemLabel="#{sdlCode.subsidiaryCode}" itemValue="#{sdlCode.subsidiaryId}"/>
                                                <p:ajax update="@this,:frmRegisterUI" process="@this" event="change"/>
                                            </p:selectOneMenu> 
                                            <p:message for="slCode" display="icon" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </h:form>
      
              <h:form id="frmRegisterUI"> 
            <div class="box box-primary">
                <h:panelGroup id="pgAttribute" style="border: 0px; background-color: transparent"  >
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 

                                <div class="form-horizontal  col-sm-12">
                                    <div class="form-group">
                                        <h:outputLabel class="control-label col-sm-2" value="Attribute Name:" for="txtAttributeName"/>                                        
                                        <div class="col-sm-4">
                                            <p:inputText id="txtAttributeName"  class="form-control"  value="#{fixedAssetAttributeController.fixedassetattribute.faaname}"
                                                         styleClass="noupdate" />     
                                            <p:message display="icon"  for="txtAttributeName"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal  col-sm-12 ">
                                    <div class="form-group required">                                                                                                
                                        <h:outputLabel class="control-label col-sm-2" value="Attribute Data Type:"/>
                                        <div class="col-sm-4">
                                            <p:selectOneMenu id="drdDTName"  value="#{fixedAssetAttributeController.fixedassetattribute.dtId}" 
                                                             converter="entityConverter" style="width: 100%" required="true" requiredMessage="Please Input Attribute Data Type"  styleClass="noupdate">
                                                <f:selectItems id="drdDTName2" value="#{fixedAssetAttributeController.selectAllDataType()}"/>
                                            </p:selectOneMenu>    
                                            <p:message display="icon"  for="drdDTName"/>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-horizontal  col-sm-12">
                                    <div class="form-group required">                                                                                                
                                        <h:outputLabel class="control-label col-sm-2"  value="Field Type:"/>
                                        <div class="col-sm-4">
                                            <p:selectOneMenu id="drdFieldType"  value="#{fixedAssetAttributeController.fixedassetattribute.fieldType}" converter="entityConverter" style="width: 100%" 
                                                             required="true" requiredMessage="Please Input Field Type"
                                                             valueChangeListener="#{fixedAssetAttributeController.filterTypeEvent}" styleClass="noupdate">
                                                <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                <f:selectItem itemLabel="CALENDAR" itemValue="CALENDAR"/>
                                                <f:selectItem itemLabel="CHECKMANY" itemValue="CHECKMANY"/>
                                                <f:selectItem itemLabel="RADIO" itemValue="RADIO"/>
                                                <f:selectItem itemLabel="SELECTONE" itemValue="SELECTONE"/>
                                                <f:selectItem itemLabel="TEXT" itemValue="TEXT"/>
                                                <f:selectItem itemLabel="TEXTAREA" itemValue="TEXTAREA"/> 
                                                <p:ajax  event="valueChange" update="commonUI,@(frmRegisterUI :not(.noupdate))" process="frmRegisterUI"/>  
                                            </p:selectOneMenu>    
                                            <p:message display="icon"  for="drdFieldType"/>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-horizontal  col-sm-12">
                                    <div class="form-group required">                                                                                                
                                        <h:outputLabel class="control-label col-sm-2"  value="Status:"/>
                                        <div class="col-sm-4">
                                            <p:selectOneRadio id="sorStatus" value="#{fixedAssetAttributeController.fixedassetattribute.valid}" 
                                                              required="true" requiredMessage="Please Input Status" >
                                                <f:selectItem itemLabel="Active" itemValue="Active"  />
                                                <f:selectItem itemLabel="Inactive" itemValue="Inactive" />
                                            </p:selectOneRadio> 
                                            <p:message display="icon"  for="sorStatus"/>
                                        </div>

                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </h:panelGroup>
                <!--                </div>-->
                <p:panel style="border: 0px; background-color: transparent" id="DynamicUI" rendered="true">
                    <div class="panel-body">
                        <div class="form-horizontal col-sm-12">
                            <div class="form-group">                                        
                                <div class="col-sm-12">
                                    <p:dataTable id="tblBuildingInfo" value="#{fixedAssetAttributeController.ifrsFixedAssetAttributSearchInfoDataModel}" var="attributeInfo" rows="5"
                                                 paginator="true" paginatorPosition="bottom" 
                                                 style="font-family: monospace; font-size: 12px; top: 5px; width: 100%">
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Attribute Name" />
                                            </f:facet>
                                            <h:outputText value="#{attributeInfo.faaname}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Field Type" />
                                            </f:facet>
                                            <h:outputText value="#{attributeInfo.fieldType}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Valid" />
                                            </f:facet>
                                            <h:outputText value="#{attributeInfo.valid}"/>
                                        </p:column>
                                        <p:column  headerText="Option">  
                                            <p:commandLink  value="Edit"   process="@this" action="#{fixedAssetAttributeController.onRowFixedassetAttributeEdit}"
                                                            update=":frmRegisterUI"/>
                                        </p:column>
                                    </p:dataTable>
                                </div>                 
                            </div>
                        </div>  
                    </div>  
                </p:panel>

               <h:panelGroup  id="commonUI" rendered="#{fixedAssetAttributeController.renderdComType}"> 
                    <!--<div class="box box-primary">-->
                    <div class="box-header with-border">
                        <h3 class="box-title" >
                            <h:outputLabel class="control-label col-sm-12" 
                                           value="List of Option Value" 
                                           />
                        </h3>

                    </div> 
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >
                            <div class="form-horizontal  col-sm-12">
                                    <div class="form-group">                                                                                                
                                        <h:outputLabel class="control-label col-sm-2" for="txtValue" value="Option Value" rendered="#{fixedAssetAttributeController.renderdComType}"/>
                                        <div class="col-sm-4">
                                            <p:inputText id="txtValue"   rendered="#{fixedAssetAttributeController.renderdComType}"
                                                         class="form-control"  
                                                         value="#{fixedAssetAttributeController.optionvalueObject.valueName}"  />      
                                            <p:message display="icon"  for="txtValue"/>
                                        </div>
                                    </div>
                                </div> 
                                <div class="form-horizontal  col-sm-12">
                                    <div class="form-group"> 
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-1">
                                            <p:commandButton id="btnAdd" class="btn btn-primary"  value="Add"  icon="ui-icon-add"
                                                             action="#{fixedAssetAttributeController.addValueData()}"
                                                             rendered="#{fixedAssetAttributeController.renderdComType}"

                                                             update="frmRegisterUI:txtValue,tblInputvalue" />

                                        </div>
                                    </div>
                                </div> 

                                <div class="form-horizontal col-sm-12">
                                    <div class="form-group">                                        
                                        <div class="col-sm-12">
                                            <p:dataTable id="tblInputvalue"  rowIndexVar="num"
                                                         rendered="#{fixedAssetAttributeController.renderdComType}"
                                                         value="#{fixedAssetAttributeController.optionvalueModel}"
                                                         var="valDetail" rows="10" 
                                                         paginator="true" paginatorPosition="bottom" 
                                                         style="font-family: monospace; font-size: 12px; top: 5px; width: 100%">
                                                <f:facet name="header">
                                                    List of Value
                                                </f:facet>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="S.NO" />
                                                    </f:facet>
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Value" />
                                                    </f:facet>
                                                    <h:outputText value="#{valDetail.valueName}"/>
                                                </p:column>

                                                <p:column  headerText="Option">  
                                                    <p:commandLink  id="linkEdit" value="Edit"   action="#{fixedAssetAttributeController.onRowOptionvalueEdit}"
                                                                    process="@this" update=":frmRegisterUI" />
                                                </p:column>
                                            </p:dataTable>

                                        </div>                 
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup> 
                <h:panelGroup  id="pgSave" > 
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >
                                <div class="form-horizontal  col-sm-12">                                  
                                    <div class="form-group"> 
                                        <div class="col-sm-12">
                                            <div class="col-sm-2"></div>
                                            <p:commandButton action="#{fixedAssetAttributeController.saveFixedAssetAttributeInfo()}" icon="ui-icon-add" validateClient="true" value="#{fixedAssetAttributeController.saveorUpdateBundle}"
                                                             process="@this,:frmRegisterUI" update=":frmRegisterUI,frmRegisterUI" 
                                                             class="btn btn-primary"/>            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
        </h:form>

    </ui:define>



</ui:composition>          
