<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="resources/templates/template_homePage.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets" >
    <!--    <h:head>
            <title>Home Page</title>
    
            <link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>       
            <link href="resources/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    
    
        </h:head>-->
    <ui:define name="contents">
        <!--<body>-->

        <div id="wrapper">

            <div style="min-height: 535px;    position: inherit;
                 margin: 0 0 0 50px;
                 padding: 0 30px;
                 border-left: 1px solid #e7e7e7;
                 border-right: 1px solid #e7e7e7;" id="page-wrapper1">
                <div class="row">
                    <div class="col-lg-5" style="height: 70px;">

                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">


                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img style="width:80px;height:80px" src="resources/image/hrmsLogo.png" alt=""/>                                  
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div  style="font-size: 26px">HRMS</div>                                       
                                        <div><a href="erp/hrms/hrmsDashboard.xhtml" style="color: #fff;">Human Resource Management System</a> </div>
                                    </div>

                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Help</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img style="width:80px;height:80px" src="resources/image/finance.png" alt=""/>                                  
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div  style="font-size: 26px">FCMS</div>                                       
                                        <div><a href="erp/fcms/fcmsDashBoardnew.xhtml" style="color: #fff;">Finance and Control Management System </a> </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Help</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div> 


                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img style="width:80px;height:80px" src="resources/image/material.png" alt=""/>                                  
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div  style="font-size: 26px">MMS</div>
                                        <div><a href="erp/mms/MmsNewDashBoard.xhtml" style="color: #fff;">Material Management system</a>  </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Help</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div> 

                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img style="width:80px;height:80px" src="resources/image/prmsLogo.png" alt=""/>                                  
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div  style="font-size: 26px">PRMS</div>
                                        <div><a href="erp/prms/prmsDashboardNew.xhtml" style="color: #fff;">Procurement Management Systems</a>  </div>

                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Help</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div> 

                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img style="width:80px;height:80px" src="resources/image/pm.png" alt=""/>                                  
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div style="font-size: 26px">PMS</div>
                                        <div><a href="http://172.20.0.248:7007/" style="color: #fff;">Project Management Systems</a> </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Help</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div> 





                    <!--                        <div class="col-lg-3 col-md-6">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <img style="width:70px;height:70px" src="resources/image/doc.png" alt=""/>                                  
                                                            </div>
                                                            <div class="col-xs-9 text-right">
                                                                <div style="font-size: 26px">DMS</div>
                                                                <div><a href="#" style="color: #fff;">Document Management </a> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#">
                                                        <div class="panel-footer">
                                                            <span class="pull-left">Help</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div> -->





                    <!--                        <div class="col-lg-3 col-md-6">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <img style="width:70px;height:70px" src="resources/image/doc.png" alt=""/>                                  
                                                            </div>
                                                            <div class="col-xs-9 text-right">
                                                                <div  style="font-size: 20px">WorkFlow</div>
                                                                <div><a href="#" style="color: #fff;">WorkFlow </a> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="#">
                                                        <div class="panel-footer">
                                                            <span class="pull-left">Help</span>
                                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div> -->


                </div>

            </div>
        </div>      
        <!--</body>-->
    </ui:define>
    <!--</html>-->
</ui:composition>


