<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/image/erplogo.png" />
        <title>Login</title>
        <link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/style.css" rel="stylesheet" type="text/css"/>
        <script src="resources/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </h:head>
    <h:body class="body">
        <div class="container"> 
            <div id="loginbox" style="margin-top:120px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                <div class="panel panel-primary">
                    <div style="padding-top:2px" class="panel-body" >
                        <h1>  <center> <img src="/EEP_ERP-war/resources/image/erplogo.png" alt="" width="80px" height="80px" style="top: -10px;"/></center></h1>
                        <br/><br/>
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        <h:form id="loginform" class="form-horizontal" role="form">
                            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <p:inputText id="login-username" type="text" value="#{logIn.userName}" class="form-control"
                                             placeholder="username" required="true" requiredMessage="Enter user name"/>                                        
                                <p:message for="login-username" />
                            </div>
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <p:password id="login-password" value="#{logIn.passwordInter}" class="form-control"
                                            placeholder="password" required="true" requiredMessage="Enter password"/>
                                <p:message for="login-password"/>
                            </div>
                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-4 controls">
                                    <p:commandButton value="#{secBundle.signin}" action="#{logIn.btnSignIn_action()}" 
                                                     process="@this,loginform" update="@this,loginform"
                                                     validateClient="true" class="btn btn-block btn-primary col-sm-2"/>                                     
                                </div>
                            </div>
                        </h:form>     
                    </div>                     
                </div>  
            </div>
        </div>
    </h:body>
</html>  
