<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard "></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="PortEntry.xhtml"><i class="fa fa-circle-o "></i> <span>Port Registration</span></a></li> 
        <li><a href="serviceProvider.xhtml"><i class="fa fa-circle-o"></i> <span>Service Provider</span></a></li> 
        <li><a href="InsuranceRegistrationForm.xhtml"><i class="fa fa-circle-o "></i> <span>Insurance Information</span></a></li> 
        <!--<li><a href="InsuranceNotificationToBank.xhtml"><i class="fa fa-circle-o "></i> <span>Insurance Notification To Bank</span></a></li>--> 
        <li><a href="LCInformation.xhtml"><i class="fa fa-circle-o "></i> <span>Letter Of Credit Information</span></a></li> 
        <li><a href="LCRegAmendment.xhtml"><i class="fa fa-circle-o "></i> <span>Letter Of Credit Amendment </span></a></li> 
        <li><a href="BankClearanceRegistration.xhtml"><i class="fa fa-circle-o "></i> <span>Declaration Settlement(Bank Clearance) Registration</span></a></li> 
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmTop"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pngBackToSearch" rendered="#{foreignCurrency.renderpnlToSearchPage}">
                        <p:commandButton id="cmdBackToSearch" icon="ui-icon-search" style="background-color: white;border-color: white"
                                         action="#{foreignCurrency.goBackSearchPageBtnAction()}" 
                                         title="Back to Search"
                                         process="@this" update=":frmForeignExchange,:frmRecordingPage,:frmTop"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="PgCreate" rendered="#{foreignCurrency.isRenderCretae}">
                        <p:commandButton id="btnNew" validateClient="true" action="#{foreignCurrency.switchedNewAndSearchBtn()}" 
                                         icon="#{foreignCurrency.icone}"  style="background-color: white;border-color: white" 
                                         process="@this" update="@this,:frmForeignExchange,:frmRecordingPage,:frmTop" 
                                         title="#{foreignCurrency.newOrSearchBundle}" rendered="#{foreignCurrency.isRenderCretae}"/>
                        <span class="ui-separator"> 
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="PGNotification" rendered="#{purchaseReqController.renderDecision}">
                        <p:commandLink id="cmdLinkNotf" class="fa fa-fw fa-bell-o" value="#{foreignCurrency.requestNotificationCounter}"
                                       title="Notification" style="color: red;background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 200px">
                            <p:outputLabel id="lblReqNotf" value="Foreign Exchange Requested"/>
                            <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains"                                            
                                                valueChangeListener="#{foreignCurrency.RequestListChange}" converter="entConverter" >
                                <f:selectItems id="selectOneMenuAppList" var="foreignExchangelst"
                                               value="#{foreignCurrency.prmsForeignExchangeList}"
                                               itemValue="#{foreignExchangelst}" itemLabel="#{foreignExchangelst.feNumber}"/>               
                                <p:ajax event="valueChange" process="@this," update=":frmRecordingPage,:frmForeignExchange,:frmTop"/>                            
                            </p:selectOneListbox>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>

                    <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                   title="Work Flow" style="background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>
                        <!--put work flow list here-->

                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="dtWorkflow" paginator="true" paginatorPosition="bottom" var="count" rows="3" rowIndexVar="rowName" value="#{foreignCurrency.wfPrmsProcessedDModel}"
                                                             selectionMode="single"  rowKey="#{count.processedId}" resizableColumns="true">
                                                    <p:column headerText="S/N" width="60">
                                                        <p:outputLabel value="#{counter+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{count.processedBy}" /> 
                                                    </p:column>
                                                    <p:column headerText="Processed On">
                                                        <h:outputText value="#{count.processedOn}" /> 
                                                    </p:column>
                                                    <p:column headerText="Comment Given">
                                                        <h:outputText value="#{count.commentGiven}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="ForeignExchange.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form> 
        <h:form id="frmForeignExchange">
            <h:panelGroup id="PGSearch" style="border: 0px; background-color: transparent" rendered="#{foreignCurrency.renderSearch}">
                <div class="box box-primary">
                    <div class="box-header with-border" >
                        <h3 class="box-title">Searching ... 
                            <h:outputLabel id="frmForeignExchangeHeader" value="#{PrmsFeamaintableController.headerTitle}" /></h3>
                    </div>
                    <div class="box-body">
                        <div class="row" >                                        
                            <div class="col-md-12">
                                <h:form id="frmFinding">
                                    <div class="panel-body" >                                           
                                        <div class="form-horizontal">
                                            <div class="form-group textBoxMargin6px">
                                                <h:outputLabel for="txtSrchFnumber" class="col-sm-2 control-label" value="FEx Permit Number:"/>                                                          
                                                <div class="col-sm-3">  
                                                    <p:inputText id="txtSrchFnumber" class="form-control" value="#{foreignCurrency.prmsForeignExchange.feNumber}" />                                                                                                                                                    
                                                    <p:message for="txtSrchFnumber" display="icon"/>                                                          
                                                </div>
                                            </div>

                                            <div class="form-group textBoxMargin6px">
                                                <div class="col-sm-4 col-sm-push-2">
                                                    <p:commandButton id="btnSearch" class="btn btn-primary"                                                                     
                                                                     value="Find" icon="ui-icon-search"  
                                                                     action="#{foreignCurrency.findForeignExchangeInfo}"
                                                                     process="@this frmFinding" update=":frmForeignExchange:frmForignCurrencyGrid"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </h:form>
                            </div>                              
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h:form id="frmForignCurrencyGrid">
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblPrmsFeamaintableList" value="#{foreignCurrency.prmsForeignExchangeDModel}"
                                                                 var="fe" selectionMode="single" rowIndexVar="num" class="dataTable" sortBy="#{fe.feNumber}"
                                                                 selection="#{foreignCurrency.foreignExchangeSelection}" rowKey="#{fe.id}"
                                                                 paginator="true" paginatorPosition="bottom" rows="10"
                                                                 rowsPerPageTemplate="5,10,15"
                                                                 paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {FirstPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                                                        <p:ajax event="rowSelect" process="@this,tblPrmsFeamaintableList" listener="#{foreignCurrency.selectfeanum}"
                                                                update=":frmRecordingPage,:frmForeignExchange,:frmTop"/>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="S.No" />
                                                            </f:facet>
                                                            <h:outputText value="#{num+1}"/> 
                                                        </p:column>
                                                        <p:column sortBy="#{fe.applicantName}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Applicant Name"/>                                                        
                                                            </f:facet>
                                                            <h:outputText  value="#{fe.applicantName}"/>
                                                        </p:column>
                                                        <p:column sortBy="#{fe.feNumber}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Foreign Exch. Number"/>
                                                            </f:facet>
                                                            <h:outputText value="#{fe.feNumber}"/>
                                                        </p:column> 
                                                        <p:column sortBy="#{fe.bankId}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Bank Branch"/>
                                                            </f:facet>
                                                            <h:outputText value="#{fe.bankId}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Application No"/>
                                                            </f:facet>
                                                            <h:outputText value="#{fe.applicationNo}"/>
                                                        </p:column>
                                                        <p:column headerText="Permit Expire Date" sortBy="#{fe.permitExpireDate}">
                                                            <p:outputLabel value="#{fe.permitExpireDate}">
                                                                <f:convertDateTime pattern="dd/MMM/yyyy"  parent=""/>
                                                            </p:outputLabel>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>

        <div class="row">
            <div class="col-md-12">
                <h:form id="frmRecordingPage">
                    <h:panelGroup id="PGRecording" class="form-horizontal"  rendered="#{foreignCurrency.renderRecording}">
                        <p:growl id="messages" autoUpdate="true" showDetail="true" severity="information,fatal" life="5200"/>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div class="box-header">
                                            <h3 class="box-title">Foreign Currency Exchange Application</h3>
                                        </div>
                                        <h:panelGroup id="NewRegisteration" class="form-horizontal">
                                            <div class=" box box-primary">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class=" col-sm-6 form-horizontal">
                                                            <div class="row required form-group">
                                                                <div class="col-sm-12">
                                                                    <h:outputLabel class="control-label col-sm-4" value="FEx Permit Number:"/>
                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                        <p:inputText id="txtfe" value="#{foreignCurrency.prmsForeignExchange.feNumber}" 
                                                                                     class="form-control" required="true" requiredMessage="Permit Number is required"/>
                                                                        <p:message for="txtfe" display="icon"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <p:outputLabel class="col-sm-4 control-label" value="Bank Branch:" />
                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                        <p:selectOneMenu id="selectBankBranch" required="true" requiredMessage="Please Select Bank Branch" style="width: 100%"
                                                                                         value="#{foreignCurrency.prmsServiceProviderBranch.serviceDtId}"
                                                                                         converter="entConverter" disabled="#{workFlow.readonly}"
                                                                                         valueChangeListener="#{foreignCurrency.updateBranch}">
                                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                                            <f:selectItems value="#{foreignCurrency.bankBranch}"
                                                                                           var="branch" itemLabel="#{branch.branchName}" itemValue="#{branch.serviceDtId}"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="selectBankBranch" display="icon"/>
                                                                    </div>
                                                                </div>
                                                               


                                                                <div class="col-sm-12">
                                                                    <p:outputLabel id="lblIncoterm" value="Incoterms:" class="control-label col-sm-4"/> 
                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                        <p:selectOneMenu id="drdIncoterm" style="width: 100%" required="true" requiredMessage="Please Select One of Incoterms"
                                                                                         value="#{foreignCurrency.prmsForeignExchange.incoterm}" disabled="#{workFlow.readonly}"
                                                                                         valueChangeListener="#{foreignCurrency.whenfobIncoterm}">
                                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                                            <f:selectItem itemLabel="FOB" itemValue="Fob"/>
                                                                            <f:selectItem itemLabel="CPT" itemValue="Cpt"/>
                                                                            <f:selectItem itemLabel="DDU" itemValue="Ddu"/>
                                                                            <f:selectItem itemLabel="DDP" itemValue="Ddp"/>
                                                                            <f:selectItem itemLabel="CIF" itemValue="Cif"/>
                                                                            <f:selectItem itemLabel="CIP" itemValue="Cip"/>
                                                                            <f:selectItem itemLabel="CFR" itemValue="Cfr"/>
                                                                            <f:selectItem itemLabel="EXW" itemValue="Exw"/>
                                                                            <f:selectItem itemLabel="FCA" itemValue="Fca"/>
                                                                            <f:selectItem itemLabel="FAS" itemValue="Fas"/>
                                                                            <f:selectItem itemLabel="DAF" itemValue="Daf"/>
                                                                            <f:selectItem itemLabel="DES" itemValue="Des"/>
                                                                            <f:selectItem itemLabel="DEQ" itemValue="Deq"/>
                                                                            <f:selectItem itemLabel="DAT" itemValue="Dat"/>
                                                                            <f:selectItem itemLabel="DAP" itemValue="Dap"/>
                                                                            <p:ajax event="valueChange" update="forFob,forFreight"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drdIncoterm" display="icon"/>
                                                                    </div>
                                                                </div>
                                                                <h:panelGroup id="forFob">
                                                                    <div class="col-sm-12">
                                                                        <p:outputLabel class="col-sm-4 control-label" value="#{foreignCurrency.currenciesName} Currency:"  />
                                                                        <div class="col-sm-8 textBoxMargin6px">
                                                                            <p:selectOneMenu id="consoleFOBCurrency" value="#{foreignCurrency.currency.currencyId}"
                                                                                             converter="entConverter" disabled="#{foreignCurrency.whenfobOnly}" 
                                                                                             style="width: 100%" required="true" requiredMessage="Please Select Currency">
                                                                                <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                                <f:selectItems value="#{foreignCurrency.currencyNameLists}" 
                                                                                               var="currency" itemLabel="#{currency.currency}" itemValue="#{currency.currencyId}"/>
                                                                            </p:selectOneMenu>
                                                                            <p:message for="consoleFOBCurrency" display="icon"/>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-12">
                                                                        <p:outputLabel class="col-sm-4" style="text-align: right"  value="#{foreignCurrency.currenciesName} Amount:"/>
                                                                        <div class="col-sm-8  textBoxMargin6px">
                                                                            <p:inputText id="txtFOBAmount" value="#{foreignCurrency.prmsForeignExchange.amount}" disabled="#{foreignCurrency.whenfobOnly}" readonly="#{workFlow.readonly}" 
                                                                                         class="form-control" required="false"  converterMessage="Please Enter Only Decimal Numbers" />
                                                                            <p:message for="txtFOBAmount" display="icon"/>
                                                                        </div>
                                                                    </div>
                                                                </h:panelGroup>
                                                                <div class="col-sm-12">
                                                                    <p:outputLabel id="lblFileUp" class="col-sm-4"  style="text-align: right" value="File Upload:"/>
                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                        <p:panelGrid columns="1" style="float: left;width: 100%"> 
                                                                            <p:fileUpload  id="fileUplod" disabled="#{workFlow.readonly}"
                                                                                           fileUploadListener="#{foreignCurrency.uploadListener}"
                                                                                           value="#{foreignCurrency.prmsForeignExchange.documentId}" 
                                                                                           allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpg|mkv|JPG)$/"
                                                                                           invalidFileMessage="Hi User: Invalid File Type"
                                                                                           invalidSizeMessage="Hi User: Invalid Size"
                                                                                           fileLimit="1" fileLimitMessage="Hi User: Invalid File Limit"
                                                                                           multiple="false" mode="advanced"  auto="true" process="@this,tblSavedFile" update="tblSavedFile">
                                                                            </p:fileUpload>
                                                                            <p:dataTable id="tblSavedFile"  var="currentRow" rowIndexVar="currentRows" value="#{foreignCurrency.prmsLuDmArchivesDModel}" 
                                                                                         paginator="true" rowKey="#{currentRow.documentId}" paginatorPosition="bottom" 
                                                                                         selection="#{foreignCurrency.prmsLuDmArchiveSelection}" selectionMode="single">
                                                                                <p:ajax event="rowSelect" listener="#{foreignCurrency.onRowSelect}" update="tblSavedFile" process="@this,tblSavedFile" />
                                                                                <f:facet name="header">
                                                                                    <h:outputText value="File showing from DBMS database"/>
                                                                                </f:facet>
                                                                                <p:column headerText="S.No">
                                                                                    <h:outputText value="#{currentRows+1}"/>
                                                                                </p:column>
                                                                                <p:column id="docNames" headerText="File Name">
                                                                                    <h:outputText id="txtFile" value="#{currentRow.fileName}"/>
                                                                                </p:column>
                                                                                <p:column  style="border: none; font-size: 10px; text-align: left;" headerText="Download">
                                                                                    <h:panelGroup id="pnlGrouptblDoccolOptions" >
                                                                                        <p:commandButton id="cmdDown1" title="Download" icon="ui-icon-arrowthickstop-1-s"
                                                                                                         ajax="false" update="tblSavedFile" process="@this,tblSavedFile" immediate="true">
                                                                                            <p:fileDownload value="#{foreignCurrency.fileDown}" />
                                                                                        </p:commandButton>
                                                                                    </h:panelGroup>
                                                                                </p:column>
                                                                                <p:column headerText="Delete">
                                                                                    <p:commandButton  process="tblSavedFile" id="fileRemove" title="Delete" 
                                                                                                      update="tblSavedFile" immediate="true" ajax="true" 
                                                                                                      icon="ui-icon-trash" style="border: none; color: #0B70F9">
                                                                                        <p:confirm header="Confirmation" message="Are you sure You want to Remove?"  icon="ui-icon-alert" />
                                                                                    </p:commandButton>
                                                                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                                                        <p:commandButton value="Yes" action="{foreignCurrency.removeFile()}" immediate="true" process="@this" update="tblSavedFile" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                                                    </p:confirmDialog>
                                                                                </p:column>
                                                                                
                                                                            </p:dataTable>
                                                                        </p:panelGrid>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="row form-group required">
                                                                <div class="col-sm-12">
                                                                    <h:outputLabel class="col-sm-4" style="text-align: right" value="FEx. Application No:"/>
                                                                    <div class="col-sm-8  textBoxMargin6px">
                                                                        <p:inputText id="txtANoo" value="#{foreignCurrency.prmsForeignExchange.applicationNo}" class="form-control" 
                                                                                     converterMessage="use Alpha Numeric characters" readonly="#{workFlow.readonly}"
                                                                                     validator="#{validatorManagedBean.AlphaNumericText}">

                                                                        </p:inputText>
                                                                        <p:message for="txtANoo" display="icon"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <h:outputLabel class="col-sm-4" style="text-align: right" value="Applicant Name:" />
                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                        <p:inputText id="txtApplicantName" class="form-control col-sm-2" readonly="#{workFlow.readonly}"
                                                                                     value="#{foreignCurrency.prmsForeignExchange.applicantName}"
                                                                                     validator="#{validatorManagedBean.Text}" converterMessage="Please Enter Only Texts"/>
                                                                        <p:message for="txtApplicantName" display="icon"/>
                                                                    </div>

                                                                </div>
                                                              
                                                                <h:panelGroup id="forFreight">
                                                                    <div class="col-sm-12">
                                                                        <p:outputLabel id="lblFrightCurrency"  class="control-label col-sm-4" style="text-align: right" value="Freight Currency:" />
                                                                        <div class="col-sm-8 textBoxMargin6px">
                                                                            <p:selectOneMenu id="consoleFrightCurrency" required="true" requiredMessage="Select Freight Currency"
                                                                                             converter="entConverter" disabled="#{foreignCurrency.whenNotfobOnly}"
                                                                                             value="#{foreignCurrency.freightCurrency.currencyId}" style="width: 100%;"
                                                                                             valueChangeListener="#{foreignCurrency.updateCurrencyNames}">
                                                                                <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                                <f:selectItems value="#{foreignCurrency.currencyNameLists}"
                                                                                               var="currency" itemLabel="#{currency.currency}" itemValue="#{currency.currencyId}" />
                                                                            </p:selectOneMenu>
                                                                            <p:message for="consoleFrightCurrency" display="icon"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <p:outputLabel class="col-sm-4 control-label" value="Freight Amount:"/>
                                                                        <div class="col-sm-8  textBoxMargin6px">
                                                                            <p:inputText id="txtFrightAmount"  class="form-control" disabled="#{foreignCurrency.whenNotfobOnly}" readonly="#{workFlow.readonly}" required="true" requiredMessage="Please Enter a Frieght Amount"
                                                                                         value="#{foreignCurrency.prmsForeignExchange.frightAmount}" validator="#{validatorManagedBean.Double}"  validatorMessage="Please Enter Only Decimal Numbers"/>
                                                                            <p:message for="txtFrightAmount" display="icon"/>
                                                                        </div>

                                                                    </div>
                                                                </h:panelGroup>
                                                                <div class="col-sm-12">
                                                                    <p:outputLabel id="lblPermitAmount" class="control-label col-sm-4" value="Permit Amount:"/>
                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                        <p:inputText id="txtPermitAmount" class="form-control" readonly="#{workFlow.readonly}" required="true" requiredMessage="Please Enter a Permit Amount"
                                                                                     value="#{foreignCurrency.prmsForeignExchange.permitAmount}" 
                                                                                     converterMessage="Please Enter Only Numbers"/>
                                                                        <p:message for="txtPermitAmount" display="icon"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <p:outputLabel id="lblPermitExDate"  class="control-label col-sm-4" value="Permit Expire Date:"/>
                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                        <p:calendar id="calPermitExDate" placeholder="dd/mm/yyyy" required="true" requiredMessage="Date Value is Required"
                                                                                    pattern="dd/MM/yyyy"  mindate="today" disabled="#{workFlow.readonly}"
                                                                                    value="#{foreignCurrency.prmsForeignExchange.permitExpireDate}">
                                                                            <f:convertDateTime pattern="dd/MM/yyyy" parent="dd/mm/yyyy"/>
                                                                        </p:calendar>
                                                                        <p:message for="calPermitExDate" display="icon"/>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </h:panelGroup>

                                        <div class="form-group textBoxMargin6px">
                                            <section class="panel panel-info col-sm-12" >
                                                <section class="panel panel-info  col-sm-12">
                                                    <h:panelGroup id="PGworkFlow"  >
                                                        <div class="form-group  form-horizontal" >
                                                            <div class="form-group textBoxMargin6px required">
                                                                <p:outputLabel id="lblApproverName" class="col-sm-2" style="text-align: right" value="Processed By:"/>
                                                                <div class="col-sm-4">
                                                                    <p:inputText id="txtApproverName" value="#{foreignCurrency.username}" readonly="true"/>
                                                                </div>
                                                                <p:outputLabel id="lblApprovedDate" value="Processed On:" class="control-label col-sm-2"/>
                                                                <div class="col-sm-4">
                                                                    <p:calendar id="calApprovedDate" placeholder="dd/mm/yyyy"  required="true" requiredMessage="Please Enter Date"
                                                                                pattern="dd/MM/yyyy" mindate="today" maxdate="today" value="#{foreignCurrency.wfPrmsProcessed.processedOn}">
                                                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                    </p:calendar>
                                                                    <p:message for="calApprovedDate" display="icon"/>

                                                                </div>
                                                            </div>
                                                            <div class="form-group textBoxMargin6px">
                                                                <p:outputLabel id="lblDecision" for="drdDecision" value="Decision:" class="control-label col-sm-2" rendered="#{foreignCurrency.isRenderDecision}"/>
                                                                <div class="col-sm-4">
                                                                    <p:selectOneMenu id="drdDecision" style="width: 100%" value="#{foreignCurrency.wfPrmsProcessed.decision}"
                                                                                     valueChangeListener="#{foreignCurrency.handleDecisionOptions}" rendered="#{foreignCurrency.isRenderDecision}"
                                                                                     required="true"  requiredMessage="Please Give a Decision">
                                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                                        <f:selectItem itemLabel="Approve" itemValue="Approved"/>
                                                                        <f:selectItem itemLabel="Reject" itemValue="Rejected"/>
                                                                    </p:selectOneMenu> 
                                                                    <p:message for="drdDecision" display="icon"/>
                                                                </div>
                                                                <p:outputLabel id="lblApproverRemark" class="control-label col-sm-2" value="Comment Given:" rendered="#{foreignCurrency.isRenderDecision}"/>
                                                                <div class="col-sm-4">
                                                                    <p:inputTextarea id="txtApproverRemark" class="form-control" value="#{foreignCurrency.wfPrmsProcessed.commentGiven}" rendered="#{foreignCurrency.isRenderDecision}"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h:panelGroup>

                                                </section>
                                            </section> 
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="col-sm-3 col-sm-push-2">
                                                <center>
                                                    <p:commandButton id="btnSave" class="btn btn-primary col-lg-4 " validateClient="true"
                                                                     value="#{foreignCurrency.createOrUpdateButton}"
                                                                     action="#{foreignCurrency.saveForeignExchangeInfo()}"
                                                                     process="@this,NewRegisteration,PGworkFlow"
                                                                     update="@this,NewRegisteration,:frmRecordingPage:PGworkFlow,:frmTop"/>

                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:panelGroup>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>

