<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="PortEntry.xhtml"><i class="fa fa-circle-o "></i> <span>Port Registration</span></a></li> 
        <li><a href="serviceProvider.xhtml"><i class="fa fa-circle-o "></i> <span>Service Provider</span></a></li> 
        <li><a href="ForeignExchange.xhtml"><i class="fa fa-circle-o "></i> <span>Foreign Currency Exchange</span></a></li>
        <li><a href="InsuranceRegistrationForm.xhtml"><i class="fa fa-circle-o "></i> <span>Insurance Information</span></a></li> 
        <li><a href="LCInformation.xhtml"><i class="fa fa-circle-o "></i> <span>Letter Of Credit Information</span></a></li> 
        <li><a href="LCRegAmendment.xhtml"><i class="fa fa-circle-o"></i> <span>Letter Of Credit Amendment </span></a></li> 
        <li><a href="BankClearanceRegistration.xhtml"><i class="fa fa-circle-o "></i> <span>Bank Clearance Registration</span></a></li>

    </ui:define>
    <ui:define name="contents">
        <h:form id="frmtoolbar">
            <p:toolbar style="background-color: white">
                <f:facet name="right">
                    <p:commandButton  id="btnNew" style="background-color: white;border-color: white"  icon="#{insuranceNotificationToBankController.icone}" validateClient="true"
                                      title="#{insuranceNotificationToBankController.newOrSearchBundle}" 
                                      action="#{insuranceNotificationToBankController.switchedOnNew()}" 
                                      update="@this,:frmsearchingArea,:frmNotificationPage,:frmtoolbar" process="@this"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <p:commandButton id="cmdBtnSearched" icon="ui-icon-search" style="background-color: white;border-color: white"
                                     title="Search" action="#{insuranceNotificationToBankController.switchedSearchBtnAction()}"
                                     update=":frmsearchingArea,:frmNotificationPage,:frmtoolbar" process="@this"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="InsuranceNotificationToBank.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon-ui-icon-grip-dotted-vertical"/>
                    </span>

                </f:facet>

            </p:toolbar>

        </h:form>
        <h:form id="frmsearchingArea">
            <h:panelGroup id="firstPG" rendered="#{insuranceNotificationToBankController.renderToSearching}" style="background-color: #2795e9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3>Searching by Bank Notification No.</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h:form id="frmSearching">
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblSearchInsuNotification" class="control-label col-sm-2" value="Bank Notification No:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtSearchInsuNotification" class="form-control" 
                                                                 value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.insuranceNotificationNo}"/>

                                                </div>

                                            </div>
                                            <div class="form-group textBoxMargin6px">
                                                <div class="col-sm-4 col-sm-push-2">
                                                    <p:commandButton id="btnFind" value="Find" icon="ui-icon-search" class="btn btn-primary"
                                                                     action="#{insuranceNotificationToBankController.searchBankNotificationNo()}"
                                                                     update=":frmsearchingArea:frmInsuranceNotifyModel" process="@this frmSearching"/> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h:form id="frmInsuranceNotifyModel">
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <p:dataTable id="insuranceNotifyDT" var="Notification" value="#{insuranceNotificationToBankController.prmsInsuranceNotToBankModel}"
                                                                 rows="5" paginator="true" paginatorPosition="bottom" editable="true"
                                                                 selection="#{insuranceNotificationToBankController.notificationDMSelection}" 
                                                                 selectionMode="single" rowKey="#{Notification.insuranceNotificationId}" rowIndexVar="NotifyList"
                                                                 rowsPerPageTemplate="5,10,15"
                                                                 paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {FirstPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                                                        <p:ajax event="rowSelect" listener="#{insuranceNotificationToBankController.onRowSelection}"
                                                                update=":frmNotificationPage,:frmNotificationPage:secondPG,:frmtoolbar,:frmsearchingArea"/>
                                                        <p:column headerText="S.No" sortBy="#{NotifyList+1}">
                                                            #{NotifyList+1}
                                                        </p:column>
                                                        <p:column sortBy="#{Notification.insuranceNotificationNo}">
                                                            <f:facet name="header">
                                                                <p:outputLabel value="Bank Notification No"/>

                                                            </f:facet>
                                                            <p:outputLabel value="#{Notification.insuranceNotificationNo}"/>

                                                        </p:column>
                                                        <p:column sortBy="#{Notification.insuranceRegId}">
                                                            <f:facet name="header">
                                                                <p:outputLabel value="Insurance No"/>

                                                            </f:facet>
                                                            <p:outputLabel value="#{Notification.insuranceRegId}"/>

                                                        </p:column>
                                                        <p:column sortBy="#{Notification.notifiedDate}">
                                                            <f:facet name="header">
                                                                <p:outputLabel value="Notification Date"/>

                                                            </f:facet>
                                                            <p:outputLabel value="#{Notification.notifiedDate}">
                                                                <f:convertDateTime pattern="yyyy/MM/dd"/>
                                                            </p:outputLabel>

                                                        </p:column>
                                                        <p:column sortBy="#{Notification.marineCertificateNo}">
                                                            <f:facet name="header">
                                                                <p:outputLabel value="Marine Certificate No"/>

                                                            </f:facet>
                                                            <p:outputLabel value="#{Notification.marineCertificateNo}"/>

                                                        </p:column>
                                                        <p:column sortBy="#{Notification.prepearedBy}">
                                                            <f:facet name="header">
                                                                <p:outputLabel value="Prepeared By"/>

                                                            </f:facet>
                                                            <p:outputLabel value="#{Notification.prepearedBy}"/>

                                                        </p:column>

                                                    </p:dataTable>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </h:form>

                            </div>

                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <h:form id="frmNotificationPage">
                    <p:growl id="OneGrowl" severity="information" showDetail="false" autoUpdate="true"/>
                    <h:panelGroup id="secondPG" rendered="#{insuranceNotificationToBankController.renderToNotification}">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3>Insurance Notification To Bank</h3>

                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-horizontal">
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblBankNotificationNo" class="control-label col-sm-2" for="txtBankNotificationNo" value="Bank Notification No:" />
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtBankNotificationNo" class="form-control" readonly="true" 
                                                                 value="#{insuranceNotificationToBankController.generateNotificationNo()}"/>
                                                </div>
                                                <p:outputLabel id="lblDatePrepared" class="control-label col-sm-2" for="selectDatePrepared" value="Date Prepared:"/>
                                                <div class="col-sm-3">
                                                    <p:calendar id="selectDatePrepared" placeholder="yyyy/mm/dd" tabindex="4" required="true"
                                                                value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.notifiedDate}"
                                                                pattern="yyyy/mm/dd" maxdate="today" mindate="today" autocomplete="off" readonlyInput="true">
                                                        <f:convertDateTime pattern="yyyy/mm/dd"/>
                                                    </p:calendar>
                                                    <p:message for="selectDatePrepared" display="icon"/>

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblToBank" class="control-label col-sm-2" for="selectToBank" value="To:"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="selectToBank" required="true" style="width: 100%"
                                                                     value="#{insuranceNotificationToBankController.prmsServiceProviderTo.serviceProId}"
                                                                     converter="entConverter"
                                                                     valueChangeListener="#{insuranceNotificationToBankController.updateTo}"> 
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems value="#{insuranceNotificationToBankController.fromServiceProviderTo}"
                                                                       var="to" itemLabel="#{to.name}" itemValue="#{to.serviceProId}"/>

                                                    </p:selectOneMenu>
                                                    <p:message for="selectToBank" display="icon"/>

                                                </div>
                                                <p:outputLabel id="lblBranch" class="control-label col-sm-2" for="selectBankBranch" value="Branch:"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="selectBankBranch" required="true" style="width: 100%"
                                                                     value="#{insuranceNotificationToBankController.prmsServiceProviderBranch.serviceDtId}"
                                                                     converter="entConverter"
                                                                     valueChangeListener="#{insuranceNotificationToBankController.updateBranch}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems value="#{insuranceNotificationToBankController.bankBranchs}"
                                                                       var="branch" itemLabel="#{branch.branchName}" itemValue="#{branch.serviceDtId}"/>

                                                    </p:selectOneMenu>
                                                    <p:message for="selectBankBranch" display="icon"/>
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMargin6px">

                                                <p:outputLabel id="lblInsuranceNo" class="control-label col-sm-2" for="txtInsuranceNo" value="Insurance No:"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="txtInsuranceNo" required="true" style="width:  100%"
                                                                     value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.insuranceRegId}"
                                                                     converter="entConverter"
                                                                     valueChangeListener="#{insuranceNotificationToBankController.automateGateOthers}">

                                                        <f:selectItems value="#{insuranceNotificationToBankController.fromInsuranceReg()}"/>
                                                        <p:ajax event="change" process="@this" update="txtPolicyNo,txtInsuredName,lblInsuredInterestValue,txtSumInsuredBirrValue,lblTFC,txtAmount,lblFcPercentage" />
                                                    </p:selectOneMenu>
                                                    <p:message for="txtInsuranceNo" display="icon"/>
                                                </div>
                                                <p:outputLabel id="lblMarineCertificateNo" class="control-label col-sm-2" for="txtMarineCertificateNo" value="Marine Certifica. No:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtMarineCertificateNo" class="form-control" required="true"
                                                                 value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.marineCertificateNo}"
                                                                 validatorMessage="Please Enter without space and special character">
                                                        <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                    </p:inputText>

                                                    <p:message for="txtMarineCertificateNo" display="icon"/>
                                                </div>
                                            </div>
                                            <!--<div class="box-title">
                                                <h5><b><i>Insurance Under Marin Open Cover</i></b></h5>
                                            </div>-->
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblPolicyNo" class="control-label col-sm-2" value="Policy No:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPolicyNo" class="form-control" readonly="true"
                                                                 value="#{insuranceNotificationToBankController.insuranceRequisition.policyNo}"/>
                                                </div>
                                                <p:outputLabel id="lblInsuredName" class="control-label col-sm-2" for="txtInsuredName" value="Insured Name:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtInsuredName" class="form-control" required="true" readonly="true" 
                                                                 value="#{insuranceNotificationToBankController.insuranceRequisition.nameOfInsured}"/>
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblAddress" class="control-label col-sm-2" for="txtAddress" value="Address:"/>
                                                <div class="col-sm-3">
                                                    <p:inputTextarea id="txtAddress" class="form-control" validator="#{validatorManagedBean.Text}"
                                                                     value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.address}"
                                                                     autoResize="false" style="overflow: scroll"/>
                                                </div>
                                            </div>
                                            <!--<div class="box-title">
                                                <h5><b>We are Pleased to confirm that the following consigment is held covered under the above mentioned open Policy issued by Us. </b></h5>  
                                            </div>-->
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblInsuredInterest" class="control-label col-sm-2" for="lblInsuredInterestValue" value="Insured Interest:"/>
                                                <div class="col-sm-3">
                                                    <p:outputLabel id="lblInsuredInterestValue" value="#{insuranceNotificationToBankController.insuranceRequisition.descriptionOfGood}"/>
                                                </div>

                                            </div>
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblSumInsuredBirr" class="control-label col-sm-2" for="txtSumInsuredBirrValue" value="Sum Insured Birr:"/>
                                                <div class="col-sm-8">
                                                    <div class="col-sm-3">
                                                        <p:inputText id="txtSumInsuredBirrValue" class="form-control"
                                                                     value="#{insuranceNotificationToBankController.insuranceRequisition.lcAmount}" title="Total of LC" readonly="true"/>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <p:outputLabel id="lblopen" value="("/>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <p:outputLabel id="lblTFC" value="#{insuranceNotificationToBankController.insuranceRequisition.exchangeRate}"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <p:inputText id="lblFcPercentage"  value="#{insuranceNotificationToBankController.insuranceRequisition.totalFc}"
                                                                     class="form-control" readonly="true"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <p:outputLabel id="txtPercentage" value="+ 10% *" />
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <p:outputLabel id="txtAmount" value="#{insuranceNotificationToBankController.insuranceRequisition.amountOfInsuranceFc}" title="Amount Of Insur.Fc"/>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <p:outputLabel class="col-sm-1" value=")Birr"/>
                                                    </div>

                                                </div>

                                            </div>

                                            <!--<div class="form-group textBoxMargin6px">
                                                <div class="box-title">
                                                    <h5><b>Subject to the terms and conditions of the open cover and the following clouses:</b></h5>
                                                </div>

                                            </div>-->
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblCargoClouses" class="control-label col-sm-2" for="txtCargoClouses" value="Instit. Cargo Clouses:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtCargoClouses" class="form-control" required="" 
                                                                 value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.cargoClouses}" validator="#{validatorManagedBean.Text}"
                                                                 validatorMessage="Please Enter Only texts "/>

                                                </div>
                                                <p:outputLabel id="lblCargoWar" class="control-label col-sm-2" for="txtWarClouses" value="Instit. War Clouses:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtWarClouses" class="form-control" 
                                                                 value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.warClouses}"
                                                                 validator="#{validatorManagedBean.Text}"
                                                                 validatorMessage="Please Enter Only texts"/>

                                                </div>

                                            </div>

                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblselectVoyageFrom" class="control-label col-sm-2" for="selectVoyageFrom" value="Voyage From:"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="selectVoyageFrom" style="width: 100%" required="true" 
                                                                     value="#{insuranceNotificationToBankController.prmsPortEntryFrom.portId}"
                                                                     converter="entConverter"
                                                                     valueChangeListener="#{insuranceNotificationToBankController.updatePortFrom}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems value="#{insuranceNotificationToBankController.voyageFrom}"
                                                                       var="VoyageFrom" itemLabel="#{VoyageFrom.portName}" itemValue="#{VoyageFrom.portId}"/>

                                                    </p:selectOneMenu> 
                                                    <p:message for="selectVoyageFrom" display="icon"/>
                                                </div>
                                                <p:outputLabel id="lblRisks" class="control-label col-sm-2" for="txtRisks" value="Risks:"/>
                                                <div class="col-sm-3">

                                                    <p:inputTextarea id="txtRisks" validator="#{validatorManagedBean.Text}" class="form-control"
                                                                     value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.risks}"/>
                                                </div>
                                            </div>
                                            <!--<div class="form-group textBoxMargin6px">
                                                <p:outputLabel class="control-label col-sm-2"/>
                                                <div class="col-sm-10">
                                                    <h5><b>Institute Strike,Rolts and Civil commission's clouses.</b></h5>
                                                </div>
                                            </div>-->
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblVia" class="control-label col-sm-2" for="selectVia" value="Via:"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="selectVia" style="width: 100%" required="true" 
                                                                     value="#{insuranceNotificationToBankController.prmsPortEntryVia.portId}"
                                                                     converter="entConverter"
                                                                     valueChangeListener="#{insuranceNotificationToBankController.updatePortVia}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems  value="#{insuranceNotificationToBankController.voyageFrom}"
                                                                        var="VoyageVia" itemLabel="#{VoyageVia.portName}" itemValue="#{VoyageVia.portId}"/>

                                                    </p:selectOneMenu>
                                                    <p:message for="selectVia" display="icon"/>
                                                </div>
                                                <p:outputLabel id="lblVoyageTo" class="control-label col-sm-2" for="selectVoyageTo" value="Voyage To:"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="selectVoyageTo" style="width: 100%" required="true" 
                                                                     value="#{insuranceNotificationToBankController.prmsPortEntryTo.portId}"
                                                                     converter="entConverter"
                                                                     valueChangeListener="#{insuranceNotificationToBankController.updatePortTo}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems value="#{insuranceNotificationToBankController.voyageFrom}"
                                                                       var="VoyageTo" itemLabel="#{VoyageTo.portName}" itemValue="#{VoyageTo.portId}"/>

                                                    </p:selectOneMenu>
                                                    <p:message for="selectVoyageTo" display="icon"/>
                                                </div>
                                            </div>

                                            <!-- <div class="form-group textBoxMargin6px">
                                                 <div class="col-sm-12">
                                                     <h5><b><br>We further confirm in the event of marine claim(s) arising under the aforesaid open cover policy the blank interest if any</br> 
                                                             will have priority before any payment is made to the insured. The relevant document will be issued in due course</b></h5>
                                                 </div>
                                             </div>-->
                                            <!--<div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="forAndon" class="control-label col-sm-4" value="For and On behalf of:"/>
                                            </div>-->
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel class="control-label col-sm-2" for="selectFor" value="For behalf of:"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="selectFor" style="width: 100%" required="true" 
                                                                     value="#{insuranceNotificationToBankController.prmsServiceProviderforBehalf.serviceProId}"
                                                                     converter="entConverter"
                                                                     valueChangeListener="#{insuranceNotificationToBankController.updateForBehalf}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems  value="#{insuranceNotificationToBankController.fromServiceProviderTo}"
                                                                        var="forBehalf" itemLabel="#{forBehalf.name}" itemValue="#{forBehalf.serviceProId}"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="selectFor" display="icon"/>
                                                </div>
                                                <p:outputLabel id="lblOnBehalf" class="control-label col-sm-2" for="selectOnBehalf" value="On behalf of:"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="selectOnBehalf" required="true" style="width: 100%"
                                                                     value="#{insuranceNotificationToBankController.prmsServiceProviderDetailonBehalf.serviceDtId}"
                                                                     converter="entConverter"
                                                                     valueChangeListener="#{insuranceNotificationToBankController.updateOnBehalf}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems value="#{insuranceNotificationToBankController.bankBranchs}"
                                                                       var="onBehalf" itemLabel="#{onBehalf.branchName}" itemValue="#{onBehalf.serviceDtId}"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="selectOnBehalf" display="icon"/>
                                                </div>
                                            </div>
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblPrepared" class="control-label col-sm-2" for="txtPrepared" value="Prepared By:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPrepared" class="form-control" 
                                                                 value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.prepearedBy}"
                                                                 validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter only texts"/>
                                                    <p:message for="txtPrepared" display="icon"/>
                                                </div>

                                                <p:outputLabel id="lblRemark" class="control-label col-sm-2" for="txtRemark" value="Remark:"/>
                                                <div class="col-sm-3">
                                                    <p:inputTextarea id="txtRemark" class="form-control" autoResize="false" 
                                                                     value="#{insuranceNotificationToBankController.prmsInsuranceNotToBank.remark}"/>
                                                    <p:message for="txtRemark" display="icon"/>
                                                </div>

                                            </div>
                                            <div class="form-group textBoxMargin6px">
                                                <div class="col-sm-3 col-sm-push-2">
                                                    <p:commandButton id="btnSave" icon="ui-icon-check" class="btn btn-primary col-lg-4"
                                                                     validateClient="true"
                                                                     value="#{insuranceNotificationToBankController.createOrUpdateButton}"
                                                                     action="#{insuranceNotificationToBankController.createBankNotificationInfo()}"
                                                                     update="secondPG" process="@this,secondPG"/>
                                                </div>
                                                <div class="col-sm-3 col-sm-push-4">
                                                    <p:commandButton id="btnReset" value="Reset" class="btn btn-primary col-lg-4"
                                                                     icon="ui-icon-document"
                                                                     process="@this" update=":frmNotificationPage,txtInsuredName"
                                                                     action="#{insuranceNotificationToBankController.reset()}"/>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </h:panelGroup>

                </h:form>

            </div>

        </div>

    </ui:define>
</ui:composition>


