<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard "></i> <span>Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li>
            <a href="serviceProvider.xhtml"><i class="fa  fa-circle-o"></i>Service Provider</a>
        </li>
        <li>
            <a href="BankClearanceRegistration.xhtml"><i class="fa  fa-circle-o"></i>Declaration Settlement(Bank Clearance) Registration</a>
        </li>
        <li>
            <a href="InsuranceRegistrationForm.xhtml"><i class="fa  fa-circle-o"></i>Insurance Registration Form</a>
        </li>
        <li>
            <a href="ForeignExchange.xhtml"><i class="fa  fa-circle-o"></i>Foreign Currency Exchange</a>
        </li>
        <li><a href="LCInformation.xhtml"><i class="fa fa-circle-o "></i>Letter Of Credit Information</a></li> 
        <li><a href="LCRegAmendment.xhtml"><i class="fa fa-circle-o "></i>Letter Of Credit Amendment </a></li> 
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pngBackToSearch" rendered="#{portEntryController.renderpnlToSearchPage}">
                        <p:commandButton id="cmdBackToSearch" icon="ui-icon-search" style="background-color: white;border-color: white"
                                         action="#{portEntryController.goBackSearchPageBtnAction()}" 
                                         title="Back to Search"
                                         process="@this" update=":frmMainUI, :BidSubmissionMain, :frmSample"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <p:commandButton id="btnNew" action="#{portEntryController.createNewServiceRegInfo()}" icon="#{portEntryController.icone}" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this"  update="@this,:frmMainUI, :BidSubmissionMain, :frmSample"
                                     title="#{portEntryController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="PortEntry.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>

        <!-- /.search form -->
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{portEntryController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >
                                <h:form id="frmSearchParty"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <h:outputLabel id="lblsearchBidNum" class="control-label col-sm-2" value="Port Name"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtsearchBidNum" class="form-control" value="#{portEntryController.papmsPortEntry.portName}"/>
                                                </div>
                                            </div>

                                            <div class="form-group textBoxMarginTop6px"> 

                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton id="btnFind" action="#{portEntryController.searchPort()}"  icon="ui-icon-search" 
                                                                     process="@this,frmSearchParty" update=":frmMainUI:frmParty"
                                                                     value="Find" class="btn btn-primary col-lg-4" />            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmParty">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblPartyInfo" value="#{portEntryController.prmsPortEntryModel}" var="PortList"  rows="10"  rowIndexVar="no" 
                                                                 selection="#{portEntryController.selectPort}"
                                                                 rowKey="#{PortList.portId}"  selectionMode="single" 
                                                                 paginator="true" paginatorPosition="bottom" editable="true"
                                                                 rowsPerPageTemplate="5,10,15" 
                                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                                                        <p:ajax event="rowSelect" listener="#{portEntryController.rowSelect}" 
                                                                update=":BidSubmissionMain,:BidSubmissionMain:checkListInfoPanel,:frmSample,:frmMainUI" />  
                                                        <p:column headerText="S.No">
                                                            #{no+1}
                                                        </p:column>
                                                        <p:column sortBy="#{PortList.portName}">
                                                            <f:facet name="header">
                                                                <h:outputText value="port Name" />
                                                            </f:facet>
                                                            <h:outputText value="#{PortList.portName}"/>
                                                        </p:column>
                                                        <p:column sortBy="#{PortList.dateRigistered}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Registration Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{PortList.dateRigistered}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Prepared By" />
                                                            </f:facet>
                                                            <h:outputText value="#{portEntryController.logerName}"/>
                                                        </p:column>

                                                    </p:dataTable>
                                                </div>                 
                                            </div>    
                                        </div>  
                                    </div>                           
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="BidSubmissionMain">
            <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information ,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{portEntryController.renderPnlCreateServiceRegistration}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Port Registration</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup style="border: 0px; background-color: transparent" id="checkListInfoPanel" >
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group textBoxMarginTop6px required">   
                                            <h:outputLabel id="lblportId" class="control-label col-sm-2"  value="Port No:"/>  
                                            <div class="col-sm-3">
                                                <p:inputText id="txtportId"  readonly="true"
                                                             value="#{portEntryController.generatePortNo()}"/>
                                            </div>
                                            <p:outputLabel id="lblRegDate" class="control-label col-sm-2" value="Registration Date:"/>
                                            <div class="col-sm-3">  
                                                <p:inputText id="txtcalRegDate" required="true"    requiredMessage="Registration Date is Required"
                                                             value="#{portEntryController.papmsPortEntry.dateRigistered}" placeholder="dd/mm/yyyy"
                                                             onclick="displayCalendar('BidSubmissionMain:txtcalRegDate', 'BidSubmissionMain:txtcalRegDate')"
                                                             valueChangeListener="#{portEntryController.handleRegistrationDate}">
                                                    <p:ajax event="mousemove" process="@this" />
                                                </p:inputText>
                                                <p:message display="icon" for="txtcalRegDate"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMarginTop6px required"> 
                                            <p:outputLabel id="lblCPortName"  class="control-label col-sm-2" value="Port Name:"/>
                                            <div class="col-sm-3">
                                                <p:inputText id="txtPortName" class="form-control" required="true" 
                                                             validator="#{validatorManagedBean.Text}"  requiredMessage=" Port Name is Required"
                                                             value="#{portEntryController.papmsPortEntry.portName}"/>
                                                <p:message display="icon" for="txtPortName"/>
                                            </div>


                                            <p:outputLabel id="lblPortType" class="control-label col-sm-2" value="Port Type:"/>
                                            <div class="col-sm-3">
                                                <p:selectOneMenu id="selectPortType" style="width: 100%" value="#{portEntryController.papmsPortEntry.portType}" required="true"  requiredMessage=" value is required" >  
                                                    <f:selectItem itemLabel="--- Select One ---"  noSelectionOption="true"/>
                                                    <f:selectItem itemLabel="Air Port" itemValue="Air Port" />
                                                    <f:selectItem itemLabel="Sea Port" itemValue="Sea Port" />
                                                    <f:selectItem itemLabel="Dry Port" itemValue="Dry Port" />
                                                    <p:ajax update="selectPortType" process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message display="icon" for="selectPortType"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMarginTop6px required"> 
                                            <p:outputLabel id="lblKind" class="control-label col-sm-2" value="Port Kind:"/>
                                            <div class="col-sm-3">
                                                <p:selectOneMenu id="selectPortKind" style="width: 100%" value="#{portEntryController.papmsPortEntry.portKind}"  required="true"  requiredMessage=" value is required" >  
                                                    <f:selectItem itemLabel="--- Select One ---"  noSelectionOption="true"/>
                                                    <f:selectItem itemLabel="Loading" itemValue="Loading" />
                                                    <f:selectItem itemLabel="UnLoading" itemValue="UnLoading" />
                                                    <f:selectItem itemLabel="Loading/UnLoading" itemValue="Loading/UnLoading" />
                                                    <p:ajax update="selectPortKind" process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message display="icon" for="selectPortKind"/>
                                            </div>

                                            <h:outputLabel id="lblPreparedBy"  class=" col-sm-2" style="text-align: right" value="Prepared By:"/>
                                            <div class="col-sm-3">
                                                <p:inputText id="txtPreparedBy" value="#{workFlow.userName}" readonly="true"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMarginTop6px"> 
                                            <h:outputLabel id="lblPreparerRepark" for="txtPreparerRemark" class="control-label col-sm-2" value="Remark:"/>
                                            <div class="col-sm-3">
                                                <p:inputTextarea id="txtPreparerRemark"  class="form-control" autoResize="false"   
                                                                 value="#{portEntryController.papmsPortEntry.remark}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group textBoxMarginTop6px "> 
                                        <div class="col-lg-2" />
                                        <div class="col-sm-3">

                                            <p:commandButton id="btnSave" value="#{portEntryController.saveorUpdateBundle}" icon="ui-icon-new" validateClient="true" 
                                                             class="btn btn-primary col-lg-4" 
                                                             process="@this,:BidSubmissionMain:checkListInfoPanel"  
                                                             update=" @this,:BidSubmissionMain:checkListInfoPanel,:frmSample"  
                                                             action="#{portEntryController.saveForPortRigstration()}" /> 

                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>

