<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>

        <!-- /.search form -->
    </ui:define>
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard "></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li>
            <a href="PortEntry.xhtml"><i class="fa  fa-circle-o"></i>Port Registration</a>
        </li>
        <li>
            <a href="BankClearanceRegistration.xhtml"><i class="fa  fa-circle-o"></i>Declaration Settlement(Bank Clearance) Registration</a>
        </li>
        <li>
            <a href="InsuranceRegistrationForm.xhtml"><i class="fa  fa-circle-o"></i>Insurance Registration Form</a>
        </li>
        <li>
            <a href="ForeignExchange.xhtml"><i class="fa  fa-circle-o"></i>Foreign Currency Exchange</a>
        </li>
        <li><a href="LCInformation.xhtml"><i class="fa fa-circle-o "></i> <span>Letter Of Credit Information</span></a></li> 
        <li><a href="LCRegAmendment.xhtml"><i class="fa fa-circle-o "></i> <span>Letter Of Credit Amendment </span></a></li> 
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    
                    <h:panelGroup id="pngBackToSearch" rendered="#{serviceProviderController.renderpnlToSearchPage}">
                        <p:commandButton id="cmdBackToSearch" icon="ui-icon-search" style="background-color: white;border-color: white"
                                         action="#{serviceProviderController.goBackSearchPageBtnAction()}" 
                                         title="Back to Search"
                                          process="@this" update="@this,:frmMainUI, :BidSubmissionMain, :frmSample"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <p:commandButton id="btnNew" action="#{serviceProviderController.newOrSearchServiceRegInfo()}" icon="#{serviceProviderController.icone}" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmMainUI, :BidSubmissionMain, :frmSample"
                                     title="#{serviceProviderController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="serviceProvider.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>


        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{serviceProviderController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchParty"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <h:outputLabel class="control-label col-sm-2" value="  Provider Name: "/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPartyName" value="#{serviceProviderController.papmsServiceProvider.name}"/>
                                                </div>
                                            </div>

                                            <div class="form-group textBoxMarginTop6px"> 

                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton action="#{serviceProviderController.searchServiceProvider()}" icon="ui-icon-search" 
                                                                     process="@this,frmSearchParty" update=":frmMainUI:frmParty:tblPartyInfo" 
                                                                     value="Find" class="btn btn-primary col-lg-4" />            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmParty">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblPartyInfo" value="#{serviceProviderController.prmsServiceProviderModel}" var="ServiceProvideList" rows="10"  rowIndexVar="no" 
                                                                 selection="#{serviceProviderController.selectServiceProvider}"
                                                                 rowKey="#{ServiceProvideList.serviceProId}"  selectionMode="single" 
                                                                 paginator="true" paginatorPosition="bottom" editable="true">

                                                        <p:ajax event="rowSelect" listener="#{serviceProviderController.rowSelect}" update=":BidSubmissionMain,:BidSubmissionMain:checkListInfoPanel,:frmSample,:frmMainUI,:BidSubmissionMain:checkListInfoPanel" /> 
                                                        <p:column headerText="S.No">
                                                            #{no+1}
                                                        </p:column>
                                                        <p:column sortBy="#{ServiceProvideList.name}">
                                                            <f:facet name="header">
                                                                <h:outputText value=" Provider Name" />
                                                            </f:facet>
                                                            <h:outputText value="#{ServiceProvideList.name}"/>
                                                        </p:column>
                                                        <p:column sortBy="#{ServiceProvideList.preparedDtae}">
                                                            <f:facet name="header">
                                                                <h:outputText value="Date Registared" />
                                                            </f:facet>
                                                            <h:outputText value="#{ServiceProvideList.preparedDtae}">
                                                                <f:convertDateTime pattern="dd/MMM/yyyy"/>
                                                            </h:outputText>
                                                        </p:column>

                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Prepared By" />
                                                            </f:facet>
                                                            <h:outputText value="#{serviceProviderController.logerName}"/>
                                                        </p:column>

                                                    </p:dataTable>
                                                </div>                 
                                            </div>    
                                        </div>  
                                    </div>                           
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="BidSubmissionMain">
            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{serviceProviderController.renderPnlCreateServiceRegistration}">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Service Provider Registration <small></small></h3>                       
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >  
                                <h:panelGroup style="border: 0px; background-color: transparent" id="checkListInfoPanel" >
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group textBoxMarginTop6px required"> 

                                            <h:outputLabel class="control-label col-sm-2" value="Name:"/>
                                            <div class="col-sm-3">                                
                                                <p:inputText   id="txtName" class="form-control"   required="true"  requiredMessage=" value is required"
                                                               value="#{serviceProviderController.papmsServiceProvider.name}" validator="#{validatorManagedBean.Text}" />
                                                <p:message for="txtName" display="icon"/>    
                                            </div> 
                                            <h:outputLabel id="lblType"  class="control-label col-sm-2" value="Type:"  />
                                            <div class="col-sm-3">
                                                <p:selectOneMenu id="selectType" style="width: 100%" value="#{serviceProviderController.papmsServiceProvider.type}" required="true"  requiredMessage=" value is required" >  
                                                    <f:selectItem itemLabel="--- Select One ---"  noSelectionOption="true"/>
                                                    <f:selectItem itemLabel="AirLine" itemValue="AirLine" />
                                                    <f:selectItem itemLabel="Bank" itemValue="Bank" />
                                                    <f:selectItem itemLabel="ERCA" itemValue="ERCA" />
                                                    <f:selectItem itemLabel="ESLSE" itemValue="ESLSE" />
                                                    <f:selectItem itemLabel="Ethiopian Post Office" itemValue="Ethiopian Post Office" />
                                                    <f:selectItem itemLabel="Insurance" itemValue="Insurance" />
                                                </p:selectOneMenu>
                                                <p:message for="selectType" display="icon"/>    </div></div>
                                        <div class="form-group textBoxMarginTop6px required">


                                            <h:outputLabel  id="lblregisteredDate" class="control-label col-sm-2" value="Registared Date :"/>
                                            <div class="col-sm-3">
                                                <p:calendar id="calregisteredDate"  required="true"  mindate="today"   requiredMessage=" value is required"                   
                                                            value="#{serviceProviderController.papmsServiceProvider.preparedDtae}"                    
                                                            pattern="yyyy/MM/dd" tabindex="4">
                                                    <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                </p:calendar>
                                                <p:message for="calregisteredDate" display="icon"/>
                                            </div> 


                                            <h:outputLabel id="lblCountry" class="control-label col-sm-2" value="Country:"/>
                                            <div class="col-sm-3"> 
                                                <p:selectOneMenu id="txtCountry" style="width: 100%" required="true" converter="entConverter"   requiredMessage=" value is required"
                                                                 value="#{serviceProviderController.comLuCountry}"  
                                                                 valueChangeListener="#{serviceProviderController.changeEventSuppCode}">
                                                    <f:selectItem itemLabel="--- Select One ---"  />
                                                    <f:selectItems value="#{serviceProviderController.comLuCountrysList}"  />
                                                    <p:ajax process="@this"  event="change" update="pnlServiceProDetail,:BidSubmissionMain:checklistTbl,txtTotalAmount"/>
                                                </p:selectOneMenu> 
                                                <p:message display="icon" for="txtCountry" />
                                            </div> 
                                        </div>
                                    </div> 
                                </h:panelGroup>
                            </div>

                        </div>

                    </div>  
                </div> 

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Service Provider Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="panel-body">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="pnlServiceProDetail" >
                                        <div class="form-horizontal col-sm-12">   
                                            <h:panelGroup style="border: 0px; background-color: transparent" id="countryyType" rendered="#{serviceProviderController.renderCountryEthiopia}" >

                                                <div class="form-group textBoxMarginTop6px required">
                                                    <h:outputLabel   class="control-label col-sm-2" value="Branch Name:" />
                                                    <div class="col-sm-3">
                                                        <p:inputText   id="txtBranchName" class="form-control" required="true"   requiredMessage=" value is required"
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.branchName}" validator="#{validatorManagedBean.Text}" />
                                                        <p:message for="txtBranchName" display="icon" />
                                                    </div>
                                                    <h:outputLabel   class="control-label col-sm-2"  value="City:"/>
                                                    <div class="col-sm-3">                                
                                                        <p:inputText   id="txtAddress" class="form-control" required="true" placeholder="Use Only From + Button" onmousedown="return false;"  requiredMessage=" value is required"  
                                                                       value="#{serviceProviderController.hrAddresses.addressName}"/>
                                                        <p:message for="txtAddress" display="icon" />
                                                    </div>
                                                    <div class="col-sm-2" >                                                                            
                                                        <p:commandButton id="btnAddress" onclick="PF('dlgAddress').show();" partialSubmit="true" style="background: transparent" value="+"/> 
                                                    </div>

                                                </div>
                                                <div class="form-group textBoxMarginTop6px required">
                                                    <h:outputLabel  class="control-label col-sm-2" value="Branch Type:"/>
                                                    <div class="col-sm-3">
                                                        <p:selectOneMenu id="selectBrachType" value="#{serviceProviderController.papmsServiceProviderDetail.branchType}" style="width: 100%" required="true"  requiredMessage=" value is required"  >  
                                                            <f:selectItem itemLabel="--- Select One ---"  noSelectionOption="true"/>
                                                            <f:selectItem itemLabel="Branch" itemValue="Branch" />
                                                            <f:selectItem itemLabel="Department" itemValue="Department" />
                                                            <f:selectItem itemLabel="Head Office" itemValue="HeadOffice" />
                                                            <f:selectItem itemLabel="Main Branch" itemValue="MainBranch" />
                                                            <p:message for="selectBrachType" display="icon"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="selectBrachType" display="icon" />
                                                    </div>
                                                    <h:outputLabel   class="col-sm-2"  style="text-align: right" value="Po.Box:"  />
                                                    <div class="col-sm-3">
                                                        <p:inputText   id="txtpobox" class="form-control"  
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.poBox}" validator="#{validatorManagedBean.POBOX}"  maxlength="10"/>
                                                        <p:message for="txtpobox" display="icon" />
                                                    </div>

                                                </div>
                                                <div class="form-group textBoxMarginTop6px">
                                                    <h:outputLabel   class="control-label col-sm-2" value="Tel No:"  />
                                                    <div class="col-sm-3">
                                                        <p:inputMask   id="txttelephoneNo" class="form-control" mask="+251-999-99-99-99"   
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.telephoneNo}"   />
                                                        <p:message for="txttelephoneNo" display="icon" />
                                                    </div>
                                                    <h:outputLabel   class="control-label col-sm-2"  value="Fax:"/>
                                                    <div class="col-sm-3">                                
                                                        <p:inputMask   id="txtfax" class="form-control" mask="+251-999-99-99-99"
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.fax}" />
                                                        <p:message for="txtfax" display="icon" />
                                                    </div>

                                                </div>
                                                <div class="form-group textBoxMarginTop6px">
                                                    <h:outputLabel   class="control-label col-sm-2" value="Email:"  />
                                                    <div class="col-sm-3">
                                                        <p:inputText   id="txtemail" class="form-control" 
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.email}" validator="#{validatorManagedBean.Email}" />
                                                        <p:message for="txtemail" display="icon" />
                                                    </div>
                                                    <h:outputLabel   class="control-label col-sm-2"  value="Mobile No:"/>
                                                    <div class="col-sm-3">                                
                                                        <p:inputMask   id="txtmobileNo" class="form-control" mask="+251-999-99-99-99"
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.mobileNo}" />
                                                        <p:message for="txtmobileNo" display="icon" />
                                                    </div>

                                                </div>
                                                <div class="form-group textBoxMarginTop6px">

                                                    <h:outputLabel  class="control-label col-sm-2" value="Remark:"/>
                                                    <div class="col-sm-3">                                
                                                        <p:inputTextarea   id="txtQuantit" class="form-control" autoResize="false" 
                                                                           value="#{serviceProviderController.papmsServiceProviderDetail.remark}"/>
                                                    </div>

                                                </div>
                                            </h:panelGroup>


                                            <h:panelGroup style="border: 0px; background-color: transparent" id="countryyOtherType" rendered="#{serviceProviderController.renderOutherCOunty}" >

                                                <div class="form-group textBoxMarginTop6px required">
                                                    <h:outputLabel   class="control-label col-sm-2" value="Branch Name:"  />
                                                    <div class="col-sm-3">
                                                        <p:inputText   id="txtBranchNameee" class="form-control" required="true"   requiredMessage="Branch Name is required"
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.branchName}" validator="#{validatorManagedBean.Text}" />
                                                        <p:message for="txtBranchNameee" display="icon" />
                                                    </div>
                                                    <h:outputLabel   class="control-label col-sm-2"  value="City:"/>
                                                    <div class="col-sm-3">                                
                                                        <p:inputText   id="txtcityyyy" class="form-control" required="true"  
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.city}" />
                                                        <p:message for="txtcityyyy" display="icon" />
                                                    </div>


                                                </div>
                                                <div class="form-group textBoxMarginTop6px required">
                                                    <h:outputLabel  class="control-label col-sm-2" value="Branch Type:"/>
                                                    <div class="col-sm-3">
                                                        <p:selectOneMenu id="selectBrachTypee" value="#{serviceProviderController.papmsServiceProviderDetail.branchType}" style="width: 100%" required="true"  requiredMessage=" value is required" >  
                                                            <f:selectItem itemLabel="--- Select One ---"  noSelectionOption="true"/>
                                                            <f:selectItem itemLabel="Branch" itemValue="Branch" />
                                                            <f:selectItem itemLabel="Department" itemValue="Department" />
                                                            <f:selectItem itemLabel="Head Office" itemValue="HeadOffice" />
                                                            <f:selectItem itemLabel="Main Branch" itemValue="MainBranch" />



                                                        </p:selectOneMenu>
                                                        <p:message for="selectBrachTypee" display="icon" />
                                                    </div>
                                                    <h:outputLabel   class="col-sm-2" style="text-align: right" value="Po.Box:"  />
                                                    <div class="col-sm-3">
                                                        <p:inputText   id="txtpoboxx" class="form-control"  
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.poBox}" validator="#{validatorManagedBean.POBOX}"  maxlength="10"/>
                                                        <p:message for="txtpoboxx" display="icon" />
                                                    </div>

                                                </div>



                                                <div class="form-group textBoxMarginTop6px required">
                                                    <h:outputLabel id="lblTotalAmount" class="control-label col-sm-2" value="Tel No:"/>

                                                    <div class="col-sm-3">  
                                                        <p:inputMask id="txtTotalAmount" class="col-sm-12" required="true"  mask="#{serviceProviderController.countryCode}"                                                                                                                                                                                                 
                                                                     value="#{serviceProviderController.papmsServiceProviderDetail.telephoneNo}"/>


                                                    </div>


                                                    <h:outputLabel   class=" col-sm-2" style="text-align: right"  value="Fax:"/>
                                                    <div class="col-sm-3">                                
                                                        <p:inputText  id="txtfaxx" class="form-control" 
                                                                      value="#{serviceProviderController.papmsServiceProviderDetail.fax}" validator="#{validatorManagedBean.Phone}"  />
                                                        <p:message for="txtfaxx" display="icon" />
                                                    </div>

                                                </div>
                                                <div class="form-group textBoxMarginTop6px">
                                                    <h:outputLabel   class="control-label col-sm-2" value="Email:"  />
                                                    <div class="col-sm-3">
                                                        <p:inputText   id="txtemaill" class="form-control" 
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.email}" validator="#{validatorManagedBean.Email}" />
                                                        <p:message for="txtemaill" display="icon" />
                                                    </div>
                                                    <h:outputLabel   class="control-label col-sm-2"  value="Mobile No:"/>
                                                    <div class="col-sm-3">                                
                                                        <p:inputText   id="txtmobileNoo" class="form-control"
                                                                       value="#{serviceProviderController.papmsServiceProviderDetail.mobileNo}" validator="#{validatorManagedBean.Phone}"  />
                                                        <p:message for="txtmobileNoo" display="icon" />
                                                    </div>

                                                </div>
                                                <div class="form-group textBoxMarginTop6px">

                                                    <h:outputLabel  class="control-label col-sm-2" value="Remark:"/>
                                                    <div class="col-sm-3">                                
                                                        <p:inputTextarea   id="txremark" class="form-control" autoResize="false"
                                                                           value="#{serviceProviderController.papmsServiceProviderDetail.remark}"/>
                                                    </div>

                                                </div>
                                            </h:panelGroup>

                                            <div class="form-group textBoxMarginTop6px"> 
                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-3">
                                                    <p:commandButton action="#{serviceProviderController.addServiceProvideDetialInfo()}" icon="ui-icon-add" validateClient="true" 
                                                                     process="pnlServiceProDetail" update=" :BidSubmissionMain:checklistTbl,pnlServiceProDetail" class="btn btn-primary col-lg-4  " 
                                                                     value="#{serviceProviderController.addOrModifyBundle}" /> 
                                                </div>
                                            </div>
                                        </div>


                                    </h:panelGroup>

                                    <h:panelGroup style="border: 0px; background-color: transparent" id="checklistTbl" >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="submissionDt" value="#{serviceProviderController.prmsServiceProviderDetailModel}"  rowIndexVar="no" var="contact"
                                                                 paginator="true" paginatorPosition="bottom" editable="true" lazy="true" rows="5">
                                                        <p:column headerText="S.No">
                                                            #{no+1}
                                                        </p:column>
                                                        <p:column headerText="Branch Name">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.branchName}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="branchName" value="#{contact.branchName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Branch Type">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.branchType}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="DAte" value="#{contact.branchType}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="City" rendered="#{serviceProviderController.renderCountryEthiopia}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.addressId.addressName}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="time" value="#{contact.addressId.addressName}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Cityy" rendered="#{serviceProviderController.renderOutherCOunty}">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.city}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="otherCity" value="#{contact.city}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Tel No">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.telephoneNo}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="telepNo" value="#{contact.telephoneNo}" style="width:100%" maxlength="10"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Fax">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.fax}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="fax" value="#{contact.fax}" style="width:100%" maxlength="10"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Email">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.email}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="email" value="#{contact.email}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Mobile No">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.mobileNo}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="mobileNo" value="#{contact.mobileNo}" style="width:100%" maxlength="10"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Po.Box">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.poBox}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="poBox" value="#{contact.poBox}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Remark">
                                                            <p:cellEditor>
                                                                <f:facet name="output"><h:outputText value="#{contact.remark}" /></f:facet>
                                                                <f:facet name="input"><p:inputText id="remark" value="#{contact.remark}" style="width:100%"/></f:facet>
                                                            </p:cellEditor>
                                                        </p:column>
                                                        <p:column headerText="Update"> 
                                                            <p:commandLink action="#{serviceProviderController.editItemDataTbl()}" value="Edit" 
                                                                           process="@this,submissionDt" update="@this,:BidSubmissionMain:pnlServiceProDetail"/>
                                                        </p:column>
                                                    </p:dataTable>

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMarginTop6px">   
                                                <h:outputLabel id="lblPreparedBy"  class="control-label col-sm-2" value="Prepared By:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtPreparedBy" class="form-control" validator="#{validatorManagedBean.Text}"  


                                                                 value="#{serviceProviderController.workFlow.userName}"  disabled="true"/>
                                                    <p:message display="icon" for="txtPreparedBy"/>
                                                </div>
                                                <h:outputLabel id="lblApproved"  class="control-label col-sm-2" value="Remark:"/>
                                                <div class="col-sm-3">
                                                    <p:inputTextarea  id="txtApproved" class="form-control" autoResize="false" 
                                                                      value="#{serviceProviderController.papmsServiceProvider.remark}" validator="#{validatorManagedBean.Text}"/>

                                                </div>
                                            </div>

                                            <div class="form-group textBoxMarginTop6px "> 
                                                <div class="col-lg-2" />
                                                <div class="col-sm-3">

                                                    <p:commandButton id="save" value="#{serviceProviderController.saveorUpdateBundle}" icon="ui-icon-new" validateClient="true" 
                                                                     class="btn btn-primary col-lg-4" 
                                                                     process="@this,checklistTbl,checkListInfoPanel" 
                                                                     update="checklistTbl, checkListInfoPanel,:frmSample"  
                                                                     action="#{serviceProviderController.saveForServiceProvider()}" /> 

                                                </div>
                                            </div>
                                        </div>
                                        <p:dialog id="dlgAddress" header="Address" widgetVar="dlgAddress" height="300" width="500"  showEffect="explode">
                                            <h:panelGrid columns="2" >
                                                <p:tree id="addressTree" value="#{serviceProviderController.root}" var="node" dynamic="true"
                                                        selectionMode="single" animate="true" selection="#{serviceProviderController.selectedNode}"  
                                                        style="width: 100%; height: 100%; overflow: auto; display: block; border: transparent; border-style: inset" class="col-lg-12">
                                                    <p:treeNode id="treeNode" expandedIcon="ui-icon ui-icon-folder-open" 
                                                                collapsedIcon="ui-icon ui-icon-folder-collapsed">
                                                        <h:outputText value="#{node}" id="nodetxt"/>                                                                
                                                    </p:treeNode>
                                                    <p:ajax event="select" listener="#{serviceProviderController.onNodeSelect}"  process="@this" 
                                                            update=":BidSubmissionMain:txtAddress" oncomplete="PF('dlgAddress').hide()"/>
                                                </p:tree>                                   
                                            </h:panelGrid>
                                        </p:dialog>  

                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>          

