<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li><a href="insuranceCompany.xhtml"><i class="fa fa-fw"></i> <span> Insurance Company</span></a></li>
        <li><a href="maintianInjuredEmployee.xhtml"><i class="fa fa-fw"></i> <span> Maintain Employees Accident Information</span></a></li>
        <li><a href="DiagnosisResult.xhtml"><i class="fa fa-fw"></i><span>Diagnosis Result</span></a></li>
        <li><a href="insurancePayment.xhtml"><i class="fa fa-fw"></i> <span>Insurance Payment </span></a></li>
        <li><a href="insurancePaymentApprove.xhtml"><i class="fa fa-fw"></i> <span> Insurance Payment Approve</span></a></li>
    </ui:define>
    <ui:define name="contents">  
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnNew" validateClient="true" action="#{injuryController.createNewAdditionalAmount()}" 
                                     icon="#{injuryController.icone}" style="background-color: white" 
                                     process="@this" update=":frmRequest,:frmSample"
                                     title="#{injuryController.createOrSearchBundle}"/>
                    <span class="ui-separator">
                    </span>
                    <a href="insuranceCompany.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <p:commandButton id="btnTrash" type="button" style="background-color: white"  title="Delete" icon="ui-icon-trash"/>
                    <p:commandButton id="btnPrint" type="button" style="background-color: white"  title="Print" icon="ui-icon-print"/>
                </f:facet>
            </p:toolbar>           
        </h:form>
        <h:form id="frmRequest">
            <p:growl id="growl2" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{injuryController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-body ">
                                <div class="box-body ">   
                                    <div class="col-md-12" >
                                        <div class="box-body">
                                            <div class="form-horizontal  col-sm-12">
                                                <div class="form-group">
                                                    <h:outputLabel class="control-label col-sm-2" value="Filter Criteria:"/>
                                                    <div class="col-sm-3">
                                                        <p:selectOneMenu id="somFiliterByStatus" style="width:100%"
                                                                         valueChangeListener="#{injuryController.filiterByStatus_VclInsuranceCompany}">
                                                            <f:selectItems value="#{injuryController.filterByStatus}"/>   
                                                            <p:ajax event="change" process="@this" update="tblCompetency"/>
                                                        </p:selectOneMenu> 
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>                                    
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{injuryController.renderPnlManPage}">               
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">                      
                            <div class="box-body ">                                
                                <div class="col-md-12" >  
                                    <div class="col-md-12" style="margn-top: 30px;">
                                        <div class="form-group">
                                            <p:dataTable id="tblCompetency"   value="#{injuryController.insuranceDataModel}"
                                                         var="emp" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                         selection="#{injuryController.selectrowinsurance}" rowKey="#{emp.id}" 
                                                         rows="10" paginator="true" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" process="@this" listener="#{injuryController.populateinsuranceprovider}"
                                                        update=":frmRequest,:frmSample" />  
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Insurance Name"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.insuranceId.insuranceName}"/>
                                                </p:column> 
                                                <p:column headerText="Branch Name" filterMatchMode="startsWith" filterBy="#{emp.branchId.branchName}">
                                                    <h:outputText  value="#{emp.branchId.branchName}" />
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup id="pnlMainpage" style="border: 0px; background-color: transparent" rendered="#{injuryController.renderPnlCreateAdditional}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Insurance Company Setup Page</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body"> 
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnl1" class="col-sm-12" rendered="#{insurancePaymentController.choosePermanet}" style="border: 0px; background-color: transparent">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6"> 
                                                            <div class="col-md-12 ">
                                                                <div class=" col-md-12">
                                                                    <div class="form-group form-group required form-horizontal">
                                                                        <h:outputLabel value="Insurance Company:" class="col-md-4 control-label"/>
                                                                        <div class="col-md-8 textBoxMargin6px">
                                                                            <p:selectOneMenu id="Prov" value="#{injuryController.hrInsurance.insuranceId}" 
                                                                                             valueChangeListener="#{injuryController.vcl_filiterByCategory}" style="width:100%"
                                                                                             converter="entConverter" required="true" requiredMessage="Select Insurance Name"
                                                                                             effect="fade"  filter="true" filterMatchMode="startsWith">
                                                                                <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                                <f:selectItems value="#{injuryController.hrLuInsuranceslist}" var="luinsu" itemValue="#{luinsu}" itemLabel="#{luinsu.insuranceName}"/>
                                                                                <p:ajax event="change" process="@this,Prov" update="@this,,Branch"  />
                                                                            </p:selectOneMenu>
                                                                            <p:message for="Prov" display="icon"/>  
                                                                        </div> 
                                                                    </div>
                                                                </div>  
                                                                <div class=" col-md-12">
                                                                    <div class="form-group form-group required form-horizontal">
                                                                        <h:outputLabel value="Insurance Branch:" class="col-md-4 control-label" />
                                                                        <div class="col-md-8 textBoxMargin6px">
                                                                            <p:selectOneMenu id="Branch" value="#{injuryController.hrInsurance.branchId}" 
                                                                                             valueChangeListener="#{injuryController.vcl_filiterByCategory1}" style="width:100%"
                                                                                             converter="entConverter" required="true" requiredMessage="Select Branch Name"
                                                                                             effect="fade"  filter="true" filterMatchMode="startsWith" >
                                                                                <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                                <f:selectItems value="#{injuryController.hrLuInsuranceBrancheslist}" var="evaCriteria" itemValue="#{evaCriteria}" itemLabel="#{evaCriteria.branchName}"/>
                                                                            </p:selectOneMenu>
                                                                            <p:message for="Branch" display="icon"/>  
                                                                        </div>

                                                                    </div>   
                                                                </div>
                                                                <div class=" col-md-12">
                                                                    <div class="form-group form-horizontal">
                                                                        <h:outputLabel for="Policy" class="control-label col-sm-4" value="Policy Number:"/>
                                                                        <div class="col-md-8 textBoxMargin6px">
                                                                            <p:inputText id="Policy" value="#{injuryController.hrInsurance.policyNo}" />
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class=" col-md-12">
                                                                    <div class="form-group form-horizontal">
                                                                        <h:outputLabel for="POBOX" class="control-label col-sm-4" value="P.O.Box:"/>
                                                                        <div class="col-md-8 textBoxMargin6px">
                                                                            <p:inputText id="POBOX" value="#{injuryController.hrInsurance.pobox}" />
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class=" col-md-12">
                                                                    <div class="form-group form-group required form-horizontal">
                                                                        <h:outputLabel for="Telephone" class="control-label col-sm-4" value="Telephone:"/>
                                                                        <div class="col-md-8 textBoxMargin6px">
                                                                            <p:inputMask id="Telephone"  value="#{injuryController.hrInsurance.telephone}"
                                                                                         required="true" requiredMessage="enter telephone"  mask="(999) 999-9999? x99999" onchange="this.value = this.value.trim()" />
                                                                            <p:message for="Telephone" display="icon"/>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class=" col-md-12">
                                                                    <div class="form-group form-group required form-horizontal">
                                                                        <h:outputLabel for="Address1" class="control-label col-sm-4" value="Address:"/>
                                                                        <div class="col-md-8 textBoxMargin6px">
                                                                            <p:inputText id="Address1"  value="#{injuryController.hrInsurance.addressId}" class="form-control"
                                                                                         required="true" requiredMessage="enter Address" onchange="this.value = this.value.trim()" />
                                                                            <p:message for="Address1" display="icon"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class=" col-md-12">
                                                                    <div class="form-group form-group required form-horizontal">
                                                                        <h:outputLabel for="rbtStatus" class="control-label col-sm-4" value="Status:"/>
                                                                        <div class="col-md-8 textBoxMargin6px">
                                                                            <p:selectOneRadio id="rbtStatus" value="#{injuryController.hrInsurance.status}" 
                                                                                              required="true" class="col-sm-6" requiredMessage="Select employee type">
                                                                                <f:selectItem itemLabel="Active" itemValue="1"/>
                                                                                <f:selectItem itemLabel="Inactive" itemValue="0" />
                                                                            </p:selectOneRadio>
                                                                            <p:message for="rbtStatus" display="icon"/>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class=" col-md-12">
                                                                    <div class="form-group form-horizontal">
                                                                        <h:outputLabel for="Discription2" class="control-label col-sm-4" value="Remark:"/>
                                                                        <div class="col-md-8 textBoxMargin6px">
                                                                            <p:inputTextarea id="Discription2"  value="#{injuryController.hrInsurance.remark}" onchange="this.value = this.value.trim()" 
                                                                                             rows="" cols="4" autoResize="false" title="Remark"  class="form-control">
                                                                            </p:inputTextarea>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class=" col-md-12">
                                                                    <div class="form-group form-horizontal">
                                                                        <div class="col-md-4 "></div>
                                                                        <div class="col-sm-3">
                                                                            <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-lg-4"                                                                        
                                                                                             value="#{injuryController.saveOrUpdateButton}"
                                                                                             process="@this,:frmRequest" update="@this,:frmRequest"
                                                                                             action="#{injuryController.SAVEINSURANCECOMPANY()}"/>                                                     
                                                                        </div> 
                                                                        <div  class="col-sm-3">
                                                                            <p:commandButton id="btnReset" class="btn  btn-block btn-primary col-lg-4" 
                                                                                             action="#{injuryController.resetInsuranceCompany()}"
                                                                                             value="Reset" process="@this,:frmRequest" update="@this,:frmRequest"  />
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </div> 
                                                </div>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
