<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content"> 
        <li><a href="insuranceCompany.xhtml"><i class="fa fa-fw"></i> <span> Insurance Company</span></a></li>
        <li><a href="maintianInjuredEmployee.xhtml"><i class="fa fa-fw"></i> <span> Maintain Employees Accident Information</span></a></li>
        <li><a href="DiagnosisResult.xhtml"><i class="fa fa-fw"></i><span>Diagnosis Result</span></a></li>
        <li><a href="insurancePayment.xhtml"><i class="fa fa-fw"></i> <span>Insurance Payment</span></a></li>
        <li><a href="insurancePaymentApprove.xhtml"><i class="fa fa-fw"></i> <span> Insurance Payment Approve</span></a></li>

    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandLink id="cmlView" class="fa fa-gear" onclick="PF('dlgWorkflow').show();"/> 
                    <p:commandButton id="btnNew" validateClient="true" action="#{insurancePaymentController.createNewAdditionalAmount()}" 
                                     icon="#{insurancePaymentController.icone}" style="background-color: white" 
                                     process="@this" update=":frmRequest,:frmSample"
                                     title="#{insurancePaymentController.createOrSearchBundle}"/>
                    <span class="ui-separator">
                    </span>
                    <a href="insurancePayment.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <p:commandButton id="btnTrash" type="button" style="background-color: white"  title="Delete" icon="ui-icon-trash"/>
                    <p:commandButton id="btnPrint" type="button" style="background-color: white"  title="Print" icon="ui-icon-print"/>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmRequest"> 
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnldetaildiagonasis" rendered="#{insurancePaymentController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary"> 
                            <div class="box-header with-border">
                                <h3 class="box-title" >Injured Diagnosis Result Lists</h3>
                            </div>
                            <div class="box-body">    
                                <div class="col-md-12">  
                                    <div class="col-md-12" style="margin-top:30px;">
                                        <div class="form-group">
                                            <p:dataTable id="tbldiagonsist" value="#{insurancePaymentController.hrInsurancediagnosisResultList}"
                                                         var="currentRow" selectionMode="single" rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                         rowKey="#{currentRow}" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" listener="#{insurancePaymentController.populatediagonasis}"
                                                        process="@this,tbldiagonsist" update=":frmRequest,:frmSample"/>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Employee Name"/>
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.hrInsuranceInjuredEmployee.fullName} #{currentRow.hrInsuranceInjuredEmployee.empId.firstName}
                                                                  #{currentRow.hrInsuranceInjuredEmployee.empId.middleName} #{currentRow.hrInsuranceInjuredEmployee.empId.lastName}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Insurance Provider"/>
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.hrInsuranceInjuredEmployee.insuranceId.insuranceId.insuranceName}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Insurance Branch"/>
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.hrInsuranceInjuredEmployee.insuranceId.branchId.branchName}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Employee Type" />
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.hrInsuranceInjuredEmployee.type}"/> 
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Job Title" />
                                                    </f:facet>
                                                    <h:outputText value="#{currentRow.hrInsuranceInjuredEmployee.empId.jobId.jobTitle}#{currentRow.hrInsuranceInjuredEmployee.jobPosition}"/> 
                                                </p:column> 
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <h:panelGroup id="pnlSearch" rendered="#{insurancePaymentController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary"> 
                            <div class="box-header with-border">
                                <h3 class="box-title" >Search ...</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group">
                                            <h:outputLabel class="control-label col-sm-2" value="Filter Criteria:"/>
                                            <div class="col-sm-3">
                                                <p:selectOneMenu id="somFiliterByStatus" style="width:100%"
                                                                 valueChangeListener="#{insurancePaymentController.filiterByStatus_VclInsurancePayment}">
                                                    <f:selectItems value="#{insurancePaymentController.populateFilterByStatus}"/>   
                                                    <p:ajax event="change" process="@this" update="tblResultList"/>
                                                </p:selectOneMenu> 
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-12">                                       
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p:dataTable id="tblResultList" value="#{insurancePaymentController.inpaymentrequestDataModel}"
                                                         var="res" selectionMode="single" rowIndexVar="num" rows="10" paginator="true" paginatorPosition="bottom"
                                                         selection="#{insurancePaymentController.hrInsurancePayment}" rowKey="#{res.id}" class="dataTable">
                                                <p:ajax event="rowSelect" process="@this" listener="#{insurancePaymentController.populat}" 
                                                        update=":frmRequest,:frmSample"/>
                                                <p:column headerText="No.">
                                                    <h:outputText value="#{num + 1}"/>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Employee Name"/>
                                                    </f:facet>
                                                    <h:outputText value="#{res.diagonasisResultId.hrInsuranceInjuredEmployee.fullName} #{res.diagonasisResultId.hrInsuranceInjuredEmployee.empId.firstName}
                                                                  #{res.diagonasisResultId.hrInsuranceInjuredEmployee.empId.middleName} #{res.diagonasisResultId.hrInsuranceInjuredEmployee.empId.lastName}"/> 
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Percentage Physical txtDamage"/>
                                                    </f:facet>
                                                    <h:outputText value="#{res.diagonasisResultId.isDisease}"/>
                                                </p:column> 

                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup> 
            <h:panelGroup id="pnlMainpage" rendered="#{insurancePaymentController.renderPnlCreateAdditional}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Insurance Payment</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body"> 
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnlr" class="col-sm-12" style="border: 0px; background-color: transparent">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6"> 
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel class="col-md-4 control-label" value="Employee Type:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:selectOneRadio id="rdemployetype" value="#{insurancePaymentController.hrInsuranceInjuredEmployee.type}" disabled="#{insurancePaymentController.lockInput}"
                                                                                          required="true" class="col-sm-6" requiredMessage="Select employee type" 
                                                                                          valueChangeListener="#{insurancePaymentController.handleEmployee}">
                                                                            <f:selectItem itemLabel="Permanent/contract" itemValue="Permanent/contract"/>
                                                                            <f:selectItem itemLabel="DailyLabour" itemValue="Daily Labour"/>
                                                                            <p:ajax process="@this" event="change" update="frmRequest"/>
                                                                        </p:selectOneRadio>
                                                                        <p:message for="rdemployetype" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup id="pnl1" class="col-sm-12" rendered="#{insurancePaymentController.choosePermanet}" style="border: 0px; background-color: transparent">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6"> 
                                                            <div class="col-md-12 ">
                                                                <div class="form-group  form-horizontal"> 
                                                                    <h:outputLabel for="txtepmname" class="col-md-4 control-label" value="Employee Name:"/>
                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                        <p:inputText id="txtepmname" value="#{insurancePaymentController.hrInsuranceDiagnosisResult.hrInsuranceInjuredEmployee.empId.firstName} #{insurancePaymentController.hrInsuranceDiagnosisResult.hrInsuranceInjuredEmployee.empId.middleName} #{insurancePaymentController.hrInsuranceDiagnosisResult.hrInsuranceInjuredEmployee.empId.lastName}" readonly="true"/>
                                                                    </div> 
                                                                    <p:message for="txtepmname" display="icon"/>
                                                                </div>                                                                 
                                                            </div>  
                                                            <div class="col-md-12">
                                                                <div class="form-group  form-horizontal">
                                                                    <h:outputLabel value="Job Title:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txttitle" readonly="true" value="#{insurancePaymentController.hrEmployees.jobId.jobTitle}" required="true">
                                                                        </p:inputText>
                                                                        <p:message for="txttitle" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>  
                                                            <div class="col-md-12">
                                                                <div class="form-group  form-horizontal">
                                                                    <h:outputLabel value="Salary:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtSalary" readonly="true" value="#{insurancePaymentController.hrEmployees.basicSalary}" required="true">
                                                                        </p:inputText>
                                                                        <p:message for="txtSalary" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div> 
                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel value="Department:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtDirectorate"  readonly="true" value="#{insurancePaymentController.hrEmployees.jobId.jobTitle}" required="true">
                                                                        </p:inputText>
                                                                        <p:message for="txtDirectorate" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="class" value="Class Type:" class="col-md-4 control-label" /> 
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="class" readonly="true" value="#{insurancePaymentController.hrEmployees.employmentType}" >
                                                                        </p:inputText> 
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-horizontal">
                                                                <h:outputLabel class="col-md-4 control-label" value="Off Duty:"/>
                                                                <div class="col-md-8 textBoxMargin6px">
                                                                    <p:selectOneRadio id="rdnoffduty" value="#{insurancePaymentController.offduty}" 
                                                                                      class="col-sm-6" >
                                                                        <f:selectItem itemLabel="Yes" itemValue="1"/>
                                                                        <f:selectItem itemLabel="No" itemValue="0"/>
                                                                        <p:ajax process="@this" event="change" update="frmRequest"/>
                                                                    </p:selectOneRadio> 
                                                                </div>                                                                                                                               
                                                            </div> 
                                                        </div>

                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup id="pnl121" rendered="#{insurancePaymentController.chooseDailyLabour}">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6"> 
                                                            <div class="col-md-12 ">
                                                                <div class="form-group  form-horizontal"> 
                                                                    <h:outputLabel for="txtfullname" class="control-label col-sm-4" value="Full Name:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtfullname" value="#{insurancePaymentController.hrInsuranceDiagnosisResult.hrInsuranceInjuredEmployee.fullName}" readonly="true"/>
                                                                        <p:message for="txtfullname" display="icon"/>
                                                                    </div>                                                                 
                                                                </div>
                                                            </div>   
                                                            <div class="col-md-12">
                                                                <div class="form-group  form-horizontal">
                                                                    <h:outputLabel value="Daily Wage:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtSalaryOn1" readonly="true" value="#{insurancePaymentController.hrInsuranceInjuredEmployee.dailyWage}"  required="true">
                                                                        </p:inputText>
                                                                        <p:message for="txtSalaryOn1" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group  form-horizontal">
                                                                    <h:outputLabel value="Accident Date:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txttxtAccidentDate1" readonly="true" value="#{insurancePaymentController.hrInsuranceInjuredEmployee.accidentDate}"  required="true"/>
                                                                        <p:message for="txttxtAccidentDate1" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <div class="form-group  form-horizontal">
                                                                    <h:outputLabel value="Reported On:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txttxtReported1" readonly="true" value="#{insurancePaymentController.hrInsuranceInjuredEmployee.accidentInformedDate}"
                                                                                     validator="#{validatorManagedBean.Date}"
                                                                                     required="true">
                                                                        </p:inputText>
                                                                        <p:message for="txttxtReported1" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtclass1" value="Class Type:" class="col-md-4 control-label" /> 
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtclass1" readonly="true" value="#{insurancePaymentController.hrInsuranceInjuredEmployee.type}" >
                                                                        </p:inputText> 
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </section> 
                                    </section> 
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnl3" class="col-sm-12" rendered="#{insurancePaymentController.choosePermanet}">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <div class="form-group  form-horizontal">
                                                                    <h:outputLabel value="Accident Date:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtAccidentDate" readonly="true" value="#{insurancePaymentController.hrInsuranceInjuredEmployee.accidentDate}" 
                                                                                     required="true" >
                                                                        </p:inputText>
                                                                        <p:message for="txtAccidentDate" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div> 
                                                            <div class="col-md-12">
                                                                <div class="form-group  form-horizontal">
                                                                    <h:outputLabel value="Percentage Physical Damage:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtDamage" readonly="true" value="#{insurancePaymentController.hrInsuranceDiagnosisResult.isDisease}"
                                                                                     validator="#{validatorManagedBean.Number}" >
                                                                        </p:inputText>
                                                                        <p:message for="txtDamage" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group  form-horizontal">
                                                                    <h:outputLabel value="Name Of Injury:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtInjury" readonly="true" value="#{insurancePaymentController.hrInsuranceDiagnosisResult.injuryDisease}"
                                                                                     validator="#{validatorManagedBean.Text}"  required="true">
                                                                        </p:inputText>
                                                                        <p:message for="txtInjury" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group  form-horizontal">
                                                                    <h:outputLabel value="Reported On:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtReported" readonly="true" value="#{insurancePaymentController.hrInsuranceInjuredEmployee.accidentInformedDate}"
                                                                                     validator="#{validatorManagedBean.Date}"  required="true">
                                                                        </p:inputText>
                                                                        <p:message for="txtReported" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal"> 
                                                                    <h:outputLabel  class="col-md-4 control-label" value="Sick Leave:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">                                                       
                                                                        <p:inputText id="txtSickLeave1" readonly="true" value="#{insurancePaymentController.hrInsuranceDiagnosisResult.sickLeave}"
                                                                                     validator="#{validatorManagedBean.Number}" />

                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-12">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel value="Medical Expense:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtExpense" value="#{insurancePaymentController.hrInsurancePaymentDetail.medicalExpence}"
                                                                                     onchange="this.value = this.value.trim()"    required="true" requiredMessage="Enter Medical Expence"     class="form-control"   >
                                                                        </p:inputText> 
                                                                        <p:message for="txtExpense" display="icon"/> 
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel value="Reciept Number:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtReciept" value="#{insurancePaymentController.hrInsurancePaymentDetail.recieptNo}"
                                                                                     onchange="this.value = this.value.trim()"     required="true" requiredMessage="Enter Reciept Number "    class="form-control" >
                                                                        </p:inputText> 
                                                                        <p:message for="txtReciept" display="icon"/> 
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-sm-12 form-horizontal">
                                                                <div class="col-sm-4">                                                              
                                                                </div>                                                                    
                                                                <div class="col-sm-3">
                                                                    <center>
                                                                        <p:commandButton id="btnAdd" value="#{insurancePaymentController.addorUpdate}" 
                                                                                         action="#{insurancePaymentController.addInvoiceDetail()}" class="btn  btn-block btn-primary col-lg-4" 
                                                                                         process="@this,pnl3,pnl456,txtExpense,txtReciept" 
                                                                                         update="@this,pnl3,tblResultDetail,pnl456"/>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <br></br>
                                                <div class="form-group" >
                                                    <div class="col-sm-12">
                                                        <div class="col-md-12">                                                                      
                                                            <div class="form-group form-horizontal">  
                                                                <p:dataTable id="tblResultDetail" value="#{insurancePaymentController.hrInsurancePaymentDetailmodel}" 
                                                                             class="dataTable" var="resultDetail" rowIndexVar="rowIndex">                                                                                       
                                                                    <p:column style="width:100px" >
                                                                        <f:facet name="header" >No.</f:facet>
                                                                        <p:outputLabel value="#{rowIndex+1}"/>
                                                                    </p:column>
                                                                    <!--                                                                    <p:column headerText="Accident Happened" >
                                                                                                                                            <h:outputText value="{resultDetail.accidenthappend}"/>
                                                                                                                                        </p:column>-->
                                                                    <p:column headerText="Medical Expense" >
                                                                        <h:outputText value="#{resultDetail.medicalExpence}"/>
                                                                    </p:column>
                                                                    <p:column headerText="Reciept Number" >
                                                                        <h:outputText value="#{resultDetail.recieptNo}"/>
                                                                    </p:column>
                                                                    <p:column headerText="Reference Number" >
                                                                        <h:outputText value="#{resultDetail.referenceNo}"/>
                                                                    </p:column>
                                                                    <p:column headerText="Edit">
                                                                        <p:commandLink action="#{insurancePaymentController.editDataTable()}" value="Edit" 
                                                                                       process="@this,tblResultDetail" update="@this,:frmRequest"/>
                                                                    </p:column>
                                                                    <p:columnGroup type="footer">
                                                                        <p:row>
                                                                            <p:column colspan="3" style="text-align:right" footerText="Total Medical:" />
                                                                            <p:column footerText="#{insurancePaymentController.medicalexpence}" />
                                                                            <p:column />
                                                                        </p:row>
                                                                    </p:columnGroup>
                                                                </p:dataTable> 
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup id="pnl32" class="col-sm-12" rendered="#{insurancePaymentController.chooseDailyLabour}">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal"> 
                                                                    <h:outputLabel  class="col-md-4 control-label" value="Sick Leave:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">                                                       
                                                                        <p:inputText id="txtSickLeave" readonly="true" value="#{insurancePaymentController.hrInsuranceDiagnosisResult.sickLeave}"
                                                                                     validator="#{validatorManagedBean.Number}" />
                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel value="Percentage Physical Damage:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtDamage1" readonly="true" value="#{insurancePaymentController.hrInsuranceDiagnosisResult.isDisease}"
                                                                                     validator="#{validatorManagedBean.Number}"/>
                                                                        <p:message for="txtDamage1" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel value="Name Of Injury:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtInjury1" readonly="true" value="#{insurancePaymentController.hrInsuranceDiagnosisResult.injuryDisease}"
                                                                                     validator="#{validatorManagedBean.Text}">
                                                                        </p:inputText>
                                                                        <p:message for="txtInjury1" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div></div>
                                                            <div></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel value="Medical Expense:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtExpense1" value="#{insurancePaymentController.hrInsurancePaymentDetail.medicalExpence}"
                                                                                     required="true" requiredMessage="Enter Medical Expence"     class="form-control" onchange="this.value = this.value.trim()"   >
                                                                        </p:inputText> 
                                                                        <p:message for="txtExpense1" display="icon"/>  
                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel value="Reciept Number:" class="col-md-4 control-label"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtReciept1" value="#{insurancePaymentController.hrInsurancePaymentDetail.recieptNo}"
                                                                                     required="true" requiredMessage="Enter Reciept Number"        class="form-control" onchange="this.value = this.value.trim()" >
                                                                        </p:inputText> 
                                                                        <p:message for="txtReciept1" display="icon"/>  

                                                                    </div>                                                                                                                               
                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-sm-12 form-horizontal">
                                                                <div class="col-sm-4">                                                              
                                                                </div>                                                                    
                                                                <div class="col-sm-3">
                                                                    <center>
                                                                        <p:commandButton id="btnAdd1" value="#{insurancePaymentController.addorUpdate}" 
                                                                                         action="#{insurancePaymentController.addInvoiceDetailDailyLabour()}" class="btn  btn-block btn-primary col-lg-4" 
                                                                                         process="@this,pnl32,pnl456,txtExpense1,txtReciept1" style="margin-top: 10px"
                                                                                         update="@this,pnl32,tblResultDetail1,pnl456"/>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br></br><br></br><br></br><br></br><br></br><br></br>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-12">                                                                      
                                                            <div class="form-group form-horizontal">  
                                                                <p:dataTable id="tblResultDetail1" value="#{insurancePaymentController.hrInsurancePaymentDetailmodel}" 
                                                                             class="dataTable" var="resultDetail" rowIndexVar="rowIndex">                                                                                       
                                                                    <p:column style="width:100px" >
                                                                        <f:facet name="header" >No.</f:facet>
                                                                        <p:outputLabel value="#{rowIndex+1}"/>
                                                                    </p:column>
                                                                    <!--                                                                    <p:column headerText="Accident Happened" >
                                                                                                                                            <h:outputText value="{resultDetail.accidenthappend}"/>
                                                                                                                                        </p:column>-->
                                                                    <p:column headerText="Medical Expense" >
                                                                        <h:outputText value="#{resultDetail.medicalExpence}"/>
                                                                    </p:column>
                                                                    <p:column headerText="Reciept Number" >
                                                                        <h:outputText value="#{resultDetail.recieptNo}"/>
                                                                    </p:column>
                                                                    <p:column headerText="Reference Number" >
                                                                        <h:outputText value="#{resultDetail.referenceNo}"/>
                                                                    </p:column>
                                                                    <p:column headerText="Edit">
                                                                        <p:commandLink action="#{insurancePaymentController.editDataTable()}" value="Edit" 
                                                                                       process="@this,tblResultDetail1" update="@this,:frmRequest"/>
                                                                    </p:column>
                                                                    <p:columnGroup type="footer">
                                                                        <p:row>
                                                                            <p:column colspan="3" style="text-align:right" footerText="Total Medical:" />
                                                                            <p:column footerText="#{insurancePaymentController.medicalexpence}" />
                                                                            <p:column />
                                                                        </p:row>
                                                                    </p:columnGroup>

                                                                </p:dataTable> 
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnl45" class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6"> 
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtInsuranceCompany" class="control-label col-sm-4" value="Insurance Company:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtInsuranceCompany" value="#{insurancePaymentController.hrLuInsurances.insuranceName}"
                                                                                     validator="#{validatorManagedBean.Text}" class="form-control" required="true"
                                                                                     requiredMessage="enter company name" onchange="this.value = this.value.trim()" >
                                                                        </p:inputText>
                                                                        <p:message for="txtInsuranceCompany" display="icon"/>
                                                                    </div>
                                                                </div>                                            
                                                            </div>   
                                                            <br></br>
                                                            <br></br>
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtChequeNumber" class="control-label col-sm-4" value="Cheque Number:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtChequeNumber" onchange="this.value = this.value.trim()" 
                                                                                     value="#{insurancePaymentController.hrInsurancePayment.checkNo}" 
                                                                                     required="true" requiredMessage="enter check number"
                                                                                     validator="#{validatorManagedBean.Number}"/>
                                                                        <p:message for="txtChequeNumber" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtAccounttxttitle" class="control-label col-sm-4" value="Account title:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtAccounttxttitle" onchange="this.value = this.value.trim()" 
                                                                                     value="#{insurancePaymentController.hrInsurancePayment.accontTitle}"
                                                                                     required="true" requiredMessage="enter account title"/>
                                                                        <p:message for="txtAccounttxttitle" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 "> 
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtRecieved" class="control-label col-sm-4" value="Recieved Date:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtRecieved" converter="dateConverter"
                                                                                     value="#{insurancePaymentController.hrInsurancePayment.recivedDate}" class="form-control"
                                                                                     onclick="displayCalendar('frmRequest:txtRecieved', 'frmRequest:txtRecieved');"
                                                                                     required="true" requiredMessage="Enter Recieved date" title="Recieved Date"/>
                                                                        <p:message for="txtRecieved" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="col-md-12 "> 
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtInsuranceBranch" class="control-label col-sm-4" value="Insurance Branch:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtInsuranceBranch" 
                                                                                     value="#{insurancePaymentController.hrLuInsuranceBranches.branchName}" class="form-control"
                                                                                     required="true" requiredMessage="enter insurance branch"/>
                                                                        <p:message for="txtInsuranceBranch" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-md-12 "> 
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtNameOfBank" class="control-label col-sm-4" value="Name Of Bank:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtNameOfBank" onchange="this.value = this.value.trim()" 
                                                                                     value="#{insurancePaymentController.hrInsurancePayment.nameOfBank}" class="form-control"
                                                                                     required="true" requiredMessage="enter name of bank"/>
                                                                        <p:message for="txtNameOfBank" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-md-12 "> 
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtBankBranch" class="control-label col-sm-4" value="Bank Branch:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtBankBranch" onchange="this.value = this.value.trim()" 
                                                                                     value="#{insurancePaymentController.hrInsurancePayment.bankBranch}" class="form-control"
                                                                                     required="true" requiredMessage="enter bank branch"/>
                                                                        <p:message for="txtBankBranch" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-md-12 "> 
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtAccountNumber" class="control-label col-sm-4" value="Account Number:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtAccountNumber" onchange="this.value = this.value.trim()" 
                                                                                     value="#{insurancePaymentController.hrInsurancePayment.accontNo}" class="form-control"
                                                                                     required="true" requiredMessage="enter account number"/>
                                                                        <p:message for="txtAccountNumber" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>                                                                               
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnl456" class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6"> 
                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtTotalPaymentByInsurance" class="control-label col-sm-4" value="Total Payment By Insurance:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtTotalPaymentByInsurance" value="#{insurancePaymentController.amountpaid}" readonly="true">
                                                                        </p:inputText>
                                                                    </div>
                                                                </div>                                            
                                                            </div>   
                                                            <br></br>
                                                            <br></br>
                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtForSickLeaveSalary" class="control-label col-sm-4" value="For Sick Leave Salary:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtForSickLeaveSalary" readonly="true"
                                                                                     value="#{insurancePaymentController.salarypaidd}" />
                                                                        <p:message for="txtForSickLeaveSalary" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtForMedical" class="control-label col-sm-4" value="For Medical:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtForMedical" readonly="true"
                                                                                     value="#{insurancePaymentController.medicalexpence}" />
                                                                        <p:message for="txtForMedical" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 "> 
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtCompensationPayment" class="control-label col-sm-4" value="Compensation Payment:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtCompensationPayment" readonly="true"
                                                                                     value="#{insurancePaymentController.compensation}"/>
                                                                        <p:message for="txtCompensationPayment" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-md-12 "> 
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtCorporation" class="control-label col-sm-4" value="For Company:"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:inputText id="txtCorporation" readonly="true"
                                                                                     value="#{insurancePaymentController.corporation}"/>
                                                                        <p:message for="txtCorporation" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </div>

                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </section>
                                    </section>

                                    <section class="panel panel-info">
                                        <section class="panel-body">  
                                            <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-md-12">                      
                                                        <div class="box-body"> 
                                                            <div class="col-md-6">
                                                                <div class="col-md-12 textBoxMargin6px">
                                                                    <div class="form-group form-horizontal form-group required">
                                                                        <p:outputLabel  for="txtCommentw" class="control-label col-sm-4"
                                                                                        value="Comment Given:" />
                                                                        <div class="col-sm-8">
                                                                            <p:inputTextarea id="txtCommentw" class="form-control"  value="#{insurancePaymentController.hrInsurancePayment.remark}" 
                                                                                             title="Remark"  required="false"  requiredMessage="Enter Plan" 
                                                                                             validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only"
                                                                                             onchange="this.value = this.value.trim()"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="col-md-12 textBoxMargin6px">
                                                                    <div class="form-group form-horizontal form-group required">
                                                                        <p:outputLabel  for="txtApproved" class="control-label col-sm-4"
                                                                                        value="Processed Date:" />
                                                                        <div class="col-md-8 textBoxMargin6px">  
                                                                            <p:inputText id="txtApproved" value="#{insurancePaymentController.hrInsurancePayment.preparddate}"
                                                                                         onclick="displayCalendar('frmRequest:txtApproved', 'frmRequest:txtApproved');"
                                                                                         required="true" requiredMessage="enter processed Date" title="processed Date" class="form-control"/>
                                                                            <p:message for="txtApproved" display="icon"/>  
                                                                        </div>  
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 textBoxMargin6px">
                                                                    <div class="form-group form-horizontal form-group">
                                                                        <p:outputLabel  for="txtprey1" class="control-label col-sm-4"
                                                                                        value="Processed By:"/>
                                                                        <div class="col-sm-8">
                                                                            <p:inputText  id="txtprey1"   
                                                                                          value="logedin user"  
                                                                                          title="descripition"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h:panelGroup id="pnlworkflow1" class="col-sm-12">
                                                    <p:dialog id="dlgWorkflow" header="Workflow" widgetVar="dlgWorkflow" height="500"
                                                              width="1200" modal="true" resizable="false" showEffect="explode">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="box-body ">
                                                                    <h:form class="form-horizontal" id="frmWorkflow" style="margin-top: 20px;">
                                                                        <section class="panel panel-info" id="pnl22">
                                                                            <section class="panel-body">                                       
                                                                                <div class="col-md-12" >                                       
                                                                                    <div class="col-sm-12">
                                                                                        <p:dataTable id="tblWorkflow" value="#{insurancePaymentController.workFlowDataModel}" 
                                                                                                     var="currentRow"  rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                                                                     rowKey="#{currentRow}" paginatorPosition="bottom">
                                                                                            <p:column headerText="Processed By">
                                                                                                <h:outputText value="#{currentRow.processedBy}"/> 
                                                                                            </p:column>
                                                                                            <p:column >
                                                                                                <f:facet name="header">
                                                                                                    <h:outputText value="Decision"/>
                                                                                                </f:facet>
                                                                                                <h:outputText value="#{currentRow.action}"/> 
                                                                                            </p:column>
                                                                                            <p:column >
                                                                                                <f:facet name="header">
                                                                                                    <h:outputText value="Comment Given"/>
                                                                                                </f:facet>
                                                                                                <h:outputText value="#{currentRow.commentGiven}"/> 
                                                                                            </p:column>
                                                                                            <p:column >
                                                                                                <f:facet name="header">
                                                                                                    <h:outputText value="Processed Date"/>
                                                                                                </f:facet>
                                                                                                <h:outputText value="#{currentRow.processedOn}"/> 
                                                                                            </p:column> 
                                                                                        </p:dataTable>
                                                                                    </div> 
                                                                                </div>  
                                                                            </section>
                                                                        </section>
                                                                    </h:form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </p:dialog>
                                                </h:panelGroup>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                    <h:panelGroup id="pnl5" class="col-sm-12">
                                        <div class="panel-body col-sm-12">
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="col-sm-12 form-horizontal">
                                                        <div class="col-sm-4">                                                              
                                                        </div>                                                                    
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-lg-4" 
                                                                             value="#{insurancePaymentController.saveOrUpdateButton}"
                                                                             action="#{insurancePaymentController.saveInsurancePayment()}"
                                                                             process="@this,pnl456,pnlworkflow,pnl45,tblResultDetail1,tblResultDetail,pnl121,pnl1,pnlr"                                       
                                                                             update="@this,frmRequest"/>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-lg-4"                                             
                                                                             action="#{insurancePaymentController.resetInsurancePayment()}"
                                                                             process="@this" update="frmRequest"/> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>   
                            </div>                   
                        </div>                   
                    </div>
                </div>
            </h:panelGroup>
        </h:form>  
    </ui:define>
</ui:composition>


