<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li><a href="insuranceCompany.xhtml"><i class="fa fa-fw"></i> <span> insurance Company</span></a></li>
        <li><a href="maintianInjuredEmployee.xhtml"><i class="fa fa-fw"></i> <span> Maintain Injured Employee</span></a></li>
        <li><a href="DiagnosisResult.xhtml"><i class="fa fa-fw"></i>Diagnosis Result</a></li>
        <li><a href="insurancePayment.xhtml"><i class="fa fa-fw"></i> <span>Insurance Payment </span></a></li>
        <li><a href="insurancePaymentApprove.xhtml"><i class="fa fa-fw"></i> <span> Insurance Payment Approve</span></a></li>
    </ui:define>
    <ui:define name="contents">  
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnNew" validateClient="true" action="#{injuryController.createNewAdditionalAmount()}" 
                                     icon="#{injuryController.icone}" style="background-color: white" 
                                     process="@this" update=":frmRequest,:frmSample"
                                     title="#{injuryController.createOrSearchBundle}"/>
                    <span class="ui-separator">
                    </span>
                    <a href="maintianInjuredEmployee.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <p:commandButton id="btnTrash" type="button" style="background-color: white"  title="Delete" icon="ui-icon-trash"/>
                    <p:commandButton id="btnPrint" type="button" style="background-color: white"  title="Print" icon="ui-icon-print"/>
                </f:facet>
            </p:toolbar>           
        </h:form>
        <h:form id="frmRequest">
            <p:growl id="growl2" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{injuryController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-header with-border">                                
                                <h3 class="box-title">Search <small> Injured Employees ...</small></h3>
                            </div>
                            <div class="box-body ">
                                <div class="box-body ">   
                                    <div class="col-md-12" >                                        
                                        <div class="col-sm-12">
                                            <div class="col-sm-6" >                                           
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group">
                                                        <h:outputLabel for="txtJob" class="control-label col-sm-4" value="DailyLabour:"/>  
                                                        <div class="col-sm-8">                                                       
                                                            <p:inputText id="txtJob" style="width:100%" value="#{injuryController.hrInsuranceInjuredEmployee.fullName}"
                                                                         /> 
                                                            <p:message for="txtJob" display="icon"/>
                                                        </div>   
                                                    </div>
                                                </div>  
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group">
                                                        <h:outputLabel for="Permanent" class="control-label col-sm-4" value="Permanent/contract:"/>  
                                                        <div class="col-sm-8">                                                       
                                                            <p:inputText id="Permanent" style="width:100%" value="#{injuryController.hrEmployees.firstName}"
                                                                         /> 
                                                            <p:message for="Permanent" display="icon"/>
                                                        </div>   
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-sm-6" >
                                                <div class="col-md-4">                                                    
                                                </div>
                                                <div class="col-sm-3 ">
                                                    <p:commandButton id="btnSearch" class="btn  btn-block btn-primary col-sm-4"                                                                     
                                                                     value="Find"  action="#{injuryController.searchAllInjuredEmployee()}" 
                                                                     process="@this,Permanent,txtJob"   update="tblCompetency" />  

                                                </div>                                                
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>                                    
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{injuryController.renderPnlManPage}">               
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">                      
                            <div class="box-body ">                                
                                <div class="col-md-12" >  
                                    <div class="col-md-12" style="margn-top: 30px;">
                                        <div class="form-group">
                                            <p:dataTable id="tblCompetency"   value="#{injuryController.hrinsuranceinjuredmodel}"
                                                         var="emp" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                         selection="#{injuryController.selectedRow2}" rowKey="#{emp.id}" 
                                                         rows="10" paginator="true" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" process="@this" listener="#{injuryController.populate2}"
                                                        update=":frmRequest,:frmSample" />  
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Employee Name"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.empId.firstName} #{emp.empId.middleName} #{emp.empId.lastName} #{emp.fullName}"/>
                                                </p:column> 
                                                <p:column headerText="Insurance Provider" filterMatchMode="startsWith" filterBy="#{emp.insuranceId.insuranceId.insuranceName}">
                                                    <h:outputText  value="#{emp.insuranceId.insuranceId.insuranceName}" />
                                                </p:column>
                                                <p:column headerText="Employee Type" filterMatchMode="startsWith" filterBy="#{emp.type}">                                                        

                                                    <h:outputText  value="#{emp.type}" />
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Witness"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.witness1} ,#{emp.witness2} ,#{emp.witness3}" />
                                                </p:column>    
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup id="pnlMainpage" style="border: 0px; background-color: transparent" rendered="#{injuryController.renderPnlCreateAdditional}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Maintain Injured Employee <small></small></h3>
                            </div> 
                            <div class="box-body">
                                <div class="box-body">
                                    <div class="box-body">
                                        <div class="box-body">
                                            <h:panelGroup id="pnlprinted">
                                                <section class="panel panel-info">
                                                    <section class="panel-body">
                                                        <h:panelGroup id="pnlr" class="col-sm-12" >
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="col-md-6"> 
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel class="col-md-4 control-label" value="Employee Type:"/>
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:selectOneRadio id="rdemployetype" value="#{injuryController.hrInsuranceInjuredEmployee.type}" disabled="#{injuryController.lockInput}"
                                                                                                      required="true" class="col-sm-6" requiredMessage="Select employee type" 
                                                                                                      valueChangeListener="#{injuryController.handleEmployee}">
                                                                                        <f:selectItem itemLabel="Permanent/contract" itemValue="Permanent/contract"/>
                                                                                        <f:selectItem itemLabel="DailyLabour" itemValue="Daily Labour" />
                                                                                        <p:ajax process="@this" event="change" update="frmRequest"/>
                                                                                    </p:selectOneRadio>
                                                                                    <p:message for="rdemployetype" display="icon"/>  
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                        <h:panelGroup id="pnl1" class="col-sm-12" rendered="#{injuryController.choosePermanet}">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="col-md-6"> 
                                                                        <div class="col-md-12 ">
                                                                            <div class="form-group form-group required form-horizontal"> 
                                                                                <h:outputLabel value="Employee Name:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:autoComplete id="fName"  style="width: 100%" value="#{injuryController.hrEmployees.firstName}"
                                                                                                    completeMethod="#{injuryController.searchEmployeeByName}" var="sucList" required="true" 
                                                                                                    title="Id" requiredMessage="Id" placeholder="Search by first name"
                                                                                                    itemValue="#{sucList.firstName}" itemLabel="#{sucList}" forceSelection="true" size="20" emptyMessage="no data">  
                                                                                        <p:ajax event="itemSelect"  process="@this" 
                                                                                                listener="#{injuryController.getByFirstName}" 
                                                                                                update="Id,position,salary,birth,Number,Department"/>     
                                                                                        <f:facet name="itemtip" >
                                                                                            <h:panelGrid columns="2" cellpadding="" style="width: 300px">                        
                                                                                                <h:outputText value="First Name " />
                                                                                                <h:outputText value="#{sucList.firstName}" /> 
                                                                                                <h:outputText value="middle Name: " />
                                                                                                <h:outputText value="#{sucList.middleName}" />
                                                                                                <h:outputText value="Last Name: " />
                                                                                                <h:outputText value="#{sucList.lastName}" />
                                                                                            </h:panelGrid>
                                                                                        </f:facet>
                                                                                    </p:autoComplete> 
                                                                                    <p:message for="fName" display="icon"/>
                                                                                </div>                                                                    
                                                                            </div>
                                                                        </div>   
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel value="Employee Id:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="Id"   value="#{injuryController.hrEmployees.empId}" readonly="true" required="true"  >
                                                                                    </p:inputText>
                                                                                    <p:message for="Id" display="icon"/>  
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div>  
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel value="Date Of Birth:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="birth"  value="#{injuryController.hrEmployees.dob}" readonly="true" required="true"  >
                                                                                    </p:inputText>
                                                                                    <p:message for="birth" display="icon"/>  
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div> 

                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel value="Department:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="Department"   value="#{injuryController.hrDepartments.depName}" readonly="true"  required="true"  >
                                                                                    </p:inputText>
                                                                                    <p:message for="Department" display="icon"/>  
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel value="Position:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="position"   value="#{injuryController.hrJobTypes.jobTitle}" readonly="true"  required="true"  >
                                                                                    </p:inputText>
                                                                                    <p:message for="position" display="icon"/>  
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div> 
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel value="Salary:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="salary"  value="#{injuryController.hrEmployees.basicSalary}" readonly="true"  required="true"  >
                                                                                    </p:inputText>
                                                                                    <p:message for="salary" display="icon"/>  
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div> 
                                                                        <div class="col-md-12" >
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel value="Notification Number:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="Number" value="#{injuryController.hrInsuranceInjuredEmployee.registrationNo}"
                                                                                                 validator="#{validatorManagedBean.Remark}" class="form-control" required="true" 
                                                                                                 requiredMessage="enter registration number">
                                                                                    </p:inputText>
                                                                                    <p:message for="Number" display="icon"/>  
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                        <h:panelGroup id="pnl121" class="col-sm-12" rendered="#{injuryController.chooseDailyLabour}">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="col-md-6"> 
                                                                        <div class="col-md-12 ">
                                                                            <div class="form-group form-group required form-horizontal"> 
                                                                                <h:outputLabel value="Full Name:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="txtFullName" value="#{injuryController.hrInsuranceInjuredEmployee.fullName}" class="form-control"
                                                                                                 required="true" requiredMessage="please enter full name"/>
                                                                                    <p:message for="txtFullName" display="icon"/> 
                                                                                </div>                                                                    
                                                                            </div>
                                                                        </div>   
                                                                        <div class="col-md-12">
                                                                            <div class="form-group  form-horizontal">
                                                                                <h:outputLabel value="Date Of Birth:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="Birth2" value="#{injuryController.hrInsuranceInjuredEmployee.dateOfBirth}"
                                                                                                 onclick="displayCalendar('frmRequest:Birth2', 'frmRequest:Birth2');"
                                                                                                 required="true" requiredMessage="enter Date of birth" title="Birth Date" class="form-control"/> 
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div> 
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel value="Position:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="position2"   value="#{injuryController.hrInsuranceInjuredEmployee.jobPosition}" class="form-control"
                                                                                                 required="true" requiredMessage="please enter position" >
                                                                                    </p:inputText> 
                                                                                    <p:message for="position2" display="icon"/>
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div> 

                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel value="Daily Wage:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="salary2"  value="#{injuryController.hrInsuranceInjuredEmployee.dailyWage}" class="form-control" 
                                                                                                 required="true"  requiredMessage="please enter daily wage">
                                                                                    </p:inputText> 
                                                                                    <p:message for="salary2" display="icon"/>
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="form-group form-group required form-horizontal">
                                                                                <h:outputLabel value="Notification Number:" class="col-md-4 control-label" />
                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                    <p:inputText id="Number2"  validator="#{validatorManagedBean.Remark}" 
                                                                                                 value="#{injuryController.hrInsuranceInjuredEmployee.registrationNo}" class="form-control" required="true" 
                                                                                                 requiredMessage="enter registration number" >
                                                                                    </p:inputText>
                                                                                    <p:message for="Number2" display="icon"/>
                                                                                </div>                                                                                                                               
                                                                            </div>                                                                                          
                                                                        </div> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                    </section> 
                                                </section> 
                                                <section class="panel panel-info">
                                                    <section class="panel-body">
                                                        <h:panelGroup id="injuredemployeesr">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="box-body">
                                                                        <div class="box-body">
                                                                            <div class="box-body">
                                                                                <div class="box-body">

                                                                                    <div class="col-md-6">
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group form-group required form-horizontal">
                                                                                                <h:outputLabel value="Insurance Provider:" class="col-md-4 control-label" />
                                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                                    <p:selectOneMenu id="Provider" value="#{injuryController.hrInsuranceInjuredEmployee.insuranceId}" 
                                                                                                                     valueChangeListener="#{injuryController.vcl_filiterByCategory11}" style="width:100%"
                                                                                                                     converter="entConverter" required="true" requiredMessage="Select Insurance Provider"
                                                                                                                     effect="fade"  filter="true" filterMatchMode="startsWith" >
                                                                                                        <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                                                        <f:selectItems value="#{injuryController.hrInsurancelist}" var="evaCriteria"
                                                                                                                       itemValue="#{evaCriteria}" itemLabel="#{evaCriteria.insuranceId.insuranceName}"
                                                                                                                       itemDescription="Insurance branch  #{evaCriteria.branchId.branchName} And address #{evaCriteria.addressId}"/>
                                                                                                    </p:selectOneMenu>
                                                                                                    <p:message for="Provider" display="icon"/>  
                                                                                                </div>   
                                                                                            </div>                                                                                          
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group form-group required form-horizontal">
                                                                                                <h:outputLabel value="Accident Date:" class="col-md-4 control-label" for="Accident"/>
                                                                                                <div class="col-md-8 textBoxMargin6px">  
                                                                                                    <p:inputText id="Accident" value="#{injuryController.hrInsuranceInjuredEmployee.accidentDate}"
                                                                                                                 onclick="displayCalendar('frmRequest:Accident', 'frmRequest:Accident');"
                                                                                                                 required="true" requiredMessage="enter Accident Date" title="Accident Date" class="form-control"/>
                                                                                                    <p:message for="Accident" display="icon"/>  
                                                                                                </div>                                                                                                                               
                                                                                            </div>                                                                                          
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group form-group required form-horizontal">
                                                                                                <h:outputLabel value="Informed Date:" class="col-md-4 control-label" />
                                                                                                <div class="col-md-8 textBoxMargin6px">  
                                                                                                    <p:inputText id="Informed" value="#{injuryController.hrInsuranceInjuredEmployee.accidentInformedDate}"
                                                                                                                 onclick="displayCalendar('frmRequest:Informed', 'frmRequest:Informed');"
                                                                                                                 required="true" requiredMessage="enter Informed Date" title="Informed Date" class="form-control"/>
                                                                                                    <p:message for="Informed" display="icon"/>  
                                                                                                </div>                                                                                                                              
                                                                                            </div>                                                                                          
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group form-horizontal">
                                                                                                <h:outputLabel value="Witness 1:" class="col-md-4 control-label" />
                                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                                    <p:inputText id="Witness1"  validator="#{validatorManagedBean.Remark}" value="#{injuryController.hrInsuranceInjuredEmployee.witness1}" class="form-control"  >
                                                                                                    </p:inputText> 
                                                                                                </div>                                                                                                                               
                                                                                            </div>                                                                                          
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group form-horizontal">
                                                                                                <h:outputLabel value="Witness 2:" class="col-md-4 control-label" />
                                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                                    <p:inputText id="Witness2"  validator="#{validatorManagedBean.Remark}" value="#{injuryController.hrInsuranceInjuredEmployee.witness2}" class="form-control"  >
                                                                                                    </p:inputText>
                                                                                                </div>                                                                                                                               
                                                                                            </div>                                                                                          
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group form-horizontal">
                                                                                                <h:outputLabel value="Witness 3:" class="col-md-4 control-label" />
                                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                                    <p:inputText id="Witness3"  validator="#{validatorManagedBean.Remark}" value="#{injuryController.hrInsuranceInjuredEmployee.witness3}" class="form-control"   >
                                                                                                    </p:inputText> 
                                                                                                </div>                                                                                                                               
                                                                                            </div>                                                                                          
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group form-group required form-horizontal">
                                                                                                <h:outputLabel for="drdhappened" value="Accident Happened:" class="col-md-4 control-label" /> 
                                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                                    <p:selectOneMenu id="drdhappened" value="#{injuryController.hrInsuranceInjuredEmployee.accidentHappened}" 
                                                                                                                     required="true" requiredMessage="Select Accident happen" style="width: 100%"  >
                                                                                                        <f:selectItem itemLabel="Select One" itemValue=""/>
                                                                                                        <f:selectItem itemLabel="On Duty" itemValue="OnDuty"/>
                                                                                                        <f:selectItem itemLabel="Off Duty" itemValue="OffDuty" />
                                                                                                    </p:selectOneMenu>
                                                                                                    <p:message for="drdhappened" display="icon"/> 
                                                                                                </div> 
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group form-group required form-horizontal">
                                                                                                <h:outputLabel value="Accident Place:" class="col-md-4 control-label" />
                                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                                    <p:inputText id="Place"  validator="#{validatorManagedBean.Remark}" value="#{injuryController.hrInsuranceInjuredEmployee.accidentPlace}" 
                                                                                                                 class="form-control" required="true"  requiredMessage="enter Accident place" >
                                                                                                    </p:inputText>
                                                                                                    <p:message for="Place" display="icon"/>  
                                                                                                </div>                                                                                                                               
                                                                                            </div>                                                                                          
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group form-group required form-horizontal">
                                                                                                <h:outputLabel value="Description of accident:" class="col-md-4 control-label" />
                                                                                                <div class="col-md-8 textBoxMargin6px">
                                                                                                    <p:inputTextarea id="Discription"  validator="#{validatorManagedBean.Remark}" 
                                                                                                                     value="#{injuryController.hrInsuranceInjuredEmployee.accidentDescription}" class="form-control"
                                                                                                                     required="true"  requiredMessage="enter Brief description of accident" >
                                                                                                    </p:inputTextarea>
                                                                                                    <p:message for="Discription" display="icon"/>  
                                                                                                </div>                                                                                                                               
                                                                                            </div>                                                                                          
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </h:panelGroup>
                                                    </section> 
                                                </section>
                                            </h:panelGroup>
                                            <h:panelGroup id="pnl56" class="col-sm-12">
                                                <div class="panel-body col-sm-12">
                                                    <div class="form-group col-sm-12">
                                                        <div class="col-sm-6">
                                                            <div class="col-sm-12 form-horizontal">
                                                                <div class="col-sm-3">                                                              
                                                                </div>                                                                    
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnSave1" class="btn  btn-block btn-primary col-sm-12" 
                                                                                     value="#{injuryController.saveOrUpdateButton}"
                                                                                     action="#{injuryController.saveInjuredEmployee()}"
                                                                                     process="@this,pnl1,pnlr,pnl121,injuredemployeesr"
                                                                                     update=":frmRequest" /> 
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-sm-12"  
                                                                                     action="#{injuryController.resetInjuredEmployee()}"
                                                                                     process="@this" 
                                                                                     update="@this,pnlMainpage"  />     
                                                                </div>
                                                                <div class="col-sm-3 ">
                                                                    <p:commandButton id="btnPrint" value="Print" class="btn  btn-block btn-primary col-sm-12" >
                                                                        <p:printer target=":frmRequest:pnlprinted" />
                                                                    </p:commandButton>  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                            <h:panelGroup id="pnlFilterCriteria" > 
                                                <p:dialog  id="insurance" header="Insurance Company" widgetVar="insurance" height="600" width="600" showEffect="explode" visible="#{injuryController.renderPnlManPage}">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="box-body">
                                                                    <div class="form-horizontal col-md-12">
                                                                        <div class="form-group form-group required form-horizontal">
                                                                            <h:outputLabel value="Insurance Provider" class="col-md-4 control-label"/>
                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                <p:selectOneMenu id="Prov" value="#{injuryController.hrInsurance.insuranceId}"  class="form-control"
                                                                                                 valueChangeListener="#{injuryController.vcl_filiterByCategory}" style="width:100%"
                                                                                                 converter="entConverter" required="true" requiredMessage="Select Criteria Name"
                                                                                                 effect="fade"  filter="true" filterMatchMode="startsWith">
                                                                                    <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                                    <f:selectItems value="#{injuryController.hrLuInsuranceslist}" var="luinsu" itemValue="#{luinsu}" itemLabel="#{luinsu.insuranceName}"/>
                                                                                    <p:ajax event="change" process="@this,Prov" update="@this,,Branch"  />
                                                                                </p:selectOneMenu>
                                                                                <p:message for="Prov" display="icon"/>  
                                                                            </div> 
                                                                        </div>                                                                                          
                                                                    </div>
                                                                    <div class="form-horizontal col-md-12">
                                                                        <div class="form-group form-group required form-horizontal">
                                                                            <h:outputLabel value="Insurance Branch" class="col-md-4 control-label" />
                                                                            <div class="col-md-8 textBoxMargin6px">
                                                                                <p:selectOneMenu id="Branch" value="#{injuryController.hrInsurance.branchId}" 
                                                                                                 valueChangeListener="#{injuryController.vcl_filiterByCategory1}" style="width:100%"
                                                                                                 converter="entConverter" required="true" requiredMessage="Select Criteria Name"
                                                                                                 effect="fade"  filter="true" filterMatchMode="startsWith" >
                                                                                    <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                                    <f:selectItems value="#{injuryController.hrLuInsuranceBrancheslist}" var="evaCriteria" itemValue="#{evaCriteria}" itemLabel="#{evaCriteria.branchName}"/>
                                                                                </p:selectOneMenu>
                                                                                <p:message for="Branch" display="icon"/>  
                                                                            </div>

                                                                        </div>   
                                                                    </div>

                                                                    <div class="form-horizontal col-md-12">
                                                                        <div class="form-group form-group required form-horizontal">
                                                                            <h:outputLabel for="Policy" class="control-label col-sm-4" value="Policy Number"/>
                                                                            <div class="col-sm-8 textBoxMargin6px">
                                                                                <p:inputText id="Policy" value="#{injuryController.hrInsurance.policyNo}"
                                                                                             required="true" requiredMessage="enter Policy Number" />
                                                                                <p:message for="Policy" display="icon"/> 
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-horizontal col-md-12">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="POBOX" class="control-label col-sm-4" value="POBOX"/>
                                                                            <div class="col-sm-8 textBoxMargin6px">
                                                                                <p:inputText id="POBOX" value="#{injuryController.hrInsurance.pobox}"
                                                                                             required="true" requiredMessage="enter pobox"/>
                                                                                <p:message for="POBOX" display="icon"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-horizontal col-md-12">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="Telephone" class="control-label col-sm-4" value="Telephone"/>
                                                                            <div class="col-sm-8 textBoxMargin6px">
                                                                                <p:inputMask id="Telephone"  value="#{injuryController.hrInsurance.telephone}"
                                                                                             required="true" requiredMessage="enter telephone"  mask="(999) 999-9999? x99999" />
                                                                                <p:message for="Telephone" display="icon"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-horizontal col-md-12">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="Address1" class="control-label col-sm-4" value="Address"/>
                                                                            <div class="col-sm-8 textBoxMargin6px">
                                                                                <p:inputText id="Address1"  value="#{injuryController.hrInsurance.addressId}"
                                                                                             required="true" requiredMessage="enter Address"/>
                                                                                <p:message for="Address1" display="icon"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-horizontal col-md-12">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="Discription2" class="control-label col-sm-4" value="Remark"/>
                                                                            <div class="col-sm-8 textBoxMargin6px">
                                                                                <p:inputTextarea id="Discription2"  value="#{injuryController.hrInsurance.remark}"  
                                                                                                 rows="1" cols="3" title="remark" class="form-control">
                                                                                </p:inputTextarea>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-horizontal col-md-12">
                                                                        <div class="form-group form-horizontal">
                                                                            <h:outputLabel for="txtUpdate" class="control-label col-sm-4"/> 
                                                                            <div class="col-sm-8">
                                                                                <p:autoComplete id="txtUpdate" 
                                                                                                completeMethod="#{injuryController.searchByTerminationName}" emptyMessage="no data found"
                                                                                                placeholder="search Insurance telephone to update" title="for Updating" style="width:100%"
                                                                                                var="telepo" itemValue="#{telepo.telephone}" itemLabel="#{telepo}">  
                                                                                    <p:ajax event="itemSelect" process="@this" listener="#{injuryController.getByTelName}" 
                                                                                            update="insurance" oncomplete="PF('insurance').show();"/>  
                                                                                    <p:column headerText="insurance POBOX">
                                                                                        <h:outputText value="#{telepo.pobox}"/>
                                                                                    </p:column>
                                                                                    <p:column headerText="Description">
                                                                                        <h:outputText value="#{telepo.remark}"/>
                                                                                    </p:column>
                                                                                    <p:column headerText="Policy NO">
                                                                                        <h:outputText value="#{telepo.policyNo}"/>
                                                                                    </p:column>
                                                                                    <p:column headerText="Telephone">
                                                                                        <h:outputText value="#{telepo.telephone}"/>
                                                                                    </p:column>
                                                                                </p:autoComplete>
                                                                            </div>
                                                                        </div>                                               
                                                                    </div>
                                                                    <div class="form-horizontal col-md-12">
                                                                        <div class="form-group form-horizontal">
                                                                            <div class="col-md-4 "></div>
                                                                            <div class="col-sm-3">
                                                                                <p:commandButton id="btnSave2" class="btn  btn-block btn-primary col-md-6"                                                                        
                                                                                                 value="#{injuryController.saveOrUpdateButton}"
                                                                                                 process="@this,insurance" update="@this,insurance"
                                                                                                 action="#{injuryController.savelookinsurance()}"
                                                                                                 oncomplete="PF('insurance').show();"/>                                                     
                                                                            </div> 
                                                                            <div  class="col-sm-3">
                                                                                <p:commandButton id="btnReset2" class="btn  btn-block btn-primary col-md-6" 
                                                                                                 action="#{injuryController.reset123()}"
                                                                                                 value="Reset" onclick="PF('insurance').show();"  />
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p:dialog>
                                            </h:panelGroup>
                                            <p:dialog  id="insurancebranch" header="Insurance branch look up" widgetVar="insurancebranch" height="450" width="600" showEffect="explode" visible="#{injuryController.renderPnlManPage}">
                                                <h:panelGroup id="pnlFilterCriteria2" > 
                                                    <div class="box-body panel-primary"> 
                                                        <div class="col-md-12 textBoxMargin6px">
                                                            <h:outputLabel for="Insurance12" class="control-label col-sm-4" value="Insurance Name"/>
                                                            <div class="col-sm-8 textBoxMargin6px">
                                                                <p:selectOneMenu id="Insurance12" value="#{injuryController.hrLuInsuranceBranches.insuranceId}" 
                                                                                 valueChangeListener="#{injuryController.vcl_filiterByCategory}" style="width:100%"
                                                                                 converter="entConverter" required="true" requiredMessage="Select Criteria Name"
                                                                                 effect="fade"  filter="true" filterMatchMode="startsWith" >
                                                                    <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                                    <f:selectItems value="#{injuryController.hrLuInsuranceslist}" var="evaCriteria" itemValue="#{evaCriteria}" itemLabel="#{evaCriteria.insuranceName}"/>
                                                                </p:selectOneMenu>
                                                            </div>

                                                            <h:outputLabel for="Discription212" class="control-label col-sm-4" value="Branch Name"/>
                                                            <div class="col-sm-6 textBoxMargin6px">
                                                                <p:inputText id="Discription212" class="col-sm-12 form-control" value="#{injuryController.hrLuInsuranceBranches.branchName}"/>
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-12"> 
                                                            <div class="col-sm-4">                                                              
                                                            </div>                                                                    
                                                            <div class="col-sm-3">                                                       
                                                                <p:commandButton id="btnShow2" class="btn  btn-block btn-primary col-lg-4"                                                                     
                                                                                 value="Submit"
                                                                                 process="@this,insurancebranch" update="@this,insurancebranch"
                                                                                 action="#{injuryController.savelookinsurance2()}"  oncomplete="PF('insurancebranch').show();" />                                                     
                                                            </div>
                                                            <div class="col-sm-3" >                                                       
                                                                <p:commandButton id="btnShow" class="btn btn-block btn-primary col-sm-4 "
                                                                                 value="Reset"  onclick="PF('insurancebranch').show();"  />
                                                            </div>
                                                        </div>

                                                    </div>
                                                </h:panelGroup>
                                            </p:dialog>           


                                        </div>
                                    </div>
                                </div>   
                            </div>
                            <div class="box-footer ">
                            </div>
                        </div>                   
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
