<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">   
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="appealRequest.xhtml"><i class="fa fa-circle-o "></i><span>Appeal Request</span></a></li> 
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolBar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnNew" validateClient="true" action="#{appealApproveController.btnSearch()}"
                                     icon="ui-icon-search" style="background-color: white; border-color: white"
                                     process="@this" update="@this,:frmToolBar,:frmSearch,:frmAppealApprove" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <h:panelGroup id="pnlGNotifica"> 
                        <span class="NotificationText"> #{appealApproveController.requestList.size()} </span>
                        <p:commandLink id="cmdLNotification" class="fa fa-fw fa-bell" title="Notification"/>
                        <p:overlayPanel widgetVar="widNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLNotification"
                                        class="col-md-4" style="height: 400px">
                            <div class="col-md-12 textBoxMargin6px">     
                                <div class="form-group">  
                                    <div class="col-sm-8">                                                               
                                        <p:selectOneListbox id="lstNotf" class="col-sm-8" style="width: 470px; height: 350px;" filterMatchMode="startsWith" filter="true"
                                                            converter="entConverter" valueChangeListener="#{appealApproveController.populateNotifcation}" scrollHeight="400">
                                            <f:selectItems value="#{appealApproveController.requestList}" var="reqList"
                                                           itemValue="#{reqList}" itemLabel="#{reqList.applicantId.empId} --#{reqList.applicantId.firstName} --#{reqList.applicantId.lastName} --#{reqList.appealDate}"/> 
                                            <p:ajax event="valueChange"  process="@this"  update=":frmToolBar,:frmSearch,:frmAppealApprove"/>
                                        </p:selectOneListbox>
                                    </div>                               
                                </div> 
                            </div> 
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="pnlworkflowIcon">
                        <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-gear" 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWorkflow" value="#{appealApproveController.hrWorkFlowDataModel}"
                                                                 var="currentRow" selectionMode="single" rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                                 rowKey="#{currentRow}" paginatorPosition="bottom">
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{currentRow.processedBy}"/>  
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Decision"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.changedStstus}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Comment Given"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.commentGiven}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Processed Date"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.processedOn}"/> 
                                                        </p:column> 
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>                
                    <a href="../../hrms/compliantHandling/appealApprove.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmSearch">
            <h:panelGroup id="pnlSearch" rendered="#{appealApproveController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" >Search ...</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-8">  
                                            <h:panelGroup id="pnlSearchList">
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group">
                                                        <h:outputLabel class="control-label col-sm-2" value="Filter Criteria:"/>
                                                        <div class="col-sm-5">
                                                            <p:selectOneMenu id="somFiliterByStatus" style="width:100%"
                                                                             valueChangeListener="#{appealApproveController.filiterByStatus_Vcl}">
                                                                <f:selectItems value="#{appealApproveController.filterByStatusForApprove}"/>   
                                                                <p:ajax event="change" process="@this" update=":frmSearch:tblApeal"/>
                                                            </p:selectOneMenu>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-12">                                       
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p:dataTable id="tblApeal" value="#{appealApproveController.appealDataModel}" var="appeal"
                                                         rows="10" rowsPerPageTemplate="5,10,15" paginator="true" paginatorPosition="bottom" 
                                                         selection="#{appealApproveController.hrAppeals}" selectionMode="single" rowIndexVar="num" rowKey="#{appeal}">
                                                <p:ajax event="rowSelect" listener="#{appealApproveController.populateAppeal}"
                                                        process="@this" update="@this,:frmToolBar,:frmSearch,:frmAppealApprove"/>
                                                <p:column headerText="No." style="width:50px;">
                                                    <h:outputText value="#{num + 1}"/>
                                                </p:column>
                                                <p:column headerText="Appellant ID" filterMatchMode="contains" filterBy="#{appeal.applicantId.empId}">
                                                    <h:outputText value="#{appeal.applicantId.empId}"/>
                                                </p:column>
                                                <p:column headerText="Appellant Name" filterMatchMode="contains" filterBy="#{appeal.applicantId.firstName}">
                                                    <h:outputText value="#{appeal.applicantId.firstName} #{appeal.applicantId.middleName} #{appeal.applicantId.lastName}"/>
                                                </p:column>
                                                <p:column headerText="Appeal Date">
                                                    <h:outputText value="#{appeal.appealDate}"/>
                                                </p:column>
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>          
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup> 
        </h:form>
        <h:form id="frmAppealApprove"> 
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
            <h:panelGroup id="pnlMainpage" rendered="#{appealApproveController.renderPnlCreateAdditional}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Appeal Approve</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">

                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class="active" ><a data-toggle="tab" href="#approve">APPeal Approve Detail</a></li>
                                            <li ><a data-toggle="tab" href="#downloadFile">Supportive Information</a></li>
                                        </ul>
                                        <div class="tab-content" id="maintab">
                                            <div class="tab-pane active" id="approve">
                                                <section class="panel panel-info">
                                                    <section class="panel-body">
                                                        <h:panelGroup id="pnlEmp" class="col-sm-12">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="col-md-6"> 
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel for="txtAppellantName" value="Appellant Name: " class="control-label col-sm-4"/>                                                              
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtAppellantName" value="#{appealApproveController.hrEmployees.firstName}" 
                                                                                                 readonly="true" title="Employee Name"/>
                                                                                </div>
                                                                            </div>                                                                                          
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel for="txtDepartment" value="Department:" class="control-label col-sm-4"/>                                                               
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtDepartment" value="#{appealApproveController.hrEmployees.deptId.depName}" 
                                                                                                 readonly="true" title="Department"/>
                                                                                </div>
                                                                            </div>                                                                                          
                                                                        </div>                                                                                 
                                                                    </div>
                                                                    <div class="col-md-6">                                                         
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel for="txtEmployeeId" value="Appellant ID:" class="control-label col-sm-4"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtEmployeeId" value="#{appealApproveController.hrEmployees.empId}" 
                                                                                                 title="Employee ID" readonly="true"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>     
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel for="txtJobTitle" value="Job Title:" class="control-label col-sm-4"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtJobTitle" value="#{appealApproveController.hrEmployees.jobId.jobTitle}" 
                                                                                                 title="Job Position" readonly="true"/>
                                                                                </div>                                                              
                                                                            </div>
                                                                        </div>                                                                                                                                                                                                                                               
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                    </section> 
                                                </section> 
                                                <section class="panel panel-info">
                                                    <section class="panel-body">
                                                        <h:panelGroup id="pnl3" class="col-sm-12">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="col-sm-6">   
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal"> 
                                                                                <h:outputLabel for="somAppealOn" class="control-label col-sm-4" value="Appeal on:"/> 
                                                                                <div class="col-sm-8">                                                       
                                                                                    <p:selectOneMenu id="somAppealOn" value="#{appealApproveController.hrAppeals.caseCategory}" 
                                                                                                     style="width:100%" disabled="true">
                                                                                        <f:selectItems value="#{appealApproveController.appealCategory}"/>
                                                                                    </p:selectOneMenu>
                                                                                    <p:message for="somAppealOn" display="icon"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel binding="#{appealApproveController.lblProcessId}" id="lblProcessId" class="control-label col-sm-4"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtProcessId" rendered="#{appealApproveController.txtProcessId}"  
                                                                                                 value="#{appealApproveController.txtProcessIdVal}" readonly="true"/>
                                                                                </div>                                                              
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel binding="#{appealApproveController.lblProcessDescOne}" id="lblProcessDescOne" class="control-label col-sm-4"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtProcessDescOne" rendered="#{appealApproveController.txtProcessDescOne}" 
                                                                                                 value="#{appealApproveController.txtProcessDescOneVal}" readonly="true"/>
                                                                                </div>                                                              
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel for="txtGround" class="control-label col-sm-4" value="Ground of Appeals:"/> 
                                                                                <div class="col-sm-8">
                                                                                    <p:inputTextarea id="txtGround" value="#{appealApproveController.hrAppeals.ground}"
                                                                                                     rows="3" cols="5" autoResize="false" readonly="true"/>  
                                                                                    <p:message for="txtGround" display="icon"/>
                                                                                </div>
                                                                            </div>                                       
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal"> 
                                                                                <h:outputLabel for="somCase" class="control-label col-sm-4" value="Case:"/> 
                                                                                <div class="col-sm-8">                                                       
                                                                                    <p:selectOneMenu id="somCase" value="#{appealApproveController.hrAppeals.caseId}"                                                                                             disabled="true" style="width:100%">
                                                                                        <f:selectItems value="#{appealApproveController.caseList}"/>
                                                                                    </p:selectOneMenu>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel binding="#{appealApproveController.lblProcessDescTwo}" id="lblProcessDescTwo" class="control-label col-sm-4"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtProcessDescTwo" rendered="#{appealApproveController.txtProcessDescTwo}" 
                                                                                                 value="#{appealApproveController.txtProcessDescTwoVal}" readonly="true"/>
                                                                                </div>                                                              
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel binding="#{appealApproveController.lblProcessDescThree}" id="lblProcessDescThree" class="control-label col-sm-4"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtProcessDescThree" rendered="#{appealApproveController.txtProcessDescThree}"  
                                                                                                 value="#{appealApproveController.txtProcessDescThreeVal}"  readonly="true"/>
                                                                                </div>                                                              
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12 textBoxMargin6px">
                                                                            <div class="form-group form-horizontal">
                                                                                <h:outputLabel for="txtAppealDate" value="Appeal Date:" class="control-label col-sm-4"/>
                                                                                <div class="col-sm-8">
                                                                                    <p:inputText id="txtAppealDate" value="#{appealApproveController.hrAppeals.appealDate}"
                                                                                                 readonly="true" title="Appeal Date"/>      
                                                                                    <p:message for="txtAppealDate" display="icon"/>
                                                                                </div>
                                                                            </div>                                                                                                       
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                    </section> 
                                                </section> 
                                                <section class="panel panel-info">
                                                    <section class="panel-body">  
                                                        <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                                            <div class="row">
                                                                <div class="col-md-12">                      
                                                                    <div class="box-body"> 
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-group required form-horizontal">
                                                                                    <h:outputLabel for="drddecision" class="control-label col-sm-4" value="Decision"/>
                                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                                        <p:selectOneMenu id="drddecision" value="#{appealApproveController.hrAppeals.status}" 
                                                                                                         valueChangeListener="#{appealApproveController.handleSelectedOptions}" converter="entConverter" 
                                                                                                         required="true" requiredMessage="Select Decision" style="width: 100%">
                                                                                            <f:selectItem itemLabel="---Select---" itemValue=""/>
                                                                                            <f:selectItem itemLabel="Approve" itemValue="1"/>
                                                                                            <f:selectItem itemLabel="Reject" itemValue="2"/>
                                                                                        </p:selectOneMenu>
                                                                                        <p:message for="drddecision" display="icon"/>
                                                                                    </div>
                                                                                </div>    
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal form-group required">
                                                                                    <h:outputLabel  for="txtComment" class="control-label col-sm-4" value="Comment Given:"/>
                                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                                        <h:inputTextarea id="txtComment"  class="form-control col-md-12" value="#{appealApproveController.wfHrProcessed.commentGiven}"
                                                                                                         validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only" requiredMessage="Comment is mandatory"
                                                                                                         required="true" onchange="this.value = this.value.trim()"/>
                                                                                        <p:message for="txtComment" display="icon"/>
                                                                                    </div>  
                                                                                </div> 
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  for="txtApproved" class="control-label col-sm-4" id="lblApproved" value="Processed Date:" />
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtApproved"  readonly="true"  placeholder="dd/mm/yyyy"
                                                                                                     value="#{appealApproveController.processedDate}"  title="Procced Date"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal form-group">
                                                                                    <p:outputLabel  for="txtprey1" class="control-label col-sm-4" id="lblPrepatedy1" value="Processed By:"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText  id="txtprey1" value="#{workFlow.userName}" title="Procced By"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                    </section>
                                                </section>
                                                <h:panelGroup id="pnlSave" class="col-sm-12">
                                                    <div class="panel-body col-sm-12">
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-sm-6">
                                                                <div class="col-sm-12 form-horizontal">
                                                                    <div class="col-sm-4">                                                              
                                                                    </div>                                                                    
                                                                    <div class="col-sm-3">
                                                                        <p:commandButton id="btnSave" value="Save" disabled="#{appealApproveController.disableBtnSave}" title="Save" 
                                                                                         action="#{appealApproveController.saveAppealApprove}" 
                                                                                         class="btn  btn-block btn-primary col-lg-4 "
                                                                                         process="@this,pnlworkflow" update="@this,frmAppealApprove"/>  
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h:panelGroup>
                                            </div>
                                            <div class="tab-pane" id="downloadFile">
                                                <section class="panel panel-info"  >
                                                    <section class="panel-body" > 
                                                        <h:panelGroup id="pnlFileUpload" class="col-sm-12">  
                                                            <div class="row">
                                                                <div class="col-md-12">                      
                                                                    <div class="box-body"> 
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  value="Download File:" class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8">            
                                                                                        <p:panelGrid columns="1" style="float: left;"> 
                                                                                            <p:dataTable id="tblSavedDoc"  var="currentRow" sortBy="#{currentRow.id}"  rowIndexVar="num" value="#{appealApproveController.fileUploadDataModel}"
                                                                                                         paginator="true" selectionMode="single" rowKey="#{currentRow.id}"
                                                                                                         selection="#{appealApproveController.hrAppealRequestFileUpload}" paginatorPosition="bottom"
                                                                                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                                                         rows="3" style="border: none; font-family: 'Lucida Sans'; font-size: 11px; font-style: normal; font-weight: lighter; width:1000px">
                                                                                                <p:ajax event="rowSelect" listener="#{appealApproveController.onRowSelect}" process="@this,tblSavedDoc" update="tblSavedDoc"/>
                                                                                                <p:column headerText="No." style="width:50px;">
                                                                                                    <h:outputText value="#{num + 1}"/>
                                                                                                </p:column>
                                                                                                <p:column id="docNames" headerText="File Name"> 
                                                                                                    <h:outputText id="txtcoScale" value="#{currentRow.documentId.fileName}"/>
                                                                                                </p:column>
                                                                                                <p:column headerText="Download">
                                                                                                    <h:panelGroup style="border: none " id="pnlGridtblDoccolOptions">
                                                                                                        <p:commandButton process="@this,tblSavedDoc" update="tblSavedDoc" icon="ui-icon-arrowthickstop-1-s" ajax="false" immediate="true">
                                                                                                            <p:fileDownload value="#{appealApproveController.file}"/>
                                                                                                        </p:commandButton>
                                                                                                    </h:panelGroup>
                                                                                                </p:column> 
                                                                                            </p:dataTable>
                                                                                        </p:panelGrid>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>   
                                                    </section>
                                                </section>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer"/>
                        </div>
                    </div>
                </div>              
            </h:panelGroup>
        </h:form> 
    </ui:define>
</ui:composition>
