<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="BondForeign.xhtml"><i class="fa fa-circle-o"></i>Bond Foreign </a>
        </li>      
        <li>
            <a href="BondLocal.xhtml"><i class="fa fa-circle-o"></i>Bond Local </a>
        </li>
        <li>
            <a href="LocalRepayment.xhtml"><i class="fa fa-circle-o"></i>Bond Local Repayment </a>
        </li>
        <li>
            <a href="BondCoupon.xhtml"><i class="fa fa-circle-o"></i>Bond Coupon </a>
        </li>
        <li>
            <a href="BondCouponSchedule.xhtml"><i class="fa fa-circle-o"></i>Bond Coupon Schedule </a>
        </li>
    </ui:define>
    <ui:define name="contents">   
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnIcone" action="#{fmsBondLiborController.createNewAdditionalAmount()}" 
                                     icon="#{fmsBondLiborController.icone}" validateClient="true" style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title ="#{fmsBondLiborController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="BondLibor.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: white; background-color: transparent" id="mainUI" rendered="#{fmsBondLiborController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bond Libor Rate Search</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-12 textBoxMargin6px">
                                    <div class="form-group  form-horizontal">
                                        <h:outputLabel for="searchCurrency" class="control-label col-sm-4" value="Currency: "></h:outputLabel> 
                                        <div class="col-sm-8">
                                            <p:selectOneMenu id="searchCurrency"  value="#{fmsBondLiborController.luCurrency}" style= "width: 100%"
                                                             valueChangeListener="#{fmsBondLiborController.handleSelectCurrency}"
                                                             converter="entConverter"   >
                                                <f:selectItems  value="#{fmsBondLiborController.currencyList}"/>
                                                <p:ajax event="change" process="searchCurrency" update="searchCurrency" />
                                                <p:message for="searchCurrency" display="icon"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 textBoxMargin6px">
                                    <div class="form-group form-horizontal">
                                        <h:outputLabel for="txtPreparedDate" class="control-label col-sm-4" value="Date:"></h:outputLabel>   
                                        <div class="col-sm-8">
                                            <p:calendar id="txtPreparedDate" pattern="yyyy/MM/dd" placeholder="dd/MM/yyyy"
                                                        value="#{fmsBondLiborController.days}" 
                                                        class="control-label"  converterMessage="Value must be in Date format"
                                                        />
                                            <p:message for="txtPreparedDate" display="icon"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 textBoxMargin6px">
                                    <div class="form-group form-horizontal">
                                        <h:outputLabel id="FindInfo" class="control-label col-sm-4"/>
                                        <div class="col-sm-8">
                                            <p:commandButton  id="btnSearch" value="Find" class="btn btn-primary" 
                                                              process="@this,txtPreparedDate"
                                                              action="#{fmsBondLiborController.searchBondLiborr}" 
                                                              update="@this,tbllibor"  />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p:panel id="pnldtabel" style="border: white">
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <p:dataTable id="tbllibor"
                                                         value="#{fmsBondLiborController.bondLibors}"
                                                         style="font-size: 11px"
                                                         rows="10"
                                                         paginator="true"
                                                         paginatorPosition="bottom"
                                                         rowsPerPageTemplate="5,10,15"
                                                         resizableColumns="true"
                                                         rowIndexVar="numbers"
                                                         var="addinfo"
                                                         selectionMode="single"
                                                         selection="#{fmsBondLiborController.bondLiborselect}"
                                                         rowKey="#{addinfo.liborNo}"
                                                         >
                                                <p:ajax event="rowSelect" listener="#{fmsBondLiborController.getLiborno}"
                                                        update="@(form)">
                                                </p:ajax>
                                                <p:column style="width: 60px" headerText ="No" >
                                                    <h:outputText value="#{numbers+1}"/>  
                                                </p:column>
                                                <p:column  headerText ="Libor No">
                                                    <h:outputText value="#{addinfo.liborNo}" />
                                                </p:column> 
                                                <p:column headerText ="Libor Rate">
                                                    <h:outputText value="#{addinfo.liborRate}" />
                                                </p:column> 
                                                <p:column headerText ="Start Date">
                                                    <h:outputText value="#{addinfo.startDate}">
                                                        <f:convertDateTime pattern="dd/MMM/yyyy"/>
                                                    </h:outputText>
                                                </p:column> 
                                                <p:column headerText ="End Date">
                                                    <h:outputText value="#{addinfo.endDate}">
                                                        <f:convertDateTime pattern="dd/MMM/yyyy"/>
                                                    </h:outputText>
                                                </p:column> 
                                                <p:column headerText ="Currency">
                                                    <h:outputText value="#{addinfo.fmsLuCurrency}" />
                                                </p:column> 
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </p:panel>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="frmRegisterUI">
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>  
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" 
                          rendered="#{fmsBondLiborController.renderPnlCreateAdditional}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bond Libor Rate Registration </h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-12 textBoxMargin6px">
                                    <div class="form-group required form-horizontal">
                                        <h:outputLabel for="txtstartDate" class="control-label col-sm-4" value="Start Date: "></h:outputLabel> 
                                        <div class="col-sm-8">
                                            <p:calendar id="txtstartDate" pattern="dd/MM/yyyy" placeholder="dd/MM/yyyy" title="Start Date" mindate="today" maxdate="today"
                                                        value="#{fmsBondLiborController.bondLibor.startDate}" required="true"
                                                        requiredMessage=" Date value is Required " converterMessage="Value must be in Date format" >
                                                <p:ajax update="txtendDate" process="@this" event="dateSelect"/>
                                            </p:calendar>
                                            <p:message for="txtstartDate" display="icon"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 textBoxMargin6px">
                                    <div class="form-group form-group required  form-horizontal">
                                        <h:outputLabel for="txtendDate" class="control-label col-sm-4" value="End Date:"></h:outputLabel> 
                                        <div class="col-sm-8 ">
                                            <p:calendar id="txtendDate" pattern="dd/MM/yyyy" placeholder="dd/MM/yyyy" title="End Date"
                                                        value="#{fmsBondLiborController.bondLibor.endDate}" required="true"
                                                        mindate="#{fmsBondLiborController.getminOfEndDate()}"
                                                        requiredMessage=" Date value is Required" converterMessage="Value must be in Date format" />
                                            <p:message for="txtendDate" display="icon"/>
                                        </div>
                                    </div>
                                </div>
                                <br></br>
                                <div class="col-md-12 textBoxMargin6px">
                                    <div class="form-group required form-horizontal">
                                        <h:outputLabel for="txtliborRate" class="control-label col-sm-4" value="Libor Rate: "></h:outputLabel> 
                                        <div class="col-sm-8">
                                            <p:inputText id="txtliborRate"   value="#{fmsBondLiborController.bondLibor.liborRate}"
                                                         class="form-control"  style="width: 100%" validator="#{validatorManagedBean.Double}" converterMessage="Value must be a number"
                                                         title="TypeId" required="true" requiredMessage="The Libor Rate field is required." />
                                            <p:message for="txtliborRate" display="icon"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 textBoxMargin6px">
                                    <div class="form-group required form-horizontal">
                                        <h:outputLabel for="txtCurrency" class="control-label col-sm-4" value="Bond Currency : "></h:outputLabel>   
                                        <div class="col-sm-8">

                                            <p:selectOneMenu id="txtCurrency"  value="#{fmsBondLiborController.bondLibor.fmsLuCurrency}" style= "width: 100%"
                                                             converter="entConverter"   required="true" requiredMessage="Bond Currency is required and please select one">
                                                <f:selectItems  value="#{bondLocalController.currencyList}"  />
                                                <p:ajax/>
                                            </p:selectOneMenu>
                                            <p:message for="txtCurrency" display="icon"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 textBoxMargin6px">
                                    <div class="form-group form-horizontal">
                                        <h:outputLabel id="lblBtnSave" class="control-label col-sm-4"/>
                                        <div class="col-sm-8">
                                            <p:commandButton id="btnsave" class="btn btn-primary"
                                                             action="#{fmsBondLiborController.saveBondLibor}"
                                                             value="#{fmsBondLiborController.saveUpdate}"
                                                             process="@form"
                                                             update=":frmRegisterUI"/>
                                        </div>                                                  
                                    </div>       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>                                          
        </h:form>
    </ui:define>
</ui:composition>
