<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Administrative/SystemRegistration.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/CostCenter.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Cost Center</a>
        </li>  
                <li>
            <a href="../../fcms/Administrative/SysCCMapper.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System Cost Center Mapper</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/GeneralLedger.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  General Ledger</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/ChartOfAccounts.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Chart of Account</a>
        </li>           
        <li>
            <a href="../../fcms/Administrative/VoucherNumberRangeReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Voucher Number Range</a>
        </li>


    </ui:define>
    <ui:define name="contents">
        <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information"/>
        <div class="divider"></div>
        <div class="divider"></div><div class="divider"></div>
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">                    
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/Administrative/AccountClosingPeriodReg.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh" ></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>    
                </f:facet>
            </p:toolbar>
        </h:form> 
        <h:form id="frmEmployee">
            <div class="panel panel-info" >
                <p:panel id="panelMain">
                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/> 
                    <p:tabView style=" width: 100%" id="maintab">
                        <p:ajax event="tabChange" update=":frmEmployee" listener="#{accountClosingPeriodManagedBean.onTabChange}" />
                        <p:tab title="Fiscal Year" id="tab1">
                            <p:panel id="pnlFiscalYear" style="border: white">               
                                <div class="form-group" >
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <h:outputLabel   class="control-label col-sm-12" value="#{accountClosingPeriodManagedBean.nextYearInformation }" ></h:outputLabel>
                                        </div>
                                        <div class="form-group required">
                                            <h:outputLabel  for="selectLuBudgetYear" class="control-label col-sm-2" value="Budget Year :"></h:outputLabel> 
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="selectLuBudgetYear" required="true" style="width: 100%"
                                                                   requiredMessage="Value is Required."
                                                                   value="#{accountClosingPeriodManagedBean.fmsLuBudgetYearEnty.budgetYear}"
                                                                   valueChangeListener="#{accountClosingPeriodManagedBean.handleSelectMajorName}"
                                                                   >          
                                                    <f:selectItems id="selectOneMenuQualification" 
                                                                   value="#{accountClosingPeriodManagedBean.luBudgetYearList}" />     
                                                    <p:ajax update="ES" process="@this" event="change" /> 
                                                    <p:ajax update="SD" process="@this" event="change" /> 
                                                </p:selectOneMenu>
                                                <p:message for="selectLuBudgetYear" display="icon"  class="col-sm-3 control-label"/>
                                            </div>                                          
                                        </div>
                                    </div>
                                    <br/><br/>
                                    <br/>
                                </div>                                
                                <div class="form-group" >
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <h:outputLabel  class="control-label col-sm-2" value="Starting Date"></h:outputLabel>   
                                            <div class="col-sm-4">
                                                <p:inputText  id="ES" style="width: 100%" value="#{accountClosingPeriodManagedBean.startingdate }" readonly="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <br></br>
                                    <br></br>
                                </div>
                                <div class="form-group" >
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <h:outputLabel class="control-label col-sm-2" value="End Date"></h:outputLabel> 
                                            <div class="col-sm-4">
                                                <p:inputText  id="SD" style="width: 100%" value="#{accountClosingPeriodManagedBean.enddate}" readonly="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <br></br>
                                    <br></br>
                                </div>                                    
                            </p:panel>                         

                            <div class="col-md-12 col-md-offset-5 buttons-group">
                                <br></br>
                                <br></br>
                                <p:commandButton id="btnsaveOpen" class="btn btn-primary btn-flat"  
                                                   icon="ui-icon-save"
                                                 value="#{accountClosingPeriodManagedBean.saveorUpdateBundle}"   
                                                 action="#{accountClosingPeriodManagedBean.btnSaveClos_Action()}"
                                                 process="@this,pnlFiscalYear"
                                                 update=":frmEmployee"
                                                 />
                            </div>
                        </p:tab>
                        <p:tab title="Account Period"  id="tab2">

                            <p:panel id="pnlAccountPeriod" style="border: white">               
                                <div class="form-group" >
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <h:outputLabel   class="control-label col-sm-4" value="Current Active Period :"></h:outputLabel> 
                                            <h:outputLabel   class="control-label col-sm-2" value="#{accountClosingPeriodManagedBean.selectedmonth }"></h:outputLabel>
                                        </div>
                                    </div>
                                    <br></br>
                                    <br></br>
                                </div>

                            </p:panel>                         

                            <div class="col-md-12 col-md-offset-5 buttons-group">
                                <br></br>
                                <br></br>
                                <p:commandButton id="btnsaveClose" class="btn btn-primary btn-flat"  
                                                   icon="ui-icon-save"
                                                 value="#{accountClosingPeriodManagedBean.saveCloseBundle}"   
                                                 action="#{accountClosingPeriodManagedBean.btnSaveClos_Action()}"
                                                 process="@this"
                                                 update=":frmEmployee"
                                                 />

                            </div>
                        </p:tab>
                    </p:tabView>
                </p:panel>
            </div>
        </h:form>
    </ui:define>
</ui:composition>



