<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">  
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Administrative/SystemRegistration.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System</a>
        </li> 
        <li>
            <a href="../../fcms/Administrative/CostCenter.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Cost Center</a>
        </li>
         <li>
            <a href="../../fcms/Administrative/SysCCMapper.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System Cost Center Mapper</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/GeneralLedger.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  General Ledger</a>
        </li>      
        <li>
            <a href="../../fcms/Administrative/AccountClosingPeriodReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Accounting Period</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/VoucherNumberRangeReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Voucher Number Range</a>
        </li>
       
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlGoBackSearchButton" rendered="#{chartofAccountsController.renderPnlToSearchPage}"> 
                        <p:commandButton id="searchButton" icon="ui-icon-search" style="background-color: white;border-color: white" 
                                         action="#{chartofAccountsController.goBackSearchButtonAction()}"
                                         title="Back to Search"
                                         process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmAccountChart,:frmSample"  />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                   </h:panelGroup>
                    <h:panelGroup id="pnlSearchButton" rendered="#{chartofAccountsController.isRenderCreate}">
                    <p:commandButton id="btnIcone" validateClient="true" action="#{chartofAccountsController.createNewSLView()}"
                                     icon="#{chartofAccountsController.icone}"  class="toolBarButton" style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmAccountChart,:frmSample" 
                                     title="#{chartofAccountsController.createOrSearchBundle}" 
                                     />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    </h:panelGroup>
                    <a href="../../fcms/Administrative/ChartOfAccounts.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard" ></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>    
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{chartofAccountsController.headerTitle}" /> </h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{chartofAccountsController.renderPnlManPage}">
                                    <div class="col-md-12" > 
                                        <h:form id="frmAccountChartSearch"> 
                                            <div class="panel-body">
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <p:outputLabel class="control-label col-sm-2" value="Subsidiary Code:"/>                                                        
                                                        <div class="col-sm-4">                                                          
                                                            <p:inputText id="subode" class="form-control" value="#{chartofAccountsController.fmsSubsid1aryLedger1.subsidiaryCode}" 
                                                                         title="Subsidiary Code"  style="width: 100%" >
                                                            </p:inputText>                                                          
                                                                                                                
                                                        </div> 
                                                    </div>                                                                
                                                </div>
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <div class="col-sm-2">
                                                        </div>
                                                        <div class="col-sm-2">
                                                        <p:commandButton id="btnsearch" class="btn  btn-block btn-primary col-lg-4" action ="#{chartofAccountsController.SubsidiariesSearch()}" 
                                                                             value="Find" process="@this,frmAccountChartSearch" update="@this,:frmMainUI:frmAccountChartSearch:subLTable"/>
                                                        </div>                                                                
                                                    </div>                                                                
                                                </div>
                                            </div>                                            
                                         <div class="col-md-12 " style="padding-top: 20px">
                                                <p:dataTable id="subLTable" var="subL" value="#{chartofAccountsController.subsiDModel}" 
                                                             rows="10" rowIndexVar="num" paginator="true" paginatorPosition="bottom"
                                                             selectionMode="single" 
                                                             rowsPerPageTemplate="5,10,15"
                                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                             selection="#{chartofAccountsController.selectedAccount}" rowKey="#{subL.subsidiaryId}">
                                                    <p:ajax event="rowSelect" listener="#{chartofAccountsController.populate}" update="@(form),:lblheadeTitle,:frmAccountChart:jobOptionHandler, :frmAccountChart:empOptionHandle" />

                                                    <p:column headerText="No.">
                                                        <h:outputText value="#{num+1}" />
                                                    </p:column>

                                                    <p:column headerText="General Ledger">
                                                        <h:outputText value="#{subL.generalLedgerId}" />
                                                    </p:column>

                                                    <p:column headerText="Subsidiary Ledger">
                                                        <h:outputText value="#{subL.subsidiaryCode}" />
                                                    </p:column>

                                                    <p:column headerText="Account Title">
                                                        <h:outputText value="#{subL.accountTitle}" />    
                                                    </p:column>
                                                    <p:column headerText="Job No.">
                                                        <h:outputText value="#{subL.jobid}" />    
                                                    </p:column>
                                                    <p:column headerText="Employee ID">
                                                        <h:outputText value="#{subL.empId}" />    
                                                    </p:column>

                                                    <p:column headerText="Debit">
                                                        <h:outputText value="#{subL.debit}" />
                                                    </p:column>

                                                    <p:column headerText="Credit">
                                                        <h:outputText value="#{subL.credit}" />
                                                    </p:column>

                                                    <p:column headerText="Status">
                                                        <h:outputText value="#{subL.status}" />
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmAccountChart"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{chartofAccountsController.renderPnlCreateGatePass}">
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information"/>
                                    <div class="active tab-pane" id="tabTransmission">
                                        <section class="panel panel-info"  >
                                            <section class="panel-body" >  
                                                <h:panelGroup id="pnltransm" class="col-sm-12">
                                                    <div id="mainform" class="col-md-12" style="float: right; padding-bottom: 20px;">
                                                        <div class="form-group col-sm-12">
                                                            <div class="col-md-6 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel class="control-label col-sm-4"  value="Subsidiary Code :"/>
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="subLSLAccID" value="#{chartofAccountsController.fmsSubsid1aryLedger1.subsidiaryCode}"
                                                                                     style="width: 100%" class="form-control" readonly="true"></p:inputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="drpSrcSysCode" class="col-sm-4 control-label" >System Code :</label>
                                                                <div class="col-sm-6"> 
                                                                    <p:selectOneMenu id="drpSrcSysCode" value="#{chartofAccountsController.fmsLuSystem.systemCode}"
                                                                                     style="width: 100%" valueChangeListener="#{chartofAccountsController.SystemSearchChange}"
                                                                                     filter="true" filterMatchMode="startsWith" required="true" requiredMessage="Value is required.">                                                                                     
                                                                        <f:selectItems value="#{chartofAccountsController.getSystemSearchList()}"/>
                                                                        <p:ajax  event="change" process="@this" update="drpCostCenter,subLGLAccName,subLSLAccID,searchEmployeeName,txtfname,jobMenu"/>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="drpSrcSysCode" display="icon"/>                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="drpCostCenter" class="col-sm-4 control-label">Cost Center :</label>  
                                                                <div class="col-sm-6">                                             
                                                                    <p:selectOneMenu id="drpCostCenter" value="#{chartofAccountsController.fmsCostCenter.systemName}" 
                                                                                     valueChangeListener="#{chartofAccountsController.CostSearchChange}"
                                                                                     required="true" requiredMessage="Value is required."
                                                                                     style="width: 100%" filter="true" filterMatchMode="startsWith">
                                                                        <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                        <f:selectItems id="txtselectOneCostCenterCode" value="#{chartofAccountsController.costCenterList}" />
                                                                        <p:ajax  event="change" process="@this" update="@this,subLGLAccName,subLSLAccID,searchEmployeeName,txtfname,jobMenu"/>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="drpCostCenter" display="icon"/>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="subLGLAccName" class="col-sm-4 control-label" >General Ledger :</label>
                                                                <div class="col-sm-6">
                                                                    <p:selectOneMenu id="subLGLAccName" style="width: 100%" required="true" converter="entConverter" 
                                                                                     value="#{chartofAccountsController.fmsSubsid1aryLedger1.generalLedgerId}"
                                                                                     valueChangeListener="#{chartofAccountsController.glListener}"
                                                                                     filter="true" filterMatchMode="startsWith"
                                                                                     requiredMessage="Value is Required.">
                                                                        <f:selectItems value="#{chartofAccountsController.getGLdata()}"></f:selectItems>
                                                                        <p:ajax event="change"  process="@this,drpSrcSysCode,drpCostCenter" update="subLSLAccID,searchEmployeeName,txtfname,jobMenu"/>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="subLGLAccName" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="lblUnitName" class="col-sm-4 control-label" >Status :</label>
                                                                <div class="col-sm-6">
                                                                    <p:selectOneMenu id="coaStat" style="width: 100%" required="true" 
                                                                                     value="#{chartofAccountsController.fmsSubsid1aryLedger1.status}"
                                                                                     requiredMessage="Value is Required.">
                                                                        <f:selectItems value="#{chartofAccountsController.getStatus()}"> </f:selectItems>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="coaStat" display="icon"/>
                                                                </div>
                                                            </div>

                                                        </div>                                                                         
                                                        <h:panelGroup id="jobOptionHandler">
                                                            <div class="form-group col-sm-12">
                                                                <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                    <label for="searchEmployeeName" class="col-sm-4 control-label" >Employee Id:</label>
                                                                    <div class="col-sm-6">
                                                                        <p:autoComplete id="searchEmployeeName"  
                                                                                        value="#{chartofAccountsController.hrEmployees.empId}" 
                                                                                        completeMethod="#{chartofAccountsController.SearchByEmpId}"
                                                                                        style="width: 100%" converter="entConverter"
                                                                                        var="empList"  itemValue="#{empList}" itemLabel="#{empList}"
                                                                                        forceSelection="true" readonly="#{chartofAccountsController.ledgerOption}"
                                                                                        size="20" emptyMessage="No data"> 
                                                                            <p:ajax event="itemSelect" process="@this" update="@this,txtfname,subLSLAccID"  
                                                                                    listener="#{chartofAccountsController.getEmpId}" />
                                                                            <p:column headerText="Full Name" >
                                                                                <h:outputText  value="#{empList.firstName} #{empList.middleName} #{empList.lastName}" />
                                                                            </p:column>
                                                                            <p:column headerText="Emp. ID" >
                                                                                <h:outputText  value="#{empList.empId}" />
                                                                            </p:column>
                                                                        </p:autoComplete>
                                                                    </div>
                                                                </div>
                                                                <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                    <h:outputLabel class="control-label col-sm-4" value="Employee Name :"/>
                                                                    <div class="col-sm-6"> 
                                                                        <p:inputText id="txtfname" 
                                                                                     value="#{chartofAccountsController.hrEmployees.firstName} #{chartofAccountsController.hrEmployees.middleName}"
                                                                                     class="form-control" readonly="true"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:panelGroup>
                                                        <h:panelGroup id="empOptionHandle">                                                            
                                                            <div class="form-group col-sm-12">
                                                                <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;">
                                                                    <p:outputLabel class="control-label col-sm-4" value="Job No. :"/>                                                        
                                                                    <div class="col-sm-6">
                                                                        <p:selectOneMenu id="jobMenu" value="#{chartofAccountsController.pmsWorkAuthorization.jobNo}" 
                                                                                         style="width: 100%"
                                                                                         valueChangeListener="#{chartofAccountsController.JobId}" 
                                                                                         disabled="#{chartofAccountsController.ledgerOption}">
                                                                            <f:selectItems value="#{chartofAccountsController.findJobList()}"> </f:selectItems>
                                                                            <p:ajax  event="change" process="@this" update="subLSLAccID,searchEmployeeName,txtfname,jobMenu" />
                                                                        </p:selectOneMenu>
                                                                    </div>
                                                                </div>   
                                                                <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                    <label for="lblUnitName" class="col-sm-4 control-label" >Account Title :</label>
                                                                    <div class="col-sm-6">
                                                                        <p:inputText id="subLDescription" class="form-control" required="true" 
                                                                                     value="#{chartofAccountsController.fmsSubsid1aryLedger1.accountTitle}"
                                                                                     style="width: 100%" validator="#{validatorManagedBean.Text}"
                                                                                     requiredMessage="Value is Required."></p:inputText>
                                                                        <p:message for="subLDescription" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>                                                                                     
                                                        </h:panelGroup>
                                                        <div class="form-group col-sm-12">

                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="lblUnitName" class="col-sm-4 control-label" >Entry Type :</label>
                                                                <div class="col-sm-8">
                                                                    <p:selectOneRadio id="entryRadio" required="true" class="col-sm-6"
                                                                                      value="#{chartofAccountsController.entryType}"
                                                                                      requiredMessage="Value is Required.">
                                                                        <f:selectItem itemLabel="Debit" itemValue="Debit" />
                                                                        <f:selectItem itemLabel="Credit" itemValue="Credit" />                            
                                                                    </p:selectOneRadio>
                                                                    <p:message for="entryAmnt" display="icon"/>
                                                                </div>
                                                                <label for="lblUnitName" class="col-sm-4 control-label" >Amount :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="entryAmnt" required="true" class="form-control" 
                                                                                 value="#{chartofAccountsController.entryAmount}"
                                                                                 style="width: 100%" requiredMessage="Value is Required."></p:inputText>
                                                                    <p:message for="entryAmnt" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>        
                                                    </div>

                                                </h:panelGroup>
                                            </section>
                                        </section>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-2">
                                                <p:commandButton id="btnEntry" class="btn  btn-block btn-primary col-lg-4" value="#{chartofAccountsController.saveOrUpdateButton}" process="@this,:frmAccountChart" 
                                                                 update="@this,:frmAccountChart,:frmMainUI:frmAccountChartSearch" 
                                                                 action="#{chartofAccountsController.DebCredEntryVal()}"/>                                
                                            </div>                                           
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

