<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">   
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Administrative/SystemRegistration.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System</a>
        </li>   
        <li>
            <a href="../../fcms/Administrative/SysCCMapper.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System Cost Center Mapper</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/GeneralLedger.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  General Ledger</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/ChartOfAccounts.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Chart of Account</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/AccountClosingPeriodReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Accounting Period</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/VoucherNumberRangeReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Voucher Number Range</a>
        </li>
      
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlGoBackSearchButton" rendered="#{costcenterController.renderPnlToSearchPage}"> 
                        <p:commandButton id="searchButton" icon="ui-icon-search" style="background-color: white;border-color: white" 
                                         action="#{costcenterController.goBackSearchButtonAction()}"
                                         title="Back to Search"
                                         process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmCCReg"  />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                   </h:panelGroup>
                    <h:panelGroup id="pnlSearchButton" rendered="#{costcenterController.isRenderCreate}">
                    <p:commandButton id="btnIcone" validateClient="true" action="#{costcenterController.createNewCostCenterView()}"
                                     icon="#{costcenterController.icone}"  class="toolBarButton" style="background-color: white; border-color: white"
                                      title = "#{costcenterController.createOrSearchBundle}" 
                                      process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmCCReg, :frmSample" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                        
                    </h:panelGroup>
                    <a href="../../fcms/Administrative/CostCenter.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{costcenterController.headerTitle}" /> </h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{costcenterController.renderPnlManPage}">
                                    <div class="col-md-12" > 
                                        <h:form id="frmcostSearch"> 
                                            <div class="panel-body">
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <p:outputLabel class="control-label col-sm-2" value="Cost Center :"/>                                                        
                                                        <div class="col-sm-4">
                                                            <p:inputText id="cccode" class="form-control" value="#{costcenterController.fmsCostCenter.systemName}" title="Costcode" 
                                                                         style="width: 100%" validator="#{validatorManagedBean.Number}">
                                                            </p:inputText>
                                                        </div>
                                                    </div>                                                                
                                                </div>
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <div class="col-sm-2">

                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p:commandButton id="btnSearch" class="btn  btn-block btn-primary col-lg-4" action="#{costcenterController.CostSearch()}"
                                                                             value="Find" process="@this,frmcostSearch" update="@this,:frmMainUI:frmcostSearch:ccTable"/>
                                                        </div>                                                                
                                                    </div>                                                                
                                                </div>
                                            </div>
                                            <div class="col-md-12 " style="padding-top: 20px">
                                                <p:dataTable id="ccTable" var="ccT" value="#{costcenterController.costcenterDModel}" selectionMode="single" 
                                                             rows="10" rowIndexVar="num" paginator="true" paginatorPosition="bottom"
                                                              rowsPerPageTemplate="5,10,15"
                                                              paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                             selection="#{costcenterController.selectedCostCenter}" rowKey="#{ccT.systemName}">
                                                    <p:ajax id="aj" event="rowSelect" listener="#{costcenterController.populateCC}" update="@(form),:lblheadeTitle" />

                                                    <p:column headerText="No.">
                                                        <h:outputText value="#{num+1}" />
                                                    </p:column>
                                                    <p:column headerText="Cost Center">
                                                        <h:outputText value="#{ccT.systemName}" />
                                                    </p:column>
                                                    <p:column headerText="Description">
                                                        <h:outputText value="#{ccT.description}" />                                                    
                                                    </p:column>
                                                    <p:column headerText="Status">
                                                        <h:outputText value="#{ccT.status}" />
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmCCReg"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{costcenterController.renderPnlCreateGatePass}">
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                    <div class="active tab-pane" id="tabTransmission">
                                        <section class="panel panel-info"  >
                                            <section class="panel-body" >  
                                                <h:panelGroup id="pnltransm" class="col-sm-12">
                                                    <div class="form-group col-sm-12">                                                        
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="lblCCname" class="col-sm-4 control-label" >Cost Center :</label>
                                                            <div class="col-sm-6">
                                                                <p:inputText id="ccName" class="form-control" value="#{costcenterController.fmsCostCenter.systemName}" title="AccountTitle" 
                                                                             style="width: 100%" required="true" validator="#{validatorManagedBean.Number}">
                                                                </p:inputText>
                                                                <p:message for="ccName" display="icon"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12"> 
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="lblccDesc" class="col-sm-4 control-label" >Description :</label>
                                                            <div class="col-sm-6">
                                                                <p:inputTextarea id="ccDesc" class="form-control" value="#{costcenterController.fmsCostCenter.description}" 
                                                                                 style="width: 100%" title="AccountTitle" >
                                                                </p:inputTextarea>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                            <label for="lblccStatus" class="col-sm-4 control-label" >Status :</label>
                                                            <div class="col-sm-6">
                                                                <p:selectOneMenu id="status" style="width: 100%" value="#{costcenterController.fmsCostCenter.status}" 
                                                                                 required="true" >
                                                                    <f:selectItems value="#{costcenterController.getStatus()}"> </f:selectItems>
                                                                </p:selectOneMenu>
                                                                <p:message for="status" display="icon"/>
                                                            </div>
                                                        </div>
                                                    </div>  
                                                    <div class="form-group col-sm-12">
                                                        <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;" >
                                                            <div class="col-sm-2"></div>
                                                            <div class="col-sm-2">
                                                                <p:commandButton id="btnCreator" class="btn  btn-block btn-primary col-lg-4" action="#{costcenterController.createCostC()}"
                                                                                 value="#{costcenterController.costSaveOrUpdateButton}" process="@this,frmCCReg" update="@this,frmCCReg"></p:commandButton>                                            
                                                            </div>
                                                            <div class="col-sm-2">
                                                            </div>
                                                            <div class="col-sm-2">                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h:panelGroup>
                                            </section>
                                        </section>
                                    </div>
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

