<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">     
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Administrative/SystemRegistration.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System</a>
        </li> 
        <li>
            <a href="../../fcms/Administrative/CostCenter.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Cost Center</a>
        </li>
         <li>
            <a href="../../fcms/Administrative/SysCCMapper.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System Cost Center Mapper</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/ChartOfAccounts.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Chart of Account</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/AccountClosingPeriodReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Accounting Period</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/VoucherNumberRangeReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Voucher Number Range</a>
        </li>
       
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlGoBackSearchButton" rendered="#{generalledgercontroller.renderPnlToSearchPage}"> 
                        <p:commandButton id="searchButton" icon="ui-icon-search" style="background-color: white;border-color: white" 
                                         action="#{generalledgercontroller.goBackSearchButtonAction()}"
                                         title="Back to Search"
                                        process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmGL, :frmSample"   />
                        <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                   </h:panelGroup>
                    <h:panelGroup id="pnlSearchButton" rendered="#{generalledgercontroller.isRenderCreate}">
                    <p:commandButton id="btnIcone" validateClient="true" action="#{generalledgercontroller.createNewGLView()}"
                                     icon="#{generalledgercontroller.icone}"  class="toolBarButton" style="background-color: white;border-color: white"
                                     title="#{generalledgercontroller.createOrSearchBundle}" 
                                     process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmGL, :frmSample"                                      
                                     />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    </h:panelGroup>
                    <a href="../../fcms/Administrative/GeneralLedger.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{generalledgercontroller.headerTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{generalledgercontroller.renderPnlManPage}">
                                    <div class="col-md-12" > 
                                        <h:form id="frmGLSearch"> 
                                            <div class="panel-body">
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <p:outputLabel class="control-label col-sm-2" value="General Ledger :"/>                                                        
                                                        <div class="col-sm-4">
                                                            <p:inputText id="cccode" class="form-control" value="#{generalledgercontroller.fmsGeneralLedger.generalLedgerCode}"
                                                                         title="GLcode" style="width: 100%" validator="#{validatorManagedBean.Number}">
                                                            </p:inputText>
                                                        </div>
                                                    </div>                                                                
                                                </div>
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <div class="col-sm-2">

                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p:commandButton id="btnsearch" class="btn  btn-block btn-primary col-lg-4" action="#{generalledgercontroller.LedgerSearch()}"
                                                                             value="Find" process="@this,frmGLSearch" update="@this,:frmMainUI:frmGLSearch:genLTable"></p:commandButton>
                                                        </div>                                                                
                                                    </div>                                                                
                                                </div>

                                            </div>
                                            <div class="col-md-12 " style="padding-top: 20px">
                                                <p:dataTable id="genLTable" var="genL" value="#{generalledgercontroller.genLedgerDModel}"                                                              
                                                             selectionMode="single" rows="10" rowIndexVar="num" paginator="true" paginatorPosition="bottom"  
                                                              rowsPerPageTemplate="5,10,15"
                                                              paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                             selection="#{generalledgercontroller.selectedGL}" rowKey="#{genL.generalLedgerId}">                                                             
                                                    <p:ajax event="rowSelect" listener="#{generalledgercontroller.populate}" update="@(form),:lblheadeTitle" />
                                                    <p:column headerText="No." style="width:60px">
                                                        <h:outputText value="#{num+1}" />
                                                    </p:column>
                                                    <p:column headerText="General Ledger Code">
                                                        <h:outputText value="#{genL.generalLedgerCode}" />
                                                    </p:column>
                                                    <p:column headerText="Account Title">
                                                        <h:outputText value="#{genL.accountTitle}" />
                                                    </p:column>
                                                    <p:column headerText="Account Category">
                                                        <h:outputText value="#{genL.accountCategory.type}" />
                                                    </p:column>
                                                    <p:column headerText="Status" style="width:160px">
                                                        <h:outputText value="#{genL.status}" />
                                                    </p:column>
                                                </p:dataTable>

                                            </div>
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmGL"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{generalledgercontroller.renderPnlCreateGatePass}">
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information"/>
                                    <div class="active tab-pane" id="tabTransmission">
                                        <section class="panel panel-info"  >
                                            <section class="panel-body" >  
                                                <h:panelGroup id="pnltransm" class="col-sm-12">

                                                    <div id="mainform" class="col-md-12" style="float: right; padding-bottom: 20px;">
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="lblUnitName" class="col-sm-4 control-label" >General Ledger Code:</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="generalLedgerCode" class="form-control" value="#{generalledgercontroller.fmsGeneralLedger.generalLedgerCode}" title="GeneralLedgerCode" 
                                                                                 style="width: 100%" required="true" validator="#{validatorManagedBean.Number}">
                                                                    </p:inputText>
                                                                    <p:message for="generalLedgerCode" display="icon"/>

                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="lblUnitName" class="col-sm-4 control-label" >Account Title :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="accountTitle" class="form-control" value="#{generalledgercontroller.fmsGeneralLedger.accountTitle}"
                                                                                 style="width: 100%" title="AccountTitle" required="true" validator="#{validatorManagedBean.Text}">
                                                                    </p:inputText>
                                                                    <p:message for="accountTitle" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="lblUnitName" class="col-sm-4 control-label" >Status :</label>
                                                                <div class="col-sm-6">
                                                                    <p:selectOneMenu id="status" style="width: 100%" value="#{generalledgercontroller.fmsGeneralLedger.status}" required="true">
                                                                        <f:selectItems value="#{generalledgercontroller.getStatus()}"> </f:selectItems>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="status" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="chkAccType" class="col-sm-4 control-label" >Account Type :</label>
                                                                <div class="col-sm-8">
                                                                    <p:selectOneRadio id="chkAccType" required="true" class="col-sm-8"
                                                                                      value="#{generalledgercontroller.fmsGeneralLedger.accountType}"
                                                                                      requiredMessage="Value is Required.">
                                                                        <f:selectItem itemLabel="Project" itemValue="2" />
                                                                        <f:selectItem itemLabel="Non Project" itemValue="3" />                            
                                                                        <f:selectItem itemLabel="Both" itemValue="1" />                            
                                                                    </p:selectOneRadio>
                                                                    <p:message for="chkAccType" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>                                                        
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="lblUnitName" class="col-sm-4 control-label" >Account Type</label>
                                                                <div class="col-sm-6">
                                                                    <p:selectOneMenu id="accountType" value="#{generalledgercontroller.fmsAccountType.id}" required="true" 
                                                                                     converter="entConverter" filterMatchMode="contains" filter="true" style="width: 100%"> 
                                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                        <f:selectItems value="#{generalledgercontroller.acctTypeList}" 
                                                                                       var="comCountryList" itemLabel="#{comCountryList.type}" 
                                                                                       itemValue="#{comCountryList.id}"/>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="accountType" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>                                                        
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;" >
                                                            <div class="col-sm-2">

                                                            </div>
                                                            <div class="col-sm-2">
                                                                <p:commandButton id="btnsave" value="#{generalledgercontroller.GLSaveOrUpdateButton}" class="btn  btn-block btn-primary col-lg-4"
                                                                                 process="@this,frmGL" update="@this,frmGL" action="#{generalledgercontroller.createGLedger()}"></p:commandButton>
                                                            </div>

                                                            <div class="col-sm-2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h:panelGroup>
                                            </section>
                                        </section>
                                    </div>
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

