<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">     
             <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Administrative/SystemRegistration.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/CostCenter.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Cost Center</a>
        </li>         
        <li>
            <a href="../../fcms/Administrative/GeneralLedger.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  General Ledger</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/ChartOfAccounts.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Chart of Account</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/AccountClosingPeriodReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Accounting Period</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/VoucherNumberRangeReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Voucher Number Range</a>
        </li>
       
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlGoBackSearchButton" rendered="#{sysCCMapperController.renderPnlToSearchPage}"> 
                        <p:commandButton id="searchButton" icon="ui-icon-search" style="background-color: white;border-color: white" 
                                         action="#{sysCCMapperController.goBackSearchButtonAction()}"
                                         title="Back to Search"
                                        process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmGL, :frmSample"   />
                        <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                   </h:panelGroup>
                    <h:panelGroup id="pnlSearchButton" rendered="#{sysCCMapperController.isRenderCreate}">
                    <p:commandButton id="btnIcone" validateClient="true" action="#{sysCCMapperController.createNewGLView()}"
                                     icon="#{sysCCMapperController.icone}"  class="toolBarButton" style="background-color: white;border-color: white"
                                     title="#{sysCCMapperController.createOrSearchBundle}" 
                                     process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmGL, :frmSample"                                      
                                     />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    </h:panelGroup>
                    <a href="../../fcms/Administrative/SysCCMapper.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{sysCCMapperController.headerTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">                               
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{sysCCMapperController.renderPnlManPage}">
                                    <div class="col-md-12" > 
                                        <h:form id="frmfrmSystemSearch"> 
                                            <div class="panel-body">
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <p:outputLabel class="control-label col-sm-2" value="Costc-System Junction:"/>                                                        
                                                        <div class="col-sm-4">
                                                            <p:inputText id="cccode" class="form-control" value="#{sysCCMapperController.fmsCostcSystemJunction.id}"
                                                                         title="GLcode" style="width: 100%" >
                                                            </p:inputText>
                                                        </div>
                                                    </div>                                                                
                                                </div>
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <div class="col-sm-2">

                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p:commandButton id="btnsearch" class="btn  btn-block btn-primary col-lg-4" action="#{sysCCMapperController.SysCCMapperSearch()}"
                                                                             value="Find" process="@this,frmfrmSystemSearch" update="@this,:frmMainUI:frmfrmSystemSearch:sysTable"></p:commandButton>
                                                        </div> 
                                                         
                                                    </div> 
                                                    
                                                   
                                                </div>

                                            </div>                                      
                                            
                                            <div class="col-md-12 " style="padding-top: 20px">
                                                <p:dataTable id="sysTable" var="sysCCM" value="#{sysCCMapperController.fmsCostcSystemJunctionDataModel}"                                                              
                                                             selectionMode="single" rows="10" rowIndexVar="num" paginator="true" paginatorPosition="bottom"  
                                                              rowsPerPageTemplate="5,10,15"
                                                              paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                              selection="#{sysCCMapperController.selectedSCJ}" rowKey="##{sysCCM.depId}">                                                 
                                                    <p:ajax event="rowSelect" listener="#{sysCCMapperController.populate}" update="@(form),:lblheadeTitle" />
                                                                <p:column headerText="No.">
                                                                    <h:outputText value="#{num+1}"/>
                                                                </p:column>                                                    
                                                                <p:column headerText="System Code" >
                                                                    <h:outputText value="#{sysCCM.fmsLuSystem}"/>
                                                                </p:column>
                                                                <p:column headerText="Cost Center" >
                                                                    <h:outputText value="#{sysCCM.fmsCostCenter}"/>
                                                                </p:column>
                                                                <p:column headerText="Department" >
                                                                    <h:outputText value="#{sysCCM.depId}"/>
                                                                </p:column>
                                                                <p:column headerText="Status" >
                                                                    <h:outputText value="#{sysCCM.status}"/>
                                                                </p:column>
                                                </p:dataTable>

                                            </div>
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmGL"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{sysCCMapperController.renderPnlCreateGatePass}">
                                   
                                    <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                                        <p:dialog id="dlgDpt" header="Departments" widgetVar="dlgDpt" height="300" width="500" showEffect="explode">
                                                            <h:panelGrid columns="3" style="border-color: #ffffff ">
                                                                <p:tree id="treeDep" value="#{sysCCMapperController.root2}" var="nodes" style="border: transparent; width: 100%"
                                                                        selectionMode="single" selection="#{sysCCMapperController.selectedNode}">
                                                                    <p:ajax event="select" listener="#{sysCCMapperController.onNodeSelect}" process="@this" 
                                                                            update="@(form)"/>
                                                                    <p:treeNode>
                                                                        <h:outputText value="#{nodes}" />
                                                                    </p:treeNode>
                                                                </p:tree>                                       
                                                            </h:panelGrid>
                                                        </p:dialog>
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="SysId" class="col-sm-4 control-label" >System Code</label>
                                                                <div class="col-sm-6">
                                                                    <p:selectOneMenu id="SysId" value="#{sysCCMapperController.fmsCostcSystemJunction.fmsLuSystem}"
                                                                                     converter="entConverter"
                                                                                     style="width: 100%" required="true" valueChangeListener="#{sysCCMapperController.SystemSearchChange}"
                                                                                     filter="true" filterMatchMode="startsWith" requiredMessage="Value is required.">
                                                                        <f:selectItems value="#{sysCCMapperController.getSystemList()}"/>
                                                                        <p:ajax  event="change" process="@this" update="drpCostCenter"/>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="SysId" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="txtDepartment" class="col-sm-4 control-label" >Department:</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText   id="txtDepartment" class="form-control" required="true" onmousedown="return false;" placeholder="Please Use + Button Only"
                                                                                   value="#{sysCCMapperController.hrDepartments.depName}"  requiredMessage="Value is required."/>
                                                                    <p:message for="txtDepartment" display="icon"/>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <p:commandButton id="btnTree" onclick="PF('dlgDpt').show();"  partialSubmit="true" style="background: transparent;" value="+"/>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="lblSysName" class="col-sm-4 control-label" >Cost Center</label>
                                                                <div class="col-sm-6">
                                                                    <p:selectOneMenu id="drpCostCenter" value="#{sysCCMapperController.fmsCostcSystemJunction.fmsCostCenter}"  
                                                                                     converter="entConverter"
                                                                                     valueChangeListener="#{sysCCMapperController.CostCenterSearchChange}" required="true"
                                                                                     style="width: 100%" filter="true" filterMatchMode="startsWith" requiredMessage="Value is required.">
                                                                        <f:selectItem itemLabel="--- Select---" itemValue="" />
                                                                        <f:selectItems id="txtselectOneCostCenterCode" value="#{sysCCMapperController.costCenterList}" 
                                                                                       var="ccVar" itemLabel="#{ccVar.systemName}" itemValue="#{ccVar}" />                                                                       
                                                                        <p:ajax  event="change" process="@this"/>
                                                                    </p:selectOneMenu>
                                                                    <p:message id="ccId" for="drpCostCenter" display="icon"/>
                                                                </div>
                                                            </div>


                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="lblccStatus" class="col-sm-4 control-label" >Status</label>
                                                                <div class="col-sm-6">
                                                                    <p:selectOneMenu id="status" style="width: 100%" value="#{sysCCMapperController.fmsCostcSystemJunction.status}" 
                                                                                     required="true" requiredMessage="Value is required.">
                                                                        <f:selectItems value="#{sysCCMapperController.getStatus()}"> </f:selectItems>
                                                                        <p:ajax  event="change" process="@this"/>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="status" display="icon"/>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;">
                                                            <div class="col-sm-2"></div>
                                                            <div class="col-sm-2">
                                                                <p:commandButton id="btnCreator" class="btn  btn-block btn-primary col-lg-4" action="#{sysCCMapperController.connectSysCC()}"
                                                                                 value="#{sysCCMapperController.sysCMSaveOrUpdateButton}"  process="@this,frmGL" update="@this,frmGL" ></p:commandButton>
                                                            </div>                                                                
                                                                                                                         
                                                        </div>
                                    
                                            
                                               
                                         
                               
                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

