<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">        
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Administrative/CostCenter.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Cost Center</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/SysCCMapper.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  System Cost Center Mapper</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/GeneralLedger.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  General Ledger</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/ChartOfAccounts.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Chart of Account</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/AccountClosingPeriodReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Accounting Period</a>
        </li>
        <li>
            <a href="../../fcms/Administrative/VoucherNumberRangeReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Voucher Number Range</a>
        </li>
        
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlgBackSearch" rendered="#{systemRegistrationController.renderpnlSearchPage}">
                        <p:commandButton id="cmdBackSearch" action="#{systemRegistrationController.goBackToSearchPageBtnAction()}"
                                         title="Back to Search" icon="ui-icon-search" 
                                         style="background-color: white; border-color: white"
                                          process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmCCReg,:frmSample" >
                            
                        </p:commandButton>
                        <span class="ui-separator">
                            <span class="ui-icon  ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <p:commandButton id="btnIcone" validateClient="true" action="#{systemRegistrationController.createNewSystemView()}"
                                     icon="#{systemRegistrationController.icone}"  class="toolBarButton" 
                                     style="background-color: white; border-color: white"
                                     process="@this" update="@this,:frmMainUI,:lblheadeTitle,:frmCCReg,:frmSample" 
                                     title="#{systemRegistrationController.createOrSearchBundle}"/>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/Administrative/SystemRegistration.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                 
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{systemRegistrationController.headerTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{systemRegistrationController.renderPnlManPage}">
                                    <div class="col-md-12" > 
                                        <h:form id="frmSysReg"> 
                                            <div class="panel-body">
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <p:outputLabel class="control-label col-sm-2" value="System Code :"/>                                                        
                                                        <div class="col-sm-4">
                                                            <p:inputText id="cccode" class="form-control" value="#{systemRegistrationController.fmsLuSystem.systemCode}" title="Syscode" 
                                                                         style="width: 100%" validator="#{validatorManagedBean.Number}">
                                                            </p:inputText>
                                                        </div>
                                                    </div>                                                                
                                                </div>
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <div class="col-sm-2">

                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p:commandButton id="btnSearch" class="btn  btn-block btn-primary col-lg-4" value="Find" 
                                                                             action="#{systemRegistrationController.findSysList}"
                                                                             process="@this,frmSysReg" update="@this,:frmMainUI:frmSysReg:sysTable">
                                                            </p:commandButton>
                                                        </div>                                                                
                                                    </div>                                                                
                                                </div>
                                            </div>
                                            <div class="col-md-12 " style="padding-top: 20px">
                                                <p:dataTable id="sysTable" var="sysT" value="#{systemRegistrationController.systemDataMOdel}" 
                                                             rows="10" rowIndexVar="num" paginator="true" paginatorPosition="bottom"
                                                             rowsPerPageTemplate="5,10,15"
                                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                             selectionMode="single" selection="#{systemRegistrationController.selectedSystem}" rowKey="#{sysT.systemId}">
                                                    <p:ajax id="aj" event="rowSelect" listener="#{systemRegistrationController.populateSystem}" update="@(form),:lblheadeTitle" />
                                                    <p:column headerText="No." style="width:60px">
                                                        <h:outputText value="#{num+1}" />
                                                    </p:column>
                                                    <p:column headerText="System Code">
                                                        <h:outputText value="#{sysT.systemCode}" />
                                                    </p:column>
                                                    <p:column headerText="System Name">
                                                        <h:outputText value="#{sysT.systemName}" />
                                                    </p:column>
                                                    <p:column headerText="System Type">
                                                        <h:outputText value="#{sysT.type}" />
                                                    </p:column>
                                                    <p:column headerText="Status">
                                                        <h:outputText value="#{sysT.status}" />
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <h:form id="frmCCReg"  > 
                                <h:panelGroup style="border: 0px; background-color: transparent"  rendered="#{systemRegistrationController.renderPnlCreateGatePass}">
                                    <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                    <div class="active tab-pane" id="tabTransmission">
                                        <section class="panel panel-info"  >                                           
                                            <section class="panel-body" >  
                                                <h:panelGroup id="pnltransm" class="col-sm-12">
                                                    <h:form id="frmSystemReg">
                                                        <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="systcode" class="col-sm-4 control-label" >System Code :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="systcode" class="form-control" value="#{systemRegistrationController.fmsLuSystem.systemCode}"
                                                                                 style="width: 100%" required="true" validator="#{validatorManagedBean.Number}" maxlength="4"  />
                                                                    <p:message for="systcode" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="systemName" class="col-sm-4 control-label" >System Name :</label>
                                                                <div class="col-sm-6">
                                                                    <p:inputText id="systemName" class="form-control" value="#{systemRegistrationController.fmsLuSystem.systemName}"
                                                                                 style="width: 100%" required="true" validator="#{validatorManagedBean.Remark}"/>
                                                                    <p:message for="systemName" display="icon"/>
                                                                </div>
                                                            </div>                                                            
                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="drpSysTyp" class="col-sm-4 control-label" >System Type :</label>
                                                                <div class="col-sm-6">
                                                                    <p:selectOneMenu id="drpSysTyp" value="#{systemRegistrationController.fmsLuSystem.type}" style="width: 100%" required="true">
                                                                        <f:selectItem itemLabel="Select One" itemValue="" />
                                                                        <f:selectItem itemLabel="Head Office" itemValue="1" />
                                                                        <f:selectItem itemLabel="Generation Construction" itemValue="2" />
                                                                        <f:selectItem itemLabel="Transmission Substation Construction" itemValue="3" />
                                                                        <f:selectItem itemLabel="Generation Operation" itemValue="4" />
                                                                        <f:selectItem itemLabel="Transmission Substation Operation and Maintenance" itemValue="5" />
                                                                        <f:selectItem itemLabel="EEP Engineering" itemValue="6"/>
                                                                        <f:selectItem itemLabel="Others Project" itemValue="7"/>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="drpSysTyp" display="icon"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                <label for="lblccStatus" class="col-sm-4 control-label" >Status :</label>
                                                                <div class="col-sm-6">
                                                                    <p:selectOneMenu id="status" style="width: 100%" value="#{systemRegistrationController.fmsLuSystem.status}" 
                                                                                     required="true" >
                                                                        <f:selectItems value="#{systemRegistrationController.getStatus()}"> </f:selectItems>
                                                                    </p:selectOneMenu>
                                                                    <p:message for="status" display="icon"/>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-horizontal col-sm-12" style="padding-bottom: 10px;">
                                                                <div class="col-sm-2"></div>
                                                                <div class="col-sm-2">
                                                                    <p:commandButton id="btnCreator" class="btn  btn-block btn-primary col-lg-4" action="#{systemRegistrationController.createSystem()}"
                                                                                     value="#{systemRegistrationController.systemSaveOrUpdateButton}" process="@this,frmSystemReg" update="@this,frmSystemReg,:frmCCReg"></p:commandButton>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </h:form>

                                                </h:panelGroup>
                                            </section>
                                        </section>
                                    </div>

                                </h:panelGroup>
                            </h:form>      
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>

