<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                template="../../resources/templates/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="navigaion_content">  
        <!-- search form -->

        <li class="header">MAIN NAVIGATION</li>           




        <li> <a href="../../HomePage.xhtml"><i class="fa fa-home"></i>Home
                <i class="fa fa-angle-double-left pull-right"></i>
            </a>
        </li>



        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-shopping-cart"></i>
                <span>Store Information</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">


                <li>
                    <a href="Store Information/MmsStoreRequisition.xhtml" ><i class="fa fa-circle-o"></i>Store Requisition</a>
                </li>


                <li>
                    <a href="Store Information/ShelfRegistration.xhtml"><i class="fa fa-circle-o"></i>Location Management Shelf </a>
                </li>

                <li>
                    <a href="Store Information/ShelfCellInformations.xhtml"><i class="fa fa-circle-o"></i>Location Management Cell </a>
                </li>
                <li>
                    <a href="Store Information/StoreInformation.xhtml"><i class="fa fa-circle-o"></i>Store Registration</a>
                </li>

                <li>
                    <a href="Store Information/ReceivableItemLocation.xhtml"><i class="fa fa-circle-o"></i>Receivable Item Location</a>
                </li>
                <li>
                    <a href="Store Information/ItemLocationForIssuance.xhtml"><i class="fa fa-circle-o"></i>Issuable Item Location</a>
                </li>
                <li>
                    <a href="Store Information/shelfLife.xhtml"><i class="fa fa-circle-o"></i> Shelf Life And Status</a>
                </li>
                <li>
                    <a href="Store Information/DepartmentToStoreMapper.xhtml"><i class="fa fa-circle-o"></i> Department to Store Mapper</a>
                </li>



            </ul>
        </li>



        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-cubes"></i>
                <span>Items Information</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="Items Information/MmsInspection.xhtml"><i class="fa fa-circle-o"></i>Inspection</a>
                </li>
                <li>
                    <a href="Items Information/MmsItemRegistration.xhtml"><i class="fa fa-circle-o"></i>Item Registration </a>
                </li>

                <li>
                    <a href="Items Information/MmsBinCard.xhtml"><i class="fa fa-circle-o"></i>BinCard </a>
                </li>


            </ul>
        </li> 
        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-check-square"></i>
                <span>Inventory Information</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="InventoryInformation/InventoryBalanceSheet.xhtml"><i class="fa fa-circle-o"></i> Inventory Balance Sheet</a>
                </li>
                <li>
                    <a href="InventoryInformation/InventoryCountSheet.xhtml"><i class="fa fa-circle-o"></i> Inventory Count Sheet</a>
                </li>
                <li>
                    <a href="InventoryInformation/NeedAssessment.xhtml"><i class="fa fa-circle-o"></i>Need Assessment</a>
                </li>
                <li>
                    <a href="InventoryInformation/NeedAssessmentCollected.xhtml"><i class="fa fa-circle-o"></i>Need Assessment Summary</a>
                </li>
                <li>
                    <a href="InventoryInformation/mmsLostFixedAsset.xhtml"><i class="fa fa-circle-o"></i>Lost Fixed Asset </a>
                </li>

                <li>
                    <a href="InventoryInformation/stockItemLost.xhtml"><i class="fa fa-circle-o"></i>Lost Stock Item </a>
                </li>
                <li>
                    <a href="InventoryInformation/FixedAssetTransfer.xhtml"><i class="fa fa-circle-o"></i>Fixed Asset Transfer </a>
                </li>

                <li>
                    <a href="InventoryInformation/FixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i>Fixed Asset Return </a>
                </li>
                <li>
                    <a href="InventoryInformation/NonFixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> Non Fixed Asset Return</a>
                </li>              
                <li>
                    <a href="InventoryInformation/StockDisposal.xhtml"><i class="fa fa-circle-o"></i> Stock Disposal </a>
                </li>

                <li>
                    <a href="InventoryInformation/FixedAssetItemDisposal.xhtml"><i class="fa fa-circle-o"></i>Disposal Collection </a>
                </li>


                <li>
                    <a href="InventoryInformation/Disposal.xhtml"><i class="fa fa-circle-o"></i>Fixed Asset Disposal</a>
                </li>

            </ul>
        </li>

        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-truck"></i>
                <span>Stock Movement Information</span>
                <i class="fa fa-angle-left pull-right-xs"></i>
            </a>
            <ul class="treeview-menu">

                <li>
                    <a href="Stock Movement Information/MmsGRN.xhtml"><i class="fa fa-circle-o"></i>Goods Receiving Note</a>
                </li>
                <li>
                    <a href="Stock Movement Information/RMG.xhtml"><i class="fa fa-circle-o"></i>Received Manufactured Goods</a>
                </li>
                <li>
                    <a href="Stock Movement Information/MmsSIV.xhtml"><i class="fa fa-circle-o"></i>Store Issue Voucher</a>
                </li>
                <li>
                    <a href="Stock Movement Information/ISIV.xhtml"><i class="fa fa-circle-o"></i>Inter Store Issue Voucher</a>
                </li>
                <li>
                    <a href="Stock Movement Information/ISIV_Received.xhtml"><i class="fa fa-circle-o"></i>Inter Store Issue Voucher Received</a>
                </li>
                <li>
                    <a href="Stock Movement Information/GatePassInformation.xhtml"><i class="fa fa-circle-o"></i>Gate Pass Information</a>
                </li>
                <!--  <li>
                      <a href="Stock Movement Information/SIV_Transaction_Rollback.xhtml"><i class="fa fa-circle-o"></i>Rollback Siv Transaction</a>
                  </li> -->



            </ul>
        </li>



        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-cart-plus"></i>
                <span>Fixed Assets Information</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">

                <li>
                    <a href="FixedAssetsInformation/FixedAssetRegistration.xhtml"><i class="fa fa-circle-o"></i> Minor Asset Registration</a>
                </li>

                <li>
                    <a href="FixedAssetsInformation/Insurance.xhtml"><i class="fa fa-circle-o"></i>Insurance Registration</a>
                </li>
                <li><a href="FixedAssetsInformation/FixedAssetAttributeReg.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Attribute Registration</span></a></li> 
                <!-- <li><a href="FixedAssetsInformation/fixedAssetCompDepreciationCalc.xhtml"><i class="fa fa-circle-o"></i> <span>fixed Asset CompDepreciationCalc</span></a></li> 
                 <li><a href="FixedAssetsInformation/fixedAssetDepreciationCalc.xhtml"><i class="fa fa-circle-o"></i> <span>fixed Asset DepreciationCalc</span></a></li> -->
                <li><a href="FixedAssetsInformation/FixedAssetIFRS.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Registration</span></a></li> 
                <li>
                    <a href="FixedAssetsInformation/LeaseRegistration.xhtml"><i class="fa fa-circle-o"></i> Lease Registration</a>
                </li>

                <!--   <li>
                    <a href="FixedAssetsInformation/FixedAssetSubstation.xhtml"><i class="fa fa-circle-o"></i> Fixed Asset Substation</a>
                </li>
                <li>
                    <a href="FixedAssetsInformation/FixedAssetHydropower.xhtml"><i class="fa fa-circle-o"></i> Fixed Asset HydroPower</a>
                </li>
                <li>
                    <a href="FixedAssetsInformation/building.xhtml"><i class="fa fa-circle-o"></i> Fixed Asset Building</a>
                </li>
                <li>
                    <a href="FixedAssetsInformation/transport.xhtml"><i class="fa fa-circle-o"></i> Fixed Asset Transport</a>
                </li>
                <li>
                    <a href="FixedAssetsInformation/wind.xhtml"><i class="fa fa-circle-o"></i> Fixed Asset Wind</a>
                </li>
                <li>
                    <a href="FixedAssetsInformation/Geothermal.xhtml"><i class="fa fa-circle-o"></i> Fixed Asset Geothermal</a>
                </li>
                              <li>
                                    <a href="Fixed Assets Information/Road.xhtml"><i class="fa fa-circle-o"></i> Fixed Asset Road</a>
                                </li> 
                <li>
                    <a href="FixedAssetsInformation/Land.xhtml"><i class="fa fa-circle-o"></i> Fixed Asset Land</a>
                </li> -->


            </ul>

        </li>

        <li class="treeview">
            <a href="#treeview-menu">
                <i class="fa fa-bus"></i>
                <span>Transit Information</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">

                <li>
                    <a href="Transit Information/GoodsEntrance.xhtml"><i class="fa fa-circle-o"></i> Goods Entrance</a>
                </li>

                <li>
                    <a href="Transit Information/ClaimRecordingForm.xhtml"><i class="fa fa-circle-o"></i>Claim Registration</a>
                </li>

                <li>
                    <a href="Transit Information/ImportShippingInstruct.xhtml"><i class="fa fa-circle-o"></i>Import Shipping</a>
                </li>
                <li>
                    <a href="Transit Information/ContainerAgreement.xhtml"><i class="fa fa-circle-o"></i> Container Agreement</a>
                </li>
            </ul>
        </li>





        <!-- /.search form -->
    </ui:define>

    <ui:define name="contents">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>Total Store Requisition</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>Item Reorder Level</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Total Material Received </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border"><!-- box-header -->
                        <!--Enter Your Box Header Here-->

                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <!--Enter Your Chart Here-->

                        <div class="col-md-4  " >
                            <div class="panel panel-collapse bg-info"  >
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-12img-circle">
                                            <p:chart type="bar" widgetVar="chart1" model="#{fixedAssetRegController.itemStatusBarModel}" style="height:380px;font-style: italic;font: bold" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->

                </div><!-- /.col -->

                <!-- /.row -->
            </div>
        </div>

    </ui:define>

</ui:composition>

