<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content"> 
        <li><a href="bonusRequest.xhtml"><i class="fa fa-fw"></i> <span> Bonus Prepare</span></a></li>
        <li><a href="bonusApprove.xhtml"><i class="fa fa-fw"></i> <span> Bonus Approve</span></a></li>>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandLink id="cmlView" class="fa fa-gear" onclick="PF('dlgWorkflow').show();"/> 
                    <span class="ui-separator">
                    </span>
                    <a href="bonusRequest.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <p:commandButton id="btnTrash" type="button" style="background-color: white"  title="Delete" icon="ui-icon-trash"/>
                    <p:commandButton id="btnPrint" type="button" style="background-color: white"  title="Print" icon="ui-icon-print"/>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmRequest"> 
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup id="pnlSearch" rendered="#{employeeBonus.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Bonus Prepare</h3>
                            </div>
                            <section class="panel panel-info" >
                                <section class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-horizontal form-group required  col-sm-12">
                                            <div class="form-group">
                                                <h:outputLabel class="control-label col-sm-4" value="Budget Year:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="somFiliterByStatus" style="width:100%" value="#{employeeBonus.hrEmployeesBonus.budgetYear}" 
                                                                     valueChangeListener="#{employeeBonus.handleBonusInfo}"
                                                                     required="true" requiredMessage="please select budget year">
                                                        <f:selectItems value="#{employeeBonus.listOfYear}"/>   
                                                        <p:ajax event="valueChange" process="@this" update=":frmRequest,tblBouns"/>
                                                    </p:selectOneMenu> 
                                                    <p:message for="somFiliterByStatus" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal form-group required  col-sm-12">
                                            <div class="form-group">
                                                <h:outputLabel class="control-label col-sm-4" value="Amount:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="drdamount" style="width:100%"
                                                                     value="#{employeeBonus.hrEmployeesBonus.amount}"
                                                                     required="true" requiredMessage="please select amount"
                                                                     valueChangeListener="#{employeeBonus.loademployeeLists}">
                                                        <p:ajax event="change" process="@this,:frmRequest" update=":frmRequest,:frmSample,tblBouns"/>
                                                        <f:selectItems value="#{employeeBonus.listOfBones}"/>  
                                                    </p:selectOneMenu> 
                                                    <p:message for="drdamount" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal form-group required  col-sm-12">
                                            <div class="form-group">
                                                <h:outputLabel class="control-label col-sm-4" value="Reference Number:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtreferenceno" style="width:100%"
                                                                 value="#{employeeBonus.hrEmployeesBonus.referenceNo}"
                                                                 required="true" requiredMessage="please select reference number"> 
                                                    </p:inputText> 
                                                    <p:message for="txtreferenceno" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group">
                                                <h:outputLabel class="control-label col-sm-4" value=" "/>
                                                <div class="col-sm-8">
                                                    <div class="btn btn-group">
                                                        <p:commandButton id="btnButton" class="btn  btn-block btn-primary col-lg-4" disabled="#{employeeBonus.lockInput}"                                                                     
                                                                         value="Load Employee With Bonus"
                                                                         process="@this,:frmRequest" update=":frmRequest,:frmSample,tblBouns"
                                                                         action="#{employeeBonus.loademployeeList()}"/> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group">
                                                <h:outputLabel class="control-label col-sm-4" value="Experiance:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="drdexperiance" style="width:100%" disabled="#{employeeBonus.lockInput}"
                                                                     value="#{employeeBonus.hrEmployeesBonus.experiancemonth}">
                                                        <f:selectItems value="#{employeeBonus.listOfexperiancemonth}"/>   
                                                    </p:selectOneMenu> 
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-horizontal form-group required   col-sm-12">
                                            <div class="form-group">
                                                <h:outputLabel class="control-label col-sm-4" value="Request Date:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtrequsetdate" style="width:100%" 
                                                                 value="#{employeeBonus.hrEmployeesBonus.requestdate}"
                                                                 converter="dateConverter" 
                                                                 onclick="displayCalendar('frmRequest:txtrequsetdate', 'frmRequest:txtrequsetdate');"
                                                                 required="true" requiredMessage="Enter Request date" title="Request Date" 
                                                                 validator="#{validatorManagedBean.Date}"/>
                                                    <p:message for="txtrequsetdate" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal form-group required   col-sm-12">
                                            <div class="form-group">
                                                <h:outputLabel class="control-label col-sm-4" value="Date Of Permission:"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtpermissiondate" style="width:100%" 
                                                                 value="#{employeeBonus.hrEmployeesBonus.dateOfPermission}"
                                                                 converter="dateConverter" 
                                                                 onclick="displayCalendar('frmRequest:txtpermissiondate', 'frmRequest:txtpermissiondate');"
                                                                 required="true" requiredMessage="Enter Permission date" title="Permission Date" 
                                                                 validator="#{validatorManagedBean.Date}"/>
                                                    <p:message for="txtpermissiondate" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <section class="panel panel-info" >
                <section class="panel-body">
                    <div class="form-horizontal col-sm-12">
                        <div class="form-group" style="height: 400px; overflow: auto">
                            <p:dataTable id="tblBouns" value="#{employeeBonus.hrEmployeesBonus.hrEmployeesBonusDetailList}"  
                                         var="qlf" class="table table-striped"  scrollable="true" scrollHeight="500"> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="No"/>
                                    </f:facet>
                                    <p:outputLabel value="#{qlf.num}"/>
                                </p:column>
                                <p:column headerText="Employee Id" filterMatchMode="startsWith" filterBy="#{qlf.employeeId.empId}">
                                    <p:outputLabel value="#{qlf.employeeId.empId}"/>
                                </p:column>
                                <p:column headerText="Employee Name" filterMatchMode="startsWith" filterBy="#{qlf.employeeId.firstName}">
                                    <p:outputLabel value="#{qlf.employeeId.firstName}  #{qlf.employeeId.middleName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Hire Date"/>
                                    </f:facet>
                                    <p:outputLabel value="#{qlf.employeeId.hireDate}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Experience"/>
                                    </f:facet>
                                    <p:outputLabel value="#{qlf.experiance}"/>
                                </p:column>

                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Salary"/>
                                    </f:facet>
                                    <p:outputLabel value="#{qlf.employeeId.basicSalary}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Department Name"/>
                                    </f:facet>
                                    <p:outputLabel value="#{qlf.employeeId.deptId.depName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Gros Amount"/>
                                    </f:facet>
                                    <p:outputLabel value="#{qlf.grosBonus}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Net Amount"/>
                                    </f:facet>
                                    <p:outputLabel value="#{qlf.netBonus}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Income Tax"/>
                                    </f:facet>
                                    <p:outputLabel value="#{qlf.incomTax}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                        <section class="panel panel-info">
                            <section class="panel-body">  
                                <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-12">                      
                                            <div class="box-body"> 
                                                <div class="col-md-6">
                                                    <div class="col-md-12 textBoxMargin6px">
                                                        <div class="form-group form-horizontal form-group required">
                                                            <p:outputLabel  for="txtComment" class="control-label col-sm-4"
                                                                            value="Comment Given:" />
                                                            <div class="col-sm-8">
                                                                <p:inputTextarea id="txtComment" class="form-control"  value="#{employeeBonus.wfHrProcessed.commentGiven}" 
                                                                                 title="Remark"  required="false"  requiredMessage="Enter Plan" 
                                                                                 validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only"
                                                                                 onchange="this.value = this.value.trim()"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-12 textBoxMargin6px">
                                                        <div class="form-group form-horizontal form-group required">
                                                            <p:outputLabel  for="txtApproved" class="control-label col-sm-4"
                                                                            id="lblApproved" value="Processed Date:" />
                                                            <div class="col-sm-8">
                                                                <p:inputText id="txtApproved"  readonly="true"  placeholder="dd/mm/yyyy"
                                                                             value="#{employeeBonus.wfHrProcessed.processedOn}"  
                                                                             title="date"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 textBoxMargin6px">
                                                        <div class="form-group form-horizontal form-group">
                                                            <p:outputLabel  for="txtprey1" class="control-label col-sm-4"
                                                                            id="lblPrepatedy1" value="Processed By:"/>
                                                            <div class="col-sm-8">
                                                                <p:inputText  id="txtprey1"   
                                                                              value="logedin user"  
                                                                              title="descripition"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h:panelGroup id="pnlworkflow1" class="col-sm-12">
                                        <p:dialog id="dlgWorkflow" header="Workflow" widgetVar="dlgWorkflow" height="500"
                                                  width="1200" modal="true" resizable="false" showEffect="explode">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="box-body ">
                                                        <h:form class="form-horizontal" id="frmWorkflow" style="margin-top: 20px;">
                                                            <section class="panel panel-info" id="pnl22">
                                                                <section class="panel-body">                                       
                                                                    <div class="col-md-12" >                                       
                                                                        <div class="col-sm-12">
                                                                            <p:dataTable id="tblWorkflow" value="#{employeeBonus.workFlowDataModel}" 
                                                                                         var="currentRow"  rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                                                         rowKey="#{currentRow}" paginatorPosition="bottom">
                                                                                <p:column headerText="Processed By">
                                                                                    <h:outputText value="#{currentRow.processedBy}"/> 
                                                                                </p:column>
                                                                                <p:column >
                                                                                    <f:facet name="header">
                                                                                        <h:outputText value="Decision"/>
                                                                                    </f:facet>
                                                                                    <h:outputText value="#{currentRow.decision}"/> 
                                                                                </p:column>
                                                                                <p:column >
                                                                                    <f:facet name="header">
                                                                                        <h:outputText value="Comment Given"/>
                                                                                    </f:facet>
                                                                                    <h:outputText value="#{currentRow.commentGiven}"/> 
                                                                                </p:column>
                                                                                <p:column >
                                                                                    <f:facet name="header">
                                                                                        <h:outputText value="Processed Date"/>
                                                                                    </f:facet>
                                                                                    <h:outputText value="#{currentRow.processedOn}"/> 
                                                                                </p:column> 
                                                                            </p:dataTable>
                                                                        </div> 
                                                                    </div>  
                                                                </section>
                                                            </section>
                                                        </h:form>
                                                    </div>
                                                </div>
                                            </div>
                                        </p:dialog>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </section>
                        </section>
                        <div class="form-group">
                            <div class="btn btn-group">
                                <p:commandButton id="btnSave" value="#{employeeBonus.saveOrUpdateButton}" class="btn  btn-block btn-primary col-lg-4" 
                                                 style="left: 200px; top: 50px; position: absolute; width: 160px" action="#{employeeBonus.saveEmployeesBonus()}"
                                                 process="@this,:frmRequest,tblBouns" update=":frmRequest,tblBouns" >
                                </p:commandButton>  
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </h:form>
    </ui:define>
</ui:composition>


