<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li><a href="bonusRequest.xhtml"><i class="fa fa-fw"></i> <span> Bonus Prepare</span></a></li>
        <li><a href="bonusApprove.xhtml"><i class="fa fa-fw"></i> <span> Bonus Approve</span></a></li>>

    </ui:define>

    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:outputLabel id="lblNotf" class="fa fa-bell" value="#{employeeBonus.requestNotificationCounter}" style="color: red" />
                    <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="lblNotf"
                                    class="col-md-4" style="height: 400px">
                        <div class="form-group">
                            <p:dataTable id="tblnotification" value="#{employeeBonus.hremploybonuslist}"
                                         var="res" selectionMode="single" rowIndexVar="num" rows="10" paginator="true" paginatorPosition="bottom"
                                         selection="#{employeeBonus.hrEmployeesBonusDetail}" rowKey="#{res.id}" class="dataTable">
                                <p:ajax event="rowSelect" process="@this" listener="#{employeeBonus.PaymentapproveDisplayChanged}" 
                                        update=":frmRequest,:frmSample"/>
                                <p:column headerText="No.">
                                    <h:outputText value="#{num + 1}"/>
                                </p:column>
                                <p:column headerText="Budget Year" filterMatchMode="startsWith" filterBy="#{res.budgetYear}">
                                    <h:outputText  value="#{res.budgetYear}" />
                                </p:column>
                            </p:dataTable>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                    </span>
                    <p:commandLink id="cmlView" class="fa fa-gear" onclick="PF('dlgWorkflow').show();"/>
                    <span class="ui-separator">
                    </span>
                    <p:commandButton id="btnNew" validateClient="true" action="#{employeeBonus.createNewAdditionalAmount1()}" 
                                     icon="#{employeeBonus.icone}" style="background-color: white" 
                                     process="@this" update=":frmRequest,:frmSample"
                                     title="#{employeeBonus.createOrSearchBundle}"/>
                    <span class="ui-separator">
                    </span>
                    <a href="bonusApprove.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <p:commandButton id="btnTrash" type="button" style="background-color: white"  title="Delete" icon="ui-icon-trash"/>
                    <p:commandButton id="btnPrint" type="button" style="background-color: white"  title="Print" icon="ui-icon-print"/>
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmRequest"> 
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup id="pnlSearch" rendered="#{employeeBonus.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary"> 
                            <div class="box-header with-border">
                                <h3 class="box-title" >Search ...</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group">
                                            <h:outputLabel class="control-label col-sm-2" value="Filter Criteria:"/>
                                            <div class="col-sm-3">
                                                <p:selectOneMenu id="somFiliterByStatus1" style="width:100%"
                                                                 valueChangeListener="#{employeeBonus.filiterByStatus_VclEmployeeBonus}">
                                                    <f:selectItems value="#{employeeBonus.filterByStatus}"/>   
                                                    <p:ajax event="change" process="@this" update="tblResultList"/>
                                                </p:selectOneMenu> 
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                <div class="col-md-12">                                       
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <p:dataTable id="tblResultList" value="#{employeeBonus.bonusDataModels}"
                                                         var="res" selectionMode="single" rowIndexVar="num" rows="10" paginator="true" paginatorPosition="bottom"
                                                         selection="#{employeeBonus.hrEmployeesBonusDetail}" rowKey="#{res.id}" class="dataTable">
                                                <p:ajax event="rowSelect" process="@this" listener="#{employeeBonus.PaymentapproveDisplayChanged}" 
                                                        update=":frmRequest,:frmSample"/>
                                                <p:column headerText="No.">
                                                    <h:outputText value="#{num + 1}"/>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Budget Year"/>
                                                    </f:facet>
                                                    <h:outputText value="#{res.budgetYear}"/>
                                                </p:column>

                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup id="pnlMainpage" rendered="#{employeeBonus.renderPnlCreateAdditional}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Bonus Approve</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <section class="panel panel-info" >
                                        <section class="panel-body">
                                            <div class="col-md-6">
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group">
                                                        <h:outputLabel class="control-label col-sm-4" value="Budget Year:"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText id="somFiliterByStatus"  value="#{employeeBonus.hrEmployeesBonus.budgetYear}"
                                                                         readonly="true" style="width:100%">
                                                            </p:inputText> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group">
                                                        <h:outputLabel class="control-label col-sm-4" value="Amount:"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText id="drdamount"
                                                                         value="#{employeeBonus.hrEmployeesBonus.amount} MONTH"
                                                                         readonly="true" style="width:100%">
                                                            </p:inputText > 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group">
                                                        <h:outputLabel class="control-label col-sm-4" value="Experiance:"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText id="txtexperiances"
                                                                         value="#{employeeBonus.hrEmployeesBonus.experiancemonth} "
                                                                         readonly="true" style="width:100%">
                                                            </p:inputText > 
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group">
                                                        <h:outputLabel class="control-label col-sm-4" value="Request Date:"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText id="txtrequestdate"
                                                                         value="#{employeeBonus.hrEmployeesBonus.requestdate} "
                                                                         readonly="true" style="width:100%">
                                                            </p:inputText > 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                    <h:form id="mainform"> 
                                        <section class="panel panel-info" >
                                            <section class="panel-body">
                                                <div class="form-horizontal col-sm-12">
                                                    <div class="form-group" style="height: 400px; overflow: auto">
                                                        <h:dataTable id="tblBouns" value="#{employeeBonus.hrEmployeesBonus.hrEmployeesBonusDetailList}"  
                                                                     var="qlf" class="table table-striped"   >                    

                                                            <h:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Employee Id"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qlf.employeeId.empId}"/>
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Employee Name"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qlf.employeeId.firstName}  #{qlf.employeeId.middleName}"/>
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Hire Date"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qlf.employeeId.hireDate}"/>
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Salary"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qlf.employeeId.basicSalary}"/>
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Eperiance"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qlf.exp}"/>
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Department Name"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qlf.employeeId.deptId.depName}"/>
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Gros Amount"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qlf.grosBonus}"/>
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Net Amount"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qlf.netBonus}"/>
                                                            </h:column>
                                                            <h:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Income Tax"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qlf.incomTax}"/>
                                                            </h:column>
                                                        </h:dataTable>
                                                    </div>
                                                </div>
                                            </section>
                                        </section>
                                    </h:form>
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnl3" class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <div class="form-group form-group required  form-horizontal">
                                                                    <h:outputLabel for="drddecision" class="control-label col-sm-4" value="Decision"/>
                                                                    <div class="col-md-8 textBoxMargin6px">
                                                                        <p:selectOneMenu id="drddecision" value="#{employeeBonus.hrEmployeesBonus.status}" 
                                                                                         required="true"  requiredMessage="Select Decision" style="width: 100%"  >
                                                                            <f:selectItem itemLabel="Select One" itemValue=""/>
                                                                            <f:selectItem itemLabel="Approve" itemValue="1"/>
                                                                            <f:selectItem itemLabel="Reject" itemValue="2"/>
                                                                        </p:selectOneMenu>
                                                                    </div>
                                                                </div>                                            
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="calApprovedDate" value="Approved Date:" class="control-label col-sm-4"/>
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="calApprovedDate" value="#{employeeBonus.hrEmployeesBonus.approveddate}"
                                                                                     converter="dateConverter" 
                                                                                     onclick="displayCalendar('frmRequest:calApprovedDate', 'frmRequest:calApprovedDate');"
                                                                                     required="true" requiredMessage="Enter Approved date" title="Approved Date" 
                                                                                     validator="#{validatorManagedBean.Date}"/>
                                                                        <p:message for="calApprovedDate" display="icon"/>
                                                                    </div>
                                                                </div>                                                                                                       
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtRemark" class="control-label col-sm-4" value="Remark:"/> 
                                                                    <div class="col-sm-8">
                                                                        <p:inputTextarea id="txtRemark" value="#{employeeBonus.hrEmployeesBonus.remark}"
                                                                                         rows="1" cols="3" autoResize="false" title="Remark" class="form-control"/>
                                                                        <p:message for="txtRemark" display="icon"/>
                                                                    </div>
                                                                </div>                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </section>
                                    </section>



                                    <section class="panel panel-info">
                                        <section class="panel-body">  
                                            <h:panelGroup id="pnlworkflow1" class="col-sm-12">
                                                <p:dialog id="dlgWorkflow" header="Workflow" widgetVar="dlgWorkflow" height="500"
                                                          width="1200" modal="true" resizable="false" showEffect="explode">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="box-body ">
                                                                <h:form class="form-horizontal" id="frmWorkflow" style="margin-top: 20px;">
                                                                    <section class="panel panel-info" id="pnl22">
                                                                        <section class="panel-body">                                       
                                                                            <div class="col-md-12" >                                       
                                                                                <div class="col-sm-12">
                                                                                    <p:dataTable id="tblWorkflow" value="#{employeeBonus.workFlowDataModel}" 
                                                                                                 var="currentRow"  rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                                                                 rowKey="#{currentRow}" paginatorPosition="bottom">
                                                                                        <p:column headerText="Processed By">
                                                                                            <h:outputText value="#{currentRow.processedBy}"/> 
                                                                                        </p:column>
                                                                                        <p:column >
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Decision"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{currentRow.action}"/> 
                                                                                        </p:column>
                                                                                        <p:column >
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Comment Given"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{currentRow.commentGiven}"/> 
                                                                                        </p:column>
                                                                                        <p:column >
                                                                                            <f:facet name="header">
                                                                                                <h:outputText value="Processed Date"/>
                                                                                            </f:facet>
                                                                                            <h:outputText value="#{currentRow.processedOn}"/> 
                                                                                        </p:column> 
                                                                                    </p:dataTable>
                                                                                </div> 
                                                                            </div>  
                                                                        </section>
                                                                    </section>
                                                                </h:form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p:dialog>
                                            </h:panelGroup>
                                        </section>
                                    </section>





                                    <h:panelGroup id="pnl4" class="col-sm-12">
                                        <div class="panel-body col-sm-12">
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="col-sm-12 form-horizontal">
                                                        <div class="col-sm-4">                                                              
                                                        </div>                                                                    
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnSave" value="#{employeeBonus.saveOrUpdateButton}" 
                                                                             action="#{employeeBonus.approveEmployeeBonus()}" title="Approve"
                                                                             process="@this,pnl3" class="btn  btn-block btn-primary col-lg-4"                                       
                                                                             update=":frmRequest,:frmSample"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>   
                            </div>                   
                        </div>                   
                    </div>
                </div>
            </h:panelGroup>
        </h:form>  
    </ui:define>
</ui:composition>


