<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="navigaion_content">
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="displineOffenseType.xhtml"><i class="fa fa-circle-o "></i> <span>Offense Registration </span></a></li>
        <li><a href="penalitys.xhtml"><i class="fa fa-circle-o "></i> <span>Penalty Registration </span></a></li> 
        <li><a href="penalityForOffenseType.xhtml"><i class="fa fa-circle-o "></i><span> Penalty for Offense  </span></a></li>  
        <li> <a href="disciplineRequest.xhtml"><i class="fa fa-circle-o "></i> <span> Discipline Request</span> </a> </li>
        <li><a href="adjudicateDisciplineAppeal.xhtml"><i class="fa fa-circle-o "></i> <span>Adjudicate Discipline Appeal</span> </a> </li>  
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar  style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton  id="btnNew" action="#{disciplineApproveControllers.createNewAdditionalAmount()}" 
                                      icon="#{disciplineApproveControllers.icone}" validateClient="true"
                                      style="background-color: white; border-color: white"
                                      process="@this" update=":frmDisciplineApprove,:frmSample"
                                      title="#{disciplineApproveControllers.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <h:panelGroup id="pnlDisciplineHistory">
                        <p:commandLink id="cmdLinkDF" class="fa fa-life-saver" 
                                       title="View Discipline History" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvDH" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkDF"
                                        class="col-md-4" style="height: 400px; width: 800px">
                            <p:outputLabel id="lblDH" value="View Discipline History"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmDH"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <div class="panel-body col-sm-12">
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-group form-horizontal">
                                                                <h:outputLabel for="accused" value="Employee ID:" class="control-label col-sm-3"/>
                                                                <div class="col-sm-4">
                                                                    <p:autoComplete id="accused" value="#{disciplineApproveControllers.hrEmployee.empId}" style="width: 100%"
                                                                                    completeMethod="#{disciplineApproveControllers.searchEmployeeById}"  required="true" requiredMessage="Please search by Emp id."
                                                                                    var="empListReq" itemValue="#{empListReq.empId}" itemLabel="#{empListReq}" 
                                                                                    size="2" emptyMessage="no data" placeholder="Search by Emp Id"> 
                                                                        <p:column headerText="Employee Id">
                                                                            <h:outputText value="#{empListReq.empId}"/>
                                                                        </p:column>
                                                                        <p:column headerText="Employee Name">
                                                                            <h:outputText value="#{empListReq.firstName} #{empListReq.middleName} #{empListReq.lastName}"/>
                                                                        </p:column>
                                                                        <p:ajax event="itemSelect"  process="@this"  listener="#{disciplineApproveControllers.getById}" 
                                                                                update="@this,tblDisciplineHistory" />   
                                                                    </p:autoComplete>    
                                                                    <p:message for="accused" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p:dataTable id="tblDisciplineHistory" value="#{disciplineApproveControllers.hrDisciplineHistoryModel}"
                                                                 var="currentRow" selectionMode="single" rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                                 rowKey="#{currentRow.id}" paginatorPosition="bottom">
                                                        <p:column headerText="Offender Name">
                                                            <h:outputText value="#{currentRow.requestId.offenderId.firstName}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Offence Name"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.requestId.offenceTypeId.offenceName}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Desision On Penalty"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.decisionOnPenality}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Repitition Of offence"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.repititionOfOffence}"/> 
                                                        </p:column> 
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Description Of Offence"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.descriptionOfOffence}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Decision Date"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.decisionDate}"/> 
                                                        </p:column> 
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup> 
                    <h:panelGroup id="pnlGNotifica"> 
                        <span class="NotificationText"> #{disciplineApproveControllers.requestList.size()} </span>
                        <p:commandLink id="cmdLNotification" class="fa fa-fw fa-bell" title="Notification"/>
                        <p:overlayPanel widgetVar="widNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLNotification" class="col-md-4" style="height: 400px">
                            <div class="col-md-12 textBoxMargin6px">     
                                <div class="form-group">  
                                    <div class="col-sm-8">                                                               
                                        <p:selectOneListbox id="lstNotf" class="col-sm-8" style="width: 470px; height: 350px;" filterMatchMode="startsWith" filter="true"
                                                            converter="entConverter" valueChangeListener="#{disciplineApproveControllers.populateNotifcation}" scrollHeight="400">
                                            <f:selectItems value="#{disciplineApproveControllers.requestList}" var="reqList"
                                                           itemValue="#{reqList}" itemLabel="#{reqList.requesterId.firstName} --#{reqList.offenderId.firstName} --#{reqList.offenceTypeId.offenceName}"/> 
                                            <p:ajax event="valueChange"  process="@this"  update=":frmSample,:frmDisciplineApprove"/>
                                        </p:selectOneListbox>
                                    </div>                               
                                </div> 
                            </div> 
                        </p:overlayPanel>
                    </h:panelGroup>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <h:panelGroup id="pnlGNotificaPhaseOut"> 
                        <span class="NotificationText"> #{disciplineApproveControllers.deciplinePhaseOutList.size()} </span>
                        <p:commandLink id="cmdLNotificationHist" class="fa fa-fw fa-server" title="Phase out list"/>
                        <p:overlayPanel widgetVar="widNotfPhaseOut" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLNotificationHist" class="col-md-4" style="height: 400px">
                            <div class="col-md-12">     
                                <div class="form-group">   
                                    <p:dataTable id="tblPhaseoutList" value="#{disciplineApproveControllers.deciplinePhaseOutList}" var="reqst" rowIndexVar="num"
                                                 selectionMode="single"  class="dataTable" rows="5" paginator="true" paginatorPosition="bottom" rowKey="#{reqst.id}" 
                                                 selection="#{disciplineApproveControllers.hrEmpDisciplines}">
                                        <p:ajax event="rowSelect" process="@this" update="@this,tblPhaseoutList" listener="#{disciplineApproveControllers.onRowSelect}"/>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Offender Name"/>                                                        
                                            </f:facet>
                                            <h:outputText  value="#{reqst.requestId.offenderId.firstName}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="penalty"/>
                                            </f:facet>
                                            <h:outputText value="#{reqst.decisionOnPenality}"/>
                                        </p:column> 
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="description"/>
                                            </f:facet>
                                            <h:outputText value="#{reqst.descriptionOfOffence}"/>
                                        </p:column>
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="Status"/>
                                            </f:facet>
                                            <p:selectOneMenu id="drdStatus" value="#{reqst.status}" valueChangeListener="#{disciplineApproveControllers.handleSelectionEvent}"
                                                             style="width: 100%;" required="true" requiredMessage="Please select status">
                                                <f:selectItem itemLabel="--- Select ---" itemValue=""/>
                                                <f:selectItem itemLabel="PhaseOuted" itemValue="1"/>
                                                <p:ajax event="change"/>
                                                <p:message for="drdStatus" display="icon"/>
                                            </p:selectOneMenu>
                                        </p:column>
                                    </p:dataTable>                               
                                </div> 
                            </div>
                            <h:panelGroup id="pnlTwo"> 
                                <div class="col-sm-3">   
                                    <p:commandButton id="btnUpdate"  value="Update" 
                                                     action="#{disciplineApproveControllers.updateEmployeeDescipline}"
                                                     class="btn  btn-block btn-primary col-lg-4 " 
                                                     process="@this" update="@this" />  
                                </div>
                            </h:panelGroup>
                        </p:overlayPanel>
                    </h:panelGroup>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <h:panelGroup id="pnlworkflowIcon">
                        <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-gear" 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWorkflow" value="#{disciplineApproveControllers.hrWorkFlowDataModel}"
                                                                 var="currentRow" selectionMode="single" rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                                 rowKey="#{currentRow}" paginatorPosition="bottom">
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{currentRow.processedBy}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Decision"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.changedStstus}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Comment Given"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.commentGiven}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Processed Date"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.processedOn}"/> 
                                                        </p:column> 
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>                  
                    <a href="disciplineApprove.xhtml"><i class="fa fa-fw fa-refresh"></i> </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-body ">
                        <h:form id="frmDisciplineApprove">
                            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>   
                            <h:panelGroup id="pnlFindAlls" rendered="#{disciplineApproveControllers.renderPnlManPage}"> 
                                <div class="box-header with-border">
                                    <h3 class="box-title">Search...  <small></small></h3>   
                                </div> 
                                <div class="box-body">
                                    <div class="box-body">
                                        <div class="box-body">
                                            <div class="col-sm-12">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6"> 
                                                        <div class="form-horizontal col-md-12">
                                                            <div class="form-group form-group required">
                                                                <h:outputLabel class="control-label col-sm-4" value="Filter Criteria:"/>
                                                                <div class="col-sm-8" > 
                                                                    <p:selectOneMenu id="somFiliterByStatus" style="width:100%"
                                                                                     valueChangeListener="#{disciplineApproveControllers.valueChangeListnerDisciplineApprove}">
                                                                        <f:selectItems value="#{disciplineApproveControllers.filterByStatusForApprove}"/>   
                                                                        <p:ajax event="change" process="@this" update="@this,dtReqst"/>
                                                                    </p:selectOneMenu> 

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">                                       
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <br></br>
                                                    <div class="box box-primary ">
                                                        <p:dataTable  id="dtReqst" var="reqst" value="#{disciplineApproveControllers.disciplineApprovedList}" paginator="true" paginatorPosition="bottom" styleClass="forDataTable"
                                                                      selection="#{disciplineApproveControllers.disciplineRequests}" rows="10" rowsPerPageTemplate="5,10,15" rowIndexVar="num" rowKey="#{reqst.id}" selectionMode="single"
                                                                      sortBy="#{reqst.reportedDate}" sortOrder="ascending" emptyMessage="No Request">
                                                            <p:ajax event="rowSelect" listener="#{disciplineApproveControllers.populate}"
                                                                    process="@this" update="@this,:frmDisciplineApprove,:frmSample" />
                                                            <f:facet name="header">
                                                                <p:outputLabel value="" style=" font-size: 16px;"/>
                                                            </f:facet>
                                                            <p:column headerText="No." width="50">
                                                                <h:outputText value="#{num+1}"/>
                                                            </p:column>
                                                            <p:column headerText="Requester Name" filterMatchMode="startsWith" filterBy="#{reqst.requesterId.firstName}">
                                                                <h:outputText value="#{reqst.requesterId.firstName}"  />
                                                            </p:column>
                                                            <p:column headerText="Offender Name" filterMatchMode="startsWith" filterBy="#{reqst.offenderId.firstName}">
                                                                <h:outputText value="#{reqst.offenderId.firstName}" />
                                                            </p:column>
                                                            <p:column headerText="Offence Name"  filterMatchMode="startsWith" filterBy="#{reqst.offenceTypeId.offenceName}">
                                                                <h:outputText value="#{reqst.offenceTypeId.offenceName}"  />
                                                            </p:column>
                                                            <p:column headerText="Reported Date" >
                                                                <h:outputText value="#{reqst.reportedDate}"  />
                                                            </p:column>
                                                        </p:dataTable>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup id="pnlUnplanned" class="col-sm-12" rendered="#{disciplineApproveControllers.renderPnlCreateAdditional}">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Discipline Approve  </h3>  
                                </div>
                                <div class="box-body">
                                    <div class="box-body">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs" id="myTab">
                                                <li class="active" ><a data-toggle="tab" href="#approve">Discipline Approve Detail</a></li>
                                                <li ><a data-toggle="tab" href="#downloadFile">Supportive Information</a></li>
                                            </ul>
                                            <div class="tab-content" id="maintab">
                                                <div class="tab-pane active" id="approve">
                                                    <section class="panel panel-info"  >
                                                        <section class="panel-body" > 
                                                            <h:panelGroup id="pnlAccused" class="col-sm-12" rendered="#{disciplineApproveControllers.renderPnlCreateAdditional}">  
                                                                <div class="row">
                                                                    <div class="box-body">
                                                                        <div class="col-md-12">  
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="accused" value="Requester(Applied By)" class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8 textBoxMargin6px">
                                                                                            <p:autoComplete id="accused" value="#{disciplineApproveControllers.hrEmployeesRequester.firstName}" readonly="true" style="width: 100%"
                                                                                                            completeMethod="#{disciplineApproveControllers.SearchByFnameAccused}" 
                                                                                                            var="empListReq" itemValue="#{empListReq.firstName}" itemLabel="#{empListReq}" 
                                                                                                            size="2" emptyMessage="no data"> 
                                                                                                <p:ajax event="itemSelect"  process="@this,pnlAccuser"  listener="#{disciplineApproveControllers.getByFirstNameAccused}" 
                                                                                                        update="@this,txtAccusedName,txtAccusedJobTitle,txtAccusedDept" />   
                                                                                            </p:autoComplete>    
                                                                                            <p:message for="accused" display="icon"/>
                                                                                        </div> 
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtAccusedDept" class="control-label col-sm-4" value="Department: "/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtAccusedDept" value="#{disciplineApproveControllers.departmentsOfAccused.depName}" readonly="true"   />
                                                                                        </div>   
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtAccusedName" value="Emp ID: " class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtAccusedName" value="#{disciplineApproveControllers.hrEmployeesRequester.empId}" readonly="true"  />
                                                                                        </div>
                                                                                    </div>    
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtAccusedJobTitle" value="Job Title: " class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtAccusedJobTitle" value="#{disciplineApproveControllers.hrJobTypesOfAccused.jobTitle}" readonly="true"  />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </section>
                                                    </section>
                                                    <section class="panel panel-info"  >
                                                        <section class="panel-body" > 
                                                            <h:panelGroup id="pnlAccuser" class="col-sm-12" rendered="#{disciplineApproveControllers.renderPnlCreateAdditional}">  
                                                                <div class="row">
                                                                    <div class="col-md-12"> 
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel   value="Offender Name: " class="control-label col-sm-4"/>
                                                                                    <div class="col-lg-8">
                                                                                        <p:autoComplete id="searchAutocomplete" value="#{disciplineApproveControllers.hrEmployeesAccuser.firstName}" readonly="true" style="width: 100%" validator="#{validatorManagedBean.FullName}"
                                                                                                        completeMethod="#{disciplineApproveControllers.SearchByFname}" 
                                                                                                        var="empList" itemValue="#{empList.firstName}" itemLabel="#{empList}" 
                                                                                                        size="2" emptyMessage="no data">  
                                                                                            <p:ajax event="itemSelect"  process="@this,pnlAccuser" listener="#{disciplineApproveControllers.getByFirstName}" 
                                                                                                    update="@this,txtRequesterName,txtRequesterDept,txtRequesterPos" />   
                                                                                        </p:autoComplete>    
                                                                                        <p:message for="searchAutocomplete" display="icon"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  for="txtRequesterDept" class="control-label col-sm-4" value="Department: "/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtRequesterDept" value="#{disciplineApproveControllers.departments.depName}" readonly="true" style="width: 100%"  />
                                                                                    </div>   
                                                                                </div> 
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  for="txtRequesterName" value="Emp ID:" class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText  id="txtRequesterName" value="#{disciplineApproveControllers.hrEmployeesAccuser.empId}" readonly="true" style="width: 100%" />
                                                                                    </div>
                                                                                </div>    
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  for="txtRequesterPos" value="Job Title: " class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtRequesterPos" value="#{disciplineApproveControllers.hrJobTypes.jobTitle}" readonly="true"  style="width: 100%" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </section>
                                                    </section>
                                                    <section class="panel panel-info">
                                                        <section class="panel-body" >
                                                            <h:panelGroup id="pnlOffenceDetails" class="col-sm-12" rendered="#{disciplineApproveControllers.renderPnlCreateAdditional}">  
                                                                <div class="row">
                                                                    <div class="col-md-12"> 
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  for="txtOffenceDate" value="Offence Date: " class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtOffenceDate" value="#{disciplineApproveControllers.disciplineRequests.offenceDate}" validator="#{validatorManagedBean.Date}"
                                                                                                     converter="dateConverter" readonly="true"
                                                                                                     placeholder="dd/mm/yyyy"/>
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel value="Offence Name: " class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtOffence"  value="#{disciplineApproveControllers.offenceTypes.offenceName}"  readonly="true"/>

                                                                                    </div>   
                                                                                </div> 
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel  for="txtDescription" class="control-label col-sm-4" value="Description:"/>
                                                                                    <div class="col-sm-8">
                                                                                        <h:inputTextarea id="txtDescription" style="width: 100%" readonly="true" value="#{disciplineApproveControllers.disciplineRequests.descriptionOfOffence}"/>
                                                                                    </div>  
                                                                                </div> 
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel    value="Reported Date:" class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtReportedDate" value="#{disciplineApproveControllers.disciplineRequests.reportedDate}" 
                                                                                                     converter="dateConverter" readonly="true"  placeholder="dd/mm/yyyy"/>

                                                                                        <p:message for="txtReportedDate" display="icon"/> 
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  for="txtPreparedBy" value="Prepared By:" class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtPreparedBy" value="#{disciplineApproveControllers.disciplineRequests.preparedBy}" readonly="true"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  for="txtPhaseOutTime" value="Phase Out Time(Month): " class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8"> 
                                                                                        <p:inputText id="txtPhaseOutTime" value="#{disciplineApproveControllers.phaseOutTime}" readonly="true" style="width: 100%" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  for="txtReptition" value="Repitition: " class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtReptition" value="#{disciplineApproveControllers.disciplineRequests.repititionOfOffence}" readonly="true"  style="width: 100%" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel  for="txtRemark" class="control-label col-sm-4" value="Remark:"/>
                                                                                    <div class="col-sm-8">
                                                                                        <h:inputTextarea id="txtRemark" style="width: 100%" readonly="true" value="#{disciplineApproveControllers.disciplineRequests.requestRemark}"/>
                                                                                    </div>  
                                                                                </div> 
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8 textBoxMargin6px">
                                                                                        <br></br>
                                                                                    </div>
                                                                                </div> 
                                                                            </div>
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  for="txtPreparedOn" class="control-label col-sm-4" value="Prepared On:"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtPreparedOn" readonly="true" value="#{disciplineApproveControllers.preparedDate}"
                                                                                                     converter="dateConverter" placeholder="dd/mm/yyyy" />
                                                                                    </div>  
                                                                                </div> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </section>
                                                    </section>
                                                    <section class="panel panel-info">
                                                        <section class="panel-body" > 
                                                            <h:panelGroup id="pnlDecision12"  class="col-sm-12" rendered="#{disciplineApproveControllers.renderPnlCreateAdditional}">
                                                                <div class="row">
                                                                    <div class="col-md-12">  
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <p:outputLabel  value="Option:" class="control-label col-sm-4"/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:selectOneRadio id="txtRadio" class="col-sm-6" required="true" value="#{disciplineApproveControllers.slectedC}"
                                                                                                          valueChangeListener="#{disciplineApproveControllers.handleDecition}">
                                                                                            <f:selectItem itemLabel="Accept &nbsp;" itemValue="Accept" />
                                                                                            <f:selectItem itemLabel="Other" itemValue="Other" />    
                                                                                            <p:ajax event="change" process="@this" update=":frmDisciplineApprove:pnlDecision12"/>
                                                                                        </p:selectOneRadio>
                                                                                        <p:message for="txtRadio" display="icon"/> 
                                                                                    </div>
                                                                                </div>
                                                                            </div> 
                                                                            <h:panelGroup id ="pnlrend" rendered="#{disciplineApproveControllers.pnlAccept}">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtDecisionOnPenalityAccept" value="Decision on Penalty:" class="control-label col-sm-4 "/>
                                                                                        <div class="col-sm-8">
                                                                                            <h:inputTextarea id="txtDecisionOnPenalityAccept" style="width: 100%" value="#{disciplineApproveControllers.hrDisciplinePenaltyTypes.penaltyName}" readonly="true"/>
                                                                                            <p:message for="txtDecisionOnPenalityAccept" display="icon"/> 
                                                                                        </div>
                                                                                    </div>    
                                                                                </div>
                                                                            </h:panelGroup> 
                                                                            <h:panelGroup id ="pnlrend1" rendered="#{disciplineApproveControllers.pnlOther}">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <h:outputLabel   for="txtDecisionOnPenalityOther" value="Penalty:" class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8 textBoxMargin6px">
                                                                                            <h:inputTextarea id="txtDecisionOnPenalityOther"  class="form-control col-md-12" value="#{disciplineApproveControllers.disciplineRequests.decisionOnPenality}"/>
                                                                                        </div>  
                                                                                    </div> 
                                                                                </div>
                                                                            </h:panelGroup>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="col-md-12 textBoxMargin6px">
                                                                                <div class="form-group form-horizontal">
                                                                                    <h:outputLabel  for="txtApprovedOn" class="control-label col-sm-4" value="Approved On: "/>
                                                                                    <div class="col-sm-8">
                                                                                        <p:inputText id="txtApprovedOn" value="#{disciplineApproveControllers.approveddate}"  title="Approved On"
                                                                                                     converter="dateConverter" placeholder="dd/mm/yyyy" onclick="displayCalendar('frmDisciplineApprove:txtApprovedOn', 'frmDisciplineApprove:txtApprovedOn');"
                                                                                                     validator="#{validatorManagedBean.Date}" required="true" requiredMessage="Please select date"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </section>
                                                    </section>
                                                    <section class="panel panel-info">
                                                        <section class="panel-body">  
                                                            <h:panelGroup id="pnlworkflow" class="col-sm-12" rendered="#{disciplineApproveControllers.renderPnlCreateAdditional}">
                                                                <div class="row">
                                                                    <div class="col-md-12">                      
                                                                        <div class="box-body"> 
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-group required form-horizontal">
                                                                                        <h:outputLabel for="drddecision" class="control-label col-sm-4" value="Decision:" />
                                                                                        <div class="col-md-8 textBoxMargin6px">
                                                                                            <p:selectOneMenu id="drddecision" value="#{disciplineApproveControllers.disciplineRequests.status}" 
                                                                                                             valueChangeListener="#{disciplineApproveControllers.handleSelectOptions}" converter="entConverter" 
                                                                                                             required="true" requiredMessage="Select Decision" style="width: 100%">
                                                                                                <f:selectItem itemLabel="---Select---" itemValue=""/>
                                                                                                <f:selectItem itemLabel="Approve" itemValue="1"/>
                                                                                                <f:selectItem itemLabel="Reject" itemValue="2"/>
                                                                                            </p:selectOneMenu>
                                                                                            <p:message for="drddecision" display="icon"/>
                                                                                        </div>
                                                                                    </div>    
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <h:outputLabel  for="txtComment" class="control-label col-sm-4" value="Remark:"/>
                                                                                        <div class="col-sm-8 textBoxMargin6px">
                                                                                            <h:inputTextarea id="txtComment"  class="form-control col-md-12" value="#{disciplineApproveControllers.wfHrProcessed.commentGiven}"
                                                                                                             validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only" requiredMessage="Comment is mandatory"
                                                                                                             required="true" onchange="this.value = this.value.trim()" />
                                                                                        </div>  
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal form-group">
                                                                                        <p:outputLabel  for="txtprey1" class="control-label col-sm-4" id="lblPrepatedy1" value="Processed By:"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText  id="txtprey1" value="#{workFlow.userName}" title="Procced By"/>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </section>
                                                    </section>
                                                    <h:panelGroup id="pnl" class="col-sm-12" rendered="#{disciplineApproveControllers.renderPnlCreateAdditional}"> 
                                                        <div class="box-body">
                                                            <div class="panel-body col-sm-12">
                                                                <div class="form-group col-sm-12">
                                                                    <div class="col-sm-6">
                                                                        <div class="col-sm-12 form-horizontal">
                                                                            <div class="col-sm-4"></div>                                           
                                                                            <div class="col-sm-3">
                                                                                <p:commandButton id="btnSave"  value="Save" 
                                                                                                 action="#{disciplineApproveControllers.saveDisciplineApprove}"
                                                                                                 disabled="#{disciplineApproveControllers.disabledCrud}"
                                                                                                 class="btn  btn-block btn-primary col-lg-4 " 
                                                                                                 process="@this,pnlDecision12,drddecision,txtprey1" update="@this,:frmDisciplineApprove" />  
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h:panelGroup> 
                                                </div>
                                                <div class="tab-pane" id="downloadFile">
                                                    <section class="panel panel-info"  >
                                                        <section class="panel-body" > 
                                                            <h:panelGroup id="pnlFileUpload" class="col-sm-12" rendered="#{disciplineApproveControllers.renderPnlCreateAdditional}">  
                                                                <div class="row">
                                                                    <div class="col-md-12">                      
                                                                        <div class="box-body"> 
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  value="Download File:" class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">            
                                                                                            <p:panelGrid columns="1" style="float: left;"> 
                                                                                                <p:dataTable id="tblSavedDoc"  var="currentRow" rowIndexVar="num" value="#{disciplineApproveControllers.fileUploadDataModel}"
                                                                                                             paginator="true" selectionMode="single" rowKey="#{currentRow.id}"
                                                                                                             selection="#{disciplineApproveControllers.hrDisciplineFileUpload}" paginatorPosition="bottom"
                                                                                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                                                             rows="3" style="border: none; font-family: 'Lucida Sans'; font-size: 11px; font-style: normal; font-weight: lighter; width:1000px">
                                                                                                    <p:ajax event="rowSelect" listener="#{disciplineApproveControllers.onRowSelected}" process="@this,tblSavedDoc" update="tblSavedDoc"/>
                                                                                                    <p:column headerText="No." width="50">
                                                                                                        <h:outputText value="#{num+1}"/>
                                                                                                    </p:column>
                                                                                                    <p:column id="docNames" headerText="File Name"> 
                                                                                                        <h:outputText id="txtcoScale" value="#{currentRow.documentId.fileName}" style="text-align: left;"/>
                                                                                                    </p:column>
                                                                                                    <p:column headerText="Download">
                                                                                                        <p:commandButton process="@this,tblSavedDoc" update="tblSavedDoc" icon="ui-icon-arrowthickstop-1-s" ajax="false" immediate="true">
                                                                                                            <p:fileDownload value="#{disciplineApproveControllers.file}"/>
                                                                                                        </p:commandButton>
                                                                                                    </p:column> 
                                                                                                </p:dataTable>
                                                                                            </p:panelGrid>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>   
                                                        </section>
                                                    </section>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </h:form>
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>
