<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:define name="navigaion_content">
        <li><a href="../hrmsDashboard.xhtml" title="Dashboard"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="displineOffenseType.xhtml"><i class="fa fa-circle-o "></i> <span>Offense Registration </span></a></li>
        <li><a href="penalitys.xhtml"><i class="fa fa-circle-o "></i> <span>Penalty Registration </span></a></li> 
        <li><a href="penalityForOffenseType.xhtml"><i class="fa fa-circle-o "></i><span> Penalty for Offense  </span></a></li>
        <li><a href="disciplineApprove.xhtml"><i class="fa fa-circle-o "></i> <span>Discipline Approve </span> </a> </li> 
        <li><a href="adjudicateDisciplineAppeal.xhtml"><i class="fa fa-circle-o "></i> <span>Adjudicate Discipline Appeal</span> </a> </li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample">
            <p:toolbar  style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="pnlNewOrSearch" action="#{disciplineRequestsControllers.createNewAdditionalAmount()}" 
                                     icon="#{disciplineRequestsControllers.icone}" validateClient="true" 
                                     style="background-color: white; border-color: white" 
                                     process="@this" update=":frmDisciplineReq,:frmSample"
                                     title="#{disciplineRequestsControllers.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <h:panelGroup id="pnlPlus"  rendered="#{disciplineRequestsControllers.btnNewRender}"> 
                        <p:commandButton validateClient="true" action="#{disciplineRequestsControllers.newButtonAction()}"
                                         icon="ui-icon-plus" style="background-color: white;border-color: white"  title="New record"
                                         process="@this" update=":frmDisciplineReq,:frmSample" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup> 
                    <h:panelGroup id="pnlDisciplineHistory">
                        <p:commandLink id="cmdLinkDF" class="fa fa-life-saver"
                                       title="View Discipline History" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvDH" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkDF"
                                        class="col-md-4" style="height: 400px;width: 800px">
                            <p:outputLabel id="lblDH" value="View Discipline History"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmDH"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <div class="panel-body col-sm-12">
                                                        <div class="form-group col-sm-12">
                                                            <div class="form-group form-horizontal">
                                                                <h:outputLabel for="accused" value="Employee ID:" class="control-label col-sm-3"/>
                                                                <div class="col-sm-4">
                                                                    <p:autoComplete id="accused" value="#{disciplineRequestsControllers.hrEmployee.empId}" style="width: 100%"
                                                                                    completeMethod="#{disciplineRequestsControllers.searchEmployeeById}"  required="true" requiredMessage="Please search by Emp id."
                                                                                    var="empListReq" itemValue="#{empListReq.empId}" itemLabel="#{empListReq}" 
                                                                                    size="2" emptyMessage="no data" placeholder="Search by Emp Id"> 
                                                                        <p:column headerText="Employee Id">
                                                                            <h:outputText value="#{empListReq.empId}"/>
                                                                        </p:column>
                                                                        <p:column headerText="Employee Name">
                                                                            <h:outputText value="#{empListReq.firstName} #{empListReq.middleName} #{empListReq.lastName}"/>
                                                                        </p:column>
                                                                        <p:ajax event="itemSelect"  process="@this"  listener="#{disciplineRequestsControllers.getById}" 
                                                                                update="@this,tblDisciplineHistory" />   
                                                                    </p:autoComplete>    
                                                                    <p:message for="accused" display="icon"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p:dataTable id="tblDisciplineHistory" value="#{disciplineRequestsControllers.hrDisciplineHistoryModel}"
                                                                 var="currentRow" selectionMode="single" rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                                 rowKey="#{currentRow.id}" paginatorPosition="bottom">
                                                        <p:column headerText="Offender Name">
                                                            <h:outputText value="#{currentRow.requestId.offenderId.firstName}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Offence Name"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.requestId.offenceTypeId.offenceName}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Desision On Penalty"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.decisionOnPenality}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Repitition Of offence"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.repititionOfOffence}"/> 
                                                        </p:column> 
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Description Of Offence"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.descriptionOfOffence}"/> 
                                                        </p:column> 
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Decision Date"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.decisionDate}"/> 
                                                        </p:column> 
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup> 
                    <h:panelGroup id="pnlworkflowIcon">
                        <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-gear" 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWorkflow" value="#{disciplineRequestsControllers.hrWorkFlowDataModel}"
                                                                 var="currentRow" selectionMode="single" rowIndexVar="num" class="dataTable" rows="10" paginator="true"
                                                                 rowKey="#{currentRow.workflowId}" paginatorPosition="bottom">
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{currentRow.processedBy}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Decision"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.changedStstus}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Comment Given"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.commentGiven}"/> 
                                                        </p:column>
                                                        <p:column >
                                                            <f:facet name="header">
                                                                <h:outputText value="Processed Date"/>
                                                            </f:facet>
                                                            <h:outputText value="#{currentRow.processedOn}"/> 
                                                        </p:column> 
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>                 
                    <a href="disciplineRequest.xhtml"><i class="fa fa-fw fa-refresh"></i> </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                </f:facet>
            </p:toolbar>
        </h:form>    
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-body ">
                        <h:form id="frmDisciplineReq">
                            <p:growl id="growl1" life="2000" showDetail="true" autoUpdate="true" severity="information,fatal"/>
                            <h:panelGroup id="pnlFindAll" rendered="#{disciplineRequestsControllers.renderPnlManPage}"> 
                                <div class="box-header with-border">
                                    <h3 class="box-title">Search...  <small></small></h3>   
                                </div>
                                <div class="box-body">
                                    <div class="box-body">
                                        <div class="box-body">
                                            <div class="col-md-12">                                        
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6"> 
                                                        <div class="form-horizontal col-md-12">
                                                            <div class="form-group form-group required">
                                                                <h:outputLabel class="control-label col-sm-4" value="Filter Criteria:"/>
                                                                <div class="col-sm-8" > 
                                                                    <p:selectOneMenu id="somFiliterByStatus" style="width:100%"
                                                                                     valueChangeListener="#{disciplineRequestsControllers.valueChangeListnerDisciplineRequest}">
                                                                        <f:selectItems value="#{disciplineRequestsControllers.populateFilterByStatus}"/>   
                                                                        <p:ajax event="change" process="@this" update="@this,dtReqstList"/>
                                                                    </p:selectOneMenu>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">                                       
                                            <div class="col-md-12">
                                                <div class="form-group"> 
                                                    <br></br>
                                                    <div class="box box-primary ">
                                                        <p:dataTable  id="dtReqstList"  value="#{disciplineRequestsControllers.disciplineRequestList}" 
                                                                      rows="10" paginator="true" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15"
                                                                      selection="#{disciplineRequestsControllers.disciplineRequests}"  styleClass="forDataTable"
                                                                      rowIndexVar="num" rowKey="#{disRequestList.id}" selectionMode="single"
                                                                      sortBy="#{reqst.reportedDate}" sortOrder="ascending" var="disRequestList" emptyMessage="No Request">
                                                            <p:ajax event="rowSelect" listener="#{disciplineRequestsControllers.populate}"
                                                                    update="@this,:frmDisciplineReq,:frmSample,:frmDisciplineReq:pnlFileUpload" />
                                                            <f:facet name="header">
                                                                <p:outputLabel value="" style=" font-size: 16px;"/>
                                                            </f:facet>
                                                            <p:column headerText="No." width="50">
                                                                <h:outputText value="#{num+1}"/>
                                                            </p:column>
                                                            <p:column headerText="Requester Name" filterMatchMode="startsWith"  filterBy="#{disRequestList.requesterId.firstName}">
                                                                <h:outputText value="#{disRequestList.requesterId.firstName}" />
                                                            </p:column>
                                                            <p:column headerText="Offender Name" filterMatchMode="startsWith" filterBy="#{disRequestList.offenderId.firstName}">
                                                                <h:outputText value="#{disRequestList.offenderId.firstName}" />
                                                            </p:column>
                                                            <p:column headerText="Offence Name" filterMatchMode="startsWith"  filterBy="#{disRequestList.offenceTypeId.offenceName}">
                                                                <h:outputText value="#{disRequestList.offenceTypeId.offenceName}" />
                                                            </p:column>

                                                            <p:column headerText="Reported Date" >
                                                                <h:outputText value="#{disRequestList.reportedDate}"  />
                                                            </p:column>s
                                                        </p:dataTable>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup id="pnlPlanned" class="col-sm-12" rendered="#{disciplineRequestsControllers.renderPnlCreateAdditional}">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Discipline Request <small></small> </h3>  
                                </div>
                                <div class="box-body">
                                    <div class="box-body">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs" id="myTab">
                                                <li class="active" ><a data-toggle="tab" href="#request">Discipline Request Detail</a></li>
                                                <li ><a data-toggle="tab" href="#attachFile">Supportive Information</a></li>
                                            </ul>
                                            <div class="tab-content" id="maintab">
                                                <div class="tab-pane active" id="request">
                                                    <section class="panel panel-info"  >
                                                        <section class="panel-body" > 
                                                            <h:panelGroup id="pnlAccused" class="col-sm-12" style="border: 0px; background-color: transparent"  rendered="#{disciplineRequestsControllers.renderPnlCreateAdditional}">
                                                                <div class="row">
                                                                    <div class="col-md-12">                      
                                                                        <div class="box-body"> 
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal form-group required">
                                                                                        <p:outputLabel  class="control-label col-sm-4" value="Requester Name:"/>
                                                                                        <div class="col-sm-8 textBoxMargin6px">
                                                                                            <p:autoComplete id="accused" value="#{disciplineRequestsControllers.hrEmployeesRequester.firstName}" style="width: 100%"
                                                                                                            completeMethod="#{disciplineRequestsControllers.SearchByFnameAccused}"  required="true" requiredMessage="Please search by name."
                                                                                                            var="empListReq" itemValue="#{empListReq.firstName}" itemLabel="#{empListReq}" 
                                                                                                            size="2" emptyMessage="no data" placeholder="Search by Name"> 
                                                                                                <p:ajax event="itemSelect"  process="@this"  listener="#{disciplineRequestsControllers.getByFirstNameAccused}" 
                                                                                                        update="@this,txtAccusedName,txtAccusedJobTitle,txtAccusedDept" />   
                                                                                            </p:autoComplete>    
                                                                                            <p:message for="accused" display="icon"/>
                                                                                        </div> 
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtAccusedDept" class="control-label col-sm-4" value="Department: "/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtAccusedDept" value="#{disciplineRequestsControllers.departmentsOfAccused.depName}" readonly="true"   />
                                                                                        </div>   
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtAccusedName" value="Emp ID: " class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtAccusedName" value="#{disciplineRequestsControllers.hrEmployeesRequester.empId}" readonly="true"  />
                                                                                        </div>
                                                                                    </div>    
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtAccusedJobTitle" value="Job Title: " class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtAccusedJobTitle" value="#{disciplineRequestsControllers.hrJobTypesOfAccused.jobTitle}" readonly="true"  />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </section>
                                                    </section>
                                                    <section class="panel panel-info">
                                                        <section class="panel-body" > 
                                                            <h:panelGroup id="pnlAccuser" class="col-sm-12" rendered="#{disciplineRequestsControllers.renderPnlCreateAdditional}"> 
                                                                <div class="row">
                                                                    <div class="col-md-12">                      
                                                                        <div class="box-body"> 
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal form-group required">
                                                                                        <p:outputLabel   value="Offender Name: " class="control-label col-sm-4"/>
                                                                                        <div class="col-lg-8">
                                                                                            <p:autoComplete id="searchAutocomplete" value="#{disciplineRequestsControllers.hrEmployeesAccuser.firstName}" style="width: 100%"
                                                                                                            completeMethod="#{disciplineRequestsControllers.SearchByFname}" required="true" requiredMessage="Please search by name."
                                                                                                            var="empList" itemValue="#{empList.firstName}" itemLabel="#{empList}" 
                                                                                                            size="2" emptyMessage="no data" placeholder="Search by Name"> 
                                                                                                <p:ajax event="itemSelect"  process="@this,pnlAccuser" listener="#{disciplineRequestsControllers.getByFirstName}" 
                                                                                                        update="@this,txtRequesterName,txtRequesterDept,txtRequesterPos" />   
                                                                                            </p:autoComplete>    
                                                                                            <p:message for="searchAutocomplete" display="icon"/>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtRequesterDept" class="control-label col-sm-4" value="Department: "/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtRequesterDept" value="#{disciplineRequestsControllers.departments.depName}" readonly="true" style="width: 100%"  />
                                                                                        </div>   
                                                                                    </div> 
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtRequesterName" value="Emp ID:" class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText  id="txtRequesterName" value="#{disciplineRequestsControllers.hrEmployeesAccuser.empId}" readonly="true" style="width: 100%" />
                                                                                        </div>
                                                                                    </div>    
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtRequesterPos" value="Job Title: " class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtRequesterPos" value="#{disciplineRequestsControllers.hrJobTypes.jobTitle}" readonly="true"  style="width: 100%" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </section>
                                                    </section>
                                                    <section class="panel panel-info"  >
                                                        <section class="panel-body" > 
                                                            <h:panelGroup id="pnlOffenceDetails" class="col-sm-12" rendered="#{disciplineRequestsControllers.renderPnlCreateAdditional}">  
                                                                <div class="row">
                                                                    <div class="col-md-12">                      
                                                                        <div class="box-body"> 
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal form-group required">
                                                                                        <p:outputLabel   value="Offence Date: " class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtOffenceDate" value="#{disciplineRequestsControllers.disciplineRequests.offenceDate}" validator="#{validatorManagedBean.Date}"
                                                                                                         converter="dateConverter"  placeholder="dd/mm/yyyy" onclick="displayCalendar('frmDisciplineReq:txtOffenceDate', 'frmDisciplineReq:txtOffenceDate');"
                                                                                                         required="true" requiredMessage="Please select date"/>
                                                                                            <p:message for="txtOffenceDate" display="icon"/> 
                                                                                        </div> 
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal form-group required">
                                                                                        <p:commandLink id="lnkOffenceName" action="#{disciplineRequestsControllers.navigateToOffenceTypePage}"
                                                                                                       process="@this" value="Offence Name: "  class="control-label col-sm-4" 
                                                                                                       style="text-decoration:underline; color: black; font-weight: bold" />
                                                                                        <div class="col-sm-8">
                                                                                            <p:selectOneMenu id="slctOffence" style="width:100%" value="#{disciplineRequestsControllers.offenceTypes}" 
                                                                                                             valueChangeListener="#{disciplineRequestsControllers.offenceIdChanged}" converter="entConverter" required="true" requiredMessage="Please select offence name">
                                                                                                <f:selectItem value="#{null}" itemLabel="--- Select ---"/> 
                                                                                                <f:selectItems value="#{disciplineRequestsControllers.offenceTypesesList}"/> 
                                                                                                <p:ajax event="change"  update="@this,txtPhaseOutTime,txtReptition" process="@this"/>
                                                                                            </p:selectOneMenu> 
                                                                                            <p:message for="slctOffence" display="icon"/> 
                                                                                        </div>   
                                                                                    </div> 
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <h:outputLabel  for="txtDescription" class="control-label col-sm-4" value="Description:"/>
                                                                                        <div class="col-sm-8 textBoxMargin6px">
                                                                                            <h:inputTextarea id="txtDescription" class="form-control col-md-12" value="#{disciplineRequestsControllers.disciplineRequests.descriptionOfOffence}"
                                                                                                             validator="#{validatorManagedBean.Remark}" />
                                                                                            <p:message for="txtDescription" display="icon"/> 
                                                                                        </div>  
                                                                                    </div> 
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal form-group required">
                                                                                        <p:outputLabel    value="Reported Date:" class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtReportedDate" value="#{disciplineRequestsControllers.disciplineRequests.reportedDate}" 
                                                                                                         converter="dateConverter"   placeholder="dd/mm/yyyy" onclick="displayCalendar('frmDisciplineReq:txtReportedDate', 'frmDisciplineReq:txtReportedDate');"
                                                                                                         validator="#{validatorManagedBean.Date}" required="true" requiredMessage="Please select date"/>
                                                                                            <p:message for="txtReportedDate" display="icon"/> 
                                                                                        </div> 
                                                                                    </div>    
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtPhaseOutTime" value="Phase Out Time(Month): " class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8"> 
                                                                                            <p:inputText id="txtPhaseOutTime" value="#{disciplineRequestsControllers.phaseOutTime}" readonly="true"  style="width: 100%" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtReptition" value="Repitition: " class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtReptition" value="#{disciplineRequestsControllers.repititation}" readonly="true"  style="width: 100%" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <h:outputLabel  for="txtRemark" class="control-label col-sm-4" value="Remark:"/>
                                                                                        <div class="col-sm-8 textBoxMargin6px">
                                                                                            <h:inputTextarea id="txtRemark"  class="form-control col-md-12" value="#{disciplineRequestsControllers.disciplineRequests.requestRemark}"
                                                                                                             validator="#{validatorManagedBean.Remark}"/>
                                                                                            <p:message for="txtRemark" display="icon"/> 
                                                                                        </div>  
                                                                                    </div> 
                                                                                </div>
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <h:outputLabel class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8 textBoxMargin6px">
                                                                                            <br></br>
                                                                                        </div>
                                                                                    </div> 
                                                                                </div>

                                                                            </div> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </section>
                                                    </section>
                                                    <section class="panel panel-info">
                                                        <section class="panel-body">  
                                                            <h:panelGroup id="pnlworkflow" class="col-sm-12" rendered="#{disciplineRequestsControllers.renderPnlCreateAdditional}">
                                                                <div class="row">
                                                                    <div class="col-md-12">                      
                                                                        <div class="box-body"> 
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  for="txtPreparedBy" value="Prepared By: " class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtPreparedBy" value="#{workFlow.userName}" style="width: 100%" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel value="Prepared On:" class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">
                                                                                            <p:inputText id="txtPreparedOn" value="#{disciplineRequestsControllers.preparedDate}" 
                                                                                                         converter="dateConverter"   placeholder="dd/mm/yyyy" onclick="displayCalendar('frmDisciplineReq:txtPreparedOn', 'frmDisciplineReq:txtPreparedOn');"
                                                                                                         validator="#{validatorManagedBean.Date}"/>
                                                                                        </div> 
                                                                                    </div>    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>
                                                        </section>
                                                    </section>
                                                    <h:panelGroup id="pnlSaveEmp" class="col-sm-12" rendered="#{disciplineRequestsControllers.renderPnlCreateAdditional}">  
                                                        <div class="box-body">
                                                            <div class="panel-body col-sm-12">
                                                                <div class="form-group col-sm-12">
                                                                    <div class="col-sm-6">
                                                                        <div class="col-sm-12 form-horizontal">
                                                                            <div class="col-sm-4"></div>                                           
                                                                            <div class="col-sm-3">
                                                                                <p:commandButton  id="btnSave" value="#{disciplineRequestsControllers.saveOrUpdateButton}" 
                                                                                                  action="#{disciplineRequestsControllers.saveDisciplineRequests()}"
                                                                                                  disabled="#{disciplineRequestsControllers.disableCrud}"
                                                                                                  class="btn  btn-block btn-primary col-lg-4 " 
                                                                                                  process="@this,pnlAccused,pnlAccuser,pnlOffenceDetails,pnlworkflow,pnlFileUpload" update="@this,:frmDisciplineReq"/>  
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <p:commandButton id="btnReset" value="Reset"                                              
                                                                                                 action="#{disciplineRequestsControllers.resetDisciplineRequests()}"
                                                                                                 class="btn  btn-block btn-primary col-lg-4"
                                                                                                 process="@this" 
                                                                                                 update=":frmDisciplineReq" />     
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h:panelGroup>
                                                </div>
                                                <div class="tab-pane" id="attachFile">
                                                    <section class="panel panel-info"  >
                                                        <section class="panel-body" > 
                                                            <h:panelGroup id="pnlFileUpload" class="col-sm-12" rendered="#{disciplineRequestsControllers.renderPnlCreateAdditional}">  
                                                                <div class="row">
                                                                    <div class="col-md-12">                      
                                                                        <div class="box-body"> 
                                                                            <div class="col-md-6">
                                                                                <div class="col-md-12 textBoxMargin6px">
                                                                                    <div class="form-group form-horizontal">
                                                                                        <p:outputLabel  value="Upload File:" class="control-label col-sm-4"/>
                                                                                        <div class="col-sm-8">            
                                                                                            <p:panelGrid columns="1" style="float: left;"> 
                                                                                                <p:fileUpload  id="fileUplod" cancelLabel="#{contenu.annuler}"
                                                                                                               fileUploadListener="#{disciplineRequestsControllers.uploadListener}"
                                                                                                               value="#{disciplineRequestsControllers.file}" allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpg|mkv|JPG)$/"
                                                                                                               invalidFileMessage="This type of file is not valid" invalidSizeMessage="The size is not Allowed"
                                                                                                               multiple="false" mode="advanced" sizeLimit="52428800" auto="true" process="tblSavedDoc" update="tblSavedDoc"/>
                                                                                                <p:dataTable id="tblSavedDoc"  var="currentRow" value="#{disciplineRequestsControllers.fileUploadDataModel}"
                                                                                                             paginator="true" selectionMode="single" rowKey="#{currentRow.id}" paginatorPosition="bottom"
                                                                                                             selection="#{disciplineRequestsControllers.hrDisciplineFileUpload}" rowIndexVar="num"
                                                                                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                                                             rows="3" style="border: none; font-family: 'Lucida Sans'; font-size: 11px; font-style: normal; font-weight: lighter; width:1000px">
                                                                                                    <p:ajax event="rowSelect" listener="#{disciplineRequestsControllers.onRowSelect}" update="tblSavedDoc"/>
                                                                                                    <f:facet name="header">
                                                                                                        <p:outputLabel value="Uploaded File List From DBMS"/>
                                                                                                    </f:facet>
                                                                                                    <p:column headerText="No." width="50">
                                                                                                        <h:outputText value="#{num+1}"/>
                                                                                                    </p:column>
                                                                                                    <p:column id="docNames" headerText="File Name"> 
                                                                                                        <h:outputText id="txtcoScale" value="#{currentRow.documentId.fileName}" style="text-align: left"/>
                                                                                                    </p:column>
                                                                                                    <p:column headerText="Delete"> 
                                                                                                        <h:panelGrid style="border: none " columns="2" 
                                                                                                                     id="pnlGridtblDoccolOptions" >
                                                                                                            <p:outputPanel id="buttonDetail">
                                                                                                                <p:commandButton  process="tblSavedDoc" title="#{dmsBundle.delete}" id="docRemove" 
                                                                                                                                  update="tblSavedDoc" immediate="true" ajax="true" 
                                                                                                                                  icon="ui-icon-trash" style="border: none; color: #0B70F9">
                                                                                                                    <p:confirm header="Confirmation" message="Are you sure?"  icon="ui-icon-alert" />
                                                                                                                </p:commandButton>
                                                                                                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                                                                                    <p:commandButton value="Yes" action="#{disciplineRequestsControllers.remove()}" immediate="true" process="@this" update="tblSavedDoc" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                                                                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                                                                                </p:confirmDialog>
                                                                                                            </p:outputPanel>
                                                                                                        </h:panelGrid>
                                                                                                    </p:column> 
                                                                                                </p:dataTable>
                                                                                            </p:panelGrid>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </h:panelGroup>   
                                                        </section>
                                                    </section>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </h:form>
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>
