<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">        
        <li><a href="OrganizationStruacture.xhtml">Organization Structure</a></li>
        <li><a href="payGrade.xhtml">Pay Grade</a></li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmTop"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnNewOnly" validateClient="true" action="#{jobRegistrationController.resetForm()}"
                                     icon="ui-icon-plus"  style="background-color: white;border-color: white" rendered="#{jobRegistrationController.renderNewbtn}"
                                     process="@this" update="@this,:frmJobRegistration,frmTop" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <p:commandButton id="btnNew" validateClient="true" action="#{jobRegistrationController.createNewGatePassInfo()}"
                                     icon="#{jobRegistrationController.icone}"  style="background-color: white;border-color: white" 
                                     process="@this" update="@this,:frmJobRegistration,frmTop" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="jobRegistration.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                        
                    <a href="../hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form>   

        <h:form id="frmJobRegistration">
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{jobRegistrationController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-header with-border">
                                <h1 class="box-title">Search Registered Job</h1>
                            </div>
                            <div class="box-body ">
                                <div class="box-body ">
                                    <div class="col-md-12" >                                        
                                        <div class="col-sm-12">
                                            <div class="col-sm-6" >                                           
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-md-12" >
                                                            <div class="form-group form-horizontal"> 
                                                                <h:outputLabel value="Job Code:" class="col-md-4 control-label" />
                                                                <div class="col-md-8 textBoxMargin6px">
                                                                    <p:autoComplete id="autoJobCode"  style="width: 100%;" value="#{jobRegistrationController.hrJobTypes}"
                                                                                    completeMethod="#{jobRegistrationController.searchByJobCode}" var="jobCodeList"
                                                                                    placeholder="Search by Job Code" converter="entConverter"
                                                                                    itemValue="#{jobCodeList}" itemLabel="#{jobCodeList.jobCode}" 
                                                                                    forceSelection="true" size="20" emptyMessage="no data" scrollHeight="500">  
                                                                        <p:ajax event="itemSelect" process="@this" 
                                                                                listener="#{jobRegistrationController.getByJobCode}" 
                                                                                update="frmJobRegistration,:frmTop"/>
                                                                    </p:autoComplete> 
                                                                </div>                                                                    
                                                            </div>

                                                            <div class="form-group form-horizontal"> 
                                                                <h:outputLabel value="Job Title:" class="col-md-4 control-label" />
                                                                <div class="col-md-8 textBoxMargin6px">
                                                                    <p:autoComplete id="autoJobTitle"  style="width: 100%" value="#{jobRegistrationController.hrJobTypes.jobTitle}"
                                                                                    completeMethod="#{jobRegistrationController.searchByJobTitle}" var="jobTitleList" placeholder="Search by Job Title"
                                                                                    itemValue="#{jobTitleList.jobTitle}" itemLabel="#{jobTitleList}" 
                                                                                    forceSelection="true" size="20" emptyMessage="no data" scrollHeight="500">  
                                                                        <p:ajax event="itemSelect" process="@this" 
                                                                                listener="#{jobRegistrationController.getByJobTitle}" 
                                                                                update="frmJobRegistration,:frmTop"/> 
                                                                        <p:column headerText="Job Title">
                                                                            <h:outputText value="#{jobTitleList.jobTitle}"/>
                                                                        </p:column>
                                                                    </p:autoComplete> 
                                                                </div>                                                                    
                                                            </div>
                                                        </div> 
                                                    </div>                                                   
                                                </div>                                         
                                            </div>
                                        </div>                              
                                    </div>   

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlMainpage" rendered="#{jobRegistrationController.renderPnlCreateGatePass}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-header">
                                <h3 class="box-title">Job Registration</h3>                                       
                            </div>
                            <div class="box-body ">
                                <div class="box-body ">
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnlg1" class="col-sm-12">
                                                <div class="form-group" >
                                                    <div class="col-sm-12" >
                                                        <div class="col-md-6">
                                                            <div class="col-md-12 textBoxMarginTop6px">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtJobCode"  class="control-label col-sm-4" value="Job Code: "/>
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txtJobCode" class="form-control" required="true" requiredMessage="Please Insert Job Code"
                                                                                     placeholder="AA-01"
                                                                                     value="#{jobRegistrationController.hrJobTypes.jobCode}" validatorMessage="Please Insert Job Code"
                                                                                     validator="#{validatorManagedBean.Remark}"  ></p:inputText>
                                                                        <p:message for="txtJobCode" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMarginTop6px">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtDepartment" value="Department: " class="control-label col-sm-4"/>                                                                                                                
                                                                    <div class="col-sm-6">
                                                                        <p:inputText id="txtDepartment"  value="#{jobRegistrationController.hrDepartments.depName}"/>
                                                                    </div>
                                                                    <div class="col-sm-2">                                                                            
                                                                        <p:commandButton id="btnDepartment" onclick="PF('dlgDpt').show();" partialSubmit="true" style="background: transparent" value="+"/> 
                                                                        <p:message for="txtDepartment" display="icon" />
                                                                    </div>


                                                                </div>                                                                                          
                                                            </div>
                                                            <div class="col-md-12 textBoxMarginTop6px">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtJobTitle" value="Job Title: " class="control-label col-sm-4"/>  
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txtJobTitle" class="form-control" required="true" requiredMessage="Please Insert Job Title"
                                                                                     value="#{jobRegistrationController.hrJobTypes.jobTitle}"></p:inputText> 
                                                                        <p:message for="txtJobTitle" display="icon" />
                                                                    </div> 
                                                                </div>                                                                                          
                                                            </div>    
                                                            <div class="col-md-12 textBoxMarginTop6px">
                                                                <div class="form-group form-horizontal">                                                                
                                                                    <h:outputLabel for="txtNoEmpNeeded" class="control-label col-sm-4" value="No of Emp Needed: "/>                                                                                                                                   
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txtNoEmpNeeded" required="true" 
                                                                                     requiredMessage="Please Insert No of Employees Needed"
                                                                                     value="#{jobRegistrationController.hrJobTypes.noEmpNeeded}"
                                                                                     validator="#{validatorManagedBean.Number}"  
                                                                                     converterMessage="Please Insert only Number Format"
                                                                                     readonly="true"></p:inputText>
                                                                        <p:message for="txtNoEmpNeeded" display="icon"/>
                                                                    </div>                                                                                                     
                                                                </div> 
                                                            </div> 
                                                            <div class="col-md-12 textBoxMarginTop6px"  >
                                                                <div class="form-group  form-horizontal">                                                                
                                                                    <h:outputLabel for="txtJobDes"  class="control-label col-sm-4" value="Job Description: "/>
                                                                    <div class="col-sm-8">
                                                                        <p:inputTextarea id="txtJobDes" class="form-control" requiredMessage="Please Select Job Description"
                                                                                         rows="3" cols="8" autoResize="false" 
                                                                                         value="#{jobRegistrationController.hrJobTypes.jobDescription}" ></p:inputTextarea>
                                                                        <p:message for="txtJobDes" display="icon"/>
                                                                    </div>                                                                                                          
                                                                </div> 
                                                            </div>
                                                            <div class="col-md-12 textBoxMarginTop6px">
                                                                <div class="form-group form-horizontal">                                                                
                                                                    <h:outputLabel for="txtRelevantExperience"  class="control-label col-sm-4" value="Relevant Experience: "/>
                                                                    <div class="col-sm-8">
                                                                        <p:inputTextarea id="txtRelevantExperience" class="form-control"
                                                                                         rows="3" cols="4" autoResize="false"
                                                                                         value="#{jobRegistrationController.hrJobTypes.relevantExperiance}" ></p:inputTextarea>
                                                                        <p:message for="txtRelevantExperience" display="icon"/>
                                                                    </div>                                                                                                          
                                                                </div> 
                                                            </div>
                                                            <div class="col-md-12 textBoxMarginTop6px">
                                                                <div class="form-group form-horizontal">                                                                
                                                                    <h:outputLabel for="txtRemark"  class="control-label col-sm-4" value="Alternative Experiance: "/>
                                                                    <div class="col-sm-8">
                                                                        <p:inputTextarea id="txtRemark" class="form-control" 
                                                                                         value="#{jobRegistrationController.hrJobTypes.remark}" ></p:inputTextarea>
                                                                    </div>                                                                                                          
                                                                </div> 
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">  
                                                            <div class="col-md-12 textBoxMarginTop6px" >
                                                                <div class="form-group form-horizontal"> 
                                                                    <h:outputLabel   class="control-label col-md-12" value=" "/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMarginTop6px" >
                                                                <div class="form-group form-horizontal"> 
                                                                    <h:outputLabel   class="control-label col-md-12" value=" "/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMarginTop6px" >
                                                                <div class="form-group form-horizontal"> 
                                                                    <h:outputLabel   class="control-label col-md-12" value=" "/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMarginTop6px" >
                                                                <div class="form-group form-group required form-horizontal">                                                                
                                                                    <h:outputLabel for="somJobGrade"  class="control-label col-sm-4" value="Job Grade: "/>
                                                                    <div class="col-sm-8">
                                                                        <p:selectOneMenu  id="somJobGrade" required="true"  value="#{jobRegistrationController.hrSalaryScaleRanges}"
                                                                                          style="width:100%" converter="entConverter" requiredMessage="Please Select Job Grade"
                                                                                          validatorMessage="Please Select Job Grade">
                                                                            <f:selectItem itemLabel="-- select  --" itemValue="" noSelectionOption="true" />
                                                                            <f:selectItems value="#{jobRegistrationController.hrSalaryScaleRangesList}" var="pgrade"
                                                                                           itemLabel="#{pgrade.gradeId.grade}" itemValue="#{pgrade}" />
                                                                            <p:ajax event="change"  process="@this,somJobGrade" update="somJobGrade" />
                                                                        </p:selectOneMenu>
                                                                        <p:message for="somJobGrade" display="icon" />
                                                                    </div>                                                                                                         
                                                                </div> 
                                                            </div>

                                                            <div class="col-md-12 textBoxMarginTop6px" >
                                                                <div class="form-group form-group required form-horizontal">                                                                
                                                                    <h:outputLabel for="somCatagory"  class="control-label col-sm-4" value="Job Category: "/>
                                                                    <div class="col-sm-8">
                                                                        <p:selectOneMenu  id="somCatagory" value="#{jobRegistrationController.hrLuJobLevels.id}" required="true"
                                                                                          style="width:100%" valueChangeListener="#{jobRegistrationController.vlcJobLevel}" 
                                                                                          validatorMessage="Please Select Job catagory" 
                                                                                          requiredMessage="Please Select Job catagory">
                                                                            <f:selectItem itemLabel="-- select --" itemValue="" />
                                                                            <f:selectItems value="#{jobRegistrationController.jobLevelsList}" var="jobLev" itemLabel="#{jobLev.jobLevel}"
                                                                                           itemValue="#{jobLev.id}" />
                                                                            <p:ajax event="change" process="@this"  />
                                                                        </p:selectOneMenu>
                                                                        <p:message for="somCatagory" display="icon" />
                                                                    </div>                                                                                                         
                                                                </div> 
                                                            </div>

                                                            <div class="col-md-12 textBoxMarginTop6px" >
                                                                <div class="form-group form-horizontal">                                                                
                                                                    <h:outputLabel for="somType"  class="control-label col-sm-4" value="Type: "/>
                                                                    <div class="col-sm-8">
                                                                        <p:selectOneRadio id="somType" value="#{jobRegistrationController.hrJobTypes.type}">
                                                                            <f:selectItem itemLabel="Non Managerial &nbsp;&nbsp;" itemValue="0"/>
                                                                            <f:selectItem itemLabel="Managerial" itemValue="1" />
                                                                            <p:ajax event="change" process="@this"/>
                                                                        </p:selectOneRadio>
                                                                        <p:message for="somType" display="icon"/>  
                                                                    </div>                                                                                                         
                                                                </div> 
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </section> 
                                    </section>
                                    <section class="panel panel-info" >
                                        <section class="panel-body">
                                            <h:panelGroup id="pnlQual" class="col-sm-12">
                                                <div class="form-group" >                                                    
                                                    <div class="col-sm-12" >
                                                        <div class="col-md-6 ">  
                                                            <div class="col-md-12 textBoxMarginTop6px">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="somEdulevel" value="Education Level: " class="control-label col-sm-4"/>                                                                                                                
                                                                    <div class="col-sm-8">
                                                                        <p:selectOneMenu  id="somEdulevel"  value="#{jobRegistrationController.hrLuEducLevels.id}" required="true"
                                                                                          style="width:100%" valueChangeListener="#{jobRegistrationController.vlcEducLavel}" 
                                                                                          validatorMessage="Please Select Education level" 
                                                                                          requiredMessage="Please Select Education level">
                                                                            <f:selectItem itemLabel="-- select --" itemValue="" />
                                                                            <f:selectItems value="#{jobRegistrationController.educLevelList}" var="qual" itemLabel="#{qual.educLevel}"
                                                                                           itemValue="#{qual.id}" />
                                                                            <p:ajax   event="change"  process="@this"  />
                                                                        </p:selectOneMenu>
                                                                        <p:message for="somEdulevel" display="icon" />
                                                                    </div>
                                                                </div>                                                                                          
                                                            </div>  
                                                            <div class="col-md-12 textBoxMarginTop6px">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="txtNoMinExp" class="control-label col-sm-4" value="Experience: "/>
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txtNoMinExp" required="true" value="#{jobRegistrationController.hrJobEducQualifications.minExperiance}" class="form-control" 
                                                                                     validatorMessage="Please Insert Correctly Minimum Expriance" validator="#{validatorManagedBean.Number}"
                                                                                     requiredMessage="Please Insert Minimum Experience" converterMessage="Please Insert Correctly Minimum Expriance"
                                                                                     placeholder="Minimum Total Required Experience"/>
                                                                        <p:message for="txtNoMinExp" display="icon"/>
                                                                    </div>
                                                                </div>                                            
                                                            </div>
                                                            <div class="col-sm-12 textBoxMargin6px" >
                                                                <div class="form-group form-horizontal ">  
                                                                    <h:outputLabel class="control-label col-sm-4" value=""/>
                                                                    <div class="col-sm-3 ">
                                                                        <p:commandButton id="btnEduQualAdd" class="btn  btn-block btn-primary col-lg-4 " value="#{jobRegistrationController.addOrModify}"
                                                                                         action="#{jobRegistrationController.addQual()}" 
                                                                                         process="pnlQual" update="pnlQual,:frmJobRegistration:tblEducQual"/>
                                                                    </div>  
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 "> 
                                                            <div class="col-md-12 textBoxMarginTop6px ">
                                                                <div class="form-group form-group required form-horizontal">
                                                                    <h:outputLabel for="somEducType" value="Qualification: " class="control-label col-sm-4"/>                                                                                                                
                                                                    <div class="col-sm-8">
                                                                        <p:selectOneMenu  id="somEducType"  value="#{jobRegistrationController.hrLuEducTypes.id}" required="true"
                                                                                          style="width:100%" valueChangeListener="#{jobRegistrationController.vlcEducType}" 
                                                                                          validatorMessage="Please Select qualification"
                                                                                          requiredMessage="Please Select qualification">
                                                                            <f:selectItem itemLabel="-- select --" itemValue="" />
                                                                            <f:selectItems value="#{jobRegistrationController.educTypeList}" var="typ" itemLabel="#{typ.educType}"
                                                                                           itemValue="#{typ.id}" />
                                                                            <p:ajax   event="change"  process="@this"  />
                                                                            <p:message for="somEducType" display="icon"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="somEducType" display="icon" />
                                                                    </div>
                                                                </div>                                                                                          
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                    <section class="panel panel-info" >
                                        <section class="panel-body">
                                            <h:panelGroup id="pnlg5" class="col-sm-12">
                                                <div class="form-group" >
                                                    <div class="col-sm-12" >
                                                        <p:dataTable id="tblEducQual" var="qual" value="#{jobRegistrationController.jobEducQualModel}"                                       
                                                                     selectionMode="single" rowIndexVar="num" rows="20" rowKey="#{qual.minExperiance}" > 
                                                            <p:ajax event="rowSelect" process="@this,:frmJobRegistration:tblEducQual" 
                                                                    listener="#{jobRegistrationController.selectJobQual}"
                                                                    update=":frmJobRegistration:pnlQual" />
                                                            <p:column style="width:70px">
                                                                <f:facet name="header">
                                                                    <h:outputText value="No" />
                                                                </f:facet>
                                                                <h:outputText value="#{num+1}"/> 
                                                            </p:column>
                                                            <p:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Education Level"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qual.educLevelId.educLevel}"/>
                                                            </p:column>                                           
                                                            <p:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Qualification"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qual.educQualId.educType}"/>
                                                            </p:column>
                                                            <p:column>
                                                                <f:facet name="header">
                                                                    <h:outputText value="Minimum Experience"/>
                                                                </f:facet>
                                                                <h:outputText value="#{qual.minExperiance}" />
                                                            </p:column> 
                                                        </p:dataTable>                                                        
                                                    </div></div>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnl3" class="col-sm-12">
                                                <div class="form-group" >                                                    
                                                    <div class="col-sm-12" >
                                                        <div class="col-md-6 "> 
                                                            <div class="col-sm-12 textBoxMargin6px" >
                                                                <div class="form-group form-horizontal ">  
                                                                    <h:outputLabel class="control-label col-sm-4" value=""/>
                                                                    <div class="col-sm-3 ">
                                                                        <p:commandButton id="btnSave" class="btn  btn-block btn-primary col-lg-4 " value="#{jobRegistrationController.saveOrUpdateButton}"
                                                                                         action="#{jobRegistrationController.saveJobRegistration()}" 
                                                                                         process="@this,:frmJobRegistration:pnlg1,:frmJobRegistration:tblEducQual" update=":frmJobRegistration:pnlg1,:frmJobRegistration:tblEducQual,:frmJobRegistration:growl"/>
                                                                    </div>  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p:dialog id="dlgDpt" header="Departments" widgetVar="dlgDpt" height="300" width="500" showEffect="explode">
                                                    <h:panelGrid columns="3" style="border-color: #ffffff ">
                                                        <p:tree value="#{jobRegistrationController.root2}" var="nodes" style="border: transparent; width: 100%"
                                                                selectionMode="single" selection="#{jobRegistrationController.selectedNode}" >
                                                            <p:ajax event="select" listener="#{jobRegistrationController.onNodeSelect}" process="@this,:frmJobRegistration:txtDepartment" 
                                                                    update=":frmJobRegistration:txtDepartment"/>
                                                            <p:treeNode>
                                                                <h:outputText value="#{nodes}" />
                                                            </p:treeNode>
                                                        </p:tree>                                       
                                                    </h:panelGrid>
                                                </p:dialog> 

                                            </h:panelGroup>
                                        </section>
                                    </section>


                                </div>
                            </div>
                        </div>   
                    </div>                   
                </div> 
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>

