<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content"> 
        <li><a href="../hrmsDashboard.xhtml"><i class="fa  fa-fw fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="OrganizationStruacture.xhtml">Organization Structure</a></li>
        <li><a href="jobRegistration.xhtml">Job Registration</a></li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmToolBar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="payGrade.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i><span></span></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../hrmsDashboard.xhtml"><i class="fa  fa-fw fa-dashboard" title="Dashboard"></i><span></span></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../../HomePage.xhtml"><i class="fa fa-home" title="Home Page"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="formPayGrade">
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information, fatal"/>
            <h:panelGroup id="pnlGrades">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Pay Grade</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnlGrade" class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6">
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal"> 
                                                                    <h:outputLabel for="drdGrade" value="Grade: " class="control-label col-sm-4" title="Grade"/>  
                                                                    <div class="col-sm-7"> 
                                                                        <p:selectOneMenu id="drdGrade" value="#{payGradeController.hrSalaryScaleRanges.gradeId}" style="width:100%" 
                                                                                         converter="entConverter" valueChangeListener="#{payGradeController.handleGrade}" 
                                                                                         required="true" requiredMessage="Select grade">
                                                                            <f:selectItem itemLabel="--- Select ---" itemValue="#{null}"/>
                                                                            <f:selectItems value="#{payGradeController.listOfGrades}" var="grade" itemLabel="#{grade}" 
                                                                                           itemValue="#{grade}"/>
                                                                            <p:ajax event="change" process="@this" update="pnlGrades,tblSalScale,formPayGrade"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="drdGrade" display="icon"/>
                                                                    </div>
                                                                    <div class ="col-sm-1">
                                                                        <p:commandButton id="btnGrade" value="+" onclick="PF('gradeDlg').show();"
                                                                                         title="Click to register grade"  type="button" style="background: transparent;"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal"> 
                                                                    <h:outputLabel for="txtMinimumSalary" value="Minimum Salary: " class="control-label col-sm-4"/> 
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txtMinimumSalary" value="#{payGradeController.hrSalaryScaleRanges.minSalary}" title="Minimum Salary" 
                                                                                     valueChangeListener="#{payGradeController.vlc_minSalary}" requiredMessage="Enter minimum salary"
                                                                                     required="true" class="form-control" converterMessage="Minimum salary should be a number">
                                                                            <p:ajax event="change" process="@this" update="growl"/>
                                                                        </p:inputText>
                                                                        <p:message for="txtMinimumSalary" display="icon"/>
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group required form-horizontal"> 
                                                                    <h:outputLabel for="txtMaximumSalary" value="Maximum Salary: " class="control-label col-sm-4"/> 
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txtMaximumSalary" value="#{payGradeController.hrSalaryScaleRanges.maxSalary}"
                                                                                     required="true" class="form-control" title="Maximum Salary" requiredMessage="Enter maximum salary"
                                                                                     converterMessage="Maximum salary should be a number"/>
                                                                        <p:message for="txtMaximumSalary" display="icon"/>
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">

                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">
                                                                    <h:outputLabel for="txtDescription" class="control-label col-sm-4" value="Description:"/> 
                                                                    <div class="col-sm-8">
                                                                        <p:inputTextarea id="txtDescription" value="#{payGradeController.hrSalaryScaleRanges.description}"
                                                                                         rows="1" cols="3" autoResize="false" title="Description" class="form-control"
                                                                                         validator="#{validatorManagedBean.Remark}" validatorMessage="Description should be string"/>
                                                                        <p:message for="txtDescription" display="icon"/>
                                                                    </div>
                                                                </div>                                            
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                    <h:panelGroup id="dlgpnl">
                                        <p:dialog id="gradeDlg" header="Register grade" widgetVar="gradeDlg" 
                                                  height="240" width="600" modal="true" resizable="true" showEffect="explode">
                                            <div class="box-body">
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group form-horizontal required">
                                                        <h:outputLabel for="txtGrade" class="control-label col-sm-3" value="Grade: "/> 
                                                        <div class="col-sm-7">
                                                            <h:inputText id="txtGrade" value="#{payGradeController.hrLuGrades.grade}"  
                                                                         requiredMessage="Enter grade" required="true" title="Grade" class="form-control"/>
                                                            <p:message for="txtGrade" display="icon"/>
                                                        </div>
                                                    </div>                                               
                                                </div> 
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group form-horizontal">
                                                        <h:outputLabel for="txtdlgDescription" class="control-label col-sm-3" value="Description:"/> 
                                                        <div class="col-sm-7">
                                                            <h:inputTextarea id="txtdlgDescription" value="#{payGradeController.hrLuGrades.description}"
                                                                             validator="#{validatorManagedBean.Remark}"   
                                                                             rows="1" cols="3" title="Description" class="form-control"/>
                                                        </div>
                                                    </div>                                               
                                                </div>
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group form-horizontal">
                                                        <h:outputLabel for="txtUpdate" class="control-label col-sm-3"/> 
                                                        <div class="col-sm-7">
                                                            <p:autoComplete id="txtUpdate" completeMethod="#{payGradeController.searchByGrade}"
                                                                            emptyMessage="no data found" placeholder="Search grade to update"
                                                                            title="Only for updating" style="width:100%"
                                                                            var="grade" itemValue="#{grade.grade}" itemLabel="#{grade}">  
                                                                <p:ajax event="itemSelect" listener="#{payGradeController.getByGrade}" 
                                                                        process="@this" update="dlgpnl" oncomplete="PF('gradeDlg').show();"/>  
                                                                <p:column headerText="Grade">
                                                                    <h:outputText value="#{grade.grade}"/>
                                                                </p:column>
                                                                <p:column headerText="Description">
                                                                    <h:outputText value="#{grade.description}"/>
                                                                </p:column>
                                                            </p:autoComplete>
                                                        </div>
                                                    </div>                                               
                                                </div>
                                                <div class="form-horizontal col-md-10">
                                                    <div class="form-group form-horizontal">
                                                        <div class="col-md-4 "></div>
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnDlgSave" value="#{payGradeController.popupSaveOrUpdate}"                                              
                                                                             action="#{payGradeController.saveGrade()}"
                                                                             process="@this,dlgpnl" update="dlgpnl,drdGrade"
                                                                             oncomplete="PF('gradeDlg').show();" class="btn  btn-block btn-primary col-lg-4"/> 
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnCancel" value="Cancel" class="btn  btn-block btn-primary col-lg-4"                                           
                                                                             action="#{payGradeController.btnCancel()}"
                                                                             title="Cancel" process="@this" update=":formPayGrade:dlgpnl"
                                                                             oncomplete="PF('gradeDlg').show();"/> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </p:dialog> 
                                    </h:panelGroup>
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnlSalary" class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6">
                                                            <div class="col-md-12">
                                                                <div class="form-group required form-horizontal"> 
                                                                    <h:outputLabel for="txtSalaryStep" class="control-label col-sm-4" value="Salary Step: "/>
                                                                    <div class="col-sm-8">                                                       
                                                                        <p:selectOneMenu id="txtSalaryStep" value="#{payGradeController.hrLuSalarySteps.id}" style="width:100%" 
                                                                                         required="true" requiredMessage="Select salary step" converter="entConverter"  
                                                                                         valueChangeListener="#{payGradeController.vlc_salaryStep}">
                                                                            <f:selectItem itemLabel="--- Select ---" />
                                                                            <f:selectItems itemLabel="#{steps}" var="steps" itemValue="#{steps.id}"
                                                                                           value="#{payGradeController.listOfSalarySteps}"/>
                                                                            <p:ajax event="change" process="@this" update="txtSalary"/>
                                                                        </p:selectOneMenu>
                                                                        <p:message for="txtSalaryStep" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br></br>
                                                            <br></br>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal"> 
                                                                    <h:outputLabel for="txtSalary" class="control-label col-sm-4" value="Salary:"/>
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txtSalary" value="#{payGradeController.hrSalaryScales.salary}" 
                                                                                     title="Salary">
                                                                        </p:inputText>
                                                                        <p:message for="txtSalary" display="text"/>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                            <br></br>
                                                            <br></br>
                                                            <div class="col-sm-12 form-horizontal textBoxMargin6px">
                                                                <div class="col-sm-4">                                                              
                                                                </div>                                                                    
                                                                <div class="col-sm-3">
                                                                    <center>
                                                                        <p:commandButton id="btnAdd" value="#{payGradeController.addOrModify}" class="btn  btn-block btn-primary col-lg-4" 
                                                                                         action="#{payGradeController.addPayGrade()}" title="Add Detail"
                                                                                         process="@this,pnlSalary,pnlGrade" update="@this,pnlSalary,txtSalary"/>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <div class="col-sm-12 textBoxMargin6px">
                                                            <div class="col-md-12 textBoxMargin6px">                                                                      
                                                                <div class="form-group form-horizontal">  
                                                                    <p:dataTable id="tblSalScale" value="#{payGradeController.payGradeDataModel}" rowIndexVar="rowIndex" 
                                                                                 class="dataTable" var="salary">
                                                                        <p:column headerText="Salary Step" sortBy="#{salary.salaryStepId.id}">
                                                                            <h:outputText value="#{salary.salaryStepId.id}"/>
                                                                        </p:column> 
                                                                        <p:column headerText="Salary">
                                                                            <h:outputText value="#{salary.salary}"/>
                                                                        </p:column>
                                                                        <p:column headerText="Action">
                                                                             <p:commandLink value="Edit" action="#{payGradeController.editDataTable()}"
                                                                                            process="@this" update="@this,:formPayGrade:pnlSalary">  
                                                                             </p:commandLink>
                                                                         </p:column>                   
                                                                    </p:dataTable> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                    <h:panelGroup id="pnlSave" class="col-sm-12">
                                        <div class="panel-body col-sm-12">
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="col-sm-12 form-horizontal">
                                                        <div class="col-sm-4">                                                              
                                                        </div>                                                                    
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnSave" value="#{payGradeController.saveorUpdate}" 
                                                                             actionListener="#{payGradeController.savePayGrade()}" class="btn  btn-block btn-primary col-lg-4"
                                                                             process="@this,:formPayGrade:pnlGrade,:formPayGrade:tblSalScale"
                                                                             update="@this,:formPayGrade:pnlGrade,:formPayGrade:tblSalScale"/> 
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p:commandButton id="btnReset" value="Reset" class="btn  btn-block btn-primary col-lg-4"
                                                                             actionListener="#{payGradeController.clearPayGrade()}" title="Reset"
                                                                             process="@this" update=":formPayGrade"/> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>   
        </h:form>  
    </ui:define>
</ui:composition>

