<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="BidRegistration.xhtml"><i class="fa fa-circle-o"></i> <span>Bid Registration</span></a></li> 
        <li><a href="BidRegistrationAmend.xhtml"><i class="fa fa-circle-o "></i> <span>Bid Amendment</span></a></li> 
        <li><a href="PreminilaryEvaluation.xhtml"><i class="fa fa-circle-o "></i> <span>Preliminary Evaluation</span></a></li> 
        <li><a href="TechnicalEvaluation.xhtml"><i class="fa fa-circle-o "></i> <span>Technical Evaluation</span></a></li> 
        <li><a href="FinancialEvaluation.xhtml"><i class="fa fa-circle-o "></i> <span>Financial Evaluation</span></a></li> 
        <li><a href="PRMSEvaluationResult.xhtml"><i class="fa fa-circle-o"></i><span>Evaluation Result</span></a></li>
        <li><a href="PostQualification.xhtml"><i class="fa fa-circle-o "></i><span>Bids Post Qualification</span></a></li>


    </ui:define>
    <ui:define name="contents">
        <h:form id="frmbidcriteriaToolBar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlBackToSearch" rendered="#{bidCriteriaController.renderpnlToSearchPage}" >
                        <p:commandButton id="btnBacktoSarch" action="#{bidCriteriaController.goBackToSearchPageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                         process="@this" update="@this,:frmMainUI,:frmbidcriteriaToolBar,:frmBidCriteria" 
                                         style="background-color: white; border-color: white;"
                                         title="Back to Search" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <p:commandButton id="btnNew" action="#{bidCriteriaController.createNewBidCriteria()}" icon="#{bidCriteriaController.icone}" validateClient="true" 
                                     process="@this" update="@this,:frmMainUI,:frmbidcriteriaToolBar,:frmBidCriteria" style="background-color: white; border-color: white;"
                                     title="#{bidCriteriaController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/Bids And Evaluation/BidCriteria.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../prms/prmsDashboardNew.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>

            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{bidCriteriaController.renderPnlManPage}">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchBidCriteria"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="col-sm-6" >
                                                <div class="form-group col-sm-12 textBoxMargin6px"> 
                                                    <h:outputLabel id="lblSearchingBy" class="control-label col-sm-4" value="Searching By:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="drdSearchingBy" style="width: 100%" value="#{bidCriteriaController.prmsBidCriteria.columnName}"
                                                                         valueChangeListener="#{bidCriteriaController.selectedParamChangeEvent}" converter="entConverter">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                            <f:selectItems value="#{bidCriteriaController.bidCriteriaSearchParameterLst}"
                                                                           var="colNameLists" itemLabel="#{colNameLists}"/>
                                                            <p:ajax event="change" process="@this," update="lblCriteriaNo,txtCriteriaNo"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 textBoxMargin6px"> 
                                                    <h:outputLabel id="lblCriteriaNo" class="control-label col-sm-4" value="Search By #{bidCriteriaController.prmsBidCriteria.columnName}:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtCriteriaNo" value="#{bidCriteriaController.prmsBidCriteria.columnValue}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 textBoxMargin6px"> 
                                                    <div class="col-sm-4">
                                                        <div class="col-lg-4"></div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnFind" icon="ui-icon-search" action="#{bidCriteriaController.search_BidCriteria()}"
                                                                         process="@this,frmSearchBidCriteria" update=":frmMainUI:frmBidCriteriaSearch" class="btn btn-primary col-lg-4"
                                                                         value="Find" />    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </h:form>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmBidCriteriaSearch">  
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblBidCriteria"  var="bidCriteria" rows="10" selectionMode="single" 
                                                                 value="#{bidCriteriaController.bidCriteriaMdl}" class="dataTable" 
                                                                 paginator="true" paginatorPosition="bottom" rowIndexVar="num"
                                                                 rowKey="#{bidCriteria.id}" selection="#{bidCriteriaController.prmsBidCriteriaSelect}">
                                                        <p:ajax event="rowSelect" listener="#{bidCriteriaController.rowSelect}" 
                                                                process="@this" update=":frmBidCriteria, :frmMainUI, :frmbidcriteriaToolBar"/>      
                                                        <p:column headerText="No">
                                                            #{num+1}
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Criteria No" />
                                                            </f:facet>
                                                            <h:outputText value="#{bidCriteria.criteriaNo}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Criteria" />
                                                            </f:facet>
                                                            <h:outputText value="#{bidCriteria.criteria}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Registration Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{bidCriteria.dateReg}">
                                                                <f:convertDateTime  pattern="dd/MM/yyyy" />
                                                            </h:outputText>
                                                        </p:column>

                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form> 
        <h:form id="frmBidCriteria">
            <p:growl id="growl" showDetail="true" severity="information,fatal" autoUpdate="true" />
            <h:panelGroup style="border: 0px; background-color: transparent" id="bidCriteriaPanel" rendered="#{bidCriteriaController.renderPnlCreateParty}"  >

                <div class="row"> 
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bid Criteria</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-horizontal col-sm-12">
                                <div class="col-sm-6">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="bidCriteriaPael"  >
                                        <div class="form-group col-sm-12 textBoxMargin6px"> 
                                            <p:outputLabel id="lblCriteriaNo" class="control-label col-sm-4"  value="Criteria No:" />
                                            <div class="col-sm-8">
                                                <p:inputText id="txtCriteriaNo" readonly="true"  value="#{bidCriteriaController.generateBidCiteriaNo()}"/>

                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="bidCriteriaPaels"  >
                                        <div class="form-group col-sm-12 textBoxMargin6px required"> 
                                            <p:outputLabel id="lblCriteria" class="control-label col-sm-4" value="Criteria:" />
                                            <div class="col-sm-8">
                                                <p:inputTextarea id="txtCriteria" autoResize="false" class="form-control" rendered="true" validator="#{validatorManagedBean.Text}" 
                                                                 value="#{bidCriteriaController.prmsBidCriteria.criteria}" required="true" requiredMessage="Value is Required" >
                                                </p:inputTextarea>
                                                <p:message display="icon" for="txtCriteria"/>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px required"> 
                                            <p:outputLabel id="lblDateRegist" class="control-label col-sm-4" value="Registration Date:"/>

                                            <div class="col-sm-8">
                                                <p:inputText id="txtDateRegist" required="true" requiredMessage="Value is required"
                                                             value="#{bidCriteriaController.prmsBidCriteria.dateReg}" onclick="displayCalendar('frmBidCriteria:txtDateRegist', 'frmBidCriteria:txtDateRegist');">
                                                </p:inputText>
                                                <p:message display="icon" for="txtDateRegist"/>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 textBoxMargin6px"> 
                                            <h:outputLabel id="lblRemark" class="control-label col-sm-4" for="txtRemark" value="Remark:"/>
                                            <div class="col-sm-8">
                                                <p:inputTextarea id="txtRemark"  class="form-control" counter="counter" maxlength="300"
                                                                 counterTemplate="{0} Characters Remaining " autoResize="false"
                                                                 value="#{bidCriteriaController.prmsBidCriteria.reamark}" >
                                                </p:inputTextarea>

                                            </div>

                                        </div>
                                        <div class="form-group col-sm-12 textBoxMargin6px"> 
                                            <p:outputLabel class="control-label col-sm-4" id="lblpreparedBy" value="Prepared By:"/>
                                            <div class="col-sm-8">
                                                <p:inputText id="txtpreparedBy"  requiredMessage="Fill unit Price" class="form-control" readonly="true"
                                                             value="#{bidCriteriaController.loggerName}">
                                                </p:inputText>
                                            </div>
                                        </div>

                                        <div class="col-lg-4" />
                                        <p:outputLabel id="counter"/>
                                    </h:panelGroup>
                                    <div class="form-group col-sm-12 textBoxMargin6px"> 
                                        <div class="col-lg-4"></div>
                                        <div class="col-sm-8">
                                            <p:commandButton id="btnSave" icon="ui-icon-new"  action="#{bidCriteriaController.save_BidCriteria()}"
                                                             class="btn btn-primary col-lg-4" process="@this,frmBidCriteria" 
                                                             update="frmBidCriteria"
                                                             value="#{bidCriteriaController.saveorUpdateBundle}"/> 

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
