<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>
            </div>
        </h:form>
    </ui:define>
    <ui:define name="navigaion_content">
        <li><a href="mmsLostFixedAsset.xhtml"><i class="fa fa-circle-o"></i> <span>Lost Fixed Asset</span></a></li> 
        <li><a href="stockItemLost.xhtml"><i class="fa fa-circle-o"></i> <span>Lost Stock Item </span></a></li> 
        <li><a href="FixedAssetTransfer.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Transfer</span></a></li> 
        <li><a href="FixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Return </span></a></li> 
        <li><a href="NonFixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> <span>Non Fixed Asset Return </span></a></li> 
        <li><a href="StockDisposal.xhtml"><i class="fa fa-circle-o"></i> <span> Stock Disposal </span></a></li> 
        <li><a href="FixedAssetItemDisposal.xhtml"><i class="fa fa-circle-o"></i> <span>Disposal Collection</span></a></li> 
        <li><a href="InventoryBalanceSheet.xhtml"><i class="fa fa-circle-o"></i> <span>Inventory Balance Sheet</span></a></li> 
        <li><a href="InventoryCountSheet.xhtml"><i class="fa fa-circle-o"></i> <span>Inventory Count Sheet</span></a></li> 
        <li><a href="NeedAssessment.xhtml"><i class="fa fa-circle-o"></i> <span>Need Assessment</span></a></li> 
        <li><a href="NeedAssessmentCollected.xhtml"><i class="fa fa-circle-o"></i> <span>Need Assessment Collected</span></a></li> 
    </ui:define>
    <ui:define name="contents">   
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pblgBackToSearch" rendered="#{disposalController.renderpnlToSearchpage}">
                        <p:commandButton id="btnBackSearch" action="#{disposalController.goBackToSeaerchPageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                         style="background-color: white;border-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                         title="Back to Search" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span> 
                    </h:panelGroup>
                    <p:commandButton id="btnNew" action="#{disposalController.createNewDisposalInfo()}" icon="#{itemDisposalController.icone}"  validateClient="true" 
                                     style="background-color: white;border-color: white" rendered="#{disposalController.isRenderCreate}" 
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{itemDisposalController.createOrSearchBundle}"  />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <h:panelGroup id="pnlGNotifica" rendered="#{disposalController.isRenderedIconNitification}">
                        <span  class="NotificationText"> #{disposalController.mmsDisposalList.size()} </span>
                        <p:commandLink id="cmdLinkNotf" class="fa fa-fw fa-bell" 
                                       title="Notification" />
                        <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblReqNotf" value="Disp Item  List"/>
                            <div class="col-md-12 textBoxMargin6px">     
                                <div class="form-group">  
                                    <div class="col-sm-8">                                                               
                                        <p:selectOneListbox id="lstNotf" class="col-sm-8" style="width: 470px; height: 350px;" filterMatchMode="contains" filter="true"
                                                            converter="entConverter" valueChangeListener="#{disposalController.onSelectRequest}" scrollHeight="300">
                                            <f:selectItems  var="srListVar" value="#{disposalController.mmsDisposalList}"
                                                            itemValue="#{srListVar}"  itemLabel="#{srListVar.dispNo}"/> 
                                            <p:ajax event="valueChange"  process="@this"  update=":frmRegisterUI, :frmMainUI, :frmToolbar"/>
                                        </p:selectOneListbox>
                                    </div>                               
                                </div> 
                            </div> 
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="pnlWorkflow" rendered="#{disposalController.isRenderedIconWorkflow}">
                        <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>                         
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWf" value="#{disposalController.wfMmsProcessedDataModel}" rowIndexVar="num" var="wfVar" 
                                                                 rows="10" paginator="true" paginatorPosition="bottom" >
                                                        <p:column headerText="S/N" width="60">
                                                            <h:outputText value="#{num+1}"/>
                                                        </p:column> 
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{wfVar.processedBy}" /> 
                                                        </p:column>
                                                        <p:column headerText="Processed On">
                                                            <h:outputText value="#{wfVar.processedOn}" /> 
                                                        </p:column>
                                                        <p:column headerText="Decision">
                                                            <h:outputText value="#{wfVar.decision}" /> 
                                                        </p:column>
                                                        <p:column headerText="Comment Given">
                                                            <h:outputText value="#{wfVar.commentGiven}" /> 
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <a href="../../mms/InventoryInformation/Disposal.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{disposalController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchGatePass"> 
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group  textBoxMargin6px">   
                                            <h:outputLabel   class="control-label col-sm-2" value="Search By:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="drdSearchName" style="width: 100%"                                                                     
                                                                   converter="entConverter"  value="#{disposalController.dispEntity.columnName}"
                                                                   valueChangeListener="#{disposalController.columnNameChangeEvent}"> 
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue="" /> 
                                                    <f:selectItems value="#{disposalController.mmsDisposalColumnNameList}" 
                                                                   var="colNameList" itemLabel="#{colNameList}"/>
                                                    <p:ajax event="change" process="@this"  update="lblSearchName,txtSearchName"/>
                                                </p:selectOneMenu>

                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel id="lblSearchName" class="control-label col-sm-2" value="Searching By #{disposalController.dispEntity.columnName}:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchName" class="form-control" value="#{disposalController.dispEntity.columnValue}"/>
                                            </div>

                                        </div> 
                                    </div>
                                    <div class="form-group textBoxMargin6px"> 
                                        <h:outputLabel class="control-label col-sm-2"/>
                                        <div class="col-sm-4">
                                            <p:commandButton id="btnSearch" class="btn btn-primary" action="#{disposalController.searchDispInformation1()}" icon="ui-icon-search" 
                                                             process="@this,frmSearchGatePass" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                             value="Find" style="font-family: monospace; font-style: normal; font-weight: normal; left: 0px;"/>            
                                        </div>
                                    </div>
                            </h:form>
                        </div>
                    </div>
                    <br></br>    
                    <br></br>
                    <br></br>
                    <div class="row"> 
                        <div class="col-md-12" > 
                            <h:form id="frmGatepass">   
                                <div class="form-horizontal col-sm-12">
                                    <div class="form-group textBoxMargin6px">                                        
                                        <div class="col-sm-12">
                                            <p:dataTable id="tblgatePassInfo" var="DispInfo" rows="5" 
                                                         style="font-family: Cambria; "  
                                                         rowIndexVar="num"   
                                                         selection="#{disposalController.hpSelect}"
                                                         rowKey="#{DispInfo.dispId}"  selectionMode="single" 
                                                         value="#{disposalController.mmsDispposalSearchInfoDataModel}"
                                                         class="dataTable"
                                                         paginator="true" paginatorPosition="bottom">
                                                <p:ajax event="rowSelect" listener="#{disposalController.rowSelect}" update=":frmRegisterUI, :frmMainUI,:frmToolbar,:frmRegisterUI:frmTblMaterialInfo" />      
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="No"/>
                                                    </f:facet>
                                                    <h:outputText value="#{num+1}"/>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Disposal no" />
                                                    </f:facet>
                                                    <h:outputText value="#{DispInfo.dispNo}"/>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Store Name" />
                                                    </f:facet>
                                                    <h:outputText value="#{DispInfo.storeId.storeName}"/>
                                                </p:column>
                                                <p:column>
                                                    <f:facet name="header">
                                                        <h:outputText value="Proposed Date" />
                                                    </f:facet>
                                                    <h:outputText value="#{DispInfo.propDate}"/>
                                                </p:column>
                                            </p:dataTable>
                                        </div>                 
                                    </div>    
                                </div>  
                            </h:form>
                        </div>
                    </div>
                </div>
                </div>
            </h:panelGroup>
        </h:form>
        <!-- Registration Form-->
        <h:form id="frmRegisterUI">
            <p:growl id="growlmain" showDetail="true" severity="information,fatal" life="3500" autoUpdate="true" />
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{disposalController.renderPnlCreateDisposal}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Fixed Asset Disposal Registration</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmGatePassDtlInfo">                                   
                                    <div class="form-horizontal  col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required"> 
                                            <h:outputLabel class="control-label col-sm-2" value="FA Disposal No:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtGatePassNumber" readonly="true"  
                                                             value="#{disposalController.generateDispNo()}"/>
                                            </div>
                                            <h:outputLabel id="lblDateAccepted1" class="control-label col-sm-2" value="Proposed Date:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="calAceptedDate" value="#{disposalController.dispEntity.propDate}"
                                                             converter="dateConverter" placeholder="dd/mm/yyyy" required="true" requiredMessage="Date is required" class="form-control"
                                                             onclick="displayCalendar('frmRegisterUI:calAceptedDate', 'frmRegisterUI:calAceptedDate');"  validator="#{validatorManagedBean.Date}" readonly="#{workFlow.readonly}"/>
                                                <p:message for="calAceptedDate" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel class="control-label col-sm-2" value="Store Name:" />
                                            <div class="col-sm-4 required">
                                                <p:selectOneMenu id="stName" value="#{disposalController.storeInfoEntity.storeId}"  style="width: 100%" 
                                                                 valueChangeListener="#{disposalController.handleSelectStoreName}" converter="entConverter"
                                                                 requiredMessage="Store Name is required"
                                                                 required="true" disabled="#{workFlow.readonly}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                    <f:selectItems value="#{disposalController.storeInfoList}" var="listSt" itemLabel="#{listSt.storeName}" itemValue="#{listSt.storeId}" />
                                                    <p:ajax update="@this" event="change" />
                                                </p:selectOneMenu> 
                                                <p:message for="stName" display="icon"/>
                                            </div>
                                            <h:outputLabel class="control-label col-sm-2" value="Disposable Item No:" />
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="dispName" value="#{disposalController.dispColectionEntity}"  style="width: 100%"
                                                                 valueChangeListener="#{disposalController.handleSelectDisposalCollection}" converter="entConverter"
                                                                 requiredMessage="Disposable Item No is required"
                                                                 required="true" disabled="#{workFlow.readonly}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                    <f:selectItems value="#{disposalController.dispNoList}" 
                                                                   var="listSt2" itemLabel="#{listSt2.disposalNo}" itemValue="#{listSt2}" />
                                                    <p:ajax update="@this,frmMaterialInfo,drdTypeOfTransfer" event="change" />
                                                </p:selectOneMenu> 
                                                <p:message for="dispName" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px">                                           
                                            <h:outputLabel class="control-label col-sm-2" value=" Disposal Status:" />
                                            <div class="col-sm-4">
                                                <p:inputText id="drdTypeOfTransfer" readonly="true"  
                                                             value="#{disposalController.dispColectionEntity.disposalStatus}"/>
                                            </div>
                                        </div>                                  
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Disposal Detail Information</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmMaterialInfo"  >
                                    <div class="form-horizontal col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel  for="ItemCode"  class="control-label col-sm-2" value="Tag No:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="ItemCode" value="#{disposalController.dispCollectionDtlEntity}"  style="width: 100%" 
                                                                 valueChangeListener="#{disposalController.handleSelectItemCode}" converter="entConverter"
                                                                 required="true" requiredMessage="Please Inserrt Tag No" disabled="#{workFlow.readonly}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                    <f:selectItems value="#{disposalController.itemcodeDtl}" var="listFxD" itemLabel="#{listFxD}" itemValue="#{listFxD}" />
                                                    <p:ajax update="@this,frmMaterialInfo" event="change" />
                                                </p:selectOneMenu> 
                                                <p:message for="ItemCode" display="icon"/>
                                            </div>
                                            <h:outputLabel id="txtItemName" class="control-label col-sm-2" value="Item Name:" />
                                            <div class="col-sm-4">
                                                <p:inputText id="lblMatCode" 
                                                             value="#{disposalController.dispDtlEntity.itemName}"
                                                             readonly="true"
                                                             />
                                                <p:message for="lblMatCode" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel   class="control-label col-sm-2" value="Item Location:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtQuantity" class="form-control"
                                                               value="#{disposalController.dispDtlEntity.itemLocation}"
                                                               validator="#{validatorManagedBean.Text}"
                                                               converterMessage="Please Insert Text" readonly="#{workFlow.readonly}"/>
                                                <p:message for="txtQuantity" display="icon" />
                                            </div>
                                            <h:outputLabel  for="txtUnit"  class="control-label col-sm-2" value="Book Value:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtUnit"  
                                                               readonly="true"
                                                               value="#{disposalController.dispDtlEntity.bookValue}"

                                                               />
                                                <p:message for="txtUnit" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel for="txtDescription" class="control-label col-sm-2" value="Quantity:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtDescription"  class="form-control"  
                                                             value="#{disposalController.dispDtlEntity.quantity}"
                                                             validator="#{validatorManagedBean.Number}" required="true" requiredMessage="Please Inserrt Quantity" 
                                                             converterMessage="Please Insert Number" readonly="#{workFlow.readonly}"/>
                                                <p:message for="txtDescription" display="icon" />
                                            </div>
                                            <h:outputLabel for="txtRemark" class="control-label col-sm-2" value="Selling Price:"/>
                                            <div class="col-sm-4">
                                                <p:inputTextarea id="txtRemark" 
                                                                 value="#{disposalController.dispDtlEntity.sellingPrice}"
                                                                 disabled="#{disposalController.disposalmethod}"
                                                                 validator="#{validatorManagedBean.Number}"
                                                                 converterMessage="Please Insert Number" readonly="#{workFlow.readonly}"/>
                                                <p:message for="txtRemark" display="icon" />
                                            </div>
                                        </div>
                                        <div  class="form-group required">
                                            <h:outputLabel for="txtAccCode" class="control-label col-sm-2" value="Account Code:"/>
                                            <div class="col-sm-4 ">
                                                <p:inputText id="txtAccCode"  
                                                             value="#{disposalController.fixedAssetRegDtlEntity.accountCode.generalLedgerCode}"
                                                             readonly="true"/>
                                                <p:message for="txtAccCode" display="icon" />
                                            </div>
                                            <h:outputLabel  class="control-label col-sm-2" value="Disposal Method:"/>
                                            <div class="col-sm-4  ">
                                                <p:selectOneMenu   id="selectRegion"   required="true" 
                                                                   style="width: 100%;"
                                                                   value="#{disposalController.dispDtlEntity.disposalMethod}" 
                                                                   valueChangeListener="#{disposalController.handleSelectDisposal}"
                                                                   requiredMessage="Please Input Disposal Method" disabled="#{workFlow.readonly}">  
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                    <f:selectItem itemLabel="Trade In" itemValue="Trade In" />
                                                    <f:selectItem itemLabel="Sell By Tender" itemValue="Sell By Tender" />
                                                    <f:selectItem itemLabel="Sell To Staff" itemValue="Sell To Staff" />
                                                    <f:selectItem itemLabel="Throw Away" itemValue="Throw Away" />
                                                    <f:selectItem itemLabel="Donation" itemValue="Donation" />
                                                    <p:ajax update="txtRemark,frmTblMaterialInfo" event="change" />
                                                </p:selectOneMenu> 
                                                <p:message for="selectRegion" display="icon"/>
                                            </div>
                                        </div>
                                        <div  class="form-group">
                                            <h:outputLabel for="txtRm" class="control-label col-sm-2" value="Purchased Gain/Loss:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtRm" 
                                                             value="#{disposalController.dispDtlEntity.dispGain}"
                                                             readonly="true"
                                                             />
                                                <p:message for="txtRm" display="icon" />
                                            </div>
                                            <h:outputLabel for="txtGl" class="control-label col-sm-2" value="Gain/Loss Value:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtGl" 
                                                             value="#{disposalController.dispDtlEntity.gainOrLoss}"
                                                             readonly="true"
                                                             />
                                                <p:message for="txtGl" display="icon" />
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnAdd" class="btn btn-primary" action="#{disposalController.addDisposalDetail()}" icon="ui-icon-add" validateClient="true" 
                                                                 process="frmMaterialInfo" update=":frmRegisterUI:frmTblMaterialInfo,:frmRegisterUI:frmMaterialInfo"
                                                                 value="#{disposalController.addOrModifyBundle}" style="font-family: monospace; font-style: normaladdOrModify; font-weight: normal; left: 0px;"/>            

                                            </div>
                                        </div>
                                    </div>
                                    <br></br>
                                </h:panelGroup>
                                <h:panelGroup id="frmTblMaterialInfo">
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMargin6px">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblMaterial" value="#{disposalController.dispposalAddDetailDataModel}" rowIndexVar="rowContact" var="DisposalDtl"
                                                             paginator="true" paginatorPosition="bottom" editable="true">
                                                    <p:ajax event="rowEdit"  update="" />
                                                    <p:ajax event="rowEditCancel"  update="" />
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="No"/>
                                                        </f:facet>
                                                        <h:outputText value="#{rowContact+1}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Tag No" />
                                                        </f:facet>
                                                        <h:outputText value="#{DisposalDtl.tagNo}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Item Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{DisposalDtl.itemName}"/>
                                                    </p:column>
                                                    <p:column headerText="Item Location">
                                                        <p:cellEditor>
                                                            <f:facet name="output"><h:outputText value="#{DisposalDtl.itemLocation}" /></f:facet>
                                                            <f:facet name="input"><p:inputText id="remark3" value="#{DisposalDtl.itemLocation}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Book Value" />
                                                        </f:facet>
                                                        <h:outputText value="#{DisposalDtl.bookValue}"/>
                                                    </p:column>
                                                    <p:column headerText="Selling Price" >
                                                        <p:cellEditor>
                                                            <f:facet name="output"><h:outputText value="#{DisposalDtl.sellingPrice}" /></f:facet>
                                                            <f:facet name="input"><p:inputText id="remark5" value="#{DisposalDtl.sellingPrice}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column headerText="Quantity">
                                                        <p:cellEditor>
                                                            <f:facet name="output"><h:outputText value="#{DisposalDtl.quantity}" /></f:facet>
                                                            <f:facet name="input"><p:inputText id="remarkd" value="#{DisposalDtl.quantity}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column headerText="Disposal Method">
                                                        <p:cellEditor>
                                                            <f:facet name="output"><h:outputText value="#{DisposalDtl.disposalMethod}" /></f:facet>
                                                            <f:facet name="input"> <p:selectOneMenu   id="selectDisp1"   
                                                                                                      style="width: 100%;"
                                                                                                      value="#{DisposalDtl.disposalMethod}" 
                                                                                                      valueChangeListener="#{disposalController.handleSelectDisposal}"

                                                                                                      >  
                                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                                    <f:selectItem itemLabel="Trade In" itemValue="Trade In" />
                                                                    <f:selectItem itemLabel="Sale By Tender" itemValue="Sell By Tender" />
                                                                    <f:selectItem itemLabel="Sale To Staff" itemValue="Sale To Staff" />
                                                                    <f:selectItem itemLabel="Throw Away" itemValue="Throw Away" />
                                                                    <f:selectItem itemLabel="Donation" itemValue="Donation" />
                                                                    <p:ajax update="@this"  process="@this" event="change" />
                                                                </p:selectOneMenu> </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Account Code" />
                                                        </f:facet>
                                                        <h:outputText value="#{DisposalDtl.accountCode}"/>
                                                    </p:column>
                                                    <p:column headerText="Disposal Gain/Loss">
                                                        <p:cellEditor>
                                                            <f:facet name="output"><h:outputText value="#{DisposalDtl.dispGain}" /></f:facet>
                                                            <f:facet name="input"><p:inputText id="markd22" value="#{DisposalDtl.dispGain}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column headerText="Gain/Loss Value">
                                                        <p:cellEditor>
                                                            <f:facet name="output"><h:outputText value="#{DisposalDtl.gainOrLoss}" /></f:facet>
                                                            <f:facet name="input"><p:inputText id="gainLoss" value="#{DisposalDtl.gainOrLoss}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>

                                                    <p:column headerText="Option">
                                                        <p:commandLink action="#{disposalController.editDataTable}" value="Edit" 
                                                                       process="@this,:frmRegisterUI:tblMaterial"
                                                                       update="@this,:frmRegisterUI:frmMaterialInfo"/>
                                                    </p:column> 
                                                </p:dataTable>                                              
                                            </div>
                                        </div>                                     
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmApproverInfo">
                                    <div class="form-horizontal col-sm-12">
                                        <h:form id="formcontract" prependId="false" enctype="multipart/form-data" dir="" >            
                                            <p:panelGrid columns="1" style="float: left;"> 
                                                <h:outputLabel id="uploadfile1" class="control-label col-sm-2" value=" Attach File:"/>                                               
                                                <p:fileUpload  id="fileUplod" cancelLabel="#{contenu.annuler}"
                                                               fileUploadListener="#{disposalController.uploadHandling}"
                                                               value="#{disposalController.mmsLuDmArchive.documentId}" 
                                                               allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpg|mkv|JPG)$/"
                                                               invalidFileMessage="This type of file is not Allowed"
                                                               invalidSizeMessage="The size is not Allowed"
                                                               multiple="false" mode="advanced" sizeLimit="100000" auto="true" process="tblSavedDoc" update="tblSavedDoc"/>
                                                <p:dataTable id="tblSavedDoc"  var="currentRow" sortBy="#{currentRow.fileName}"  rowIndexVar="current" value="#{disposalController.mmsLuDmArchivesDModel}"
                                                             paginator="true" selectionMode="single" rowKey="#{currentRow.documentId}" paginatorPosition="bottom"
                                                             selection="#{disposalController.mmsLuDmArchiveSelection}"
                                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                             rowsPerPageTemplate="5,10,15" style="border: none; font-family: 'Lucida Sans'; font-size: 11px; font-style: normal; font-weight: lighter; width:950px;">
                                                    <p:ajax event="rowSelect" listener="#{disposalController.onRowSelectFileUploaded}" update="tblSavedDoc" />
                                                    <f:facet name="header">
                                                        <p:column headerText="File Name From DBMS">
                                                            <p:outputLabel value="#{currentRow.fileName}"/>
                                                        </p:column>
                                                        <p:column headerText="Download">
                                                            <p:panelGrid>
                                                                <p:commandButton id="cmdDownd" ajax="false" icon="ui-icon-arrowthick-1-s" title="Downloading">
                                                                    <p:fileDownload value="#{disposalController.download}" />
                                                                </p:commandButton> 
                                                            </p:panelGrid>
                                                        </p:column>
                                                    </f:facet>
                                                </p:dataTable>
                                            </p:panelGrid>
                                        </h:form>       
                                    </div>
                                    <br></br>
                                    <br></br>
                                    <br></br>
                                    <br></br>
                                    <div class="form-horizontal col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel for="txtRequestedBy" class="control-label col-sm-2" value="Processed By:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtRequestedBy" 
                                                             value="#{disposalController.userName}"
                                                             required="true" requiredMessage="Proposed By is required"
                                                             readonly="true"/>
                                                <p:message for="txtRequestedBy" display="icon" />
                                            </div>
                                            <h:outputLabel for="txtAcceptedDate" class="control-label col-sm-2" value="Processed On:"/>                                                                        
                                            <div class="col-sm-4 required">
                                                <p:inputText id="txtAcceptedDate" class="form-control" value="#{disposalController.workFlow.processedOn}"
                                                             required="true"  requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                             onclick="displayCalendar('frmRegisterUI:txtAcceptedDate', 'frmRegisterUI:txtAcceptedDate');" />                                                                                                                                                    
                                                <p:message for="txtAcceptedDate" display="icon"/>
                                            </div>
                                        </div>
                                        <h:panelGroup id="padding">
                                            <div class="form-group textBoxMargin6px"> 
                                                <h:outputLabel id="lbl_Decision"  class="control-label col-sm-2" value="Decision:" rendered="#{disposalController.renderDecision}"/>
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu id="drdDecision" style="width: 100%" value="#{disposalController.selectedValue}" rendered="#{disposalController.renderDecision}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItem itemLabel="Approve" itemValue="Approve"/>
                                                        <f:selectItem itemLabel="Reject" itemValue="Reject"/>
                                                    </p:selectOneMenu>   
                                                </div> 
                                                <h:outputLabel id="lbl_prepareRemxasrk"  class="control-label col-sm-2" value="comment:" rendered="#{disposalController.renderDecision}"/>
                                                <div class="col-sm-4">
                                                    <p:inputTextarea id="txtprepareRemassrk" class="form-control" value="#{disposalController.workFlow.commentGiven}"  rendered="#{disposalController.renderDecision}"/>     
                                                </div> 
                                            </div>
                                        </h:panelGroup>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton  id="btnsave" class=" btn btn-primary" action="#{disposalController.saveDisposal()}" icon="ui-icon-new" validateClient="true" 
                                                                  process="@this,:frmRegisterUI:frmGatePassDtlInfo,:frmRegisterUI:frmTblMaterialInfo,:frmRegisterUI:frmApproverInfo"  
                                                                  update=":frmRegisterUI:frmGatePassDtlInfo,:frmRegisterUI:frmTblMaterialInfo,:frmRegisterUI,:frmToolbar" 
                                                                  value="#{disposalController.saveorUpdateBundle}"/>  

                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
