<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>
            </div>
        </h:form>
    </ui:define>
    <ui:define name="navigaion_content">
        <li><a href="mmsLostFixedAsset.xhtml"><i class="fa fa-circle-o"></i> <span>Lost Fixed Asset</span></a></li> 
        <li><a href="stockItemLost.xhtml"><i class="fa fa-circle-o"></i> <span>Lost Stock Item </span></a></li> 
        <li><a href="FixedAssetTransfer.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Transfer</span></a></li> 
        <li><a href="NonFixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> <span>Non Fixed Asset Return </span></a></li> 
        <li><a href="StockDisposal.xhtml"><i class="fa fa-circle-o"></i> <span> Stock Disposal </span></a></li> 
        <li><a href="FixedAssetItemDisposal.xhtml"><i class="fa fa-circle-o"></i> <span>Disposal Collection</span></a></li> 
        <li><a href="Disposal.xhtml"><i class="fa fa-circle-o"></i> <span> Fixed Asset Disposal</span></a></li> 
        <li><a href="InventoryBalanceSheet.xhtml"><i class="fa fa-circle-o"></i> <span>Inventory Balance Sheet</span></a></li> 
        <li><a href="InventoryCountSheet.xhtml"><i class="fa fa-circle-o"></i> <span>Inventory Count Sheet</span></a></li> 
        <li><a href="NeedAssessment.xhtml"><i class="fa fa-circle-o"></i> <span>Need Assessment</span></a></li> 
        <li><a href="NeedAssessmentCollected.xhtml"><i class="fa fa-circle-o"></i> <span>Need Assessment Collected</span></a></li> 
    </ui:define>
    <ui:define name="contents">   
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pngBackSarch" rendered="#{fixedAssetReturnController.renderpnlToSearchPage}">
                        <p:commandButton id="btnBackToSearch" action="#{fixedAssetReturnController.goBackToSearchpageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                         style="background-color: white;border-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,frmSample"
                                         title="Back to Search" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span> 
                    </h:panelGroup>
                    <p:commandButton id="btnIcone" action="#{fixedAssetReturnController.createNewReturnInfo()}"
                                     icon="#{fixedAssetReturnController.icone}"  validateClient="true" style="background-color: white;border-color: white"
                                     process="@this" update=":frmRegisterUI,:frmMainUI,:frmSample" rendered="#{fixedAssetReturnController.isRenderCreate}" 
                                     title="#{fixedAssetReturnController.createOrSearchBundle}" />

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>                  
                    <h:panelGroup id="pnlGNotifica" rendered="#{fixedAssetReturnController.isRenderedIconNitification}">
                        <span  class="NotificationText"> #{fixedAssetReturnController.mmsFarList.size()} </span>
                        <p:commandLink id="cmdLinkNotf" class="fa fa-fw fa-bell" 
                                       title="Notification" />
                        <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblReqNotf" value="Store Requisition List"/>
                            <div class="col-md-12 textBoxMargin6px">     
                                <div class="form-group">  
                                    <div class="col-sm-8">                                                               
                                        <p:selectOneListbox id="lstNotf" class="col-sm-8" style="width: 470px; height: 350px;" filterMatchMode="contains" filter="true"
                                                            converter="entConverter" valueChangeListener="#{fixedAssetReturnController.onSelectRequest}" scrollHeight="300">
                                            <f:selectItems  var="srListVar" value="#{fixedAssetReturnController.mmsFarList}"
                                                            itemValue="#{srListVar}"  itemLabel="#{srListVar.farNo}"/> 
                                            <p:ajax event="valueChange"  process="@this"  update=":frmRegisterUI, :frmMainUI, :frmSample"/>
                                        </p:selectOneListbox>
                                    </div>                               
                                </div> 
                            </div> 
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="pnlWorkflow" rendered="#{fixedAssetReturnController.isRenderedIconWorkflow}">
                        <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>                      
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWf" value="#{fixedAssetReturnController.wfMmsProcessedDataModel}" rowIndexVar="num" var="wfVar" 
                                                                 rows="10" paginator="true" paginatorPosition="bottom" >
                                                        <p:column headerText="S/N" width="60">
                                                            <h:outputText value="#{num+1}"/>
                                                        </p:column> 
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{wfVar.processedBy}" /> 
                                                        </p:column>
                                                        <p:column headerText="Processed On">
                                                            <h:outputText value="#{wfVar.processedOn}" /> 
                                                        </p:column>
                                                        <p:column headerText="Decision">
                                                            <h:outputText value="#{wfVar.wfDecison}" /> 
                                                        </p:column>
                                                        <p:column headerText="Comment Given">
                                                            <h:outputText value="#{wfVar.commentGiven}" /> 
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>                                                                                               
                    <a href="../InventoryInformation/FixedAssetReturn.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                        <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information, fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{fixedAssetReturnController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchGatePass"> 
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Fixed Asset Return No:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtPartyName" value="#{fixedAssetReturnController.returnEntity.farNo}">
                                                    <p:ajax update="@this" process="@this"/>
                                                </p:inputText>
                                            </div>

                                        </div>

                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel id="findbtn" class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnSearch" class="btn btn-primary" action="#{fixedAssetReturnController.searchReturnInformation1()}" icon="ui-icon-search" 
                                                                 process="@this,txtPartyName" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                                 value="Find" style="font-family: monospace; font-style: normal; font-weight: normal; left: 0px;"/>            
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <br></br>    
                        <br></br>
                        <br></br>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmGatepass">   
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMargin6px">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblgatePassInfo"  var="FxAssetInfo" rows="5" 
                                                             style="font-family: Cambria; "  
                                                             rowIndexVar="num"   
                                                             selection="#{fixedAssetReturnController.hpSelect}"
                                                             rowKey="#{FxAssetInfo.farId}"  selectionMode="single" 
                                                             value="#{fixedAssetReturnController.mmsreturnSearchInfoDataModel}"
                                                             class="dataTable"
                                                             paginator="true" paginatorPosition="bottom">
                                                    <p:ajax event="rowSelect" listener="#{fixedAssetReturnController.rowSelect}" update=":frmRegisterUI, :frmMainUI, :frmSample,:frmRegisterUI:frmGatePassDtlInfo" />      
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="No"/>
                                                        </f:facet>
                                                        <h:outputText value="#{rowContact+1}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="FAR NO" />
                                                        </f:facet>
                                                        <h:outputText value="#{FxAssetInfo.farNo}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Department" />
                                                        </f:facet>
                                                        <h:outputText value="#{FxAssetInfo.department}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Returned By" />
                                                        </f:facet>
                                                        <h:outputText value="#{FxAssetInfo.returnedBy}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Returned Date" />
                                                        </f:facet>
                                                        <h:outputText value="#{FxAssetInfo.retDate}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Received Date" />
                                                        </f:facet>
                                                        <h:outputText value="#{FxAssetInfo.rcvDate}"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>                 
                                        </div>    
                                    </div>  
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>      
        <h:form id="frmRegisterUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{fixedAssetReturnController.renderPnlCreateReturn}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Fixed Asset Return</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmGatePassDtlInfo">
                                    <div class="form-horizontal  col-sm-12"> 

                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Asset Return No:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtFarsNumber" readonly="true"  
                                                             value="#{fixedAssetReturnController.generateReturnNo()}"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">                                                                                  
                                            <p:outputLabel  class="control-label col-sm-2" value="Department:"/> 
                                            <div class="col-sm-3">
                                                <p:inputText   id="txtDepartment" class="form-control" required="true" 
                                                               requiredMessage="Department is required"  placeholder="Use Only From + Button" onmousedown="return false;"
                                                               value="#{fixedAssetReturnController.hrDepartmentsEntity.depName}"  />
                                                <p:message for="txtDepartment" display="icon"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <p:commandButton id="btnTree" onclick="PF('dlgDpt').show();"  partialSubmit="true" style="background: transparent;" value="+"/>
                                            </div>
                                            <h:outputLabel  class="control-label col-sm-2" value="Received Date:"/>
                                            <div class="col-sm-4">                                          
                                                <p:inputText id="calDeliveryDate" value="#{fixedAssetReturnController.returnEntity.retDate}"
                                                             placeholder="dd/mm/yyyy" required="true" requiredMessage="Date is required" class="form-control"
                                                             onclick="displayCalendar('frmRegisterUI:calDeliveryDate', 'frmRegisterUI:calDeliveryDate');"  validator="#{validatorManagedBean.Date}" />
                                                <p:message for="calDeliveryDate" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel class="control-label col-sm-2" value="Returned By:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="returnedBy"  value="#{fixedAssetReturnController.hrEmployees.firstName}"  style="width: 100%" required="true" requiredMessage="Returned By Is Required"
                                                                 valueChangeListener="#{fixedAssetReturnController.handleSelectReturn}" converter="entConverter">   
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" noSelectionOption="true" /> 
                                                    <f:selectItems id="selectOneMenuSivNumber" value="#{fixedAssetReturnController.itemcodeDtl}"
                                                                   var="emp" itemLabel="#{emp}" itemValue="#{emp}" />
                                                    <p:ajax update="@this,ItemCode" process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message for="returnedBy" display="icon"/>
                                            </div>
                                            <h:outputLabel class="control-label col-sm-2" value="Return Status:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="drdDeliveryStatus"  
                                                             value="#{fixedAssetReturnController.returnEntity.returnStatus}" style="width: 100%" readonly="true" >
                                                </p:inputText>
                                            </div>                                         
                                        </div>
                                        <p:dialog id="dlgDpt" header="Departments" widgetVar="dlgDpt" height="300" width="500" showEffect="explode">
                                            <h:panelGrid columns="3" style="border-color: #ffffff ">
                                                <p:tree value="#{fixedAssetReturnController.root2}" var="nodes" style="border: transparent; width: 100%"
                                                        selectionMode="single" selection="#{fixedAssetReturnController.selectedNode}" >
                                                    <p:ajax event="select" listener="#{fixedAssetReturnController.onNodeSelect}" process="@this" 
                                                            update=":frmRegisterUI:txtDepartment,:frmRegisterUI:returnedBy"/>
                                                    <p:treeNode>
                                                        <h:outputText value="#{nodes}" />
                                                    </p:treeNode>
                                                </p:tree>                                       
                                            </h:panelGrid>
                                        </p:dialog> 
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Fixed Asset Return Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmMaterialInfo"  >
                                    <div class="form-horizontal col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel class="control-label col-sm-2" value="Tag No:" />
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="ItemCode" value="#{fixedAssetReturnController.fixedAssetRegDtlEntity.tagNo}"  style="width: 100%" 
                                                                 required="true" requiredMessage="Tag No required"
                                                                 valueChangeListener="#{fixedAssetReturnController.handleSelectItemCode1}" converter="entConverter">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                    <f:selectItems value="#{fixedAssetReturnController.listFixedAssetRegDtl}"
                                                                   var="listFxD" itemLabel="#{listFxD}" itemValue="#{listFxD}" />
                                                    <p:ajax update="@this,frmMaterialInfo"  event="change" />
                                                </p:selectOneMenu> 
                                                <p:message for="ItemCode" display="icon"/>
                                            </div>
                                            <h:outputLabel class="col-sm-2" style="text-align: right" value="Item Name:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtSivMatName"   readonly="true" 
                                                               value="#{fixedAssetReturnController.returnDtlEntity.itemName}"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel  class="control-label col-sm-2" value="Item Status:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="txtCategory"   required="true" requiredMessage="Item Status is Required"
                                                                   style="width: 100%;"
                                                                   value="#{fixedAssetReturnController.returnDtlEntity.itemStatus}"  
                                                                   converterMessage="Please Insert Status">  
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                    <f:selectItem itemLabel="Normal" itemValue="Normal" />
                                                    <f:selectItem itemLabel="Scrub" itemValue="Scrub" />
                                                    <f:selectItem itemLabel="Broken" itemValue="Broken" />
                                                    <f:selectItem itemLabel="Damaged" itemValue="Damaged" />
                                                    <p:ajax update=""  process="@this" event="change" />
                                                </p:selectOneMenu> 
                                                <p:message for="txtCategory" display="icon"/>
                                            </div> 
                                            
                                            <h:outputLabel class=" col-sm-2" style="text-align: right" value="Book Value:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtUnit"  
                                                               readonly="true" 
                                                               value="#{fixedAssetReturnController.returnDtlEntity.netBookValue}"/>
                                            </div> 
                                        </div>
                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel   class="control-label col-sm-2" value="Description:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtUnitPrice"  
                                                               value="#{fixedAssetReturnController.returnDtlEntity.description}"
                                                               validator="#{validatorManagedBean.Text}"/>
                                            </div>
                                            <h:outputLabel  class="control-label col-sm-2" value="Account Code:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtAccCode"  
                                                             value="#{fixedAssetReturnController.fixedAssetRegDtlEntity.accountCode.generalLedgerCode}"
                                                             readonly="true"/>
                                            </div>
                                        </div>
                                        <div  class="form-group">

                                            <h:outputLabel id="buttonaddFADtl" class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnAdd" class="btn btn-primary" action="#{fixedAssetReturnController.addtoReturnInfoDetail()}" icon="ui-icon-new" validateClient="true" 
                                                                 process="frmMaterialInfo" update=":frmRegisterUI:frmTblMaterialInfo,frmMaterialInfo"
                                                                 value="#{fixedAssetReturnController.addOrModifyBundle}" style="font-family: monospace; font-style: normal; font-weight: normal; left: 0px;"/>            
                                            </div>
                                        </div>
                                    </div>
                                    <br></br>
                                </h:panelGroup>
                                <h:panelGroup id="frmTblMaterialInfo">
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMargin6px">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblMaterial" value="#{fixedAssetReturnController.returnAddDetailDataModel}" rowIndexVar="rowContact" var="material"
                                                             paginator="true" paginatorPosition="bottom" editable="true">
                                                    <p:ajax event="rowEdit"  update="" />
                                                    <p:ajax event="rowEditCancel"  update="" />
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="No"/>
                                                        </f:facet>
                                                        <h:outputText value="#{rowContact+1}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Tag No" />
                                                        </f:facet>
                                                        <h:outputText value="#{material.farId.fixedARDtId.tagNo}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Item Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{material.itemName}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Account Code" />
                                                        </f:facet>
                                                        <h:outputText value="#{material.accountCode}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Book Value" />
                                                        </f:facet>
                                                        <h:outputText value="#{material.netBookValue}"/>
                                                    </p:column>
                                                    <p:column headerText="Description">
                                                        <p:cellEditor>
                                                            <f:facet name="output"><h:outputText value="#{material.description}" /></f:facet>
                                                            <f:facet name="input"><p:inputText id="remark34" value="#{material.description}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Item Status" />
                                                        </f:facet>
                                                        <h:outputText value="#{material.itemStatus}"/>
                                                    </p:column>
                                                    <p:column headerText="Option">
                                                        <p:commandLink action="#{fixedAssetReturnController.editDataTable}" value="Edit" 
                                                                       process="@this,:frmRegisterUI:tblMaterial"
                                                                       update="@this,:frmRegisterUI:frmMaterialInfo"/>
                                                    </p:column> 
                                                </p:dataTable>                                           
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmApproverInfo">
                                    <div class="form-horizontal col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required">  
                                            <p:outputLabel id="lbl_tetprepareby" class="control-label col-sm-2"  value="Processed by:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtprepareby"   
                                                               value="#{fixedAssetReturnController.userName}" readonly="true" />                                             
                                            </div>
                                            <h:outputLabel  class="control-label col-sm-2" value="Processed On:"/>                                                                        
                                            <div class="col-sm-4">
                                                <p:inputText id="txtAcceptedDate" value="#{fixedAssetReturnController.wfMmsProcessed.processedOn}"
                                                             placeholder="dd/mm/yyyy" required="true" requiredMessage="Date is required" class="form-control"
                                                             onclick="displayCalendar('frmRegisterUI:txtAcceptedDate', 'frmRegisterUI:txtAcceptedDate');"  validator="#{validatorManagedBean.Date}"/>                                                                                                                                                   
                                                <p:message for="txtAcceptedDate" display="icon"/>
                                            </div> 
                                        </div>
                                        <div class="form-group textBoxMargin6px">  
                                            <h:outputLabel id="lbl_Decision"  class="control-label col-sm-2" value="Decision:" rendered="#{fixedAssetReturnController.renderDecision}"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="drdDecision" style="width: 100%" value="#{fixedAssetReturnController.selectedValue}" rendered="#{fixedAssetReturnController.renderDecision}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="Approve" itemValue="Approve"/>
                                                    <f:selectItem itemLabel="Reject" itemValue="Reject"/>
                                                </p:selectOneMenu>   
                                            </div>
                                            <h:outputLabel id="lbl_prepareRemxasrk1"  class="control-label col-sm-2" value="Comment:" rendered="#{fixedAssetReturnController.renderDecision}"/>
                                            <div class="col-sm-4">
                                                <p:inputTextarea id="txtprepttareRemassrk1"  class="form-control" rendered="#{fixedAssetReturnController.renderDecision}"
                                                                 value="#{fixedAssetReturnController.wfMmsProcessed.commentGiven}"
                                                                 validator="#{validatorManagedBean.Remark}" />     
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel id="saveButtonFAR" class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnSave" class="btn btn-primary" action="#{fixedAssetReturnController.saveFAReturn()}" icon="ui-icon-new" validateClient="true"
                                                                 process="@this,frmRegisterUI:frmGatePassDtlInfo,frmRegisterUI:frmTblMaterialInfo,:frmRegisterUI:frmApproverInfo"  
                                                                 update="frmGatePassDtlInfo,frmTblMaterialInfo,:frmRegisterUI"
                                                                 value="#{fixedAssetReturnController.saveorUpdateBundle}"/> 
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
