<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  
        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>
            </div>
        </h:form>
        <!-- /.search form -->
    </ui:define>
    <ui:define name="navigaion_content">
        <li><a href="InventoryCountSheet.xhtml"><i class="fa fa-circle-o"></i> <span>Inventory Count Sheet</span></a></li> 
        <li><a href="NeedAssessment.xhtml"><i class="fa fa-circle-o"></i> <span>Need Assessment</span></a></li> 
        <li><a href="NeedAssessmentCollected.xhtml"><i class="fa fa-circle-o"></i> <span>Need Assessment Collected</span></a></li> 
        <li><a href="stockItemLost.xhtml"><i class="fa fa-circle-o"></i> <span>Lost Stock Item</span></a></li> 
        <li><a href="mmsLostFixedAsset.xhtml"><i class="fa fa-refresh"></i> <span>Lost Fixed Asset</span></a></li> 
        <li><a href="FixedAssetTransfer.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Transfer</span></a></li> 
        <li><a href="FixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Return </span></a></li> 
        <li><a href="NonFixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> <span>Non Fixed Asset Return</span></a></li> 
        <li><a href="FixedAssetItemDisposal.xhtml"><i class="fa fa-circle-o"></i> <span>Disposal Collection</span></a></li> 
        <li><a href="Disposal.xhtml  "><i class="fa fa-circle-o"></i> <span>Fixed Asset Disposal</span></a></li> 
        <li><a href="StockDisposal.xhtml"><i class="fa fa-circle-o"></i> <span>Stock Item Disposal</span></a></li> 
    </ui:define>
    <ui:define name="contents">   
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pngBackSarch" rendered="#{invBalanceController.renderpnlToSearchPage}">                
                        <p:commandButton id="btnBackToSearchPage" action="#{invBalanceController.goBackToSearchpageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="Back to Search" />

                   <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    </h:panelGroup>
                    <p:commandButton  id="btnNew" action="#{invBalanceController.createNewInventoryBalanceSheet()}" icon="#{invBalanceController.icone}" validateClient="true" 
                                      style="background-color: white;border-color: white"
                                      process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                       title="#{invBalanceController.createOrSearchBundle}"  />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                         <h:panelGroup id="pnlGNotifica" rendered="#{invBalanceController.isRenderedIconNitification}">
                            <span  class="NotificationText"> #{invBalanceController.mmsIbsList.size()} </span>
                        <p:commandLink id="cmdLinkNotf" class="fa fa-fw fa-bell" 
                                  title="Notification" style="color: red;background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblReqNotf" value="Inventory balance Sheet Number List"/>
                        <div class="col-md-12 textBoxMargin6px">     
                            <div class="form-group">  
                                <div class="col-sm-8">                                                               
                                    <p:selectOneListbox id="lstNotf" class="col-sm-8" style="width: 470px; height: 350px;" filterMatchMode="contains" filter="true"
                                                        converter="entConverter" valueChangeListener="#{invBalanceController.onSelectIbsRequest}" scrollHeight="400">
                                        <f:selectItems  var="IbsListVar" value="#{invBalanceController.mmsIbsList}"
                                                        itemValue="#{IbsListVar}"  itemLabel="#{IbsListVar.budgetYear}"/> 
                                        <p:ajax event="valueChange"  process="@this"  update=":frmRegisterUI,:frmRegisterUI:registerUI,:frmMainUI,:frmToolbar"/>
                                    </p:selectOneListbox>
                                </div>                               
                            </div> 
                        </div> 
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                        </h:panelGroup>
                <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                   title="Work Flow" style="background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>                  
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblWf" value="#{invBalanceController.workflowDataModel}" rowIndexVar="num" var="wfVar" 
                                                             rows="10" paginator="true" paginatorPosition="bottom" >
                                                    <p:column headerText="S/N" width="60">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{wfVar.processedBy}" /> 
                                                    </p:column>
                                                    <p:column headerText="Processed On">
                                                        <h:outputText value="#{wfVar.processedOn}" /> 
                                                    </p:column>
                                                    <p:column headerText="Comment Given">
                                                        <h:outputText value="#{wfVar.commentGiven}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div> 
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>  
                <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="../../mms/InventoryInformation/InventoryBalanceSheet.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                        <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{invBalanceController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px" > 
                                <h:panelGroup id="frmSearchGatePass"> 


                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group textBoxMargin6px required "> 
                                            <h:outputLabel  class="control-label col-sm-2" value="Store Name:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="txtsearchByStoreNames"  required="true" requiredMessage="Store Name Is Required"
                                                                 value="#{invBalanceController.storeInfoEntity.storeId}"
                                                                 style="width: 100%;"
                                                                 valueChangeListener="#{invBalanceController.handleSelectStoreNameForSearch}" >
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItems id="selectOneStores" value="#{invBalanceController.storeList}" var="storevar" itemLabel="#{storevar.storeName} " itemValue="#{storevar.storeId}" />
                                                    <p:ajax process="@this" event="change"/>

                                                </p:selectOneMenu>
                                                <p:message for="txtsearchByStoreNames" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel for="txtSearchByBudgetYear" class="control-label col-sm-2" value="Budget Year:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchByBudgetYear" class="form-control"  
                                                             value="#{invBalanceController.invBalanceEntity.budgetYear}"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel for="txtsearchByinventoryNo"   value="Inventory No:" class="control-label col-sm-2" /> 
                                            <div class="col-sm-4">
                                                <p:inputText id="txtsearchByinventoryNo"   class="form-control"
                                                            value="#{invBalanceController.inventoryCountEntity.inventoryCountNo}"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel  class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnFindInfo" class="btn btn-primary" action="#{invBalanceController.searchBalanceSheetByParameter()}" icon="ui-icon-search" 
                                                                 process="@this,frmSearchGatePass" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                                value="Find" />            
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmGatepass">   
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblgatePassInfo" value="#{invBalanceController.invBalanceSearchDataModel}" var="inventoryInfo" rows="5"
                                                             selectionMode="single" class="dataTable" rowIndexVar="num"
                                                             selection="#{invBalanceController.selectedInfo}" rowKey="#{inventoryInfo.ibsId}" 
                                                             paginator="true" paginatorPosition="bottom" editable="true">
                                                    <p:ajax event="rowSelect" listener="#{invBalanceController.onRowEdit}" update=":frmRegisterUI, :frmMainUI, :frmToolbar" />      
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="S.No" />
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{inventoryInfo.storeId.storeName}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Budget Year" />
                                                        </f:facet>
                                                        <h:outputText value="#{inventoryInfo.budgetYear}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Inventory No" />
                                                        </f:facet>
                                                        <h:outputText value="#{inventoryInfo.invCountId.inventoryCountNo}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value=" Store Man" />
                                                        </f:facet>
                                                        <h:outputText value="#{inventoryInfo.storeId.storeAdmin.firstName}"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>                 
                                        </div>    
                                    </div>  
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="frmRegisterUI">
            <p:growl id="growl" showDetail="true" severity="information,fatal" autoUpdate="true" />
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{invBalanceController.renderPnlCreateInvBalanceSheet}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inventory Balance Sheet</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px" > 
                                <h:panelGroup id="frmGatePassDtlInfo">
                                    <div class="form-horizontal  col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required"> 
                                            <h:outputLabel id="lblApprovedInvno" class="control-label col-sm-2" value="Inventory Count No:" />
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="selectOneListInvNo"  style="width: 100%;" converter="entConverter"
                                                                 required="true" requiredMessage="Inventory Count No is required"  value="#{invBalanceController.inventoryCountEntity}" 
                                                                 valueChangeListener="#{invBalanceController.handleSelectInventoryNumber}"  
                                                                 filterMatchMode="contains" filter="true" >
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />  
                                                    <f:selectItems id="selectservicepanaless" value="#{invBalanceController.approvedInvNoList}" var="inv" itemLabel="#{inv.inventoryCountNo}" />                            
                                                    <p:ajax update=":frmRegisterUI:registerUI" process="@this" event="change" />
                                                </p:selectOneMenu>  
                                                <p:message for="selectOneListInvNo" display="icon"/>
                                            </div>
                                            <h:outputLabel class="control-label col-sm-2" value="Store Man:"/>
                                            <div class="col-sm-4"> 
                                                <p:inputText id="txtStoreMan" readonly="true" 
                                                             required="true" requiredMessage="Store man required"
                                                             value="#{invBalanceController.storeInfoEntity.storeAdmin.firstName}"/>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px ">
                                            <h:outputLabel   class="control-label col-sm-2" value="Store Name:"/>
                                            <div class="col-sm-4">                               
                                                <p:inputText id="txtStorenames" readonly="true" 
                                                             value="#{invBalanceController.storeInfoEntity.storeName}"/>
                                                <p:message for="txtStorenames" display="icon"/>
                                            </div>  
                                            <h:outputLabel class="control-label col-sm-2" value="Budget Year:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtBudgetYear" readonly="true" 
                                                             value="#{invBalanceController.invBalanceEntity.budgetYear}"/>
                                            </div>
                                        </div> 
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Item Information</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmTblMaterialInfo">
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblInventoryBalanetSheetDetail" 
                                                             value="#{invBalanceController.inventryConting}" 
                                                             editable="true" editMode="cell"
                                                             paginator="true" paginatorPosition="bottom"  
                                                             rowIndexVar="num"  rows="10"  var="IcsInfoDtl">

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="S.No" />
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Item Code"/>
                                                        </f:facet>
                                                        <h:outputText value="#{IcsInfoDtl.itemCode.matCode}" />
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Item Name"/>
                                                        </f:facet>
                                                        <h:outputText value="#{IcsInfoDtl.itemCode.matName}" />
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Unit Measure"/>
                                                        </f:facet>
                                                        <h:outputText value="#{IcsInfoDtl.itemCode.unitMeasure1}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Quantity"/>
                                                        </f:facet>
                                                        <h:outputText value="#{IcsInfoDtl.quantity}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Bin Balance"/>
                                                        </f:facet>
                                                        <h:outputText value="#{IcsInfoDtl.itemCode.mmsBinCard.currentQuantity}"
                                                                      />
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Difference"/>
                                                        </f:facet>
                                                        <h:outputText value="#{IcsInfoDtl.quantity - IcsInfoDtl.itemCode.mmsBinCard.currentQuantity}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Remark"/>
                                                        </f:facet>
                                                        <p:cellEditor>
                                                            <f:facet name="output">
                                                                <h:outputText value="#{IcsInfoDtl.remark}"  />
                                                            </f:facet>
                                                            <f:facet name="input">
                                                                <p:inputText  id="inp" required="true" value="#{IcsInfoDtl.remark}" style="width: 96%" 
                                                                              >
                                                                    <f:validateLength minimum="1" />
                                                                </p:inputText>
                                                            </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                </p:dataTable> 
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px " > 
                                <h:panelGroup id="frmApproverInfo">
                                    <div class="form-horizontal col-sm-12 "> 
                                        <div class="form-group textBoxMargin6px required ">
                                            <p:outputLabel id="lbl_tetprepareby" class="control-label col-sm-2"  value="Prepared by:"/>

                                            <div class="col-sm-4 required">
                                                <p:inputText   id="txtprepareby"  
                                                               value="#{invBalanceController.userName}" readonly="true"
                                                               required="true" requiredMessage="prepared by is required"
                                                               />                                             
                                            </div>
                                            <h:outputLabel id="lbl_Decision"  class="control-label col-sm-2" value="Decicsion:" rendered="#{invBalanceController.renderDecision}"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="drdDecision" style="width: 100%" value="#{invBalanceController.selectedValue}" rendered="#{invBalanceController.renderDecision}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="Approve" itemValue="Approve"/>
                                                    <f:selectItem itemLabel="Reject" itemValue="Reject"/>
                                                </p:selectOneMenu>   
                                            </div>      
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel for="txtApprovedDate" class="control-label col-sm-2" value="Prepared On:"/>                                                                        
                                            <div class="col-sm-4">
                                                <p:inputText id="txtApprovedDate" class="form-control" value="#{invBalanceController.wfMmsProcessed.processedOn}"
                                                             required="true" requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                             onclick="displayCalendar('frmRegisterUI:txtApprovedDate', 'frmRegisterUI:txtApprovedDate');" />                                                                                                                                                    
                                                <p:message for="txtApprovedDate" display="icon"/>
                                            </div>
                                            <h:outputLabel id="lbl_prepareRemxasrk"  class="control-label col-sm-2" value="comment:" rendered="#{invBalanceController.renderDecision}"/>
                                            <div class="col-sm-4">
                                                <p:inputTextarea id="txtprepareRemassrk" class="form-control" value="#{invBalanceController.wfMmsProcessed.commentGiven}"  rendered="#{invBalanceController.renderDecision}"/>     
                                            </div> 
                                        </div>                                    
                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel  class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton  id="saveButton" class="btn btn-primary"
                                                                  value="#{invBalanceController.saveorUpdateBundle}" 
                                                                  action="#{invBalanceController.saveInventoryBalanceSheet}" 
                                                                  process="@this,frmGatePassDtlInfo,frmTblMaterialInfo,frmApproverInfo"
                                                                  update="frmGatePassDtlInfo,frmTblMaterialInfo,frmApproverInfo"/>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
