<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>
            </div>
        </h:form>
    </ui:define>
    <ui:define name="navigaion_content">
        <li><a href="stockItemLost.xhtml"><i class="fa fa-circle-o"></i> <span>Lost Stock Item </span></a></li> 
        <li><a href="FixedAssetTransfer.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Transfer</span></a></li> 
        <li><a href="FixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Return </span></a></li> 
        <li><a href="NonFixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> <span>Non Fixed Asset Return</span></a></li> 
        <li><a href="FixedAssetItemDisposal.xhtml"><i class="fa fa-circle-o"></i> <span>Disposal Collection</span></a></li> 
        <li><a href="Disposal.xhtml  "><i class="fa fa-circle-o"></i> <span>Fixed Asset Disposal</span></a></li> 
        <li><a href="StockDisposal.xhtml"><i class="fa fa-circle-o"></i> <span>Stock Item Disposal</span></a></li> 
        <li><a href="InventoryBalanceSheet.xhtml"><i class="fa fa-circle-o"></i> <span>Inventory Balance Sheet</span></a></li> 
        <li><a href="InventoryCountSheet.xhtml"><i class="fa fa-circle-o"></i> <span>Inventory Count Sheet</span></a></li> 
        <li><a href="NeedAssessment.xhtml"><i class="fa fa-circle-o"></i> <span>Need Assessment</span></a></li> 
        <li><a href="NeedAssessmentCollected.xhtml"><i class="fa fa-circle-o"></i> <span>Need Assessment Collected</span></a></li> 
    </ui:define>
    <ui:define name="contents">   
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pngBackSarch" rendered="#{lostFixedAssetController.renderpnlToSearchPage}">
                        <p:commandButton id="btnBackToSearch" action="#{lostFixedAssetController.goBackToSearchpageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="Back to Search" />

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    </h:panelGroup>
                    <p:commandButton id="btnNew" action="#{lostFixedAssetController.createNewLostItemInfo()}" icon="#{lostFixedAssetController.icone}" validateClient="true" 
                                     style="background-color: white;border-color: white" rendered="#{disposalController.isRenderCreate}" 
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{lostFixedAssetController.createOrSearchBundle}"  />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <h:panelGroup id="pnlGNotifica" rendered="#{lostFixedAssetController.isRenderedIconNitification}">
                        <span  class="NotificationText"> #{lostFixedAssetController.mmsLostList.size()} </span>
                        <p:commandLink id="cmdLinkNotf" class="fa fa-fw fa-bell" 
                                       title="Notification" />
                        <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblReqNotf" value="Lost Item  List"/>

                            <div class="col-md-12 textBoxMargin6px">     
                                <div class="form-group">  
                                    <div class="col-sm-8">                                                               
                                        <p:selectOneListbox id="lstNotf" class="col-sm-8" style="width: 470px; height: 350px;" filterMatchMode="contains" filter="true"
                                                            converter="entConverter" valueChangeListener="#{lostFixedAssetController.onSelectRequest}" scrollHeight="300">
                                            <f:selectItems  var="srListVar" value="#{lostFixedAssetController.mmsLostList}"
                                                            itemValue="#{srListVar}"  itemLabel="#{srListVar.lostItemNo}"/> 
                                            <p:ajax event="valueChange"  process="@this"  update=":frmRegisterUI, :frmMainUI, :frmToolbar"/>
                                        </p:selectOneListbox>
                                    </div>                               
                                </div> 
                            </div> 
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="pnlWorkflow" rendered="#{lostFixedAssetController.isRenderedIconWorkflow}">
                        <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                       title="Work Flow" style="background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblFaWf" value="Work Flow"/>                          
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <h:form id="frmWf"> 
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblWf" value="#{lostFixedAssetController.wfMmsProcessedDataModel}" rowIndexVar="num" var="wfVar" 
                                                                 rows="10" paginator="true" paginatorPosition="bottom" >
                                                        <p:column headerText="S/N" width="60">
                                                            <h:outputText value="#{num+1}"/>
                                                        </p:column> 
                                                        <p:column headerText="Processed By">
                                                            <h:outputText value="#{wfVar.processedBy}" /> 
                                                        </p:column>
                                                        <p:column headerText="Processed On">
                                                            <h:outputText value="#{wfVar.processedOn}" /> 
                                                        </p:column>
                                                        <p:column headerText="Decision">
                                                            <h:outputText value="#{wfVar.decision}" /> 
                                                        </p:column>

                                                        <p:column headerText="Comment Given">
                                                            <h:outputText value="#{wfVar.commentGiven}" /> 
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>    
                                    </h:form>
                                </div>
                            </div>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                        <a href="../../mms/InventoryInformation/mmsLostFixedAsset.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                        <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{lostFixedAssetController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchGatePass"> 
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Lost No:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtPartyName" class="form-control" value="#{lostFixedAssetController.lostFxAssetEntity.lostItemNo}"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel id="findbtn" class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnSearch" class="btn btn-primary" action="#{lostFixedAssetController.searchLostItemInformation1()}" icon="ui-icon-search" 
                                                                 process="@this,frmSearchGatePass" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                                 value="Find" style="font-family: monospace; font-style: normal; font-weight: normal; left: 0px;"/>            
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <br></br>    
                        <br></br>
                        <br></br>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmGatepass">   
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMargin6px">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblgatePassInfo" var="LostItemInfo" rows="7" 
                                                             style="font-family: Cambria; "  
                                                             rowIndexVar="count"   
                                                             selection="#{lostFixedAssetController.hpSelect}"
                                                             rowKey="#{LostItemInfo.lostItemId}"  selectionMode="single" 
                                                             value="#{lostFixedAssetController.mmsLostItemSearchInfoDtlDataModel}"
                                                             paginator="true" paginatorPosition="bottom">
                                                    <p:ajax event="rowSelect" listener="#{lostFixedAssetController.rowSelect}" 
                                                            update=":frmRegisterUI,:frmMainUI,:frmToolbar" process="@this,:frmRegisterUI"/>      
                                                    <p:column headerText="S.No">
                                                        #{num+1}
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Lost Item no" />
                                                        </f:facet>
                                                        <h:outputText value="#{LostItemInfo.lostItemNo}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Employee Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{LostItemInfo.employeeName}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{LostItemInfo.storeId}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Registration date" />
                                                        </f:facet>
                                                        <h:outputText value="#{LostItemInfo.regDate}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Department" />
                                                        </f:facet>
                                                        <h:outputText value="#{LostItemInfo.department}"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>                 
                                        </div>    
                                    </div>  
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <!-- Registration Form-->
        <h:form id="frmRegisterUI">
            <p:growl id="growlmain" showDetail="true" severity="information,fatal" life="3500" autoUpdate="true" />       
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{lostFixedAssetController.renderPnlCreateLostItem}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lost Fixed Asset Registration</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmGatePassDtlInfo">                                  
                                    <div class="form-horizontal  col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Lost Item No:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtGatePassNumber" readonly="true"  
                                                             value="#{lostFixedAssetController.generateLostItemNo()}"/>
                                            </div>
                                            <h:outputLabel id="lblDateAccepted1" class="control-label col-sm-2" value="Registration Date:" for="calAceptedDate"/>
                                            <div class="col-sm-4">                                        
                                                <p:inputText id="calAceptedDate" value="#{lostFixedAssetController.lostFxAssetEntity.regDate}"
                                                             placeholder="dd/mm/yyyy" required="true" requiredMessage="Date is required"  title="Request date"
                                                             onclick="displayCalendar('frmRegisterUI:calAceptedDate', 'frmRegisterUI:calAceptedDate');" validator="#{validatorManagedBean.Date}" readonly="#{workFlow.readonly}"/>
                                                <p:message for="calAceptedDate" display="icon"/>

                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel class="control-label col-sm-2" value="Region Name:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="selectRegion"   required="true" requiredMessage="Select A Region" 
                                                                   style="width: 100%;"
                                                                   value="#{lostFixedAssetController.lostFxAssetEntity.regionName}"  
                                                                   disabled="#{workFlow.readonly}">  
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                    <f:selectItem itemLabel="Addis Ababa" itemValue="Addis Ababa" />
                                                    <f:selectItem itemLabel="Oromia" itemValue="Oromia" />
                                                    <f:selectItem itemLabel="Tigray" itemValue="Tigray" />
                                                    <f:selectItem itemLabel="Afar" itemValue="Afar" />
                                                    <f:selectItem itemLabel="Dire Dawa" itemValue="Dire Dawa" />
                                                    <f:selectItem itemLabel="Gambella" itemValue="Gambella" />
                                                    <f:selectItem itemLabel="Amhara" itemValue="Amhara" />
                                                    <f:selectItem itemLabel="Benshangul" itemValue="Benshangul" />
                                                    <f:selectItem itemLabel="Somalia" itemValue="Somalia" />
                                                    <f:selectItem itemLabel="SNNPR" itemValue="SNNPR" />
                                                    <f:selectItem itemLabel="SNN" itemValue="SNN" />
                                                    <p:ajax update=":frmRegisterUI:frmTblMaterialInfo:" event="change" />
                                                </p:selectOneMenu> 
                                                <p:message for="selectRegion" display="icon"/>
                                            </div>
                                            <div >
                                                <h:outputLabel class="control-label col-sm-2" value="Store Name:"/>
                                                <div class="col-sm-4 required">
                                                    <p:selectOneMenu id="stNameFx" value="#{lostFixedAssetController.storeInfoEntity.storeId}"  style="width: 100%" 
                                                                     valueChangeListener="#{lostFixedAssetController.handleSelectStoreName1}" converter="entConverter"
                                                                     required="true" requiredMessage="Select Store Name"   disabled="#{workFlow.readonly}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                        <f:selectItems value="#{lostFixedAssetController.storeInfoLst}" var="listStF" itemLabel="#{listStF.storeName}" itemValue="#{listStF.storeId}" />
                                                        <p:ajax update="@this" event="change" />
                                                    </p:selectOneMenu> 
                                                      <p:message for="stNameFx" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required"> 
                                            <p:outputLabel  class="control-label col-sm-2" value="Department:"/> 
                                            <div class="col-sm-3 required">
                                                <p:inputText   id="txtDepartment"  required="true" 
                                                               requiredMessage="Department is required" title="department"  placeholder="Use Only From + Button" onmousedown="return false;"
                                                               value="#{lostFixedAssetController.hrDepartmentsEntity.depName}"  />
                                                <p:message for="txtDepartment" display="icon"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <p:commandButton  id="btnTree" onclick="PF('dlgDpt').show();"  partialSubmit="true" style="background: transparent;" value="+"/>
                                            </div>
                                            <h:outputLabel class="control-label col-sm-2" value="Status:" rendered="#{workFlow.readonly}" />
                                            <div class="col-sm-4">
                                                <p:inputText id="drdTypeOfTransfer"  rendered="#{workFlow.readonly}"
                                                             value="#{lostFixedAssetController.lostFxAssetEntity.status}" />

                                            </div>
                                        </div>                                    
                                        <p:dialog id="dlgDpt" header="Departments" widgetVar="dlgDpt" height="300" width="500" showEffect="explode">
                                            <h:panelGrid columns="3" style="border-color: #ffffff ">
                                                <p:tree value="#{lostFixedAssetController.root2}" var="nodes" style="border: transparent; width: 100%"
                                                        selectionMode="single" selection="#{lostFixedAssetController.selectedNode}" >
                                                    <p:ajax event="select" listener="#{lostFixedAssetController.onNodeSelect}" process="@this" 
                                                            update=":frmRegisterUI:txtDepartment"/>
                                                    <p:treeNode>
                                                        <h:outputText value="#{nodes}" />
                                                    </p:treeNode>
                                                </p:tree>                                       
                                            </h:panelGrid>
                                        </p:dialog>                                    
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lost Item Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmMaterialInfo"  >
                                    <div class="form-horizontal col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel  for="stName2"  class="control-label col-sm-2" value="Tag No:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="stName2" value="#{lostFixedAssetController.fixedAssetRegDtlEntity}"  style="width: 100%"  filter="true" filterMatchMode="contains"
                                                                 valueChangeListener="#{lostFixedAssetController.handleTagNo}" converter="entConverter"
                                                                 required="true" 
                                                                 requiredMessage="Tag No is required"
                                                                 converterMessage="Tag No is required" disabled="#{workFlow.readonly}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                    <f:selectItems value="#{lostFixedAssetController.fixedAssetDtlList}" var="listSt" itemLabel="#{listSt}" itemValue="#{listSt}" />
                                                    <p:ajax update="@this,frmMaterialInfo" event="change" />
                                                </p:selectOneMenu> 
                                                <p:message for="stName2" display="icon"/>
                                            </div>
                                            <h:outputLabel id="txtItemName" class="control-label col-sm-2" value="Item Name:" />
                                            <div class="col-sm-4">
                                                <p:inputText id="lblMatCode" 
                                                             value="#{lostFixedAssetController.lostFxAssetDetailEntity.itemName}"
                                                             readonly="true"
                                                             />
                                                <p:message for="lblMatCode" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel  for="txtQuantity"  class="control-label col-sm-2" value="Description:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtQuantity" 

                                                               value="#{lostFixedAssetController.lostFxAssetDetailEntity.description}"
                                                               />
                                                <p:message for="txtQuantity" display="icon" />
                                            </div>                                         
                                            <h:outputLabel  for="txtUnit" class="control-label col-sm-2" value="Book Value:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtUnit"  
                                                               readonly="true" 
                                                               value="#{lostFixedAssetController.lostFxAssetDetailEntity.bookValue}"/>
                                                <p:message for="txtUnit" display="icon"/>
                                            </div> 
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel for="txtDescription" class="control-label col-sm-2" value="Duration:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtDescription" validator="#{validatorManagedBean.Text}"
                                                             value="#{lostFixedAssetController.lostFxAssetDetailEntity.duration}"
                                                             required="true" title="discription"
                                                             requiredMessage="Duration is required" readonly="#{workFlow.readonly}"/>
                                                <p:message for="txtDescription" display="icon"  />
                                            </div>
                                            <h:outputLabel for="txtAccCode" class="control-label col-sm-2" value="Account Code:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtAccCode"   
                                                             value="#{lostFixedAssetController.fixedAssetRegDtlEntity.accountCode.generalLedgerCode}"
                                                             readonly="true"/>
                                                <p:message for="txtAccCode" display="icon" />
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel for="txtRemark" class="control-label col-sm-2" value="Remark:"/>
                                            <div class="col-sm-4">
                                                <p:inputTextarea id="txtRemark" validator="#{validatorManagedBean.Text}"
                                                                 value="#{lostFixedAssetController.lostFxAssetDetailEntity.remark}" readonly="#{workFlow.readonly}"/>
                                                <p:message for="txtRemark" display="icon" />
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel id="btnAdd" class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton  id="btnSave1" class="btn btn-primary" action="#{lostFixedAssetController.addtoLostItemInfoDetail}" icon="ui-icon-add" validateClient="true" 
                                                                  process="frmMaterialInfo" update=":frmRegisterUI:frmTblMaterialInfo,:frmRegisterUI:frmMaterialInfo"
                                                                  value="#{lostFixedAssetController.addOrModifyBundle}" style="font-family: monospace; font-style: normal; font-weight: normal; left: 0px;"/>            

                                            </div>
                                        </div>
                                    </div>
                                    <br></br>
                                </h:panelGroup>
                                <h:panelGroup id="frmTblMaterialInfo">
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMargin6px">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblMaterial" value="#{lostFixedAssetController.lostFxAssetAddDetailDataModel}" rowIndexVar="rowContact" var="LostItem"
                                                             paginator="true" paginatorPosition="bottom" editable="true">
                                                    <p:ajax event="rowEdit"  update="" />
                                                    <p:ajax event="rowEditCancel"  update="" />
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="No"/>
                                                        </f:facet>
                                                        <h:outputText value="#{rowContact+1}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Tag No" />
                                                        </f:facet>
                                                        <h:outputText value="#{LostItem.tagNo}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Item Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{LostItem.itemName}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Description" />
                                                        </f:facet>
                                                        <h:outputText value="#{LostItem.description}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Book Value" />
                                                        </f:facet>
                                                        <h:outputText value="#{LostItem.bookValue}"/>
                                                    </p:column>

                                                    <p:column headerText="Duration">
                                                        <p:cellEditor>
                                                            <f:facet name="output"><h:outputText value="#{LostItem.duration}" /></f:facet>
                                                            <f:facet name="input"><p:inputText id="remark5" value="#{LostItem.duration}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column headerText="Remark">
                                                        <p:cellEditor>
                                                            <f:facet name="output"><h:outputText value="#{LostItem.remark}" /></f:facet>
                                                            <f:facet name="input"><p:inputText id="remarkd" value="#{LostItem.remark}" style="width:100%"/></f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                    <p:column headerText="Option">
                                                        <p:commandLink action="#{lostFixedAssetController.editDataTable}" value="Edit" 
                                                                       process="@this,:frmRegisterUI:tblMaterial"
                                                                       update="@this,:frmRegisterUI:frmMaterialInfo"/>
                                                    </p:column> 
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmApproverInfo">
                                    <div class="form-horizontal col-sm-12">
                                        <h:form id="formcontract" prependId="false" enctype="multipart/form-data" dir="" >            
                                            <p:panelGrid columns="1" style="float: left;"> 
                                                <h:outputLabel id="uploadfile1" class="control-label col-sm-2" value=" Attach File:"/>                                               
                                                <p:fileUpload  id="fileUplod" cancelLabel="#{contenu.annuler}"
                                                               fileUploadListener="#{lostFixedAssetController.uploadHandling}"
                                                               value="#{lostFixedAssetController.mmsLuDmArchive.documentId}" 
                                                               allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpg|mkv|JPG)$/"
                                                               invalidFileMessage="This type of file is not Allowed"
                                                               invalidSizeMessage="The size is not Allowed"
                                                               multiple="false" mode="advanced" sizeLimit="100000" auto="true" process="tblSavedDoc" update="tblSavedDoc"/>
                                                <p:dataTable id="tblSavedDoc"  var="currentRow" sortBy="#{currentRow.fileName}"  rowIndexVar="current" value="#{disposalController.mmsLuDmArchivesDModel}"
                                                             paginator="true" selectionMode="single" rowKey="#{currentRow.documentId}" paginatorPosition="bottom"
                                                             selection="#{lostFixedAssetController.mmsLuDmArchiveSelection}"
                                                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                             rowsPerPageTemplate="5,10,15" style="border: none; font-family: 'Lucida Sans'; font-size: 11px; font-style: normal; font-weight: lighter; width:950px;">
                                                    <p:ajax event="rowSelect" listener="#{lostFixedAssetController.onRowSelectFileUploaded}" update="tblSavedDoc" />
                                                    <f:facet name="header">
                                                        <p:column headerText="File Name From DBMS">
                                                            <p:outputLabel value="#{currentRow.fileName}"/>
                                                        </p:column>
                                                        <p:column headerText="Download">
                                                            <p:panelGrid>
                                                                <p:commandButton id="cmdDownd" ajax="false" icon="ui-icon-arrowthick-1-s" title="Downloading">
                                                                    <p:fileDownload value="#{lostFixedAssetController.download}" />
                                                                </p:commandButton> 
                                                            </p:panelGrid>
                                                        </p:column>
                                                    </f:facet>
                                                </p:dataTable>
                                            </p:panelGrid>
                                        </h:form> 
                                    </div>
                                    <br></br>
                                    <br></br>
                                    <br></br>
                                    <br></br>
                                    <div class="form-horizontal col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel for="txtRequestedBy" class="control-label col-sm-2" value="Processed By:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtRequestedBy"   validator="#{validatorManagedBean.Text}"
                                                             value="#{lostFixedAssetController.userName}"
                                                             required="true"
                                                             requiredMessage="Name is required" readonly="true" />
                                                <p:message for="txtRequestedBy" display="icon" />
                                            </div>
                                            <h:outputLabel for="txtAcceptedDate" class="control-label col-sm-2" value="Processed On:"/>                                                                        
                                            <div class="col-sm-4 required">

                                                <p:inputText id="txtAcceptedDate" value="#{lostFixedAssetController.workFlow.processedOn}"
                                                             required="true"  requiredMessage="Date is required" title="processed on" validator="#{validatorManagedBean.Date}"
                                                             onclick="displayCalendar('frmRegisterUI:txtAcceptedDate', 'frmRegisterUI:txtAcceptedDate');" />                                                                                                                                                    
                                                <p:message for="txtAcceptedDate" display="icon"/>
                                            </div>
                                        </div>                                   
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel id="lbl_Decision"  class="control-label col-sm-2" value="Decision:" rendered="#{lostFixedAssetController.renderDecision}"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="drdDecision" style="width: 100%" value="#{lostFixedAssetController.selectedValue}" rendered="#{lostFixedAssetController.renderDecision}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItem itemLabel="Approve" itemValue="Approve"/>
                                                    <f:selectItem itemLabel="Reject" itemValue="Reject"/>
                                                </p:selectOneMenu>   
                                            </div> 
                                            <h:outputLabel id="lbl_prepareRemxasrk"  class="control-label col-sm-2" value="comment:" rendered="#{lostFixedAssetController.renderDecision}"/>
                                            <div class="col-sm-4">
                                                <p:inputTextarea id="txtprepareRemassrk" class="form-control" value="#{lostFixedAssetController.workFlow.commentGiven}"  rendered="#{lostFixedAssetController.renderDecision}"/>     
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="form-group textBoxMargin6px"> 
                                        <h:outputLabel id="btnsave" class="control-label col-sm-2"/>
                                        <div class="col-sm-4">
                                            <p:commandButton id="btnSave" class=" btn btn-primary" action="#{lostFixedAssetController.saveLostFA()}" icon="ui-icon-new" validateClient="true" 
                                                             process="@this,:frmRegisterUI:frmGatePassDtlInfo,:frmRegisterUI:frmTblMaterialInfo,:frmRegisterUI:frmApproverInfo"  
                                                             update=":frmRegisterUI:frmGatePassDtlInfo,:frmRegisterUI:frmTblMaterialInfo,:frmRegisterUI,:frmToolbar" 
                                                             value="#{lostFixedAssetController.saveorUpdateBundle}"/> 
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
