<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">



        <li><a href="NeedAssessment.xhtml"><i class="fa fa-circle-o"></i> <span>Need Assessment</span></a></li> 
        <li><a href="InventoryCountSheet.xhtml"><i class="fa fa-circle-o"></i> <span>Inventory Count Sheet</span></a></li> 
        <li><a href="InventoryBalanceSheet.xhtml"><i class="fa fa-circle-o"></i> <span>Inventory Balance Sheet</span></a></li> 
        <li><a href="stockItemLost.xhtml"><i class="fa fa-circle-o"></i> <span>Lost Stock Item</span></a></li> 

        <li><a href="mmsLostFixedAsset.xhtml"><i class="fa fa-circle-o"></i> <span>Lost Fixed Asset</span></a></li> 
        <li><a href="FixedAssetTransfer.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Transfer</span></a></li> 

        <li><a href="FixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> <span>Fixed Asset Return </span></a></li> 
        <li><a href="NonFixedAssetReturn.xhtml"><i class="fa fa-circle-o"></i> <span>Non Fixed Asset Return</span></a></li> 
        <li><a href="FixedAssetItemDisposal.xhtml"><i class="fa fa-circle-o"></i> <span>Disposal Collection</span></a></li> 
        <li><a href="Disposal.xhtml  "><i class="fa fa-circle-o"></i> <span>Fixed Asset Disposal</span></a></li> 
        <li><a href="StockDisposal.xhtml"><i class="fa fa-circle-o"></i> <span>Stock Item Disposal</span></a></li> 



    </ui:define>
    <ui:define name="contents">

        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/InventoryInformation/NeedAssessmentCollected.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">

                    <div class="box-header">
                        <h3 class="box-title">Need Assessment Summary</h3>                       
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frm1" class="form-horizontal"> 
                                <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information"/>  

                                <div id="needAssmntcheckedPnl" class="panel panel-info">

                                    <div  class="panel-body">
                                        <div class="form-horizontal  col-sm-12">  

                                            <div class="form-group textBoxMargin6px required">   

                                                <p:outputLabel  id="lbl_selectTypeList" class="control-label col-sm-2" value="Assessment Type:"/>
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu   id="selectTypeList" style="width: 100%"  required="true"  requiredMessage="Type Is required"
                                                                       value="#{needAssessmentCollectionController.needAssessmentEntitysTemp.purchaseType}"
                                                                       valueChangeListener="#{needAssessmentCollectionController.handleSelectAssessmentType}" 
                                                                       > 
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" />
                                                        <f:selectItem itemLabel="Goods" itemValue="Goods" />
                                                        <f:selectItem itemLabel="Service" itemValue="Service" />
                                                        <f:selectItem itemLabel="Work" itemValue="Work" />
                                                        <p:ajax update="frm1" process="@this" event="change" />
                                                    </p:selectOneMenu>
                                                    <p:message for="selectTypeList" display="icon"/>

                                                </div>
                                            </div>

                                            <div class="form-group textBoxMargin6px required">   

                                                <p:outputLabel  id="lbl_selectStoreList" class="control-label col-sm-2" value="Store Name:" rendered="#{needAssessmentCollectionController.renderGoods}"/>
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu   id="selectStoreList" style="width: 100%"  required="true"  requiredMessage="Store Name Is required" rendered="#{needAssessmentCollectionController.renderGoods}"
                                                                       converter="entConverter"    value="#{needAssessmentCollectionController.storeInfoEntity}"
                                                                       valueChangeListener="#{needAssessmentCollectionController.handleSelectStoreName}" 
                                                                       > 
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                        <f:selectItems id="selectOneMenuQualification" 
                                                                       value="#{needAssessmentCollectionController.storeList}" var="store" itemLabel="#{store.storeName}" itemValue="#{store}"
                                                                       />
                                                        <p:ajax update="selectStoreList" process="@this" event="change" />
                                                    </p:selectOneMenu>
                                                    <p:message for="selectStoreList" display="icon"/>

                                                </div>
                                            </div>

                                            <div class="form-group textBoxMargin6px"> 
                                                <p:outputLabel id="lblBudgetYear" class="control-label col-sm-2" value="Budget Year:"/>
                                                <div class="col-sm-4">

                                                    <p:selectOneMenu   id="selectBudgetYearList"  style="width: 100%;" required="true" requiredMessage="Budget Year is Required"
                                                                       converter="entConverter"  value="#{needAssessmentCollectionController.fmsLubudgetYear}"
                                                                       valueChangeListener="#{needAssessmentCollectionController.handleSelectBudgetYear}" >      
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue="" /> 
                                                        <f:selectItems id="selectOneMenuYearInfo" 
                                                                       value="#{needAssessmentCollectionController.activePeriodList}"  var="year" itemValue="#{year}" />
                                                        <p:ajax update="tblNeedAssessDetailCompiledFirst,tblNeedAssessServiceDetailCompiledFirst"
                                                                process="@this" event="change" />
                                                    </p:selectOneMenu>
                                                    <p:message for="selectBudgetYearList" display="icon" />
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <h:panelGroup id="goodsPanel" rendered="#{needAssessmentCollectionController.renderGoods}">
                                    <div class="panel panel-info">

                                        <div class="form-group ">
                                            <div class="col-sm-11">    
                                                <h:panelGrid id="pnGridTables"  > 
                                                    <p:dataTable paginatorPosition="bottom"   paginator="true" 
                                                                 id="tblNeedAssessDetailCompiledFirst"    selectionMode="single" class="dataTable"  var="needAssDetialcomp"
                                                                 selection="#{needAssessmentCollectionController.selectedNeed}" rowKey="#{needAssDetialcomp.assessmetDtlId}"
                                                                 value="#{needAssessmentCollectionController.mmsNeedAssessDtlCollectedDataModel}"  
                                                                 rowIndexVar="num"  rows="5"  >
                                                        <p:ajax event="rowSelect" listener="#{needAssessmentCollectionController.populateDepartments}"  />  
                                                        <p:column id="sno">
                                                            <f:facet name="header">                   
                                                                <h:outputText value="S.No"/>                
                                                            </f:facet>
                                                            <h:outputText value="#{num+1}"/>                       
                                                        </p:column>

                                                        <p:column id="matCode">                    
                                                            <f:facet name="header">
                                                                <h:outputText value="Item Code"/>               
                                                            </f:facet>
                                                            <h:outputText value="#{needAssDetialcomp.itemId.matCode}" />                
                                                        </p:column>   

                                                        <p:column id="matName">                    
                                                            <f:facet name="header">
                                                                <h:outputText value="Item Name"/>               
                                                            </f:facet>
                                                            <h:outputText value="#{needAssDetialcomp.itemId.matName}" />                
                                                        </p:column>   

                                                        <p:column id="unitMeasure">                    
                                                            <f:facet name="header">
                                                                <h:outputText value="Unit Measure"/>               
                                                            </f:facet>
                                                            <h:outputText value="#{needAssDetialcomp.itemId.unitMeasure1}" />                
                                                        </p:column>   

                                                        <p:column id="quantity">
                                                            <f:facet name="header">
                                                                <h:outputText value="Quantity"/>
                                                            </f:facet>
                                                            <h:outputText value="#{needAssDetialcomp.quantitycompiled}"/>
                                                        </p:column>
                                                        <p:column id="uPrice">                                     
                                                            <f:facet name="header">
                                                                <h:outputText value="Estimated price"/>
                                                            </f:facet>
                                                            <h:outputText value="#{needAssDetialcomp.unitPrice}"/>




                                                        </p:column>
                                                        <p:column id="totalprice">
                                                            <f:facet name="header">
                                                                <h:outputText value="Total Price"/>
                                                            </f:facet>
                                                            <h:outputText value="#{needAssDetialcomp.totalCompiledPrice}"/>
                                                        </p:column>

                                                        <f:facet name="header">
                                                            <p:commandButton class="btn box-primary" process="tblNeedAssessDetailCompiledFirst" update=":frm1:carDetail" id="btnTree" onclick="PF('depDialog').show();" icon="ui-icon-search"  style=" alignment: left; background: transparent; " value="View Departments"/>
                                                        </f:facet>

                                                    </p:dataTable> 
                                                </h:panelGrid>  
                                            </div>
                                        </div>

                                    </div> 
                                </h:panelGroup>
                                <h:panelGroup id="servicePanel" rendered="#{needAssessmentCollectionController.renderServiceAndWorkTbl}">
                                    <div class="panel panel-info">

                                        <div class="form-group ">
                                            <div class="col-sm-11">    
                                                <h:panelGrid id="pnGridTabless"  > 
                                                    <p:dataTable paginatorPosition="bottom"   paginator="true" 
                                                                 id="tblNeedAssessServiceDetailCompiledFirst"    selectionMode="single" class="dataTable"  var="needAssServiceDetialcomp"
                                                                 selection="#{needAssessmentCollectionController.selectedService}" rowKey="#{needAssServiceDetialcomp.assessmentDtlId}"
                                                                 value="#{needAssessmentCollectionController.mmsNeedAssessCollectedServiceDataModel}"  
                                                                 rowIndexVar="num"  rows="5"  >
                                                        <p:ajax event="rowSelect" listener="#{needAssessmentCollectionController.populateDepartments}"  />  
                                                        <p:column id="snos">
                                                            <f:facet name="header">                   
                                                                <h:outputText value="S.No"/>                
                                                            </f:facet>
                                                            <h:outputText value="#{num+1}"/>                       
                                                        </p:column>
                                                        <p:column id="serviceName" rendered="#{needAssessmentCollectionController.renderService}">                    
                                                            <f:facet name="header">
                                                                <h:outputText value="Service Name"/>               
                                                            </f:facet>
                                                            <h:outputText value="#{needAssServiceDetialcomp.serviceId.serviceName}" />                
                                                        </p:column>   
                                                        <p:column id="workName" rendered="#{needAssessmentCollectionController.renderWork}">                    
                                                            <f:facet name="header">
                                                                <h:outputText value="Work Name"/>               
                                                            </f:facet>
                                                            <h:outputText value="#{needAssServiceDetialcomp.serviceId.workName}" />                
                                                        </p:column>   

                                                        <p:column id="serviceNum" rendered="#{needAssessmentCollectionController.renderService}">                    
                                                            <f:facet name="header">
                                                                <h:outputText value="Service No"/>               
                                                            </f:facet>
                                                            <h:outputText value="#{needAssServiceDetialcomp.serviceId.serviceNo}" />                
                                                        </p:column>   
                                                        <p:column id="workNum" rendered="#{needAssessmentCollectionController.renderWork}">                    
                                                            <f:facet name="header">
                                                                <h:outputText value="Work No"/>               
                                                            </f:facet>
                                                            <h:outputText value="#{needAssServiceDetialcomp.serviceId.workNo}" />                
                                                        </p:column>   

                                                        <p:column id="serquantity">
                                                            <f:facet name="header">
                                                                <h:outputText value="Quantity"/>
                                                            </f:facet>
                                                            <h:outputText value="#{needAssServiceDetialcomp.serviceId.currentStatus}"/>
                                                        </p:column>


                                                        <f:facet name="header">
                                                            <p:commandButton class="btn box-primary" process="tblNeedAssessServiceDetailCompiledFirst" update=":frm1:carDetail" id="btnTrees" onclick="PF('depDialogs').show();" icon="ui-icon-search"  style=" alignment: left; background: transparent; " value="View Departments"/>
                                                        </f:facet>

                                                    </p:dataTable> 
                                                </h:panelGrid>  
                                            </div>
                                        </div>

                                    </div> 
                                </h:panelGroup>

                                <div class="panel panel-info">
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">

                                            <div class="form-group textBoxMargin6px required"> 
                                                <p:outputLabel  id="lblCollectedBy"  class="control-label col-sm-2" value="Prepared By:"/>
                                                <div class="col-sm-4">
                                                    <p:inputText id="txtCollectedBy" class="form-control" required="true"
                                                                 requiredMessage="Prepared Name is Required" readonly="true"
                                                                 value="#{needAssessmentCollectionController.userName}"
                                                                 validator="#{validatorManagedBean.Text}" validatorMessage="Pls Use Only Letters with 3 and more" />
                                                    <p:message for="txtCollectedBy" display="icon"/>
                                                </div>


                                                <h:outputLabel for="txtPreparedDate" class="control-label col-sm-2" value="Prepared On:"/>                                                                        
                                                <div class="col-sm-4">
                                                    <p:inputText id="txtPreparedDate" class="form-control"    value="#{needAssessmentCollectionController.needAssessmentEntitys.checkdedDate}"
                                                                 required="true" requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                                 onclick="displayCalendar('frm1:txtPreparedDate', 'frm1:txtPreparedDate');" />                                                                                                                                                    
                                                    <p:message for="txtPreparedDate" display="icon"/>
                                                </div> 

                                            </div>
                                            <h:panelGroup id="frmApproverInfo1">
                                                <p:dialog header="Requesting Departments" widgetVar="depDialogs" 
                                                          width="750"  modal="true" resizable="false" showEffect="explode" >
                                                    <p:outputPanel id="departmentDetail" style="text-align:center;">
                                                        <h:panelGrid>


                                                            <p:dataTable paginatorPosition="bottom"   paginator="true" 
                                                                         id="tblNeedAssessDetailserviceDepartments"  editable="true" editMode="cell" 
                                                                         value="#{needAssessmentCollectionController.requestingDepartmentsDataModelForServiceAndWork}"  
                                                                         rowIndexVar="num"  rows="10"  var="needAssDetialcomps" >
                                                                <p:column id="snoss">
                                                                    <f:facet name="header">                   
                                                                        <h:outputText value="S.No"/>                
                                                                    </f:facet>
                                                                    <h:outputText value="#{num+1}"/>                       
                                                                </p:column>

                                                                <p:column id="matCode" rendered="#{needAssessmentCollectionController.renderGoods}">                    
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Item Code"/>               
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomps.itemId.matCode}"  />                
                                                                </p:column>   

                                                                <p:column id="matName" rendered="#{needAssessmentCollectionController.renderGoods}">                    
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Item Name"/>               
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomps.itemId.matName}" />                
                                                                </p:column>   
                                                                <p:column id="servicenames" rendered="#{needAssessmentCollectionController.renderService}">                    
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Service Name"/>               
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomps.serviceId.serviceName}" />                
                                                                </p:column>   
                                                                <p:column id="worknames">                    
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Work Name" rendered="#{needAssessmentCollectionController.renderWork}"/>               
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomps.serviceId.serviceName}" />                
                                                                </p:column>   



                                                                <p:column id="department">                                     
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Department"/>
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomps.depNames}"/>
                                                                </p:column>

                                                                <p:column id="reqQuantity">                                     
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Requested Quantity"/>
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomps.requestQuantity}"/>
                                                                </p:column>






                                                            </p:dataTable> 

                                                        </h:panelGrid>
                                                    </p:outputPanel>
                                                </p:dialog>
                                            </h:panelGroup>
                                            <h:panelGroup id="frmApproverInfo">
                                                <p:dialog header="Requesting Departments" widgetVar="depDialog" 
                                                          width="750"  modal="true" resizable="false" showEffect="explode" >
                                                    <p:outputPanel id="carDetail" style="text-align:center;">
                                                        <h:panelGrid>


                                                            <p:dataTable paginatorPosition="bottom"   paginator="true" 
                                                                         id="tblNeedAssessDetailDepartments"  editable="true" editMode="cell" 
                                                                         value="#{needAssessmentCollectionController.requestingDepartmentsDataModel}"  
                                                                         rowIndexVar="num"  rows="10"  var="needAssDetialcomp" >
                                                                <p:column id="sno">
                                                                    <f:facet name="header">                   
                                                                        <h:outputText value="S.No"/>                
                                                                    </f:facet>
                                                                    <h:outputText value="#{num+1}"/>                       
                                                                </p:column>

                                                                <p:column id="matCode">                    
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Item Code"/>               
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomp.itemId.matCode}" />                
                                                                </p:column>   

                                                                <p:column id="matName">                    
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Item Name"/>               
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomp.itemId.matName}" />                
                                                                </p:column>   



                                                                <p:column id="department">                                     
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Department"/>
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomp.depNames}"/>
                                                                </p:column>

                                                                <p:column id="reqQuantity">                                     
                                                                    <f:facet name="header">
                                                                        <h:outputText value="Requested Quantity"/>
                                                                    </f:facet>
                                                                    <h:outputText value="#{needAssDetialcomp.requestQuantity}"/>
                                                                </p:column>






                                                            </p:dataTable> 

                                                        </h:panelGrid>
                                                    </p:outputPanel>
                                                </p:dialog> 
                                            </h:panelGroup>

                                            <div class="form-group textBoxMargin6px">
                                                <h:outputLabel id="saveNeedassessmentSummary" class="control-label col-sm-2"/>
                                                <div class="col-sm-4">
                                                    <p:commandButton  id="btnSaveButtons" class="btn btn-primary"
                                                                      value="Save" 
                                                                      action="#{needAssessmentCollectionController.saveNeedAssessmentCollected()}" 
                                                                      process="@this,frm1:frmApproverInfo,frm1:frmApproverInfo1"
                                                                      update=":frm1,:frmToolbar"/>


                                                </div>
                                            </div>
                                            <p:dialog header="Requesting Departments" widgetVar="depDialog" 
                                                      width="750"  modal="true" resizable="false" showEffect="explode" >
                                                <p:outputPanel id="carDetail" style="text-align:center;">
                                                    <h:panelGrid>


                                                        <p:dataTable paginatorPosition="bottom"   paginator="true" 
                                                                     id="tblNeedAssessDetailDepartments"  editable="true" editMode="cell" 
                                                                     value="#{needAssessmentCollectionController.requestingDepartmentsDataModel}"  
                                                                     rowIndexVar="num"  rows="10"  var="needAssDetialcomp" >
                                                            <p:column id="sno">
                                                                <f:facet name="header">                   
                                                                    <h:outputText value="S.No"/>                
                                                                </f:facet>
                                                                <h:outputText value="#{num+1}"/>                       
                                                            </p:column>

                                                            <p:column id="matCode">                    
                                                                <f:facet name="header">
                                                                    <h:outputText value="Item Code"/>               
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomp.itemId.matCode}" />                
                                                            </p:column>   

                                                            <p:column id="matName">                    
                                                                <f:facet name="header">
                                                                    <h:outputText value="Item Name"/>               
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomp.itemId.matName}" />                
                                                            </p:column>   



                                                            <p:column id="department">                                     
                                                                <f:facet name="header">
                                                                    <h:outputText value="Department"/>
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomp.depNames}"/>
                                                            </p:column>

                                                            <p:column id="reqQuantity">                                     
                                                                <f:facet name="header">
                                                                    <h:outputText value="Requested Quantity"/>
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomp.requestQuantity}"/>
                                                            </p:column>
                                                    </p:dataTable> 

                                                    </h:panelGrid>
                                                </p:outputPanel>
                                            </p:dialog> 
                                            <p:dialog header="Requesting Departments" widgetVar="depDialogs" 
                                                      width="750"  modal="true" resizable="false" showEffect="explode" >
                                                <p:outputPanel id="departmentDetail" style="text-align:center;">
                                                    <h:panelGrid>


                                                        <p:dataTable paginatorPosition="bottom"   paginator="true" 
                                                                     id="tblNeedAssessDetailserviceDepartments"  editable="true" editMode="cell" 
                                                                     value="#{needAssessmentCollectionController.requestingDepartmentsDataModelForServiceAndWork}"  
                                                                     rowIndexVar="num"  rows="10"  var="needAssDetialcomps" >
                                                            <p:column id="snoss">
                                                                <f:facet name="header">                   
                                                                    <h:outputText value="S.No"/>                
                                                                </f:facet>
                                                                <h:outputText value="#{num+1}"/>                       
                                                            </p:column>

                                                            <p:column id="matCode" rendered="#{needAssessmentCollectionController.renderGoods}">                    
                                                                <f:facet name="header">
                                                                    <h:outputText value="Item Code"/>               
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomps.itemId.matCode}"  />                
                                                            </p:column>   

                                                            <p:column id="matName" rendered="#{needAssessmentCollectionController.renderGoods}">                    
                                                                <f:facet name="header">
                                                                    <h:outputText value="Item Name"/>               
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomps.itemId.matName}" />                
                                                            </p:column>   
                                                            <p:column id="servicenames" rendered="#{needAssessmentCollectionController.renderService}">                    
                                                                <f:facet name="header">
                                                                    <h:outputText value="Service Name"/>               
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomps.serviceId.serviceName}" />                
                                                            </p:column>   
                                                            <p:column id="worknames">                    
                                                                <f:facet name="header">
                                                                    <h:outputText value="Work Name" rendered="#{needAssessmentCollectionController.renderWork}"/>               
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomps.serviceId.serviceName}" />                
                                                            </p:column>   
                                                            <p:column id="department">                                     
                                                                <f:facet name="header">
                                                                    <h:outputText value="Department"/>
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomps.depNames}"/>
                                                            </p:column>

                                                            <p:column id="reqQuantity">                                     
                                                                <f:facet name="header">
                                                                    <h:outputText value="Requested Quantity"/>
                                                                </f:facet>
                                                                <h:outputText value="#{needAssDetialcomps.requestQuantity}"/>
                                                            </p:column>
                                                        </p:dataTable> 
                                                    </h:panelGrid>
                                                </p:outputPanel>
                                            </p:dialog>

                                        </div>
                                    </div>
                                </div>
                            </h:form>    
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>


