<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>

        <!-- /.search form -->
    </ui:define>

    <ui:define name="navigaion_content">



        <li><a href="ReceivableItemLocation.xhtml"><i class="fa fa-circle-o"></i> <span>Receivable Item Location </span></a></li>
        <li><a href="ItemLocationForIssuance.xhtml"><i class="fa fa-circle-o"></i> <span>Issuable Item Location </span></a></li>
        <li><a href="MmsStoreRequisition.xhtml"><i class="fa fa-circle-o"></i> <span>Store Requisition</span></a></li> 
        <li><a href="StoreInformation.xhtml"><i class="fa fa-circle-o"></i> <span>Store Information</span></a></li> 
        <li><a href="ShelfRegistration.xhtml"><i class="fa fa-circle-o"></i> <span>Location Management Shelf</span></a></li>
        <li><a href="ShelfCellInformations.xhtml"><i class="fa fa-circle-o"></i> <span>Location Management Cell</span></a></li>
        <li><a href="shelfLife.xhtml"><i class="fa fa-circle-o"></i> <span>Shelf Life</span></a></li>

    </ui:define>
    <ui:define name="contents">   



        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlSearchPage" rendered="#{departmentToStoreMapperController.renderpnlToSearchPage}">
                        <p:commandButton id="btnSearch" action="#{departmentToStoreMapperController.goBackSearchButtonAction()}" icon="ui-icon-search" validateClient="true" 
                                         style="background-color: white;border-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                         title="Back to Search" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span> 
                    </h:panelGroup>
                    <p:commandButton id="btnNew"  action="#{departmentToStoreMapperController.createNewInfo()}" icon="#{departmentToStoreMapperController.icone}" validateClient="true"
                                     style="background-color: white;border-color: white" 
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{departmentToStoreMapperController.createOrSearchBundle}" />

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/Store Information/DepartmentToStoreMapper.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{departmentToStoreMapperController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px" > 
                                <h:panelGroup id="frmSearchGatePass"> 


                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Warehouse Name:"/>

                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchStoreName" class="form-control" value="#{departmentToStoreMapperController.mmsLuWareHouseEntity.name}"/>
                                            </div>
                                        </div>

                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Department Name:"/>

                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchStoreNumber" class="form-control" value="#{departmentToStoreMapperController.departmentsEntity.depName}"/>
                                            </div>
                                        </div>

                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel  class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnFindInfo" class="btn btn-primary" action="#{departmentToStoreMapperController.searchMappingInfoByParameter()}" icon="ui-icon-search" 
                                                                 process="@this,frmSearchGatePass" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                                 value="Find" />            
                                            </div>
                                        </div>
                                    </div>



                                </h:panelGroup>
                            </div>
                        </div>


                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmGatepass">   


                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblgatePassInfo" value="#{departmentToStoreMapperController.mmsStoreToHrDepMappersDataModel}" var="info" rows="5" selectionMode="single"
                                                             rowIndexVar="num" selection="#{departmentToStoreMapperController.selectedItem}" rowKey="#{info.id}" 
                                                             paginator="true" paginatorPosition="bottom" editable="true">

                                                    <p:ajax event="rowSelect" listener="#{departmentToStoreMapperController.onRowEdit}" update=":frmRegisterUI, :frmMainUI, :frmToolbar" />      

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="S.No" />
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>



                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Warehouse" />
                                                        </f:facet>
                                                        <h:outputText value="#{info.warehouseId.name}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Department" />
                                                        </f:facet>
                                                        <h:outputText value="#{info.departmentId.depName}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Description" />
                                                        </f:facet>
                                                        <h:outputText value="#{info.description}"/>
                                                    </p:column>


                                                </p:dataTable>

                                            </div>                 
                                        </div>    



                                    </div>  



                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </h:form>

        <h:form id="frmRegisterUI">
            <p:growl id="growl" showDetail="true" severity="information,fatal" autoUpdate="true" />

            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{departmentToStoreMapperController.renderPnlCreateNewPage}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Department To Warehouse Mapper</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px" > 
                                <h:panelGroup id="frmGatePassDtlInfo">
                                    <div class="form-horizontal  col-sm-12"> 



                                        <div class="form-group textBoxMargin6px required">
                                            <p:outputLabel id="lblInvoiceType" class="control-label col-sm-2" value="WareHouse:" />
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="drdWarehouse"  
                                                                 value="#{departmentToStoreMapperController.mmsLuWareHouseEntity}" converter="entConverter"
                                                                 required="true" requiredMessage="Warehouse is Required"
                                                                 valueChangeListener="#{departmentToStoreMapperController.handleSelectWarehouses}"  style="width: 100%">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue="" />  
                                                    <f:selectItems value="#{departmentToStoreMapperController.listOfWarehouses}" />

                                                    <p:ajax process="@this" update="@this" event="change"/>
                                                </p:selectOneMenu> 
                                                <p:message for="drdWarehouse" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">

                                            <p:outputLabel id="lbl_txtDepartment" class="control-label col-sm-2" value="Department:"/> 
                                            <div class="col-sm-3">
                                                <p:inputText   id="txtDepartment" class="form-control" required="true" placeholder="Use Only From + Button" onmousedown="return false;"
                                                               requiredMessage="Department is required"
                                                               value="#{departmentToStoreMapperController.departmentsEntity.depName}"  />
                                                <p:message for="txtDepartment" display="icon"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <p:commandButton  id="btnTree" onclick="PF('dlgDpt').show();"  partialSubmit="true" style="background: transparent;" value="+"/>
                                            </div>
                                        </div>
                                        <p:dialog id="dlgDpt" header="Departments" widgetVar="dlgDpt" height="300" width="500" showEffect="explode"  >
                                            <h:panelGrid columns="3" style="border-color: #ffffff " >
                                                <p:tree value="#{departmentToStoreMapperController.root2}" var="nodes" style="border: transparent; width: 100%" 
                                                        selectionMode="single" selection="#{departmentToStoreMapperController.selectedNode}" >
                                                    <p:ajax event="select" listener="#{departmentToStoreMapperController.onNodeSelect}" process="@this" 
                                                            update=":frmRegisterUI:txtDepartment"/>
                                                    <p:treeNode>
                                                        <h:outputText value="#{nodes}" />
                                                    </p:treeNode>
                                                </p:tree>                                       
                                            </h:panelGrid>
                                        </p:dialog>  




                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel for="txtDescriptions" class="control-label col-sm-2" value="Description:"/>
                                            <div class="col-sm-4"> 
                                                <p:inputTextarea   id="txtDescriptions" class="form-control"  
                                                                   value="#{departmentToStoreMapperController.storeToHrDepMapperEntity.description}"
                                                                   />

                                            </div>
                                        </div>





                                        <div class="form-group textBoxMargin6px">

                                            <h:outputLabel id="saveButtonlbl" class="control-label col-sm-2" />

                                            <div class="col-sm-4">
                                                <p:commandButton  id="btnSave" class="btn btn-primary "
                                                                  value="#{departmentToStoreMapperController.saveorUpdateBundle}"
                                                                  process="@this,frmRegisterUI:frmGatePassDtlInfo"
                                                                  update="frmGatePassDtlInfo,:frmRegisterUI"
                                                                  action="#{departmentToStoreMapperController.SaveMappingInformation()}" />

                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>

