<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>

        <!-- /.search form -->
    </ui:define>

    <ui:define name="navigaion_content">




        <li><a href="ItemLocationForIssuance.xhtml"><i class="fa fa-circle-o"></i> <span>Issuable Item Location </span></a></li> 
        <li><a href="MmsStoreRequisition.xhtml"><i class="fa fa-circle-o"></i> <span>Store Requisition</span></a></li> 
        <li><a href="StoreInformation.xhtml"><i class="fa fa-circle-o"></i> <span>Store Information</span></a></li> 
        <li><a href="ShelfRegistration.xhtml"><i class="fa fa-circle-o"></i> <span>Location Management Shelf</span></a></li>
        <li><a href="ShelfCellInformations.xhtml"><i class="fa fa-circle-o"></i> <span>Location Management Cell</span></a></li>
        <li><a href="shelfLife.xhtml"><i class="fa fa-circle-o"></i> <span>Shelf Life</span></a></li>
        <li><a href="DepartmentToStoreMapper.xhtml"><i class="fa fa-circle-o"></i> <span>Department To Store</span></a></li>
    </ui:define>

    <ui:define name="contents">   


        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlSearchPage" rendered="#{itemLocationReceivableController.renderpnlToSearchPage}">
                        <p:commandButton id="btnSearch" action="#{itemLocationReceivableController.goBackSearchButtonAction()}" icon="ui-icon-search" validateClient="true" 
                                         style="background-color: white;border-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                         title="Back to Search" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span> 
                    </h:panelGroup>                   
                    <p:commandButton id="btnNew" action="#{itemLocationReceivableController.createNewLocationRecievable()}" icon="#{itemLocationReceivableController.icone}" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{itemLocationReceivableController.createOrSearchBundle}" />

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/Store Information/ReceivableItemLocation.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{itemLocationReceivableController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchGatePass"> 


                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group  textBoxMargin6px required">   
                                            <h:outputLabel  id="lbl_selectStoreInfoList" class="control-label col-sm-2" value="Store Name:"/>
                                            <div class="col-sm-3">
                                                <p:selectOneMenu   id="selectStoreInfoList" style="width: 100%"  required="true"  requiredMessage="Store Name Is required"
                                                                   converter="entConverter"   value="#{itemLocationReceivableController.storeInfoEntity}"
                                                                   valueChangeListener="#{itemLocationReceivableController.handleSelectStoreName}" 
                                                                   > 
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue="" /> 
                                                    <f:selectItems id="selectOneMenuQualification" 
                                                                   value="#{itemLocationReceivableController.storeList}" var="store" itemLabel="#{store.storeName}" itemValue="#{store}"
                                                                   />
                                                    <p:ajax update="selectStoreInfoList" process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message for="selectStoreInfoList" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Item Code:"/>

                                            <div class="col-sm-3">
                                                <p:inputText id="txtItemcode"  value="#{itemLocationReceivableController.itemRegEntity.matCode}"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Item Name:"/>

                                            <div class="col-sm-3">
                                                <p:inputText id="txtItemName"  value="#{itemLocationReceivableController.itemRegEntity.matName}"/>
                                            </div>
                                        </div>



                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel  class="control-label col-sm-2"/>
                                            <div class="col-sm-3">
                                                <p:commandButton id="btnFindInfo"  class="btn btn-primary" icon="ui-icon-search" action="#{itemLocationReceivableController.searchLocationInformation()}"
                                                                 process="@this,frmSearchGatePass" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                                 value="Find" />            
                                            </div>
                                        </div>
                                    </div>



                                </h:form>
                            </div>
                        </div>

                        <br></br>    
                        <br></br>
                        <br></br>

                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmGatepass">   


                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMargin6px">                                      
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblgatePassInfo" value="#{itemLocationReceivableController.mmsLocSearchInfoDataModel}" var="locInfo" rows="5"
                                                             selectionMode="single" rowIndexVar="num"
                                                             selection="#{itemLocationReceivableController.selectedLocation}" rowKey="#{locInfo.id}" 
                                                             paginator="true" paginatorPosition="bottom" editable="true">

                                                    <p:ajax event="rowSelect" listener="#{itemLocationReceivableController.onRowEdit}" update=":frmRegisterUI, :frmMainUI, :frmToolbar"/>


                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="S.No" />
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Item Code" />
                                                        </f:facet>
                                                        <h:outputText value="#{locInfo.materialId.matCode}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Item Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{locInfo.materialId.matName}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store" />
                                                        </f:facet>
                                                        <h:outputText value="#{locInfo.manageLocationId.storeId.storeName}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Rack Code" />
                                                        </f:facet>
                                                        <h:outputText value="#{locInfo.shelfId.rackCode}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Cell Code" />
                                                        </f:facet>
                                                        <h:outputText value="#{locInfo.cellId.cellCode}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Location Quantity" />
                                                        </f:facet>
                                                        <h:outputText value="#{locInfo.locationQuantity}"/>
                                                    </p:column>






                                                </p:dataTable>

                                            </div>                 
                                        </div>    



                                    </div>  



                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </h:form>

        <h:form id="frmRegisterUI">
            <p:growl id="growlmain" showDetail="true" severity="information,fatal" autoUpdate="true" />

            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{itemLocationReceivableController.renderPnlCreateLocationRecievable}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Item Location(For Receivable)</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="selectOptions">
                                    <div class="form-horizontal  col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel  for="CheckType1" class="control-label col-sm-2" value="Select Option:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneRadio id="CheckType1" layout="grid" columns="3" value="#{itemLocationReceivableController.checkType}" 
                                                                  required="true" requiredMessage="Select Option Is required" class="col-sm-4"
                                                                  valueChangeListener="#{itemLocationReceivableController.changeCheckRecievableType}">
                                                    <f:selectItem itemLabel="GRN" itemValue="GRN" />
                                                    <f:selectItem itemLabel="RMG" itemValue="RMG" />   
                                                    <f:selectItem itemLabel="ISIV" itemValue="RecievedISIV" />   


                                                    <p:ajax process="@this" update="grn,ISIV,RMG,store,frmTblGrnMaterialInfo"  event="valueChange" />  
                                                </p:selectOneRadio>   
                                                <p:message for="CheckType1" display="icon" />
                                            </div>
                                        </div>



                                    </div>
                                </h:panelGroup>

                                <h:panelGroup id="store">
                                    <div class="form-horizontal  col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel  id="lbl1_selectStoreInfoList" class="control-label col-sm-2" value="Store Name:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="selectStoreInfoList1" style="width: 100%"  required="true"  requiredMessage="Store Name Is required"
                                                                   converter="entConverter" value="#{itemLocationReceivableController.storeInfoEntity}"
                                                                   valueChangeListener="#{itemLocationReceivableController.handleSelectStoreName}" 
                                                                   > 
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue="" /> 
                                                    <f:selectItems id="selectOneMenuQualification2" 
                                                                   value="#{itemLocationReceivableController.storeList}" var="store" itemLabel="#{store.storeName}" itemValue="#{store}"
                                                                   />
                                                    <p:ajax update="grn,ISIV,RMG" process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message for="selectStoreInfoList1" display="icon"/>

                                            </div>
                                        </div>   
                                    </div>
                                </h:panelGroup>

                                <h:panelGroup id="grn">
                                    <h:panelGroup id="frmGatePassDtlInfo" rendered="#{itemLocationReceivableController.renderGrn}">
                                        <!--  <p:growl id="growl" showDetail="true" severity="information" autoUpdate="true" /> -->
                                        <div class="form-horizontal  col-sm-12"> 


                                            <div class="form-group textBoxMargin6px required">

                                                <h:outputLabel id="lblGrnApprovedno" class="control-label col-sm-2" value="GRN:" />
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu id="selectOneListGrnNo"  style="width: 100%;" disabled="#{itemLocationReceivableController.disableGrnList}"
                                                                     value="#{itemLocationReceivableController.grnEntity.grnId}" required="true" requiredMessage="GRN Number is Required"
                                                                     valueChangeListener="#{itemLocationReceivableController.handleSelectGRNNo}"  
                                                                     filterMatchMode="contains" filter="true" >
                                                        <f:selectItem itemLabel="--- Select one ---" itemValue="" />  
                                                        <f:selectItems id="selectservicepanaless" value="#{itemLocationReceivableController.approvedGrnList}" 
                                                                       var="grnitem" itemLabel="#{grnitem.grnNo}" itemValue="#{grnitem.grnId}"/>                            
                                                        <p:ajax update=":frmRegisterUI:selectOneListBoxGrnMatCodeList" process="@this" event="change" />
                                                    </p:selectOneMenu>  
                                                    <p:message for="selectOneListGrnNo" display="icon"/>
                                                </div>

                                            </div>




                                        </div>
                                    </h:panelGroup>
                                </h:panelGroup>
                                <h:panelGroup id="ISIV">
                                    <h:panelGroup id="frmGatePassDtlInfo2" rendered="#{itemLocationReceivableController.renderISIV}">

                                        <div class="form-horizontal  col-sm-12"> 


                                            <div class="form-group textBoxMargin6px required">

                                                <h:outputLabel id="lblisivApprovedno" class="control-label col-sm-2" value="ISIV:" />
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu id="selectOneListIsivNo"  style="width: 100%;" disabled="#{itemLocationReceivableController.disableIsivNoList}"
                                                                     value="#{itemLocationReceivableController.isivReceivedEntity.recievingId}" 
                                                                     required="true" requiredMessage="ISIV Number is required"
                                                                     valueChangeListener="#{itemLocationReceivableController.handleSelectIsivNo}"  
                                                                     filterMatchMode="contains" filter="true" > 
                                                        <f:selectItem itemLabel="--- Select one ---" itemValue="" />  
                                                        <f:selectItems id="selectservicepanaless2" value="#{itemLocationReceivableController.approvedIsivList}" var="isivitem" itemLabel="#{isivitem.receivingTransferNo}" itemValue="#{isivitem.recievingId}"/>                            
                                                        <p:ajax update=":frmRegisterUI:selectOneListBoxGrnMatCodeList" process="@this" event="change" />
                                                    </p:selectOneMenu>  
                                                    <p:message for="selectOneListIsivNo" display="icon"/>
                                                </div>


                                            </div>




                                        </div>
                                    </h:panelGroup>
                                </h:panelGroup>
                                <h:panelGroup id="RMG">
                                    <h:panelGroup id="frmGatePassDtlInfo3" rendered="#{itemLocationReceivableController.renderRMG}">

                                        <div class="form-horizontal  col-sm-12"> 


                                            <div class="form-group textBoxMargin6px required">

                                                <h:outputLabel id="lblrmgApprovedno" class="control-label col-sm-2" value="RMG:" />
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu id="selectOneListRmgNo"  style="width: 100%;" disabled="#{itemLocationReceivableController.disableRmgNoList}"
                                                                     converter="entConverter"   required="true" requiredMessage="RMG Number Is required" value="#{itemLocationReceivableController.rmgEntity}" 
                                                                     valueChangeListener="#{itemLocationReceivableController.handleSelectRmgNo}"  
                                                                     filterMatchMode="contains" filter="true" >
                                                        <f:selectItem itemLabel="--- Select one ---" itemValue="" />  
                                                        <f:selectItems id="selectservicepanaless3" value="#{itemLocationReceivableController.approvedRmgList}" var="Rmgitem" itemLabel="#{Rmgitem.rmgNo}" itemValue="#{Rmgitem}"/>                            
                                                        <p:ajax update=":frmRegisterUI:selectOneListBoxGrnMatCodeList" process="@this" event="change" />
                                                    </p:selectOneMenu>  
                                                    <p:message for="selectOneListRmgNo" display="icon"/>
                                                </div>


                                            </div>




                                        </div>
                                    </h:panelGroup>
                                </h:panelGroup>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Item Location Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmGrnMaterialInfo"  >

                                    <div class="form-horizontal col-sm-12"> 

                                        <div class="form-group textBoxMargin6px required"> 

                                            <h:outputLabel class="control-label col-sm-2"  value="Item List:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="selectOneListBoxGrnMatCodeList"  converter="entConverter"
                                                                 style="width: 100%;" value="#{itemLocationReceivableController.itemRegEntity}"
                                                                 valueChangeListener="#{itemLocationReceivableController.handleSelectMaterial}" filterMatchMode="contains" filter="true" required="true" requiredMessage="Item Name is Required" >
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue="" />
                                                    <f:selectItems id="selectItemListBoxGrnMatCodeList" var="matcodes"   value="#{itemLocationReceivableController.itemInfoList}"  itemLabel="#{matcodes.matName}" itemValue="#{matcodes}" />                            
                                                    <p:ajax update="selectOneListBoxGrnMatCodeList,selectOneListGrnNo,txtGrnMatCodes,:frmRegisterUI:txtGrnMatName,txtGrnTotalQuantity,frmRegisterUI:expiry" process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message for="selectOneListBoxGrnMatCodeList" display="icon"/>
                                            </div>

                                            <div class="form-group textBoxMargin6px">
                                                <h:outputLabel  for="txtGrnMatName" class="control-label col-sm-2" value="Item Name:"/>
                                                <div class="col-sm-4">
                                                    <p:inputText   id="txtGrnMatName"   readonly="true"

                                                                   value="#{itemLocationReceivableController.itemRegEntity.matName}"/>
                                                    <p:message for="txtGrnMatName" display="icon"/>
                                                </div>
                                            </div>                                           
                                        </div>

                                        <div class="form-group textBoxMargin6px"> 

                                            <h:outputLabel  for="txtGrnMatCodes" class="control-label col-sm-2" value="Item Code:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtGrnMatCodes"  readonly="true"

                                                               value="#{itemLocationReceivableController.itemRegEntity.matCode}" />
                                                <p:message for="txtGrnMatCodes" display="icon"/>
                                            </div>
                                            <div class="form-group textBoxMargin6px required">
                                                <h:outputLabel  for="txtGrnTotalQuantity" class="control-label col-sm-2" value="Total Quantity:"/>
                                                <div class="col-sm-4">
                                                    <p:inputText   id="txtGrnTotalQuantity" required="true"  readonly="true"

                                                                   value="#{itemLocationReceivableController.mmsManageLocationDtlEntity.totalQuantity}"/>
                                                    <p:message for="txtGrnTotalQuantity" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group  textBoxMargin6px required">  
                                            <h:outputLabel  for="txtLocationDate" class="control-label col-sm-2" value="Location Date:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtLocationDate"  class="form-control" 

                                                               value="#{itemLocationReceivableController.mmsManageLocationDtlEntity.locationDate}" 
                                                               required="true"  requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                               onclick="displayCalendar('frmRegisterUI:txtLocationDate', 'frmRegisterUI:txtLocationDate');" />
                                                <p:message for="txtLocationDate" display="icon"/>
                                            </div>




                                        </div>


                                        <h:panelGroup id="expiry"  >
                                            <div class="form-group  textBoxMargin6px required"> 


                                                <h:outputLabel  for="txtExpiryDate" class="control-label col-sm-2" rendered="#{itemLocationReceivableController.renderForExpiry}" value="Expiry Date:"/>
                                                <div class="col-sm-4">
                                                    <p:inputText   id="txtExpiryDate" class="form-control"  rendered="#{itemLocationReceivableController.renderForExpiry}"

                                                                   value="#{itemLocationReceivableController.mmsManageLocationDtlEntity.expiryDate}"
                                                                   required="true"  requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                                   onclick="displayCalendar('frmRegisterUI:txtExpiryDate', 'frmRegisterUI:txtExpiryDate');" 
                                                                   />
                                                    <p:message for="txtExpiryDate" display="icon"/>
                                                </div>


                                            </div>
                                        </h:panelGroup>


                                        <div class="form-group  textBoxMargin6px required">  
                                            <p:outputLabel id="lbl_selectOption" class="control-label col-sm-2" value="Select option:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneRadio id="selectionRadioOpt"   
                                                                  required="true" requiredMessage="option required" 
                                                                  value="#{itemLocationReceivableController.mmsShelfInfoEntity.rackOrOutdoor}"
                                                                  valueChangeListener="#{itemLocationReceivableController.handleSelectRackOrOutdoor}">
                                                    <f:selectItem itemLabel="Outdoor" itemValue="1"  />
                                                    <f:selectItem itemLabel="Rack" itemValue="0" />    
                                                    <p:ajax process="@this,selectionRadioOpt" update="outdoortype,renderOutdoor"  event="valueChange" />
                                                </p:selectOneRadio>

                                                <p:message for="selectionRadioOpt" display="icon"/>
                                            </div>


                                        </div>
                                        <div class="form-group textBoxMargin6px required">  
                                            <h:panelGroup id="outdoortype">

                                                <h:outputLabel id="lbl_ItemType" for="dropdownoutdoorType"  class="control-label col-sm-2" rendered="#{itemLocationReceivableController.renderOutdoorInfo}"  value="Outdoor Type:" />
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu id="dropdownoutdoorType"  required="true" requiredMessage="Outdoor type is required"
                                                                     rendered="#{itemLocationReceivableController.renderOutdoorInfo}"
                                                                     style="width:100%"
                                                                     valueChangeListener="#{itemLocationReceivableController.handleSelectOutdoorType}"
                                                                     value="#{itemLocationReceivableController.mmsShelfInfoEntity.outdoorType}" 
                                                                     >
                                                        <f:selectItems value="#{itemLocationReceivableController.listOfOutdoorType}" />
                                                        <p:ajax   event="change" process="@this" update="renderOutdoor,pnlClosedShade" />

                                                    </p:selectOneMenu>
                                                    <p:message for="dropdownoutdoorType" display="icon"/>
                                                </div>  

                                            </h:panelGroup>
                                        </div>
                                        <div class="form-group textBoxMargin6px">  
                                            <h:panelGroup id="pnlClosedShade" >





                                                <p:outputLabel id="lbl_option1" for="radoption3" class="control-label col-sm-2" rendered="#{itemLocationReceivableController.renderForClosedShade}" value="Has A Rack:"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneRadio id="radoption3"   rendered="#{itemLocationReceivableController.renderForClosedShade}"
                                                                      required="true" requiredMessage="option required" 
                                                                      value="#{itemLocationReceivableController.mmsShelfInfoEntity.hasArack}"
                                                                      valueChangeListener="#{itemLocationReceivableController.handleSelectHasArack}">
                                                        <f:selectItem itemLabel="Yes" itemValue="0" />
                                                        <f:selectItem itemLabel="No" itemValue="1"  />

                                                        <p:ajax process="@this" update="@this,:frmRegisterUI:lblGrnOutdoorCode,:frmRegisterUI:selectOneMenuOutdoorInfo"  event="valueChange" />
                                                    </p:selectOneRadio>
                                                    <p:message for="radoption3" display="icon"/>
                                                </div>



                                            </h:panelGroup>


                                        </div>



                                        <div class="form-group textBoxMargin6px required">
                                            <h:panelGroup id="renderOutdoor">


                                                <p:outputLabel id="lblGrnOutdoorCode"  class="control-label col-sm-2" value="#{itemLocationReceivableController.outdoorNameBundle}" />
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu   id="selectOneMenuOutdoorInfo" required="true"  
                                                                       style="width: 100%;"   
                                                                       requiredMessage="code is required"
                                                                       value="#{itemLocationReceivableController.mmsShelfInfoEntity}" converter="entConverter"
                                                                       valueChangeListener="#{itemLocationReceivableController.handleSelectShelfCode}">          
                                                        <f:selectItem itemLabel="--- Select one ---" itemValue="" />
                                                        <f:selectItems id="selectOneItemOutdoor"  value="#{itemLocationReceivableController.outdoorCodeList}" var="racks" itemLabel="#{racks.rackCode}" itemValue="#{racks}"/>
                                                        <p:ajax  process="@this" event="change" update="selectOneMenuOutdoorInfo,:frmRegisterUI:Pnlcellcode"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="selectOneMenuOutdoorInfo" display="icon"/>
                                                </div>


                                            </h:panelGroup>
                                        </div>
                                        <h:panelGroup id="Pnlcellcode">


                                            <div class="form-group textBoxMargin6px required">
                                                <h:outputLabel id="lblCellRow"  class="control-label col-sm-2" value="Shelf:" rendered="#{itemLocationReceivableController.renderCellCode}"/>
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu   id="selectOneMenuShelfInfo" required="true" converter="entConverter"
                                                                       rendered="#{itemLocationReceivableController.renderCellCode}"
                                                                       style="width: 100%;" requiredMessage="Shelf is required"
                                                                       valueChangeListener="#{itemLocationReceivableController.handleSelectShelf}"
                                                                       value="#{itemLocationReceivableController.mmsTempCellInfoEntity}"  >    
                                                        <f:selectItem itemLabel="--- Select one ---" itemValue="" />
                                                        <f:selectItems id="selectItemShelf" 

                                                                       value="#{itemLocationReceivableController.shelfCells}" var="shelfs" itemLabel="#{shelfs.cellRow}" itemValue="#{shelfs}"  />
                                                        <p:ajax  process="@this" event="change" update=":frmRegisterUI:selectOneMenuCellInfo,:frmRegisterUI:shelfs" />
                                                    </p:selectOneMenu>
                                                    <p:message for="selectOneMenuShelfInfo" display="icon"/>
                                                </div>

                                            </div>
                                        </h:panelGroup>
                                        <h:panelGroup id="shelfs">

                                            <div class="form-group textBoxMargin6px required">
                                                <h:outputLabel id="lblGrnCellCode"  class="control-label col-sm-2" value="Cell code:" rendered="#{itemLocationReceivableController.renderCellCode}"/>
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu   id="selectOneMenuCellInfo" required="true" converter="entConverter"
                                                                       rendered="#{itemLocationReceivableController.renderCellCode}"
                                                                       style="width: 100%;" requiredMessage="Cell code is required"
                                                                       valueChangeListener="#{itemLocationReceivableController.handleSelectCellCode}"
                                                                       value="#{itemLocationReceivableController.mmsCellInfoEntity}"  >    
                                                        <f:selectItem itemLabel="--- Select one ---" itemValue="" />
                                                        <f:selectItems id="selectOneItemCellInfo" 

                                                                       value="#{itemLocationReceivableController.cellRowList}" var="cells" itemLabel="#{cells.cellCode}" itemValue="#{cells}"  />
                                                        <p:ajax  process="@this" event="change" update=":frmRegisterUI:viewLocationInfo" />
                                                    </p:selectOneMenu>
                                                    <p:message for="selectOneMenuCellInfo" display="icon"/>
                                                </div>
                                                <div class ="col-sm-2">
                                                    <p:commandButton id="btnTree" rendered="#{itemLocationReceivableController.renderCellCode}" value="View" class="btn btn-primary" icon="ui-icon-extlink" type="button" onclick="PF('subcatdig1').show();"/>
                                                </div>  
                                            </div>
                                        </h:panelGroup>














                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel  id="lbl_GrnQuantity"  class="control-label col-sm-2" value="Quantity:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtGrnQuantity"  class="form-control"
                                                               required="true" requiredMessage="Quantity is required" validator="#{validatorManagedBean.Number}" 
                                                               value="#{itemLocationReceivableController.mmsManageLocationDtlEntity.locationQuantity}"
                                                               converterMessage="Pls Enter Only Digits"/>



                                                <p:message for="txtGrnQuantity" display="icon" />

                                            </div>

                                        </div>

                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel   class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnAdd" class="btn btn-primary  " action="#{itemLocationReceivableController.addDetail}" icon="ui-icon-add" validateClient="true" 
                                                                 process="frmGrnMaterialInfo" 
                                                                 update="
                                                                 :frmRegisterUI:frmTblGrnMaterialInfo,frmGrnMaterialInfo"


                                                                 value="#{itemLocationReceivableController.addorModify}"/>            

                                            </div>



                                        </div>
                                    </div>
                                </h:panelGroup>


                                <h:panelGroup id="frmTblGrnMaterialInfo" >

                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblGrnMaterial" class="dataTable"
                                                             value="#{itemLocationReceivableController.manageLocationDetailDataModel}" 
                                                             var="material" rowIndexVar="num"
                                                             paginator="true" paginatorPosition="bottom" editable="true">

                                                    <p:ajax event="rowEdit" listener="#{itemLocationReceivableController.edit(event)}" update="tblGrnMaterial,:frmRegisterUI:frmGrnMaterialInfo" />
                                                    <p:ajax event="rowEditCancel"  update="" />

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="S.No" />
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>

                                                    <p:column >                                                             
                                                        <f:facet name="header">
                                                            <h:outputLabel   value="Item Code"/>
                                                        </f:facet>
                                                        <h:outputText  value="#{material.materialId.matCode}"/>
                                                    </p:column>    

                                                    <p:column >                                                             
                                                        <f:facet name="header">
                                                            <h:outputLabel   value="Item Name"/>
                                                        </f:facet>
                                                        <h:outputText  value="#{material.materialId.matName}"/>
                                                    </p:column>    



                                                    <p:column >                                                             
                                                        <f:facet name="header">
                                                            <h:outputLabel   value="Quantity"/>
                                                        </f:facet>
                                                        <h:outputText  value="#{material.locationQuantity}"/>
                                                    </p:column>                                   
                                                    <p:column rendered="#{itemLocationReceivableController.renderRackCode}" >                                    
                                                        <f:facet name="header">
                                                            <h:outputLabel  value="Cell Code"/>
                                                        </f:facet>
                                                        <h:outputText  value="#{material.cellId.cellCode}"/>               
                                                    </p:column>
                                                    <p:column  rendered="#{itemLocationReceivableController.renderRackCode}" >                                    
                                                        <f:facet name="header">
                                                            <h:outputLabel  value="Shelf Code"/>  
                                                        </f:facet>
                                                        <h:outputText  value="#{material.shelfId.rackCode}"/>
                                                    </p:column>
                                                    <p:column  rendered="#{itemLocationReceivableController.renderOutdoorInfo}" >                                    
                                                        <f:facet name="header">
                                                            <h:outputLabel  value="OutDoor Code"/>  
                                                        </f:facet>
                                                        <h:outputText  value="#{material.shelfId.rackCode}"/>
                                                    </p:column>

                                                    <p:column >                                                                                                 
                                                        <p:commandLink value="Edit" action="#{itemLocationReceivableController.edit(event)}"  update="tblGrnMaterial,:frmRegisterUI:frmGrnMaterialInfo"
                                                                       process="@this" >
                                                        </p:commandLink>
                                                    </p:column>

                                                </p:dataTable>
                                            </div>
                                        </div>

                                    </div>
                                </h:panelGroup>


                                <h:panelGroup id="viewLocationInfo">
                                    <p:dialog id="subcatdig1" header="Location Information" widgetVar="subcatdig1" height="200" width="600" modal="true" closable="true" resizable="false" showEffect="explode">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblViewMaterial1" class="dataTable"
                                                                 value="#{itemLocationReceivableController.currentLocationInfoDataModel}" 
                                                                 var="location" rows="5" rowIndexVar="num"
                                                                 paginator="true" paginatorPosition="bottom" editable="true">

                                                        <p:ajax event="rowEdit"  update="" />
                                                        <p:ajax event="rowEditCancel"  update="" />

                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="S.No" />
                                                            </f:facet>
                                                            <h:outputText value="#{num+1}"/>
                                                        </p:column>

                                                        <p:column >                                                             
                                                            <f:facet name="header">
                                                                <h:outputLabel   value="Item Code"/>
                                                            </f:facet>
                                                            <h:outputText  value="#{location.materialId.matCode}"/>
                                                        </p:column>    

                                                        <p:column >                                                             
                                                            <f:facet name="header">
                                                                <h:outputLabel   value="Item Name"/>
                                                            </f:facet>
                                                            <h:outputText  value="#{location.materialId.matName}"/>
                                                        </p:column>    


                                                        <p:column >                                                             
                                                            <f:facet name="header">
                                                                <h:outputLabel   value="Quantity"/>
                                                            </f:facet>
                                                            <h:outputText  value="#{location.locationQuantity}"/>
                                                        </p:column>                                   
                                                        <p:column  >                                    
                                                            <f:facet name="header">
                                                                <h:outputLabel  value="Cell Code"/>
                                                            </f:facet>
                                                            <h:outputText  value="#{location.cellId.cellCode}"/>               
                                                        </p:column>
                                                        <p:column   >                                    
                                                            <f:facet name="header">
                                                                <h:outputLabel  value="Shelf Code"/>  
                                                            </f:facet>
                                                            <h:outputText  value="#{location.shelfId.rackCode}"/>
                                                        </p:column>

                                                    </p:dataTable>
                                                </div>
                                            </div>

                                        </div>
                                    </p:dialog> 
                                </h:panelGroup>







                            </div>
                        </div>
                    </div>
                </div>


                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 





                                <h:panelGroup id="frmApproverInfo">

                                    <div class="form-horizontal col-sm-12"> 
                                        <div class="form-group textBoxMargin6px required">  

                                            <p:outputLabel id="lbl_tetprepareby" class="control-label col-sm-2"  value="Processed by:"/>

                                            <div class="col-sm-4">
                                                <p:inputText   id="txtprepareby" 
                                                               value="#{itemLocationReceivableController.userName}" readonly="true" 
                                                               required="true" requiredMessage="prepared is required"
                                                               />                                             
                                            </div>

                                            <h:outputLabel for="txtAcceptedDate" class="control-label col-sm-2" value="Processed On:"/>                                                                        
                                            <div class="col-sm-4">
                                                <p:inputText id="txtAcceptedDate" class="form-control" value="#{itemLocationReceivableController.wfMmsProcessed.processedOn}"
                                                             required="true"  requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                             onclick="displayCalendar('frmRegisterUI:txtAcceptedDate', 'frmRegisterUI:txtAcceptedDate');" />                                                                                                                                                    
                                                <p:message for="txtAcceptedDate" display="icon"/>
                                            </div>
                                            <div class="form-group textBoxMargin6px"> 
                                            </div>
                                        </div>

                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group textBoxMargin6px"> 
                                                <h:outputLabel   class="control-label col-sm-2"/>
                                                <div class="col-sm-4">
                                                    <p:commandButton id="btnSaveGrn" class="btn btn-primary" action="#{itemLocationReceivableController.saveItemLocationReceivable()}"  validateClient="true" 
                                                                     process="@this,
                                                                     frmRegisterUI:store,:frmRegisterUI:frmGatePassDtlInfo,
                                                                     :frmRegisterUI:frmGatePassDtlInfo2,
                                                                     :frmRegisterUI:frmGatePassDtlInfo3,
                                                                     :frmRegisterUI:frmTblGrnMaterialInfo,:frmRegisterUI:frmApproverInfo
                                                                     "
                                                                     update=":frmRegisterUI:frmGatePassDtlInfo,:frmRegisterUI:frmTblGrnMaterialInfo,:frmRegisterUI:frmGatePassDtlInfo2,:frmRegisterUI:frmGatePassDtlInfo3,:frmRegisterUI:frmApproverInfo,:frmRegisterUI" 
                                                                     value="#{itemLocationReceivableController.saveorUpdateBundle}"/> 
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>





            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
