<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>

        <!-- /.search form -->
    </ui:define>

    <ui:define name="navigaion_content">



        <li><a href="ReceivableItemLocation.xhtml"><i class="fa fa-circle-o"></i> <span>Receivable Item Location </span></a></li>
        <li><a href="ItemLocationForIssuance.xhtml"><i class="fa fa-circle-o"></i> <span>Issuable Item Location </span></a></li>
        <li><a href="MmsStoreRequisition.xhtml"><i class="fa fa-circle-o"></i> <span>Store Requisition</span></a></li> 
        <li><a href="StoreInformation.xhtml"><i class="fa fa-circle-o"></i> <span>Store Information</span></a></li> 
        <li><a href="ShelfRegistration.xhtml"><i class="fa fa-circle-o"></i> <span>Location Management Shelf</span></a></li>
        <li><a href="shelfLife.xhtml"><i class="fa fa-circle-o"></i> <span>Shelf Life</span></a></li>
        <li><a href="DepartmentToStoreMapper.xhtml"><i class="fa fa-circle-o"></i> <span>Department To Store</span></a></li>
    </ui:define>
    <ui:define name="contents">   



        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlSearchPage" rendered="#{shelfCellInfoController.renderpnlToSearchPage}">
                        <p:commandButton id="btnSearch" action="#{shelfCellInfoController.goBackSearchButtonAction()}" icon="ui-icon-search" validateClient="true" 
                                         style="background-color: white;border-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                         title="Back to Search" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span> 
                    </h:panelGroup>
                    <p:commandButton id="btnNew"  action="#{shelfCellInfoController.createNewCellInfo()}" icon="#{shelfCellInfoController.icone}" validateClient="true"
                                     style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{shelfCellInfoController.createOrSearchBundle}" />

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/Store Information/ShelfCellInformations.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{shelfCellInfoController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px" > 
                                <h:panelGroup id="frmSearchGatePass"> 


                                    <div class="form-horizontal  col-sm-12 ">
                                        <div class="form-group  textBoxMargin6px required">   
                                            <h:outputLabel   class="control-label col-sm-2" value="Store Name:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="selectStoreInfoList" style="width: 100%"  required="true"  requiredMessage="Store Name Is required"
                                                                   filter="true" filterMatchMode="contains" value="#{shelfCellInfoController.storeInfoEntityTemp.storeId}"
                                                                   valueChangeListener="#{shelfCellInfoController.handleSelectStoreNameSearch}" 
                                                                   > 
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue="" /> 
                                                    <f:selectItems id="selectOneMenuQualification" 
                                                                   value="#{shelfCellInfoController.storeListForCell}" var="store" itemLabel="#{store.storeName}" itemValue="#{store.storeId}"
                                                                   />
                                                    <p:ajax update="selectStoreInfoList" process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message for="selectStoreInfoList" display="icon"/>
                                            </div>
                                        </div>



                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel for="txtSearchByBudgetYear" class="control-label col-sm-2" value="Rack Code:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchByBudgetYear" class="form-control"  required="true" requiredMessage="Rack code required"

                                                             value="#{shelfCellInfoController.mmsShelfInfoEntity.rackCode}"/>
                                                <p:message for="txtSearchByBudgetYear" display="icon"/>
                                            </div>

                                        </div>

                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel for="txtSearchByCellCode" class="control-label col-sm-2" value="Cell Code:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchByCellCode" class="form-control"  
                                                             value="#{shelfCellInfoController.mmsCellInfoEntity.cellCode}"/>
                                            </div>

                                        </div>


                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel  class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnFindInfo" class="btn btn-primary" action="#{shelfCellInfoController.searchByParameter()}" icon="ui-icon-search" 
                                                                 process="@this,frmSearchGatePass" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                                 value="Find" />            
                                            </div>
                                        </div>


                                    </div>



                                </h:panelGroup>
                            </div>
                        </div>


                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmGatepass">   


                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblgatePassInfo" value="#{shelfCellInfoController.mmsCellInfoSearchDataModel}" var="cellInfo" rows="5" selectionMode="single"
                                                             selection="#{shelfCellInfoController.selectedcellCode}" rowKey="#{cellInfo.locationId}"  rowIndexVar="num" 
                                                             paginator="true" paginatorPosition="bottom" editable="true">

                                                    <p:ajax event="rowSelect" listener="#{shelfCellInfoController.onRowEdit}" update=":frmRegisterUI, :frmMainUI, :frmToolbar" />      

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="S.No" />
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{cellInfo.shelfId.storeId.storeName}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Rack Code" />
                                                        </f:facet>
                                                        <h:outputText value="#{cellInfo.shelfId.rackCode}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Cell Code" />
                                                        </f:facet>
                                                        <h:outputText value="#{cellInfo.cellCode}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Shade Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{cellInfo.shelfId.shadeName}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Man" />
                                                        </f:facet>
                                                        <h:outputText value="#{cellInfo.shelfId.storeId.storeAdmin}"/>
                                                    </p:column>




                                                </p:dataTable>

                                            </div>                 
                                        </div>    



                                    </div>  



                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </h:form>

        <h:form id="frmRegisterUI">
            <p:growl id="growl" showDetail="true" severity="information,fatal" autoUpdate="true" />

            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{shelfCellInfoController.renderPnlCreateLocationInfo}" >
                <div class="box box-primary ">
                    <div class="box-header">
                        <h3 class="box-title">Location Management Cell Registration</h3>                   
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmCellInfo"  >

                                    <div class="form-horizontal  col-sm-12"> 


                                        <div class="form-group textBoxMargin6px required">   

                                            <h:outputLabel  for="selectStoreInfoLists" class="control-label col-sm-2" value="Store Name:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="selectStoreInfoLists" style="width: 100%"
                                                                   filter="true" filterMatchMode="contains"    required="true"  requiredMessage="store name is required"   converter="entConverter"
                                                                   value="#{shelfCellInfoController.storeInfoEntity}"
                                                                   valueChangeListener="#{shelfCellInfoController.handleSelectStoreName}" 
                                                                   >      
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue="" /> 
                                                    <f:selectItems id="selectOneMenuStores" 
                                                                   value="#{shelfCellInfoController.storeListForCellMain}"  var="store" itemLabel="#{store.storeName}" itemValue="#{store}"
                                                                   />
                                                    <p:ajax update="selectShelfInfoList1" process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message for="selectStoreInfoLists" display="icon"/>

                                            </div>
                                        </div>


                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel  for="checkRack" class="control-label col-sm-2" value="Select Option:"/>
                                            <div class="col-sm-6">
                                                <p:selectOneRadio id="checkRack" layout="grid" columns="2" value="#{shelfCellInfoController.checkWarehouse}" class="col-sm-6"
                                                                  required="true" requiredMessage="Option is required"
                                                                  valueChangeListener="#{shelfCellInfoController.handleSelectoptionRadioButton}">
                                                    <f:selectItem itemLabel="Store Rack" itemValue="0" /> 
                                                    <f:selectItem itemLabel="Closed Shade Rack" itemValue="1" />

                                                    <p:ajax update="frmCellInfo,:frmRegisterUI:frmTblMaterialInfo2,selectShelfInfoList1" event="valueChange" />  
                                                </p:selectOneRadio>   
                                            </div>
                                        </div>









                                        <div class="form-group textBoxMargin6px required">   

                                            <h:outputLabel   class="control-label col-sm-2" value="Rack Code:"   />
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="selectShelfInfoList1" style="width: 100%" required="true"  requiredMessage="Rack Code is required" 
                                                                   converter="entConverter" value="#{shelfCellInfoController.mmsShelfInfoEntity}" 

                                                                   valueChangeListener="#{shelfCellInfoController.handleSelectStoreShelfCode}"
                                                                   >
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue="" />                           
                                                    <f:selectItems id="selectOneMenuShelf" 
                                                                   value="#{shelfCellInfoController.mmsShelfList}" var="shelfcodeVar" itemLabel="#{shelfcodeVar.rackCode}" itemValue="#{shelfcodeVar}"
                                                                   />
                                                    <p:ajax  process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message for="selectShelfInfoList1" display="icon"/>

                                            </div>
                                        </div>

                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel  for="txtRowNumbers"  class="control-label col-sm-2" value="Shelf:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtRowNumbers" class="form-control" 

                                                               value="#{shelfCellInfoController.mmsCellInfoEntity.cellRow}"
                                                               required="true" requiredMessage="Shelf is required"
                                                               validator="#{validatorManagedBean.Remark}"
                                                               />
                                                <p:message for="txtRowNumbers" display="icon"/>
                                            </div>
                                        </div>


                                        <div class="form-group textBoxMargin6px required">
                                            <h:outputLabel  for="txtCellCode"  class="control-label col-sm-2" value="Cell Code:"/>
                                            <div class="col-sm-4">
                                                <p:inputText   id="txtCellCode" class="form-control" 

                                                               value="#{shelfCellInfoController.mmsCellInfoEntity.cellCode}"
                                                               required="true" requiredMessage="Cell Code is required"
                                                               validator="#{validatorManagedBean.Remark}" />
                                                <p:message for="txtCellCode" display="icon" />
                                            </div>
                                        </div>







                                        <div class="form-group textBoxMargin6px ">
                                            <h:outputLabel id="btnAdddetailcell" class="control-label col-sm-2" />
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnAdd2" class="btn btn-primary" value="Add" 
                                                                 action="#{shelfCellInfoController.addCells()}" 
                                                                 process="frmCellInfo"
                                                                 update=":frmRegisterUI:frmTblMaterialInfo2,frmCellInfo,:frmRegisterUI"
                                                                 />
                                            </div>
                                        </div>

                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cell Detail</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmTblMaterialInfo2">

                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblLocInfoDetails" value="#{shelfCellInfoController.mmsCellDataModel}"  
                                                             selectionMode="single" class="dataTable"
                                                             selection="#{shelfCellInfoController.selectedCellDtl}" rowKey="#{locInfoDtl.cellCode}"
                                                             rowIndexVar="num"  rows="10"  var="locInfoDtl">
                                                    <p:ajax event="rowSelect" listener="#{shelfCellInfoController.updateCellInfoDetail}" update=":frmRegisterUI:frmCellInfo, :frmMainUI, :frmToolbar" />   
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="SNo"/>
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Name"/>
                                                        </f:facet>
                                                        <h:outputText value="#{locInfoDtl.shelfId.storeId.storeName}" />
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Rack Code"/>
                                                        </f:facet>
                                                        <h:outputText value="#{locInfoDtl.shelfId.rackCode}" />
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Cell Code"/>
                                                        </f:facet>
                                                        <h:outputText value="#{locInfoDtl.cellCode}" />
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Shelf Row "/>
                                                        </f:facet>
                                                        <h:outputText value="#{locInfoDtl.cellRow}"/>
                                                    </p:column>




                                                </p:dataTable> 
                                            </div>
                                        </div>

                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box box-primary ">

                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body">
                            <div class="row"> 
                                <div class="col-md-12 textBoxMargin6px"> 





                                    <h:panelGroup id="frmshelfcellWorkFlowInfo">
                                        <div class="form-horizontal  col-sm-12"> 

                                            <div class="form-group textBoxMargin6px required">

                                                <p:outputLabel id="lbl_tetprepareby" class="control-label col-sm-2"  value="Processed By:"/>
                                                <div class="col-sm-4">
                                                    <p:inputText   id="txtprepareby" class="form-control"  
                                                                   value="#{shelfCellInfoController.userName}"  readonly="true"
                                                                   required="true" requiredMessage="prepared is required"/>                                             
                                                </div>                                       
                                                <h:outputLabel for="txtApprovedDate" class="control-label col-sm-2" value="Processed On:"/>                                                                        
                                                <div class="col-sm-4">
                                                    <p:inputText id="txtApprovedDate" class="form-control" value="#{shelfCellInfoController.wfMmsProcessed.processedOn}"
                                                                 required="true" requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                                 onclick="displayCalendar('frmRegisterUI:txtApprovedDate', 'frmRegisterUI:txtApprovedDate');" />                                                                                                                                                    
                                                    <p:message for="txtApprovedDate" display="icon"/>
                                                </div>                                                                                   
                                            </div>    



                                            <div class="form-group textBoxMargin6px">
                                                <h:outputLabel id="saveButtonCellInfo" class="control-label col-sm-2"/>
                                                <div class="col-sm-4">
                                                    <p:commandButton  id="btnSaveButtonCellinformation" class="btn btn-primary"
                                                                      value="#{shelfCellInfoController.saveorUpdateBundle}" 
                                                                      action="#{shelfCellInfoController.save_Cell_Information}"
                                                                      process="frmTblMaterialInfo2,:frmRegisterUI:frmshelfcellWorkFlowInfo" 
                                                                      update="@this,frmCellInfo,frmTblMaterialInfo2,:frmRegisterUI:frmshelfcellWorkFlowInfo"/>
                                                </div>

                                            </div>



                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
