<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>

        <!-- /.search form -->
    </ui:define>

    <ui:define name="navigaion_content">





        <li><a href="ReceivableItemLocation.xhtml"><i class="fa fa-circle-o"></i> <span>Receivable Item Location </span></a></li>
        <li><a href="ItemLocationForIssuance.xhtml"><i class="fa fa-circle-o"></i> <span>Issuable Item Location </span></a></li>
        <li><a href="MmsStoreRequisition.xhtml"><i class="fa fa-circle-o"></i> <span>Store Requisition</span></a></li> 
        <li><a href="StoreInformation.xhtml"><i class="fa fa-circle-o"></i> <span>Store Information</span></a></li> 

        <li><a href="ShelfCellInformations.xhtml"><i class="fa fa-circle-o"></i> <span>Location Management Cell</span></a></li>
        <li><a href="shelfLife.xhtml"><i class="fa fa-circle-o"></i> <span>Shelf Life</span></a></li>
        <li><a href="DepartmentToStoreMapper.xhtml"><i class="fa fa-circle-o"></i> <span>Department To Store</span></a></li>

    </ui:define>
    <ui:define name="contents">   



        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlSearchPage" rendered="#{storeLocationInfoController.renderpnlToSearchPage}">
                        <p:commandButton id="btnSearch" action="#{storeLocationInfoController.goBackSearchButtonAction()}" icon="ui-icon-search" validateClient="true" 
                                         style="background-color: white;border-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                         title="Back to Search" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span> 
                    </h:panelGroup>

                    <p:commandButton id="btnNew" action="#{storeLocationInfoController.createNewLocationInfo()}" icon="#{storeLocationInfoController.icone}" validateClient="true"
                                     style="background-color: white;border-color: white"
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{storeLocationInfoController.createOrSearchBundle}" />

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/Store Information/ShelfRegistration.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{storeLocationInfoController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px" > 
                                <h:panelGroup id="frmSearchGatePass"> 


                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group  textBoxMargin6px required">   
                                            <h:outputLabel  for="selectStoreInfoList" class="control-label col-sm-2" value="Store Name:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="selectStoreInfoList" style="width: 100%"  required="true"  requiredMessage="Store Name Is required"
                                                                   value="#{storeLocationInfoController.storeInfoEntitytemp.storeId}"
                                                                   valueChangeListener="#{storeLocationInfoController.handleSelectStoreNameSearch}" 
                                                                   > 
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue="" /> 
                                                    <f:selectItems id="selectOneMenuQualification1" 
                                                                   value="#{storeLocationInfoController.storeList}" var="store" itemLabel="#{store.storeName}" itemValue="#{store.storeId}"
                                                                   />
                                                    <p:ajax update="selectStoreInfoList" process="@this" event="change" />
                                                </p:selectOneMenu>
                                                <p:message for="selectStoreInfoList" display="icon"/>
                                            </div>
                                        </div>



                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel for="txtSearchByBudgetYear" class="control-label col-sm-2" value="Rack Code"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchByBudgetYear" class="form-control"  
                                                             value="#{storeLocationInfoController.mmsShelfInfoEntity.rackCode}"/>
                                                <p:message for="selectStoreInfoList" display="icon"/>
                                            </div>

                                        </div>

                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton  id="btnFindInfo" class="btn btn-primary" action="#{storeLocationInfoController.searchByParameter()}" icon="ui-icon-search" 
                                                                  process="@this,frmSearchGatePass" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                                  value="Find" />            
                                            </div>
                                        </div>


                                    </div>



                                </h:panelGroup>
                            </div>
                        </div>


                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmGatepass">   


                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblgatePassInfo" value="#{storeLocationInfoController.mmsShelfSearchInfoDataModel}" var="shelfInfo" rows="5" selectionMode="single"
                                                             selection="#{storeLocationInfoController.selectedItem}" rowKey="#{shelfInfo.shelfId}" rowIndexVar="num"
                                                             paginator="true" paginatorPosition="bottom" editable="true">

                                                    <p:ajax event="rowSelect" listener="#{storeLocationInfoController.onRowEdit}" update=":frmRegisterUI, :frmMainUI, :frmToolbar" />      

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="S.No" />
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{shelfInfo.storeId.storeName}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Warehouse" />
                                                        </f:facet>
                                                        <h:outputText value="#{shelfInfo.storeId.warehouseId.name}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Shelf Code" />
                                                        </f:facet>
                                                        <h:outputText value="#{shelfInfo.rackCode}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Man" />
                                                        </f:facet>
                                                        <h:outputText value="#{shelfInfo.storeId.storeAdmin}"/>
                                                    </p:column>




                                                </p:dataTable>

                                            </div>                 
                                        </div>    



                                    </div>  



                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>
        </h:form>

        <h:form id="frmRegisterUI">
            <p:growl id="growl" showDetail="true" severity="information,fatal" autoUpdate="true" />

            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{storeLocationInfoController.renderPnlCreateLocationInfo}" >
                <div class="box box-primary ">
                    <div class="box-header">
                        <h3 class="box-title">Location Management Storage Registration</h3>                   
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="frmGatePassDtlInfo">







                                    <h:panelGroup id="frmGatePassDtlInfo1" rendered="#{storeLocationInfoController.renderForStore}">
                                        <p:growl id="growl1" showDetail="true" severity="information" autoUpdate="true" />
                                        <div class="form-horizontal  col-sm-12"> 


                                            <div class="form-group textBoxMargin6px required">
                                                <h:outputLabel  for="selectStoreInfoList" class="control-label col-sm-2" value="Store Name:"/>
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu   id="selectStoreInfoList" style="width: 100%"  required="true"  requiredMessage="Store Name Is required"
                                                                       value="#{storeLocationInfoController.storeInfoEntity.storeId}"
                                                                       valueChangeListener="#{storeLocationInfoController.handleSelectStoreName}" 
                                                                       > 
                                                        <f:selectItem itemLabel="--- Select one ---" itemValue="" /> 
                                                        <f:selectItems id="selectOneMenuQualification2" 
                                                                       value="#{storeLocationInfoController.storeList}" var="store" itemLabel="#{store.storeName}" itemValue="#{store.storeId}"
                                                                       />
                                                        <p:ajax update="selectStoreInfoList" process="@this" event="change" />
                                                    </p:selectOneMenu>
                                                    <p:message for="selectStoreInfoList" display="icon"/>

                                                </div>
                                            </div>   

                                            <div class="form-group  textBoxMargin6px required">  
                                                <p:outputLabel id="lbl_option2" class="control-label col-sm-2" value="Select option:"/>
                                                <div class="col-sm-4">
                                                    <p:selectOneRadio id="radoption2"   
                                                                      required="true" requiredMessage="option required" 
                                                                      value="#{storeLocationInfoController.mmsShelfInfoEntity.rackOrOutdoor}"
                                                                      valueChangeListener="#{storeLocationInfoController.handleSelectRackOrOutdoor}">
                                                        <f:selectItem itemLabel="Outdoor" itemValue="1"  />
                                                        <f:selectItem itemLabel="Rack" itemValue="0" />    
                                                        <p:ajax process="@this,radoption2" update="frmGatePassDtlInfo1"  event="valueChange" />
                                                    </p:selectOneRadio>

                                                    <p:message for="radoption2" display="icon"/>
                                                </div>
                                            </div>

                                            <div class="form-group textBoxMargin6px required">  
                                                <h:outputLabel id="lbl_ItemType" for="dropdownoutdoorType"  class="control-label col-sm-2" value="Outdoor Type:" rendered="#{storeLocationInfoController.renderOutdoorInfo}"  />
                                                <div class="col-sm-4">
                                                    <p:selectOneMenu id="dropdownoutdoorType"  required="true" requiredMessage="Outdoor type is required"
                                                                     rendered="#{storeLocationInfoController.renderOutdoorInfo}"
                                                                     style="width:100%"
                                                                     valueChangeListener="#{storeLocationInfoController.handleSelectOutdoorType}"
                                                                     value="#{storeLocationInfoController.mmsShelfInfoEntity.outdoorType}" 
                                                                     >
                                                        <f:selectItems value="#{storeLocationInfoController.listOfOutdoorType}" />
                                                        <p:ajax   event="change" process="@this" update="lbl_outdoorcode,frmRegisterUI:frmGatePassDtlInfo" />

                                                    </p:selectOneMenu>
                                                    <p:message for="dropdownoutdoorType" display="icon"/>
                                                </div>  
                                            </div>

                                            <h:panelGroup id="frmGatePassDtlInfo2" rendered="#{storeLocationInfoController.renderForClosedShade}">




                                                <div class="form-group textBoxMargin6px required">  
                                                    <p:outputLabel id="lbl_option1" class="control-label col-sm-2" rendered="#{storeLocationInfoController.renderForClosedShade}" value="Has A Rack:"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneRadio id="radoption3"   rendered="#{storeLocationInfoController.renderForClosedShade}"
                                                                          required="true" requiredMessage="option required" 
                                                                          value="#{storeLocationInfoController.mmsShelfInfoEntity.hasArack}"
                                                                          valueChangeListener="#{storeLocationInfoController.handleSelectHasArack}">
                                                            <f:selectItem itemLabel="Yes" itemValue="0" />
                                                            <f:selectItem itemLabel="No" itemValue="1"  />

                                                            <p:ajax process="@this" update="@this,lbl_outdoorcode"  event="valueChange" />
                                                        </p:selectOneRadio>
                                                        <p:message for="radoption3" display="icon"/>
                                                    </div>
                                                </div>


                                            </h:panelGroup>

                                            <div class="form-group textBoxMargin6px required">
                                                <h:outputLabel id="lbl_outdoorcode" for="txtOutdoorCode"  class="control-label col-sm-2" value="#{storeLocationInfoController.outdoorNameBundle}" />
                                                <div class="col-sm-4">
                                                    <p:inputText   id="txtOutdoorCode" class="form-control"  required="true" requiredMessage="The Data is required"

                                                                   value="#{storeLocationInfoController.mmsShelfInfoEntity.rackCode}"

                                                                   validator="#{validatorManagedBean.Remark}"
                                                                   />
                                                    <p:message for="txtOutdoorCode" display="icon"/>
                                                </div>
                                            </div>



                                        </div>
                                    </h:panelGroup>




                                    <div class="form-group textBoxMargin6px">
                                        <h:outputLabel id="btnAdddetail" class="control-label col-sm-2" />
                                        <div class="col-sm-4">
                                            <p:commandButton id="btnAdd" class="btn btn-primary" value="#{storeLocationInfoController.addorModify}" 
                                                             process=":frmRegisterUI:frmGatePassDtlInfo" 
                                                             action="#{storeLocationInfoController.addShelfs2()}"  

                                                             update="frmGatePassDtlInfo,frmTblMaterialInfo" 
                                                             />
                                        </div>
                                    </div>

                                </h:panelGroup>
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Storage Information</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px" > 


                                <h:panelGroup id="frmTblMaterialInfo">

                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblLocInfoDetail" paginatorPosition="bottom" value="#{storeLocationInfoController.mmsShelfDataModel}" paginator="true" 
                                                             selectionMode="single" 
                                                             selection="#{storeLocationInfoController.selectedShelf}" rowKey="#{locInfoDtl.rackCode}" 
                                                             rowIndexVar="num"  rows="10"  var="locInfoDtl">
                                                    <p:ajax event="rowSelect" listener="#{storeLocationInfoController.updateShelfInfoDetail}" update=":frmRegisterUI,:frmMainUI, :frmToolbar" />
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="S.No" />
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{locInfoDtl.storeId.storeName}"/>
                                                    </p:column>

                                                    <p:column >
                                                        <f:facet name="header" >
                                                            <h:outputText value="Code"/>
                                                        </f:facet>
                                                        <h:outputText value="#{locInfoDtl.rackCode}"/>
                                                    </p:column>

                                                    <p:column  rendered="#{storeLocationInfoController.renderForClosedShade}">
                                                        <f:facet name="header">
                                                            <h:outputText value="Shade Name"/>
                                                        </f:facet>
                                                        <h:outputText value="#{locInfoDtl.shadeName}" />
                                                    </p:column>

                                                </p:dataTable>
                                            </div>
                                        </div>

                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="box box-primary ">

                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body">
                            <div class="row"> 
                                <div class="col-md-12 textBoxMargin6px"> 





                                    <h:panelGroup id="frmshelfWorkFlowInfo">
                                        <div class="form-horizontal  col-sm-12"> 

                                            <div class="form-group textBoxMargin6px required">

                                                <p:outputLabel id="lbl_tetprepareby" class="control-label col-sm-2"  value="Processed By:"/>
                                                <div class="col-sm-4">
                                                    <p:inputText   id="txtprepareby" class="form-control"  
                                                                   value="#{storeLocationInfoController.userName}" readonly="true"
                                                                   required="true" requiredMessage="prepared is required"/>                                             
                                                </div>                                       
                                                <h:outputLabel for="txtApprovedDate" class="control-label col-sm-2" value="Processed On:"/>                                                                        
                                                <div class="col-sm-4">
                                                    <p:inputText id="txtApprovedDate" class="form-control" value="#{storeLocationInfoController.wfMmsProcessed.processedOn}"
                                                                 required="true" requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                                 onclick="displayCalendar('frmRegisterUI:txtApprovedDate', 'frmRegisterUI:txtApprovedDate');" />                                                                                                                                                    
                                                    <p:message for="txtApprovedDate" display="icon"/>
                                                </div>                                                                                   
                                            </div>        

                                            <div class="form-group textBoxMargin6px">
                                                <h:outputLabel id="saveButtonShelf" class="control-label col-sm-2"/>
                                                <div class="col-sm-4">
                                                    <p:commandButton  id="btnSave" class="btn btn-primary" validateClient="true"

                                                                      value="#{storeLocationInfoController.saveorUpdateBundle}" 
                                                                      action="#{storeLocationInfoController.saveShelfInformation()}"                                    
                                                                      process="frmTblMaterialInfo,:frmRegisterUI:frmshelfWorkFlowInfo" 
                                                                      update="frmGatePassDtlInfo,frmTblMaterialInfo,:frmRegisterUI:frmshelfWorkFlowInfo"/>
                                                </div>

                                            </div>



                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
