<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="search">  

        <!-- search form -->
        <h:form id="frmSearch" class="sidebar-form">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li><h:outputLabel value="Search ..."/></li>
                    <li><p:autoComplete id="themePojo"   var="theme" size="100"   forceSelection="true" placeholder="Search By Name..."/> </li>  
                </ul>

            </div>

        </h:form>

        <!-- /.search form -->
    </ui:define>

    <ui:define name="navigaion_content">



        <li><a href="ReceivableItemLocation.xhtml"><i class="fa fa-circle-o"></i> <span>Receivable Item Location </span></a></li>
        <li><a href="ItemLocationForIssuance.xhtml"><i class="fa fa-circle-o"></i> <span>Issuable Item Location </span></a></li>
        <li><a href="MmsStoreRequisition.xhtml"><i class="fa fa-circle-o"></i> <span>Store Requisition</span></a></li> 

        <li><a href="ShelfRegistration.xhtml"><i class="fa fa-circle-o"></i> <span>Location Management Shelf</span></a></li>
        <li><a href="ShelfCellInformations.xhtml"><i class="fa fa-circle-o"></i> <span>Location Management Cell</span></a></li>
        <li><a href="shelfLife.xhtml"><i class="fa fa-circle-o"></i> <span>Shelf Life</span></a></li>
        <li><a href="DepartmentToStoreMapper.xhtml"><i class="fa fa-circle-o"></i> <span>Department To Store</span></a></li>
    </ui:define>
    <ui:define name="contents">   
        <h:form id="frmToolbar"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pnlSearchPage" rendered="#{storeInfoManagedBean.renderpnlToSearchPage}">
                        <p:commandButton id="btnSearch" action="#{storeInfoManagedBean.goBackSearchButtonAction()}" icon="ui-icon-search" validateClient="true" 
                                         style="background-color: white;border-color: white"
                                         process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                         title="Back to Search" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span> 
                    </h:panelGroup>
                    <p:commandButton id="btnNew"  action="#{storeInfoManagedBean.createNewStoreInfo()}" icon="#{storeInfoManagedBean.icone}" validateClient="true"
                                     style="background-color: white;border-color: white" 
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmToolbar"
                                     title="#{storeInfoManagedBean.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/Store Information/StoreInformation.xhtml"><i class="fa fa-fw fa-refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{storeInfoManagedBean.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px" > 
                                <h:panelGroup id="frmSearchGatePass"> 
                                    <div class="form-horizontal  col-sm-12">
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Store Name:"/>

                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchStoreName" class="form-control" value="#{storeInfoManagedBean.storeInfoEntity.storeName}"/>
                                            </div>
                                        </div>

                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel class="control-label col-sm-2" value="Store No:"/>

                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchStoreNumber" class="form-control" value="#{storeInfoManagedBean.storeInfoEntity.storeNo}"/>
                                            </div>
                                        </div>

                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel  class="control-label col-sm-2"/>
                                            <div class="col-sm-4">
                                                <p:commandButton id="btnFindInfo" class="btn btn-primary" action="#{storeInfoManagedBean.searchStoreByParameter()}" icon="ui-icon-search" 
                                                                 process="@this,frmSearchGatePass" update=":frmMainUI:frmGatepass:tblgatePassInfo,:frmMainUI:mainUI"
                                                                 value="Find" />            
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmGatepass">   
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblgatePassInfo" value="#{storeInfoManagedBean.mmsStoreSearchInfoDataModel}" var="StoreInfo" rows="5" selectionMode="single"
                                                             rowIndexVar="num" selection="#{storeInfoManagedBean.selectedItem}" rowKey="#{StoreInfo.storeId}" 
                                                             paginator="true" paginatorPosition="bottom" editable="true">

                                                    <p:ajax event="rowSelect" listener="#{storeInfoManagedBean.onRowEdit}" update=":frmRegisterUI, :frmMainUI, :frmToolbar" />      

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="S.No" />
                                                        </f:facet>
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store No" />
                                                        </f:facet>
                                                        <h:outputText value="#{StoreInfo.storeNo}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Name" />
                                                        </f:facet>
                                                        <h:outputText value="#{StoreInfo.storeName}"/>
                                                    </p:column>

                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Type" />
                                                        </f:facet>
                                                        <h:outputText value="#{StoreInfo.storeType.name}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Region" />
                                                        </f:facet>
                                                        <h:outputText value="#{StoreInfo.region}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Ware House" />
                                                        </f:facet>
                                                        <h:outputText value="#{StoreInfo.warehouseId.name}"/>
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <h:outputText value="Store Keeper" />
                                                        </f:facet>
                                                        <h:outputText value="#{StoreInfo.storeAdmin}"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </div>                 
                                        </div>    
                                    </div>  
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>

        <h:form id="frmRegisterUI">
            <p:growl id="growl" showDetail="true" severity="information,fatal" autoUpdate="true" />

            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{storeInfoManagedBean.renderPnlCreateStoreInformation}" >
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Store Registration</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12 textBoxMargin6px" > 
                                <h:panelGroup id="frmGatePassDtlInfo">
                                    <div class="form-horizontal  col-sm-12"> 
                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel for="txtStoreNo" class="control-label col-sm-2" value="Store No:"/>
                                            <div class="col-sm-4"> 
                                                <p:inputText   id="txtStoreNo" value="#{storeInfoManagedBean.generateStoreNo()}" 
                                                               readonly="true" />
                                                <p:message for="txtStoreNo" display="icon"/>
                                            </div>
                                        </div>

                                        <div class="form-group textBoxMargin6px required">
                                            <p:outputLabel class="control-label col-sm-2"  value="Store Name:"/>

                                            <div class="col-sm-4">
                                                <p:inputText   id="txtStoreName" class="form-control"  
                                                               value="#{storeInfoManagedBean.storeInfoEntity.storeName}" 
                                                               required="true" requiredMessage="Store Name is required"
                                                               validator="#{validatorManagedBean.AlphaNumericText}"  />
                                                <p:message for="txtStoreName" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">   
                                            <h:outputLabel    class="control-label col-sm-2" value="Store Type:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu id="selectStoreType" required="true"  converter="entConverter"
                                                                 style="width:100%" requiredMessage="Store Type is required"
                                                                 value="#{storeInfoManagedBean.mmsLuStoreType}" 
                                                                 valueChangeListener="#{storeInfoManagedBean.handleSelectStoreType}">
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue=""  />
                                                    <f:selectItems  var="store" value="#{storeInfoManagedBean.mmsLuStoreTypeList}" itemLabel="#{store.name}" itemValue="#{store}"  />                                                    
                                                    <p:ajax update="selectStoreType"  event="change" process="@this" />
                                                </p:selectOneMenu>
                                                <p:message for="selectStoreType" display="icon"/>
                                            </div>  
                                        </div> 
                                        <div class="form-group textBoxMargin6px required">
                                            <p:outputLabel  class="control-label col-sm-2"  value="Region Name:"/>

                                            <div class="col-sm-4">
                                                <p:inputText   id="txtRegion" class="form-control"  
                                                               value="#{storeInfoManagedBean.storeInfoEntity.region}" 
                                                               required="true" requiredMessage="Region Name is required"
                                                               validator="#{validatorManagedBean.Text}"  />
                                                <p:message for="txtRegion" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">  
                                            <p:outputLabel class="control-label col-sm-2" value="WareHouse:"/>
                                            <div class="col-sm-4"> 
                                                <p:selectOneMenu id="txtStoreLocation" required="true"  converter="entConverter"
                                                                 style="width:100%" requiredMessage="WareHouse is required"
                                                                 value="#{storeInfoManagedBean.mmsLuWarehouse}"
                                                                 valueChangeListener="#{storeInfoManagedBean.handleSelectWarehouse}"
                                                                 >
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue=""/>
                                                    <f:selectItems  var="store1" value="#{storeInfoManagedBean.mmsLuWareHouseList}" itemLabel="#{store1.name}" itemValue="#{store1}"  />

                                                    <p:ajax update="txtStoreLocation"  event="change" process="@this" />

                                                </p:selectOneMenu>
                                                <p:message for="txtStoreLocation" display="icon"/>
                                            </div>

                                        </div>  
                                        <h:panelGroup id="padding">
                                            <div class="form-group col-sm-12 textBoxMargin6px">  
                                                <p:outputLabel id="lbl_categories1" for="radStoreStatus" class="control-label col-sm-2" value="Store Status:" rendered="#{storeInfoManagedBean.renderStoreInfo}"/>
                                                <div class="col-sm-4">
                                                    <p:selectOneRadio id="radStoreStatus"  rendered ="#{storeInfoManagedBean.renderStoreInfo}" 
                                                                      value="#{storeInfoManagedBean.storeInfoEntity.storeStatus}" >
                                                        <f:selectItem itemLabel="Active" itemValue="1"  />
                                                        <f:selectItem itemLabel="In Active" itemValue="0" />    
                                                        <p:ajax update="radStoreStatus"  event="change" process="@this" />
                                                    </p:selectOneRadio>
                                                    <p:message for="radStoreStatus" display="icon"/>
                                                </div>
                                            </div>               
                                        </h:panelGroup> 
                                        <div class="form-group textBoxMargin6px">
                                            <h:outputLabel for="txtDescriptions" class="control-label col-sm-2" value="Store Description:"/>
                                            <div class="col-sm-4"> 
                                                <p:inputTextarea   id="txtDescriptions" class="form-control"  
                                                                   value="#{storeInfoManagedBean.storeInfoEntity.description}"
                                                                   />
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <p:outputLabel value="Store Keeper:" class="control-label col-sm-2"  /> 
                                            <div class="col-sm-4">
                                                <p:autoComplete id="searchBystoreNames" emptyMessage="no data" forceSelection="true" 
                                                                style="width: 100%;" 

                                                                value="#{storeInfoManagedBean.hrEmployeesEntity.empId}"
                                                                completeMethod="#{storeInfoManagedBean.searchEmployeeInformation}"
                                                                required="true" requiredMessage="Store Keeper is required "
                                                                var="storeInfoEntitys"  itemValue="#{storeInfoEntitys.empId}" itemLabel="#{storeInfoEntitys}"   size="15"> 

                                                    <f:facet name="itemtip" >
                                                        <h:panelGrid columns="2" cellpadding="" style="width: 300px">                        
                                                            <h:outputText value="First Name " />
                                                            <h:outputText value="#{storeInfoEntitys.firstName}" />

                                                            <h:outputText value="Middle Name: " />
                                                            <h:outputText value="#{storeInfoEntitys.middleName}" />

                                                            <h:outputText value="Last Name: " />
                                                            <h:outputText value="#{storeInfoEntitys.lastName}" />

                                                            <h:outputText value="Employee Id " />
                                                            <h:outputText value="#{storeInfoEntitys.empId}" />
                                                        </h:panelGrid>
                                                    </f:facet>
                                                    <p:ajax  event="itemSelect" listener="#{storeInfoManagedBean.getEmployeeInfo}" process="@this" update="searchBystoreNames" />  
                                                </p:autoComplete>     
                                                <p:message for="searchBystoreNames" display="icon"/>
                                            </div>
                                        </div>  
                                        <div class="box box-primary">  
                                            <div class="box-header with-border">
                                                <h3 class="box-title"></h3>
                                            </div>  
                                            <div class="form-group textBoxMargin6px required">

                                                <p:outputLabel id="lbl_tetprepareby" class="control-label col-sm-2"  value="Processed By:"/>
                                                <div class="col-sm-4">
                                                    <p:inputText   id="txtprepareby" value="#{storeInfoManagedBean.userName}"  readonly="true"
                                                                   required="true" requiredMessage="prepared is required"/>                                             
                                                </div>                                       
                                                <h:outputLabel for="txtApprovedDate" class="control-label col-sm-2" value="Processed On:"/>                                                                        
                                                <div class="col-sm-4">
                                                    <p:inputText id="txtApprovedDate" class="form-control" value="#{storeInfoManagedBean.wfMmsProcessed.processedOn}"
                                                                 required="true" requiredMessage="Date is required" validator="#{validatorManagedBean.Date}"
                                                                 onclick="displayCalendar('frmRegisterUI:txtApprovedDate', 'frmRegisterUI:txtApprovedDate');" />                                                                                                                                                    
                                                    <p:message for="txtApprovedDate" display="icon"/>
                                                </div>                                                                                   
                                            </div>

                                            <div class="form-group textBoxMargin6px">
                                                <h:outputLabel id="saveButtonlbl" class="control-label col-sm-2" />
                                                <div class="col-sm-4">
                                                    <p:commandButton  id="btnSave" class="btn btn-primary "
                                                                      value="#{storeInfoManagedBean.saveorUpdateBundle}"
                                                                      process="@this,frmRegisterUI:frmGatePassDtlInfo"
                                                                      update="frmGatePassDtlInfo,:frmRegisterUI"
                                                                      action="#{storeInfoManagedBean.saveStoreInformation()}" />
                                                </div> 
                                            </div>
                                        </div> 
                                    </div>                           
                                </h:panelGroup>
                            </div>
                        </div>
                    </div> 
                </div>

            </h:panelGroup>                           
        </h:form>
    </ui:define>
</ui:composition>

