<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../../resources/templates/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li><a href="PettyCashEstablishmentCodeReg.xhtml"><i class="fa fa-fw fa-circle-o-notch "></i> Petty Cash Establishment</a></li> 
        <li><a href="PettyCashReplenishment.xhtml"><i class="fa fa-fw fa-circle-o-notch "></i> Petty Cash Replenishment</a></li>
    </ui:define>

    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="backface-visibility: hidden;border-color:transparent;background: #ffffff " >
                <f:facet name="right">
                    <p:commandButton style="background-color: white; border-color: white"
                                     action="#{pettyCashRegisterManagedBean.createNewPettyCash()}" 
                                     icon="#{pettyCashRegisterManagedBean.icone}" validateClient="true" 
                                     process="@this" update="@this,:frmRegisterUI,:frmMainUI,:frmSample"
                                     title="#{pettyCashRegisterManagedBean.createOrSearchBundle}" />

                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    <a href="PettyCashRegister.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                </f:facet>
            </p:toolbar>
        </h:form>

        <h:form id="frmMainUI">
            <p:growl id="growl2" showDetail="true" sticky="#{pettyCashRegisterManagedBean.isSticky}" autoUpdate="true" severity="information,fatal"/>  
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{pettyCashRegisterManagedBean.renderPnlManPage}">
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" severity="warning,fatal"/>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search Petty Cash Register ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:panelGroup id="searchPettyCash" class="col-sm-12">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel class="control-label col-sm-4" value="Cashier Name:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="drdSearchCasherName" value="#{pettyCashRegisterManagedBean.empEnty.firstName}" placeholder="Search by cashier name" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <h:outputLabel id="FindInfo" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:commandButton  class="btn btn-primary" action="#{pettyCashRegisterManagedBean.searchFmsDailyCashRegister()}"
                                                                          icon="ui-icon-search" 
                                                                          process="@this,searchPettyCash,drdSearchCasherName" update="tblEstablishmentDetailSearch"
                                                                          value="Find" />            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="panel-body">
                                    <div class="form-horizontal col-sm-12">
                                        <p:dataTable  id="tblEstablishmentDetailSearch" value="#{pettyCashRegisterManagedBean.dailyCashRegistersDetailDataModel}"
                                                      selection="#{pettyCashRegisterManagedBean.selectPettyCash}" rowKey="#{casherAccountDetail.id}" rows="10"
                                                      selectionMode="single" var="casherAccountDetail"  paginator="true" paginatorPosition="bottom" rowIndexVar="num"
                                                      rowsPerPageTemplate="5,10,15"
                                                      resizableColumns="true" >
                                            <p:ajax event="rowSelect" listener="#{pettyCashRegisterManagedBean.selectPettyCashRow}"
                                                    process="@this"
                                                    update=":frmRegisterUI,
                                                    :frmMainUI"/>
                                            <p:column width="120">
                                                <f:facet name="header">
                                                    <h:outputText value="S.No."/>
                                                </f:facet>
                                                <h:outputText value="#{num+1}"/>
                                            </p:column>
                                            <p:column headerText="Cahier Name" width="200" filterBy="#{casherAccountDetail.chasherId.empCode.firstName}" sortBy="#{casherAccountDetail.chasherId.empCode.firstName}">                                    
                                                <h:outputText id="outputText10" value="#{casherAccountDetail.chasherId.empCode.firstName} #{casherAccountDetail.chasherId.empCode.middleName}"/>
                                            </p:column>
                                            <p:column headerText="Voucher Code" sortBy="#{casherAccountDetail.pettyCashId.fmsVOUCHERID.voucherId}" filterBy="#{casherAccountDetail.pettyCashId.fmsVOUCHERID.voucherId}" width="200">                                    
                                                <h:outputText id="outputText9" value="#{casherAccountDetail.pettyCashId.fmsVOUCHERID.voucherId}"/>
                                            </p:column>
                                            <p:column id="column3" headerText="Voucher Date" sortBy="#{casherAccountDetail.pettyCashId.preparedDate}" filterBy="#{casherAccountDetail.pettyCashId.preparedDate}">                                    
                                                <h:outputText id="outputText8" value="#{casherAccountDetail.pettyCashId.preparedDate}">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy" /></h:outputText>
                                            </p:column>
                                            <p:column id="column4" sortBy="#{casherAccountDetail.registrationDate}" filterBy="#{casherAccountDetail.registrationDate}">                                    
                                                <f:facet name="header">
                                                    <h:outputLabel  id="outputText4" value="Payment Date" />
                                                </f:facet>
                                                <h:outputText id="outputText7" value="#{casherAccountDetail.registrationDate}">
                                                    <f:convertDateTime  pattern="dd/MM/yyyy" /></h:outputText>
                                            </p:column>

                                            <p:column id="column5" >                                    
                                                <f:facet name="header">
                                                    <h:outputLabel id="outputText5" value="Amount"/>
                                                </f:facet>
                                                <h:outputText id="outputTexrert6" value="#{casherAccountDetail.amount}" converter="#{pettyCashRegisterManagedBean.numberConverter}"/>
                                            </p:column>

                                            <p:column id="column6" headerText="Purpose" width="200" >                                    
                                                <h:outputText id="outputTexrert300" value="#{casherAccountDetail.pettyCashId.fmsVOUCHERID.purpose}"/>
                                            </p:column>
                                        </p:dataTable>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form  id="frmRegisterUI" > 
            <p:growl id="growl" showDetail="true" sticky="#{pettyCashRegisterManagedBean.isSticky}" autoUpdate="true" severity="information,fatal"/>  
            <h:panelGroup style="border: 0px; background-color: transparent" id="registerUI" rendered="#{pettyCashRegisterManagedBean.renderPnlCreatePettyCash}" >
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" severity="warning,fatal"/>
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Petty Cash Register</h3>                       
                    </div> 
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" >
                                <h:panelGroup id="pettyCashRegister">
                                    <div class="col-md-12">                                        
                                        <div class="col-md-6"> 
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel  for="txtCashierName" class="control-label col-sm-4" value="Casher Name: "/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtCashierName" class="form-control"
                                                                     value="#{pettyCashRegisterManagedBean.fmsCasherAccount.empCode.firstName} #{pettyCashRegisterManagedBean.fmsCasherAccount.empCode.middleName} #{pettyCashRegisterManagedBean.fmsCasherAccount.empCode.lastName}"
                                                                     readonly="true"/>       
                                                        <p:message for="txtCashierName" display="icon"/>   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal"> 
                                                    <h:outputLabel class="control-label col-sm-4" value="Voucher Code: "/>
                                                    <div class="col-sm-8">
                                                        <p:autoComplete id="searchByVoucherIDInfo" value="#{pettyCashRegisterManagedBean.fmsVoucher}"
                                                                        converter="entConverter" emptyMessage="no data found" style="width: 100%" 
                                                                        completeMethod="#{pettyCashRegisterManagedBean.CPOVoucherCodelist}" 
                                                                        var="glInfo" placeholder="Search Voucher Code" size="15" scrollHeight="185"
                                                                        itemValue="#{glInfo}" itemLabel="#{glInfo}" required="true" requiredMessage="Value is required: Search Voucher Code"
                                                                        disabled="#{pettyCashRegisterManagedBean.isDisabledTxtVoucherCode}">
                                                            <p:ajax  event="itemSelect" listener="#{pettyCashRegisterManagedBean.getPCPVDailyCashInfo}"  
                                                                     process="@this" update="voucherDate,txtAmount,txtBalance1,btnSave" />  
                                                            <p:column headerText="Voucher Id" >
                                                                <h:outputText  value="#{glInfo.voucherId}" />
                                                            </p:column>
                                                            <p:column headerText="Voucher Type" >
                                                                <h:outputText  value="#{glInfo.type}"  />
                                                            </p:column>
                                                        </p:autoComplete>  
                                                        <p:message for="searchByVoucherIDInfo" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group required form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4" value="Payment Date: "/>
                                                    <div class="col-sm-8">
                                                        <p:calendar id="paymentDate" value="#{pettyCashRegisterManagedBean.dailyCashRegisterEnty.registrationDate}" converterMessage="Value must be Date"
                                                                    disabled="#{pettyCashRegisterManagedBean.disablePaymentDate}" pattern="dd/MM/yyyy" placeholder="dd/mm/yyyy" required="true" requiredMessage="Payment Date: Value is required"/>
                                                        <p:message for="paymentDate" display="icon" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel  for="txtAmount" class="control-label col-sm-4" value="Amount: "/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtAmount" class="form-control"
                                                                     value="#{pettyCashRegisterManagedBean.fmsVoucher.fmsCashPaymentOrder.amountInFigure}"
                                                                     readonly="true" converter="#{pettyCashRegisterManagedBean.numberConverter}"/>       
                                                        <p:message for="txtAmount" display="icon"/>   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal"> 
                                                    <h:outputLabel class="control-label col-sm-4" value="Voucher Date: "/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="voucherDate" value="#{pettyCashRegisterManagedBean.fmsVoucher.fmsCashPaymentOrder.preparedDate}"
                                                                     readonly="true" class="form-control"><f:convertDateTime  pattern="dd/MM/yyyy" /></p:inputText>  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel class="control-label col-sm-4" value=""/>                                                                  
                                                    <div class="col-sm-8">
                                                        <p:commandButton id="btnSave" class="btn btn-primary" value="#{pettyCashRegisterManagedBean.saveorUpdateBundle}"
                                                                         action="#{pettyCashRegisterManagedBean.saveDailyPettyCashRegister()}" disabled="#{pettyCashRegisterManagedBean.isDisabledBtnSave}"
                                                                         process="@this,:frmRegisterUI" update="@this,:frmRegisterUI"/> 
                                                    </div>
                                                </div>
                                        </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel id="txtTotalEstablished1" class="control-label col-sm-4" value="Total Established:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText  id="txtTotalEstablished" value="#{pettyCashRegisterManagedBean.totalEstabliseh}" converter="#{pettyCashRegisterManagedBean.numberConverter}" readonly="true" class="form-control"/> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel id="txtTotalPaid" class="control-label col-sm-4" value="Total Paid:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText  id="txtTotalPaid1" value="#{pettyCashRegisterManagedBean.totalPaid}" converter="#{pettyCashRegisterManagedBean.numberConverter}" readonly="true" class="form-control"/>  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 textBoxMargin6px">
                                                <div class="form-group form-horizontal">
                                                    <p:outputLabel id="txtBalance2" class="control-label col-sm-4" value="Cash on hand:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtBalance1" readonly="true" class="form-control" converter="#{pettyCashRegisterManagedBean.numberConverter}"
                                                                     value="#{pettyCashRegisterManagedBean.cashOnHand}"/>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form> 
    </ui:define>
</ui:composition>          
