<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="GoodsEntrance.xhtml"><i class="fa fa-circle-o "></i> <span>Goods Entrance</span></a></li> 
        <li><a href="ImportShippingInstruct.xhtml"><i class="fa fa-circle-o "></i> <span>Import Shipping</span></a></li> 
        <li><a href="ContainerAgreement.xhtml"><i class="fa fa-circle-o "></i> <span>Container Agreement</span></a></li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="actionPlan"> 
            <p:toolbar style="background-color: white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pngBackSarch" rendered="#{claimRecordingFormController.renderpnlToSearchPage}">
                        <p:commandButton id="btnBackToSearch" action="#{claimRecordingFormController.goBackToSearchpageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                         style="background-color: white;border-color: white"
                                         process="@this" update=":frmMainUI, :frmactionPlanUi, :actionPlan"
                                         title="Back to Search" />              
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span> 
                    </h:panelGroup>
                    <h:panelGroup id="PgAddSearch">
                        <p:commandButton id="cmdBtnNew" action="#{claimRecordingFormController.addNewClaim()}" style="background-color: white;border-color: white"
                                         icon="#{claimRecordingFormController.icon}" title="#{claimRecordingFormController.createOrSearchBundle}" 
                                         process="@this" update="@this, :frmMainUI, :frmactionPlanUi, :actionPlan"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="PgNotify" rendered="#{goodsEntranceController.isRenderNotify}">
                        <p:commandLink id="cmdLinkNotf" class="fa fa-bell-o" title="Notifications" value="#{claimRecordingFormController.requestNotificationCounter}"  
                                       rendered="#{claimRecordingFormController.isRenderNotify}" style="color: red;background-color: white;border-color: white "/>
                        <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblReqNotf" value="Claim for approve List"/>
                            <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains"                                            
                                                valueChangeListener="#{claimRecordingFormController.RequestListChange}" converter="entConverter">
                                <f:selectItems id="selectOneMenuAppList" var="claimList"
                                               value="#{claimRecordingFormController.prmscrfList}"
                                               itemValue="#{claimList}" itemLabel="#{claimList.claimNo}"/>              
                                <p:ajax event="valueChange" update="@this,:frmMainUI, :actionPlan,:frmactionPlanUi"  />  
                            </p:selectOneListbox>
                        </p:overlayPanel>

                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                   title="Work Flow" style="background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>                     
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblWorkflow" value="#{lCRigistrationController.wfPrmsProcessedDModel}"
                                                             var="currentRow" selectionMode="single" rowIndexVar="num"  rows="5" paginator="true"
                                                             rowKey="#{currentRow}" paginatorPosition="bottom" >
                                                    <p:column headerText="S/N" width="60">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{currentRow.commentGiven}" /> 
                                                    </p:column>
                                                    <p:column headerText="Processed On">
                                                        <h:outputText value="#{currentRow.commentGiven}" /> 
                                                    </p:column>
                                                    <p:column headerText="Comment Given">
                                                        <h:outputText value="#{currentRow.commentGiven}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="ClaimRecordingForm.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{claimRecordingFormController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchActionPlan"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group  textBoxMargin6px">   
                                            <h:outputLabel   class="control-label col-sm-2" value="Search By:"/>
                                            <div class="col-sm-4">
                                                <p:selectOneMenu   id="drdSearchName" style="width: 100%"                                                                     converter="entConverter"  value="#{storeRequisitionController.requisition.columnName}"
                                                                   valueChangeListener="#{claimRecordingFormController.columnNameChangeEvent}"> 
                                                    <f:selectItem itemLabel="--- Select one ---" itemValue="" /> 
                                                    <f:selectItems value="#{claimRecordingFormController.mmsClaimRColumnNameList}" 
                                                                   var="colNameList" itemLabel="#{colNameList}"/>
                                                    <p:ajax event="change" process="@this"  update="lblSearchName,txtSearchName"/>
                                                </p:selectOneMenu>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMargin6px"> 
                                            <h:outputLabel id="lblSearchName" class="control-label col-sm-2" value="Searching By #{claimRecordingFormController.prmsClaimRecordingForm.columnName}:"/>
                                            <div class="col-sm-4">
                                                <p:inputText id="txtSearchName" class="form-control" value="#{claimRecordingFormController.prmsClaimRecordingForm.columnValue}"/>
                                            </div>

                                        </div>
                                            <!--<div class="form-group"> 
                                                <h:outputLabel class="control-label col-sm-2" value="Claim No:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="ClaimNo" value="#{claimRecordingFormController.prmsClaimRecordingForm.claimNo}"/>
                                                </div>
                                            </div> -->
                                            <div class="form-group"> 
                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-4">
                                                    <p:commandButton  id="btnFind" icon="ui-icon-search" action="#{claimRecordingFormController.searchClaimRNo()}"
                                                                      process="@this,frmSearchActionPlan" update=":frmMainUI:frmactionplanMasterTbl"
                                                                      value="Find" class="btn btn-primary col-lg-3"/>            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmactionplanMasterTbl">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="actioPlnsearchTbl"   rows="5" value="#{claimRecordingFormController.prmsClaimRecordingFormsModel}"
                                                                 var="actionPlanMstrInfoTbl" paginator="true" paginatorPosition="bottom" editable="true"
                                                                 selection="#{claimRecordingFormController.selectPrmsClaimRecordingForm}"
                                                                 selectionMode ="single"  rowKey ="#{actionPlanMstrInfoTbl.claimId}">
                                                        <p:ajax event="rowSelect" listener="#{claimRecordingFormController.rowSelect}" 
                                                                update=":frmactionPlanUi,:frmMainUI,:actionPlan" />         
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Claim No" />
                                                            </f:facet>
                                                            <h:outputText value="#{actionPlanMstrInfoTbl.claimNo}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Work Unit" />
                                                            </f:facet>
                                                            <h:outputText value="#{actionPlanMstrInfoTbl.depId}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Date Registared" />
                                                            </f:facet>
                                                            <h:outputText value="#{actionPlanMstrInfoTbl.dateRegistered}">
                                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Date Requested" />
                                                            </f:facet>
                                                            <h:outputText value="#{actionPlanMstrInfoTbl.dateRequested}">
                                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Date Returned" />
                                                            </f:facet>
                                                            <h:outputText value="#{actionPlanMstrInfoTbl.dateReturned}">
                                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                            </h:outputText>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="frmactionPlanUi">
            <h:panelGroup style="border: 0px; background-color: transparent" id="actionPlnpanel" rendered="#{claimRecordingFormController.renderPnlCreateParty}"  >
                <p:growl id="growl" showDetail="true" severity="information,fatal" autoUpdate="true" />
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Claim Recording</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="col-sm-6">

                                    <h:panelGroup style="border: 0px; background-color: transparent" id="ClaimPanel" >
                                        <div class="form-horizontal col-sm-12">  
                                            <div class="form-horizontal col-sm-12"> 
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel id="lblClaimsNo" class="control-label col-sm-4" value="Claim No:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtClaimNo"  readonly="true"
                                                                     value="#{claimRecordingFormController.generateClaimNo()}"/>
                                                    </div> 
                                                </div>
                                            </div> 
                                        </div>
                                    </h:panelGroup> 
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="actionMasterPanel3" >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="Contract No:"  class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtcontractNc"  converter="entConverter" required="true" requiredMessage="Please Contract No"
                                                                         value="#{claimRecordingFormController.prmsContract}" style="width: 100%"
                                                                         valueChangeListener="#{claimRecordingFormController.getItemList}" 
                                                                         disabled="#{workFlow.readonly}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                            <f:selectItems value="#{claimRecordingFormController.listOfContract}" var="cont" itemLabel="#{cont.contractNo}" itemValue="#{cont}"/>
                                                            <p:ajax event="change" process="@this" update="@this,txtsuplier,txtItemName,txtContractAmountClaim" />
                                                        </p:selectOneMenu>
                                                        <p:message for="txtcontractNc" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">  
                                                <div class="form-group textBoxMargin6px">    
                                                    <p:outputLabel value="Commercial Invoice:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtCommInvoice" readonly="#{workFlow.readonly}" value="#{claimRecordingFormController.prmsClaimRecordingForm.commecialInvoice}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Bill No:" id="lblBillNo" for="txtBillNo" class="control-label col-sm-4">
                                                    </p:outputLabel>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtBillNo" readonly="#{workFlow.readonly}"  value="#{claimRecordingFormController.prmsClaimRecordingForm.billNo}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Claim Description:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:inputTextarea   readonly="#{workFlow.readonly}" value="#{claimRecordingFormController.prmsClaimRecordingForm.claimDescription}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Supplier:" id="lblSupplier" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtsuplier"  value="#{claimRecordingFormController.prmsContract.suppId.vendorName}" readonly="true" />
                                                    </div>
                                                </div>
                                            </div>
                                            <p:dialog id="dlg" header="Department List" widgetVar="dlg" height="300" width="500" showEffect="explode">
                                                <h:panelGrid columns="3">
                                                    <p:tree value="#{claimRecordingFormController.root}" var="nodes" style="border: transparent; width: 100%"
                                                            selectionMode="single" selection="#{claimRecordingFormController.selectedNode}">
                                                        <p:ajax event="select" listener="#{claimRecordingFormController.onNodeSelect}" process="@this" 
                                                                update=":frmactionPlanUi:txtworkU"/>
                                                        <p:treeNode>
                                                            <h:outputText value="#{nodes}"/>
                                                        </p:treeNode>
                                                    </p:tree>                                       
                                                </h:panelGrid>
                                            </p:dialog>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="Work Unit:" class="control-label col-sm-4" />
                                                    <div class="col-sm-6">
                                                        <p:inputText id="txtworkU"  value="#{claimRecordingFormController.departments.depName}" 
                                                                     requiredMessage="Please choose Work Unit" placeholder="Use Only From + Button" onmousedown="return false;"
                                                                     required="true" title="Pls click on + to select Department">                                                                                                         
                                                        </p:inputText>
                                                        <p:message for="txtworkU" display="icon"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <p:commandButton  id="btnTree" onclick="PF('dlg').show();" partialSubmit="true" style="background: transparent;" title="Choose Departmnet" value="+" process="@this"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="col-sm-6">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="ClaimssMasterPanel" >
                                        <div class="form-horizontal col-sm-12">

                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Date Registered:" for="dateReg" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:calendar id="dateReg" disabled="#{workFlow.readonly}" value="#{claimRecordingFormController.prmsClaimRecordingForm.dateRegistered}" 
                                                                    readonlyInput="true"   autocomplete="off" placeholder="dd/mm/yyyy" pattern="dd/MM/yyyy"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Date Requested:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:calendar id="dateReq" disabled="#{workFlow.readonly}" value="#{claimRecordingFormController.prmsClaimRecordingForm.dateRequested}" 
                                                                    readonlyInput="true"   autocomplete="off" placeholder="dd/mm/yyyy" pattern="dd/MM/yyyy"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Date Returned:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:calendar id="dateRet" disabled="#{workFlow.readonly}" value="#{claimRecordingFormController.prmsClaimRecordingForm.dateReturned}" 
                                                                    readonlyInput="true"   autocomplete="off" placeholder="dd/mm/yyyy" pattern="dd/MM/yyyy"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="Currency:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu  id="txtCurrencies" style="width: 100%" converter="entConverter"
                                                                          required="true" requiredMessage="Please Select Currency"
                                                                          disabled="#{workFlow.readonly}"
                                                                          value="#{claimRecordingFormController.fmsLuCurrency}" 
                                                                          valueChangeListener="#{claimRecordingFormController.setSelectedCurrency}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                            <f:selectItems value="#{claimRecordingFormController.currencyLists}" 
                                                                           var="currency" itemLabel="#{currency.currency}" itemValue="#{currency}" />
                                                            <p:ajax event="change" process="@this" update="@this"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="txtCurrencies" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Contract Quantity:" id="lblContractAmountsContract" for="txtContractAmountClaim" class="control-label col-sm-4">
                                                    </p:outputLabel>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtContractAmountClaim" value="#{claimRecordingFormController.prmsContract.contractamount}" 
                                                                     readonly="true" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="Delivered Quantity:" id="lblContractAmountsDelivered" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtDeliveredAmountClaim" required="true" requiredMessage="Please Insert Delivery Quantity" 
                                                                     value="#{claimRecordingFormController.prmsClaimRecordingForm.deliveredAmount}" 
                                                                     disabled="#{workFlow.readonly}">

                                                            <p:ajax event="blur" listener="#{claimRecordingFormController.Remainedclaimquantity}" 
                                                                    process=":frmactionPlanUi:txtContractAmountClaim,txtDeliveredAmountClaim" 
                                                                    update=":frmactionPlanUi:txtClaimRequestAmountClaim"/>
                                                        </p:inputText>
                                                        <p:message for="txtDeliveredAmountClaim" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Remained/claim quantity:" id="lblContractAmountsClaim" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtClaimRequestAmountClaim" 
                                                                     value="#{claimRecordingFormController.prmsClaimRecordingForm.returnedClaimAmount}" 
                                                                      readonly="true"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Item Detail</h3>
                        </div>
                        <div class="box-body">
                            <div class="row"> 
                                <div class="col-md-12" > 
                                    <div class="panel-body">
                                        <h:panelGroup style="border: 0px; background-color: transparent" id="actionMasterPanel1">
                                            <div class="form-horizontal col-sm-12">  
                                                <div class="col-sm-6">
                                                    <div class="form-horizontal col-sm-12">  
                                                        <div class="form-group textBoxMargin6px required">
                                                            <p:outputLabel value="Item Name:" id="lblItemNames" class="control-label col-sm-4"/>

                                                            <div class="col-sm-8">
                                                                <p:selectOneMenu id="txtItemName"  value="#{claimRecordingFormController.itemRegistration.materialId}" converter="entConverter"
                                                                                 valueChangeListener="#{claimRecordingFormController.setSelectedItem}" style="width: 100%"
                                                                                 required="true" requiredMessage="Please Select Item Name"
                                                                                 disabled="#{workFlow.readonly}">
                                                                    <f:selectItem itemLabel="--Select One-- " />
                                                                    <f:selectItems value="#{claimRecordingFormController.itemList}" var="item" itemLabel="#{item.matName}" itemValue="#{item.materialId}" />
                                                                    <p:ajax event="change" process="@this" update="@this"/>
                                                                </p:selectOneMenu>
                                                                <p:message for="txtItemName" display="icon"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-horizontal col-sm-12">  
                                                        <div class="form-group textBoxMargin6px required">
                                                            <p:outputLabel value="Requested Part Number:" id="lblRequestPart"  class="control-label col-sm-4"/>
                                                            <div class="col-sm-8">
                                                                <p:inputText id="txtReqPartone" required="true" readonly="#{workFlow.readonly}" requiredMessage="Please Insert Requested Part Number" 
                                                                             value="#{claimRecordingFormController.prmsClaimDetail.requestedPartNo}" />
                                                                <p:message for="txtReqPartone" display="icon"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-horizontal col-sm-12">  
                                                        <div class="form-group textBoxMargin6px required">
                                                            <p:outputLabel value="Delivered Part Number:" id="lblDeliveredPart"  class="control-label col-sm-4"/>
                                                            <div class="col-sm-8">
                                                                <p:inputText id="txtDelPartone" required="true" requiredMessage="Please Insert Deliver Part Number" 
                                                                             value="#{claimRecordingFormController.prmsClaimDetail.deliveredPartNo}" 
                                                                             readonly="#{workFlow.readonly}"/>
                                                                <p:message for="txtDelPartone" display="icon"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-horizontal col-sm-12">  
                                                        <div class="form-group textBoxMargin6px">
                                                            <p:outputLabel value="Unit of Measure:" id="lblUnitOfMeasure" class="control-label col-sm-4">
                                                            </p:outputLabel>
                                                            <div class="col-sm-8">
                                                                <p:inputText id="txtUnitMeasure" readonly="#{workFlow.readonly}" value="#{claimRecordingFormController.prmsClaimDetail.unitOfMeasure}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-horizontal col-sm-12">
                                                        <div class="form-group textBoxMargin6px"> 

                                                            <div class="col-lg-4"></div>
                                                            <div class="col-sm-8">
                                                                <p:commandButton  id="btnAdd" action="#{claimRecordingFormController.addTable()}" 
                                                                                  process="@this,actionMasterPanel1"
                                                                                  update="actionMasterPanel1,actioPlnsearchTbl" 
                                                                                  class="btn btn-primary col-lg-4 "
                                                                                  value="#{claimRecordingFormController.addOrModifyBundle}" />            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-horizontal col-sm-12">  
                                                        <div class="form-group textBoxMargin6px">
                                                            <p:outputLabel value="Quantity:" id="lblQuantities"  class="control-label col-sm-4">
                                                            </p:outputLabel>
                                                            <div class="col-sm-8">
                                                                <p:inputText id="txtQuantity" readonly="#{workFlow.readonly}" value="#{claimRecordingFormController.prmsClaimDetail.quantity}" 
                                                                             validator="#{validatorManagedBean.Number}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-horizontal col-sm-12">  
                                                        <div class="form-group textBoxMargin6px">
                                                            <p:outputLabel value="Item Spec:" id="lblItemSpec" class="control-label col-sm-4">
                                                            </p:outputLabel>
                                                            <div class="col-sm-8">
                                                                <p:inputText id="txtItemSpec" readonly="#{workFlow.readonly}" value="#{claimRecordingFormController.prmsClaimDetail.itemSpec}"  />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-horizontal col-sm-12">
                                                        <div class="form-group textBoxMargin6px">
                                                            <p:outputLabel value="Remark:" class="control-label col-sm-4" />
                                                            <div class="col-sm-8">
                                                                <p:inputTextarea  class="form-control" readonly="#{workFlow.readonly}" value="#{claimRecordingFormController.prmsClaimDetail.remark}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </h:panelGroup>
                                        <h:panelGroup style="border: 0px; background-color: transparent" id="actionMasterPanel2">
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group">                                        
                                                    <div class="col-sm-12">
                                                        <p:dataTable id="actioPlnsearchTbl" rowIndexVar="num"  rows="5" value="#{claimRecordingFormController.prmsClaimDetailsModels}"
                                                                     var="actionPlanMstrInfoTbl1" paginator="true" paginatorPosition="bottom" >
                                                            <p:ajax event="rowSelect" listener="#{claimRecordingFormController.rowSelect}" 
                                                                    update="@this" />
                                                            <p:column id="columnNo"  >                                                                                                 
                                                                <f:facet name="header">
                                                                    <h:outputLabel id="outQuotCode" value="No"/>
                                                                </f:facet>
                                                                <h:outputText id="txtQuotCode" value="#{num+1}"/> 
                                                            </p:column> 
                                                            <p:column  >                                                                                                 
                                                                <f:facet name="header">
                                                                    <h:outputLabel id="lblItemnameclaimd" value="Item Name"/>
                                                                </f:facet>
                                                                <h:outputText id="txtItemnameclaimd" value="#{actionPlanMstrInfoTbl1.materialId.matName}"/> 
                                                            </p:column> 
                                                            <p:column  >                                                                                                 
                                                                <f:facet name="header">
                                                                    <h:outputLabel id="lblRequestpartclaimd" value="Requested Part Number"/>
                                                                </f:facet>
                                                                <h:outputText id="txtRequestpartclaimd" value="#{actionPlanMstrInfoTbl1.requestedPartNo}"/> 
                                                            </p:column> 
                                                            <p:column >
                                                                <f:facet name="header">
                                                                    <h:outputLabel id="lblDeliveredpartclaimd" value="Delivered Part Number" />
                                                                </f:facet>
                                                                <h:outputText id="txtDeliveredpartclaimd" value="#{actionPlanMstrInfoTbl1.deliveredPartNo}"/>
                                                            </p:column> 
                                                            <p:column >
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Unit of Measure" />
                                                                </f:facet>
                                                                <h:outputText value="#{actionPlanMstrInfoTbl1.unitOfMeasure}"/>
                                                            </p:column> 
                                                            <p:column >
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Quantity" />
                                                                </f:facet>
                                                                <h:outputText value="#{actionPlanMstrInfoTbl1.quantity}"/>
                                                            </p:column> 
                                                            <p:column >
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Item Spec" />
                                                                </f:facet>
                                                                <h:outputText value="#{actionPlanMstrInfoTbl1.itemSpec}" />
                                                            </p:column>
                                                            <p:column >
                                                                <f:facet name="header">
                                                                    <h:outputLabel value="Remark" />
                                                                </f:facet>
                                                                <h:outputText value="#{actionPlanMstrInfoTbl1.remark}" />
                                                            </p:column>
                                                            <p:column>  
                                                                <p:commandLink disabled="#{workFlow.readonly}" value="Edit" action="#{claimRecordingFormController.edit()}"
                                                                               process="@this,actioPlnsearchTbl"
                                                                               update=":frmactionPlanUi:actionMasterPanel1,actioPlnsearchTbl">
                                                                    <!---->
                                                                </p:commandLink>
                                                            </p:column>
                                                        </p:dataTable>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">                                            
                                               </div>
                                            </div>
                                        </h:panelGroup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="panel panel-info">
                        <section class="panel-body">  
                            <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-12">                      
                                        <div class="box-body"> 
                                            <div class="col-md-6">
                                                <div class="col-md-12 textBoxMargin6px">
                                                    <div class="form-group form-horizontal form-group">
                                                        <p:outputLabel class="control-label col-sm-4" value="Processed By:"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText  id="txtProcessedBy" readonly="true"   value="#{lCRigistrationController.loggerName}" title="descripition"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 textBoxMargin6px">
                                                    <div class="form-group required form-horizontal">
                                                        <h:outputLabel  class="control-label col-sm-4" value="Decision:" rendered="#{claimRecordingFormController.renderDecision}"/> 
                                                        <div class="col-sm-8">
                                                            <p:selectOneMenu id="drddecision" value="#{claimRecordingFormController.wfPrmsProcessed.decision}" 
                                                                             required="true" requiredMessage="Select Decision" style="width: 100%"
                                                                             valueChangeListener="#{claimRecordingFormController.handleselectOptions}" rendered="#{claimRecordingFormController.renderDecision}">                                                                                        
                                                                <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                                <f:selectItem itemLabel="Approve" itemValue="Approve"/>
                                                                <f:selectItem itemLabel="Reject" itemValue="Reject"/>
                                                            </p:selectOneMenu>
                                                            <p:message for="drddecision" display="icon"/>                                                                                    
                                                        </div>  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-md-12 textBoxMargin6px">
                                                    <div class="form-group form-horizontal required">
                                                        <p:outputLabel  class="control-label col-sm-4" value="Processed Date:" />
                                                        <div class="col-sm-8">
                                                            <p:calendar id="txtProcessedDate"   placeholder="dd/mm/yyyy" pattern="dd/MM/yyyy" 
                                                                        value="#{claimRecordingFormController.wfPrmsProcessed.processedOn}"  
                                                                        title="date" required="true" requiredMessage="Date is Required">
                                                            </p:calendar>
                                                            <p:message display="icon" for="txtProcessedDate"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 textBoxMargin6px">
                                                    <div class="form-group form-horizontal form-group">
                                                        <p:outputLabel  class="control-label col-sm-4"
                                                                        value="Comment Given:" rendered="#{claimRecordingFormController.renderDecision}"/>
                                                        <div class="col-sm-8">
                                                            <p:inputTextarea id="txtComment"   value="#{claimRecordingFormController.wfPrmsProcessed.commentGiven}" 
                                                                             title="Remark" rendered="#{claimRecordingFormController.renderDecision}"
                                                                             validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only"/>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <div class="col-md-12" > 
                                <div class="col-sm-6">
                                    <div class="form-group textBoxMargin6px">
                                        <div class="col-lg-4"></div>
                                        <div class="col-sm-8">
                                            <p:commandButton action="#{claimRecordingFormController.saveClaim}" icon="ui-icon-new" validateClient="true" 
                                                             process="@this,frmactionPlanUi:actionMasterPanel3,ClaimssMasterPanel,pnlworkflow" 
                                                             update="frmactionPlanUi:actionMasterPanel3,ClaimssMasterPanel,actionMasterPanel2,ClaimPanel,pnlworkflow"
                                                             class="btn btn-primary col-lg-4 "
                                                             value="#{claimRecordingFormController.saveorUpdateBundle}"/> 
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        </section>
                    </section>
                </div>   
            </h:panelGroup>
        </h:form>  
    </ui:define>
</ui:composition>
