<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns ="http://www.w3.org/1999/xhtml"
    xmlns:ui = "http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="ClaimRecordingForm.xhtml"><i class="fa fa-circle-o "></i> <span>Claim Recording Form</span></a></li>
        <li><a href="GoodsEntrance.xhtml"><i class="fa fa-circle-o "></i> <span>Goods Entrance</span></a></li>
        <li><a href="ImportShippingInstruct.xhtml"><i class="fa fa-circle-o "></i> <span>Import Shipping</span></a></li> 

    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample">
            <p:toolbar style="background-color: white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pngBackSarch" rendered="#{ContAgreementController.renderpnlToSearchPage}">
                        <p:commandButton id="btnBackToSearch" action="#{ContAgreementController.goBackToSearchpageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this" update=":frmMainUI, :ContAgreementMain, :frmSample"
                                      title="Back to Search" />              
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    </h:panelGroup>
                    <h:panelGroup id="PGSearchNew" rendered="#{ContAgreementController.isRenderCreate}">
                        <p:commandButton id="btnNew" action="#{ContAgreementController.createNewContAgree()}" style="background-color: white ;border-color: white"
                                         icon="#{ContAgreementController.icone}" validateClient="true" rendered="#{ContAgreementController.isRenderCreate}"
                                         process="@this" update="@this,:frmMainUI,:ContAgreementMain,:frmSample"
                                         title="#{ContAgreementController.createOrSearchBundle}" />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="PGNotification" rendered="#{ContAgreementController.isRenderDecision}">
                        <p:commandLink id="cmdLinkNotf" class="fa fa-fw fa-bell-o" value="#{ContAgreementController.requestNotificationCounter}"
                                       title="Notification" style="color: red;background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblReqNotf" value="Insurance Requests"/>
                            <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains"                                            
                                                valueChangeListener="#{ContAgreementController.RequestListChange}" converter="entConverter">
                                <f:selectItems id="selectOneMenuAppList" var="contAgreeReqlst"
                                               value="#{ContAgreementController.prmsContainerAgreementList}"
                                               itemValue="#{contAgreeReqlst}" itemLabel="#{contAgreeReqlst.formNo}"/>               
                                <p:ajax event="valueChange" update=":ContAgreementMain,:ContAgreementMain:pgThird,:frmSample,:frmMainUI"/>                            
                            </p:selectOneListbox>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                   title="Work Flow" style="background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>
                        <!--put work flow list here-->

                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="dtWorkflow" paginator="true" paginatorPosition="bottom" var="num" rows="5" rowIndexVar="rowName" value="#{ContAgreementController.wfMmsProcessedDModel}"
                                                             rowKey="#{num.processedId}" resizableColumns="true" selectionMode="single">
                                                    <p:ajax event="sort" update="dtWorkflow" process="@this"/>
                                                    <p:column headerText="S/N" width="60">
                                                        <h:outputText value="#{sn+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{num.processedBy}" /> 
                                                    </p:column>
                                                    <p:column headerText="Processed On">
                                                        <h:outputText value="#{num.processedOn}" /> 
                                                    </p:column>
                                                    <p:column headerText="Comment Given">
                                                        <h:outputText value="#{num.commentGiven}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>

                    <a href="ContainerAgreement.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                </f:facet>
            </p:toolbar>

        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup id="pgFirst" rendered="#{ContAgreementController.renderPnlManPage}" style=" border: 0px; background-color: transparent">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Searching Page...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h:form id="frmSearchContainer">
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="form-group textBoxMargin6px">
                                                <h:outputLabel id="lblsearchContainerNo" class="control-label col-sm-2" value="Form Number:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtsearchContainerNo"  value="#{ContAgreementController.prmsContainerAgreement.formNo}"/>
                                                </div>
                                            </div>

                                            <div class="form-group textBoxMargin6px">
                                                <div class="col-sm-4 col-sm-push-2">
                                                    <p:commandButton id="btnFind" action="#{ContAgreementController.searchContainerAgreementInfo()}" icon="ui-icon-search"
                                                                     process="@this,frmSearchContainer" 
                                                                     update=":frmMainUI:frmcontainer:tblContainerInfo,:frmMainUI:pgFirst" 
                                                                     value="Find" class="btn btn-primary"/>
                                                </div>                                              
                                            </div>
                                        </div>
                                    </div>
                                </h:form>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h:form id="frmcontainer">
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <p:dataTable id="tblContainerInfo" value="#{ContAgreementController.prmsContainerAgreementModel}" var="ContainerList" rows="6"
                                                                 paginator="true" paginatorPosition="bottom" editable="true" rowIndexVar="Number"
                                                                 selection="#{ContAgreementController.prmscontainerAgreementSelection}"
                                                                 selectionMode="Single" rowKey="#{ContainerList.containerId}"
                                                                 rowsPerPageTemplate="5,10,15"
                                                                 paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {FirstPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"> 
                                                        <p:ajax event="rowSelect" listener="#{ContAgreementController.onRowSelect}"
                                                                update=":ContAgreementMain,:ContAgreementMain:pgThird,:frmSample,:frmMainUI" />
                                                        <p:column headerText="S.No" sortBy="#{Number+1}">
                                                            #{Number+1}
                                                        </p:column>
                                                        <p:column sortBy="#{ContainerList.formNo}">
                                                            <f:facet name="header">
                                                                <h:outputLabel value="Form Number"/>
                                                            </f:facet>
                                                            <h:outputLabel value="#{ContainerList.formNo}"/>
                                                        </p:column>
                                                        <p:column sortBy="#{ContainerList.containerNo}">
                                                            <f:facet name="header">
                                                                <h:outputLabel value="Container Number"/>
                                                            </f:facet>
                                                            <h:outputLabel value="#{ContainerList.containerNo}"/>
                                                        </p:column>
                                                        <p:column sortBy="#{ContainerList.revisionNo}">
                                                            <f:facet name="header">
                                                                <h:outputLabel value="Warehouse Location:"/>
                                                            </f:facet>
                                                            <h:outputLabel value="#{ContainerList.warehouseLocation.name}"/>
                                                        </p:column>

                                                    </p:dataTable>   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>

        </h:form>
        <h:form id="ContAgreementMain">
            <p:growl id="growl1" showDetail="true" autoUpdate="true" severity="information,fatal"/>
            <h:panelGroup id="pgSecond" rendered="#{ContAgreementController.renderPnlCreateParty}" style="border: 0px; background-color: transparent">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Agreement For Container</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h:panelGroup id="pgThird" style="border: 0px; background-color: transparent">
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMarginTop6px required">
                                            <p:outputLabel id="lblFormNum" class="col-sm-2" style="text-align: right" value="Form Number:"/>
                                            <div class="col-sm-3">
                                                <p:inputText id="txtFormNum" class="form-control" readonly="true"
                                                             value="#{ContAgreementController.generateFormNo()}"/>
                                            </div>
                                            <p:outputLabel id="lblContainerNo" class="control-label col-sm-2" value="Container Number:"/>
                                            <div class="col-sm-3">
                                                <p:inputText id="txtContainerNo" required="true" requiredMessage="Please Enter Container Number"
                                                             value="#{ContAgreementController.prmsContainerAgreement.containerNo}" readonly="#{workFlow.readonly}"
                                                             validatorMessage="Please Enter Only Numbers and characters without space and special character">
                                                    <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                </p:inputText>
                                                <p:message for="txtContainerNo" display="icon"/>

                                            </div>                                       
                                        </div>
                                        <div class="form-group textBoxMargin6px required">
                                            <p:outputLabel value="Good Entrance No:" class="control-label col-sm-2"/>
                                            <div class="col-sm-3">
                                                <p:selectOneMenu id="drdGoodEntrance" style="width: 100%" converter="entConverter" required="true" requiredMessage="Please Select Good Interance"
                                                                 value="#{ContAgreementController.prmsGoodsEntrance}" disabled="#{workFlow.readonly}"
                                                                 valueChangeListener="#{ContAgreementController.updateGoodsEnterNo}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItems value="#{ContAgreementController.goodsEntranceNoLists}" 
                                                                   var="goodsNo" itemLabel="#{goodsNo.registrationNo}" itemValue="#{goodsNo}"/>
                                                    <p:ajax event="valueChange" update="txtUnderBLabourNo"/>
                                                </p:selectOneMenu>
                                                <p:message for="drdGoodEntrance" display="icon"/>
                                            </div>
                                            <p:outputLabel id="lblUnderBLNo" class="col-sm-2"  style="text-align: right" value="Under B/L Number:"/>
                                            <div class="col-sm-3">
                                                <p:inputText id="txtUnderBLabourNo"  readonly="true"
                                                             value="#{ContAgreementController.prmsGoodsEntrance.billNo}">
                                                </p:inputText>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMarginTop6px required">
                                            <p:outputLabel id="lblImporter" class="control-label col-sm-2" value="Importer:"/>
                                            <div class="col-sm-3">
                                                <p:inputTextarea id="txtImporter" class="form-control" required="true" requiredMessage="Please Enter Importer" autoResize="false"
                                                                 value="#{ContAgreementController.prmsContainerAgreement.importer}" readonly="#{workFlow.readonly}"/>
                                                <p:message for="txtImporter" display="icon"/>
                                            </div>
                                        </div>
                                        <div class="form-group textBoxMarginTop6px required">
                                            <p:outputLabel id="lblFormPort"  class="control-label col-sm-2" value="From Port:"/>
                                            <div class="col-sm-3">
                                                <p:selectOneMenu id="selectFormPort" style="width: 100%" value="#{ContAgreementController.portFrom.portId}" 
                                                                 converter="entConverter" required="true" requiredMessage="Please Select port Source" disabled="#{workFlow.readonly}" 
                                                                 valueChangeListener="#{ContAgreementController.updatePortFrom}" >
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItems value="#{ContAgreementController.nameOfPort}"
                                                                   var="From" itemLabel="#{From.portName}" itemValue="#{From.portId}"/>
                                                </p:selectOneMenu>   
                                                <p:message for="selectFormPort" display="icon"/>
                                            </div>
                                            <p:outputLabel id="lblWarehouse" class="col-sm-2" style="text-align: right" value="Warehouse Location:"/>
                                            <div class="col-sm-3">
                                                <p:selectOneMenu id="drdWarehouse" style="width: 100%" disabled="#{workFlow.readonly}"
                                                                 value="#{ContAgreementController.mmsLuWareHouse.id}"
                                                                 converter="entConverter"
                                                                 valueChangeListener="#{ContAgreementController.changeWareHouses}">
                                                    <f:selectItem itemLabel="--- Select One ---"/>
                                                    <f:selectItems  value="#{ContAgreementController.mmsWarhouseLists}"
                                                                    var="locationNames" itemLabel="#{locationNames.name}" itemValue="#{locationNames.id}"/>
                                                </p:selectOneMenu>
                                            </div>
                                          
                                        </div>
                                        <div class="form-group textBoxMarginTop6px required">
                                            <p:outputLabel id="lblContEntranceDate" class="control-label col-sm-2" value="Cont. Entrance Date:"/>
                                            <div class="col-sm-3">
                                                <p:calendar id="cldContEntranceDate" placeholder="dd/MMM/yyyy" pattern="dd/MMM/yyyy"
                                                            value="#{ContAgreementController.prmsContainerAgreement.contEntranceDate}"
                                                            maxdate="today" mindate="today" disabled="#{workFlow.readonly}" > 
                                                    <f:convertDateTime pattern="dd/MMM/yyyy"/>
                                                    <p:ajax event="dateSelect" update="cldContReturnDate"/>
                                                </p:calendar>

                                            </div>                                          
                                            <p:outputLabel id="lblPlateNo"  class="control-label col-sm-2" value="Plate Number:"/>
                                            <div class="col-sm-3">
                                                <p:inputText id="txtPlateNo" required="false" requiredMessage="Please Enter Plate Number"
                                                             value="#{ContAgreementController.prmsContainerAgreement.plateNumber}" readonly="#{workFlow.readonly}"
                                                             validatorMessage="Please Enter Only Numbers and characters without space and special character">
                                                    <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                                                </p:inputText>
                                                <p:message for="txtPlateNo" display="icon"/>
                                            </div>

                                        </div>
                                        <div class="form-group textBoxMarginTop6px">
                                            <p:outputLabel id="lblContReturnDate" value="Cont.Return Date:" class="control-label col-sm-2"/>
                                            <div class="col-sm-3">
                                                <p:calendar id="cldContReturnDate" placeholder="dd/MMM/yyyy" pattern="dd/MMM/yyyy" disabled="#{workFlow.readonly}"
                                                            value="#{ContAgreementController.prmsContainerAgreement.contReturnDate}"
                                                            mindate="#{ContAgreementController.getminReturnDate()}">
                                                    <f:convertDateTime pattern="dd/MMM/yyyy"/>
                                                </p:calendar>
                                            </div>
                                            <p:outputLabel id="lblDryPort" for="selectDryPort" class="control-label col-sm-2" value="Dry Port:"/>
                                            <div class="col-sm-3">
                                                <p:selectOneMenu id="selectDryPort" style="width: 100%" value="#{ContAgreementController.portDry.portId}" 
                                                                 converter="entConverter" disabled="#{workFlow.readonly}"
                                                                 valueChangeListener="#{ContAgreementController.updateDryPort}">
                                                    <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                    <f:selectItems value="#{ContAgreementController.dryPort}"
                                                                   var="dry" itemLabel="#{dry.portName}" itemValue="#{dry.portId}"/>
                                                </p:selectOneMenu>   
                                                <p:message for="selectDryPort" display="icon"/>
                                            </div>
                                        </div>                                     
                                        <h:panelGroup id="PGworkFlow">
                                            <div class="form-group textBoxMargin6px required">
                                                <p:outputLabel id="lblApproverName" class="col-sm-2" style="text-align: right"  value="Processed By:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="txtApproverName" value="#{ContAgreementController.userName}" readonly="true"/>
                                                </div>
                                                <p:outputLabel id="lblApprovedDate" value="Processed On:" class="control-label col-sm-2"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="calApprovedDate" placeholder="dd/mm/yyyy" autocomplete="off" required="true" requiredMessage="Please Enter Processed On"
                                                                 value="#{ContAgreementController.wfMmsProcessed.processedOn}"
                                                                 onclick="displayCalendar('ContAgreementMain:calApprovedDate', 'ContAgreementMain:calApprovedDate')"
                                                                 validator="#{validatorManagedBean.Date}">

                                                    </p:inputText>
                                                    <p:message for="calApprovedDate" display="icon"/>

                                                </div>
                                            </div>
                                            <div class="form-group textBoxMargin6px required">
                                                <p:outputLabel id="lblDecision" value="Decision:" class="control-label col-sm-2" rendered="#{ContAgreementController.isRenderDecision}"/>
                                                <div class="col-sm-3">
                                                    <p:selectOneMenu id="drdDecision" style="width: 100%" value="#{ContAgreementController.selectedDecision}" converter="entConverter"
                                                                     valueChangeListener="#{ContAgreementController.handleDecisionOptions}" rendered="#{ContAgreementController.isRenderDecision}"
                                                                     required="true" requiredMessage="Please Give a Decision">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItem itemLabel="Approve" itemValue="Approved"/>
                                                        <f:selectItem itemLabel="Reject" itemValue="Rejected"/>
                                                    </p:selectOneMenu> 
                                                    <p:message for="drdDecision" display="icon"/>
                                                </div>
                                                <p:outputLabel id="lblApproverRemark" class="col-sm-2" style="text-align: right" value="Comment Given:" rendered="#{ContAgreementController.isRenderDecision}"/>
                                                <div class="col-sm-3">
                                                    <p:inputTextarea id="txtApproverRemark" class="form-control" value="#{ContAgreementController.wfMmsProcessed.commentGiven}" rendered="#{ContAgreementController.isRenderDecision}"/>
                                                </div>
                                            </div>
                                        </h:panelGroup>
                                        <div class="form-group textBoxMarginTop6px">
                                            <div class="col-sm-3 col-sm-push-2">
                                                <p:commandButton id="btnSave" class="btn btn-primary col-lg-4" validateClient="true" 
                                                                 value="#{ContAgreementController.saveorUpdateBundle}" icon="ui-icon-check"
                                                                 action="#{ContAgreementController.saveContainerAgreementInfo()}"
                                                                 actionListener="#{ContAgreementController.upload}"
                                                                 process="@this,pgThird,PGworkFlow"
                                                                 update="pgThird,PGworkFlow"/>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>

            </h:panelGroup>

        </h:form>

    </ui:define>

</ui:composition>
