<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="ClaimRecordingForm.xhtml"><i class="fa fa-circle-o "></i> <span>Claim Recording Form</span></a></li> 
        <li><a href="ContainerAgreement.xhtml"><i class="fa fa-circle-o "></i> <span>Container Agreement</span></a></li> 
        <li><a href="ImportShippingInstruct.xhtml"><i class="fa fa-circle-o "></i> <span>Import Shipping</span></a></li>
    </ui:define>
    <ui:define name="contents">
        <h:form id="actionPlan"> 
            <p:toolbar style="background-color: white;border-color: white">
                <f:facet name="right">  
                    <h:panelGroup id="pngBackSarch" rendered="#{goodsEntranceController.renderpnlToSeachPage}">
                        <p:commandButton id="btnBackToSearch" action="#{goodsEntranceController.goBackToSearchpageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                         style="background-color: white;border-color: white"
                                         process="@this" update=":frmMainUI, :frmactionPlanUi, :actionPlan"
                                         title="Back to Search" />              
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span> 
                    </h:panelGroup>
                    <h:panelGroup id="PgNewAdd" rendered="#{goodsEntranceController.isRendercreate}">
                        <p:commandButton id="cmdAddNew" action="#{goodsEntranceController.addNewGoodEnterance()}" style="background-color: white;border-color:white "
                                         icon="#{goodsEntranceController.icone}" title="#{goodsEntranceController.createOrSearchBundle}" rendered="#{goodsEntranceController.isRendercreate}"
                                         process="@this" update="@this, :frmMainUI, :frmactionPlanUi, :actionPlan"/>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="PgNotify" rendered="#{goodsEntranceController.isRenderNotify}">
                        <p:commandLink id="cmdLinkNotf" class="fa fa-bell-o" title="Notifications" 
                                       value="#{goodsEntranceController.requestNotificationCounter}" rendered="#{goodsEntranceController.isRenderNotify}" style="color: red;background-color: white;border-color: white "/>
                        <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblReqNotf" value="Goods Entrance for approve List"/>
                            <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains"                                            
                                                valueChangeListener="#{goodsEntranceController.RequestListChange}" converter="entConverter">
                                <f:selectItems id="selectOneMenuAppList" var="goods"
                                               value="#{goodsEntranceController.goodsEntrances}"
                                               itemValue="#{goods}" itemLabel="#{goods.registrationNo}"/>               
                                <p:ajax event="valueChange" update="@this,:frmactionPlanUi, :frmMainUI, :actionPlan"/>  
                            </p:selectOneListbox>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                   title="Work Flow" style="background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>                      
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="tblWorkflow" value="#{goodsEntranceController.wfPrmsProcessedDModel}"
                                                             var="currentRow" selectionMode="single" rowIndexVar="num"  rows="5" paginator="true"
                                                             rowKey="#{currentRow}" paginatorPosition="bottom" >
                                                    <p:column headerText="S/N" width="60">
                                                        <h:outputText value="#{num+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{currentRow.commentGiven}" /> 
                                                    </p:column>
                                                    <p:column headerText="Processed On">
                                                        <h:outputText value="#{currentRow.commentGiven}" /> 
                                                    </p:column>
                                                    <p:column headerText="Comment Given">
                                                        <h:outputText value="#{currentRow.commentGiven}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="GoodsEntrance.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{goodsEntranceController.renderPnlManPage}">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmSearchActionPlan"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <h:outputLabel class="control-label col-sm-2" value="Registration No :"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="RegistrationNo" value="#{goodsEntranceController.prmsGoodsEntrance.registrationNo}"/>
                                                </div>
                                            </div>
                                            <div class="form-group"> 
                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-4">
                                                    <p:commandButton  id="btnFind" icon="ui-icon-search" action="#{goodsEntranceController.searchGoodsNo()}"
                                                                      process="@this,frmSearchActionPlan" update=":frmMainUI:frmactionplanMasterTbl"
                                                                      value="Find" class="btn btn-primary col-lg-3"/>            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmactionplanMasterTbl">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="actioPlnsearchTbl"   rows="10" value="#{goodsEntranceController.prmsGoodsEntrancesModel}"
                                                                 var="actionPlanMstrInfoTbl" paginator="true" paginatorPosition="bottom" 
                                                                 selection="#{goodsEntranceController.selectPrmsGoodsEntrance}"
                                                                 selectionMode="single"  rowKey="#{actionPlanMstrInfoTbl.id}">
                                                        <p:ajax event="rowSelect" listener="#{goodsEntranceController.rowSelect}" 
                                                                update=":frmactionPlanUi, :frmMainUI, :actionPlan" process="@this"/>         
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Registraton No" />
                                                            </f:facet>
                                                            <h:outputText value="#{actionPlanMstrInfoTbl.registrationNo}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Supplier" />
                                                            </f:facet>
                                                            <h:outputText value="#{actionPlanMstrInfoTbl.supplier}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Country" />
                                                            </f:facet>
                                                            <h:outputText value="#{actionPlanMstrInfoTbl.countryId.country}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Date Registered" />
                                                            </f:facet>
                                                            <h:outputText value="#{actionPlanMstrInfoTbl.dateRegistered}"/>
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="frmactionPlanUi">
            <h:panelGroup style="border: 0px; background-color: transparent" id="actionPlnpanel" rendered="#{goodsEntranceController.renderPnlCreateParty}"  >
                <p:growl id="growl" showDetail="true"  severity="information" autoUpdate="true" />
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Imported Goods Entrance</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="col-sm-6">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="RegPanel" >
                                        <div class="form-horizontal col-sm-12">  
                                            <div class="form-horizontal col-sm-12"> 
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel id="lblRegistrationNo" class="control-label col-sm-4" value="Registration No:"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtRegisNo"  readonly="true"
                                                                     value="#{goodsEntranceController.generateRegsNo()}"/>
                                                    </div> 
                                                </div>
                                            </div> 
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="actionMasterPanel" >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Description:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:inputTextarea  readonly="#{workFlow.readonly}" class="form-control" value="#{goodsEntranceController.prmsGoodsEntrance.description}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Country Name:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="drdCountry" style="width: 100%" disabled="#{workFlow.readonly}"
                                                                         converter="entConverter"
                                                                         value="#{goodsEntranceController.comLuCountry}" >
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                            <f:selectItems value="#{goodsEntranceController.countryList}" 
                                                                           var="countries" itemLabel="#{countries}" itemValue="#{countries}"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Goods Amount:" id="lblGoodsAmount" for="txtGoodsAmount" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtGoodsAmount" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.goodsAmount}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Unit Measure:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu value="#{goodsEntranceController.prmsGoodsEntrance.unitMeasure}" style="width: 100%" disabled="#{workFlow.readonly}" >
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                            <f:selectItem itemLabel="Dozen" itemValue="Dozen" />
                                                            <f:selectItem itemLabel="Kg" itemValue="Kg" />
                                                            <f:selectItem itemLabel="Litter" itemValue="Litter" />
                                                            <f:selectItem itemLabel="Pack" itemValue="Pack" />
                                                            <f:selectItem itemLabel="Pcs" itemValue="Pcs" />
                                                            <f:selectItem itemLabel="Tone" itemValue="Tone" />
                                                            <f:selectItem itemLabel="other" itemValue="other" />
                                                        </p:selectOneMenu>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="LC No:" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu value="#{goodsEntranceController.prmsLcRigistration}" id="txtlcNos"
                                                                         converter="entConverter" style="width: 100%" required="true" requiredMessage="Please Select LC No"
                                                                         disabled="#{workFlow.readonly}"
                                                                         valueChangeListener="#{goodsEntranceController.setSelectedLCNo}" >
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                            <f:selectItems value="#{goodsEntranceController.listOfLC}" var="lcNo" itemLabel="#{lcNo.lcNo}" />
                                                            <p:ajax event="change" process="@this" update="txtBankPermits"/>
                                                        </p:selectOneMenu>
                                                        <p:message for="txtlcNos" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="Port of Discharge:" id="lblPortofDischarges" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtPortofDischarge"  converter="entConverter" style="width: 100%" 
                                                                         disabled="#{workFlow.readonly}" required="true" requiredMessage="Port of Discharge is Required"
                                                                         value="#{goodsEntranceController.portOfDischarge.portId}" 
                                                                         valueChangeListener="#{goodsEntranceController.setSelectPortDisch}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                            <f:selectItems value="#{goodsEntranceController.listOfPorts}"  var="potrvar" itemLabel="#{potrvar.portName} " itemValue="#{potrvar.portId}" />
                                                        </p:selectOneMenu>
                                                        <p:message for="txtPortofDischarge" display="icon"/>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="Contract No:" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="txtcontractNc" required="true" requiredMessage="Please Select Contract No" converter="entConverter" 
                                                                         value="#{goodsEntranceController.prmsContract}" style="width: 100%"
                                                                         disabled="#{workFlow.readonly}"
                                                                         valueChangeListener="#{goodsEntranceController.setSelectSuppliers}" >
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                            <f:selectItems value="#{goodsEntranceController.listOfContract}" var="cont" itemLabel="#{cont.contractNo}" itemValue="#{cont}"/>
                                                            <p:ajax event="change" process="@this" update="txtsuplier,txtContractAmount" />
                                                        </p:selectOneMenu>
                                                        <p:message for="txtcontractNc" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Contract Amount:" id="lblContractAmounts" for="txtContractAmount" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtContractAmount" value="#{goodsEntranceController.prmsContract.contractamount}" readonly="true"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Supplier:" id="lblSupplier" for="txtsuplier" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtsuplier" value="#{goodsEntranceController.prmsContract.suppId.vendorName}" readonly="true"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Project:" id="lblProject" for="txtproject" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtproject" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.project}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="Currency:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:selectOneMenu id="smCurrency"  style="width: 100%" converter="entConverter"
                                                                         disabled="#{workFlow.readonly}" required="true" requiredMessage="Please Select Currency"
                                                                         value="#{goodsEntranceController.fmsLuCurrency}"
                                                                         valueChangeListener="#{goodsEntranceController.setSelectedCurrency}">
                                                            <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                            <f:selectItems value="#{goodsEntranceController.currencyLists}" 
                                                                           var="currency" itemLabel="#{currency.currency}" itemValue="#{currency}" />
                                                            <p:ajax event="valueChange" process="@this"/>

                                                        </p:selectOneMenu>
                                                        <p:message for="smCurrency" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <h:outputLabel value="Procurement Departments:" class="control-label col-sm-4"/>
                                                    <div class="col-sm-6">
                                                        <p:inputText id="txtworkU" value="#{goodsEntranceController.departments.depName}" 
                                                                     requiredMessage="Please Select Procurement Department" placeholder="Use Only From + Button" onmousedown="return false;"
                                                                     required="true" title="Pls click on + to select Department">
                                                        </p:inputText>
                                                        <p:message for="txtworkU" display="icon"/>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <p:commandButton id="btnTree" onclick="PF('dlg').show();"  partialSubmit="true"  style="background: transparent;" title="Choose Departmnet" value="+" process="@this"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Bank Permit:" id="lblBankpermitt" for="txtBankPermits" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtBankPermits"  value="#{goodsEntranceController.prmsLcRigistration.foreignId.feNumber}" readonly="true"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Declaration No:" id="lblDeclNo" for="txtDeclNO" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtDeclNO" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.declarationNo}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Initial Deposit:" id="lblInitialDeposit"  class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtInitDep" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.initialDepostie}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Actual Deposit:" id="lblActDep"  class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtActDep" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.actualPaid}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Remaining Amount:" id="lblReAmnt"  class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtReAmnts" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.remainingAmount}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:dialog id="dlg" header="Department List" widgetVar="dlg" height="300" width="500" showEffect="explode">
                                                        <h:panelGrid columns="3">
                                                            <p:tree value="#{goodsEntranceController.root}" var="nodes" style="border: transparent; width: 100%" 
                                                                    selectionMode="single" selection="#{goodsEntranceController.selectedNode}">
                                                                <p:ajax event="select" listener="#{goodsEntranceController.onNodeSelect}" process="@this" 
                                                                        update=":frmactionPlanUi:txtworkU"/>
                                                                <p:treeNode>
                                                                    <h:outputText value="#{nodes}"/>
                                                                </p:treeNode>
                                                            </p:tree>                                       
                                                        </h:panelGrid>
                                                    </p:dialog>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Date Registered:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:calendar id="dateReg" value="#{goodsEntranceController.prmsGoodsEntrance.dateRegistered}"
                                                                    readonlyInput="true" disabled="#{workFlow.readonly}"   autocomplete="off"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="col-sm-6">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="goodsMasterPanel" >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-horizontal col-sm-12">  
                                                <div class="form-group textBoxMargin6px">    
                                                    <p:outputLabel value="Commercial Invoice:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtCommInvoice" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.commecialInvoice}" style="width: 100%" />

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Bill No :" id="lblBillNo" for="txtBillNo" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtBillNo" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.billNo}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Operation No:" id="lblOperationNO" for="txtOperationNO" class="control-label col-sm-4">
                                                    </p:outputLabel>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtOperationNO" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.operationNo}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="ESLSE No:" id="lblESLSE" for="txtESLSE" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtESLSE" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.eslseNo}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="ICAS No :" id="lblICAS" for="txtICAS" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtICAS" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.icasNo}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Airport:" id="lblAirport" for="txtAirport" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtAirport" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.airport}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Railway :" id="lblRailway" for="txtRailway" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtRailway" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.railway}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Custom Authority:" id="lblCustom" for="txtCustom" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtCustom" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.customAuthority}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Deposit:" id="lbldeposCost"  class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtdeposCost" readonly="#{workFlow.readonly}"   value="#{goodsEntranceController.prmsGoodsEntrance.depositeCost}" >
                                                            <p:ajax event="keyup"  process="@this" update="txtCashrecCost,txtCashpayable,cash" listener="#{goodsEntranceController.payableAmount}"/>

                                                        </p:inputText>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="Custom cost:" id="lblCustomcost"  class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtCustomcost" required="true" requiredMessage="Enter Custom cost" readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.customCost}" >
                                                            <p:ajax event="keyup" listener="#{goodsEntranceController.totalSum}" process=":frmactionPlanUi:txtCustomcost,txtService,txtMiscellaneous" update="txtTotalcost"/>
                                                        </p:inputText>
                                                        <p:message for="txtCustomcost" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel value="Service Cost:" id="lblService"  class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtService" required="true" requiredMessage="Service Cost is Required" readonly="#{workFlow.readonly}"  value="#{goodsEntranceController.prmsGoodsEntrance.serviceCost}" >
                                                            <p:ajax event="keyup" listener="#{goodsEntranceController.totalSum}" process=":frmactionPlanUi:txtdeposCost,txtService" update="txtCashrecCost,txtTotalcost"/>
                                                        </p:inputText>
                                                        <p:message for="txtService" display="icon"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Miscellaneous cost:" id="lblMiscellaneous"  class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtMiscellaneous"  readonly="#{workFlow.readonly}" value="#{goodsEntranceController.prmsGoodsEntrance.miscellaneousCost}" >
                                                            <p:ajax event="keyup" listener="#{goodsEntranceController.totalSum}" process=":frmactionPlanUi:txtCustomcost,txtService,txtMiscellaneous" update="txtTotalcost"/>
                                                        </p:inputText>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Total cost:" id="lblTotalcost"  class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtTotalcost" readonly="true"  value="#{goodsEntranceController.prmsGoodsEntrance.totalCost}" />
                                                        <p:ajax event="keyup" listener="#{goodsEntranceController.payableAmount}"  process="@this" update="txtCashrecCost,txtCashpayable,cash"/>
                                                    </div>
                                                </div>
                                            </div> 
                                            <h:panelGroup id="cash">
                                                <div class="form-horizontal col-sm-12">
                                                    <div class="form-group textBoxMargin6px">
                                                        <p:outputLabel value="Cash Receivable:" rendered="#{goodsEntranceController.renderRecevable}" id="lblCashrecCost"  class="control-label col-sm-4"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText id="txtCashrecCost"  rendered="#{goodsEntranceController.renderRecevable}" readonly="true" class="form-control"  value="#{goodsEntranceController.prmsGoodsEntrance.cashReceivable}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-horizontal col-sm-12">
                                                    <div class="form-group textBoxMargin6px">
                                                        <p:outputLabel value="Cash Payable:" rendered="#{goodsEntranceController.renderPayable}" id="lblCashpayable" class="control-label col-sm-4"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText id="txtCashpayable" rendered="#{goodsEntranceController.renderPayable}" readonly="true" class="form-control"  value="#{goodsEntranceController.prmsGoodsEntrance.cashPayable}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Remark:" class="control-label col-sm-4" />
                                                    <div class="col-sm-8">
                                                        <p:inputTextarea  class="form-control" value="#{goodsEntranceController.prmsGoodsEntrance.remark}" autoResize="false"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel id="lblFileUp" class="control-label col-sm-4"  value="File Upload:"/>
                                                    <div class="col-sm-8">                                       
                                                        <p:panelGrid columns="1" style="float: left;"> 
                                                            <p:fileUpload  id="fileUplod" cancelLabel="#{contenu.annuler}"
                                                                           fileUploadListener="#{goodsEntranceController.uploadListener}"
                                                                           value="#{goodsEntranceController.prmsLuDmArchive.documentId}" allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpg|mkv|JPG)$/"
                                                                           invalidFileMessage="This type of file is not valid" invalidSizeMessage="The size is not Allowed"
                                                                           multiple="false" mode="advanced" sizeLimit="52428800" auto="true" process="tblSavedDoc" update="tblSavedDoc"/>
                                                            <p:dataTable id="tblSavedDoc"  var="currentRow" sortBy="#{currentRow.name}"  rowIndexVar="current" value="#{goodsEntranceController.prmsLuDmArchivesDModel}"
                                                                         paginator="true" selectionMode="single" rowKey="#{currentRow.documentId}"
                                                                         selection="#{goodsEntranceController.prmsLuDmArchiveSelection}" >
                                                                <p:ajax event="rowSelect" listener="#{goodsEntranceController.onRowSelect}" update="tblSavedDoc" />
                                                                <f:facet name="header">
                                                                    <p:outputLabel value="File From DataBase"/>
                                                                </f:facet>
                                                                <p:column id="docNames" headerText="File Name"> 
                                                                    <h:outputText id="txtcoScale" value="#{currentRow.fileName}"/>
                                                                </p:column>
                                                                <p:column  headerText="Download">
                                                                    <h:panelGroup id="pnlGridtblDoccolOptions">
                                                                        <p:commandButton process="@this,tblSavedDoc"  update="tblSavedDoc"                                             
                                                                                         icon="ui-icon-arrowthickstop-1-s"  ajax="false"  >
                                                                            <p:fileDownload value="#{goodsEntranceController.file}" />
                                                                        </p:commandButton>
                                                                    </h:panelGroup>
                                                                    <p:outputPanel id="buttonDetail">
                                                                        <p:commandButton  process="tblSavedDoc" title="#{dmsBundle.delete}" id="docRemove" 
                                                                                          update="tblSavedDoc" immediate="true" ajax="true" 
                                                                                          icon="ui-icon-trash" style="border: none; color: #0B70F9">
                                                                            <p:confirm header="Confirmation" message="Are you sure?"  icon="ui-icon-alert" />
                                                                        </p:commandButton>
                                                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                                            <p:commandButton value="Yes" action="#{goodsEntranceController.remove(rowselect)}" immediate="true" process="@this" update="tblSavedDoc" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                                        </p:confirmDialog>
                                                                    </p:outputPanel>
                                                                </p:column>  
                                                            </p:dataTable>
                                                        </p:panelGrid>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="panel panel-info">
                        <section class="panel-body">  
                            <h:panelGroup id="pnlworkflow" class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-12">                      
                                        <div class="box-body"> 
                                            <div class="col-md-6">
                                                <div class="col-md-12 textBoxMargin6px">
                                                    <div class="form-group form-horizontal form-group">
                                                        <p:outputLabel class="control-label col-sm-4" value="Processed By:"/>
                                                        <div class="col-sm-8">
                                                            <p:inputText  id="txtProcessedBy" readonly="true" value="#{goodsEntranceController.loggerName}" title="descripition"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 textBoxMargin6px required">
                                                    <div class="form-group required form-horizontal">
                                                        <h:outputLabel  class="control-label col-sm-4" value="Decision: " rendered="#{goodsEntranceController.renderDecision}"/> 
                                                        <div class="col-sm-8">
                                                            <p:selectOneMenu id="drddecision" value="#{goodsEntranceController.wfPrmsProcessed.decision}" 
                                                                             required="true" requiredMessage="Select Decision" style="width: 100%"
                                                                             valueChangeListener="#{goodsEntranceController.handleselectOptions}" 
                                                                             rendered="#{goodsEntranceController.renderDecision}">                                                                                        
                                                                <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                                <f:selectItem itemLabel="Approve" itemValue="Approve"/>
                                                                <f:selectItem itemLabel="Reject" itemValue="Reject"/>
                                                            </p:selectOneMenu>
                                                            <p:message for="drddecision" display="icon"/>                                                                                    
                                                        </div>  
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <div class="col-md-12 textBoxMargin6px">
                                                    <div class="form-group form-horizontal required">
                                                        <p:outputLabel class="control-label col-sm-4" value="Processed Date:" />
                                                        <div class="col-sm-8">
                                                            <p:calendar id="txtProcessedDate"   placeholder="dd/mm/yyyy"  pattern="dd/MM/yyyy"
                                                                        value="#{goodsEntranceController.wfPrmsProcessed.processedOn}"  
                                                                        title="date" required="true" requiredMessage="Processed Date is Required"/>
                                                            <p:message for="txtProcessedDate" display="icon"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 textBoxMargin6px">
                                                    <div class="form-group form-horizontal form-group">
                                                        <p:outputLabel class="control-label col-sm-4"
                                                                       value="Comment Given:" rendered="#{goodsEntranceController.renderDecision}"/>
                                                        <div class="col-sm-8">
                                                            <p:inputTextarea id="txtComment" class="form-control"  value="#{goodsEntranceController.wfPrmsProcessed.commentGiven}" 
                                                                             title="Remark" rendered="#{goodsEntranceController.renderDecision}"
                                                                             validator="#{validatorManagedBean.Text}" validatorMessage="Please Enter Text Only"/>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <div class="form-horizontal col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group textBoxMargin6px">
                                        <div class="col-lg-4"></div>
                                        <div class="col-sm-8">
                                            <p:commandButton action="#{goodsEntranceController.saveGoods}" icon="ui-icon-new" validateClient="true" 
                                                             process="@this,goodsMasterPanel,actionMasterPanel,RegPanel,pnlworkflow" 
                                                             update="goodsMasterPanel,actionMasterPanel,RegPanel,pnlworkflow"  
                                                             class="btn btn-primary col-lg-4 "
                                                             value="#{goodsEntranceController.saveorUpdateBundle}"/> 
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        </section>
                    </section>
                </div>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
