<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="../MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a></li>
        <li><a href="ClaimRecordingForm.xhtml"><i class="fa fa-circle-o "></i> <span>Claim Recording Form</span></a></li> 
        <li><a href="GoodsEntrance.xhtml"><i class="fa fa-circle-o "></i> <span>Goods Entrance</span></a></li>
        <li><a href="ContainerAgreement.xhtml"><i class="fa fa-circle-o "></i> <span>Container Agreement</span></a></li> 

    </ui:define>
    <ui:define name="contents">
        <h:form id="importShippingInstract"> 
            <p:toolbar style="background-color: white;border-color: white">
                <f:facet name="right">
                    <h:panelGroup id="pngBackSarch" rendered="#{ImportShippingInstructController.renderpnlToSearchPage}">
                        <p:commandButton id="btnBackToSearch" action="#{ImportShippingInstructController.goBackToSearchpageBtnAction()}" icon="ui-icon-search" validateClient="true" 
                                     style="background-color: white;border-color: white"
                                     process="@this" update=":frmMainUI,:frmImportShipInstUi :importShippingInstract"
                                      title="Back to Search" />              
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span> 
                    </h:panelGroup>
                    <h:panelGroup id="PgNewSearch" rendered="#{ImportShippingInstructController.isRenderCreate}">
                        <p:commandButton id="btnNew" action="#{ImportShippingInstructController.createNewImportShippingInstruct()}" icon="#{ImportShippingInstructController.icone}"  validateClient="true" 
                                         process="@this" update="@this,:frmMainUI, :frmImportShipInstUi,:importShippingInstract"
                                         style="background-color: white;border-color: white"  rendered="#{ImportShippingInstructController.isRenderCreate}"
                                         title="#{ImportShippingInstructController.createOrSearchBundle}"  />
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <h:panelGroup id="PGNotification" rendered="#{ImportShippingInstructController.isRenderDecision}">
                        <p:commandLink id="cmdLinkNotf" class="fa fa-fw fa-bell-o" value="#{ImportShippingInstructController.requestNotificationCounter}"
                                       title="Notification" style="color: red;background-color: white; border-color: white;"/>
                        <p:overlayPanel widgetVar="ovrNotf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkNotf"
                                        class="col-md-4" style="height: 400px">
                            <p:outputLabel id="lblReqNotf" value="Insurance Requests"/>
                            <p:selectOneListbox id="lstNotf" class="col-md-2" scrollHeight="400" filter="true" filterMatchMode="contains"                                            
                                                valueChangeListener="#{ImportShippingInstructController.RequestListChange}" converter="entConverter">
                                <f:selectItems id="selectOneMenuAppList" var="importShipReqlst"
                                               value="#{ImportShippingInstructController.importShippingInstructList}"
                                               itemValue="#{importShipReqlst}" itemLabel="#{importShipReqlst.isiNo}"/>               
                                <p:ajax event="valueChange" update=":frmImportShipInstUi, :frmMainUI, :importShippingInstract"/>                            
                            </p:selectOneListbox>
                        </p:overlayPanel>
                        <span class="ui-separator">
                            <span class="ui-icon ui-icon-grip-dotted-vertical" />
                        </span>
                    </h:panelGroup>
                    <p:commandLink id="cmdLinkWf" class="fa fa-fw fa-wordpress " 
                                   title="Work Flow" style="background-color: white; border-color: white;"/>
                    <p:overlayPanel widgetVar="wdvWf" showEffect="fade" hideEffect="fade" showCloseIcon="true" for="cmdLinkWf"
                                    class="col-md-4" style="height: 400px">
                        <p:outputLabel id="lblFaWf" value="Work Flow"/>                       
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmWf"> 
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group">                                        
                                            <div class="col-sm-12">
                                                <p:dataTable id="dtWorkflow" paginator="true" paginatorPosition="bottom" var="num" rows="5" rowIndexVar="rowName" value="#{ImportShippingInstructController.wfMmsProcessedDModel}"
                                                             selectionMode="single"  rowKey="#{num}" resizableColumns="true" >
                                                    <p:ajax event="sort" update="dtWorkflow" process="@this"/>
                                                    <p:column headerText="S/N" width="60">
                                                        <h:outputText value="#{sn+1}"/>
                                                    </p:column> 
                                                    <p:column headerText="Processed By">
                                                        <h:outputText value="#{num.processedBy}" /> 
                                                    </p:column>
                                                    <p:column headerText="Processed On">
                                                        <h:outputText value="#{num.processedOn}" /> 
                                                    </p:column>
                                                    <p:column headerText="Comment Given">
                                                        <h:outputText value="#{num.commentGiven}" /> 
                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>    
                                </h:form>
                            </div>
                        </div>
                    </p:overlayPanel>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="ImportShippingInstruct.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../mms/MmsNewDashBoard.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                </f:facet>

            </p:toolbar>
        </h:form>
        <h:form id="frmMainUI">
            <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{ImportShippingInstructController.renderPnlManPage}">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search ...</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmimportShippingInstract"> 
                                    <div class="panel-body">
                                        <div class="form-horizontal  col-sm-12">
                                            <div class="form-group"> 
                                                <h:outputLabel class="control-label col-sm-2" value="Import Shipping Instructions No:"/>
                                                <div class="col-sm-3">
                                                    <p:inputText id="ISInNo" value="#{ImportShippingInstructController.prmsImportShippingInstruct.isiNo}"/>
                                                </div>
                                            </div>
                                            <div class="form-group"> 
                                                <div class="col-lg-2"></div>
                                                <div class="col-sm-4">
                                                    <p:commandButton id="btnFind" icon="ui-icon-search" action="#{ImportShippingInstructController.searchImportShippingInstructByISINo()}"
                                                                     process="@this,frmimportShippingInstract" update=":frmMainUI:frmimportShippingInstractMasterTbl"
                                                                     value="Find" class="btn btn-primary col-lg-3"/>            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <h:form id="frmimportShippingInstractMasterTbl">   
                                    <div class="panel-body">
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group">                                        
                                                <div class="col-sm-12">
                                                    <p:dataTable id="importShippingInstractsearchTbl" rows="10" rowIndexVar="num"
                                                                 value="#{ImportShippingInstructController.prmsImportShippingInstructModel}"
                                                                 var="importShippingInstMasterinfoTbl" paginator="true" paginatorPosition="bottom" 
                                                                 selection="#{ImportShippingInstructController.selectImportShippingInstruct}"
                                                                 selectionMode="single"  rowKey="#{importShippingInstMasterinfoTbl.id}"
                                                                 rowsPerPageTemplate="5,10,15"
                                                                 paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {FirstPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                                                        <p:ajax event="rowSelect" listener="#{ImportShippingInstructController.rowSelect}" 
                                                                update=":frmImportShipInstUi, :frmMainUI, :importShippingInstract" />
                                                        <p:column headerText="S.No">
                                                            #{num+1}
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Import Shipping Instructions No" />
                                                            </f:facet>
                                                            <h:outputText value="#{importShippingInstMasterinfoTbl.isiNo}"/>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Prepared Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{importShippingInstMasterinfoTbl.preparedDate}">
                                                                <f:convertDateTime pattern="dd/MMM/yyyy"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Accepted Date" />
                                                            </f:facet>
                                                            <h:outputText value="#{importShippingInstMasterinfoTbl.acceptedDate}">
                                                                <f:convertDateTime pattern="dd/MMM/yyyy"/>
                                                            </h:outputText>
                                                        </p:column>
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="City" />
                                                            </f:facet>
                                                            <h:outputText value="#{importShippingInstMasterinfoTbl.lcId.contractId.suppId.countryId}" />
                                                        </p:column>3
                                                        <p:column>
                                                            <f:facet name="header">
                                                                <h:outputText value="Accepted by" />
                                                            </f:facet>
                                                            <h:outputText value="#{importShippingInstMasterinfoTbl.acceptedBy}" />
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>
        <h:form id="frmImportShipInstUi">
            <h:panelGroup style="border: 0px; background-color: transparent" id="ISIpanel" rendered="#{ImportShippingInstructController.renderPnlCreateParty}">
                <p:growl id="growl"  severity="information,fatal" autoUpdate="true"  showDetail="true"/>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Import Shipping Instruction</h3>
                    </div>
                    <div class="box-body">
                        <div class="row"> 
                            <div class="col-md-12" > 
                                <div class="col-sm-6">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="ImportPanel" >
                                        <div class="form-horizontal col-sm-12">  
                                            <div class="form-horizontal col-sm-12"> 
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel id="lblISINo" class="control-label col-sm-4" value="ISI No :"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtISINo" readonly="true"
                                                                     value="#{ImportShippingInstructController.generateISINo()}"/>
                                                    </div> 
                                                </div>
                                            </div> 
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="ImportShipMasterPanel1" >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-horizontal col-sm-12">  
                                                <div class="form-group textBoxMargin6px required">
                                                    <p:outputLabel id="lblFrom" value="From:" class="control-label col-sm-4" />
                                                    <div class="col-sm-6">
                                                        <p:inputText id="txtFrom" value="#{ImportShippingInstructController.departments.depName}" class="form-control" 
                                                                     onmousedown="return false;" placeholder="Please use + Button Only"
                                                                     required="true" title="Pls click on + to select Department" requiredMessage="Please Select From Department">
                                                        </p:inputText>
                                                        <p:message for="txtFrom" display="icon"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <p:commandButton id="btnTree" onclick="PF('dlgDep').show();"  partialSubmit="true" style="background: transparent;" title="Choose Departmnet" value="+" 
                                                                         action="#{ImportShippingInstructController.doSomeAction()}" disabled="#{workFlow.readonly}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Address:" id="lblAddress" for="txtAddress" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtAddress"   readonly="true"
                                                                     value="#{ImportShippingInstructController.hrDepAddresses.locationId.addressName}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Instruction to Clear:" id="lblInstoClear" for="txtInstoClear" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtInstoClear"  readonly="#{workFlow.readonly}"
                                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.instructionToClear}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Cont./Plat/Boxes/Cases Discharge at :" id="lblDischargeAt" for="txtDischargeAt" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtDischargeAt"   readonly="#{workFlow.readonly}"
                                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.dischargeAt}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Per M/V :" id="lblPerMV" for="txtPerMV" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtPerMV"  readonly="#{workFlow.readonly}"
                                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.perMv}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Supplier Invoice :" id="lblSupInvISI" for="txtSupInvISI" class="control-label col-sm-4">
                                                    </p:outputLabel>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtSupInvISI"  readonly="#{workFlow.readonly}"
                                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.supplierInvoice}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="Bill of Loading:" id="lblBLISI" for="txtBLISI" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtBLISI"  readonly="#{workFlow.readonly}"
                                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.bl}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-horizontal col-sm-12">
                                                <div class="form-group textBoxMargin6px">
                                                    <p:outputLabel value="OBL Duty Endorse To you:" id="lblOBLISI" for="txtOBLISI" class="control-label col-sm-4"/>
                                                    <div class="col-sm-8">
                                                        <p:inputText id="txtOBLISI"  readonly="#{workFlow.readonly}"
                                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.oblDutyEndorseToYou}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <p:dialog id="dlg" header="Departments" widgetVar="dlgDep" height="300" width="500" showEffect="explode">
                                    <h:panelGrid columns="3">
                                        <p:tree value="#{ImportShippingInstructController.root}" var="noded" style="border: transparent; width: 100%"
                                                selectionMode="single" selection="#{ImportShippingInstructController.selectedNode}">
                                            <p:ajax event="select" listener="#{ImportShippingInstructController.onNodeSelect}" process="@this" 
                                                    update=":frmImportShipInstUi:txtFrom,:frmImportShipInstUi:txtAddress"/>
                                            <p:treeNode>
                                                <h:outputText value="#{noded}"/>
                                            </p:treeNode>
                                        </p:tree>
                                    </h:panelGrid>
                                </p:dialog>
                                <div class="col-sm-6">
                                    <h:panelGroup style="border: 0px; background-color: transparent" id="ISIMasterPanel2" >
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel value="Prepared Date :" class="control-label col-sm-4" />
                                                <div class="col-sm-8">
                                                    <p:calendar id="PrepDateISI" value="#{ImportShippingInstructController.prmsImportShippingInstruct.preparedDate}" 
                                                                readonlyInput="true"  mindate="today" maxdate="today" autocomplete="off"
                                                                pattern="dd/MM/yyyy" placeholder="dd/mm/yyyy " disabled="#{workFlow.readonly}">
                                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                        <p:ajax event="dateSelect" update="AcceptedISIDate"/>
                                                    </p:calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel value="Accepted Date :" class="control-label col-sm-4" />
                                                <div class="col-sm-8">
                                                    <p:calendar id="AcceptedISIDate" value="#{ImportShippingInstructController.prmsImportShippingInstruct.acceptedDate}" 
                                                                readonlyInput="true" autocomplete="off" disabled="#{workFlow.readonly}"
                                                                mindate="#{ImportShippingInstructController.minAcceptedDate()}"
                                                                placeholder="dd/mm/yyyy" pattern="dd/MM/yyyy">
                                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                    </p:calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group textBoxMargin6px required">
                                                <p:outputLabel value="LC No :" id="lblSupplierISI"  class="control-label col-sm-4"/>
                                                <div class="col-sm-8">
                                                    <p:selectOneMenu id="txtLcNo" style="width:  100%" required="true" requiredMessage="Please Select LC No"
                                                                     converter="entConverter" disabled="#{workFlow.readonly}"
                                                                     value="#{ImportShippingInstructController.prmsLcRigistration}"
                                                                     valueChangeListener="#{ImportShippingInstructController.changeLcNoEvent}">
                                                        <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                        <f:selectItems value="#{ImportShippingInstructController.lcNoLists}"
                                                                       var="Lc" itemLabel="#{Lc.lcNo}" itemValue="#{Lc}"/>
                                                        <p:ajax event="change" update="txtSupp,txtSupAddresISI,txtCityISI,txtOn,txtBankPermitNoISI"/>
                                                    </p:selectOneMenu>
                                                    <p:message for="txtLcNo" display="icon"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel id="lblSupp" value="Supplier Name:" class="control-label col-sm-4"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtSupp"  readonly="true" 
                                                                 value="#{ImportShippingInstructController.prmsLcRigistration.contractId.suppId.vendorName}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel value="Supplier Address :" id="lblSupAddresISI" for="txtSupAddresISI" class="control-label col-sm-4">
                                                </p:outputLabel>
                                                <div class="col-sm-8">
                                                    <p:inputTextarea id="txtSupAddresISI" class="form-control"  readonly="true" autoResize="false"
                                                                     value="Tel-Mobile=>#{ImportShippingInstructController.prmsLcRigistration.contractId.suppId.telMobile}
                                                                     ,Tel-Office=>#{ImportShippingInstructController.prmsLcRigistration.contractId.suppId.telOffice}
                                                                     ,P.O.Box=>#{ImportShippingInstructController.prmsLcRigistration.contractId.suppId.pobox}
                                                                     ,Email=>#{ImportShippingInstructController.prmsLcRigistration.contractId.suppId.email}" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel value="City :" id="lblCityISI" for="txtCityISI" class="control-label col-sm-4">
                                                </p:outputLabel>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtCityISI"  readonly="true"
                                                                 value="#{ImportShippingInstructController.prmsLcRigistration.contractId.suppId.countryId}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel value="Discharge at:" id="lblOnISI" for="txtOn" class="control-label col-sm-4"/>
                                                <div class="col-sm-8">
                                                    <p:inputText id="txtOn"  readonly="true"
                                                                 value="#{ImportShippingInstructController.prmsLcRigistration.portOfDischarge.portName}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-horizontal col-sm-12">
                                            <div class="form-group textBoxMargin6px">
                                                <p:outputLabel value="Bank Permit No :" id="lblBankPermitNoISI" for="txtBankPermitNoISI" class="control-label col-sm-4"/>

                                                <div class="col-sm-8">
                                                    <p:inputText id="txtBankPermitNoISI"  readonly="true"
                                                                 value="#{ImportShippingInstructController.prmsLcRigistration.foreignId.feNumber}" />
                                                </div>
                                            </div>
                                        </div>                                        
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-horizontal col-sm-12">
                            <div class="form-horizontal col-sm-12">
                                <div class="form-group textBoxMargin6px">
                                    <p:outputLabel value="Insurance Debit Note :" id="lblInsuDebitNoteISI" for="txtInsuDebitNoteISI" class="control-label col-sm-4"/>

                                    <div class="col-sm-8">
                                        <p:inputText id="txtInsuDebitNoteISI"  readonly="#{workFlow.readonly}"
                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.insuranceDebitNote}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal col-sm-12">
                                <div class="form-group textBoxMargin6px">
                                    <p:outputLabel value="Cetificate of Origine No :" id="lblCertiOfOriginISI" for="txtCertiOfOriginISI" class="control-label col-sm-4"/>

                                    <div class="col-sm-8">
                                        <p:inputText id="txtCertiOfOriginISI"  readonly="#{workFlow.readonly}"
                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.certificateOfOriginNo}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal col-sm-12">
                                <div class="form-group textBoxMargin6px">
                                    <p:outputLabel value="Duty Excemption Letter No :" id="lblDutyExcLetterNoISI" for="txtDutyExcLetterNoISI" class="control-label col-sm-4"/>

                                    <div class="col-sm-8">
                                        <p:inputText id="txtDutyExcLetterNoISI"  readonly="#{workFlow.readonly}"
                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.dutyExemotionLetterNo}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal col-sm-12">
                                <div class="form-group textBoxMargin6px">
                                    <p:outputLabel value="Packaging List :" id="lblPackagingListISI" for="txtPackagingListISI" class="control-label col-sm-4"/>

                                    <div class="col-sm-8">
                                        <p:inputText id="txtPackagingListISI"  readonly="#{workFlow.readonly}"
                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.packageList}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal col-sm-12">
                                <div class="form-group textBoxMargin6px">
                                    <p:outputLabel value="Container Release :" id="lblContainerRelISI" for="txtContainerRelISI" class="control-label col-sm-4"/>
                                    <div class="col-sm-8">
                                        <p:inputText id="txtContainerRelISI"  readonly="#{workFlow.readonly}"
                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.containerRelease}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal col-sm-12">
                                <div class="form-group textBoxMargin6px">
                                    <p:outputLabel value="Import License No :" id="lblImpLicenseNoISI" for="txtImpLicenseNoISI" class="control-label col-sm-4"/>

                                    <div class="col-sm-8">
                                        <p:inputText id="txtImpLicenseNoISI"  readonly="#{workFlow.readonly}"
                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.importLicenseNo}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal col-sm-12">
                                <div class="form-group textBoxMargin6px">
                                    <p:outputLabel value="Bond or Letter of Guarantee No :" id="lblBonLetGuarNoISI" for="txtBonLetGuarNoISI" class="control-label col-sm-4"/>

                                    <div class="col-sm-8">
                                        <p:inputText id="txtBonLetGuarNoISI"   readonly="#{workFlow.readonly}"
                                                     value="#{ImportShippingInstructController.prmsImportShippingInstruct.bondOrLetterOfGaranteeNo}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-horizontal col-sm-12">
                            <div class="form-group textBoxMargin6px">
                                <p:outputLabel value="Ocean Frieght Invoice No:" id="lblOceanFrInvoiceNISI" for="txtOceanFrInvoiceISI" class="control-label col-sm-4"/>
                                <div class="col-sm-8">
                                    <p:inputText id="txtOceanFrInvoiceISI"  readonly="#{workFlow.readonly}"
                                                 value="#{ImportShippingInstructController.prmsImportShippingInstruct.oceanFreightInvoiceNo}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-sm-12">
                            <div class="form-group textBoxMargin6px">
                                <p:outputLabel id="lblLandInvoiceNo" value="Land Frieght Invoice No:" class="control-label col-sm-4"/>
                                <div class="col-sm-8">
                                    <p:inputText id="txtLandInvoiceNo"  readonly="#{workFlow.readonly}"
                                                 value="#{ImportShippingInstructController.prmsImportShippingInstruct.landFreightInvoiceNo}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-sm-12">
                            <div class="form-group textBoxMargin6px">
                                <p:outputLabel value="Receipt No :" id="lblReceiptNoISI" for="txtReceiptNoISI" class="control-label col-sm-4"/>
                                <div class="col-sm-8">
                                    <p:inputText id="txtReceiptNoISI"  readonly="#{workFlow.readonly}"
                                                 value="#{ImportShippingInstructController.prmsImportShippingInstruct.receiptNo}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-sm-12">
                            <div class="form-group textBoxMargin6px">
                                <p:outputLabel value="Relief/Gift Certificate No :" id="lblRGCertifNoISI" for="txtRGCertifNoISI" class="control-label col-sm-4"/>

                                <div class="col-sm-8">
                                    <p:inputText id="txtRGCertifNoISI" readonly="#{workFlow.readonly}"
                                                 value="#{ImportShippingInstructController.prmsImportShippingInstruct.reliefOrGiftCertificateNo}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-sm-12">
                            <div class="form-group textBoxMargin6px">
                                <p:outputLabel value="Other Documents :" id="lblOtherDocsISI" for="txtOtherDocsISI" class="control-label col-sm-4"/>

                                <div class="col-sm-8">
                                    <p:inputText id="txtOtherDocsISI"  readonly="#{workFlow.readonly}"
                                                 value="#{ImportShippingInstructController.prmsImportShippingInstruct.otherDocument}" />
                                </div>
                            </div>
                        </div>                     
                        <div class="form-horizontal col-sm-12">
                            <div class="form-group textBoxMargin6px">
                                <p:outputLabel value="Accepted by :" id="lblAcceptedbyISI" for="txtAcceptedbyISI" class="control-label col-sm-4"/>

                                <div class="col-sm-8">
                                    <p:inputText id="txtAcceptedbyISI"  readonly="#{workFlow.readonly}"
                                                 value="#{ImportShippingInstructController.prmsImportShippingInstruct.acceptedBy}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-12" > 
                            <div class="col-sm-6">
                                <div class="form-horizontal col-sm-12">
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMargin6px">
                                            <p:outputLabel value="Attachment:" id="lblAttach" class="control-label col-sm-4"/>
                                            <div class="col-sm-8">
                                                <p:fileUpload id="fileAttach" auto="true" mode="advanced" allowTypes="/(\.|\/)(gif|jpe?g|xlsx|xls|png|docx)$/" disabled="#{workFlow.readonly}"
                                                              dragDropSupport="false" fileLimit="1"  fileLimitMessage="you can't more than 1 file" sizeLimit="100000" invalidSizeMessage="Size is Exceeded"
                                                              value="#{ImportShippingInstructController.prmsImportShippingInstruct.fileReferenceNumber}" 
                                                              fileUploadListener="#{ImportShippingInstructController.handleFileUpload}" update="dtFile">
                                                </p:fileUpload>
                                                <p:dataTable id="dtFile" paginator="true" paginatorPosition="bottom" var="now" rowKey="#{now.documentId}" 
                                                             value="#{ImportShippingInstructController.prmsLuDmArchiveDModel}"
                                                             selection="#{ImportShippingInstructController.prmsLuDmArchiveSelection}" selectionMode="single">
                                                    <p:ajax event="rowSelect" listener="#{ImportShippingInstructController.whenRowSelected}" update="dtFile" process="dtFile"/>
                                                    <f:facet name="header">
                                                        <p:outputLabel value="Files From Database"/>
                                                    </f:facet>
                                                    <p:column headerText="File Name" style="border: none; font-size: 10px; text-align: left;">
                                                        <p:outputLabel value="#{now.fileName}"/>
                                                    </p:column>
                                                    <p:column headerText="Download">
                                                        <h:panelGroup id="PGFiles">
                                                            <p:commandButton id="cmdFileDownload" title="Download" icon="ui-icon-arrowthickstop-1-s" 
                                                                             process="@this,dtFile"  update="dtFile" immediate="true">
                                                                <p:fileDownload value="#{ImportShippingInstructController.downloadIt}"/>
                                                            </p:commandButton>
                                                        </h:panelGroup>

                                                    </p:column>
                                                </p:dataTable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-horizontal col-sm-12">
                                    <div class="form-horizontal col-sm-12">
                                        <div class="form-group textBoxMargin6px">
                                            <p:outputLabel value="Remark :" class="control-label col-sm-4"/>
                                            <div class="col-sm-8">
                                                <p:inputTextarea id="txtARemark" class="form-control" readonly="#{workFlow.readonly}" autoResize="false"
                                                                 value="#{ImportShippingInstructController.prmsImportShippingInstruct.remark}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h:panelGroup id="PGworkFlow">
                                <div class="form-horizontal col-sm-12" >
                                    <div class="form-group textBoxMargin6px required">
                                        <p:outputLabel id="lblApproverName" class="col-sm-2" style="text-align: right" value="Processed By:"/>
                                        <div class="col-sm-4">
                                            <p:inputText id="txtApproverName"  value="#{ImportShippingInstructController.userName}" readonly="true"/>
                                        </div>
                                        <p:outputLabel id="lblApprovedDate"  value="Processed On:" class="control-label col-sm-2"/>
                                        <div class="col-sm-4">
                                            <p:inputText id="calApprovedDate" placeholder="dd/mm/yyyy" autocomplete="off" 
                                                         value="#{ImportShippingInstructController.wfMmsProcessed.processedOn}" required="true" requiredMessage="Date is Required"
                                                         validator="#{validatorManagedBean.Date}" onclick="displayCalendar('frmImportShipInstUi:calApprovedDate', 'frmImportShipInstUi:calApprovedDate')"/>
                                            <p:message for="calApprovedDate" display="icon"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal col-sm-12" >
                                    <div class="form-group textBoxMargin6px required">
                                        <p:outputLabel id="lblDecision" value="Decision:" class="control-label col-sm-2" rendered="#{ImportShippingInstructController.isRenderDecision}"/>
                                        <div class="col-sm-4">
                                            <p:selectOneMenu id="drdDecision" style="width: 100%" value="#{ImportShippingInstructController.selectedDecision}" converter="entConverter"
                                                             valueChangeListener="#{ImportShippingInstructController.handleDecisionOptions}" rendered="#{ImportShippingInstructController.isRenderDecision}"
                                                             required="true" requiredMessage="Pls Give a Decision">
                                                <f:selectItem itemLabel="--- Select One ---" itemValue=""/>
                                                <f:selectItem itemLabel="Approve" itemValue="Approved"/>
                                                <f:selectItem itemLabel="Reject" itemValue="Rejected"/>
                                            </p:selectOneMenu> 
                                            <p:message for="drdDecision" display="icon"/>
                                        </div>
                                        <p:outputLabel id="lblApproverRemark" class="col-sm-2" style="text-align: right" value="Comment Given:" rendered="#{ImportShippingInstructController.isRenderDecision}"/>
                                        <div class="col-sm-4">
                                            <p:inputTextarea id="txtApproverRemark" class="form-control" value="#{ImportShippingInstructController.wfMmsProcessed.commentGiven}" 
                                                             rendered="#{ImportShippingInstructController.isRenderDecision}"/>
                                        </div>
                                    </div>
                                </div>
                            </h:panelGroup>
                            <div class="form-horizontal col-sm-12">
                                <div class="form-horizontal col-sm-6">
                                    <div class="form-group textBoxMargin6px">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <p:commandButton id="btnSave" action="#{ImportShippingInstructController.saveImportShippingInstruct()}" icon="ui-icon-check" validateClient="true" 
                                                                 process="@this,ISIpanel,ImportShipMasterPanel1,ImportPanel"  style="float: right" 
                                                                 update="ISIpanel,ImportShipMasterPanel1,ImportPanel" class="btn btn-primary col-sm-4 "
                                                                 value="#{ImportShippingInstructController.saveorUpdateBundle}"/> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>