<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li><a href="employee.xhtml"><i></i> <span>Employee Profile</span></a></li> 
    </ui:define>

    <ui:define name="contents">
        <h:form id="frmTop"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                  
                    <p:commandButton validateClient="true" action="#{hrEmployeeContratController.createNewGatePassInfo()}"
                                     icon="#{hrEmployeeContratController.icone}"  style="background-color: white" 
                                     process="@this,:formContrat" update="@this,:formContrat"
                                     title="#{hrEmployeeContratController.createOrSearchBundle}" />
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>  
                    <span class="ui-separator">
                    </span>
                    <a href="contractRenewal.xhtml"><i class="fa fa-fw fa-refresh"></i></a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical"/>
                    </span>
                    <a href="../../hrms/hrmsDashboard.xhtml"><i class="fa fa-fw fa-dashboard"></i>  </a>
                </f:facet>
            </p:toolbar>
        </h:form>  

        <h:form id="formContrat" >
            <p:growl id="growl" showDetail="true" autoUpdate="true" severity="information, fatal"/>
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlSearch" rendered="#{hrEmployeeContratController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">
                            <div class="box-header with-border">
                                <h3 class="box-title">Search <small>Search Contract Employee...</small></h3>                     
                            </div> 
                            <div class="box-body ">
                                <div class="box-body ">
                                    <div class="col-md-12" >                                        
                                        <div class="col-sm-12">
                                            <div class="col-sm-6" >                                           
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group">
                                                        <h:outputLabel for="txtSrchName" class="control-label col-sm-4" value="Employee Name:"/>                                                          
                                                        <div class="col-sm-6">  
                                                            <p:inputText id="txtSrchName" class="form-control" value="#{hrEmployeeContratController.hrEmployees.firstName}" />                                                                                                                                                    
                                                            <p:message for="txtSrchName" display="icon"/>                                                          
                                                        </div>
                                                    </div>
                                                </div>                                         
                                            </div>
                                        </div>                              
                                    </div>   
                                    <div class="col-md-12" >                                        
                                        <div class="col-sm-12">
                                            <div class="col-sm-6" >                                           
                                                <div class="form-horizontal col-md-12">
                                                    <div class="form-group">
                                                        <h:outputLabel for="txtSrchEmpId" class="control-label col-sm-4" value="Employee Id:"/>                                                          
                                                        <div class="col-sm-6">  
                                                            <p:inputText id="txtSrchEmpId" class="form-control" value="#{hrEmployeeContratController.hrEmployees.empId}"/>                                                                                                                                                    
                                                            <p:message for="txtSrchEmpId" display="icon"/>                                                          
                                                        </div>
                                                    </div>
                                                </div>                                                                                   
                                            </div>                                            
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-sm-6" >
                                                <h:outputLabel class="control-label col-sm-4"/> 
                                                <div class="col-sm-3 ">
                                                    <p:commandButton id="btnSearch" class="btn  btn-block btn-primary col-sm-4"  process="@this,txtSrchName,txtSrchEmpId"                                                                    
                                                                     value="Find" action="#{hrEmployeeContratController.findListByFname_EmpID}"
                                                                     update=":formContrat:growl,:formContrat:tblEmployeesList" icon="ui-icon-search" />

                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>  


                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </h:panelGroup>
            <h:panelGroup style="border: 0px; background-color: transparent" id="pnlDtSearch" rendered="#{hrEmployeeContratController.renderPnlManPage}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary ">                      
                            <div class="box-body ">                                
                                <div class="col-md-12" >  
                                    <div class="col-md-12" style="margn-top: 30px;">
                                        <div class="form-group">
                                            <p:dataTable id="tblEmployeesList"   value="#{hrEmployeeContratController.employeesListDataModel}"
                                                         var="emp" selectionMode="single" rowIndexVar="num"  class="dataTable" 
                                                         selection="#{hrEmployeeContratController.selectedEmp}" rowKey="#{emp.id}" sortBy="#{emp.empId}"
                                                         rows="5" paginator="true" paginatorPosition="bottom" editable="true">
                                                <p:ajax event="rowSelect" process="@this,tblEmployeesList,:formContrat" listener="#{hrEmployeeContratController.selectEmployee}"
                                                        update=":formContrat,:frmTop" />                                                    
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Employee Id"/>                                                        
                                                    </f:facet>
                                                    <h:outputText  value="#{emp.empId}" />
                                                </p:column>
                                                <p:column >
                                                    <f:facet name="header">
                                                        <h:outputText value="Employee Name"/>
                                                    </f:facet>
                                                    <h:outputText value="#{emp.firstName}   #{emp.middleName}   #{emp.lastName}"  />
                                                </p:column>    
                                            </p:dataTable>
                                        </div>
                                    </div>
                                </div>               
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup> 
            <h:panelGroup id="pnlContracts"  style="border: 0px; background-color: transparent" rendered="#{hrEmployeeContratController.renderPnlcont}" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Contract Renewal</h3>
                            </div>
                            <div class="box-body">
                                <div class="box-body">
                                    <section class="panel panel-info">
                                        <section class="panel-body">
                                            <h:panelGroup id="pnlContrat" class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6">

                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">                                                                  
                                                                    <h:outputLabel for="txtempid" class="control-label col-sm-4" value="Employee Id:"/>                                                                        
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txtempid"
                                                                                     value="#{hrEmployeeContratController.employeeId}" readonly="true"/> 

                                                                        <p:message for="txtempid" display="icon" />  
                                                                    </div> 
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">                                                                  
                                                                    <h:outputLabel for="txtfromdate" class="control-label col-sm-4" value="Contract Start Date:"/>                                                                        
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txtfromdate"
                                                                                     value="#{hrEmployeeContratController.hrEmpContracts.fromDate}" readonly="true"
                                                                                     />                                                                                                                                                    
                                                                        <p:message for="txtfromdate" display="icon" />
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">                                                                  
                                                                    <h:outputLabel for="txttodate" class="control-label col-sm-4" value="Contract End Date:"/>                                                                        
                                                                    <div class="col-sm-8">
                                                                        <p:inputText id="txttodate"
                                                                                     value="#{hrEmployeeContratController.hrEmpContracts.toDate}" 
                                                                                     onclick="displayCalendar('formContrat:txttodate', 'formContrat:txttodate');" />                                                                                                                                                    
                                                                        <p:message for="txttodate" display="icon" />
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">                                                                  
                                                                    <h:outputLabel for="txtreason" class="control-label col-sm-4" value="Reason:"/>                                                                        
                                                                    <div class="col-sm-8">
                                                                        <p:inputTextarea id="txtreason"
                                                                                         value="#{hrEmployeeContratController.hrEmpContracts.reason}"    class="form-control"   /> 


                                                                        <p:message for="txtreason" display="icon" />  
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 textBoxMargin6px">
                                                                <div class="form-group form-horizontal">                                                                  
                                                                    <h:outputLabel  class="control-label col-sm-4" />                                                                        
                                                                    <div class="col-sm-3">
                                                                        <p:commandButton id="btnSave" value="save" class="btn  btn-block btn-primary col-lg-4"
                                                                                         actionListener="#{hrEmployeeContratController.saveContractRenewal()}" title="Save/Update"
                                                                                         process="@this,:formContrat:pnlContracts,:formContrat:tblContract"
                                                                                         update=":formContrat:pnlContracts,:formContrat:tblContract,:formContrat:txtreason,:formContrat:txttodate"/>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                                <div class="col-md-12 textBoxMargin6px">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <div class="col-sm-12 textBoxMargin6px">
                                                                <div class="col-md-12 textBoxMargin6px">                                                                      
                                                                    <div class="form-group form-horizontal">  
                                                                        <p:dataTable id="tblContract" value="#{hrEmployeeContratController.hrEmpContractsDataModel}" rowIndexVar="rowIndex" 
                                                                                     class="dataTable" var="contract">  
                                                                            <p:column headerText="No." style="width:100px;">
                                                                                <h:outputText value="#{rowIndex + 1}"/>
                                                                            </p:column>

                                                                            <p:column headerText="Contract Start Date"  >
                                                                                <h:outputText value="#{contract.fromDate}"/>
                                                                            </p:column> 
                                                                            <p:column headerText="Contract End Date">
                                                                                <h:outputText value="#{contract.toDate}"/>
                                                                            </p:column>
                                                                            <p:column headerText="Reason">
                                                                                <h:outputText value="#{contract.reason}"/>
                                                                            </p:column>
                                                                            <p:column headerText="Status">
                                                                                <h:outputText value="#{contract.status}"/>
                                                                            </p:column>
                                                                            <p:column headerText="Action">
                                                                                <p:commandLink value="Renew" action="#{hrEmployeeContratController.editEmpContract()}"
                                                                                               process="@this" update="@this,:formContrat:pnlContrat">  
                                                                                </p:commandLink>
                                                                            </p:column>                    
                                                                        </p:dataTable> 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGroup>
                                        </section>
                                    </section>
                                    <div class="box-body">
                                        <div class="box-body">
                                            <section class="panel panel-info">
                                                <section class="panel-body">

                                                </section></section>
                                        </div>
                                    </div>
                                    <h:panelGroup id="pnlSave" class="col-sm-12">
                                        <div class="panel-body col-sm-12">
                                            <div class="form-group col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="col-sm-12 form-horizontal">
                                                        <div class="col-sm-4">                                                              
                                                        </div>                                                                    


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>   
        </h:form>  
    </ui:define>
</ui:composition>

