<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../../../resources/templates/template.xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="navigaion_content">
        <li>
            <a href="../fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard"></i> <span> Dashboard</span><i class="fa fa-angle-double-left pull-right"></i></a>
        </li>
        <li>
            <a href="../../fcms/Loan/LoanAgreementReg.xhtml"><i class="fa fa-fw fa-circle-o-notch"></i>  Loan Agreement</a>
        </li>         
    </ui:define>
    <ui:define name="contents">
        <h:form id="frmSample"> 
            <p:toolbar style="background-color:white;border-color: white">
                <f:facet name="right">
                    <p:commandButton id="btnIcone" validateClient="true" rendered="#{disbursementRegController.renderNewSrcBtn}"
                                     action="#{disbursementRegController.createNewView()}"
                                     icon="#{disbursementRegController.icone}"  class="toolBarButton" style="background-color: white;border-color: white"
                                     process="@this" update="@(form)" 
                                     title="#{disbursementRegController.createOrSearchBundle}" 
                                     />                
                    <a href="../../fcms/Loan/DisbursementReg.xhtml"><i class="fa fa-fw fa-refresh" title="Refresh"></i>  </a>
                    <span class="ui-separator">
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                    <a href="../../fcms/fcmsDashBoardnew.xhtml"><i class="fa fa-fw fa-dashboard" title="Dashboard"></i>  </a>
                    <span class="ui-separator" >
                        <span class="ui-icon ui-icon-grip-dotted-vertical" />
                    </span>
                </f:facet>
            </p:toolbar>
        </h:form>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary ">
                    <div class="box-header" >
                        <h3 class="box-title"> <h:outputLabel id="lblheadeTitle"  value="#{disbursementRegController.headerTitle}" /></h3> 
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <div class="box-body ">
                            <h:form id="frmMainUI">
                                <h:panelGroup style="border: 0px; background-color: transparent" id="mainUI" rendered="#{disbursementRegController.renderPnlManPage}">
                                    <div class="col-md-12" > 
                                        <h:form id="frmLoanSearch">                                            
                                            <div class="panel-body">
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <p:outputLabel class="control-label col-sm-2" value="Loan No. :"/>                                                        
                                                        <div class="col-sm-4">
                                                            <p:inputText id="cccode" class="form-control" value="#{disbursementRegController.fmsLoan.loanNo}" title="Loancode" 
                                                                         style="width: 100%" validator="#{validatorManagedBean.Remark}" >
                                                            </p:inputText>
                                                        </div>
                                                    </div>                                                                
                                                </div>
                                                <div class="form-horizontal  col-sm-12">
                                                    <div class="form-group"> 
                                                        <div class="col-sm-2">

                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p:commandButton id="btnsearch" class="btn  btn-block btn-primary col-lg-4" action="#{disbursementRegController.loanSearch}"
                                                                             value="Find" process=":frmMainUI" update="@this,:frmMainUI,loanTable"></p:commandButton>
                                                        </div>                                                                
                                                    </div>                                                                
                                                </div>
                                                <div class="col-md-12 " style="padding-top: 20px">
                                                    <p:dataTable id="loanTable" var="loanvar"
                                                                 value="#{disbursementRegController.loanDatamodel}" 
                                                                 selectionMode="single" selection="#{disbursementRegController.selectedLoan}"  
                                                                 rowsPerPageTemplate="5,10,15"
                                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                 rowKey="#{loanvar.loanId}" rows="10" rowIndexVar="num" paginator="true" paginatorPosition="bottom">
                                                        <p:ajax event="rowSelect" listener="#{disbursementRegController.getByLoanNO}" update="@(form)" />
                                                        <p:column headerText="No." style="width: 60px;">
                                                            <h:outputText value="#{num + 1}" />
                                                        </p:column>
                                                        <p:column headerText="Loan No.">
                                                            <h:outputText value="#{loanvar.loanNo}" />
                                                        </p:column>

                                                        <p:column headerText="Lender">
                                                            <h:outputText value="#{loanvar.lender}" />
                                                        </p:column>

                                                        <p:column headerText="Loan Amount">
                                                            <h:outputText value="#{loanvar.loanAmount}" />
                                                        </p:column>

                                                        <p:column headerText="Currency">
                                                            <h:outputText value="#{loanvar.currencyId}" />
                                                        </p:column>

                                                        <p:column headerText="No of Installment">
                                                            <h:outputText value="#{loanvar.noInstallment}" />
                                                        </p:column>
                                                    </p:dataTable>
                                                </div>
                                            </div>
                                        </h:form>
                                    </div>
                                </h:panelGroup>
                            </h:form>
                            <div class="box-body ">
                                <h:form id="frmDisbRep">
                                    <h:panelGroup  style="border: 0px; background-color: transparent"  rendered="#{disbursementRegController.renderPnlCreateGatePass}">
                                        <p:growl id="growl" life="2000" autoUpdate="true" showDetail="true" severity="information,fatal"/>
                                        <p:tabView id="maintab" class="form-group" style="border: white">
                                            <section class="panel panel-info">
                                                <section class="panel-body">
                                                    <p:tab title="Disbursement Schedule" id="tab1">
                                                        <h:form id="frmDisbursement">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblfrmLNo" class="col-sm-5" value="Loan No : "></h:outputText>
                                                                        <h:outputText id="txtfrmLoanNo" value="#{disbursementRegController.fmsLoan.loanNo}"></h:outputText>
                                                                    </div>                                                                    
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblfrmLender" class="col-sm-5" value="Lender : "></h:outputText>
                                                                        <h:outputText id="txtfrmLender" value="#{disbursementRegController.fmsLoan.lender}"></h:outputText>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblfrmLamt" class="col-sm-5" value="Loan Amount : "></h:outputText>
                                                                        <h:outputText id="txtfrmLoanAmt" value="#{disbursementRegController.fmsLoan.loanAmount}"
                                                                                      converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblfrmLoanDate" class="col-sm-5" value="Loan Date : "></h:outputText>
                                                                        <h:outputText id="txtfrmLoanDate" value="#{disbursementRegController.fmsLoan.loanDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                    </div>
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblfrmRSD" class="col-sm-5" value="Repayment Start Date : "></h:outputText>
                                                                        <h:outputText id="txtfrmRSD" value="#{disbursementRegController.fmsLoan.principalRepaymentDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                    </div>
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblfrmFRD" class="col-sm-5" value="Final Repayment Date : "></h:outputText>
                                                                        <h:outputText id="txtfrmFRD" value="#{disbursementRegController.fmsLoan.principalDueDate}" >
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group required col-sm-10">
                                                                <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                    <label id="lblLender" class="col-sm-6 control-label" >Amount :</label>
                                                                    <div class="col-sm-6">
                                                                        <p:inputText id="amount" value="#{disbursementRegController.fmsLoanDisbursement.amount}"
                                                                                     disabled="#{disbursementRegController.readwrite}" validator="#{validatorManagedBean.Double}"
                                                                                     class="form-control" style="width: 100%" required="true" requiredMessage="Value is required.">
                                                                        </p:inputText>
                                                                        <p:message for="amount" display="icon"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >                                        
                                                                    <label for="lblUnitName" class="col-sm-6 control-label" >Interest Rate :</label>
                                                                    <div class="col-sm-6">
                                                                        <p:inputText id="interestR" value="#{disbursementRegController.fmsLoanDisbursement.interestRate}"
                                                                                     disabled="#{disbursementRegController.readwrite}" validator="#{validatorManagedBean.Double}"
                                                                                     class="form-control" style="width: 100%" maxlength="3"
                                                                                     required="true" requiredMessage="Value is required.">
                                                                            <p:ajax id="interestRAjax" event="blur" process="@this" update="@this"/>
                                                                        </p:inputText>
                                                                        <p:message for="interestR" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="form-group required col-sm-10">   
                                                                <div class="form-horizontal col-sm-6" style="padding-bottom: 10px;" >
                                                                    <label for="lblUnitName" class="col-sm-6 control-label" >Disbursement Date :</label>
                                                                    <div class="col-sm-6">                                                                        
                                                                        <p:calendar  id="disburesdate" value="#{disbursementRegController.fmsLoanDisbursement.disbursementDate}"
                                                                                     disabled="#{disbursementRegController.readwrite}" navigator="true" required="true"
                                                                                     requiredMessage="Value is required.">
                                                                        </p:calendar>
                                                                        <p:message for="disburesdate" display="icon"/>
                                                                    </div>
                                                                </div>
                                                            </div>                                
                                                            <div class="form-horizontal col-md-10" >
                                                                <div class="col-sm-12">
                                                                    <div class="col-sm-3">                                                              
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <p:commandButton id="btnAddDisbrs" class="btn  btn-block btn-primary col-lg-4" value="Save" 
                                                                                         process="@this,frmDisbursement" update="@(form)"
                                                                                         action="#{disbursementRegController.amountChecker()}"/>
                                                                    </div> 
                                                                    <div class="col-sm-2">

                                                                    </div>
                                                                    <div class="col-sm-3">                                                              
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal col-md-10" style="padding-bottom: 10px" >
                                                            </div>
                                                            <div class="form-horizontal col-sm-12" >
                                                                <div class="form-group col-sm-12">                                                                        
                                                                    <p:dataTable id="disburesTable" var="disb" value="#{disbursementRegController.disbursedataModel}" 
                                                                                 rows="10" rowIndexVar="num" paginator="true" paginatorPosition="bottom" class="dataTable">
                                                                        <p:column headerText="No." style="width: 60px;">
                                                                            <h:outputText value="#{num+1}" />
                                                                        </p:column>
                                                                        <p:column headerText="Loan No.">
                                                                            <h:outputText value="#{disb.loanId.loanNo}" />
                                                                        </p:column>
                                                                        <p:column headerText="Drawdown">
                                                                            <h:outputText value="#{disb.episode}"/>
                                                                        </p:column>
                                                                        <p:column headerText="Amount" >
                                                                            <h:outputText value="#{disb.amount}" converter="#{disbursementRegController.numberConverter}"/>
                                                                        </p:column>
                                                                        <p:column headerText="Disbursement Date" >
                                                                            <h:outputText value="#{disb.disbursementDate}"> <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                        </p:column>
                                                                        <p:column headerText="Interest Rate" >
                                                                            <h:outputText value="#{disb.interestRate}" />
                                                                        </p:column>
                                                                    </p:dataTable>
                                                                </div>
                                                            </div>
                                                        </h:form>
                                                    </p:tab>
                                                    <p:tab title="Utilisation Report"  id="tab2">
                                                        <h:form id="frmUtilisation">
                                                            <p:growl id="growl" life="2000" autoUpdate="true" showDetail="true" severity="information,fatal"/>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblLNo" class="col-sm-5" value="Loan No : "></h:outputText>
                                                                        <h:outputText id="txtLoanNo" value="#{disbursementRegController.fmsLoan.loanNo}"></h:outputText>
                                                                    </div>                                                                    
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblLender" class="col-sm-5" value="Lender : "></h:outputText>
                                                                        <h:outputText id="txtLender" value="#{disbursementRegController.fmsLoan.lender}"></h:outputText>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblLamt" class="col-sm-5" value="Loan Amount : "></h:outputText>
                                                                        <h:outputText id="txtLoanAmt" value="#{disbursementRegController.fmsLoan.loanAmount}"
                                                                                      converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblutlLoanDate" class="col-sm-5" value="Loan Date : "></h:outputText>
                                                                        <h:outputText id="txtutlLoanDate" value="#{disbursementRegController.fmsLoan.loanDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                    </div>
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblutlRSD" class="col-sm-5" value="Repayment Start Date : "></h:outputText>
                                                                        <h:outputText id="txtutlRSD" value="#{disbursementRegController.fmsLoan.principalRepaymentDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                    </div>
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblutlFRD" class="col-sm-5" value="Final Repayment Date : "></h:outputText>
                                                                        <h:outputText id="txtutlFRD" value="#{disbursementRegController.fmsLoan.principalDueDate}" >
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p:dataTable id="utilisationTable" var="utl" value="#{disbursementRegController.utilisationdataModel}" 
                                                                         rows="10" rowIndexVar="num" editable="true" paginator="true" paginatorPosition="bottom" class="dataTable">
                                                                <p:ajax event="rowEdit" listener="#{disbursementRegController.onCellEdit}" process="@this" update="@this" />
                                                                <p:column headerText="No." style="width: 60px;">
                                                                    <h:outputText value="#{num+1}" />
                                                                </p:column>
                                                                <p:column headerText="Drawdown"  filterBy="#{utl.disbursementFk.episode}" filterMatchMode="contains" >
                                                                    <h:outputText value="#{utl.disbursementFk.episode}"/>
                                                                </p:column>
                                                                <p:column headerText="Schedule Date" filterBy="#{utl.scheduleDate}" filterMatchMode="contains" >
                                                                    <h:outputText  value="#{utl.scheduleDate}"> <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Days" >
                                                                    <h:outputText value="#{utl.days}" />
                                                                </p:column>
                                                                <p:column headerText="Interest Rate" >
                                                                    <h:outputText value="#{utl.disbursementFk.interestRate}" />
                                                                </p:column>                                                               
                                                                <p:column headerText="Libor Rate" >
                                                                    <p:inputTextarea value="#{utl.liborRate}">
                                                                    </p:inputTextarea>
                                                                </p:column>
                                                                <p:column headerText="Margin" >
                                                                    <h:outputText value="#{utl.margin}" />
                                                                </p:column>
                                                                <p:column headerText="Opening Balance" >
                                                                    <h:outputText value="#{utl.openingBalance}" converter="#{disbursementRegController.numberConverter}"/>
                                                                </p:column>
                                                                <p:column headerText="Capital Repayment" >      
                                                                    <h:outputText value="#{utl.capitalRepayment}" converter="#{disbursementRegController.numberConverter}"/>
                                                                </p:column>                                            
                                                                <p:column headerText="Interest Repayment" >
                                                                    <h:outputText value="#{utl.interestRepayment}" converter="#{disbursementRegController.numberConverter}"/>
                                                                </p:column>    
                                                                <p:column headerText="Closing Balance" >
                                                                    <h:outputText value="#{utl.closingBalance}" converter="#{disbursementRegController.numberConverter}"/>
                                                                </p:column>
                                                                <p:column style="width:55px">
                                                                    <p:rowEditor />
                                                                </p:column>
                                                            </p:dataTable>
                                                        </h:form>
                                                    </p:tab>
                                                    <p:tab title="Repayment Schedule"  id="tab3">
                                                        <h:form id="frmRepayment">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptLNo" class="col-sm-5" value="Loan No : "></h:outputText>
                                                                        <h:outputText id="txtrptLoanNo" value="#{disbursementRegController.fmsLoan.loanNo}"></h:outputText>
                                                                    </div>                                                                    
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptLender" class="col-sm-5" value="Lender : "></h:outputText>
                                                                        <h:outputText id="txtrptLender" value="#{disbursementRegController.fmsLoan.lender}"></h:outputText>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptLamt" class="col-sm-5" value="Loan Amount : "></h:outputText>
                                                                        <h:outputText id="txtrptLoanAmt" value="#{disbursementRegController.fmsLoan.loanAmount}"
                                                                                      converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptLoanDate" class="col-sm-5" value="Loan Date : "></h:outputText>
                                                                        <h:outputText id="txtrptLoanDate" value="#{disbursementRegController.fmsLoan.loanDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                                        </h:outputText>
                                                                    </div>
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptRSD" class="col-sm-5" value="Repayment Start Date : "></h:outputText>
                                                                        <h:outputText id="txtrptRSD" value="#{disbursementRegController.fmsLoan.principalRepaymentDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                                        </h:outputText>
                                                                    </div>
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptFRD" class="col-sm-5" value="Final Repayment Date : "></h:outputText>
                                                                        <h:outputText id="txtrptFRD" value="#{disbursementRegController.fmsLoan.principalDueDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                                        </h:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p:dataTable id="repaySummaryTable" var="utl" value="#{disbursementRegController.repaymentdataModel}" 
                                                                         rows="10" rowIndexVar="num" paginator="true" paginatorPosition="bottom" class="dataTable">
                                                                <p:column headerText="No." style="width: 60px;">
                                                                    <h:outputText value="#{num+1}" />
                                                                </p:column>
                                                                <p:column headerText="Schedule Date" filterBy="#{utl.scheduleDate}" filterMatchMode="contains" >
                                                                    <h:outputText  value="#{utl.scheduleDate}"> <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Capital Repayment">
                                                                    <h:outputText  value="#{utl.capitalRepayment}" converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Interest Repayment">
                                                                    <h:outputText  value="#{utl.interestRepayment}" converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Total Payment">
                                                                    <h:outputText  value="#{utl.capitalRepayment + utl.interestRepayment}" converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                </p:column>
                                                            </p:dataTable>
                                                            <div class="form-horizontal col-md-10" style="padding-bottom: 10px" >
                                                            </div>
                                                            <div class="form-horizontal col-md-10" >
                                                                <div class="col-sm-12">
                                                                    <div class="col-sm-3">                                                              
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <p:commandButton id="btnSavePayment" class="btn  btn-block btn-primary col-lg-4" value="Save" 
                                                                                         process="@this,frmRepayment" update="@(form)"
                                                                                         action="#{disbursementRegController.savePaymentSummary()}"/>
                                                                    </div> 
                                                                    <div class="col-sm-2">

                                                                    </div>
                                                                    <div class="col-sm-3">                                                              
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:form>
                                                    </p:tab>
                                                    <p:tab title="Payment Summary"  id="tab4">
                                                        <h:form id="frmPaymentSch">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptLNo" class="col-sm-5" value="Loan No : "></h:outputText>
                                                                        <h:outputText id="txtrptLoanNo" value="#{disbursementRegController.fmsLoan.loanNo}"></h:outputText>
                                                                    </div>                                                                    
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptLender" class="col-sm-5" value="Lender : "></h:outputText>
                                                                        <h:outputText id="txtrptLender" value="#{disbursementRegController.fmsLoan.lender}"></h:outputText>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptLamt" class="col-sm-5" value="Loan Amount : "></h:outputText>
                                                                        <h:outputText id="txtrptLoanAmt" value="#{disbursementRegController.fmsLoan.loanAmount}"
                                                                                      converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptLoanDate" class="col-sm-5" value="Loan Date : "></h:outputText>
                                                                        <h:outputText id="txtrptLoanDate" value="#{disbursementRegController.fmsLoan.loanDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                                        </h:outputText>
                                                                    </div>
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptRSD" class="col-sm-5" value="Repayment Start Date : "></h:outputText>
                                                                        <h:outputText id="txtrptRSD" value="#{disbursementRegController.fmsLoan.principalRepaymentDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                                        </h:outputText>
                                                                    </div>
                                                                    <div class="form-horizontal form-group">
                                                                        <h:outputText id="lblrptFRD" class="col-sm-5" value="Final Repayment Date : "></h:outputText>
                                                                        <h:outputText id="txtrptFRD" value="#{disbursementRegController.fmsLoan.principalDueDate}">
                                                                            <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                                        </h:outputText>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p:dataTable id="paySummaryTable" var="utl" value="#{disbursementRegController.paymentSummaryModel}" 
                                                                         rows="10" rowIndexVar="num" editable="true" paginator="true" paginatorPosition="bottom" class="dataTable"
                                                                         >                                                                
                                                                <p:ajax event="rowEdit" listener="#{disbursementRegController.onPaySummaryCellEdit}" process="@this" update="@this" />
                                                                <p:column headerText="No." style="width: 50px;">
                                                                    <h:outputText value="#{num+1}" />
                                                                </p:column>
                                                                <p:column headerText="Payment Date" filterBy="#{utl.paymentDate}" filterMatchMode="contains" >
                                                                    <h:outputText  value="#{utl.paymentDate}"> <f:convertDateTime  pattern="yyyy/MM/dd" /></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Capital Repayment">
                                                                    <h:outputText  value="#{utl.capitalPayment}" converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Interest Repayment">
                                                                    <h:outputText  value="#{utl.interestPayment}" converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Default Interest Rate">
                                                                    <p:inputTextarea value="#{utl.defaultInterestRate}"/>
                                                                </p:column>
                                                                <p:column headerText="Default Interest Amount">
                                                                    <h:outputText  value="#{utl.defaultInterestAmount}" converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Management Fee">
                                                                    <p:inputTextarea value="#{utl.managementFee}"/>
                                                                </p:column>
                                                                <p:column headerText="Other Payment">                                                                
                                                                    <p:inputTextarea value="#{utl.otherPayment}"/>
                                                                </p:column>
                                                                <p:column headerText="Commitment Fee">                                                                
                                                                    <p:inputTextarea value="#{utl.commitmentFee}"/>
                                                                </p:column>
                                                                <p:column headerText="Total Payment">
                                                                    <h:outputText  value="#{utl.totalPayment}" converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Exchange Rate">
                                                                    <p:inputTextarea value="#{utl.exchangeRate}"/>
                                                                </p:column>
                                                                <p:column headerText="Payment In Birr">
                                                                    <h:outputText  value="#{utl.paymentInBirr}" converter="#{disbursementRegController.numberConverter}"></h:outputText>
                                                                </p:column>
                                                                <p:column headerText="Letter Reference">
                                                                    <p:inputTextarea value="#{utl.letterReference}" 
                                                                                     class="form-control" style="width: 100%" autoResize="false"/>
                                                                </p:column>
                                                                <p:column headerText="Bank Advice" style="width: 150px;">
                                                                    <p:selectOneMenu id="drpBankAdv" style="width: 130px;" value="#{utl.bankAdviceFk}"
                                                                                     valueChangeListener="#{disbursementRegController.bankAdviceSetter}"
                                                                                     filter="true" filterMatchMode="startsWith" converter="entConverter">   
                                                                        <f:selectItem itemLabel="--Select One--" itemValue="" />
                                                                        <f:selectItems var="varBankAdv" value="#{disbursementRegController.getBankDebitAdviceList()}"
                                                                                       itemLabel="#{varBankAdv.tranRef}"/>
                                                                        <p:ajax id="debitDateAjx" process="@this" update="@this,debitDate"></p:ajax>
                                                                    </p:selectOneMenu>
                                                                </p:column> 
                                                                <p:column headerText="Debit Date">                                                                
                                                                    <h:outputText id="debitDate" value="#{utl.bankAdviceFk.debitedDate}">
                                                                        <f:convertDateTime  pattern="yyyy/MM/dd" />
                                                                    </h:outputText>
                                                                </p:column>
                                                                <p:column style="width:55px">
                                                                    <p:rowEditor />
                                                                </p:column>
                                                            </p:dataTable>
                                                        </h:form>
                                                    </p:tab>
                                                </section>
                                            </section>
                                        </p:tabView>
                                    </h:panelGroup>
                                </h:form>
                            </div>    
                        </div>  
                    </div>
                    <div class="box-footer ">                       
                    </div>
                </div>                   
            </div>
        </div>
    </ui:define>
</ui:composition>
